/*重置*/
@charset "utf-8";
*{ margin:0px; padding:0px;}
a{ color: #666; text-decoration:none}
a:hover{color:#e75925;}
table{border-collapse:collapse; border-spacing:0px;}
body{word-wrap:break-word;color: #666;font: 14px/30px "微软雅黑";background: #fff;}
ul,dl,li,i{list-style:none;}
h1,h2,h3,h4,h5{font-weight:normal;}
i,em{font-style:normal;font-weight:normal;list-style:none;}
img{border: none;}

/*sliderBox*/
.slideBox{height:658px; overflow:hidden; position:relative;}
.ny{height: 400px;overflow: hidden;position: relative;}
.slideBox .hd{width:100%; height:15px; overflow:hidden;line-height: 15px; position:absolute; left:0; bottom:20px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; text-align: center;}
.slideBox .hd ul li{cursor:pointer;  display:inline-block; *display:inline;vertical-align:top; width:15px; height:15px;overflow: hidden;
		line-height:15px;margin: 0 10px; text-align:center; background:url(../images/hd.png) no-repeat -35px center; }
.slideBox .hd ul li.on{background:url(../images/hd.png) no-repeat 0 center;}
.slideBox .bd{position: absolute;left: 50%;margin-left: -960px;}
.slideBox .bd img{display:block;  }

/*top*/
.top{width: 100%;height: 114px;background: rgba(78,112,104,0.1) url(../images/topbg.png) no-repeat center top;position: relative;z-index: 11}
.header{width: 1100px;height: 112px;margin: 1px auto 0;position: relative;z-index: 11}
.logo{width: 240px;height: 112px;overflow: hidden;position: relative;display: block;float: left;}
.logo img{position: absolute;top: 0;bottom: 0;max-width: 100%;max-height: 100%;margin: auto 0;}
.navBar{  position:relative; z-index:1; width: 744px;height:42px;overflow: inherit;float: right;margin: 35px 0;}
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.nav{ position:relative;height: 42px;}
.nav li.m{position: relative;width:124px;height: 42px;float: left;}
.nav h3 a{width:100%; text-align:center; color:#222;font-size: 16px;line-height: 42px;height: 42px;overflow: hidden;display: block;position: relative;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;bahavior:url(PIE.htc);}
.nav h3 a:hover{color: #fff;background: #e75925;}
.nav .sub{ display: none;/*默认隐藏*/ position:absolute; left:0px; top:42px; z-index:-1; width:100%;}
.nav .sub li{height: 36px;overflow: hidden;margin-top: 1px;}
.nav .sub li a{color:#fff;font-size: 14px;text-align: center; line-height: 36px;width: 100%;height:36px;overflow: hidden;display:block;background: rgba(231,89,37,0.5); }
.nav .sub li a:hover{color: #ffff00}

/*newest_search*/
.newest_search{width: 1100px;overflow: hidden;margin: 20px auto 0;}
.newest{width: 700px;height: 40px;overflow: hidden;float: left;background: #f1f1f1}
.newest_ti{color: #fff;text-align: center;font-weight: bold;line-height: 40px;width: 96px;height: 40px;overflow: hidden;background: #e75925;float: left;}
.txtMarquee-left{ width:594px;height: 40px;overflow: hidden;float: left;  position:relative;padding-left: 10px;}
.txtMarquee-left .bd{ }
.txtMarquee-left .bd .tempWrap{ width:450px !important; }/* 用 !important覆盖SuperSlide自动生成的宽度，这样就可以手动控制可视宽度。 */
.txtMarquee-left .bd ul{ overflow:hidden; zoom:1; }
.txtMarquee-left .bd ul li{ margin-right:20px;  float:left;width: 400px; height:40px; line-height:40px;  text-align:left;/* _display:inline; width:auto !important; */ }
.txtMarquee-left .hd{width: 48px; height:10px;overflow:hidden; position: absolute;right: 0;top: 50%;margin-top: -5px;}
.txtMarquee-left .hd .prev,.txtMarquee-left .hd .next{ display:block;  width:9px; height:10px;overflow:hidden;cursor:pointer; background-image:url(../images/pn.png);position: absolute;}
.txtMarquee-left .hd .prev{background-position: 0 center;left: 10px}
.txtMarquee-left .hd .next{background-position: -9px center;right: 10px}
.txtMarquee-left .hd .prev:hover,.txtMarquee-left .hd .next:hover{background-image: url(../images/pnh.png);}
form.search{width: 360px;height: 40px;overflow: hidden;float: right;}
form.search input.text{width: 306px;height: 38px;overflow: hidden;color: #999;line-height: 38px;padding-left: 12px;float: left;border: 1px solid #e2e2e2;background: none;}
form.search input.submit{width: 40px;height: 40px;overflow: hidden;background: #e75925 url(../images/submit.png) no-repeat;border: 0;float: left;cursor: pointer;}

/*about*/
.about{width: 1100px;height: auto;overflow: hidden;margin: 0 auto 40px}
.title{color: #e75925;font-size: 30px;font-weight: bold;text-align: center;line-height: 54px;width: 100%;height: 54px;overflow: hidden;position: relative;margin: 27px 0 40px;}
.title a{width: 100%;height: 100%;overflow: hidden;display: block;color: #e75925;font-size: 30px;font-weight: bold;text-align: center;line-height: 54px;}
.title:before{content: "";width: 68px;height: 3px;overflow: hidden;background: #e75925;position: absolute;left: 50%;margin-left: -34px;bottom: 0;}
.about_l{width: 530px;height: auto;overflow: hidden;float: left;}
.about_l h3{color: #666;font-size: 22px;font-weight: bold;line-height: 22px;height: 22px;overflow: hidden;margin-bottom: 8px;}
.aboedit{line-height: 36px;height: 288px;overflow: hidden;}
.more{width: 147px;height: 40px;overflow: hidden;display: block;background: #4e7068;color: #fff;font-size: 18px;text-align: center;font-weight: bold;line-height: 40px;margin-top: 20px;}
.more:hover{color: #fff;background: #e75925}
.video{width: 530px;height: 378px;overflow: hidden;float: right;}
.video img{display: block;}

/*probg*/
.probg{width: 100%;height: auto;overflow: hidden;background: #f3f3f3;}
.prod{width: 1100px;height: 546px;overflow: hidden;margin: 40px auto;}
.prod .hd{width: 242px;height: 546px;overflow: hidden;float: left;}
.prod .hd .hdtitle{width: 100%;height: 77px;overflow: hidden;color: #fff;font-size: 30px;text-indent: 20px;font-weight: bold;line-height: 77px;background: #e75925;}
.prod .hd ul{width: 100%;height: auto;overflow: hidden;}
.prod .hd ul li{width: 100%;height: 66px;overflow: hidden;border-top: 1px solid #e2e2e2;}
.prod .hd ul li a{width: 202px;height: 66px;overflow: hidden;display: block;padding: 0 20px;background: #f1f1f1}
.biaoti{font-size: 16px;font-weight: bold;line-height: 30px;height: 30px;overflow: hidden;margin-top: 6px;}
.prod .hd ul li a p{color: #999;line-height: 20px;height: 20px;overflow: hidden;margin-bottom: 10px;}
.prod .hd ul li a:hover{color: #fff;background: #4e7068}
.prod .hd ul li a:hover .biaoti{text-decoration: underline;}
.prod .hd ul li a:hover p{color: #fff}

.prod .bd{width: 818px;height: 546px;overflow: hidden;float: right;}
.prod .bd ul{width: 100%;height: 546px;overflow: hidden;}
.prod .bd ul li{width: 100%;height: 546px;overflow: hidden;}
.prod .bd ul li dl{width: 858px;height: auto;overflow: hidden;}
.prod .bd ul li dl dd{width: 246px;height: auto;overflow: hidden;float: left;margin-bottom: 22px;margin-right: 40px;}
.prod .bd ul li dl dd a{width: 100%;height: 262px;overflow: hidden;display: block;position: relative;}
.prod .bd ul li dl dd a>img{max-width: 246px;max-height: 236px;overflow: hidden;display: block;margin: 0 auto;}
.prod .bd ul li dl dd a p{color: #666;font-size: 14px;line-height: 14px;text-align: center;height: 14px;overflow: hidden;margin-top: 12px;}
.hover{width: 246px;height: 262px;overflow: hidden;background: #4e7068 url(../images/hoverbg.png) no-repeat center;position: absolute;left: 0;top: 0;display: none;}
.hover img{width: 100px;height: 98px;overflow: hidden;display: block;margin: 62px auto 0}
.hover em{color: #fff;font-size: 14px;text-align: center;line-height: 43px;height: 43px;overflow: hidden;display: block;}
.prod .bd ul li dl dd a:hover .hover{display: block;}

/*indexnews*/
.indexnews{width: 1100px;height: auto;overflow: hidden;margin: 0 auto;}
.textImg{width: 100%;height: auto;overflow: hidden;background: #f3f3f3;margin-bottom: 30px;}
.Img{width: 272px;height: 260px;overflow: hidden;float: left;}
.Img img{max-width: 100%;max-height: 100%;overflow: hidden;display: block;margin: 0 auto;}
.textr{width: 742px;height: auto;overflow: hidden;float: right;margin-right: 46px;}
.textr h5 a{color: #666;font-size: 16px;font-weight: bold;line-height: 28px;height: 28px;overflow: hidden;display: block;margin-top: 30px;}
.textr h5 a:hover{color: #e75925}
.textr span{font-size: 12px;text-indent: 18px;line-height: 30px;height: 30px;overflow: hidden;display: block;background: url(../images/span_08.png) no-repeat left center;}
.textr p{height: 90px;overflow: hidden;}
.textr .look{margin: 5px 0 35px;}
.newslist{width: 1140px;height: auto;overflow: hidden;margin-bottom: 40px;}
.newslist li{width: 340px;height: auto;overflow: hidden;float: left;margin-right: 40px;}
.date{width: 50px;height: 57px;overflow: hidden;float: left;color: #666;text-align: center;font-size: 12px;}
.date b{color: #666;font-size: 40px;line-height: 32px;height: 32px;overflow: hidden;display: block;}
.date em{color: #666;font-size: 12px;line-height: 25px;height: 25px;overflow: hidden;display: block;}
.newsr{width: 280px;height: auto;overflow: hidden;float: right;}
.newsr h5 a{color: #666;font-size: 16px;font-weight: bold;line-height: 47px;height: 47px;overflow: hidden;display: block;border-bottom: 1px solid #999}
.newsr h5 a:hover{color: #e75925}
.newsr p{color: #999;height: 120px;overflow: hidden;margin: 8px 0}
.look{width: 112px;height: 37px;overflow: hidden;display: block;color: #fff;font-size: 14px;line-height: 37px;text-align: center;background: #4e7068}
.look:hover{color: #fff;background: #e75925}

/*teambg*/
.teambg{width: 100%;background: #f3f3f3;}
.team{width: 1100px;height: 625px;overflow: hidden;margin: 0 auto;}
.teamlist{width: 1140px;height: 504px;overflow: hidden;}
.teamlist li{width: 530px;height: 212px;overflow: hidden;float: left;background: #69285e;margin-right: 40px;margin-bottom: 40px;}
.teamlist li:nth-child(2){background: #2f6baa}
.teamlist li:nth-child(3){background: #3d8e41}
.teamlist li:nth-child(4){background: #ba165b}
.teamimg{width: 220px;height: 212px;overflow: hidden;float: left;}
.teamimg img{max-width: 100%;max-height: 100%;overflow: hidden;display: block;margin: 0 auto;}
.teamr{width: 270px;height: 212px;overflow: hidden;margin-right: 20px;float: right;color: #fff;}
.teamr h5 a{color: #fff;font-size: 18px;font-weight: bold;line-height: 30px;height: 30px;overflow: hidden;display: block;margin-top: 14px;}
.teamr span{font-weight: bold;line-height: 26px;height: 26px;overflow: hidden;display: block;margin: 5px 0 2px}
.teamr p{height: 120px;overflow: hidden;margin-bottom: 15px;}

/*linkbg*/
.linkbg{width: 100%;height: 36px;overflow: hidden;background: #e75925;}
.link{width: 1100px;height: 36px;overflow: hidden;margin: 0 auto;color: #ffe5db;font-size: 12px;line-height: 36px;}
.link a{color: #ffe5db;margin: 0 7px;display: inline-block;}

/*tail*/
.tailbg{background: #4e7068;border-bottom: 1px solid #46635c;}
.tail{width: 1100px;line-height: 24px;height: auto;overflow: hidden;margin: 0 auto;color: #d8f0ea;}
.second_nav{width: 770px;height: auto;overflow: hidden;float: left;margin: 14px 0}
.second_nav ul li{width: 76px;height: auto;overflow: hidden;float: left;margin-right: 76px;}
.second_nav ul li>a{color: #d8f0ea;font-size: 14px;font-weight: bold;line-height: 28px;height: 28px;overflow: hidden;display: block;}
.second_nav ul li>dl>dd>a{color: #d8f0ea;font-size: 12px;line-height: 26px;height: 26px;overflow: hidden;display: block;}
.second_nav ul li>dl>dd>a:hover{color: #fff;text-decoration: underline;}
.tailr{max-width: 330px;height: auto;overflow: hidden;float: right;text-align: right;}
.tel{color: #d8f0ea;font-size: 14px;height: 32px;margin-top: 15px;}
.tel span{font-size: 30px;font-weight: bold;line-height: 32px;height: 32px;overflow: hidden;}
.wx{width: 145px;height: auto;overflow: hidden;float: right;margin-bottom: 16px;}
.wx img{max-width: 112px;max-height: 112px;overflow: hidden;display: block;border: 4px solid #fff;margin: 16px 0 13px 25px}
.wx p{color: #d8f0ea;font-size: 12px;line-height: 26px;height: 26px;overflow: hidden;}

/*footerbg*/
.footerbg{width: 100%;background: #4e7068;border-top: 1px solid #577d74}
.footer{width: 1100px;height: auto;overflow: hidden;margin: 0 auto;color: #d8f0ea;font-size: 12px;text-align: center;line-height: 26px;padding: 5px 0}
.footer a{color: #d8f0ea}
.footer a:hover{color: #fff}
.footer_l{width: 50%;height: auto;overflow: hidden;float: left;}
.footer_r{width: 50%;height: auto;overflow: hidden;float: right;text-align: right;}
/*首页结束*/

/*content*/
.content{width: 1100px;height: auto;overflow: hidden;margin: 40px auto;}
.left{width: 242px;height: auto;overflow: hidden;float: left;}
.leftitle{width: 100%;height: 77px;overflow: hidden;color: #fff;font-size: 30px;font-weight: bold;text-indent: 20px;line-height: 77px;background: #e75925;}
.navigation{width: 100%;height: auto;overflow: hidden;background: #f1f1f1}
.navigation>ul{width: 100%;height: auto;overflow: hidden;}
.navigation>ul>li{width:100%;height: auto;overflow: hidden;border-top: 1px solid #e2e2e2;}
.navigation>ul>li>a{color: #666;font-size: 16px;font-weight: bold;text-indent: 20px;line-height: 46px;height: 46px;overflow: hidden;display: block;}
.navigation>ul>li>a:hover,.navigation li a.cu{color: #fff;background: #4e7068;}
.navigation>ul>li.current>a{color: #fff;background: #4e7068;}
.navigation>ul>li>dl{display: none;margin: 7px 0 8px;}
.navigation>ul>li>dl>dd>a{color: #666;font-size: 14px;font-weight: bold;line-height: 30px;text-indent: 20px;height: 30px;overflow: hidden;display: block;}
.navigation>ul>li>dl>dd>a:hover,.navigation li a.cu1{color: #e75925}
.navigation>ul>li>dl>dd.current>a{color: #e75925}
.navigation>ul>li>dl>dd>dl{display: none;}
.navigation>ul>li>dl>dd>dl>dt>a{color: #999;font-size: 14px;line-height: 30px;text-indent: 20px;height: 30px;overflow: hidden;display: block;}
.navigation>ul>li>dl>dd>dl>dt>a:hover,.navigation li a.cu2{color: #e75925}
.navigation>ul>li>dl>dd>dl>dt.current>a{color: #e75925}

.right{width: 818px;height: auto;overflow: hidden;float: right;}
.local{color: #e75925;font-size: 18px;font-weight: bold;line-height: 58px;width: 100%;height: 58px;overflow: hidden;border-bottom: 1px solid #e2e2e2;margin-top: 17px;position: relative;}
.local span{font-size: 30px;line-height: 30px;height: 30px;overflow: hidden;float: left;margin: 8px 7px 20px 0}
.local:before{content: "";width: 136px;height: 3px;overflow: hidden;background: #e75925;position: absolute;left: 0;bottom: 0;}
.local i{color: #999;font-size: 14px;line-height: 58px;max-width: 560px;height: 58px;overflow: hidden;float: right;background: url(../images/i_03.png) no-repeat left center;padding-left: 17px;}
.local i a{color: #999;font-size: 14px}
.local i a:hover{color: #e75925}
.info{margin-top: 20px;height: auto;overflow: hidden;}
.page{color: #666;font-size: 14px;line-height: 36px;height: auto;overflow: hidden;}

/*news*/
.news ul{width: 100%;height: auto;overflow: hidden;}
.news ul li{width: 100%;height: auto;overflow: hidden;margin-bottom: 40px;}
/*.date{width: 50px;height: 57px;overflow: hidden;float: left;color: #666;text-align: center;font-size: 12px;}
.date b{color: #666;font-size: 40px;line-height: 32px;height: 32px;overflow: hidden;display: block;}
.date em{color: #666;font-size: 12px;line-height: 25px;height: 25px;overflow: hidden;display: block;}*/
.news ul li .newsr{width: 757px;height: auto;overflow: hidden;float: right;}
.news ul li .newsr h5 a{color: #666;font-size: 16px;font-weight: bold;line-height: 47px;height: 47px;overflow: hidden;display: block;border-bottom: 1px solid #999}
.news ul li .newsr h5 a:hover{color: #e75925}
.news ul li .newsr p{color: #999;height: 90px;overflow: hidden;margin: 8px 0}
.pagenum{color: #999;line-height: 26px;text-align:center;width: 100%;height: 28px;overflow: hidden;/*margin-top: 35px;*/}
.pagenum a{color: #999;font-size: 14px;line-height: 24px;overflow: hidden;padding:3px 7px;margin: 0 3px}
.pagenum a:hover,.pagenum a.on{color: #fff;background: #e75925;}

/*newsing*/
.newsing{height: auto;overflow: hidden;}
.newsing ul{width: 100%;height: auto;overflow: hidden;}
.newsing ul li{width: 100%;height: auto;overflow: hidden;margin-bottom: 40px;background: #f3f3f3}
.newsing ul li .textr{width: 462px}

/*news_det*/
.news_det{height: auto;overflow: hidden;}
.news_det h5.te{color: #666;font-size: 16px;line-height: 30px;font-weight: bold;width: 100%;max-height: 120px;overflow: hidden;}
.news_det .message{color: #666;font-size: 12px;text-indent: 18px;line-height: 30px;width: 100%;height: 30px;overflow: hidden;background: url(../images/span_08.png) no-repeat left center;}
.news_det .news_det_edit{color: #666;line-height: 30px;height: auto;overflow: hidden;padding-top: 7px;border-top: 1px dashed #e2e2e2;margin-top: 6px;}
.bbs{width: 100%;height: 30px;overflow: hidden;margin-top: 30px;border-bottom: 1px dashed #e2e2e2;}
.jiathis_style{float: right;}
.bbs .aaa{float: right !important;display: inline;}
.other{padding-top: 20px;height: 70px;overflow: hidden;color: #666;}
.other a{color: #666;font-size: 14px;line-height: 30px;height: 30px;overflow: hidden;display: block;margin-bottom: 10px;}
.other a span{width: 70px;height: 30px;overflow: hidden;color: #fff;font-size: 14px;line-height: 30px;text-align: center;float: left;background: #e75925;margin-right: 10px;}
.other a:hover{color:#e75925;}

/*pro*/
.pro ul{width: 858px;height: auto;overflow: hidden;}
.pro ul li{width: 246px;height: auto;overflow: hidden;float: left;margin-bottom: 22px;margin-right: 40px;}
.pro ul li a{width: 100%;height: 262px;overflow: hidden;display: block;position: relative;}
.pro ul li a>img{max-width: 246px;max-height: 236px;overflow: hidden;display: block;margin: 0 auto;}
.pro ul li a p{color: #666;font-size: 14px;line-height: 14px;text-align: center;height: 14px;overflow: hidden;margin-top: 12px;}
/*.hover{width: 246px;height: 262px;overflow: hidden;background: #4e7068 url(../images/hoverbg.png) no-repeat center;position: absolute;left: 0;top: 0;display: none;}
.hover img{width: 100px;height: 98px;overflow: hidden;display: block;margin: 62px auto 0}
.hover em{color: #fff;font-size: 14px;text-align: center;line-height: 43px;height: 43px;overflow: hidden;display: block;}*/
.pro ul li a:hover .hover{display: block;}
.pro .pagenum{margin-top: 18px;}

/*pro_det*/
.pro_det{height: auto;overflow: hidden;}
.focusBox { position: relative; width:657px; height:auto; overflow: hidden;margin: 10px auto;}
.focusBox .tempWrap{width: 488px !important;margin: 0 auto}
.focusBox ul{width: 488px;height: auto;overflow: hidden;margin: 0 auto !important;}
.focusBox ul li{width: 488px;height: auto;overflow: hidden;margin: 0 auto}
.focusBox ul li img { max-width:100%;height: auto;overflow: hidden; display: block;margin: 0 auto}
.focusBox .prev,.focusBox .next { width:25px; height:42px; position:absolute; top:50%;margin-top: -21px; z-index:3;}
.focusBox .prev { background-image:url(../images/prev_next.png); background-position:0 0; left:0 }
.focusBox .next { background-image:url(../images/prev_next.png); background-position:-25px 0; right:0 }
.pro_det_edit{color: #666;font-size: 14px;line-height: 36px;height: auto;overflow: hidden;}
.pro_det .img{display: block;margin: 0 auto}

/*sear*/
.searc{color: #e75925;font-size: 16px;font-weight: bold;;;text-align: center;height: 30px;overflow: hidden;margin: 3px 0 8px;}
.sear ul li{width: 100%;height: 46px;overflow: hidden;border-bottom: 1px dashed #e2e2e2}
.sear ul li a{color: #666;font-size: 14px;font-weight: bold;line-height: 46px;height: 46px;overflow: hidden;display: block;}
.sear ul li span{float: right;height: 46px;overflow: hidden;font-size: 12px;text-indent: 18px;;font-weight: normal;background: url(../images/span_08.png) no-repeat left center;}
.sear ul li a:hover{color: #e75925;}
.sear .pagenum{margin-top: 40px;}