
        <div class="heaer">
          <div class="logo">
            <img src="{$logo}" width="100%"></div>
        </div>
        <div class="menu">
          <div class="nav">
            <div class="menu_hr"></div>
            <div class="swiper-nav swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide clearfix">
                  <a href="{$site_url}">
                    <div class="news_cirl">
                      <div class="news_cirl1"></div>
                    </div>
                    <div class="menu_text">
                      网站首页
                      <span>HOME</span>
                    </div>
                  </a>
                </div>
                {foreach item=nav_list from=$navs}
                {* 仅输出类型为 5内容单页 和 外链的栏目（包括5留言板、7微信、8直达号功能） *}
                <div class="swiper-slide">
                  <a href="{$nav_list.link}">
                    <div class="news_cirl">
                      <div class="news_cirl1"></div>
                    </div>
                    <div class="menu_text">
                      {$nav_list.name}
                      <span>{$nav_list.en_name}</span>
                    </div>
                  </a>
                </div>
                {/foreach}
              </div>
            </div>
          </div>
        </div>