{if $pagenavs}
<h3>{$posnavs[0].en_name}</h3>
<h4>{$posnavs[0].name}</h4>
<div class="inner_nav">
	<ul class="mtree transit">
	{foreach name=pagenavs item=nav from=$pagenavs}
	  <li ><a href="{$nav.link}" class="firstli">{$nav.name}</a>
	  {if $nav.childmenu}
	    <ul>
	    {foreach item=nav_list from=$nav.childmenu}
	      <li><a href="{$nav_list.link}">{$nav_list.name}</a>
	      	{if $nav_list.childmenu}
	      	<ul>
	      		{foreach item=nav1_list from=$nav_list.childmenu}
	      		<li><a href="{$nav1_list.link}">{$nav1_list.name}</a></li>
	      		{/foreach}
	      	</ul>
	      	{/if}
	      </li>
	     {/foreach}
	    </ul>
	   {/if}
	  </li>
	{/foreach}
	</ul>
</div>
{else}
<h3>{$_pagenavs_sub3.pagenavs.en_name}</h3>
<h4>{$_pagenavs_sub3.pagenavs.name}</h4>
<div class="inner_nav">
	<ul class="mtree transit">
	{foreach name=pagenavs item=nav from=$_pagenavs_sub3.pagenavs.childmenu}
	  <li ><a href="{$nav.link}" class="firstli">{$nav.name}</a>
	  {if $nav.childmenu}
	    <ul>
	    {foreach item=nav_list from=$nav.childmenu}
	      <li><a href="{$nav_list.link}">{$nav_list.name}</a>
	      	{if $nav_list.childmenu}
	      	<ul>
	      		{foreach item=nav1_list from=$nav_list.childmenu}
	      		<li><a href="{$nav1_list.link}">{$nav1_list.name}</a></li>
	      		{/foreach}
	      	</ul>
	      	{/if}
	      </li>
	     {/foreach}
	    </ul>
	   {/if}
	  </li>
	{/foreach}
	</ul>
</div>
{/if}