<!DOCTYPE>
<html>
<head>
<script type="text/javascript">
    // 跳转手机页面
    {if $site_another_url}
        if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
            location.href = '{$site_another_url}';
        }
    {/if}
</script>

<meta name="keywords" content="{$keywords}"/>
<meta name="description" content="{$description}"/>
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<meta http-equiv="x-ua-compatible" content="ie=Edge"/>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<title>{$title}</title>
<link type="text/css" rel="stylesheet" href="{$site_url}css/animate.min.css">
<link href="{$site_url}css/reset.css" rel="stylesheet" type="text/css"/>
<link href="{$site_url}css/style.css" rel="stylesheet" type="text/css"/>
<script src="{$site_url}js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="{$site_url}js/ZoomPic.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
{$headscript}
</head>

<body>

{include file='./_header.html'}

<div class="about_us">
	<div class="public">
		<div class="title">
			<h3>{$index.about_us.en_name}</h3>
			<a href="{$index.about_us.link}"><span>{$index.about_us.name}</span></a>
		</div>
		<div class="about_main clearfix">
			<div class="blue"></div>
			<div class="img_div">
				<a href="{$index.about_us.link}"><img src="{$index.about_us.image}"></a>
			</div>
			<div class="text_div">
				<p>{$index.about_us.description}</p>
				<a href="{$index.about_us.link}" class="more">MORE+</a>
			</div>
		</div>
	</div>
</div>

<div class="product">
	<div class="public">
	<div class="title">
		<h3>{$index.pro.en_name}</h3>
		<a href="{$index.pro.link}"><span>{$index.pro.name}</span></a>
	</div>
	<div class="slideTxtBox clearfix">
		<div class="hd">
			<ul>
			{foreach name=pro item=pro from=$index.pro.childmenu}
				<li>{$pro.name}</li>
			{if $pro@index eq 7}{break}{/if}
			{/foreach}
			</ul>
		</div>
		<div class="bd">
		{foreach name=pro item=pro from=$index.pro.childmenu}
			<div class="tab">
				<ul>
				{foreach name=pro1 item=pro1 from=$pro.data}
					<li>
						<div class="img_div">
							<a href="{$pro1.link}"><img src="{$pro1.image}"></a>
						</div>
						<a href="{$pro1.link}"><p>{$pro1.title}</p></a>
					</li>
					{if $pro1@index eq 5}{break}{/if}
				{/foreach}
				</ul>	
			</div>
		{/foreach}
		</div>
	</div>
	</div>
</div>

<div class="solution">
	<div class="public">
		<div class="title">
			<h3>{$index.solution.en_name}</h3>
			<a href="{$index.solution.link}"><span>{$index.solution.name}</span></a>
		</div>
		<div class="blue_bor"></div>
		<div id="focus_Box">
			<div class="btns">
				<span class="prev">&nbsp;</span>
				<span class="next">&nbsp;</span>
			</div>
			<ul>
			{foreach item=solu from=$index.solution.data}
				<li>
					<a href="{$solu.link}"><img src="{$solu.image}" /></a>
					<div class="text_div" id="text_div">
						<span class="kz" data-limit="12">{$solu.title}</span>
						<p class="kz" data-limit="90">{$solu.description}</p>
						<a href="{$solu.link}">MORE+</a>
					</div>
				</li>
			{/foreach}
			</ul>
		</div>
	</div>
</div>

<div class="news public">
	<div class="title">
		<h3>{$index.news.en_name}</h3>
		<a href="{$index.news.link}"><span>{$index.news.name}</span></a>
	</div>
	<div class="news_main">
		<div class="news_l">
			<div class="img_div">
				<a href="{$index.news.data[0].link}"><img src="{$index.news.data[0].image}"></a>
			</div>
			<div class="text_div">
				<a href="{$index.news.data[0].link}"><h3 class="kz" data-limit="30">{$index.news.data[0].title}</h3></a>
				<span class="kz" data-limit="60">{$index.news.data[0].description}</span>
				<a href="{$index.news.data[0].link}">[详细]</a>
			</div>
		</div>
		<div class="news_r">
		{foreach item=news from=$index.news.data}
      	{if $news@index gt 0}
			<div class="news_tab">
				<div class="news_tit">
					<h6>{$news.pubtimestamp|date_format:'%Y-%m-%d'}</h6>
					<a href="{$news.link}"><h4 class="kz" data-limit="28">{$news.title}</h4></a>
				</div>
				<div class="text_div">
					<span class="kz" data-limit="96">{$news.description}</span>
					<a href="{$news.link}">[详细]</a>
				</div>
			</div>
		{if $news@index eq 2}{break}{/if}
		{/if}
    	{/foreach} 
		</div>
	</div>
</div>

{include file='./_footer.html'}


</body>
</html>