<div id="header" class=" clearfix">
<div class="header_inner wrapper clearfix">
<div class="logo"><a href="{$site_url}"><img src="{$site_url}images/logo.png"/></a></div>

<div class="header_rt">
<div class="search clearfix" ><form action="{$search_action}" method="GET">
  <input type="text" name="s" value="" class="search_area" />
  <input type="submit" class="search_btn"  value="搜索"/>
</form></div>

<div id="nav" >
 <ul class="clearfix">
            {$limit = 7}
            {if $navs|count lt $limit}{$limit = $navs|count}{/if}
           
            {foreach name=navs item=nav from=$navs}
            <li class="fl{if $nav.current} current{/if} aa" style="width:{100/($limit+1)}%">
                <a href="{$nav.link}">{$nav.name}</a>
                <ul class="sub clearfix">
                    {if $nav.childmenu} {foreach key=key item=nav_list from=$nav.childmenu}
                    <li class="{if $nav.current}current{/if} cc"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
                    {/foreach} {/if}
                </ul>
            </li>
            {if $nav@index+1 eq $limit}{break}{/if}
            {/foreach}
        </ul>
 
 </div>
</div>

</div>



 
 
 
 
</div>

<div class="bj">
<div class="banner_bg"><img src="{$site_url}images/container_bg.png" width="100%" height="195" /></div>
<div id="banner" class="wrapper">
<div id="kinMaxShow" style="display:none;"> 
{foreach name=slidepics item=slidepic from=$global.slidepics}
      <div> <a href="{$slidepic.link}" target="_blank"><img src="{$slidepic.image}" alt="{$slidepic.title}"  /></a></div>
      {/foreach} </div>   
 </div>
</div>
 
 
 



