<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Document</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/animation.css">
	<!--[if lt IE 9]>
		<script src="js/html5.js"></script>
	<![endif]-->
</head>
<body id="about">
<div class="w_p p_r">
 <header class="w">
 	<div class="head">
	 	<a href="" class="logo">
		 	<img src="images/l_05.png" max-height="114" max-width="353" alt="">
	 	</a>
	 	<nav class="menu f_r">
	 		<ul id="nav" class="nav clearfix">
			   
			    <li class="nLi">
					<h3><a href="#">关于我们</a></h3>
					
			    </li>
			    <li class="nLi">
					<h3><a href="#">新闻资讯 </a></h3>
					<ul class="sub">
						<li><a href="#">制砂机</a></li>
						<li><a href="#">圆锥破碎机</a></li>
						<li><a href="#">PCL制砂机</a></li>
						<li><a href="#">复合圆锥破</a></li>
						<li><a href="#">多缸液压圆锥破</a></li>
						<li><a href="# ">圆锥破移动站</a></li>
					</ul>
			    </li>
			    <li class="nLi">
					<h3><a href="#">产品展示</a></h3>
					
			    </li>
			    <li class="nLi">
					<h3><a href="#">工程案例</a></h3>
					
			    </li>
			    <li class="nLi">
					<h3><a href="#">联系我们</a></h3>
					
			    </li>
			   
			                                                   
		    </ul>
	 	</nav>
 	</div>
 </header>
 <div class="banner">
       <div class="focusBox">
			<ul class="pic">
					<li><a href="##" ><img src="images/ban_26.jpg" height="454" width="1000"/></a></li>
					<li><a href="##" ><img src="images/ban_26.jpg" height="454" width="1000"/></a></li>
					<li><a href="##" ><img src="images/ban_26.jpg" height="454" width="1000"/></a></li>
			</ul>
			<a class="prev" href="javascript:void(0)"></a>
			<a class="next" href="javascript:void(0)"></a>
	    </div>

	    </div>
	    <div class="tq w"><div class="tl">TEL: <span> 0592-3503377</span></div>
	    <form action="" class="f_r">
  	   	   <input type="text" placeholder="请输入搜索关键词" class="input_case" name="s">
           <input type="submit" value="" class="input_key">
  	   </form>
  	   <div class="q"><a href=""></a><a href=""></a><a href=""></a></div> </div>
	   
 <div class="about_contant w">
    	<div class="about_left f_l">

	    		<h3 class="about_t">关于我们</h3>
	            <ul class="aboutNav">
				        <li><a href="">一级分类</a></li>
				        <li><a href="" class="cu">一级分类</a>
				           
				        </li>
				        <li><a href="">一级分类</a>
				            <ul>
				                <li><a href="" class="cu1">二级分类</a>
				                    <dl>
										<dd><a href="">三级分类</a></dd>
										<dd><a href="">三级分类</a></dd>
										<dd><a href="">三级分类</a></dd>
										<dd><a href="">三级分类</a></dd>
										<dd><a href="" class="cu2">三级分类</a></dd>
				                    </dl>
				                </li>
				                <li><a href="">二级分类</a>
				                   
				                </li>
				                <li><a href="">二级分类</a>
				                   
				                </li>
				            </ul>
				        </li>
			        </ul>


    	</div>
    	<div class="about_right f_r">
    		<h3 class="tti"><i class="f_l">当前位置：<a href="">首页</a>-<a href="">关于我们</a>-公司简介</i></h3>
    		<div class="info ab">
				    厦门易尔通网络科技有限公司2005年，厦门易尔通网络科技有限公司被百度授权建立了厦门地区“百度客户销售服务中心”，该服务中心为厦门地区的百度客户提供专业的服务。
				    2007年11月，百度正式授权易尔通为福建漳州、龙岩、莆田地区核心代理。2009年，易尔通网络科技有限公司拿到了泉州地区的代理权，至此，易尔通的服务已经覆盖整个闽南地区，成为百度闽南营销服务中心。
				    目前我们的客户服务中心为厦门、泉州、漳州、龙岩、莆田及周边地区的百度客户在“咨询服务”、“开户服务”、“关键字管理”到“效果跟踪报告”方面提供服务。让客户充分体验产品加上专业的服务才能在网络推广中获得效益。
				    同时根据厦门、漳州、龙岩、莆田地区客户对服务更高质量的要求易尔通客户服务中心再推出“网站建设服务”、“网站优化服务”、“关键字效果分析服务”到“企业网络推广综合报告服务 ”一系列专业服务 ，保证让客户能从网络上获得最佳产品、品牌推广效果，让大量客户从网络中带来了前所未有的经济效益。
				    易尔通于2005年成立专业网络营销顾问小组，由一批专业网络营销人员组成，我们凭借对互联网的深刻理解和丰富行业推广经验，深入研究各类企业实际，提供一整套专业而高效的网络营销方案；定期免费为广大大中型企业举办“网络营销的核心与及在企业中的应用”的专题讲座，让企业清楚知道如何最有效地利用网络来推广自己公司的产品及品牌知名度，协助企业通过互联网提升经营效益，提升企业形象。
				    业界最大的专业客户服务中心，为用户提供 one forone 式的全程贴心服务，分析企业的市场情况找出最合适企业自身需求的网络推广产品，以专业、及时的服务确保企业网络营销售价值的最大化！帮助企业走出 “ 只要购买到网络推广的产品就可以达到理想推广效果 ” 的误区，易尔通从企业的需要分析找出最适合的推广产品，通过专业的服务保证推广达到理想效果。拥有强大和专业的服务是我们对客户推广效果保证的信心，为此易尔通率先建立了专业的服务团队、客户服务中心与网络营销顾问小组，服务专业水平已经遥遥领先于同行公司，成为网络推广行业服务水平最专业的服务公司。
				    依托百度品牌的易尔通网站建设服务，继续秉承“帮助客户获得更多新客户！”的服务宗旨，为您提供专业的网站设计制作、符合百度搜索习惯的网站整体策划建设。网站制作过程充分考虑网民的浏览习惯和网站自身的推广宣传功能，为企业建设优势的电子商务基础平台。同时，稳定的设计人员和维护团队为企业建站的后期服务提供了有力保证，让您不用再为找不到原先服务的网络公司而担忧！   
			</div>
    	</div>
    </div> 

    <div class="w_p ewm">
      <div class="w">
    	<div class="f_l wb">
    		<div class="f_l"><img src="images/ewm_31.jpg" height="116" width="116" alt=""></div>
    		<div class="f_l">
    			<span>厦门易尔通网络科技有限公司</span></br>
				地址：厦门市软件园二期观日路36号201单元</br>
				电话：4000-127-808</br>
				传真：0592-3503377</br>
				邮箱：renlixingzhengbu@xm12t.com

    		</div>
    	</div>
    	<div class="f_r wb al">
    		<div class="about_pic ">
    			 <ul class="pic">
				<li>
					
						<a href="###"><img src="images/about_03.jpg" height="132" width="150"   /></a>
					
				</li>
				<li>
					
						<a href="###"><img src="images/about_03.jpg" height="132" width="150"   /></a>
					
				</li>
				<li>
					
						<a href="###"><img src="images/about_03.jpg" height="132" width="150"   /></a>
					
				</li>
				<li>
					
						<a href="###"><img src="images/about_03.jpg" height="132" width="150"   /></a>
					
				</li>
				<li>
					
						<a href="###"><img src="images/about_03.jpg" height="132" width="150"   /></a>
					
				</li>
				<li>
					
						<a href="###"><img src="images/about_03.jpg" height="132" width="150"   /></a>
					
				</li>
			</ul>
    		</div>
    	</div>
    	</div>
    </div>
     <div class="w_p foot">
      <div class="w">
    	<div class="f_l">
    		<p><a href="">关于我们</a> | <a href="">新闻中心</a> | <a href="">车辆展示</a> | <a href="">精彩推荐</a> | <a href="">人才招聘</a> | <a href="">联系我们</a> </p>
    		<p>Copyright © 厦门易尔通网络科技有限公司 版权所有 技术支持：<a href="">G宝盆建站</a> </p>
    	</div>
    	<div class="f_r">
    			<select name="" >
		<option value="">-请选择年-</option><option value="">-请选择年-</option><option value="">-请选择年-</option>
	</select>
	
    	</div>
    	</div>
    </div>
</div>

 <script type="text/javascript" src="js/jquery1.42.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.js"></script>
<script type="text/javascript" src="js/function.js"></script>
<script type="text/javascript">

      jQuery(".al").slide({mainCell:"ul",autoPlay:true,effect:"leftMarquee",vis:3,interTime:50});

</script>
</body>
</html>