<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript">
    // 跳转手机页面
    {if $site_another_url}
    if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
        location.href = '{$site_another_url}';
    } {/if}
    </script>

<meta http-equiv="x-ua-compatible" content="ie=7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />
<script src="{$site_url}js/MSClass.js" type="text/javascript"></script>
<script type="text/javascript" src="{$site_url}js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="http://common.mn.sina.com.cn/public/resource/lib/jquery.jcarousellite.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.kinMaxShow-1.0.min.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
<style>
.tx1 {
	behavior: url(pie.htc);
}
</style>
<title>{$title}</title>
{$headscript}
</head>
<body>
<div class="bg">
     {include file='./_header.html'}
 
<div class="container_bg">
<div id="container" class="wrapper clearfix"> 
<div id="cn_inner" class="wrapper clearfix">
<div id="tel">
<b>{$contact.telephone}</b>
</div>

<div id="about" class="bt">
<div class="title clearfix">
<div class="bg">
      <div class="math public_color">{$index.about.en_name}</div>
      <div class="text">
       
      <div class="in_en public_color">{$index.about.en_name}</div>
      <div class="in_zh public_color">{$index.about.name}</div>
      </div>
      </div>

<div class="in_more1"><a href="{$index.about.link}">MORE>></a></div>
</div>


<div class="inner">
<div class="aboutimg"><img src="{$index.about.image}" height="100%"/> </div>
<div class="abouttext">{$index.about.description}</div>
</div></div>




<div id="pro" class="bt">

<div class="title clearfix">
<div class="bg">
      <div class="math public_color">{$index.pro.en_name}</div>
      <div class="text">
       
      <div class="in_en public_color">{$index.pro.en_name}</div>
      <div class="in_zh public_color">{$index.pro.name}</div>
      </div>
      </div>

<div class="in_more1"><a href="{$index.pro.link}">MORE>></a></div>
</div>

<div class="inner">
<div id="prizes">
					                <div class="photos">                        
                                         <div class="photos-content {if $index.pro.data|count>4} 

enable{/if}" >
                                            <ul>           
 {foreach name=pro item=pro from=$index.pro.data}
 <li><a href="{$pro.link}"><img src="{$pro.image}" /></a></li>
 {if $pro@index+1 == 11}{break}{/if}
{/foreach}
                                              </ul>
                                        </div>                
                                    </div>
                                </div>



</div>

</div>






<div id="news" class="bt">

<div class="title clearfix">
<div class="bg">
      <div class="math public_color">{$index.news.en_name}</div>
      <div class="text">
       
      <div class="in_en public_color">{$index.news.en_name}</div>
      <div class="in_zh public_color">{$index.news.name}</div>
      </div>
      </div>

<div class="in_more1"><a href="#">MORE>></a></div>
</div>

<div class="inner">

<ul class="clearfix">
{foreach name=news item=news from=$index.news.data}
  <li><a href="{$news.link}">{$news.title}</a></li>
  {if $news@index+1 == 4}{break}{/if}
{/foreach}</ul>
</div>

</div>




</div>
</div>

<div id="footer" >
<div class="clearfix wrapper1" >
      <div class="cty">{$footprint}</div>
      <div class="links">
 <form name="form1" id="form1">
          <select name="menu1" onchange="MM_jumpMenu('parent',this,0)">
          {foreach name=friend item=friend from=$global.links}
<option>{$friend.title}</option>
{/foreach}
           
          </select>
        </form>      </div>

</div>
</div>






{$footscript}

</div>
 
 </div>
</body>
</html>
