<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript">
    {if $site_another_url}
        if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
            location.href = '{$site_another_url}';
        }
    {/if}
    </script>

	

    <meta name="keywords" content="{$keywords}"/>
    <meta name="description" content="{$description}"/>
	<meta charset="UTF-8">
	<title>{$title}</title>
	<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="{$site_url}css/css.css">
	<script src="{$site_url}js/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.1.js"></script>
	<script type="text/javascript" src="{$site_url}js/function.js"></script>
	
	
</head>
<body>
	<div class="wrap">
		<div class="banner nheader">
			<div class="ttop nheader">
				<div class="slider nheader">
					<div class="bd">
						<ul>
							{foreach item=slidepics from=$global.slidepics}
							<li><a href="{$slidepics.link}"><img src="{$slidepics.image}"></a></li>
							{/foreach}
						</ul>
					</div>
					<div class="hd">
						<ul>
							{foreach item=slidepics from=$global.slidepics}
						    <li></li>
						    {/foreach}
						</ul>
					</div>
				</div>
				<div class="header nheader">
					{include file='./_header.html'}
				</div>
			</div>
		</div>
		<div class="public">
			<div class="c">
				{include file='./_left.html'}
				<div class="right fl">
					<div class="right_top">
						<span class="here fl">
							您当前的位置：<a href="{$site_url}">首页</a>
							{foreach item=nav from=$posnavs}
							- <a href="{$nav.link}">{$nav.name}</a>
							{/foreach}
						</span>
						<span class="back fr"><a href="javascript:window.history.back()">返回<img src="{$site_url}images/back.png"></a></span>
					</div>
					<div class="right_below">
						<div class="right_nr">{$list.content|unescape:"html"}</div>
					</div>
				</div>
			</div>

		</div>
		{include file='./_footer.html'}
	</div>

	
</body>
</html>