 <div id="header">
   <div class="top">
     <div class="logo"><img src="{$logo}"></div>
     <div class="top_right">
          <div class="tell">
            <i class="tell_title">{$global.tel}</i>
            <p>{$contact.telephone}</p>
          </div>
          <div class="search">
            <p>站内搜索：</p>            
            <form class="search_div" action="{$search_action}" method="GET">
                <input name="s" type="text" class="input" placeholder="请输入搜索关键字">
                <input name="" type="submit" class="btn" value="">
            </form>
          </div>
     </div>
   </div>
  <div class="top_nav">
       <div class="nav_bg"></div>
    <div id="nav" class="nav">
        <ul>
          <li><a href="{$site_url}">网站首页</a></li>
        {foreach item=nav from=$navs}
        <li class="{if $nav.current} current{/if}">
            <a href="{$nav.link}">{$nav.name}</a> 
            {if $nav.childmenu}
            <ul class="erji none">
                {foreach item=nav_list from=$nav.childmenu}
                <li class="{if $nav.current}current{/if}"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
                {/foreach}
            </ul>
            {/if}
        </li>
        {/foreach}
     </ul> 
    </div>        
   </div>
 </div>
 <div id="slideBox" class="slideBox">
      <div class="hd">
        <ul>
          {foreach item=banner from=$global.slidepics}
            <li></li>
          {/foreach}
        </ul>
      </div>
      <div class="banner">
        <ul>
          {foreach item=banner from=$global.slidepics}
            <li>
                <a href="{$banner.link}"><img src="{$banner.image}"/></a>
            </li>
          {/foreach}
        </ul>
      </div>
      <div class="banner_bottom"></div>
</div>