
/*.hicon1{font-style: normal;position: absolute;top:0;right: 5%;top:0;z-index: 10;color: #fff;height:100%;display: box;display: -webkit-box;display: -moz-box; -webkit-box-align:center;-moz-box-align:center; }
.hicon2{font-size: 1.7em;font-style: normal;position: absolute;top:0;left: 5%;top:0;z-index: 10;color: #fff;height:100%;display: box;display: -webkit-box;display: -moz-box; -webkit-box-align:center;-moz-box-align:center; }
span.hicon1 a{color: #fff;font-size: 1.1em;}
.header .hicon1{font-size: 1.5em;}*/


/*首页内容*/
.index-cont{height:auto;width: 100%;}
/*pro*/
.pro,.news{width: 100%;overflow: hidden;}
.col-tit{line-height: 1.1rem;background: #e9e6d5;position: relative;text-align: center;padding: 0.5rem 0;}
.col-tit h2{color: #333;font-size: 1.1em;}
.col-tit h2 span{display: block;}
.col-tit h2 i{display: block;font-style:normal;}
.col-tit-lf{width:14%;height: 100%;background: #c9152a;position: absolute;left: 0;top: 0;display: box;;display: -webkit-box;    -webkit-box-pack: center; -webkit-box-align:center;}
.col-tit-lf img{width: 60%;vertical-align: middle;}
.col-tit-rt{width: 0;height: 0;border-right:3.2rem solid #c9152a;border-bottom: 3.2rem solid transparent;position: absolute;right: 0;top: 0;}
.col-more{    position: absolute;right: -0.2rem;;top:0.7rem;transform: rotate(45deg);z-index: 10;color: #fff;font-size: 0.825em;}
.prolist{margin: 1rem auto;width: 98%;overflow: hidden;}
.prolist li{width: 33.3%;display: inline-block;float: left;margin-bottom: 0.5rem;}
.prolist li a{display: block;padding: 0 5%;}

.clear{clear: both;}

/*news*/
.newslist{ width:96%;margin: 1rem auto;overflow: hidden;}
.newslista{height:auto; overflow:hidden; position:relative;/*background:#d0d0d0;*/position:relative;/*display:-webkit-box;display:box;*/}
.newsicon{/*display:inline-table; width:45px; height:45px; overflow:hidden; margin-right:10px; margin-left:15px; margin-top:10px;position: absolute;*/position: absolute;width: 30px;height: 100%;background: url(../images/icon.png) center no-repeat;background-size: 80%;z-index: 10;}
.news_wprd{/*margin-left: 60px;*/}
.news_wprd dl{ width:100%; height:auto; overflow:hidden;}
.news_wprd dl dd a{color: #333;}
.news_wprd dl dd h2{font-size: 1em;}
.news_wprd dl dd span{ float:right; display:inline; overflow:hidden; padding:0 5px;font-size: 0.9em;}
.news_wprd dl dd{padding-left: 60px;clear:both; height:auto; overflow:hidden; height:30px; line-height:30px;}
.news_wprd dl dd:nth-child(2n+1){background: #d0d0d0; }
.news_wprd dl dd:nth-child(2n+1) span{background: #eee; }
.news_wprd dl dd:nth-child(2n) span{background: #d0d0d0; }
/*.news_wprd dl dd:nth-child(2n+1) h2{ background:#eeeeee;}*/
/*.news_wprd dl dd:nth-child(2) span{ background:#d0d0d0;}*/

/*.news_wprd{position:relative; height:auto; overflow:hidden; width:100%; }
.news_wprd dl{ width:100%; height:auto; overflow:hidden;}
.news_wprd dl dd span{ float:right; display:inline; overflow:hidden; padding-right:5px; height:30px; line-height:30px;}
.news_wprd dl dd{ clear:both; height:auto; overflow:hidden;}*/
/*.news_wprd dl dd:nth-child(1) span{ background:#eeeeee;}
.news_wprd dl dd:nth-child(2) span{ background:#d0d0d0;}*/
 .triangle-rihgt { position:absolute; left:0px; top:0px; z-index:5;height: 0;width: 0;border-left: 50px solid #fff;border-top: 30px solid transparent;border-bottom: 30px solid transparent;}  
/*.triangle-up {
                        height: 0;
                        width: 0;                       
                        border: 50px solid #e5c3b2;
                        border-color: transparent transparent #e5c3b2 transparent;
                } */

/*.news ul{width: 96%;margin: 1rem auto;overflow: hidden;}
.news ul li{line-height: 2rem;}
.news ul li h2{width: 50%;float: left;padding:0 5% 0 20%;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;color: #564f50;}
.news ul li span{display: inline-block;width: 25%;float: left;font-size: 0.9em;text-align: center;color: #564f50;}
.news ul li:nth-child(2n+1) h2{background: #d0d0d0;}*/
/*.news ul li:nth-child(2n+1) span{background: #eee;}*/
/*.news ul li:nth-child(2n) h2{background: #eee;}*/
/*.news ul li:nth-child(2n) span{background: #d0d0d0;}*/

.search{    position: absolute;width: 100%;height: 100%;background: rgba(0,0,0,0.9);z-index: 10;display: none;}
.opacity3{width: 100%;height: 100%;position: absolute;z-index: 15;background: rgba(0,0,0,0.2);}

/*ny*/
.ny-cont{width: 96%;margin: 1rem auto;background: #d0d0d0;/*padding: 0 3%;*/}
.ny-tit{}


.nytop{height: 35px;line-height:35px;position: relative;padding-top: 2px;width: 94%;margin: 0 auto;}
.nytop h2{font-size: 1.2em;color: #c9152a;}
.fontbox{position: absolute;right:0;top:10%;font-size: 0.9em;color: #c9152a;z-index: 10;margin-left: 5px;}
.fontbox:after{content: "+";font-size: 1.2em;}
.more2{position: absolute;right:38px;top:10%;font-size: 0.9em;color: #c9152a;z-index: 10;}
.more2 i{font-style:normal;}

.more2 img{vertical-align: middle;}
.down img{transform: rotate(180deg);}
.trun{height:100%;right: 0;width:10%;background:#f0f0f0 url(../images/return.png) center no-repeat;background-size: 35%}


/*内页分类*/
.hide-class{width: 94%;padding:2% 3% 0;  height:auto; overflow:hidden; display:none;/* position:absolute;left:0px; z-index:10*/background:#d0d0d0;}
.hide-class>li{ /*height:30px;*/ overflow:hidden; line-height:30px; padding: 0 2%;position:relative;background:#e9e6d5;margin-bottom: 2%;}
.hide-class>li:before{line-height: 6px;height:30px;font-size:3em;/*content:"▪";*/content: ".";  margin-right:2%;color:#333;float: left;}
.hide-class>li>a{width: 90%; display:inline-block;text-align: left;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;float: left;}
/*.hide-class li a:active {background:rgba(0,0,0,0.1);}*/
.hide-class li{line-height: 30px;}
.hide-class li a{font-size: 1em;color: #333}
.second{padding: 0 5%;display: none;overflow: hidden;}
.second a{display: block;line-height: 30px;}
.third{display: none;}
.third li a{font-size: 0.825em;padding-left: 5%;}

/*字体大小*/
.font{display: none;width: 40px;background-color: #c72d2b;position: absolute;right:10px;/*top: 3.2em;*/z-index: 10;color: #fff;text-align: center;}
dl.big,.font-big{ font-size:1.3em;}
dl.normal,.font-normal{ font-size:1.0em;}
dl.small,.font-small{ font-size:0.9em;}
.edit{overflow: hidden;width: 94%;margin: 0 auto;color: #564f50;padding-bottom:5px;text-align:justify; text-justify:inter-ideograph}





/*list-text*/
.news-list{}
.news-list li{overflow: hidden;line-height: 40px;padding:0 2%;}
.news-list li:nth-child(2n+1){background: #eee;}
.news-list li:nth-child(2n){background: #e4e4e4;}
.news-list li a{color: #333;}
.news-list li h2{width: 68%;white-space: nowrap;text-overflow: ellipsis;font-size: 1em;overflow: hidden;float: left;background: url(../images/circle.png) left center no-repeat;background-size: 3%;padding-left: 10px;}
.news-list li span{float: right;}



/*list-imgtext*/
.list-imgtxt ul{margin-top: 5%;}
.list-imgtxt ul li{margin-bottom:0.5rem;overflow: hidden;}
.news-pic{height: 6.4rem;width:6.4rem;float: left;margin-right:0.6rem;position: relative;}
.news-pic img{width: 100%;vertical-align: middle;}
/*.news-pic{height: 6.4rem;max-width:6.4rem;float: left;margin-right:0.6rem;position: relative;}*/
/*.news-pic img{height: 6.4rem;max-width:6.4rem;}*/
.news-pic h2{width:100%;position: absolute;bottom: 0;background: rgba(0,0,0,0.5);line-height: 1.5rem;text-align: center;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;color: #ddd;}
.news-desc{overflow: hidden;height: 6.4rem;line-height: 1rem;}
.news-desc dl{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;color: #333;margin-bottom: 5px;}
.news-desc dt{color: #666;font-size: 0.825em;}


.next1{ margin:5% auto; height:30px; width:80%;font-size:1.1em;line-height:30px; padding:5px 0px; overflow:hidden;text-align:center; }
.next1 a{display: block; border-radius:4px; background:#de0f27; color:#eee;  cursor:pointer;height:30px; line-height:30px;width: 32%;float:right;border: 1px solid #c72d2b;box-shadow: 1px 1px 10px #c72d2b inset; }
.next1 a:first-child{float: left;}

/*news-det*/
.nyheader h2{height:100%;text-align: center;font-size: 1.12em;display: box;display: -webkit-box;-webkit-box-pack:center;-webkit-box-align:center;color: #fff;}
.hicon1{font-style: normal;position: absolute;top:0;right: 5%;top:0;z-index: 10;color: #fff;height:100%;display: box;display: -webkit-box;display: -moz-box; -webkit-box-align:center;-moz-box-align:center; }
.hicon1 a{color: #73361d;font-size: 1.2em;font-weight: bold;}
.hicon2{font-size: 1.7em;font-style: normal;position: absolute;top:0;left: 5%;top:0;z-index: 10;color: #fff;height:100%;display: box;display: -webkit-box;display: -moz-box; -webkit-box-align:center;-moz-box-align:center; }
.contentbox{width: 96%;margin: 0 auto;}
.contentbox .fontbox{left: 0;}
.dettop{height: 35px;line-height:40px;/*border-bottom: 1px solid #c9c9c9;*/position: relative;margin-top: 10px;}
.dettop h2{text-align: center;font-size: 1.2em;color: #73361d;}
.contentbox .font{left:0;}

.news_detail{height:auto; overflow:hidden; padding:0; color:#e1c5a7;padding:10px;  }
.news_detail .title1{ height:auto; overflow:hidden; text-align:center; font-size:1.1em; color:#333;/*white-space: nowrap;text-overflow: ellipsis;overflow: hidden;*/ }
.art-date{text-align: center;color: #333;display: block;font-size: 0.9em;}
.news_detail .edit{color: #535353;/*padding: 5%;*/width: 96%;padding: 2%;border-bottom: 1px solid #eee;}
.paging{padding: 3% 0;color: #333;}
.paging li{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.paging li:before{content: "上一篇：";}
.paging li:nth-child(2):before{content: "下一篇："}
.paging li a{color: #333;}
/*c9152a*/
.font1{color: #564f50;text-align: center;}
.font1 dl{display: inline;font-size: 0.9em;color: #564f50;margin: 0 3px;}
/*.det-font{float: right;margin-right: 2%;color: #666;color: #666;}*/


/*list-img*/
.pro-list{margin-top: 0.5rem;}
.pro-list ul{overflow: hidden;}
.pro-list ul li{width: 50%;float: left;display: inline-block;margin-bottom: 0.5rem;}
.pro-list ul li a{display: block;border: 1px solid #999;color: #333;text-align: center;}
.pro-list ul li:nth-child(2n+1) a{margin-right: 3%;}
.pro-list ul li:nth-child(2n) a{margin-left: 3%;}
.pro-tit{padding: 3% 10%;background: #f8f8f8;line-height:1rem;font-size: 0.825em;}
.pro-tit h2{font-size: 1.2em;}
.pro-tit span{display: block;border-bottom: 1px dashed #999;padding-bottom: 0.2rem;}
.pro-tit h2,.pro-tit span{white-space: nowrap;text-overflow: ellipsis;overflow: hidden; }
.pro-pic{background: #eee;padding: 10%;width:80%;}
/*.pro-pic img{width: 20%;}*/

/*prodet*/
.prodet{text-align: center;margin: 3% auto;}
.prodet .slideBox{width: 70%;margin: 0 auto 15px;text-align: center;border: 1px solid #999;background: #eee;overflow: visible;}
/*.prodet .slideBox{position:relative; overflow:hidden;}*/
.prodet .slideBox .hd{display: none;}
.prodet .slideBox .bd li{padding:0.5rem;  }

.prodet .slide_left,.prodet .slide_right{display: block;width: 32px;height: 32px;background: url(../images/slidebtn.jpg) 0 0 no-repeat;position: absolute;top: 50%;margin-top: -16px;z-index: 100}
.prodet .slide_left{left: -2.5rem}
.prodet .slide_right{background-position: -40px 0;right: -2.5rem!important;}



/*searchresult*/
.searchbox{background: #d0d0d0;padding: 0.5rem 0.8rem;overflow: hidden;margin-bottom: 0.5rem;position: relative;z-index: 20;}
.searchbox input{border: none;float: left;line-height: 2rem;}
.sinp{width: 80%;float: left;background: #e9e6d5;padding: 0 3%;}
.sbtn{width: 14%;background: url(../images/word.png) center no-repeat #eee;background-size: 50%;}
.searchword{padding: 2% 0 5%;font-size: 1.1em;}



/*@media screen and (min-width: 480px) {
.detal_news{line-height: 30px;line-height: 60px;}
}*/

/*
@media screen and (min-width: 320px) and (max-width: 480px){
.home_menu ul li.m-right .m_menu dl dd .mlist a{ font-size:0.8em; padding:1px;}
.home_menu ul li.m-right .m_menu dl dd .mlist{ padding:5px;}
.home_menu ul li.m-right .m_menua dl dd .mlist a{ font-size:0.8em; padding:1px;}
.home_menu ul li.m-right .m_menua dl dd .mlist{ padding:5px;}
.home_menu ul li.m-right .m_menua dl dd .mlist a span{ padding-left:0px;}
.headerhome img,.headersearch img{ width:30px; height:auto;}
.keeper{ font-size:0.8em;}
.showlist ul li .plslt{ font-size:0.9em;}
.showlist ul li .plslt{ padding:12px 10px;}
}
@media screen and (min-width: 480px) {
.swiper-nav .swiper-slide .menubox{ margin:0px 10px;}
}

@keyframes licion{
0%{ padding-left:0px;}
100%{ padding-left:10px;}
}
@-webkit-keyframes licion{
0%{ padding-left:0px;}
100%{ padding-left:10px;}
}
@keyframes animation{
0%{ padding-left:0px;}
100%{ padding-left:10px;}
}
@-webkit-keyframes animation{
0%{ padding-left:0px;}
100%{ padding-left:10px;}
}

@keyframes back{
0%{ position:relative; left:0px;}
100%{ position:relative; left:10px;}
}
@-webkit-keyframes back{
0%{ position:relative; left:0px;}
100%{ position:relative; left:10px;}
}
@keyframes lightheight{
0%{ line-height:25px;}
100%{ line-height:40px;}
}
@-webkit-keyframes lightheight{
0%{ line-height:25px;}
100%{ line-height:40px;}
}

*/