<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"class="no-js" lang="en">
<head>
<script type="text/javascript">
    // 跳转手机页面
    {if $site_another_url}
    if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
        location.href = '{$site_another_url}';
    } {/if}
    </script>

<meta http-equiv="x-ua-compatible" content="ie=7" />
<title>{$title}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$site_url}js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.kinMaxShow-1.0.min.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
{$headscript}
</head>
<body>
{include file='./_header.html'}
<div id="container" class="clearfix">
  <div id="pro">
    <div class="title"> <a href="{$index.pro.link}">
      <p>{$index.pro.icon}</p>
      <h2>{$index.pro.en_name}</h2>
      </a> </div>
    <div class="inner wrapper">
      <ul class="clearfix">
        {foreach item=pro from=$index.pro.data}
        <li>
          <div class="pic"><a href="{$pro.link}"><img src="{$pro.image}" /></a></div>
        </li>
        {/foreach}
      </ul>
      <div class="more"><a href="{$index.pro.link}">read more +</a></div>
    </div>
  </div>
  <div class="wrapper clearfix">
    <div id="about">
      <div class="title"> <a href="{$index.about.link}">
        <p>{$index.about.icon}</p>
        <h2>{$index.about.en_name}</h2>
      </a> </div>
      <div class="inner">
        <div class="about_img"><img src="{$index.about.image}" /></div>
        <div class="about_text"><a href="{$index.about.link}">{$index.about.description}</a></div>
        <div class="more"><a href="{$index.about.link}">read more +</a></div>
      </div>
    </div>
    <div class="cn_r">
      <div id="news">
        <div class="title"> <a href="{$index.news.link}">
          <p>{$index.news.icon}</p>
          <h2>{$index.news.en_name}</h2>
        </a> </div>
        <div class="inner">
          <ul>
            {foreach name=news item=news from=$index.news.data}
            <li><a href="{$news.link}">{$news.title}</a></li>
            {if $news@index+1 == 6}{break}{/if}
            {/foreach}
          </ul>
        </div>
      </div>
      <div id="contact">
        <div class="title"> <a href="{$global.contact_us.link}">
          <p>{$global.contact_us.icon}</p>
          <h2>{$global.contact_us.en_name}</h2>
         </a> </div>
        <div class="inner"> {$global.contactus} </div>
      </div>
    </div>
  </div>
</div>
{include file="./_footer.html"}
</body>
</html>
