body{ color:#000; font-family:Microsoft Yahei,Arial, Helvetica, sans-serif;background:#fff; }
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,input,textarea,div{margin:0;padding:0; list-style:none; line-height:24px; font-size:12px; font-weight:normal}
body,div,ul,li,dl,dt,dd{ font-size:12px;}
.clearfix:after { content:'\20'; display:block; height:0; clear:both; }
.clearfix { *zoom:1; font-size:0px;}
a{ color:#000; text-decoration:none}
a:hover{ color:#f00} 
img{ border:none;}
.c{ clear:both}

.wrapper{width:1003px; margin:0 auto; }


display:block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;
strong{display: block;margin: 0 auto;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}




#header_bg{ width:100%; height:122px; background:url(../images/header_bg.jpg) no-repeat;}
#header{ width:1003px; height:122px; position:relative;}



#header h1{width:400px;height:74px;float:left; position:relative; background:url(../images/logo.jpg) no-repeat; margin-top:25px; margin-bottom:10px;}
#header h1 a{display:block;height:74px;width:400px; position:absolute; bottom:0px; left:0;}
#header h1 img{max-width:400px; max-height:74px; position:absolute; top:0; left:0; right:0; bottom:0; margin:auto}



#header .search{ color:#b50c0b; font-weight:bold; right:5px; top:10px; padding-top:3px; position:absolute }
#header .search  .search_area{ height:34px; line-height:34px; border:none; background:url(../images/ser_bg.jpg) top left no-repeat; width:201px; color:#737373; padding-left:3px; padding-top:1px;}
#header .search .search_btn{ background:#459bee; border:none; width:47px; height:34px; color:#fff; font-size:14px; margin-left:-4px;}






.tel{ float:right; margin-top:68px; display:inline; background:url(../images/tel.png) left no-repeat ; padding-left:35px; color:#fff; font-size:18px; line-height:27px; height:27px; overflow:hidden; width:230px;}




#nav_bg{ width:100%; height:66px; background:url(../images/nav_bg.jpg) repeat-x left top;}
#nav{ width:1003px; height:55px; margin:0 auto; padding-top:4px;}
#nav ul li{ float:left;height:55px; line-height:55px; color:#1e1e1e; background:url(../images/libg.jpg) right center no-repeat }
#nav ul li a{font-family:Microsoft Yahei; font-size:16px; color:#1e1e1e; padding: 0 27px;  font-weight:bold; display:block;}
#nav ul li a:hover{background:url(../images/libg1.jpg) top center repeat-x; height:55px; margin-right:2px;}
#nav ul li p{height:55px; line-height:55px; overflow:hidden}
#nav ul li .cc{background:#06639c;height:40px; line-height: 40px;display: none; text-align:center; width:100%; position:relative; z-index:100; margin-top:0px; overflow:hidden}
#nav ul li .cc:hover{}
#nav ul li .cc a{width:92%; margin:auto;color:#fff; padding:0 4%; overflow:hidden; height:40px; line-height:40px;}
#nav ul li .cc a:hover{ text-decoration:underline;color:#fff; background:none}




#banner{ width:100%; height:434px; overflow:hidden}


  
#container_bg{ width:100%;  background:url(../images/container_bg.jpg) repeat-x;}
#container{ width:1118px; margin:0 auto;}
#container .top{ width:1003px; padding-top:21px;}
#about{ float:left; width:430px;}  

#about .title{ display:block; width:430px;}
#about .title h2{ float:left; background:url(../images/about_title.jpg) left no-repeat; padding-left:20px; color:#8b8b8b; font-size:13px; }
#about .title h2 b{ font-size:15px; color:#0a699f; margin-right:5px;}
#about .title span{ float:right; font-weight:normal; font-size:12px;} 
#about .title span a{ color:#8d8d8d}

#about .inner{ background:url(../images/about_inner.jpg) no-repeat; padding-top:19px; width:430px; height:166px; overflow:hidden}
#about .inner .about_img{  margin-right:13px;  border:solid 1px #CCC; padding:0; display:inline-block;*display:inline;*zoom:1; overflow:hidden; height:166px; }
#about .inner .about_img img{ height:100%; display:block}
#about .inner .about_text{ line-height:23px;  color:#000000;display:inline-block; vertical-align:top;*display:inline;*zoom:1; height:162px; overflow:hidden}


#news{ float:left; display:inline; margin-left:15px;}



#news .title{ display:block; width:335px;}
#news .title h2{ float:left;padding-left:20px; color:#8b8b8b; font-size:13px;  background:url(../images/about_title.jpg) left no-repeat;}
#news .title h2 b{ font-size:15px; color:#0a699f; margin-right:5px;}
#news .title span{ float:right; font-weight:normal; font-size:12px;} 
#news .title span a{ color:#8d8d8d}





#news .inner{ width:335px; background:url(../images/news_bg.jpg) no-repeat left top; padding-top:16px; height:166px; overflow:hidden}
#news .inner ul{ width:335px; margin-left:9px;}
#news .inner ul li{ width:326px; line-height:32px; height:32px; border-bottom:dashed 1px #999999; float:left; display:inline; overflow:hidden}
#news .inner ul span{ float:right; color:#6c6c6c; margin-right:4px;}


#contact .title{ display:block; width:206px;}
#contact .title h2{ float:left;padding-left:20px; color:#8b8b8b; font-size:13px;  background:url(../images/about_title.jpg) left no-repeat;}
#contact .title h2 b{ font-size:15px; color:#0a699f; margin-right:5px;}

#contact{ float:right;}
#contact .inner{ width:206px; height:163px; background:url(../images/contact_inner.jpg) no-repeat left top; padding-top:15px; overflow:hidden }
#contact .inner ul{ padding-left:9px;  line-height:23px; color:#000000; padding-right:10px;}









#products{ width:1118px; margin:0 auto; text-align:center; margin-top:30px;}


#products .title{ width:995px; height:33px;  display:block; margin:0 auto; background:url(../images/pro_inner.jpg) no-repeat left bottom;}
#products .title h2{ float:left;padding-left:20px; color:#8b8b8b; font-size:13px;  background:url(../images/about_title.jpg) left no-repeat;}
#products .title h2 b{ font-size:15px; color:#0a699f; margin-right:5px;}
#products .title span{ float:right; font-weight:normal; font-size:12px;} 
#products .title span a{ color:#8d8d8d}



#products .inner{ width:1118px; height:256px; background:url(../images/pro_bg.png) center;}
#products .inner ul{ width:945px; margin: 0 auto;}
#products .inner ul li{ float:left; display:inline; margin-top:15px;  margin-left:5px; margin-right:5px; text-align:center; height:175px; overflow:hidden; width:145px;}

#products .inner ul li a{ margin-top:3px;}
#products .inner ul li .pic{ width:145px; height:145px; overflow:hidden;border:solid 1px #CCC;}
#products .inner ul li .pic img{ display:block}


#products .hd .next{ background:url(../images/next.jpg) left no-repeat; width:24px; height:163px; float:left; margin-left:75px; margin-top:20px;}
#products .hd .prev{ background:url(../images/prev.jpg) left no-repeat; width:24px; height:163px; float:right; margin-top:20px; margin-right:75px;}

.footer_bg{ background:#0a699f; width:100%;}


#footer{ width:1003px;  color:#FFF; margin:0 auto;  padding-bottom:30px; text-align:center; padding-top:20px;}
.links a{ padding: 0 10px; color:#fff}

.copyright{ text-align:center; }
.copyright a{color:#FFF;}
.copyright a:hover{ color:#fff;}


.sidebar{ width:254px; float:left; margin-top:22px; margin-top:22px; display:inline; background:url(../images/sub_about-inner.jpg) top center repeat-y; overflow:hidden }
.alefttitle{ background:url(../images/sub_about_title.jpg) bottom  left no-repeat; height:35px; line-height:35px; color: #8b8b8b;
font-size: 13px; padding-left:10px; overflow:hidden
  }
.alefttitle b{ color:#0a699f; font-size:16px; margin-right:5px;}
.sidnav { width:254px;  margin-top:8px;}
.sidnav ul li{line-height:32px; height:32px;}





.subnav .first a{  border-bottom: 1px dashed #ccc; color: #333; display: block; height: 32px;  line-height: 32px;  padding-left: 10px; transition:all 0.5s ease-in-out;overflow:hidden;background:url(../images/sub_li.jpg) no-repeat 5px; padding-left:25px; width:200px;  margin-left:25px; }

.subnav .first a:hover{ color:#0a699f}
ul.second li a.seconda{  height:32px; line-height:32px; background:none; text-indent:24px;}

ul.second li a.seconda:hover{ color:#0a699f}

ul.third li a.thirda{ border-bottom:dashed 1px #CCC; height:32px; line-height:32px; background:none; text-indent:44px;}
ul.third li a.thirda:hover{ color:#0a699f}







.sub_contact{ width:254px;  margin-top:25px;}
.sub_contact .inner{ width:254px; padding-top:5px;background:url(../images/sub_contact_inner.jpg) no-repeat; }
.sub_contact .inner ul{ padding-left:10px; padding-right:15px;  line-height:23px; color:#0000}

.sub_contact .title{ display:block; width:206px; background:url(../images/sub_about_title.jpg) bottom left no-repeat; width:254px;}
.sub_contact .title h2{ padding-left:20px; color:#8b8b8b; font-size:13px;  background:url(../images/about_title.jpg) left no-repeat; margin-left:5px; height:32px;}
.sub_contact .title h2 b{ font-size:15px; color:#0a699f; margin-right:5px;}

#sub_container{ margin-bottom:25px;}


.main{ float:right; width:713px; margin-left:14px; margin-top:15px; display:inline;}
.curmb { display:block; width:713px;}
.curmb h2{ font-size:13px; color:#69a1c8}
.curmb h2 b{ color:#555; font-size:18px;}
.curmb span{ float:right; margin-top:10px; display:inline; font-size:12px;}
.article{   margin-top:5px;}
.article img{ max-width:700px;}