

 <!--嵌入式表单-->
<div class="adv-add-show add-show">

    <form style="width:100%;" method="post" action="http://swap.5067.org/userdata/" id="box_show" class="adv-unit-preview unit-preview">
        <ul class="fv-element-show">
            <li data-id="23" data-type="text" class="list-item"><label class="content-l">姓　　名</label><input type="text" placeholder="" name="姓名"></li>
            <li data-id="24" data-type="text" class="list-item"><label class="content-l">地　　址</label><input type="text" placeholder="" name="地址"></li>
            <li data-id="25" data-type="text" class="list-item"><label class="content-l">电　　话</label><input type="text" placeholder="" name="电话"></li>
            <li data-id="26" data-type="text" class="list-item"><label class="content-l">补充内容</label>
<textarea name="补充内容"></textarea></li>
        </ul>
        <div style="text-align:center;">
            <input type="submit" name="submit" class="button form-btn" value="提交">
            <input type="reset" class="button form-btn" value="重置">
        </div>
        <input type="hidden" value="47" name="form_id">
        <input type="hidden" value="0" name="action_type">
        <input type="hidden" value="/" name="action_text">
    </form>
</div>
