.boxmain{ width:100%; height:auto; overflow:hidden; margin:0px auto 0px; background:#ff5c02; position:relative;}
.boxmain-line,.boxmain-line1{ height:14px;  overflow:hidden; width:100%;  position:relative}
.boxmain-line1{ background:rgba(0,0,0,0.3)}
.boxmain-line:before,.boxmain-line:after{ width:0px; height:0px;border-width:20px 20px 0; border-style:solid;border-color:#f9f9f9 transparent transparent; position:absolute; left:-30px; top:0px; content:""}
.boxmain-line:after{ left:auto; right:-30px;}
.boxmain-line1:before,.boxmain-line1:after{width:0px; height:0px;border-width:0px 20px 20px; border-style:solid;border-color:transparent transparent  #f9f9f9 ; position:absolute; left:-24px; top:0px; content:""}
.boxmain-line1:after{ left:auto; right:-24px;}
.boxmain-top{ height:35px; overflow:hidden; line-height:35px; color:#000; font-size:1.12em; background:#fedd00; padding-left:7px;}
.boxmain-about{ padding:8px 5px; height:auto; overflow:hidden;}
.boxmain-lesson{ padding:8px 5px 4px; height:auto; overflow:hidden;}

.more{ width:30px; height:35px; background:url(../images/more.png) center center no-repeat; background-size:27px 27px; display:block; float:right; margin-right:4px;}


section .boxline:last-child{display: none;}
.boxline{ height:25px; width:100%; display:block; margin:-6px 0px -6px; overflow:hidden; position:relative; z-index:1}
.boxline-list{ height:25px; width:7px; display:block; background:url(../images/line.png) center center no-repeat; background-size:7px auto; margin-left:24px; float:left}
.boxline-list1{ float:right; margin-right:24px; margin-left:0px;}

ul.lessonlist{ margin:0px; padding:0px; height:auto; overflow:hidden; width:100%;}
ul.lessonlist li{ width:33.3%; float:left; height:auto; overflow:hidden;}
ul.lessonlist li div{ margin:0px 7px; height:auto; overflow:hidden;}
ul.lessonlist li div .img{ border:1px solid #FFf; border-radius:100%; height:auto; overflow:hidden;}
ul.lessonlist li div .img img{border-radius:100%; }
ul.lessonlist li div .title{ height:28px; line-height:28px; color:#fff; overflow:hidden; text-align:center;}


ul.teamlist li div .img{ border:1px solid #FFf;height:auto; overflow:hidden; border-radius:0}
ul.teamlist li div .img img{ border-radius:0}

.more2{height:33px; padding:0px 7px; line-height:35px;background:#d64b00; display:block;  text-align:center; color:#fff; font-size:0.9em; float:right; margin:1px 1px 1px 0px; text-indent:0px }
#up{ display: none;}
.hide-class{ height:auto; overflow:hidden; display:none; }
.hide-class dl{ height:30px; overflow:hidden; line-height:30px;  position:relative; background:#d4d4d4;}
.hide-class dl:before{ height:30px; width:30px; content:"●"; position:absolute; left:0px; top:0px;color:#000000;text-align:center; }
.hide-class dl a{ display:block;padding:0px 20px 0px 25px;color:#000000}
.hide-class dl a:active {background:rgba(0,0,0,0.1);}
.font{ width:40px; text-align:center;background:#d4d4d4;position:absolute; top:49px; right:0px; display:none; z-index:9999}
.font dl{ height:30px; line-height:30px; color:#000; text-align:center; }
.font dl.big,.font-big{ font-size:1.3em; }
.font dl.normal,.font-normal{ font-size:1.0em;}
.font dl.small,.font-small{ font-size:0.9em;}
.boxmain-m{ padding:7px; height:auto; overflow:hidden;}

ul.newslist{ width:100%; height:auto; overflow:hidden; padding:5px 0px;}
ul.newslist li{ padding:5px 0px; height:auto; overflow:hidden; color:#fff;}
ul.newslist li .img{ width:72px; height:72px; overflow:hidden; float:left;  margin:4px 10px 4px 0px;  border:1px solid #fff; border-radius:100%;}
ul.newslist li .img img{border-radius:100%;}
ul.newslist li dt{ height:30px; line-height:30px; overflow:hidden; font-size:1.12em;white-space: nowrap;text-overflow: ellipsis; border-bottom:1px solid rgba(255,255,255,0.8);}
ul.newslist li dd.date{ height:21px; overflow:hidden; text-align:right; }
ul.newslist li dd.nr{ height:42px; line-height:21px; overflow:hidden; padding-top:4px; text-indent:2em; color:#fcec7e}


.next1{ clear:both; height:auto; overflow:hidden; text-align:center; padding:10px 0px;margin:0px 7px; }
.next1 a{ padding:2px 5px;background:#fedd00; color:#000; margin:0px 5px; }
.next1 a:active{  }

ul.picture2{ height:auto; overflow:hidden; }
ul.picture2 li{ margin:5px 0px; height:auto; overflow:hidden; float:left; display: inline;}
ul.picture2 li div{ margin:0px 7px; height:auto; overflow:hidden; }
ul.picture2 li div .img{ border:1px solid #fff; height:auto; overflow:hidden;}
ul.picture2 li div .title1{height:30px; line-height:30px; text-align:center;  }
ul.picture2 li a{ display:block; color:#fff;}

.fixed-top{ width:100%; position: absolute; top:0px; left:0px; text-align:center; z-index:999; text-align:center; padding-left:0px;}
.ny-wrap{ margin:35px 0px 0px;}
.back{ float:left; display:inline; margin-left:1px;}
.back a{ color:#fff; display:block;}
.news_detail{ height:auto; overflow:hidden; padding:10px 0px 0px; }
.news_detail .title1{ height:auto; overflow:hidden; text-align:center; font-size:1.15em; }
.news_detail .title2{ height:30px; text-align:center;border-bottom:1px solid #fff; }
.fixed-font{ right:0px; top:35px; padding-top:0px;}

.bigimgbox{ width:70%; margin:10px auto; height:auto; overflow:hidden;}
.bigimg{ border:1px solid #fff; height:auto; overflow:hidden;}
.bigimgtitle{width:70%; height:30px; color:#fff; margin:0px auto; text-align:center; line-height:30px;}
.prodetail{ padding:0px 0px 7px;}
.prodetail .title2{ border-bottom:1px solid #bababa; color:#aa0000; line-height:30px;}

@media screen and (min-width: 320px) and (max-width: 480px){
.boxmain-about img{ width:76px; height:80px; float:left; margin-right:10px; border:1px solid #fff; border-radius:3px;}
.boxmain-about .nr{ height:80px; overflow:hidden; line-height:20px;}
ul.picture2 li{ width:50%}
}
@media screen and (min-width: 480px) {
.boxmain-about img{ width:105px; height:110px; float:left; margin-right:10px; border:1px solid #fff; border-radius:4px;}
.boxmain-about .nr{ height:110px; overflow:hidden; line-height:22px;}
ul.picture2 li{ width:33.3%}
}


.edite{ color:#fcec7e}
