<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    
    <script type="text/javascript">
    // 跳转手机页面
    {if $site_another_url}
        if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
            location.href = '{$site_another_url}';
        }
    {/if}
    </script>
    
    <meta name="keywords" content="{$keywords}"/>
    <link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
    <meta name="description" content="{$description}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="zh-CN">
    <title>{$title}</title>
    <link rel="stylesheet" type="text/css" href="{$site_url}css/css_sxsd.css"/>
    
    <script src="{$site_url}js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.1.js"></script>
    <script type="text/javascript" src="{$site_url}js/function.js"></script>
    </head>

<body>
        
            
            
<div class="wrap">
    <div class="main">
        
        {include file='./_header.html'}

       <div class="content">
          <div class="left">
              {include file='./_pagenavs_sub3.html'}        
                <div class="news">
                    <h1 class="news_top">联系我们</h1>
                    <div class="contact_m">
                        地址：{$contact.address}<br>
                        电话：{$contact.telephone}<br>
                        E-mail：{$contact.mail}<br>
                        手机：{$contact.mobile}<br>
                        联系人：{$contact.name}
                    </div>
                </div>
            </div>
          <div class="news about">
              <h1 class="news_top"><strong class="lujin">您现在的位置：<a href="{$site_url}">首页</a>{foreach item=nav from=$posnavs}&nbsp;&gt;&gt;&nbsp;<a href="{$nav.link}">{$nav.name}</a>{/foreach}</strong>{$list.name}</h1>
              <div class="right_m">
                <ul class="list">
                    {foreach name=article item=article from=$list.data} 
                        <li>
                            <a href="{$article.link}">
                                <div class="pic"><img src="{$article.image}" alt=""></div>
                                <div class="list-nr">
                                    <h2>{$article.title}</h2>
                                    <p>{$article.description}</p>
                                </div>
                            </a>
                        </li>

                    {/foreach}

             
                </ul>  
                <div class="next2">
                    <div>第{$page_links.current_page}页/共{$page_links.page_count}页　&nbsp;          
                    <a href="{$page_links.first_link}">[第一页]</a> 
                          <a href="{$page_links.prev_link}">[上一页]</a> 
                          {foreach name=nears_link item=near_link key=near_page from=$page_links.nears_link}
                            {if $near_page == $page_links.current_page}
                             <a  href="{$near_link}" class=" num pon">{$near_page}</a>
                            {else}
                             <a class="num" href="{$near_link}">{$near_page}</a>
                            {/if}
                          {/foreach}
                          <a href="{$page_links.next_link}">[下一页]</a> 
                          <a href="{$page_links.last_link}">[最后页]</a> 
                    </div>
		        </div>
        </div>
		   </div>
              <div class="news pro">
                  <h1 class="news_top">友情链接</h1>
                  <div class="link_m">

                      {foreach name=flink item=flink from=$global.links}
                       <a href="{$flink.link}">{$flink.title}</a>    丨    
                      {/foreach}  

         
                 </div>
               </div>  


      
        </div>
      {include file='./_footer.html'}

  </div>
</div>
 
</body>
</html>
