<div class="topbg">
	<div class="top">
		<a href="{$site_url}" title="返回首页" class="logo">
			<img src="{$logo}" alt="{$title}">
		</a>
		<div class="navBar">
			<ul class="nav clearfix">								
				{$limit = 5}
				{if $navs|count lt $limit}{$limit=$navs|count}{/if}
				<li class="m" style="width:{100/($limit+1)}%">
					<h3><a href="{$site_url}"><i class="iconfont">&#xe616;</i><em>网站首页</em><span>HOME</span></a></h3>
				</li>

				{foreach item=nav from=$navs}
				<li class="m {if $nav.current}current{/if}" style="width: {100/($limit+1)}%">
					<h3><a href="{$nav.link}">{$nav.icon}<em class="menu" data-limit="5">{$nav.name}</em><span>{$nav.en_name}</span></a></h3>
					{if $nav.childmenu}
					<div class="sub">
						{foreach item=nav_list from=$nav.childmenu}
						<a href="{$nav_list.link}">{$nav_list.name}</a>
						{/foreach}
					</div>
					{/if}
				</li>
				{if $nav@index+1 gte $limit}{break}{/if}
		        {/foreach}	
			</ul>
		</div>
	</div>
	<div class="subbg"></div>
</div>	
