@charset "utf-8";
/*-----------------------------------// 全局样式 //-----------------------------------*/
*{ margin:0px; padding:0px;}
a{ color:#666; text-decoration:none}
a:hover{}
a img{ border:none;}
table{}
body{font-size:12px; text-align:left; font-family:"宋体"; color:#4a4a4a; line-height:24px; background:url(../images/bg.jpg) repeat-x  #fff;}
i,ul,ol,p,dl,li,font{margin:0;padding:0; list-style:none; font-style:normal;}
ul,ol,dl{list-style:none;}
h1,h2,h3,h4,h5{font-size:12px;margin:0;padding:0; font-weight:normal;}
input {font:12px;}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td{ margin:0px; padding:0px;}
em{ font-style:normal;}


.wrapper{ width:1002px; height:auto; margin:0 auto; overflow:hidden;}
.header{width:100%;height:115px;background:url(../images/top_02.png) no-repeat;}
.logo{display:block; float:left;width:346px;height:67px;}
.hed_right{display:block; float:right;width:286px;height:100%;}
.sy_sc{display:block; width:170px; height:24px;padding-top:15px;float:right;}
.sy_sc a{display:inline; float:left;padding-right:25px; color:#3e3d3d;}
.sy_sc a:hover{color:#3997e1;}
.tel_phone{display:block; height:30px; width:100%;float:left;text-indent:20px; line-height:30px; padding-top:30px;font-family:"微软雅黑";font-size:18px; color:#131313;}
.tel_phone i{color:#fb041b; font-size:24px;padding-left:5px;}

.mune{font-family:"微软雅黑";width:940px; height:47px;background:url(../images/mune_bg.png) no-repeat;padding:0 30px;display:table;}
.mune .mu_bg a:hover{color:#fb041b;}
.mu_bg{background:url(../images/index_09.jpg) no-repeat right;}
.mune .mu_bg{float: left;width: 96px;height:47px;text-align: center;line-height: 47px;font-size: 14px;font-weight: bold;}
.mune .mu_bg a{color:#fff;}
.mune .sub{width: 100%;display: none;position: relative; z-index: 100;}
.mune  .mu_bg .sub li{background: #fff;background: #fff;border-bottom: 1px solid #9cb9a2;height:30px;line-height: 30px;overflow: hidden;}
.mune  .mu_bg .sub li a{color:#464646;}
.mune .mu_bg .sub li a:hover{color:#1688C6;}
.mune .mu_bg .sub li:last-child{border-bottom: none;}

.slideBox{ width:980px; height:310px; overflow:hidden; position:relative; border:7px solid #2288d9;border-radius:6px; margin:8px auto; }
.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; color:#333;font-size:12px;}
.slideBox .hd ul li.on{ background:#f00; color:#fff; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{ width:980px; height:310px; display:block;  }

.cantion{width:100%; height:430px; overflow:hidden; margin:0 auto;padding-top:5px; }
.can_left{display:inline; float:left; width:235px;height:100%; overflow:hidden;background:url(../images/probg2.jpg) repeat-y center;}
.can_title{background:url(../images/pro_i.png) no-repeat;width:100%;height:55px; font-size:16px;text-indent:20px; line-height:40px; color:#fff; font-family:"微软雅黑";}
.more{display:inline; float:right; font-size:12px; color:#fff;padding-right:10px;}
.more:hover{color:#f00;}
.pro_list{width:195px;height:357px;background:url(../images/probg3.jpg) no-repeat bottom center;padding:10px 20px;}
.pro_list li{ background:url(../images/li.jpg) no-repeat;width:195px; height:31px;overflow:hidden;  padding:5px 0;}
.pro_list li a{display:block; padding-left:25px;}
.pro_list li a:hover{color:#2489da;}

.can_right{display:inline; float:right; width:750px;height:435px; overflow:hidden;}

.can_rtop{width:100%;height:204px; overflow:hidden;}
.in_about{background:url(../images/about.jpg) no-repeat;height:100%;width:487px;display:inline; float:left;}
.ab_title{width:100%;height:34px; line-height:34px; color: #ffffff; font-size: 14px; font-family:"微软雅黑"; text-indent: 35px;}

.ab_conter{margin:9px 15px;height:141px; overflow:hidden; line-height: 24px;}
.ab_conter img{padding:2px; border:1px solid #ccc; width:145px;height:135px; display:inline; float:left;margin-right:10px;}

.ab_img{height:100%;width:253px;display:inline; float:right;}
.ab_img a{display:block;position: relative;}
.ab_img  a img{display:block; width:100%;height:64px; padding:2px 0; }
.ab_img a p{position: absolute;display: block;/*width: 120px;*/width: 180px; height:48px;font-size:19px;/*text-align: center;right: 5px;*/text-align: right;right: 14px; top:22px;color: #2489da;font-weight: bold;line-height: 14px;}
.ab_img a p span{font-size: 14px;color:#727272;}

.in_news{background:url(../images/news.jpg) no-repeat;height:100%;width:487px;display:inline; float:left;}
.can_news{padding-top:10px;width:100%;height:218px; overflow:hidden;}
.ad_news{padding:10px 15px;height:140px; overflow:hidden;}
.can_news li{background:url(../images/new_li.jpg) no-repeat;height:37px;width:450px;}
.can_news li a{display:block; line-height:30px; color:#2489da;padding-left:10px;}
.can_news li a:hover{color:#666;}
.date{display:inline; float:right;}
.ab_tel{height:100%;width:253px;display:inline; float:right;background:url(../images/contact.jpg) no-repeat;overflow:hidden;}
.tel_nav{display:block; padding:68px 10px 0 20px;}

.bottom_nav{width:100%;background:url(../images/proshow.jpg) no-repeat; height:237px; overflow:hidden; margin:10px auto;}
.btom_title{width:100%;height:38px;text-indent:30px; line-height:45px; color:#fff;font-family:"微软雅黑";font-size:14px;}
.btom_title i{font-size:12px;padding-left:5px;}

.more_01{display:inline; float:right; font-size:12px; color:#2186d8;padding-right:10px;}
.more_01:hover{color:#f00;}

.picMarquee-left{ width:980px; height:180px; padding:15px;   overflow:hidden; position:relative;    }
		
.picMarquee-left .bd{ padding:10px;   }
.picMarquee-left .bd ul{ overflow:hidden; zoom:1; }
.picMarquee-left .bd ul li{ margin:0 10px;width:170px;text-align:center; float:left; _display:inline;height:auto; overflow:hidden; }
.picMarquee-left .bd ul li:hover {color:#999;  }
.picMarquee-left .bd ul li h1{height:24px;width:100%;line-height:24px;display:black; overflow:hidden;  text-align:center; }


.link_nav{width:100%;background:url(../images/links.jpg) no-repeat; height:46px; overflow:hidden;margin:10px 0;}
.link_nav ul{padding-left:150px;}
.link_nav ul li{ display:inline; float:left; padding:0 5px; color:#fff;}
.link_nav ul li a{ color:#fff; line-height:46px;padding:0 5px;}
.link_nav ul li a:hover{color:#ccc;}
.footer{width:100%;height:auto;padding: 10px 0; overflow:hidden;text-align:center; line-height:30px;padding:10px 0;}
.footer a:hover{color:#333;}



.about_con{width:100%; height:auto; overflow:hidden; margin:0 auto;padding-top:5px; }

.ab_left{display:inline; float:left; width:235px;height:auto; overflow:hidden;background:url(../images/probg2.jpg) repeat-y center;}

#cur_flag a{color:#f00;}

.ab_right{display:inline; float:right; width:750px;height:auto; overflow:hidden; background:url(../images/right_center.jpg) repeat-y;}
.abrg_title{background:url(../images/right_h.jpg) no-repeat;width:750px;height:39px;text-indent:35px; line-height:39px; font-family:"微软雅黑"; font-size:14px; color:#fff;}
.cur_ab{display:inline; float:right; font-size:12px;padding-right:10px; color:#666;}
.cur_ab a{color:#666;}
.cur_ab a:hover{color:#f00;}

.ab_Edbox{width:720px; min-height:350px; overflow:hidden; background:url(../images/right_bottom.jpg) no-repeat bottom;padding:15px;}
.news_ls{padding:0;height:auto; overflow:hidden;}
.news_ls li{border-bottom:1px dashed #ccc; line-height:30px; }
.news_ls li a{text-indent:10px; display:block;background:url(../images/icon_nav1_hover.gif) no-repeat left;width: 100%;height: 30px;overflow: hidden;}
.news_ls li a:hover{color:#fff; background:#2086DA;}

.prod_ls{padding:0;height:auto; overflow:hidden;}
.prod_ls li{ display:inline; float:left; width:206px; height:auto;overflow:hidden; padding:10px 17px; }
.prod_ls li a{display:block; color:#666; text-align:center;}
.prod_ls li a span{display: table;width: 200px;height: 148px;text-align: center;padding:2px;border:1px solid #ccc;}
.prod_ls li a span i{display: table-cell;vertical-align: middle;}
.prod_ls li a img{ max-width:200px; max-height:148px;}
.prod_ls li a p{ height: 20px; line-height: 20px;  overflow: hidden;}
.prod_ls li a .prod_title{display:block; height:24px; overflow:hidden;}
.prod_ls li a:hover{color:#f00;}
.pdt_news{ width:100%; height:auto; overflow:hidden; border-bottom:1px dotted #ccc;}
.pdt_news_tit{ font-size:15px;  font-family:"微软雅黑";  text-align:center; line-height:35px; }
.pdt_news_time{ text-align:center; line-height:25px; padding:5px; color:#2196e0; font-weight:normal;}
.edot_pro{ width:100%; height:auto; overflow:hidden;padding-top:10px;}
.inner_pages{ width:100%;  padding:20px 0;}
.inner_pages li a{ color:#333; font-family:"宋体";}
.inner_pages li a:hover{ color:#2196e0;}

.pdt_img{ width:100%; height:auto; overflow:hidden; }
.pdt_img img{ max-width:80%; height:auto; display:block; padding:3px; border:1px solid #ccc;margin: 10px auto;}
.pro_rules{ width:320px; height:auto; display:inline; float:left; padding-left:15px;}
.pro_rules p{ height:24px; line-height:24px; overflow:hidden;}

.next_ls{ padding:20px 0; text-align:center;}
.next_ls li{padding:2px 4px;}
.next_ls li a{ background:#ccc; cl}
		
.text_001{ width:250px; height:20px; background#fff; border:1px solid #e2e2e2; margin-left:10px;}
.text_002{ width:300px; height:60px; background#fff; border:1px solid #e2e2e2; margin-left:10px;}
.height_01{ height:30px; margin:10px 0;}
.submit_02{ margin:10px; padding:3px 6px; color:#222; cursor:pointer;}
.tbale_001{ width:370px; height:auto; margin:0 auto;}

.prod_ls_01{padding:0;height:auto; overflow:hidden;}
.prod_ls_01 li{ display:inline; float:left; width:206px; height:auto;overflow:hidden; padding:10px 17px; }
.prod_ls_01 li a{display:block; color:#666; text-align:center;}
.prod_ls_01 li a img{ width:200px; height:100px;padding:2px;border:1px solid #ccc;}
.prod_ls_01 li a .prod_title{display:block; height:24px; overflow:hidden;}
.prod_ls_01 li a:hover{color:#f00;}

.links{width:999px;height:30px; line-height:30px; margin:0px auto; overflow:hidden; border-top:1px solid #ccc;}
.links ul{padding:0;}
.links ul li{display:inline; padding:0 10px;}

.sidebar{ width:235px; float:left; display:inline; }
.sidebar h2{width:100%;height:20px;line-height:20px;padding-left: 5px;font-size: 16px;color:#1688C6;}
.sidebar h2 span{color:#999;padding-left: 5px;font-size: 12px;}
.subnav{ margin-top:10px}
.subnav h2{ padding-bottom:15px;}
.subnav>ul{   width:235px; overflow:hidden;background:url(../images/probg3.jpg) no-repeat bottom center;padding-bottom: 20px;}
.subnav img{ display:block}
.subnav .sub1{ width:195px; margin:auto; font-size:12px; text-align:left; margin-bottom:5px;}
.subnav .sub1>a{ color:#333;text-align:center; width:195px; height:31px;display:block; line-height:31px;  background:url(../images/li.jpg) no-repeat; text-align:left; padding-left:25px;}
.subnav .sub1>a:hover,.subnav .sub1.co>a{ color:#2489da;}
.subnav .sub2 a{ text-align:center; width:175px;  margin:auto;height:27px;display:block; line-height:27px;    text-align:left; padding-left:10px; border-bottom:dashed 1px #ccc}
.subnav .sub2 a{ color:#666; }
.subnav .sub2 a:hover,.subnav .sub2.ct>a{ color:#2489da;}
.subnav .sub2 .prosj a{border-bottom: none;text-indent: 15px;color: #666;}
.subnav .sub2 .prosj a.sj,.subnav .sub2 .prosj a:hover{color: #2489da;}
.subnav .sub3{ text-align:center; width:170px;  margin:auto;height:27px;display:block; line-height:27px;    text-align:left; }

.module_page{ width:100%;  line-height:20px;margin-top:30px;text-align:center; height:30px;}
.module_page a{ text-decoration:none; color:#555454; /*color:#0c2d63;*/color:#333; background:#e2e2e2; padding:3px 4px;}
.module_page span{ padding-left:20px; padding-right:20px;}
.module_page a:hover{ text-decoration:none; color:#fff; background:#117ed3}
.module_page  a.select{  color:#fff; background:#117ed3;}

.sear_tit{width: 680px;font-size: 16px;text-align: center;padding: 10px;}

.slideBox3{ width:100%; height:auto; margin:20px 0;overflow:hidden; position:relative; }
.slideBox3 .bds{ position:relative; height:auto; z-index:0;   }
.slideBox3 .bds li{ zoom:1; vertical-align:middle; }
.slideBox3 .bds img{ max-width:80%; height:auto; display:block; margin: 0 auto;}
.slideBox3 .prev,
.slideBox3 .next{ position:absolute; left:3%; top:50%; margin-top:-25px; display:block; width:32px; height:40px; background:url(../images/prev.png) left no-repeat;}
.slideBox3 .next{ left:auto; right:3%; background:url(../images/next.png) right no-repeat; }
.slideBox3 .prevStop{ display:none;  }
.slideBox3 .nextStop{ display:none;  }

.pro_ls{width: 100%;overflow: hidden;}
.pro_ls li{width: 100%;margin-bottom: 10px;overflow: hidden;position: relative;}
.pro_ls li .img{width: 162px;height:120px;display: table;border:1px solid #eee;text-align: center;float: left;}
.pro_ls li .img a{display: table-cell;vertical-align: middle;}
.pro_ls li .img a img{max-width: 162px;max-height: 120px;}
.pro_ls li .list_div{width: 530px;float: left;margin-left: 20px;position: relative;}
.pro_ls li .list_div h3{font-size: 14px;width: 100%;height: 30px;line-height: 30px;overflow: hidden;}
.pro_ls li .list_div p{width: 100%;height:72px;overflow: hidden;}
.pro_ls li .list_div .mr{position: relative;margin-top:10px;color: #717171;}
.pro_ls li .list_div a:hover{color: #2489da;}

.picList .clone span{width: 162px;height:120px;display: table;text-align: center;padding: 3px;border: 1px solid #ccc;}
.picList .clone span i{display: table-cell;vertical-align: middle;}
.picList .clone span i img{max-height: 120px;max-width: 162px;}











