<div class="page">
  <div class="ym">
    <a href="{$page_links.first_link}">首页</a>
    <a href="{$page_links.prev_link}">上一页</a>
    {foreach item=near_link key=near_page from=$page_links.nears_link}
       {if $near_page == $page_links.current_page}
        <a class="current">{$near_page}</a>
       {else}
        
       {/if}
    {/foreach}
    <a href="{$page_links.next_link}">下一页</a>
    <a href="{$page_links.last_link}">尾页</a>
  </div>
  <i>{$page_links.current_page}/{$page_links.page_count}</i>
</div>