.menu2{ position:absolute;  right:5%; height:28px;top:50%; -webkit-transform:translate(0,-50%)}
.menu2 span{ background:#000; height:23px; width:29px; display:block;-webkit-mask:url(../images/zz1.png) no-repeat;-webkit-mask-size:29px 23px}
.menu2 a{ color:#ffda29;}
.menu2 .word{ height:20px; line-height:20px;}
.boxmain{ margin:0px; width:100%;height:auto; overflow:hidden; background:#fff2da;}
.triedls{height:9px; position:absolute; left:0px; top:0px; width:100%; overflow:hidden;}
.toppic{  display:block;-webkit-mask:url(../images/zz2.png) repeat-x;display:block; width:100%;-webkit-mask-size:auto 10px; height:10px; background:#fc6b00;}
.prod-show{ margin:8px; height:auto; overflow:hidden; }
.cplib{position:relative;display:-webkit-box;display:box; width:100%; height:auto;}
.prlist_a{ width:80px; overflow:hidden;display:inline-table;margin-right:8px; height:auto;}
.pro-show{-webkit-box-flex:1;-moz-box-flex:1;-o-box-flex:1;-ms-box-flex:1;box-flex:1;font-size:1.11em; position:relative; }
.pitlte{ background:#fc6b00; font-size:1.1em; text-align:center; height:30px; line-height:30px; overflow:hidden; color:#fff;}
.prlist_a ul{ background:#ff9242; height:auto; width:100%; overflow:hidden;}
.prlist_a ul li{ border-bottom:1px solid #ffc8a0; height:24px; line-height:24px; overflow:hidden;}
.prlist_a ul li div{ padding:0px 10px;}
.prlist_a ul li div a{ color:#fff; font-size:0.9em;}
.prlist_a ul li div span{ color:#ffffff; font-size:0.8em; font-weight:bold; padding-right:5px;}
.xgcpo_t{ height:26px; width:100%; line-height:26px; position:relative; overflow:hidden; margin-bottom:5px;}
.xgcpo_t:before{ content:""; position:absolute; left:0px; width:100%; background:#ccc2ae; top:50%; margin-top:-1px; height:2px; }
.bright{ float:right; display:inline; overflow:hidden; background:#fc6b00; padding:1px 5px; color:#fff; border-left:2px solid #fff2da; font-size:0.9em;}
.bright a{ color:#fff;}
.cpszs_show{ width:100%; height:auto; overflow:hidden; position:relative;}
.cpszs_show ul{ width:102%; height:auto; overflow:hidden;}
.cpszs_show ul li{ width:50%; float:left; display:inline; overflow:hidden;}
.cpszs_show ul li dl{ margin-right:10px; height:auto; overflow:hidden;}
.cpszs_show ul li .imgs{ width:100%; height:auto; overflow:hidden;}
.imgword{ text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;height:30px;  margin-top:5px; line-height:30px; font-size:0.95em; text-align:center; background:#fc6b00; color:#fff; overflow:hidden; padding:0px 10px;}
.yuan{ width:100%; height:9px; overflow:hidden;  position:relative; background:#ffbd8c;}
.yuan:after{ position:absolute; left:0px; height:1px; top:0px; width:100%; background:#fff2da; content:"";}
.yuan .toppic{  display:block;-webkit-mask:url(../images/zz2.png) repeat;display:block; width:100%;-webkit-mask-size:auto 10px; height:10px; background:#ffbd8c;}
.toppicdown{  display:block;-webkit-mask:url(../images/zz2.png) repeat;display:block; width:100%;-webkit-mask-size:auto 10px; height:10px; background:#fff2da;
}
.sming-txt{ margin:8px; height:auto; overflow:hidden;}
.sming-txt ul li{ width:50%; float:left; display:inline; overflow:hidden;}
.decurlits{ background:#fd7b1c; width:100%; height:189px; overflow:hidden;}
.about-txt{ padding:10px 20px; height:auto; overflow:hidden;}
.titlea{ font-size:1.1em; color:#fff; height:30px; line-height:30px; overflow:hidden;text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;}
.pp{ height:50px; line-height:25px; font-size:0.9em; color:#fff; overflow:hidden;}
.others{ background:#f33536;}
.bordconts{ background:#ffbd8c; padding:5px 0px 5px; width:100%; overflow:hidden; height:auto;}
.morecirle{ position:absolute; top:50%; left:50%; height:50px; padding:10px 0px; z-index:100; width:70px; background:#fc6b00;-webkit-transform:translate(-35px,-35px); border-radius:100%; color:#fff; font-size:1.1em; text-align:center; line-height:25px; text-align:center; border:3px solid #ffbd8c;}
.morecirle a{ color:#fff; display:block;width: 40px;margin:auto;}

/*about.html*/
.boxmain_d{ height:auto; overflow:hidden; margin:10px; position:relative;}
.boxmain-top{ height:35px; overflow:hidden;  color:#fff; padding:0px 10px;background:#fc6b00; border-radius:10px;line-height:35px; position:relative; text-indent:10px; font-size:1.1em; z-index:100}
.more3{height:25px; padding:0px 7px; margin-top:5px;border-radius:10px; line-height:25px; text-indent:0px; display:block; text-align:center; color:#fc6b00; background:#fff; font-size:0.9em; float:right;  position:relative; z-index:99999; margin-left:5px; margin-right:5px; }
#up{ display: none;}
.hide-class{ height:auto; overflow:hidden; display:none; background:#ffffff;
border-bottom-right-radius:5px;
border-bottom-left-radius:5px; padding-bottom:5px; position:static; }
.hide-class:before{ background:#ffffff; height:18px; top:18px; width:100%; overflow:hidden; content:""; position:absolute; left:0px; z-index:0;}
.hide-class dl{ height:auto; overflow:hidden; line-height:30px; border-bottom:1px solid #ececec;  position:relative; margin:0 8px;}
.hide-class dl span{ float:right; display:inline;}
.hide-class dl:before{ content:"〉"; width:20px; height:20px; text-align:right; position:absolute; top:0px; right:0px; color:#999;}
.hide-class dl a{ display:block;padding:0px 0px 0px 5px;color:#969696}
.hide-class dl a:active {background:rgba(0,0,0,0.1);}
.font{ width:35px; text-align:center;background:#f1f4f5;position:absolute; top:35px; right:16px; display:none; z-index:9999; padding-top:10px;}
.fixed-font{ right:0px; top:35px; padding-top:0px;}
.font dl{ height:30px; line-height:30px; color:#333; text-align:center; }
.font dl.big,.font-big{ font-size:1.3em; }
.font dl.normal,.font-normal{ font-size:1.0em;}
.font dl.small,.font-small{ font-size:0.9em;}
.boxmain-ny{ padding:0px 6px; height:auto; overflow:hidden; position:relative; margin:6px auto 0px;}
.boxmain-ny-m{ height:auto; overflow: hidden; width:100%; }
.edite{ height:auto; overflow:hidden; padding:5px;color:#666666;min-height: 70px;}
/*about.html*/

/*prod.html*/
.pros_showa{ width:100%; height:auto; overflow:hidden; position:relative;}
.pros_showa ul{ width:101%; height:auto; overflow:hidden; position:relative; padding-top:10px;}
.pros_showa ul li{ width:33.3%; float:left; height:auto; overflow:hidden;}
.pros_showa ul li div{ margin:4px 8px; margin-left:0px;height:auto; overflow:hidden;}
.pros_showa ul li div p{  height:auto; overflow:hidden;}
.pros_showa ul li div .imgword{ display:block; height:30px; line-height:30px; text-align:center; font-weight:1em; background:#fc6b00; margin-top:5px;}
.pros_showa ul li a{ color:#fff;}

/*prod.html*/

/*news.html*/
.news_lista{ width:100%; height:auto; overflow:hidden;}
.news_lista ul{ margin:10px; height:auto; overflow:hidden;}
.news_lista ul li{ padding-bottom:10px; border-bottom:1px solid #ffb47c; height:auto; width:100%; cursor:pointer;}
.xwzs_show{ width:100%;  height:auto; overflow:hidden; position:relative;display:-webkit-box;display:box; padding-top:10PX; }
.nimg{ width:85px; overflow:hidden;display:inline-table;margin-right:8px; height:auto;}
.news_wprd{-webkit-box-flex:1;-moz-box-flex:1;-o-box-flex:1;-ms-box-flex:1;box-flex:1;font-size:1.11em; position:relative; }
.ntitle{ height:25px; line-height:25px; color:#333333; overflow:hidden;text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;}
.ndate{ background:#e8e8e8; height:20px; line-height:20px; padding-left:5px; color:#5c5c5c; overflow:hidden; font-size:0.8em; margin-bottom:3px; margin-top:2px;}
.nword{ height:20px; line-height:20px; overflow:hidden; color:#666666; font-size:0.9em;text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;}
.next1{ margin:10px auto; height:30px; width:89%;font-size:1em;line-height:30px; padding:5px 0px; overflow:hidden;text-align:center; }
.next1 a{ border-radius:4px; background:#ad5607; color:#fff;  cursor:pointer; margin-right:10px; height:30px; line-height:30px; padding:5px; }
.ntitle span{ float:right; display:inline; overflow:hidden;}
.timer{ background:url(../images/timer.png) no-repeat; background-size:16px auto; color:#585858; font-size:0.9em; height:16px; line-height:16px; overflow:hidden; padding-left:18px;}
/*news.html*/


/*news_d.html*/
.fixed-top{z-index:100000; position: absolute; top:0px; left:0px; width:100%; background:#fc6b00; height:35px; line-height:35px; color:#fff;
 font-size:1.14em; overflow:hidden; text-align:center;}
.ny-wrap{ margin:40px 6px 0px;}
.fixed-btn{ background:rgba(0,0,0,0.3);color:#1a0121; padding:0px 10px; float:right;font-size:1em;}
.back{ float:left;  text-indent:0px;  text-align:center;}
.back a{ color:#fff; display:block;}

.menulista{ float:right; display:inline; height:35px; overflow:hidden; background:rgba(0,0,0,0.3); color:#fff; padding:0px 10px;font-size:1em;}
.menulista span{ background:#fff; height:20px; width:28px; display:block;-webkit-mask:url(../images/zz1.png) no-repeat;-webkit-mask-size:28px 20px}
.menulista a{ color:#fff;}
.menulista .word{ height:35px; line-height:35px;}
.index_show{ margin:15px; height:auto; overflow:hidden; position:relative;}
.d_titles{ text-align:center; margin:0px auto; height:auto; overflow:hidden; margin:10px 0px; padding-bottom:5px;border-bottom:1px dotted #939393; }
.index_show .title1{ font-size:1.15em; color:#f33b47; height:30px; line-height:30px; margin-bottom:0px;text-align:center; overflow:hidden;text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;}
.index_show .title2{ margin:0px 10px; text-align:center; color:#333333; line-height:25px; margin:0px auto; }
.index_show .title2 a{ color:#333333;}
.d_titles2{ text-align:center; margin:0px auto; height:auto; overflow:hidden; margin:10px 0px; padding-bottom:5px;border:1px solid #0c1421; }
.title2 span{ height:30px; line-height:30px; color:#333333; text-align:center; }
.title2 span.bigd,.font-bigd{ font-size:1.3em; cursor:pointer; }
.title2 span.middled,.font-middled{ font-size:1.0em;cursor:pointer;}
.title2 span.smalld,.font-smalld{ font-size:0.8em;cursor:pointer;}
.box-m{ height:auto; overflow:hidden; position:relative; padding:0px 0px 0px;}
.box-m .edite{ padding:0px; color:#333333; border-bottom:1px dotted #939393; padding-bottom:10px; padding-top:5px;}
.inner_pages {color: #585858;margin-bottom:0px;padding-top: 10px;  }
.inner_pages li {    height: 25px;    line-height: 25px;margin-bottom:1px;  margin-bottom: 1px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.inner_pages a {    color: #585858;
}
.boxmain-m .baner{ width:80%; margin:0px auto; overflow:hidden; box-shadow:none}
/*news_d.html*/

.boxmain-m .imgword{ display:block; height:30px; line-height:30px; text-align:center; font-weight:1.1em; margin:0px auto; color:#fff; margin-top:5px; background:#f33b47; width:100%;}

@media screen and (min-width: 320px) and (max-width: 480px){
.process ul li .num{ font-size:150%; color:#706f6f; width:35px; margin-top:15px; float:left; display:inline;}
.pros_showa ul li{ width:50%; float:left; height:auto; overflow:hidden;}
.process ul li .choose{ padding-left:35px; font-size:0.9em;}
.process ul li{ line-height:20px;}
.prlist_a ul li{ border-bottom:1px solid #ffc8a0; height:22px; line-height:22px; overflow:hidden;}
.titlea{ font-size:1.1em; color:#fff; height:25px; line-height:25px; overflow:hidden;}
.pp{ height:40px; line-height:20px; font-size:0.9em; color:#fff; overflow:hidden;}
.morecirle{ position:absolute; top:50%; left:50%; height:40px; padding:5px 0px; z-index:100; width:50px; background:#fc6b00;-webkit-transform:translate(-30px,-30px); border-radius:100%; color:#fff; font-size:1em; text-align:center; line-height:20px; text-align:center; border:3px solid #ffbd8c;}



}
@media screen and (min-width: 480px) {
.cheshow ul{ width:99%; height:auto; overflow:hidden; position:relative; padding:10px 0.5% 0px;}
.cheshow ul li{ width:33.3%; float:left; height:auto; overflow:hidden;}
.picScroll .bd .pri_titles{ padding:5px;}
}

@keyframes lightheight{
0%{ line-height:40px;}
100%{ line-height:50px;}
}
@-webkit-keyframes lightheight{
0%{ line-height:24px;}
100%{ line-height:35px;}
}