<div class="header">
    	<a href="{$site_url}" class="home"><img src="{$site_url}images/home.png"></a>
    	<div class="logo">
    		<span><img src="{$logo}"/></span>
    	</div>
    	<a class="menuico" id="quickbar-showcats"><img src="{$site_url}images/menu.png"/></a>
    </div>
    <div id="focus" class="focus">
		<div class="hd">
			<ul>
				{foreach name=slidepics item=slidepic from=$global.slidepics}
				<li></li>
				{/foreach}
			</ul>
		</div>
		<div class="bd">
			<ul>
				{foreach name=slidepics item=slidepic from=$global.slidepics}
				<li><a href="{$slidepic.link}"><img _src="{$slidepic.image}" src="{$slidepic.image}" /></a></li>
				{/foreach}
			</ul>
		</div>
	</div>
	<div class="fastnav">
		<img src="{$site_url}images/nav_bg2.png" class="nav_bg"/>
		<ul>
		{$limit = 4}
        {foreach item=nav_list from=$navs}    
			<li>
				<div class="circle">
					<a href="{$nav_list.link}">
						<div class="icon"><span>{$nav_list.icon}</span></div>
						<h3>{$nav_list.name}</h3>
					</a>
				</div>
			</li>
			{if $nav_list@index+1 eq $limit}{break}{/if}
        {/foreach}
		</ul>
	</div>