.category{ height:auto; overflow:hidden; margin:0px auto; width:181px; border:1px solid #f9bc86; background:#fff; }
.category ul li a{display:block; background:url(../images/link2.png) no-repeat 160px 15px #fb9b46; height:41px; padding-left:14px;font-size:14px; line-height:41px; border-bottom:1px solid #f8aa66; overflow:hidden;}
.category ul li a:link,.category ul li a:visited{ color:#fff; }
.category ul li a:hover{ color:#ffffff; background:url(../images/link1.png) no-repeat 158px 18px  #f97600;  }
ul.second{ width:100%; height:auto; overflow:hidden; margin-bottom:8px}
ul.second li a{font-size:12px;height:auto; height:33px; line-height:33px;padding-left:35px;margin-bottom:0px; background:none; border-bottom:1px solid #faf0e7; }
ul.second li a:link,ul.second li a:visited{ color:#5b5a5a; background:none;}
ul.second li a:hover{color:#f97600; background:none;}
ul.third li a{width:100%; font-size:12px;height:auto; line-height:28px; padding-left:48px; height:28px; display:block; font-weight:normal;border-bottom:none; background:url(../images/thirdicon_l.jpg) 55px no-repeat;}
ul.third li a:link,ul.third li a:visited{ color:#666;}
ul.third li a:hover{color:#f97600; }

.category ul.third { display:none; margin:0px;}
.category  ul.third { display:none; margin:0px;}
.category  ul.second ul.third { display:none; margin:0px;}
.category ul.second{ display:none;}

.category  li.current ul.second li.current ul.third{ display:block; margin:0px;}
.category  li.current ul.second { display:block;}

.category  li a.selected{  color:#ffffff; background:url(../images/link1.png) no-repeat 158px 18px  #f97600; }
.category  li ul.second li a.selected {color:#f97600;font-weight:normal; background:none;}
.category  li ul.second li ul.third li a.selected{ color:#f97600;}
