<header>    
     <div class="header">
        <a href="{$site_url}" class="home"></a>
        <div class="fl logo_wrap"><a href="{$site_url}" class="logo"><img src="{$logo}"></a></div>
        <a class="menuico" id="quickbar-showcats"><img src="{$site_url}images/icon6.png" /></a>
      </div>
     <div id="focus" class="focus">
      <div class="bd">
        <ul>
          {foreach item=slidepic from=$global.slidepics}
            <li><a href="{$slidepic.link}"><img src="{$slidepic.image}"  class="swiper-no-swiping"></a></li>
          {/foreach}
        </ul>
      </div>
      <div class="hd">
          <ul></ul>
      </div>
    </div>
</header>

