
<div id="slideBox" class="slideBox ny">
	<div class="bd">
		<ul>
			{foreach item=slidepic from=$global.ban}
				<li>
					<a href="{$slidepic.link}">
						<img src="{$slidepic.image}" alt="{$slidepic.title}">
					</a>
				</li>
			{/foreach}
		</ul>
		<a class="prev" href="javascript:void(0)"></a>
		<a class="next" href="javascript:void(0)"></a>
	</div>
	<div class="top">
		<a href="{$site_url}" title="返回首页" class="logo">
			<img src="{$logo}" alt="{$title}">
		</a>
		<div class="navBar">
			<ul class="nav clearfix">								
				{$limit = 5}
				{if $navs|count lt $limit}{$limit=$navs|count}{/if}
				<li class="m" style="width:{100/($limit+1)}%">
					<h3><a  href="{$site_url}">网站首页</a></h3>
				</li>

				{foreach item=nav from=$navs}
				<li class="m {if $nav.current}current{/if}" style="width: {100/($limit+1)}%">
					<h3><a href="{$nav.link}">{$nav.name}</a></h3>
					{if $nav.childmenu}
					<ul class="sub">
						{foreach item=nav_list from=$nav.childmenu}
						<li class="{if $nav_list.current}current{/if}">
							<a href="{$nav_list.link}">{$nav_list.name}</a>
						</li>
						{/foreach}
					</ul>
					{/if}
				</li>
				{if $nav@index+1 gte $limit}{break}{/if}
		        {/foreach}	
				
				<li class="block" style="left: 251px;"></li>
			</ul>
		</div>
		<form action="{$search_action}" method="GET" class="search">
			<input type="text" name="s" value="请输入搜索关键字" class="text searchkey">
			<input type="submit" class="submit" value="">
		</form>
	</div>
</div>

