<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>176PC模板5月-科技网络(白蓝)</title>
	<link rel="stylesheet" href="css/css.css">
	<script type="text/javascript" src="js/script.js"></script>
</head>
<body>
	<div id="slideBox" class="slideBox ny">
		<!-- <div class="hd">
			<ul><li>1</li><li>2</li><li>3</li></ul>
		</div> -->
		<div class="bd">
			<ul>
				<li><a href=""><img src="images/banner_01.jpg" /></a></li>
				<li><a href=""><img src="images/banner_01.jpg" /></a></li>
				<li><a href=""><img src="images/banner_01.jpg" /></a></li>
			</ul>
			<a class="prev" href="javascript:void(0)"></a>
			<a class="next" href="javascript:void(0)"></a>
		</div>
		<div class="top">
			<a href="" title="返回首页" class="logo">
				<img src="images/logo.png" height="86" width="108" alt="">
			</a>
			<div class="navBar">
				<ul class="nav clearfix">								
					<li class="m">
						<h3><a  href="">首页</a></h3>
					</li>

					<li class="m">
						<h3><a  href="">关于我们</a></h3>
						<ul class="sub">
							<li><a href="#">公司简介</a></li>
							<li><a href="#">企业文化</a></li>
							<li><a href="#">视频展示</a></li>
							<li><a href="#">人才招聘</a></li>
						</ul>
					</li>
					
					<li class="m ">
						<h3><a  href="">最新资讯</a></h3>
						<ul class="sub">
							<li><a href="#">公司简介</a></li>
							<li><a href="#">企业文化</a></li>
							<li><a href="#">视频展示</a></li>
							<li><a href="#">人才招聘</a></li>
						</ul>
					</li>
					
					<li class="m">
						<h3><a  href="">产品支持</a></h3>
						<ul class="sub">
							<li><a href="#">公司简介</a></li>
							<li><a href="#">企业文化</a></li>
							<li><a href="#">视频展示</a></li>
							<li><a href="#">人才招聘</a></li>
						</ul>
					</li>

					<li class="m">
						<h3><a  href="">云端技术</a></h3>
						<ul class="sub">
							<li><a href="#">公司简介</a></li>
							<li><a href="#">企业文化</a></li>
							<li><a href="#">视频展示</a></li>
							<li><a href="#">人才招聘</a></li>
						</ul>
					</li>

					<li class="m">
						<h3><a  href="">数据安全</a></h3>
						<ul class="sub">
							<li><a href="#">公司简介</a></li>
							<li><a href="#">企业文化</a></li>
							<li><a href="#">视频展示</a></li>
							<li><a href="#">人才招聘</a></li>
						</ul>
					</li>
					
					<li class="block" style="left: 251px;"></li>
				</ul>
			</div>
			<form action="" class="search">
				<input type="text" value="请输入搜索关键字" class="text searchkey">
				<input type="submit" class="submit" value="">
			</form>
		</div>
	</div>
	<div class="content">
		<div class="left">
			<div class="leftitle">
				<h2>最新资讯</h2>
				<h3>NEWS</h3>
			</div>
			<div class="navigation">
				<ul class="aboutNav">														
					<li><a href="" class="cu">G宝盆百度推广</a>
						<dl>
	                       	<dd><a href="">网盟推广</a></dd>
	                       	<dd><a href="" class="cu1">其他推广</a>
		                       	<dl>
		                          	<dt><a href="" class="cu2">成品网站</a></dt>
		                          	<dt><a href="">定制网站</a></dt>
		                        </dl>
	                       	</dd>
	                       	<dd><a href="">二级分类</a></dd>
	                   </dl>
					</li>
					<li><a href="">G宝盆增值业务</a></li>
					<li><a href="">G宝盆400业务</a></li>
					<li><a href="">G宝盆定制业务</a></li>					
					<li><a href="">G宝盆域名注册</a></li>
				</ul>
			</div>
		</div>
		<div class="right">
			<div class="local">您当前位置：<a href="">首页</a> - <a href="">最新资讯</a> - 最新资讯</div>
			<div class="info pro_det">
				<h5 class="te">AC6800监控系统</h5>
				<div id="tFocus">
					<em></em>
					<div class="prev" id="prev"></div>
					<div class="next" id="next"></div>
					<ul id="tFocus-pic">
						<li><a href="#"><img src="images/pro_det_03.jpg" height="291" width="400" alt=""></a></li>
						<li><a href="#"><img src="images/pro_det_03.jpg" height="291" width="400" alt=""></a></li>
						<li><a href="#"><img src="images/pro_det_03.jpg" height="291" width="400" alt=""></a></li>
						<li><a href="#"><img src="images/pro_det_03.jpg" height="291" width="400" alt=""></a></li>
						<li><a href="#"><img src="images/pro_det_03.jpg" height="291" width="400" alt=""></a></li>
					</ul>
					<div id="tFocusBtn">
						<a href="javascript:void(0);" id="tFocus-leftbtn">上一张</a>
						<div id="tFocus-btn">
							<ul>
								<li class="active"><img src="images/small_03.jpg" height="54" width="76" alt=""></li>
								<li><img src="images/small_03.jpg" height="54" width="76" alt=""></li>
								<li><img src="images/small_03.jpg" height="54" width="76" alt=""></li>
								<li><img src="images/small_03.jpg" height="54" width="76" alt=""></li>
								<li><img src="images/small_03.jpg" height="54" width="76" alt=""></li>
							</ul>
						</div>
						<a href="javascript:void(0);" id="tFocus-rightbtn">下一张</a>
					</div>
				</div>
				<p>
					在他们一起创立苹果电脑前，沃兹已经是一个电子学骇客，自1975年，他在惠普上班和帮斯蒂夫·乔布斯设计Atari电子游戏。当时沃兹向由Alex Kamradt开设的分时电脑系统服务公司Call Computer租用小型电脑使用。当时的电脑只能够以纸张印字输出，而由德州仪器推出的Silent 700是当时最尖端的热升华印字机型号。沃兹曾看到《大众电子学》（Popular Electronics）杂志介绍如何自制电脑终端机，使用现成的零件，Woz设计了一部能够和电脑沟通的电传印字机。该部只能印出大阶英文字符的印字机能印出每版24行，每行 40个字，而且能够接驳到Call Computer旗下的小型电脑使用。Call Computer的老板Alex Kamradt代理了这个设计，并售出少数目的机器。
					从1975年起沃兹开始出席家酿计算机俱乐部（Homebrew Computer Club）的活动，当时新型的微型电脑如Altair 8800和IMSAI触发Woz将微处理内建于其电传印字机之内，成为一部完整的电脑。
					当时在市面上能弄到的微机处理器只有179美元的英特尔8080和170美元的摩托罗拉6800。沃兹软喜欢6800，但两者都超出他的预算范围。所以他只能透过观察和学习，在纸上设计电脑，并等待着能买得起处理器的那天。
					1976年，当MOS Technology发表只需25美元的著名处理器6502时，沃兹为这颗处理器编写了一个BASIC程式语言版本，再设计一部可运行这种BASIC程式语言的电脑。由于6502的设计者和6800是相同的（因为MOS Technology是由Motorola的前雇员成立的），故此Woz早前在纸上设计，建基于6800的电脑，只需作出轻微修改就可以使用6502作为微处理器。沃兹完成机器后，把它带到“家酿电脑俱乐部”的聚会，并向电子同行们展示它的系统。在那里，他遇到了老朋友斯蒂夫·乔布斯。乔布斯意识到这些细小的业余机器的商业潜力。
					        1971年，16岁的斯蒂夫·乔布斯和21岁的斯蒂夫·沃兹尼克经由朋友介绍而结识。1976年，乔布斯成功说服沃兹组装机器之外再拿去推销，他们的另一位朋友，罗·韦恩（Ron Wayne）也加入，三人在1976年4月1日成立了苹果电脑公司。
					同年5月，乔布斯与一间本地电脑商店The Byte Shop洽商，负责人表示如果这部电脑完全装配好才会感兴趣。店主保罗·泰瑞尔（Paul Terrell）考虑得更长远，他想订购50部，并在交货时支付每部500美元。取了这份订单后，为了筹备资金，出售自己各种值钱的东西筹款(像计算机和一台大众面包车)。乔布斯到大型电子零件分销商Cramer Electronics订购零件，店铺的信用部经理问乔布斯如何结帐，他说：“我有一份Byte Shop向我订50部电脑的订单，付款条件是货到付款，如果你给我30天付款期，我可以在付款期限内把电脑装配好，送货给泰瑞尔后再付清帐款。”那名经理致电当时正在太平洋树林市出席IEEE电脑讨论会的泰瑞尔查询，惊讶于乔布斯的坚韧，泰瑞尔向经理确实订单说如果乔布斯送货给他的话，乔布斯肯定有足够的钱付款。他们三人与两名朋友借用乔布斯家人的车房日夜不分地装配和进行马拉松式的测试，终于在期限前送货给泰瑞尔，泰瑞尔也如当初承诺付钱给乔布斯，使他付清零件的帐单，而且赚了一笔可观的赢利用来庆祝和留作本钱。
					这部后来被命名Apple I的电脑有几个显着的特点。当时大多数的电脑没有显示器，Apple I却以电视作为显示器。对比起后来的显示器，Apple I的显示功能只能缓慢地每秒显示60字。此外，主机的ROM包括了引导（Bootstrap）代码，这使它更容易启动。最后，因为保罗·泰瑞尔的坚持下，沃兹也设计了一个用于装载和储存程序的卡式磁带接口，以1200位每秒的高速运行。虽然 Apple I的设计相当简单，但它
				</p>
				<div class="bbs">
                <!-- JiaThis Button BEGIN -->
                    <div class="jiathis_style">
                        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                        <span class="jiathis_txt">分享到：</span>
                        <a class="jiathis_button_qzone"></a>
                        <a class="jiathis_button_tsina"></a>
                        <a class="jiathis_button_tqq"></a>
                        <a class="jiathis_button_renren"></a>
                        <a class="jiathis_button_baidu"></a>
                        <a class="jiathis_button_douban"></a>
                        <a class="jiathis_button_tsohu"></a>
                        <a class="jiathis_button_taobao"></a>                       
                        <a class="jiathis_counter_style"></a>
                    </div>
                        <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                    <!-- JiaThis Button END -->				
				</div>
				<div class="other">
			        <h3><a href='###'>上一篇：用什么突出重围刷爆朋友圈？下午茶里有几种蓝色？</a></h3>
			        <h3><a href='###'>下一篇：“全面二孩”时代 国产奶粉遭洋奶粉“围攻”</a></h3>
			    </div> 
			</div>
		</div>
	</div>
	<div class="tailbg">
		<div class="tail">
			<div class="link">	
				<h3 class="linktit">友情链接</h3>
				<div class="picScroll f_l">
					<ul>
						<li><a href=""><img src="images/link_20.jpg" height="42" width="95" alt=""></a></li>
						<li><a href=""><img src="images/link_22.jpg" height="42" width="95" alt=""></a></li>
						<li><a href=""><img src="images/link_24.jpg" height="42" width="95" alt=""></a></li>
						<li><a href=""><img src="images/link_26.jpg" height="42" width="95" alt=""></a></li>
						<li><a href=""><img src="images/link_28.jpg" height="42" width="95" alt=""></a></li>									
					</ul>
				</div>	
			</div>
			<div class="second_nav w">
				<a href="">网站首页</a> ·
				<a href="">企业简介</a> ·
				<a href="">最新资讯</a> ·
				<a href="">超值甄选</a> ·
				<a href="">招商加盟</a> ·
				<a href="">联系我们</a>
			</div>
			<div class="footer">
				版权所有© 2015厦门易尔通网络科技有限公司     
				技术支持：<a href="">厦门易尔通网络科技有限公司</a>    
				人才网支持：<a href="">厦门人才网</a>  闽ICP备88888888号
			</div>
		</div>
	</div>
	
<script type="text/javascript" src="js/jquery-1.9.1.min.js" ></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.js"></script>	
<script type="text/javascript" src="js/zzsc.js"></script>
<script type="text/javascript" src="js/function.js"></script>
<script type="text/javascript" src="js/products.js"></script>

</body>
</html>