@charset "utf-8";
*{margin:0px;padding: 0px;}
a,a:hover,a:visited{text-decoration: none;}
a{color: #333;cursor: pointer;}
a:hover{color: #f7b73c;}
a img{ border:none;}
i{display: table-cell;vertical-align: middle;text-align: center;}
i img{max-width: 100%;max-height: 100%;}
body{font-family: "Microsoft Yahei";font-size: 14px;color:#333;background: #fff;}
ul,li{list-style-type: none;}
hr{border:1px solid #d0d0d0;}

.wrap{width: 100%;min-width: 1200px;height: auto;overflow-x: hidden;}
.fl{float: left;}
.fr{float: right;}
.c{width: 1200px;height: auto;overflow: hidden;margin: 0 auto;}

.header{width: 100%;height: 86px;background: #f7b73c;}
.head{width: 1200px;height: 86px;margin: 0 auto;}
.logo{width: 272px;height: 86px;}
.logo a{width: 272px;height: 86px;display: table-cell;vertical-align: middle;text-align: center;}
.logo a img{max-width: 100%;max-height: 100%;}
.nav{width: 928px;}
.nav ul li{width:82px;height: 86px;line-height: 86px;text-align:center;display: inline-block;float: left;border-right: 1px solid #f5d08d;position: relative;}
.nav ul li a{/*width:106px;*/height: 86px; display: block;padding: 0 10px;overflow: hidden;}
.nav ul li a:hover,.nav ul li.cu a{color: #c22a29;background: url(../images/hover.png) center 60px no-repeat;}
.nav ul li ul{margin: 0px;padding: 0px;width: 220px;height: auto;overflow: hidden;position: absolute;left: 50%;margin-left: -110px; z-index: 5;display: none;}
.nav ul li ul li{width: 220px;height: 37px;line-height: 37px;border-bottom: 1px solid #7b7f83;overflow: hidden;}
.nav ul li ul li a,.nav ul li.cu ul li a{width: 200px;height: 37px;background: #666;filter:alpha(opacity=90);opacity: 0.9;color: #f7b73c;}
.nav ul li ul li a:hover{background: #eab040;color: #fff;}

.banner{width: 1920px;height: 500px;position: relative;left: 50%;margin-left: -960px;}
.banner0{width: 1200px;height: 313px;margin-bottom: 30px;}
.slider{position: relative;}
.slider .hd{position: absolute;left: 50%;bottom: 70px;}
.slider .hd0{position: absolute;left: 50%;bottom: 20px;}
.slider .hd ul li{width: 10px;height: 10px;background: #f7b73c;float: left;margin: 0 5px;}
.slider .hd ul li.on{background: #f02101;}

.bg{width: 100%;height: 335px;background: #e5eaf0;position: relative;}
.intro{width: 1200px;height: 314px;padding: 20px 0px;background: #f7b73c;position: absolute;bottom: 30px;left: 50%;margin-left: -600px;}
.left{width: 359px;height: 314px;border-right: 1px solid #ffca63;padding: 0px 20px 0px 30px;overflow: hidden;}
.tit{width: 359px;white-space: nowrap;overflow: hidden;font-size: 18px;line-height: 38px;color: #fff;margin-bottom: 10px;}
.tit a{color: #fff;}
.tit a:hover{color: #f02101;}
.news_eg{height: 70px;margin-bottom: 20px;}
.date{width: 70px;height: 70px; background: #fff;color: #f7b73c;text-align: center;}
.date .day{font-size: 18px;padding-top: 13px;}
.date .month{font-size: 14px;}
.nr{width: 269px;height: 70px;overflow: hidden;padding-left: 20px;}
.eg_tit{font-size: 16px;line-height: 32px;color: #fff; white-space: nowrap;text-overflow:ellipsis;overflow: hidden; padding-right: 5px;}
.eg_tit a{color: #fff;}
.eg_intro{font-size: 14px;line-height: 30px; color: #ab7d29;}

.center{width: 379px;height: 314px;border-right: 1px solid #ffca63;padding: 0px 20px 0px 20px;overflow: hidden;}
.pic,.pic i{width: 200px;height: 249px;}
.jianjie{width: 158px;height: 250px;text-indent: 2em;color: #ab7d29;font-size: 14px;line-height: 25px; margin-left: 20px;overflow: hidden;}
.jianjie a{color: #ab7d29;}
.jianjie a:hover{color: #333;}
.right{width: 330px;height: 314px;padding: 0px 20px 0px 20px;overflow: hidden;}
.right p{color: #ab7d29;font-size: 16px;line-height: 30px;width: 330px;overflow: hidden;}
.right p.company{color: #fff0d4;font-size: 18px;height: 30px;}
.tel{height: 90px;background: url(../images/tel.png) 5px center no-repeat;display: table-cell;vertical-align: middle;}
.tel .num{text-indent: 70px;font-size: 16px;}
.tel .num .red{color: #f02101;font-size: 28px;}

.bt{height: 126px;line-height: 126px;text-align: center;}
.bt,.bt a{color: #333;font-size: 24px;background: url(../images/bt.jpg) center 92px no-repeat;display: block;}
.bt a:hover{color: #f7b73c;background: url(../images/bt_h.png) center 92px no-repeat;}

.case{width: 1920px;height: 700px;background: url(../images/bg.jpg) center center no-repeat;position: relative;left: 50%;margin-left: -960px;}
.case_slide{width: 1200px;/*height: 408px;*/overflow: hidden;}

/*成功案例补充*/
/*.anli{height: 282px;border:1px solid red;}
.anli ul li{width: 280px;height: 280px; border-radius: 100%;border: 1px solid #f7b73c;display:inline-block;margin: 0 20px; }
.anli ul li a{width: 260px;height: 260px;display: block;margin: 10px;background: #f7b73c;border-radius: 100%;}
.anli ul li a .middle{width: 260px;height: 260px;display: table-cell;vertical-align: middle;text-align: center;color: #fff;line-height: 26px;}
.anli ul li a .middle .where{font-size: 18px;line-height: 28px;height: 28px;padding:0 15px;overflow: hidden;}
.anli ul li a .middle .what{font-size: 14px;height: 26px;padding:0 15px;overflow: hidden;}
.anli ul li a .middle .plus{font-size: 12px;height: 26px;padding:0 15px;overflow: hidden;}*/

.anli{width: 1200px; height: 212px;text-align: center;margin-top: 50px;}
.anli ul li{width: 210px;height: 210px; border-radius: 100%;border: 1px solid #f7b73c;display:inline-block;margin: 0 15px;float: left; }
.anli ul li a{width: 190px;height: 190px;display: block;margin: 10px;background: #f7b73c;border-radius: 100%;}
.anli ul li a .middle{width: 190px;height: 190px;display: table-cell;vertical-align: middle;text-align: center;color: #fff;line-height: 26px;}
.anli ul li a .middle .where{font-size: 18px;line-height: 28px;height: 28px;padding:0 15px;overflow: hidden;}
.anli ul li a .middle .what{font-size: 14px;height: 26px;padding:0 15px;overflow: hidden;}
.anli ul li a .middle .plus{font-size: 12px;height: 26px;padding:0 15px;overflow: hidden;}

/*.anli ul li:hover{border: 1px solid #fff;}
.anli ul li a:hover{background: #fff;}*/
.anli ul li a:hover .middle{color: #f02101;}




.product{height: 560px;width: 100%;background: #f3f3f3;}
.scroll{width: 542px;height: 391px;overflow: hidden;background: #fff;}
.pro_slider{width: 542px;height: 391px;text-align: center;position: relative;}
.pro_slider .bd ul li{width: 542px;height: 391px;}
.pro_slider .bd ul li a{display: block;width: 542px;height: 299px;}
.pro_slider .bd ul li a i{width: 542px;height: 299px;}
.pro_slider .bd ul li .name{font-size: 18px;line-height: 30px;margin-top: 10px;height: 30px;overflow: hidden;}
.pro_slider .bd ul li .advantage{font-size: 14px;line-height: 26px;height: 26px;overflow: hidden;}

.pro_slider .hd{position: absolute;left: 50%;bottom: 17px;}
.pro_slider .hd ul{position: relative;left: -50%;}
.pro_slider .hd ul li{width: 52px;height: 2px;background: #999;float: left;margin:0 4px;display: inline-block;}
.pro_slider .hd ul li.on{background: #f7b73c;}

.pro_eg{width: 658px;height: 390px;}
.pro_eg ul li{float: left;margin-left: 24px;}
.pro_pic,.pro_pic i{width: 305px;height: 169px;}
.pro_nr{width: 305px;height: 220px; background: #c1c1c1;color: #fff;}
.pro_nr dt{width: 245px;margin: 0 30px;padding-top:10px;text-align: center;font-size: 18px;height: 40px;line-height: 40px;overflow: hidden;}
.pro_nr dd{width: 245px;height: 104px; margin: 0 30px;font-size: 14px;line-height: 26px;}
.pro_nr .more{width: 136px;height: 32px;line-height: 32px;text-align: center;margin: 10px auto;background: #fff;color: #333;}
.pro_eg ul li a:hover .pro_nr{background: #f7b73c;color: #fff;}
.pro_eg ul li a:hover .pro_nr .more{color: #f7b73c;}

.linker{height: 70px;margin-bottom: 50px;}
.linker .prev,.linker .next{height: 70px;width: 30px;display: inline-block;}
.linker .prev{background: url(../images/prev_icon.png) center center no-repeat;margin-right: 2px;}
.linker .prev:hover{background: url(../images/prev_icon_h.png) center center no-repeat;}
.linker .next{background: url(../images/next_icon.png) center center no-repeat;}
.linker .next:hover{background: url(../images/next_icon_h.png) center center no-repeat;}

.linker .link{width: auto;height: 70px;overflow: hidden;margin:0 auto;}
.link ul{width: 1138px;height: 70px;overflow: hidden;}
.link ul li{width: 146px;height: 70px;float: left; display: inline-block;margin: 0 8px;}
.link ul li a{width: 144px;height: 68px;display:table-cell;vertical-align: middle;text-align: center;}
.link ul li a img{max-width: 100%;max-height: 100%;border:1px solid #dadada;}
.link ul li a:hover img{border: 1px solid #f7b73c;}

.footer{width: 100%;height: 150px;}
.links{width: 100%;height: 50px;background: #333;overflow: hidden;}
.click{height: 50px;overflow: hidden;background: url(../images/link.png) left center no-repeat;color: #999;font-size: 14px;line-height: 50px;text-indent: 38px;}
.click ul{display: inline;text-indent: 0px;}
.click ul li{display: inline-block;margin: 0 4px;}
.click ul li a{display: block;color: #999;}
.click ul li a:hover{color: #f7b73c;}

.copyright{width: 100%;height: 100px;overflow: hidden;background: #f7b73c;}
.cr{font-size: 14px;line-height: 28px;color: #ffe5b2; text-align: center;padding-top: 10px;}
.cr a{color: #ffe5b2;}
.cr a:hover{color: #fff;}

.public{width: 1200px;height: auto;min-height: 500px;margin: 0 auto;}
.leftside{width: 250px;height: auto;position: relative;}
.leftside .left_top{width: 250px;height: 92px;background: url(../images/left_top.png) left top no-repeat;position: absolute;top: -92px;left: 0px;z-index: 5;}
.leftside .left_top .main{width: 220px;margin-right: 30px;height: 92px;background: #f7b73c;text-align: center;overflow: hidden;}
.leftside .left_top .main .class{width: auto;min-width: 92px;max-width: 180px;height:40px;overflow: hidden;margin: 0 20px;display: inline-block; padding-top:30px;text-align: left;font-size: 14px;line-height: 20px;}
.class .en{color: #666;white-space: nowrap;}
.class .en:first-letter{color: #f02101;font-size: 40px;line-height: 40px;float: left;}
.class .cn{color: #333;white-space: nowrap;}

.left_list{width: 220px;margin-right: 30px;height: auto; background: #eee;padding: 18px 0;}
.left_list ul.first{width: 220px;height: auto;border-top: 1px solid #d0d0d0;}
.left_list ul li a{width: 180px;height: 40px;border-bottom: 1px solid #d0d0d0;line-height: 40px;font-size: 18px;color: #333;display: block;padding:0 10px 0 30px;overflow: hidden; }
.left_list ul li a:hover,.left_list ul li a.cu1{color: #f02101;background: #f7b73c;}
.left_list ul li ul li a{font-size: 16px;color: #666;border-bottom: 1px dashed #d0d0d0;text-indent: 10px;}
.left_list ul li ul li a:hover,.left_list ul li ul li a.cu2{background: none;}
.left_list ul li ul li ul li a{font-size:14px;height: 30px;line-height: 30px;color: #999;border-bottom:none;text-indent: 20px; }
.left_list ul li ul li ul li a:hover{text-decoration: underline;}
.second,.third{display: none;}

.rightside{width: 950px;height: auto;overflow: hidden;margin-bottom: 30px;}
.right_top{width: 920px;height: 50px;background: #f7b73c;padding-left: 30px;overflow: hidden;margin-bottom: 20px;}
.title{width: 200px;text-indent: 20px;font-size: 16px;line-height: 50px;height: 50px;color: #333;background: url(../images/dot.png) 5px center no-repeat;overflow: hidden;}
.here,.here a{width: 650px;height: 50px;line-height: 50px;color: #333;font-size: 14px;text-align: right;overflow: hidden;}
.here{margin-right: 20px;}
.here a:hover,.here a.in{color: #f02101;}
.right_below{line-height: 28px;height: auto;width: 890px;padding:0 30px;overflow: hidden;}
.content{width: 890px;height: auto;overflow: hidden;}
.content p{text-indent: 2em;}
.content img{max-width: 100%;max-height: 100%;}

.hint{width: 100%;height: 36px;margin: 10px auto; color: #bdbdbd;font-size: 18px;line-height: 36px;text-align: center;}
.news_list{width: 890px;height: auto;overflow: hidden;margin-bottom: 20px;}
.news_list li a{font-size: 14px;line-height: 36px;height: 36px;overflow: hidden;display: block;}

.next1{font-size: 14px;margin: 10px auto;text-align: center;}
.next1 a{color: #aeaeae;display: inline-block;padding: 0 4px;margin: 0 4px;}
.next1 a:hover{color: #fff;background: #f7b73c;}
.next1 a.on1{color: #fff;background: #f7b73c;}

.pros{width:100%;height: auto;overflow: hidden; }
.pro{width: 435px;height: 290px;display: inline-block;float:left;margin: 0 5px 10px;}
.pro a{width: 435px;height: 290px;display: block;}
.pro a i{width: 435px;height: 240px;display: block;}
.pro a dd{width: 415px;height: 50px;line-height: 50px;font-size: 14px;text-align: center;background: #c1c1c1;color: #333;padding: 0 10px;overflow: hidden;}
.pro a:hover i{width: 431px;height: 236px;display: block;border: 2px solid #f7b73c;}
.pro a:hover dd{color: #fff;background: #f7b73c;}

.pro_img i{width: 435px;height: 240px;}
.pro_des{width: 435px;height: 240px;margin-left: 20px;overflow: hidden;}
.pro_des_dt{width: 100%;height: auto;overflow: hidden;}
.pro_des dt,.pro_des_dt dt{font-size: 18px;line-height: 50px;max-height: 100px;overflow: hidden;margin: 20px 0 0;}
.pro_des dd,.pro_des_dt dd{font-size: 14px;line-height: 24px;}
.pro_det{width: 100%; line-height: 26px;height: auto;overflow: hidden;margin: 12px 0 15px;}
.pro_det img{max-width: 100%;max-height: 100%;}

.next2{margin: 8px 0 15px;}
.next2 a:hover .underline{text-decoration: underline;}

.pro_imgs{width: 100%;height: 240px;overflow: hidden;}
.main_img{width: 750px;height: 240px;}
.main_img ul li i{width: 750px;height: 240px;}
.qian,.hou{width: 70px;height: 240px;display: inline-block;}
.qian{background: url(../images/qian.png) center center no-repeat;}
.qian:hover{background: url(../images/qian_h.png) center center no-repeat;}
.hou{background: url(../images/hou.png) center center no-repeat;}
.hou:hover{background: url(../images/hou_h.png) center center no-repeat;}

.news_det_tit{font-size: 18px;line-height: 30px;color: #333;text-align: center;}
.news_det_tim{font-size: 14px;line-height: 44px;color: #999;text-align: center;}
.news_det_tim a{color: #999;}
.news_det_tim a:hover{color: #d21a1c;}
.news_det_pic{margin: 16px 0px;}
.news_det{width: 890px;height: auto;overflow: hidden; font-size: 14px;line-height: 28px;color: #333;text-indent: 2em;margin-bottom: 16px;}
.news_det img{max-width: 100%;max-height: 100%;margin: 16px 0px;}

.items{width: 890px;height: auto;overflow: hidden;}
.item{width: 430px;height: 180px;margin: 0 7px 30px;float: left;}
.item_pic,.item_pic a i{width: 180px;height: 180px;}
.item_pic a{width: 180px;height: 180px;display: block;}
.item_pic a:hover i{width: 176px;height: 176px;}
.item_pic a:hover i img{border: 2px solid #f7b73c;}
.item_det{width: 230px;height: 180px;overflow: hidden;margin-left: 20px;}
.item_det dt{width: 220px;height: 30px;line-height: 30px;font-size: 16px; padding-right: 10px;overflow: hidden;}
.item_det dd{width: 230px;height: 90px;line-height: 26px;text-indent: 2em; color: #666;overflow: hidden;}
.item_det dd.time{height: 30px;line-height: 30px;background: url(../images/clock.png) left center no-repeat;}
.more1{width: 100px;height: 30px;text-align: center;font-size: 14px;line-height: 30px;}
.more1 a{display: block;background: #aeaeae;color: #fff;}
.more1 a:hover{background: #f7b73c;}




















