<div class="page_right page_search">
      <div class="top_nav">
        <h2>搜索</h2>
        <a href="javascript:;" class="to_page">返回</a>          
        <a class="font_btn" href="javascript:;">字</a>
        <div class="font">
          <span class="big">大</span>
          <span class="normal">中</span>
          <span class="small">小</span>
        </div>          
        
      </div>

      <div class="search">
        <span>搜索：</span>
        <form id="form" class="fm clearfix" name="f" action="{$search_action}" method="GET" >
          <span class="s_ipt_w">
            <input type="text" placeholder="请输入关键字" name="s" id="">
          </span>
          <span class="s_btn_w">
            <input type="submit" name="" id="smt" class="gb_btn" value="">
          </span>
        </form>
      </div>
    </div>