body{ color:#3c0a0e; font-family:Microsoft Yahei,Arial, Helvetica, sans-serif;  background:url(../images/body_bg.jpg) repeat ; }
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,input,textarea,div{margin:0;padding:0; list-style:none; line-height:24px; font-size:12px; font-weight:normal}
body,div,ul,li,dl,dt,dd{ font-size:12px;}
.clearfix:after { content:'\20'; display:block; height:0; clear:both; }
.clearfix { *zoom:1; font-size:0px;}
a{ color:#3c0a0e; text-decoration:none}
a:hover{ color:#9b0604} 
img{ border:none;}
.c{ clear:both}

.wrapper{width:1004px; margin:0 auto;}


.logo{ float:left;}
.search{ float:right; margin-top:25px;}
.search_area{ width:138px; height:24px; line-height:24px; color:#b2b2b2; text-indent:14px; float:left; border:1px solid #eadecf}
.search_btn{ background:url(../images/ss.jpg) top center no-repeat; width:43px; height:27px; border:none; float:left}


.nav_bg{ background:url(../images/nav_bg.jpg) top center repeat-x; height:39px; width:100%}

#nav ul li{ height:39px; line-height:39px; float:left; background:url(../images/navlibg.jpg) top right no-repeat; text-align:center}
#nav ul li a{font-family:Microsoft Yahei; font-size:13px; color:#fff; padding: 0 23px; display:block}
#nav ul li a:hover{ background:url(../images/navibg1.jpg) top center no-repeat}
#nav ul li .cc{background:#880002;height:40px; line-height: 40px;display: none; text-align:center; width:100%; position:relative; z-index:100; margin-top:0px; }
#nav ul li .cc:hover{}
#nav ul li .cc a:hover{ color:red;}


#banner{ width:100%; height:441px;}



#footer{ width:100%; background:url(../images/index2_02.jpg) top center repeat;  text-align:center; color:#fff; padding:15px 0 }
#footer a{ color:#fff;}




.cn_l{ width:736px; float:left;  display:inline; margin-top:30px; margin-left:2px;}
.cn_r{ width:266px; float:right; background:url(../images/p_bg.jpg) top right no-repeat; height:375px; overflow:hidden}

#about{ width:337px; float:left; background:url(../images/TY.jpg) center right no-repeat; padding-right:43px;}
#about span{ float:right;}
#about .title{ font-size:12px;font-family:Microsoft Yahei; color:#770c0c }
#about .title b{ font-size:16px; color:#a31111; background:url(../images/ico1.jpg) center left no-repeat; padding-left:10px; }
#about .inner{ height:177px; margin-top:8px; text-align:center; line-height:26px; text-indent:24px; overflow:hidden}
#about .inner img{ float:left; margin-right:5px;}



#news{ width:324px; float:right;  padding-right:20px;}
#news span{ float:right;}
#news .title{ font-size:12px;font-family:Microsoft Yahei; color:#770c0c }
#news .title b{ font-size:16px; color:#a31111; background:url(../images/ico1.jpg) center left no-repeat; padding-left:10px; }
#news .inner{ height:177px; margin-top:8px; overflow:hidden}
/*#news .inner .np{ width:135px; height:82px; float:left; margin-right:15px;}
*/#news .inner .np {
	position:relative;
	overflow:hidden;
	margin-right:15px;
	display: inline-block; 
	width:90px; 
}

#news .inner .np img{
	width: 97%;
	height: auto;
}

/*#news .inner .np img{ padding:2px; border:1px solid #dadada; background:#fff}
*/#news .inner .nz{ color:#3c0a0e; line-height:18px; 	display: inline-block;  width:200px; height:85px; overflow:hidden; vertical-align:top}
#news .inner .nz h2{ font-weight:bold; color:#7e0809; height:25px; line-height:25px; overflow:hidden}
#news .inner .nz .wz{ line-height:20px; height:62px; overflow:hidden}
#news .inner ul{ height:79px; overflow:hidde; }
#news .inner ul li span{ float:right; }
#news .inner ul li span a{color:#4b2424}
#news .inner ul li{ border-bottom:1px dashed #765c56; background:url(../images/ico0.jpg) no-repeat 5px; padding-left:24px;}

#links{ background:url(../images/links_bg.png) top center no-repeat; height:100px; margin-top:20px; overflow:hidden}
#links .tel{ float:left; margin-left:265px; font-size:18px;font-family:Microsoft Yahei; color:#f5d4b5; padding-top:13px; display:inline}
#links .add{ float:left; margin-left:95px;font-size:15px;font-family:Microsoft Yahei; color:#f5d4b5; padding-top:12px;display:inline; overflow:hidden; width:230px; line-height:24px; height:24px;}
#links .lj{ margin-left:135px; margin-top:13px; width:602px; height:25px; overflow:hidden}
#links .lj ul li a{ color:#f9e6d5; padding:0 8px;}
#links .lj ul li{ background:url(../images/ico11.jpg) no-repeat 5px; padding-left:8px; float:left}


#pro .title{ margin-top:20px; color:#efe2cd;font-size:15px;font-family:Microsoft Yahei; background:url(../images/ico4.jpg) left no-repeat; padding-left:35px; margin-left:10px;}
#pro .title span{ float:right; margin-right:8px;}
#pro .inner{ position:relative; margin-left:16px; margin-top:31px;}

#pro .inner ul li img{ border:10px solid #ffffff}
#pro .plv{ position:absolute; top:25px; left:100px; z-index:100}
#pro .prv{ position:absolute; left:100px; bottom:25px;z-index:100}
#pro .bk{ text-align:center; width:225px;  margin-bottom:15px;}
#pro .bk img{ border:10px solid #fff; width:95%; display:block; margin:auto }
#pro .bk a h2{ color:#fff;width:100%; display:block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; }


#LeftButton2{ position:absolute; top:25px; left:100px; z-index:100}
#RightButton2{ position:absolute; left:100px; bottom:25px;z-index:100}




#sub_container{ margin-top:20px; margin-bottom:15px;}

.sidebar{ width:229px;  float:left}
.category{width:229px;}
.category ul{ padding:10px 0 }
.category ul li a.firsta{ background:url(../images/h1.jpg) top center no-repeat; margin-bottom:5px;display:block;width:80%; margin:auto; padding-left:20%; height:36px; line-height:36px; font-size:14px; color:#3c0a0e}
.category ul li a.firsta:hover{ background:url(../images/h2.jpg) top center no-repeat; margin-bottom:5px;width:80%; margin:auto; padding-left:20%; height:36px; line-height:36px; font-size:14px; color:#fff}

ul.second li a.seconda{ background:url(../images/ico0.jpg) no-repeat 5px;  width:80%; padding-left:10%; margin:auto;color:#3c0a0e; display:block; border-bottom:1px dotted #775c56}
ul.second li a.seconda:hover{color:#3c0a0e}
ul.third li a.thirda{  background:none; width:70%; padding-left:10%; margin:auto;color:#3c0a0e;  display:block;border-bottom:1px dotted #775c56}
ul.third li a.thirda:hover{color:#3c0a0e}



.main{float:right; width:750px; margin-top:15px; display:inline }
.article{ margin-top:10px;}
.sub_contact{  background:url(../images/contact_bg.png) top center no-repeat; height:220px; padding-top:68px; width:201px; padding-left:15px; padding-right:5px; margin-top:15px;}
.sub_contact b{ font-size:13px; color:#681004}
.crumb{ color:#520d12; border-bottom:solid 1px #775b54; height:34px; }
.crumb h2{ font-weight:bold; font-size:16px; color:#720a04; margin-left:5px;}
.crumb h2 img{ vertical-align:middle; padding-right:8px;}
.crumb span{ float:right; margin-top:10px;}

.alefttitle{ background:url(../images/sub.jpg) top center no-repeat;height:65px; width:197px; color:#fff; font-family:Microsoft Yahei ; font-size:20px; padding:25px 0px 0px 32px; line-height:24px; }
.alefttitle span{ color:#afafaf}