
/*标题样式*/





/*标题样式*/
.wrapper{ width:96%; margin:auto;  }



#in_page{ width:96%; margin:auto; margin-top:5%}
#in_page { padding-top:10px; width:98%; margin:auto; margin-top:10px;}
#in_page .page_img{overflow:hidden; margin-top:10px; width:30%; float:left }
#in_page .page_img img{  width:100%}
#in_page .inner .right{ width:68%; overflow:hidden; float:right }
#in_page .inner .right .tit{ display:block; font-size:15px; text-transform:uppercase; line-height:35px; height:35px; overflow:hidden; border-bottom:1px solid #117f4a; color:#b3b1b1;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; background:url(../images/sjx.jpg) no-repeat left top; }
#in_page .inner .right .tit b{ color:#117f4a; margin-right:5px; font-size:18px;  padding-left:10px; line-height:35px; height:35px; display:inline-block; max-width:50%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; float:left;font-weight:100}
#in_page .inner .right .tit span{ float:left;max-width:40%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#in_page .inner .right p{ line-height:24px; height:96px; overflow:hidden; margin-top:3px; color:#808080; text-indent:2em; border-top:2px solid #117f4a;}



#in_text{  width:96%; margin:auto; margin-top:5%}

#in_text .tit{ color:#fff; text-align:center; font-size:20px; text-transform:uppercase; display:inline-block; padding:7px 15px; margin-left:5%}
#in_text .in_h2{ width:100%;    text-align:center; position:relative; text-align:center ; border-bottom:1px solid #117f4a;}
#in_text .in_h2 .text{width:80%; display:inline-block}
#in_text .in_h2 .text span{  font-size:14px;color:#b3b3b3;display:inline-block;max-width:40%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#in_text .in_h2 .text b{ color:#117f4a; font-size:18px; font-weight:100;display:inline-block; max-width:50%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}


#in_text .inner{ width:100%;border-top:2px solid #117f4a; margin-top:3px;}
#in_text .inner ul{  width:97%; margin:auto; margin-top:10px;}
#in_text ul li{  width:100%;  display: block; margin-top:3%; border-bottom:1px dashed #e6e3e3; padding-bottom:15px; font-size:13px; }
#in_text ul li .in_des{ width:83%; float:right}
#in_text ul li .in_des h2{ font-size:14px; color:#333; height:25px; line-height:25px; overflow:hidden;margin: 0 auto;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#in_text ul li .in_des .txt{ line-height:20px; height:40px;margin: 0 auto;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; color:#808080}
#in_text ul li .date{ width:15%; float:left; background:#008055; color:#fff; text-align:center}
#in_text ul li .date .riqi{ font-size:25px; line-height:30px; margin-top:10px; }
#in_text ul li .date .month{ font-size:14px; line-height:20px;}

#in_image{ width:100%; margin:auto; margin-top:5%; padding:15px 0; }
#in_image .tit{ color:#fff; text-align:center; font-size:20px; text-transform:uppercase; display:inline-block; padding:7px 15px; margin-left:5%}
#in_image .in_h2{ width:100%;    text-align:center; position:relative; text-align:center }
#in_image .in_h2 .text{width:80%; display:inline-block}
#in_image .in_h2 .text span{  font-size:14px;color:#b3b3b3;display:inline-block;max-width:40%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#in_image .in_h2 .text b{ color:#117f4a; font-size:18px; font-weight:100;display:inline-block; max-width:50%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#in_image .inner{   margin:auto; background:#117f4a; padding:10px 0}
#in_image ul li{ float:left;margin:4% 1.5% 0 1.5%; width:30%;position:relative; }
#in_image ul li .in_protitle{ width:100%; color:#fff; display: block;omargin:auto; height:30px; line-height:30px; text-align:center; font-size:13px;    padding:2px; margin: 0 auto;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; }


@media screen and (min-width: 320px) and (max-width: 480px){
#in_page .page_img{ width:40%}
#in_page .inner .right span b{ font-size:14px;height:15px; line-height:15px}
#in_page .inner .right{ width:57%}
#in_page .inner .right p{ font-size:12px; line-height:17px; height:68px;}


#in_text ul li .date{ width:20%;}
#in_text ul li .in_des{ width:75%; float:right}
}
@media screen and (min-width: 480px) {
}

