
/*标题样式*/
.in_h2{ overflow:hidden; padding:10px 0 5px 0;   position:relative; text-align:left; z-index:100; background:#fff;     }

.in_h2 .in_zh{line-height:25px;font-size:20px; font-weight:400; color:#cba76b;  border-left:6px solid #cba76b; padding-left:10px;margin-left:10px;  }
.in_h2 .in_en{  line-height:15px; font-weight:normal; font-size:15px; color:#5a5a5a; border-left:6px solid #cba76b; padding-left:10px; margin-left:10px;  }


/*标题样式*/

.wrapper{ width:100%; margin:auto;  }
#in_page{margin:auto; padding-top:20px; padding-bottom:20px; background:url(../images/about_bg.jpg) no-repeat bottom left; width:96%; margin:auto }
#in_page .pic{ width:35%; float:left;}
#in_page .inner{width:62%; float:right; }
#in_page .pic img{ border:1px solid rgba(0,0,0,.2)}
#in_page .inner p{line-height:24px; height:96px; overflow:hidden; margin:auto; color:#333;  margin:auto}
#in_page .inner .more{ width:20%;}
@media screen and (min-width: 320px) and (max-width: 480px){
#in_page .inner p{line-height:20px; height:60px; font-size:12px}
#in_page .inner .more{ width:30%;}
}
@media screen and (min-width: 480px) {
	
}






#in_text{ padding:10px 0; position:relative;}
#in_text .title{ width:15%; float:right; text-align:center; position:relative; text-align:center}
#in_text .title .in_zh{ width:25%; font-size:25px; color:#bb8a3b; margin:auto;}
#in_text .title .more{ width:80%; position:absolute; bottom:0px; left:0}

#in_text .inner { width:80%; float:left}
#in_text ul li{  width:46%; position:relative; border:1px solid #e8e8e8; float:left; margin-left:2%;}
#in_text ul li .pic{ width:45%; border-radius:50%; overflow:hidden; margin:auto; margin-bottom:25px; margin-top:25px;}
#in_text ul li .in_title{ width:80%; margin:auto;height:25px; line-height:25px; padding-left:20px; display:block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; font-size:1.1em; color:#333; }
#in_text ul li .in_des{ width:96%; margin:auto; line-height:18px; height:36px; overflow:hidden; color:#999;}
#in_text ul li .in_more1{ width:60px; height:25px; line-height:25px; font-size:12px; background:#cba76b; color:#fff; text-align:center; text-transform:uppercase; margin:auto; margin-bottom:-10px; margin-top:20px; }




#in_image{ position:relative; margin-top:20px; background:url(../images/img_bg.jpg) no-repeat center bottom #f4f0e8; margin-bottom:25px;}
#in_image .in_h2 .line{ background:#503c32}
#in_image .in_more{ background:#ddccaa;  }

#in_image .inner{ overflow:hidden; position:relative; z-index:1; width:96%; margin:auto; margin-top:15px;}
#in_image ul li{ float:left;  overflow:hidden; margin:1% 1.5%; width:29%; }
#in_image ul li .pic{border:1px solid #ababab;padding:2px;}
#in_image ul li .pic img{width:100%;   }
#in_image ul li .title{ background:url(../images/title_bg.png) no-repeat;  color:#fff; height:39px; line-height:39px; text-align:center;display:block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; padding:0 30px 0 10px; }

@media screen and (min-width: 320px) and (max-width: 480px){
#in_text ul li .pic{ width:65%;}
#in_text .title .in_zh{ font-size:20px;}
#in_image ul li .title{ background:url(../images/title_bg.png) no-repeat; background-size:120% 105%;}
}
@media screen and (min-width: 480px) {
}

