<div id="nav">
   <div class="container">
       <ul class="nav">
           {$limit=9}
           {if $navs|count lt $limit}{$limit = $navs|count}{/if}
           {foreach item=nav from=$navs}
           <li class="{if $nav.current}current{/if} lt nav-li" style="width:{100/($limit)}%"><a class="nav-a" href="{$nav.link}">{$nav.name}</a>
               {if $nav.childmenu}
               <ul class="chilmenu">
                   {foreach item=nav_list from=$nav.childmenu}
                   <li class="{if $nav_list.current}current{/if}">
                       <a class="navC-a" href="{$nav_list.link}">{$nav_list.name}</a>
                   </li>
                   {/foreach}
               </ul>
               {/if}
           </li>
           {if $nav@index+1 eq $limit}{break}{/if}
           {/foreach}
       </ul>
   </div>
</div>