<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <script type="text/javascript">
        // 识别为手机客户端，自动跳转手机页面
        {if $site_another_url}
        if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
            location.href = '{$site_another_url}';
        }
        {/if}
    </script>
    <meta name="keywords" content="{$keywords}" />
    <meta name="description" content="{$description}" />
    <link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
    <title>{$title}</title>
    <link rel="stylesheet" href="{$site_url}css/style.css">
    <link rel="stylesheet" href="{$site_url}css/jquery.bxslider.css">
    <script src="{$site_url}js/jquery-1.9.1.min.js"></script>
    <script src="{$site_url}js/jquery.bxslider.js"></script>
    <script src="{$site_url}js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="{$site_url}js/index.js"></script>
</head>
<body>
{include file="./_header.html"}
{include file="./_nav.html"}
{include file="./_bannerD.html"}
<div id="det-main">
    <div class="container">
        {include file="./_pagenavs.html"}
        <div class="det-text list-imgT">
            {foreach item=img from=$list.data}
                <div class="list-imageText">
                    <h4><a href="{$img.link}">{$img.title}</a></h4>
                    <time>{$img.pubtimestamp|date_format:'%Y-%m-%d'}</time>
                    <i><a href="{$img.link}"><img src="{$img.image}" alt=""></a></i>
                    <p>{$img.description}</p>
                    <a class="rt" href="{$img.link}">查看更多>>  </a>
                </div>
            {/foreach}
            {include file="./_page.html"}
        </div>
    </div>
</div>




{include file="./_footer.html"}

{$footscript}
</body>
</html>