<header>
<section>
<div class="head_outsild">
      <div class="head">
          <h1 class="logo"><a href="{$site_url}" title="返回首页"><img src="{$logo}"/></a></h1>
          <form action="{$search_action}" method="GET" class="ss"> 
              <span>全网搜索</span> 
              <input type="text" placeholder="请输入关键词" class="input_case" name="s">
              <input type="submit" value="" class="input_key">
          </form>
      </div>
</div>    
</section>
<section>




    <div class="header_menu">   
       <ul class="nav">
       {$limit = 10}
       {if $navs|count lt $limit}{$limit = $navs|count}{/if}
        <li class="nLi current" style="width: {100/($limit+1)}%"><h3><a href="{$site_url}">网站首页</a></h3></li>
	
     {foreach name=navs item=nav from=$navs}
      <li class="nLi {if $nav.current}current{/if}" style="width: {100/($limit+1)}% aa">
      
       <h3><a href="{$nav.link}" class="">{$nav.name}</a></h3>
          <ul class="sub">
           {if $nav.childmenu} 
                    
                    {foreach key=key item=nav_list from=$nav.childmenu}
            <li class="{if $nav_list.current}current{/if} cc"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
             {/foreach} {/if}
          </ul>
     
      </li>
      {if $nav@index+1 eq $limit}{break}{/if}
            {/foreach}
    </ul>
    </div>
</section>
 <section>

    <div id="slideBox" class="slideBox">

       <div class="bd">
        <ul>
                     {foreach item=slidepic from=$_header.slidepics}
                              <li><a href="{$slidepic.link}" target="_blank"><img src="{$slidepic.image}" alt="{$slidepic.title}" /></a></li>
                     {/foreach}
                </ul>
      </div>


      <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
      <a class="prev" href="javascript:void(0)"></a>
      <a class="next" href="javascript:void(0)"></a>

    </div>

    </section>
</header>
