<!-- 二级栏目列表（仅展示到二级子栏目） -->
{if $pagenavs}
<nav>
	<h3 class="tit">{$posnavs[0].name}&nbsp;<span>{$posnavs[0].en_name}</span></h3>
      <div class="listbg">
	<ul class="">
		{foreach name=pagenavs item=nav from=$pagenavs}
		<li class="{if $nav.current}current{/if}">
			<a href="{$nav.link}" class="choose">{$nav.name}</a>
		</li>
		{/foreach}
	</ul>
    </div>
</nav>
{else}	<!-- 让客服自己选择，如果当前无子栏目 展现的目标栏目 -->
<nav>
	<h3 class="tit">{$_pagenavs_sub2.pagenavs.name}&nbsp;<span>{$_pagenavs_sub2.pagenavs.en_name}</span></h3>
	<ul class="clearfix">
		{foreach name=pagenavs2 item=nav from=$_pagenavs_sub2.pagenavs.childmenu}
		<li class="{if $nav.current}current{/if}">
			<a href="{$nav.link}">{$nav.name}</a>
		</li>
		{/foreach}
	</ul>
</nav>
{/if}