<!-- 二级栏目列表（展示到三级子栏目） -->
{if $pagenavs}
<nav>
	<h3 class="tit">{$posnavs[0].name}&nbsp;<span>{$posnavs[0].en_name}</span></h3>

	<ul class="clearfix">
		{foreach name=pagenavs item=nav from=$pagenavs}
		<li class="{if $nav.current}current{/if}">
			<a href="{if $nav.childmenu}javascripe:0;{else}{$nav.link}{/if}">{$nav.name}</a>
			{if $nav.childmenu}
			<ul>
				{foreach key=key item=nav_list from=$nav.childmenu}
				<li class="{if $nav_list.current}current{/if}"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
				{if $nav_list.childmenu}
					{foreach key=key item=nav_listse from=$nav_list.childmenu}
					<li class="{if $nav_listse.current}current{/if}"><a href="{$nav_listse.link}">&nbsp;{$nav_listse.name}</a></li>
					{/foreach}
				{/if}
				{/foreach}
			</ul>
			{/if}
		</li>
		{/foreach}
	</ul>
</nav>
{else}	<!-- 让客服自己选择，如果当前无子栏目 展现的目标栏目 -->
<nav>

	<h3 class="tit">{$_pagenavs_sub3.pagenavs.name}&nbsp;<span>{$_pagenavs_sub3.pagenavs.en_name}</span></h3>
	<ul class="clearfix">
		{foreach name=pagenavs2 item=nav from=$_pagenavs_sub3.pagenavs.childmenu}
		<li class="{if $nav.current}current{/if}">
			<a href="{if $nav.childmenu}javascripe:0;{else}{$nav.link}{/if}">{$nav.name}</a>
			{if $nav.childmenu}
			<ul>
				{foreach key=key item=nav_list from=$nav.childmenu}
				<li class="{if $nav_list.current}current{/if}"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
				{if $nav_list.childmenu}
					{foreach key=key item=nav_listse from=$nav_list.childmenu}
					<li class="{if $nav_listse.current}current{/if}"><a href="{$nav_listse.link}">&nbsp;{$nav_listse.name}</a></li>
					{/foreach}
				{/if}
				{/foreach}
			</ul>
			{/if}
		</li>
		{/foreach}
	</ul>
</nav>
{/if}


