<!DOCTYPE html>
<html manifest="cache.manifest">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- 强制让文档的宽度与设备的宽度保持1:1，并且文档最大的宽度比例是1.0，且不允许用户点击屏幕放大浏览； -->
<meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
<!-- iphone设备中的safari私有meta标签，它表示：允许全屏模式浏览 -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- iphone的私有标签，它指定的iphone中safari顶端的状态条的样式 -->
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<!-- 告诉设备忽略将页面中的数字识别为电话号码\去除Android平台中对邮箱地址的识别 -->
<meta content="telephone=no, email=no" name="format-detection">
<!-- 启用360浏览器的极速模式(webkit) -->
<meta name="renderer" content="webkit">
<!-- 避免IE使用兼容模式 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
<meta name="HandheldFriendly" content="true">
<!-- 微软的老式浏览器 -->
<meta name="MobileOptimized" content="320">
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="portrait">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="portrait">
<title>厦门易尔通网络科技有限公司</title>
<link rel="stylesheet" href="css/swiper.css">
<link href="css/iconfont.css" rel="stylesheet" type="text/css" />
<link href="css/css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
	window.addEventListener('load', function(){
   setTimeout(function(){ window.scrollTo(0, 1); }, 100);
});//safari浏览器可以通过此代码来隐藏地址栏
</script>
</head>
<body>
<div class="body p_r">
    <nav class='transition p_a'>
	    <div class='nav-menu'>
			<h1 class='nav-caption'>快捷导航<span class='nav-close'>X</span></h1>
			<ul id="left_nav">
				<li><a href="index.html">网站首页</a></li>
				<li>
					<a href="about.html">关于我们</a>					
				</li>
				<li>
					<a href="news.html">新闻列表</a>					
				</li>
				<li>
					<a href="newsimg.html">新闻图片</a>					
				</li>
				<li>
					<a href="newsdet.html">新闻内页</a>					
				</li>
				<li>
					<a href="pro.html">产品列表</a>					
				</li>
				<li>
					<a href="prodet.html">产品内页</a>					
				</li>
				<li>
					<a href="s.html">搜索页</a>					
				</li>
			</ul>
		</div>
    </nav>
    <div class="wrap transition p_a">
		<div class="main">
		<div class="className p_r"><span class="forword"><</span>新闻中心
                <i class="icon iconfont slide-nav iconnav p_a">&#xe60f;</i> 
		</div>
		
        
        <div class="aboutms info">
             <h3 class="protit">欧美陶瓷--艺术盆</h3>
            <div class="font">发布日期：2015-09-15  字体： <span class="d">大</span> | <span class="z">中</span> | <span class="x">小</span></div>
           <div class="infos prodet">
               <figure>
                  <img src="images/pro-det_03.jpg" >
               </figure>
               <div class="pxq">型号: 浴室柜A2138-211F-1
SAP编码：1275-1/11S-1
台面类型: 一体陶瓷盆
安装方式: 挂墙式
风格: 简约现代，追求前卫的人需要一款从设计到用材都与众不同的洗面盆。除了款式、价格等因素之外，洗面盆的选择还有很多门道。
目前市场上洗面盆的材质随着人们个性化的要求也变得丰富多彩，但陶瓷产品依旧是主打、首选。因此对于此类的洗面盆来说，陶瓷釉面很重要。釉面将直接关系到产品质量，光滑的釉面不仅抗污强、更利于清洁，而且抗菌性能也更强。挑选时，可以在强光下，仔细看产品表面，以无砂眼、麻点，釉面光滑、细腻、平整为好。除此之外，吸水率也是陶瓷洗面盆质量好坏的重要依据，吸水率越低的产品其质量越好，釉面施釉越好，相对来说其吸水率就越低。柱盆稍加设计也能给人耳目一新的感觉，碎石子的表面加强了空间的粗犷氛围。 卫浴间使用的陶瓷洗面盆主要分为台盆和柱盆。一般来说柱盆大多设计很简洁，由于可以将排水组件隐藏到柱盆的柱中，因而给人以干净、整洁的外观感受，而且，在洗手的时候，人体可以自然地站立在盆前，从而使用起来更加方便、舒适。而台盆则比较适合安装于面积比较大的卫生间，可制作天然石材或人造石材的台面与之配合使用，还可以在台面下定做浴室柜，盛装卫浴用品，美观实用。
颜色分类: A2138
产品配置：
自洁釉+银离子抗菌
单孔龙头孔Φ35mm
下水孔规格Φ45mm
带溢水孔
产品规格：597*467*215mm
产品特点：
1.自洁釉，易清洁
2.银离子抗菌
3.优质粘土，健康环保
4.高温煅烧，防臭防裂
5.带溢水孔，防止水漫金山

       

    
       </div>
          
           </div> 
        </div>  
			
					
				
				
				

			
			 <div class="name">厦门易尔通网络科技有限公司 版权所有<i class="icon iconfont icon-angle-circled-up">&#xe631;</i></div>
			
		</div>
	
		<div class="shadow p_a"></div>
		
		<div class="share">
<div class="jiathis_style_m"></div>
<script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_m.js" charset="utf-8"></script>
<h3 class="qx">取消</h3>
</div>


    </div>	
		<footer>
		<ul>
			<li><i class="icon iconfont icon-th-list slide-nav">&#xe60f;</i> <span>导航</span> </li>
			<li><i class="icon iconfont icon-phone">&#xe623;</i>  <span>电话</span></li>
			<li><i class="icon iconfont icon-mail-alt">&#xe635;</i>  <span>短信</span></li>
			<li><i class="icon iconfont icon-location">&#xe82f;</i> <span>咨询</span></li>
			<li><i class="icon iconfont icon-comment-alt">&#xe60b;</i> <span>地图</span></li>
			<li><i class="icon iconfont icon-flow-branch">&#xf000d;</i> <span>分享</span></li>
		</ul>
		</footer>

</div>
<script src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/function.js"></script>
<script type="text/javascript" src="js/lazyload.js"></script>
</body>
</html>
