<!DOCTYPE html>
<html manifest="cache.manifest">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- 强制让文档的宽度与设备的宽度保持1:1，并且文档最大的宽度比例是1.0，且不允许用户点击屏幕放大浏览； -->
<meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
<!-- iphone设备中的safari私有meta标签，它表示：允许全屏模式浏览 -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- iphone的私有标签，它指定的iphone中safari顶端的状态条的样式 -->
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<!-- 告诉设备忽略将页面中的数字识别为电话号码\去除Android平台中对邮箱地址的识别 -->
<meta content="telephone=no, email=no" name="format-detection">
<!-- 启用360浏览器的极速模式(webkit) -->
<meta name="renderer" content="webkit">
<!-- 避免IE使用兼容模式 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
<meta name="HandheldFriendly" content="true">
<!-- 微软的老式浏览器 -->
<meta name="MobileOptimized" content="320">
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="portrait">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="portrait">
<title>厦门易尔通网络科技有限公司</title>
<link rel="stylesheet" href="css/swiper.css">
<link href="css/iconfont.css" rel="stylesheet" type="text/css" />
<link href="css/css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
	window.addEventListener('load', function(){
   setTimeout(function(){ window.scrollTo(0, 1); }, 100);
});//safari浏览器可以通过此代码来隐藏地址栏
</script>
</head>
<body>
<div class="body p_r">
    <nav class='transition p_a'>
	    <div class='nav-menu'>
			<h1 class='nav-caption'>快捷导航<span class='nav-close'>X</span></h1>
			<ul id="left_nav">
				<li><a href="index.html">网站首页</a></li>
				<li>
					<a href="about.html">关于我们</a>					
				</li>
				<li>
					<a href="news.html">新闻列表</a>					
				</li>
				<li>
					<a href="newsimg.html">新闻图片</a>					
				</li>
				<li>
					<a href="newsdet.html">新闻内页</a>					
				</li>
				<li>
					<a href="pro.html">产品列表</a>					
				</li>
				<li>
					<a href="prodet.html">产品内页</a>					
				</li>
				<li>
					<a href="s.html">搜索页</a>					
				</li>
			</ul>
		</div>
    </nav>
    <div class="wrap transition p_a">
		<div class="main">
		<div class="className p_r"><span class="forword"><</span>新闻中心
            <i class="icon iconfont slide-nav iconnav p_a">&#xe60f;</i> 
		</div>
		
        <div class="aboutName">
	        <ul class="aboutNav">
		        <li><a href="http://wwww.baidu.com">一级分类</a>
		            
		        </li>
		        <li><a href="">一级分类</a>
		            <ul>
		                <li><a href="http://wwww.baidu.com">二级分类</a>
		                   <!--  <dl>
								<dd><a href="">三级分类</a></dd>
								<dd><a href="">三级分类</a></dd>
								<dd><a href="">三级分类</a></dd>
								<dd><a href="">三级分类</a></dd>
								<dd><a href="">三级分类</a></dd>
		                    </dl> -->
		                </li>
		                <li><a href="">二级分类</a>
		                   <!--  <dl>
								<dd><a href="">三级分类</a></dd>
								<dd><a href="">三级分类</a></dd>
								<dd><a href="">三级分类</a></dd>
								<dd><a href="">三级分类</a></dd>
								<dd><a href="">三级分类</a></dd>
		                    </dl> -->
		                </li>
		                <li><a href="">二级分类</a>
		                   <!--  <dl>
								<dd><a href="">三级分类</a></dd>
								<dd><a href="">三级分类</a></dd>
								<dd><a href="">三级分类</a></dd>
								<dd><a href="">三级分类</a></dd>
								<dd><a href="">三级分类</a></dd>
		                    </dl> -->
		                </li>
		            </ul>
		        </li>
		        <li><a href="">一级分类</a>
		            <ul>
		                <li><a href="">二级分类</a>
		                    <dl>
								<dd><a href="">三级分类</a></dd>
								<dd><a href="">三级分类</a></dd>
								<dd><a href="">三级分类</a></dd>
								<dd><a href="">三级分类</a></dd>
								<dd><a href="">三级分类</a></dd>
		                    </dl>
		                </li>
		                <li><a href="">二级分类</a>
		                    <dl>
								<dd><a href="">三级分类</a></dd>
								<dd><a href="">三级分类</a></dd>
								<dd><a href="">三级分类</a></dd>
								<dd><a href="">三级分类</a></dd>
								<dd><a href="">三级分类</a></dd>
		                    </dl>
		                </li>
		                <li><a href="">二级分类</a>
		                    <dl>
								<dd><a href="">三级分类</a></dd>
								<dd><a href="">三级分类</a></dd>
								<dd><a href="">三级分类</a></dd>
								<dd><a href="">三级分类</a></dd>
								<dd><a href="">三级分类</a></dd>
		                    </dl>
		                </li>
		            </ul>
		        </li>
	        </ul>
        </div>
        <div class="aboutms">
           <form action="">
            	<input type='text'  placeholder='请输入需要查询名称' class='search-text' />
            	<input type="submit" value="搜索" class="submit"/>
            </form>
           <div class="s news">
           <h3 class="sos">	以下是您输入的关键字“苹果”，搜索结果有16条</h3>
           <ul>
				<li>
					 <a href=""><span>2015-08-28</span>最大限度保证收益 卫浴企业广告该往哪儿投</a>
					
				 </li>
				 <li>
					 <a href=""><span>2015-08-28</span>最大限度保证收益 卫浴企业广告该往哪儿投</a>
					
				 </li>
				 <li>
					 <a href=""><span>2015-08-28</span>最大限度保证收益 卫浴企业广告该往哪儿投</a>
					
				 </li>
				 <li>
					 <a href=""><span>2015-08-28</span>最大限度保证收益 卫浴企业广告该往哪儿投</a>
					
				 </li>
				 <li>
					 <a href=""><span>2015-08-28</span>最大限度保证收益 卫浴企业广告该往哪儿投</a>
					
				 </li>
				 <li>
					 <a href=""><span>2015-08-28</span>最大限度保证收益 卫浴企业广告该往哪儿投</a>
					
				 </li>
				 <li>
					 <a href=""><span>2015-08-28</span>最大限度保证收益 卫浴企业广告该往哪儿投</a>
					
				 </li><li>
					 <a href=""><span>2015-08-28</span>最大限度保证收益 卫浴企业广告该往哪儿投</a>
					
				 </li>
				 <li>
					 <a href=""><span>2015-08-28</span>最大限度保证收益 卫浴企业广告该往哪儿投</a>
					
				 </li>
				 <li>
					 <a href=""><span>2015-08-28</span>最大限度保证收益 卫浴企业广告该往哪儿投</a>
					
				 </li>
				 <li>
					 <a href=""><span>2015-08-28</span>最大限度保证收益 卫浴企业广告该往哪儿投</a>
					
				 </li>
				 <li>
					 <a href=""><span>2015-08-28</span>最大限度保证收益 卫浴企业广告该往哪儿投</a>
					
				 </li>
				 <li>
					 <a href=""><span>2015-08-28</span>最大限度保证收益 卫浴企业广告该往哪儿投</a>
					
				 </li>
				 <li>
					 <a href=""><span>2015-08-28</span>最大限度保证收益 卫浴企业广告该往哪儿投</a>
					
				 </li><li>
					 <a href=""><span>2015-08-28</span>最大限度保证收益 卫浴企业广告该往哪儿投</a>
					
				 </li>
				 <li>
					 <a href=""><span>2015-08-28</span>最大限度保证收益 卫浴企业广告该往哪儿投</a>
					
				 </li>
				 <li>
					 <a href=""><span>2015-08-28</span>最大限度保证收益 卫浴企业广告该往哪儿投</a>
					
				 </li>
				 <li>
					 <a href=""><span>2015-08-28</span>最大限度保证收益 卫浴企业广告该往哪儿投</a>
					
				 </li>
				 <li>
					 <a href=""><span>2015-08-28</span>最大限度保证收益 卫浴企业广告该往哪儿投</a>
					
				 </li>
				 <li>
					 <a href=""><span>2015-08-28</span>最大限度保证收益 卫浴企业广告该往哪儿投</a>
					
				 </li>
				 <li>
					 <a href=""><span>2015-08-28</span>最大限度保证收益 卫浴企业广告该往哪儿投</a>
					
				 </li>
           </ul>
           <div class='num'>
				<a href='###'>上一页</a>
				
				<a href='###'>下一页</a>
			</div>
               
           </div> 
        </div>  
			
					
				
				
				
 <div class="name">厦门易尔通网络科技有限公司 版权所有<i class="icon iconfont icon-angle-circled-up">&#xe631;</i></div>
		
			
		</div>
	
		<div class="shadow p_a"></div>
		
		<div class="share">
<div class="jiathis_style_m"></div>
<script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_m.js" charset="utf-8"></script>
<h3 class="qx">取消</h3>
</div>


    </div>	
		<footer>
		<ul>
				<li><i class="icon iconfont icon-th-list slide-nav">&#xe60f;</i> <span>导航</span> </li>
			<li><i class="icon iconfont icon-phone">&#xe623;</i>  <span>电话</span></li>
			<li><i class="icon iconfont icon-mail-alt">&#xe635;</i>  <span>短信</span></li>
			<li><i class="icon iconfont icon-location">&#xe82f;</i> <span>咨询</span></li>
			<li><i class="icon iconfont icon-comment-alt">&#xe60b;</i> <span>地图</span></li>
			<li><i class="icon iconfont icon-flow-branch">&#xf000d;</i> <span>分享</span></li>
		</ul>
		</footer>

</div>
<script src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/function.js"></script>
<script type="text/javascript" src="js/lazyload.js"></script>
</body>
</html>
