body{ color:#333333; font-family:Microsoft Yahei,Arial, Helvetica, sans-serif; background:#fff;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ol,pre,form,input,textarea{margin:0;padding:0; list-style:none; line-height:24px; font-size:12px; font-weight:normal}
ul,li{margin:0; padding:0;list-style:none; font-weight:normal;}
a{ color:#333333; text-decoration:none; }
a:hover{ color:#5c9904; } 
img{ border:none;}
.clearfix:after { content:'\20'; display:block; height:0; clear:both; }
.clearfix { *zoom:1; }
.wrapper{width:1200px; margin:0 auto;}
display:block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;
strong{display: block;margin: 0 auto;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

#header{ position:relative;}

#logo{width:640px;height:132px; float:left; position:relative;}
#logo a{display:block;width:640px;height:132px;position:absolute;bottom:0px; left:0;}
#logo img{max-width:640px; max-height:132px; position:absolute; top:0; left:0; right:0; bottom:0;}

.tel{ max-width:455px; float:right; margin-top:34px; margin-right:14px; background:url(../images/tel.png) no-repeat; padding-left:34px; font-size:18px; line-height:29px; height:29px; overflow:hidden; color:#609033; }

.search{ width:259px; position:absolute; top:71px; right:14px; height:41px; overflow:hidden;}
.search_area{ float:left; width:188px; height:37px; line-height:37px; color:#c9c9c9; text-indent:10px; border:2px #8fc41c solid;}
.search_btn{ float:right; width:67px; height:41px; overflow:hidden; background:#8fc41c url(../images/sou_td.png) no-repeat 24px 9px; border:none;}


#nav_bg{ width:100%; background:#609033; height:60px;}
#nav{ padding:0 55px; width:1090px; }
#nav ul li { float:left; height:60px;}
#nav ul li a{ color:#FFF; font-size:14px; display:block; background:url(../images/nav_line.jpg) no-repeat right;}
#nav ul li a:hover{ background:#4b7b1d; }
#nav ul li p{ height:60px; overflow:hidden; line-height:60px; text-align:center;}

#nav ul li .cc{background:#609033; height:40px; line-height:40px;display:none; text-align:center; 
width:100%; position:relative; z-index:100; margin-top:0px; }
#nav ul li .cc:hover{}
#nav ul li .cc a{width:92%; margin:auto;color:#fff; padding:0 4%; overflow:hidden; height:40px; line-height:40px;}
#nav ul li .cc a:hover{color:#fff;}

#banner{ width:100%; height:550px; overflow:hidden;}

		.slideBox{ width:100%; margin:auto; height:550px; overflow:hidden; position:relative;  }
		.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }
		.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
		.slideBox .hd ul li{ float:left; margin-right:2px; border-radius:12px; width:15px; height:15px; line-height:14px; text-align:center; background:#a4a6a3; cursor:pointer; }
		.slideBox .hd ul li.on{ background:#609033;}
		.slideBox .bd{ position:relative; height:100%; z-index:0;   }
		.slideBox .bd li{ zoom:1; vertical-align:middle; }
		.slideBox .bd img{ width:100%; height:550px; display:block;  }

		/* 下面是前/后按钮代码，如果不需要删除即可 */
		.slideBox .prev,
		.slideBox .next{ position:absolute; left:2%; top:50%; margin-top:-25px; display:block; width:32px; height:40px;
	   	 
		 background:#d1cfcf url(../images/slider-arrow.png) -110px 5px no-repeat; filter:alpha(opacity=50);opacity:0.5; z-index:999;   }
		.slideBox .next{ left:auto; right:2%; background-position:8px 5px; }
		.slideBox .prev:hover,
		.slideBox .next:hover{ filter:alpha(opacity=100);opacity:1;  }
		.slideBox .prevStop{ display:none;  }
		.slideBox .nextStop{ display:none;  }
		
		

#container_bg{ padding-top:30px; background:url(../images/cont_bg.jpg) no-repeat bottom; padding-bottom:30px;}
#container{ padding-bottom:35px;}


.list{ width:300px; float:left; border:1px #dddddd solid; background:#fff; margin-right:18px; box-shadow: 0px 0px 6px 0px #dddddd;}
.list .title{ width:298px; margin:auto; background:url(../images/title_bg.png) no-repeat left bottom; height:36px; margin-top:17px;}
.list .title b{ background:url(../images/title.png) no-repeat; font-size:14px; margin-left:12px; padding-left:16px; color:#609033; line-height:18px; height:18px; overflow:hidden; display:block; }
.list .title span{ float:right; background:url(../images/more.png) no-repeat right; padding-right:24px; margin-right:14px; line-height:18px; height:18px; overflow:hidden;}
.list .title span a{ color:#818181;}
.list .title span a:hover{ color:#609033;}

.list .inner{ width:260px; margin:auto; margin-top:25px; margin-bottom:28px; height:336px; overflow:hidden;}
.list .inner ul li{ line-height:36px; height:36px; padding-left:68px; padding-right:68px; overflow:hidden; background:#5c9904; border-radius:6px; margin-bottom:14px;}
.list .inner ul li a{ color:#FFF;}
.list .inner ul li a:hover{ font-weight:bold;}


.about{ width:515px; float:left; border:1px #dddddd solid; background:#fff; box-shadow: 2px 2px 6px #dddddd;}
.about .title{ width:500px; margin:auto; background:url(../images/title_bg.png) no-repeat left bottom; height:36px; margin-top:17px;}
.about .title b{ background:url(../images/title.png) no-repeat; font-size:14px; margin-left:12px; padding-left:16px; color:#609033; line-height:18px; height:18px; overflow:hidden; display:block; }
.about .title span{ float:right; background:url(../images/more.png) no-repeat right; padding-right:24px; margin-right:14px; line-height:18px; height:18px; overflow:hidden;}
.about .title span a{ color:#818181;}
.about .title span a:hover{ color:#609033;}

.about .inner{ height:375px; width:478px; margin:auto;}

.about_img{ height:142px; margin-bottom:10px; text-align:center; margin-top:14px;}
.about_img img{ height:100%; margin:auto; border:1px #e0e0e0 solid;}
.about .text{ line-height:30px; height:180px; overflow:hidden; margin-top:24px;}


.contact{ width:340px; float:right; border:1px #dddddd solid; background:#fff; box-shadow: 2px 2px 6px #dddddd;}
.contact .title{ width:336px; margin:auto; background:url(../images/title_bg.png) no-repeat left bottom; height:36px; margin-top:17px;}
.contact .title b{ background:url(../images/title.png) no-repeat; font-size:14px; margin-left:12px; padding-left:16px; color:#609033; line-height:18px; height:18px; overflow:hidden; display:block; }
.contact .title span{ float:right; background:url(../images/more.png) no-repeat right; padding-right:24px; margin-right:14px; line-height:18px; height:18px; overflow:hidden;}
.contact .title span a{ color:#818181;}
.contact .title span a:hover{ color:#609033;}

.contact .inner{ height:385px; overflow:hidden;}

.contact_img{ height:142px; margin-bottom:10px; text-align:center; margin-top:14px;}
.contact_img img{ height:100%; margin:auto; border:1px #e0e0e0 solid;}
.contact .text{ width:308px; margin:auto; line-height:30px; height:150px; overflow:hidden; margin-top:18px;}


.products{ border:1px #dddddd solid; background:#fff; margin-top:26px; box-shadow: 2px 2px 6px #dddddd;} 
.products .title{ width:1188px; margin:auto; background:url(../images/title_bg.png) no-repeat left bottom; height:36px; padding-top:17px;}
.products .title b{ background:url(../images/title.png) no-repeat; font-size:14px; margin-left:12px; padding-left:16px; color:#609033; line-height:18px; height:18px; overflow:hidden; display:block; }
.products .title span{ float:right; background:url(../images/more.png) no-repeat right; padding-right:24px; margin-right:14px; line-height:18px; height:18px; overflow:hidden;}
.products .title span a{ color:#818181;}
.products .title span a:hover{ color:#609033;}

.products .inner{ padding:30px 0;}
.products .inner ul li{ float:left; width:216px; margin-right:16px;}
.products .inner ul li a{ color:#585858;}
.products .inner ul li a:hover{ color:#adcc81; font-weight:bold;}

.products .inner ul li .pic{ width:216px; height:216px; margin:auto; overflow:hidden; border:1px #adcc81 solid;}
.products .inner ul li .pic img{ display:block;}
.products .inner li .text{ width:216px; margin:auto; margin-top:20px; text-align:center; height:24px; overflow:hidden;}
.products .inner .bd{ width:1166px; margin:auto; overflow:hidden;}

#footer_bg{ background:#609033 url(../images/footer.jpg) repeat-x;}

#footer{ padding:25px 0;}

.copyright{ float:left; color:#fff; width:908px;}
.copyright a{ color:#fff;}

.q_link{ float:right; padding-top:30px;}



#sub_container{ }

/*sidebar css*/
.sidebar{ width:300px; float:left; }

.subnav{ border:1px #dddddd solid; background:#fff; box-shadow: 0px 0px 6px 0px #dddddd; padding-bottom:10px;}
.subnav .alefttitle{ width:298px; margin:auto; background:url(../images/title_bg.png) no-repeat left bottom; height:36px; margin-top:17px;}
.subnav .alefttitle b{ background:url(../images/title.png) no-repeat; font-size:14px; margin-left:12px; padding-left:16px; color:#609033; line-height:18px; height:18px; overflow:hidden; display:block;}

.category{ margin-top:5px;}

.category ul{ width:260px; margin:auto;} 
.category ul li .firsta{ line-height:36px; height:36px; padding-left:68px; padding-right:28px; overflow:hidden; background:#5c9904; border-radius:6px; font-size:14px; display:block; margin:10px 0;}
.category ul li a.firsta{ color:#FFF;}
.category ul li a:hover.firsta{ font-weight:bold;}

ul.second li .seconda{ width:162px; margin:auto; background:url(../images/seconda.png) no-repeat 54px 17px; padding-left:70px; border-bottom:1px #e5e5e5 solid; line-height:42px; height:42px; overflow:hidden; font-size:14px; display:block;}
ul.second li a.seconda{ color:#000000;}
ul.second li a.seconda:hover{ color:#6b6b6b;}

ul.second li .thirda{ width:132px; margin:auto; background:url(../images/thirda.png) no-repeat 82px 19px; padding-left:100px; line-height:42px; height:42px; overflow:hidden; display:block;}
ul.third li a.thirda{ color:#6b6b6b;}
ul.third li a.thirda:hover{}


.sub_contact{ margin-top:20px; border:1px #dddddd solid; background:#fff; box-shadow: 0px 0px 6px 0px #dddddd; padding-bottom:21px;}
.sub_contact .title{ width:298px; margin:auto; background:url(../images/title_bg.png) no-repeat left bottom; height:36px; margin-top:17px;}
.sub_contact .title b{ background:url(../images/title.png) no-repeat; font-size:14px; margin-left:12px; padding-left:16px; color:#609033; line-height:18px; height:18px; overflow:hidden; display:block; }

.sub_contact .inner{}
.sub_contact_img{ height:113px; margin-bottom:10px; text-align:center; margin-top:14px;}
.sub_contact_img img{ height:100%; margin:auto; border:1px #e0e0e0 solid;}
.sub_contact .text{ width:240px; margin:auto; line-height:30px; height:150px; overflow:hidden; margin-top:18px;}

/*main css*/
.main{ float:right; width:877px; display:inline; border:1px #dddddd solid; background:#fff; box-shadow: 0px 0px 6px 0px #dddddd;}

.crumb{ width:875px; margin:auto; background:url(../images/title_bg.png) no-repeat left bottom; height:36px; margin-top:17px;}
.crumb  b{background:url(../images/title.png) no-repeat; font-size:14px; margin-left:12px; padding-left:16px; color:#609033; line-height:18px; height:18px; overflow:hidden; display:block;}

.crumb span{ padding-left:21px; padding-right:35px; float:right; color:#818181; height:18px; line-height:18px; overflow:hidden; background:url(../images/more.png) no-repeat left;}
.crumb span a{ color:#818181;  }

.article { padding:30px; }
.article img{ max-width:815px; overflow:hidden;}














