<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <!-- 调试代码 End -->
    <script type="text/javascript">
    // 跳转手机页面
    {if $site_another_url}
      if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
        location.href = '{$site_another_url}';
      }

    {/if}
    </script>
<meta http-equiv="x-ua-compatible" content="ie=7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />

<title>{$title}</title>
{$headscript}
</head>
<body>
	<div class="slider">		
		<div class="banner">
			<div class="bd">
				<ul>
					{foreach item=slidepic from=$index.slidepics}
					<li>
						<img src="{$slidepic.image}" alt="{$slidepic.title}">
					</li>
					{/foreach}
				</ul>
			</div>
			<div class="hd">
				<ul>
					{foreach item=slidepic from=$_header.slidepics}
					<li class="on">{$slidepic@index+1}</li>
					{/foreach}
				</ul>
			</div>
		</div>
		{include file="./_header.html"}	
		<div class="searchform">
			<form action="{$search_action}" method="GET" class="search">
				<input type="text" name="s" value="请输入搜索内容" class="text searchkey">
				<input type="submit" value="" class="submit" >
			</form>
		</div>
	</div>

	<div class="middlebg">
		<div class="middle">
			<div class="indexabo">
				<div class="aboimg"><a href="{$index.page.link}"><img src="{$index.page.image}"></a></div>
				<div class="abor"> 
					<div class="aboedit">
						{$index.page.description}
					</div>
					<a href="{$index.page.link}" class="more">more+</a>
				</div>
			</div>
			<div class="news-cont">
				<div class="indexnews">
					<div class="newstitle">
						{$index.text.name}<br/>{$index.text.en_name}
					</div>
					<div class="news-list">
						<ul>
							{foreach item=article from=$index.text.data}	
							<li><a href="{$article.link}">· {$article.title}</a></li>
							{/foreach}		
						</ul>
						<a href="{$index.text.link}" class="more">more+</a>
					</div>
				</div>
				<div class="contact">
					<div class="cont">
						<h2>{$contact.company}</h2>
						<div class="way">
							{$global.way}
						</div>
						<a href="{$index.cont.link}" class="more">more+</a>
					</div>
					<div class="conttitle">
						{$global.conttitle}
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="productbg">
		<div class="product">
			<div class="protitle">{$index.pro.name}<br/>{$index.pro.en_name}</div>
			<div class="multipleColumn">
				<div class="hd">
			       	<a class="prev"></a>
			        <a class="next"></a>		       
			    </div>
				<div class="bd">
					<div class="ulWrap">
						{$pronum=($index.pro.data|count)/2}
						{$num=0}
						{for $item=1 to $pronum}
						<ul>
							{foreach item=article from=$index.pro.data}
			            	<li>
								<a href="{$index.pro.data[$num].link}">
									<img src="{$index.pro.data[$num].image}">
								</a>
							</li>
							{$num=$num+1}
							{if $num%2==0}{break}{/if}
							{/foreach}					
						</ul>
						{/for}
					</div>
				</div>
			</div>
			<a href="{$index.pro.link}" class="more">&nbsp;&nbsp;MORE+</a>	
		</div>
	</div>

	{include file="./_footer.html"} 

<script type="text/javascript" src="{$site_url}js/jquery-1.9.1.min.js" ></script>

<script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.js"></script>
<!-- <script type="text/javascript" src="{$site_url}js/jquery.bgpos.js"></script>
<script type="text/javascript" src="{$site_url}js/lanrenzhijia.js"></script> -->
<script type="text/javascript" src="{$site_url}js/function.js"></script>

</body>
</html>