 <div id="header" class="wrapper clearfix">
  <h1>
   <span><img src="{$logo}"></span>
  </h1>
  <div class="tel">
   {$contact.telephone}
  </div>
 </div>
 
<div class="nav_bg">
<div id="nav" class="wrapper clearfix">

<div class="nav-wrap">
      <ul class="clearfix menu1">
            {$limit =10}
            {if $navs|count lt $limit}{$limit = $navs|count}{/if}
              <li class=" nav1" style="width:{100/($limit+1)}%"><p><a href="{$site_url}">home</a></p></li>
            {foreach name=navs item=nav from=$navs}
            <li class="fl{if $nav.current} current{/if} aa" style="width:{100/($limit+1)}%">
               <p><a href="{$nav.link}">{$nav.en_name}</a></p>
                <ul class="sub clearfix">
                    {if $nav.childmenu} {foreach key=key item=nav_list from=$nav.childmenu}
                    <li class="{if $nav.current}current{/if} cc"><a href="{$nav_list.link}">{$nav_list.en_name}</a></li>
                    {/foreach} {/if}
                </ul>
            </li>
            {if $nav@index+1 eq $limit}{break}{/if}
            {/foreach}
        </ul>
    </div>


 
</div>
</div>

 
 
 <div class="banner">
  <div id="slideBox" class="slideBox">
      <div class="hd">
        <ul>
          {$num=1}
          {foreach name=slidepics item=slidepic from=$global.slidepics}
            <li>{$num}</li>
            {$num=$num+1}
          {/foreach} 
        </ul>
      </div>
      <div class="bd">
        <ul>
          {foreach name=slidepics item=slidepic from=$global.slidepics}
          <li><a href="{$slidepic.link}"><img src="{$slidepic.image}"></a></li>
          {/foreach} 
        </ul>
      </div>
    </div>
</div>