body{ color:#929191; font-family:Microsoft Yahei,Arial, Helvetica, sans-serif; background:url(../images/bg.jpg) repeat;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ol,pre,form,input,textarea{margin:0;padding:0; list-style:none; line-height:24px; font-size:12px; font-weight:normal}
ul,li{margin:0; padding:0;list-style:none; font-weight:normal;}
a{ color:#929191; text-decoration:none; }
a:hover{ color:#cd1612; } 
img{ border:none;}
.clearfix:after { content:'\20'; display:block; height:0; clear:both; }
.clearfix { *zoom:1; }
.wrapper{width:1200px; margin:0 auto;}
display:block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;
strong{display: block;margin: 0 auto;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}


#header{ position:relative;}

#logo{width:575px;height:116px; float:left; position:relative;}
#logo a{display:block;width:575px;height:116px;position:absolute;bottom: 0px; left:0;}
#logo img{max-width:575px; max-height:116px; position:absolute; top:0; left:0; right:0; bottom:0;}

.tel{ max-width:395px; float:right; background:url(../images/tel.png) no-repeat; font-size:21px; line-height:42px; height:42px; overflow:hidden; color:#fa0101; margin-top:56px; padding:0 10px 0 54px;}



.search{ width:230px; position:absolute; border:1px #e60012 solid; right:10px; top:12px; background:#fff url(../images/sou_by.png) no-repeat 8px 6px; height:27px; overflow:hidden;}

.search_area{ float:left; width:180px; background:none; border:none; height:27px; line-height:27px; color:#b9b9b9; text-indent:30px;}

.search_btn{ float:right; width:50px; color:#fff; font-size:13px; background:#e60012; border:none; height:27px; overflow:hidden;}


#nav_bg{ width:100%; background:#cd1612; height:46px;}
#nav{}
#nav ul li { float:left; height:46px;}
#nav ul li a{ color:#FFF; font-size:14px; padding:0 10px; display:block;}
#nav ul li a:hover{ background:#44302f; }
#nav ul li p{ height:46px; overflow:hidden; line-height:46px; text-align:center;}

#nav ul li .cc{background:#3e3d3b; height:40px; line-height:40px;display:none; text-align:center; 
width:100%; position:relative; z-index:100; margin-top:0px; }
#nav ul li .cc:hover{}
#nav ul li .cc a{width:92%; margin:auto;color:#fff; padding:0 4%; overflow:hidden; height:40px; line-height:40px;}
#nav ul li .cc a:hover{ text-decoration:underline;color:#fff;}

#banner{ width:100%; height:405px; overflow:hidden;}

#container{ margin-top:30px; padding:0 38px; width:1124px;}

.products{}
.products .title{ color:#706969; font-size:18px; height:26px; line-height:26px; overflow:hidden;}
.products .title b{ color:#959595; font-size:14px; font-weight:normal; text-transform:uppercase;}
.products .title span{ float:right; padding-top:5px;}

.products .inner{ padding-top:20px;}
.products .inner ul li{ float:left; width:250px; margin-right:37px; text-align:center;}
.products .inner ul li a{ color:#929191;}
.products .inner ul li a:hover{ color:#2b2b2b;}
.products .inner ul li .pic{ width:250px; height:250px; overflow:hidden; background:#fff;} 
.products .inner ul li .pic img{ display:block; }
.products .inner ul li .text{ width:250px; text-align:left; line-height:44px; height:44px; overflow:hidden;}
.products .inner .bd{ width:1112px; margin:auto; height:285px; overflow:hidden;}

.news{ width:395px; float:left; margin-top:35px; margin-right:40px;}
.news .title{ color:#706969; font-size:18px; height:26px; line-height:26px; overflow:hidden;}
.news .title b{ color:#959595; font-size:14px; font-weight:normal; text-transform: uppercase;}
.news .title span{ float:right; padding-top:5px;}
.news .inner{ height:240px; overflow:hidden;}
.news .inner .content{}
.news .inner .content h2{ margin-bottom:10px; margin-top:12px; line-height:24px; height:24px; overflow:hidden;}
.news .inner .content h2 a:hover{ font-weight:bold;}

.news .inner .content .newsimg{height:108px; display:inline-block;*display:inline;*zoom:1; overflow:hidden}
.news .inner .content .newsimg img{ height:100%; display:block}

.news .inner .content .newstext{ padding:13px 0 0 10px; height:72px; overflow:hidden; display:inline-block; vertical-align:top;*display:inline;*zoom:1;}

.news .inner ul li{ line-height:38px; height:38px; overflow:hidden; border-bottom:1px #d4d4d4 solid;}

.news .inner ul li span{ float:right;}

.about{ width:360px; float:left; margin-top:35px;}
.about .title{ color:#706969; font-size:18px; height:26px; line-height:26px; overflow:hidden;}
.about .title b{ color:#959595; font-size:14px; font-weight:normal; text-transform: uppercase;}
.about .title span{ float:right; padding-top:5px;}

.about_img{ height:140px; margin-top:20px; margin-bottom:9px; text-align:center}
.about_img img{ height:100%; margin:auto}

.about .text{ height:66px; line-height:23px; overflow:hidden;}

.contact{ width:300px; float:right; margin-top:35px;}
.contact .title{ color:#706969; font-size:18px; height:26px; line-height:26px; overflow:hidden;}
.contact .title b{ color:#959595; font-size:14px; font-weight:normal; text-transform: uppercase;}
.contact .title span{ float:right; padding-top:5px;}
.contact .inner{ margin-top:20px; line-height:28px; height:225px; overflow:hidden;}
.contact .inner b{ font-size:14px; font-weight:normal; height:24px; overflow:hidden; display:block;}
.contact_text{ height:112px; overflow:hidden;}
.contact_img{ height:62px; margin-top:12px; margin-bottom:9px; text-align:center}
.contact_img img{ height:100%; margin:auto; border:2px #FFFFFF solid; box-shadow: 2px 2px 6px #dddddd;}



#footer_bg{ background:#b82626; margin-top:40px; }
#footer{ padding:10px 38px; width:1124px;}

.copyright{ float:left; color:#fff; width:875px;}
.copyright a{ color:#fff;}

.q_link{ float:right; padding-top:3px;}


#sub_container{ position:relative;}

.crumb p{ font-size:18px;}

/*sidebar css*/
.sidebar{ position:absolute; width:192px; float:left; margin-top:-34px; }

.subnav{ border-radius:9px; background:#FFF; border:1px #c7c7c7 solid; padding-bottom:15px;}

.subnav .alefttitle{ background:url(../images/alefttitle.png) no-repeat center top; color:#fff; width:183px; margin:auto; height:55px; line-height:55px; overflow:hidden; font-size:25px; font-weight:bold; text-align:center; }




.category{}

.category ul{}
.category ul li .firsta{ width:150px; margin:auto; height:30px; overflow:hidden; line-height:30px; display:block; color:#616161; font-size:14px; margin-top:13px; text-indent:22px;}
.category ul li a.firsta{  background:url(../images/firsta.png) no-repeat 3px;}
.category ul li a:hover.firsta{ color:#d30500;}



ul.second li .seconda{ background:url(../images/seconda.png) no-repeat 25px 11px; display:block; border-bottom:1px #dddddd dashed; line-height:30px; height:30px; overflow:hidden; width:150px; margin:auto; text-indent:40px; padding-right:10px;}
ul.second li a.seconda{ color:#a8a3a3;}
ul.second li a.seconda:hover{color:#d30500;}

ul.second li .thirda{ background:url(../images/thirda.png) no-repeat 40px 10px; display:block; line-height:30px; height:30px; overflow:hidden; width:150px; margin:auto; text-indent:55px; padding-right:10px;}
ul.third li a.thirda{ color:#a8a3a3;}
ul.third li a.thirda:hover{ color:#d30500;}


/*main css*/
.main{ float:right; width:912px; margin-top:38px; margin-right:50px; }

.crumb{ color:#747070; font-size:20px; height:24px; overflow:hidden; margin-bottom:30px;}

.crumb span{ float:right; background:url(../images/crumb_span.jpg) no-repeat left ; color:#9d9c9c; height:24px; line-height:24px; overflow:hidden; text-indent:16px; padding-right:10px;  font-size:12px;}
.crumb span a{ color:#9d9c9c;}


.article { background:#ffffff; border:3px #ebebeb solid; border-radius:9px; padding:15px;}
.article img{ max-width:912px; overflow:hidden}


#banner .slideBox {
	width:100%;
	position:relative;
}
#banner .slideBox .hd {
	height:15px;
	overflow:hidden;
	position:absolute;
	bottom:15px;
	z-index:10001;
	text-align:center;
	width:100%;
}
#banner .slideBox .hd ul {
	overflow:hidden;
	zoom:1;
	display:inline-block;
}
#banner .slideBox .hd ul li {
	float:left;
	margin-right:5px;
	width:15px;
	height:15px;
	line-height:14px;
	text-align:center;
	background:#fff;
	cursor:pointer;
	border-radius:15px;
}
#banner .slideBox .hd ul li.on {
	background:#cd1612;
	color:#fff;
}
#banner .slideBox .bd {
	position:relative;
	height:100%;
	z-index:0;
	margin:0px auto;
	text-align:center;
}
#banner .slideBox .bd li {
	zoom:1;
	vertical-align:middle;
}
#banner .slideBox .bd img {
	display:block;
	border:1px solid #ddd;
	padding:1px;
	margin:0px auto;
	text-align:center;
}
/* 下面是前/后按钮代码，如果不需要删除即可 */
#banner .slideBox .prev,  #banner .slideBox .next {
	position:absolute;
	left:3%;
	top:50%;
	margin-top:-25px;
	display:block;
	width:32px;
	height:40px;
	background:url(../images/slider-arrow.png) -110px 5px no-repeat;
	filter:alpha(opacity=50);
	opacity:0.5;
}
#banner .slideBox .next {
	left:auto;
	right:3%;
	background-position:8px 5px;
}
#banner .slideBox .prev:hover,  #banner .slideBox .next:hover {
	filter:alpha(opacity=100);
	opacity:1;
}
#banner .slideBox .prevStop {
	display:none;
}
#banner .slideBox .nextStop {
display:none;}



