  
  <div class="header">
      <div class="logo"><a href="{$site_url}"><img src="{$logo}" alt="" /></a></div>
      <div class="link">
        <div class="msg"><span>{$contact.telephone}</span></div>
      </div>
  </div>

  <div class="menu">
          <ul id="nav" class="nav">
            {$limit = 7}
            <li class="nLi on" style="width:{100/($limit+1)}%">
                <h3><a href="{$site_url}" target="_self">网站首页</a></h3>
            </li>
            {foreach name=navs item=nav from=$navs}
            <li class="{if $nav.current}on{/if} nLi" style="width:{100/($limit+1)}%">
                <h3>
                    <a href="{$nav.link}" target="_self">{$nav.name}</a>
                </h3>               
                {if $nav.childmenu}
                    <ul class="sub">
                        {foreach key=key item=nav_list from=$nav.childmenu}
                        <li class="{if $nav.current}current{/if}"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
                        {/foreach}
                    </ul>
                {/if}
            </li>
            {if $nav@index+1 gte $limit}{break}{/if}
            {/foreach}
        </ul> 

  </div>

  <div class="banner">
    <div id="slideBox" class="slideBox">
        <div class="hd">
          <ul>
            {foreach item=slidepic from=$global.slidepics}
              <li>{$slidepic@index+1}</li>                    
            {/foreach} 
          
          </ul>
        </div>
        <div class="bd">
          <ul>
            {foreach item=slidepic from=$global.slidepics}
              <li><a href="{$slidepic.link}"><img src="{$slidepic.image}"></a></li>                    
            {/foreach}            
                    
          </ul>
        </div>

        

    </div>


  </div>