     <div class="header">
         <div class="public">
            <div class="logo"><a href="{$site_url}"><img src="{$logo}"></a></div>
            <div class="home">
                 <span>
                     <a href="{$site_url}">设为首页</a> |
                     <a href="{$site_url}">加入收藏</a>
                 </span>
                 <form action="{$search_action}" method="GET" class="search">
                        <input class="searchbox" type="text" value="请输入关键字" />
                        <input class="searchbtn" type="submit" value="" />
                 </form>
            </div>                     
         </div>
     </div>

     <div class="menu">
        <ul class="nav">
            <li class="nLi" style="width:{100/(($navs|count)+1)}%"><a href="{$site_url}">网站首页</a></li>
            {foreach name=navs item=nav from=$navs}
            <li class="{if $nav.current} current{/if} nLi" style="width:{100/(($navs|count)+1)}%">
                <a href="{$nav.link}">{$nav.name}</a>
                {if $nav.childmenu}
                    <ul class="subnav">
                        {foreach key=key item=nav_list from=$nav.childmenu}
                        <li><a href="{$nav_list.link}">{$nav_list.name}</a></li>
                        <li>|</li>
                        {/foreach}
                    </ul>
                {/if}
            </li>
            {/foreach}
        </ul>

     </div>        
     <div class="banner">

          <div class="focusBox" style="margin:0 auto">
              <ul class="pic">
                        {foreach name=slidepics item=slidepic from=$global.slidepics}
                              <li><a href="{$slidepic.link}" target="_blank"><img src="{$slidepic.image}" alt="{$slidepic.title}" width="100%" height="379" /></a></li>       
                        {/foreach}
                      
              </ul>
              <ul class="hd">
                <li></li>
                <li></li>
                <li></li>
              </ul>
          </div>

     {100/(($navs|count)+1)}
     </div>