<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <!-- 调试代码 End -->
    <script type="text/javascript">
    // 跳转手机页面
    {if $site_another_url}
      if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
        location.href = '{$site_another_url}';
      }
    {/if}
    </script>
<meta http-equiv="x-ua-compatible" content="ie=7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{$keywords}" />
 <meta name="description" content="{$description}" />
<link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$site_url}js/jquery1.42.min.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.js"></script>
<script id="jsID" type="text/javascript" src="{$site_url}js/jquery_nav.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery_banner.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery_pic.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery_sz.js"></script>
<title>{$title}</title>
{$headscript}
</head>
<body>
 <div class="top"></div>
 <!-- 头部开始 -->
 {include file="./_header.html"}
 <!-- 头部结束 -->
<div class="main_box">
    <div class="main">
      <div class="main_middle">
        <div class="left">
          <h2 class="class_top">{$posnavs[0].name}</h2>
          <div class="chengjie">
            <ul class="class_main">
               {foreach item=nav from=$pagenavs}
  <li class="{if $nav.current}current{/if}">
    <a href="{$nav.link}">{$nav.name}</a>
    {if $nav.childmenu}
    <ul>
      {foreach item=nav_list from=$nav.childmenu}
      <li class="{if $nav_list.current}current{/if}"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
      {/foreach}
    </ul>
    {/if}
  </li>
  {/foreach}
            </ul>
          </div>
        
         <div class="contact">
            <h4 class="contact_pic"><img src="{$site_url}images/contact.jpg" width="234" height="128" /></h4>
            <div class="contact_text">
             {include file="./_global.html"}
            </div>
          </div>
        </div>
        <div class="right">
          <div class="pro">
            
            
 <h2 class="top_pro"><span class="more">您当前位置:<ul><li><a href="index.html">首页</a></li>
  {foreach item=nav from=$posnavs}
  <li>>><a href="{$nav.link}">{$list.name} </a></li>
  {/foreach}
</ul></span>{$list.name}</h2>
            <ul class="module_cases">
              {foreach item=article from=$list.data}
  <li><a href="#"><img src="{$list.image}" height="149" width="164" /></a><h2 class="photo_title">{$list.name}</h2>
                            
                        </li>
  {/foreach}
            </ul>
            <div class="module_page"><ul>
                <li><a href="{$page_links.first_link}">首页</a></li>
                <li><a href="{$page_links.prev_link}">上一页</a></li>
                {foreach name=nears_link item=near_link key=near_page from=$page_links.nears_link}
                {if $near_page == $page_links.current_page}
                    <li ><a>{$near_page}</a></li>
                {else}
                    <li><a href="{$near_link}">{$near_page}</a></li>
                {/if}
                {/foreach}
                <li><a href="{$page_links.next_link}">下一页</a></li>
                <li><a href="{$page_links.last_link}">末页</a></li>
            </ul></div>
            </div>
          
          
          
          
        </div>
      </div>
    </div>
    <div class="main_bottom"></div>
 {include file="./_footer.html"}
</div>
</body>
</html>