                      

				<ul>
			  {foreach name=pagenavs item=nav from=$pagenavs}
			<li><a onclick="javascript:window.location.href='{$nav.link}'"><span class="icon">&bull;</span>{$nav.name}</a></li>
			{if $nav.childmenu}
	
			{foreach key=key item=nav_list from=$nav.childmenu}
        
          <li><a onclick="javascript:window.location.href='{$nav_list.link}'"><span class="icon">&bull;</span>->{$nav_list.name}</a></li>
          {if $nav_list.childmenu}
          
            {foreach key=key item=nav_listsec from=$nav_list.childmenu}
           
             <li><a onclick="javascript:window.location.href='{$nav_listsec.link}'"><span class="icon">&bull;</span>-->{$nav_listsec.name}</a></li>
           
            {/foreach}
          
          {/if}
        
        {/foreach}
     
      {/if}
  
    {/foreach}
			</ul>  
            
			