<!DOCTYPE html>
<html manifest="huancun.manifest">
<head>
<!-- 实时预览调试代码，模板开发完成后删除 -->
		
		<!-- 调试代码 End -->
		<script type="text/javascript">
		// 跳转PC页面
		{if $site_another_url}
			if (!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
				location.href = '{$site_another_url}';
			}
		{/if}
		</script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta content="telephone=no, email=no" name="format-detection">
<!-- 启用360浏览器的极速模式(webkit) -->
<meta name="renderer" content="webkit">
<!-- 避免IE使用兼容模式 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
<meta name="HandheldFriendly" content="true">
<!-- 微软的老式浏览器 -->
<meta name="MobileOptimized" content="320">
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="portrait">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="portrait">
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<title>{$title}</title>
<link rel="stylesheet" href="{$site_url}css/reset.css" /> 
<link rel="stylesheet" href="{$site_url}css/public.css" /> 
<link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />
<link href="{$site_url}css/swipe.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" rev="stylesheet" href="{$site_url}css/style_{$stylecolor}.css" type="text/css" />
<script src="{$site_url}js/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.min.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
<script type="text/javascript" src="{$site_url}js/share.js"></script>
<script src="{$site_url}js/idangerous.swiper-2.0.min.js"></script>
<script src="{$site_url}js/idangerous.swiper.3dflow-2.0.js"></script>
<script src="{$site_url}js/simple-app.js"></script>
<script type="text/javascript">
	window.addEventListener('load', function(){
   setTimeout(function(){ window.scrollTo(0, 1); }, 100);
});//safari浏览器可以通过此代码来隐藏地址栏
</script>
</head>
<body>
<div class="body">
<div class="wrap page-active">
    <div class="index-wrap"> 
  {include file='./_header.html'}
  <section>
    <div class="boxmaind">
      <div class="boxmain_d">
        <h1 class="boxmain-top">
         <span class="more3" id="font">字+</span> <span class="more3" id="first">分类<span id="down"> ∧</span><span id="up"> ∨ </span></span>
         <div class="sub_zh public_color">{$list.name}</div><div class="sub_en public_color">{$list.en_name}</div></h1>
         
      
          <div class="font">
            	<dl class="big">大</dl>
                <dl class="normal">中</dl>
                <dl class="small">小</dl>
           	</div>
        <div class="hide-class">
          <div class="classbox">
            <dl class="sub1"><a href="#"><span class="icon">&bull;</span>一级分类</a></dl>
            <dl class="sub2"><a href="#"><span class="icon">&bull;</span>->二级分类</a></dl>
            <dl class="sub3"><a href="#"><span class="icon">&bull;</span>--三级分类</a> </dl>
            </div>
        </div>
        <div class="main">
          <div class="list_page public_color">
           外景照片更加自然更加美丽，是婚纱照不可或缺的，涉及外景车，燃油，工餐，饮水等费用都是由蒙娜丽莎来担负的。一些高端套系比如万元以上是没有任何场地费用的，但是一些低端套系，如果您想去特殊景点如非常勿扰2、蜈支洲岛等，要有相应的场地费。
完全不用携带多余的东西，下列物品需携带：防晒霜、太阳伞、防蚊液、隐形文胸，如果有条件自己带几件便装，可以让挑选的余地更大，太多的东西反而累赘。
您选择的游艇套系所需要的一些小道具我们蒙娜丽莎工作室都有相应的安排，请不必担心。再有特殊细节注意事项，客服会在拍摄日期之前一一通知到位。
您选择的游艇套系所需要的一些小道具我们蒙娜丽莎工作室都有相应的安排，请不必担心。再有特殊细节注意事项，客服会在拍摄日期之前一一通知到位。
在拍婚纱照前几天一定要休息好，保证皮肤状况良好，因为蒙娜丽莎倡导淡妆的真实美，如果恰好皮肤问题集中爆发，只能让化妆师的妙手来帮你啦，呵呵。蒙娜丽莎的化妆师造型师会把你打扮的美美的。
选片方面蒙娜丽莎也有人性化的服务，首先确定是否加选照片，明确挑片所需时间，我们会有专人陪同选片的，以严苛的角度来挑选，注意表情、光线、美感搭
            
          </div>
        </div>
      </div>
      <!--第三种样式结束-->
      
      
    </div>
  </section>
   <footer class="foot" ><a class="back-top">∧</a>{$footprint}</footer>
</div>
</div></div>
</body>
</html>
