<div id="header_bg"style="display:none">
  <div id="header" class="wrapper1 clearfix">
  <h1><a href="{$site_url}"><img src="{$logo}" alt="{$title}"></a></h1>
  
  <div class="tel">{$global.tel}</div>



<div id="nav">
    <div class="nav-wrap ">
      <ul class="clearfix menu1">
            {$limit = 7}
            {if $navs|count lt $limit}{$limit = $navs|count}{/if}
              <li class=" nav1" style="width:{89/($limit+1)}%"><a href="{$site_url}">网站首页</a></li>
            {foreach name=navs item=nav from=$navs}
            <li class="fl{if $nav.current} current{/if} aa" style="width:{89/($limit+1)}%">
             <p style="overflow:hidden; height:40px; line-height:40px;">  <a href="{$nav.link}">{$nav.name}</a></p>
                <ul class="sub clearfix">
                    {if $nav.childmenu} {foreach key=key item=nav_list from=$nav.childmenu}
                    <li class="{if $nav.current}current{/if} cc"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
                    {/foreach} {/if}
                </ul>
            </li>
            {if $nav@index+1 eq $limit}{break}{/if}
            {/foreach}
        </ul>
    </div>

</div> 

  </div>
</div>




























































