<!DOCTYPE html>
<html manifest="huancun.manifest">
<head>
	
		<!-- 调试代码 End -->
		<script type="text/javascript">
		// 跳转PC页面
		{if $site_another_url}
			if (!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
				location.href = '{$site_another_url}';
			}
		{/if}
		</script>
		<meta name="keywords" content="{$keywords}" />
		<meta name="description" content="{$description}" />      
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- 强制让文档的宽度与设备的宽度保持1:1，并且文档最大的宽度比例是1.0，且不允许用户点击屏幕放大浏览； -->
<meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
<!-- iphone设备中的safari私有meta标签，它表示：允许全屏模式浏览 -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- iphone的私有标签，它指定的iphone中safari顶端的状态条的样式 -->
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<!-- 告诉设备忽略将页面中的数字识别为电话号码\去除Android平台中对邮箱地址的识别 -->
<meta content="telephone=no, email=no" name="format-detection">
<!-- 启用360浏览器的极速模式(webkit) -->
<meta name="renderer" content="webkit">
<!-- 避免IE使用兼容模式 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
<meta name="HandheldFriendly" content="true">
<!-- 微软的老式浏览器 -->
<meta name="MobileOptimized" content="320">
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="portrait">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="portrait">
	<title>{$title}</title>
	<link rel="stylesheet" href="{$site_url}css/swiper.css">
	<link rel="stylesheet" href="{$site_url}css/swiper.min.css">
	<link rel="stylesheet" href="{$site_url}css/iconfont.css">
	<link rel="stylesheet" href="{$site_url}css/public.css">
	<script type="text/javascript" src="{$site_url}js/swiper.min.js"></script>
	<script type="text/javascript" src="{$site_url}js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="{$site_url}js/function.js"></script>
	<script type="text/javascript">
	window.addEventListener('load', function(){
   setTimeout(function(){ window.scrollTo(0, 1); }, 100);
});//safari浏览器可以通过此代码来隐藏地址栏
</script>
</head>
<body>
<section class="wrapper">
	<div class="contant">
		{include file="./_header.html"} 
		 <div class="about">
		 	<h3 class="title">
			 	<span class="title_a go fl">返回</span>
			 	<i>{$list.name}</i>
			 	<span class="class fr">分类∧</span>
		 	</h3>
			<ul class="class_list">
			{foreach name=pagenavs item=nav from=$pagenavs}
				<li class="{if $nav.current}current{/if}"><a href="{if $nav.childmenu}javascript:;{else}{$nav.link}{/if}"  class="{if $nav.selected}selected{/if}">{$nav.name}</a>
				 {if $nav.childmenu}
					<ul class="second">
					 {foreach key=key item=nav_list from=$nav.childmenu}
						<li class="{if $nav_list.current}current{/if}"><a href="{if $nav_list.childmenu}javascript:;{else}{$nav_list.link}{/if}"  class="{if $nav_list.selected}selected{/if}">{$nav_list.name}</a>
						{if $nav_list.childmenu}
							<ul class="third">
							 {foreach key=key item=nav_listsec from=$nav_list.childmenu}
								<li><a href="{$nav_listsec.link}" class="{if $nav_listsec.selected}selected{/if}">{$nav_listsec.name}</a></li>
								{/foreach}
							</ul>
							 {/if}	
						</li>
						
						 {/foreach}
					</ul>
					{/if} 
				</li>
				
				 {/foreach}
			</ul>	

		 	<div class="article">
				<ul class='news_ls'>
				 {foreach item=article from=$list.data}
					<li><a href="{$article.link}"><span class='fr'>(<span>{$article.pubtimestamp|date_format:'%Y/%m/%d'}</span>)</span>{$article.title}</a></li>
				{/foreach} 	
				</ul>
					<div class="munber">
					<li><a href="{$page_links.first_link}" class="cu">首页</a></li>
	                    <li><a href="{$page_links.prev_link}">上一页 </a></li>
	                    <li><a href="{$page_links.next_link}">下一页</a></li>
	                    <li><a href="{$page_links.last_link}"  >尾页</a></li>
                    </div>
		 		
		 	</div>	
		
	     <footer>
	      <div class="footer">
	    	<div class="home "><a href="javascript:0;">TOP</a></div>
	    	{$footprint} 
	    </div>
	    </footer> 
	</div>
	<div class="search_page" style="display:none">
		 	<h3 class="title">
			 	<span class="title_a fl" id="search-back">返回</span>
			 	<i>搜索</i>
		 	</h3>
		 	<div class="article">
					<form class='search' action="{$search_action}" method="GET" ><input type="text" name="s" value="" class='text_01 fl' placeholder='请输入需要查询名称'><input name="" type="submit" class='submit_01' value="GO"></form>
		 	</div>	
		 </div>
	 </div>
	<div class="show_bg"></div> 
	{$footscript}	 
</section>
</body>
</html>
