.news_detail .pi_words2.baner{ height:auto; overflow:hidden; position:relative; z-index:1; box-shadow: 1px 2px 2px #eda215}
.slideBox{ position:relative; overflow:hidden; margin:0px auto;/* 设置焦点图最大宽度 */  width:100%; height:auto; width:100%; height:auto; }
.slideBox .hd{ width:100%; height:30px;  position:absolute; z-index:1; bottom:0px; text-align:right; right:10px; }
.slideBox .hd ul{ display:inline-block; height:30px; padding:3px 5px;  width:100%; font-size:0; vertical-align:top; 
}
.slideBox .hd ul li{ display:inline-block; width:10px; height:10px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#e53e49;margin:8px 5px;  vertical-align:top; overflow:hidden;   }
.slideBox .hd ul .on{  width:20px; height:10px;
    background:#e53e49; 
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:15px;}
.slideBox .bd{ position:relative; z-index:0; }
.slideBox .bd li{ position:relative; text-align:center;  }
.slideBox .bd li img{ background:url(images/loading.gif) center center no-repeat;  vertical-align:top; width:100%;/* 图片宽度100%，达到自适应效果 */}
.slideBox .bd li a{ -webkit-tap-highlight-color:rgba(0,0,0,0);  }  /* 去掉链接触摸高亮 */
.slideBox .bd li .tit{ display: none; width:100%;  position:absolute; bottom:0; text-indent:10px; height:28px; line-height:28px; background:url(images/focusBg.png) repeat-x; color:#fff;  text-align:left;  }
.slideBox .prev,.slideBox .next{ display:none; }
.slideBox .next{ left:auto; right:14px;background: url(../images/next.png) left top no-repeat; background-size:16px 31px;  }
.conert{ width:100%; height:auto; overflow:hidden;box-shadow: 1px 2px 2px #eda215;  }
.about{  height:auto; overflow:hidden;padding:10px 10px 0px;}
.a_title{-moz-border-radius:10px;border-radius:10px 10px 0px 0px;border-width:2px 2px 0 0;background-color:#fe9419;height:30px; line-height:30px; position:absolute; width:100%;top:12px;}
.title_index{ position:relative; height:42px; overflow:hidden; width:100%;}
.banyuan{       background: #e5c3b2;
                        height: 50px;
                        width: 100px;                    
                        -moz-border-radius: 100px 100px 0 0;
                        -webkit-border-radius: 100px 100px 0 0;
                        border-radius: 100px 100px 0 0; position:absolute; background:#fe9419; left:5px;}
.logbg{ width:100%; height:auto; overflow:hidden; position:absolute; left:0px; bottom:0px; height:10px;}
.banyuan2{       background: #e5c3b2; float:left; overflow:hidden;
                        height: 50px;
                        width: 60px;                    
                        -moz-border-radius: 60px 60px 0 0;
                        -webkit-border-radius: 60px 60px 0 0;
                        border-radius: 60px 60px 0 0; background:#fe9419; }						
.title2{ padding-left:25px; color:#fff; font-size:1.1em;}
.border{ width:100%; height:auto; overflow:hidden; background:#fff8ec; padding:10px 0px;}	
.annput{ padding:10px; height:auto;}		
.annput img{ float:left; overflow:hidden;margin-right:10px;}	
.annput img{ width:90px; height:69px; padding:1px; border:1px solid #d2cbc1;}	
.edita{ color:#282828; font-size:1em; line-height:22px;}
.mores{border-radius:5px; background:#e53e49; height:30px; line-height:30px; text-align:center; width:100px; margin:0px auto; clear:both;}
.mores a{ color:#fff;}
.news_list .mores{ margin-top:15px; color:#fff;}
.cpzx{  height:auto; overflow:hidden;padding:10px 10px 0px;}
.pic-show{ width:100%; height:auto; overflow:hidden; margin:0px auto 0px;}
.huns_tu2{ width:99%; height:auto; padding-bottom:0px; overflow:hidden; margin:0px auto; padding:0.5%;}
ul.huns_tu2 li{ float:left;text-align:center; height:auto; overflow:hidden; width:33.3%; height:auto; margin-bottom:15px;}
ul.huns_tu2 li .hua_show2{text-align:center; margin-right:0px;height:auto; padding-right:0px;overflow:hidden; padding:0px 8px;
 }
.ping{ width:100%; height:auto; overflow:hidden; position:relative;}
.ping .cimg{ height:auto; border:3px solid #fe9419;}
.ping img{ width:100%; height:auto; vertical-align:top;}
ul.huns_tu2 li .hua_show2 .pi_words2{background: #fe941a; height:40px; line-height:33px; width:100%;}
ul.huns_tu2 li .hua_show2  a{ color:#fff;}
.xwzx{  height:auto; overflow:hidden;padding:10px 10px 0px;}
.news_list{ width:100%; height:auto; overflow:hidden; padding-bottom:10px;}
.news_d{ width:100%; height:auto; overflow:hidden; border-bottom:1px dotted #958f83; padding:10px 0px 10px;}
.ndata{ width: 90px;     height: 85px;     background:#e53e49; float:left; margin-right:10px;
border-radius:  0 100% 100% 0; color:#fff; text-align:center; font-weight:bold; font-size:1.2em; letter-spacing:1px; line-height:85px;}
.news_d .contain{ padding:0px 8px; height:auto; overflow:hidden;}
.news_d .contain dt{ height:30px; line-height:30px; font-size:1.2em; overflow:hidden; color:#e53e49; margin-bottom:6px;}
.news_d .contain dd{ height:44px; overflow:hidden; line-height:22px; color:#282828; font-size:1em;     }
.news_d .contain dd.date{ color:#c5b3b3; font-size:0.9em; height:20px; line-height:20px; overflow:hidden;}
.xwzx .border{ padding:0px 0px 10px;}
.lianxi{padding:10px 10px 0px; height:auto; overflow:hidden;color:#282828; line-height:25px;}
.flogo{ width:100px; height:72px; float:left; overflow:hidden; margin-right:10px; }
.zixun{ height:50px;color:#fff; text-align:center; background:#fe9419; line-height:50px; font-size:1.1em}
.rizixun{ height:35px; background:#e53e49;border-radius:  0 0 100% 100%; width:30px; float:right; margin-right:10px; line-height:20px;}
.zixun img{ vertical-align:middle;}
.headline{ height:1px; border-bottom:1px solid #fecf23; box-shadow: 1px 2px 2px #eda215;}
.hide-class{ width:100%; position:absolute; top:0px; left:0px; background:rgba(229,62,73,0.9); height:auto; overflow:hidden; display:none; padding:10px 0px;}
.hide-class dl{ height:30px; line-height:30px; margin:0px 10px; overflow:hidden; border-bottom:1px solid #feb0b5;}
.hide-class dl a{ display:block; color:#fff}
.hide-class dl a span{ float:left; background:#b8bd3f; width:30px; overflow:hidden; height:30px; text-align:center; padding-top:8px; margin-left:1px; margin-right:8px;}
.hide-class dl a span h1.circle{ 	width: 10px;
	height: 10px;
	background-color: #b8bd3f; /* Can be set to transparent */
      	border: 3px #ffffff solid;
	-webkit-border-radius: 7px; margin-left:7px;}
.nav3 a{text-indent: 4em;background: rgba(222,130,130,1);}
.nav4 a{text-indent: 5.4em;background: rgba(222,180,180,1);}
#up{ display: none;}
.btn{ float:right; display:inline; margin-left:1px; padding:0px 10px; font-size:0.8em; height:35px; overflow:hidden; background:#6c3e33; text-indent:0px; color:#ffc7bc}
.font{ width:40px; text-align:center; background:rgba(0,0,0,0.8);position:absolute; top:0px; right:0px; display:none; }
.fenlei{border-radius:0px 10px 0px 0px;}
.font dl{ height:30px; line-height:30px; color:#e1e1e1; text-align:center; }
.font dl.big,.font-big{ font-size:1.2em; }
.font dl.normal,.font-normal{ font-size:1.0em;}
.font dl.small,.font-small{ font-size:0.8em;}
.a_title span.morefont{ padding:0px 8px; line-height:30px; color:#fff; text-shadow:0px 0px #fff;float:right; background:#e53e49; margin-left:5px;}
.a_title span{ padding-left:0px; color:#fff; text-transform:uppercase;}
.detl-wrap{ width:100%; height:auto; overflow:hidden;box-shadow:1px 2px 2px #eda215;  }
.indexa{ padding:10px 10px 0px; height:auto; overflow:hidden;}
.box-id{ padding:0px 0px;height:auto; overflow:hidden; width:100%; position:relative;}
.box-m{ height:auto; overflow:hidden; position:relative;color:#333333; }
.box-m .aimg{ height:auto; overflow:hidden; width:100%;}
.box-m .nimg2{ height:auto; overflow:hidden; padding:10px 10px 0px;}
.news_show{ padding:0px; height:auto; overflow:hidden;}
.edite{ padding:0px; height:auto; overflow:hidden; margin:10px; height:auto; overflow:hidden; }
.foter{ height:40px; line-height:40px; text-align:center; color:#e53e49; font-size:1.1em;}
.indexa .border{ width:100%; height:auto; overflow:hidden; background:#fff8ec; padding:0px 0px 10px;}	
.lianxia{ padding:0px 10px 0px 40px; height:50px; line-height:50px; background:url(../images/tela.png) 10px center no-repeat; color:#fff; text-align:left;}
.ftop{border-radius:50%; background:#e53e49; margin-top:5px; line-height:41px; text-align:center; width:40px; height:40px; float:right; text-transform:uppercase;}
.zixun2{ width:100%; height:50px; background:#fe9419;}
.news_list .news_d{ width:100%; height:auto; overflow:hidden; border-bottom:1px dotted #958f83; padding:10px 0px 10px;}
.more2{ margin:10px auto; height:30px; width:30%;font-size:1.2em;line-height:30px; padding:5px 0px; overflow:hidden; border-radius:4px; background:#e53e49; text-align:center;  color:#fff;  cursor:pointer;}
.less_more{ display:none;}
.next1{ margin:10px auto; height:30px; width:87%;font-size:1.1em;line-height:30px; padding:5px 0px; overflow:hidden;text-align:center; }
.next1 a{ border-radius:4px; background:#e53e49; color:#fff;  cursor:pointer; margin-right:10px; height:30px; line-height:30px; padding:5px; }
.boxmain-topa{ height:40px; overflow:hidden; background:#fe9419; line-height:40px;}
.boxmain-topa .title{ width:90px; height:40px; display:block; text-align:center; font-size:1.13em; color:#fff;}
.boxmain-topa .title3{ width:100%; height:40px; display:block; text-align:center; font-size:1.13em; color:#fff;}
.back{  height:40px; overflow:hidden; text-indent:0px; color:#fff; line-height:40px; float:left; display:inline; margin:0px; background:#e53e49;}
.back a{ color:#fff; padding:0px 10px; display:block;}
.boxmain2 .font{ top:40px;}
.boxmain-topa .morefont{ float:right; display:inline; color:#fff;margin:0; background:#e53e49;height:40px; line-height:40px; padding:0px 10px; text-indent:0px;}
.nox_shpow{ padding:0px 0px; height:auto; overflow:hidden;background:#fff; }
.cimgs{ width:80%;padding:1px; border:1px solid #4c4c4c; background:#0a0a0a; text-align:center; margin:20px auto;}
.cimgs img{ width:100%; vertical-align:top;padding-bottom:1px; border-bottom:1px solid #4c4c4c; }
.cimgs .tilt1{height:31px; line-height:31px;text-align:center; width:100%; background:#2b2b2b; margin-top:1px; color:#fff;}
.case_edit{ width:100%; height:auto; overflow:hidden; padding:0px; margin-bottom:20px;}
.case_title{ height:35px; padding:0px 10px; line-height:35px; color:#292929; background:#eaab4c; font-size:1.1em;}
.case_sm{ border:1px solid #4c4c4c; background:#2b2b2b; padding:0px 0px;}
.inner_pages{ padding:0px 0px; color:#fff; margin-bottom:25px; margin-top:20px;  }
.inner_pages  li{ height:42px; line-height:42px; margin-bottom:5px; overflow:hidden; position:relative;}
.inner_pages  li .pageli{-moz-border-radius:5px;border-radius:5px 5px; z-index:10;border-width:2px 2px 0 0;background-color:#e53e49;height:30px; line-height:30px; position:absolute; width:100%;top:12px;}
.inner_pages  li .pageli a{ color:#fff; padding-left:10px;}
.news_detail{ height:auto; overflow:hidden; padding:10px; background:#fff8ec;   }
.news_detail .titlea{ height:auto; overflow:hidden; text-align:center; font-size:1.3em; line-height:30px; color:#333333; }
.news_detail .titleb{ height:28px; text-align:center; line-height:28px; color:#666666; font-size:1.1em; border-bottom:1px dotted #8a8a8a;}
.news_detail .edite{ margin:0px; color:#282828;}
.nimg{ width:100%; height:auto; overflow:hidden; margin:15px auto;}
.news_detail .banyuan{       background: #e5c3b2;
                        height: 30px;
                        width: 60px;                    
                        -moz-border-radius: 60px 60px 0 0;
                        -webkit-border-radius: 60px 60px 0 0;
                        border-radius: 60px 60px 0 0; position:absolute; background:#e53e49; left:1px;}
.news_detail  .pi_words2{ background: #fe941a; height:59px; line-height:45px; width:100%; text-align:center;}
.news_detail  .ping  a{ color:#fff;}	
.news_detail .ping{ width:80%; height:auto; overflow:hidden; position:relative; text-align:center; margin:0px auto 20px;}
.xiangxi{height:40px; line-height:40px; margin-bottom:5px; overflow:hidden; position:relative; width:100px; text-align:center;}		
.xiangxi .infore{-moz-border-radius:5px;border-radius:5px 5px; z-index:10;border-width:2px 2px 0 0;background-color:#e53e49; color:#fff;height:30px; line-height:30px; position:absolute; width:100%;top:12px;}
.news_detail .xiangxi .banyuan{       background: #e5c3b2;
                        height: 50px;
                        width: 100px;                    
                        -moz-border-radius: 100px 100px 0 0;
                        -webkit-border-radius: 100px 100px 0 0;
                        border-radius: 100px 100px 0 0; position:absolute; background:#e53e49; left:0%;}	
.index-wrap .deta_tp{box-shadow:1px 2px 2px #eda215; height:auto; overflow:hidden;}	
#font{ border-radius:0px 10px 0px 0px; background:none;}	
.boxmain-topa #font{ background:#E53E49;border-radius:0px; }	
.fenlei2{ border-radius:0px 10px 0px 0px;}		
.annput .mores{ margin-top:10px;}			
.tell-icon{ height:35px; overflow:hidden; background:#fe9419; line-height:35px; background:url(../images/icon-tell.png) 10px center no-repeat #fe9419; background-size: auto 20px; position:absolute; bottom:58px; left:0px; z-index:99; width:100%; text-indent:40px; color:#fff; font-size:1.13em; display:none;}
.display-block{ display:block;}
.tell-icon .number{ font-size:1.23em;}
.tell-icon .close{ width:25px; height:25px; overflow:hidden; line-height:25px; margin-top:7px; margin-right:7px;float:right; display:inline; position:relative; background:#e53e49; color:#ffead1;  font-size:1.1em; color:#ffead1; cursor:pointer; border-radius:100%; text-indent:0px; text-align:center}

@media screen and (min-width: 320px) and (max-width: 480px){
.couimg{ width:60px; height:60px;}
ul.picture1 li{ float:left;width:50%; text-align:center; height:auto; overflow:hidden;  }
ul.news-list li .nimg{ width:95px; height:64px; float:left; overflow:hidden; 
}
.protitle{ margin-bottom:0px; line-height:21px;}
.word_title a{ margin-bottom:0px; line-height:22px; height:22px;}
.n_enter{ line-height:80px;}
ul.news-list li .date{ width:80px; height:72px; }
ul.news-list li .contain dd{ height:20px; overflow:hidden; line-height:20px; color:#e5e5e5; margin-bottom:5px;     }
.menu-nav ul li{ width:50%; }
.menu-nav ul li .menu-list{ padding:15px 0px;}
.poducts_t ul li .pimgwprd{ font-weight:bold; font-size:1em; color:#fff; text-align:center; border-bottom:1px dotted #fff;  line-height:20px; padding-top:5px;}
.poducts_t ul li .primg_eng{ color:#fff; line-height:20px; font-size:0.8em; text-align:center; text-transform:uppercase; padding-bottom:5px;}
.annput img{padding:1px; border:1px solid #d2cbc1; width:75px; height:58px; }
ul.huns_tu2 li{ width:50%;}
.ndata{ width: 70px;     height: 65px; line-height:65px; font-size:1.1em; }
.news_d .contain dt{ height:25px; line-height:25px; font-size:1.1em; overflow:hidden; color:#e53e49; margin-bottom:0px;}
.news_d .contain dd{ height:40px; overflow:hidden; line-height:20px; color:#282828; font-size:1em;     }

}

}
@media screen and (min-width: 480px) {
.couimg{ width:88px; height:88px;}
ul.picture1 li{ float:left;width:50%; text-align:center; height:auto; overflow:hidden;}
ul.news-list li .nimg{ width:120px; height:81px; float:left; overflow:hidden; display:inline-table; overflow:hidden; font-size:1.5em; 
}
ul.news-list li .contain dd{ height:60px; overflow:hidden; line-height:20px; color:#e5e5e5; margin-bottom:5px;     }
.n_enter{ line-height:100px;}
ul.news-list li .date{ width:90px; height:82px; }
ul.news-list li .contain dt{ height:35px; line-height:35px;}
.menu-nav ul li{ width:33.3%;}
.menu-nav ul li .menu-list{ padding:38px 0px;}
.annput img{ width:90px; height:69px; padding:1px; border:1px solid #d2cbc1;}
ul.huns_tu2 li{ width:33.3%;}
}

@keyframes opacity{
0%{ opacity:0}
100%{ opacity:1}
}
@-webkit-keyframes opacity{
0%{ opacity:0}
100%{ opacity:1}
}
@-o-keyframes opacity{
0%{ opacity:0}
100%{ opacity:1}
}
@-moz-keyframes opacity{
0%{ opacity:0}
100%{ opacity:1}
}
