
<header>
	<section class="headtop">
         	<div class="topshow"> 
        <div class="header">
                <div class="logo"><a href="{$site_url}"><img src="{$logo}" alt="{$title}" /></a></div>
<div class="homes">{$contact.telephone} </div>
                    </div>  
<div class="menu main_nav-percent">       
<ul id="nav" class="nav clearfix">
        {$litmit = 8}
        {if $navs|count lt $litmit}{$litmit = $navs|count}{/if}
			<li class="nLi" style="width:{100/($litmit+1)-1}%">
            	<h3><a href="{$site_url}">首页</a></h3>
			</li>
            {foreach name=navs item=nav from=$navs}
			<li  class="fl{if $nav.current} current{/if} nLi" style="width:{100/($litmit+1)}%">
					<h3><a href="{$nav.link}">{$nav.name}</a></h3>
				<ul class="sub clearfix">
                {if $nav.childmenu}
					{foreach key=key item=nav_list from=$nav.childmenu}
					<li class="{if $nav.current}current{/if}"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
					{/foreach}
                    {/if}
				</ul>
			</li>
			{if $nav@index+1 gte $litmit}{break}{/if}
          {/foreach}
                                          
		</ul>
        
        
       </div>    

<div class="public banners">
<div class="focusBox" style="margin:0 auto">
			<ul class="pic">
                  {foreach name=slidepics item=slidepic from=$global.slidepics}
                      <li><a href="{$slidepic.link}" target="_blank"><img src="{$slidepic.image}" alt="{$slidepic.title}" /></a></li>
                    
                    {/foreach}                        
			</ul>
			<a class="prev" href="javascript:void(0)"></a>
			<a class="next" href="javascript:void(0)"></a>
			<ul class="hd">
                {foreach name=slidepics item=slidepic from=$global.slidepics}
                 <li>{$slidepic@index+1}</li>
                   {/foreach}
                 </ul>  
			</ul>
	</div>           

            
            </div>                                        	</div>
 </section>
 </header>