<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript">
    // Ìø×ªÊÖ»úÒ³Ãæ
    {if $site_another_url}
        if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
            location.href = '{$site_another_url}';
        }
    {/if}
    </script>

  
<meta name="keywords" content="{$keywords}"/>
<meta name="description" content="{$description}"/>
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="zh-CN">

<link rel="stylesheet" type="text/css" href="{$site_url}css/style.css"/>
<script type="text/javascript" src="{$site_url}js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
<script type="text/javascript" src="{$site_url}js/html5.js"></script>
<title>{$title}</title>
</head>
<body>
	<div id="wrapper">
		{include file='./_header.html'}
		<div class="content">
			<div class="inside">
				{include file='./_left.html'}
				<div class="center">
					<div class="main-hd">
	                    <span>current position：
	                        <a href="{$site_url}">home</a>
	                        {foreach item=nav from=$posnavs} - <a href="{$nav.link}">{$nav.en_name}</a>
	                        {/foreach}
	                    </span>
	                </div>
					<div class="main">
	                    <div class="case">
	                        <h2>{$article.title}</h2>
	                        <h3><span>{$article.description}</span></h3>
	                        <div class="case-list">
	                            <div class="case-bd">
	                                <ul class="case-last">
	                                    {foreach item=image from=$article.images}
	                                        <li><img src="{$image.image}"></li>
	                                    {/foreach}
	                                </ul>
	                            </div>
	                            <div class="scroll">
	                                <a class="sPrev" href="javascript:void(null)"></a>
	                                <div class="case-hd">
	                                	<ol>
	                                		{foreach item=image from=$article.images}
	                                        <li><a href="javascript:void(null)"><img src="{$image.image}"></a></li>
	                                    	{/foreach}
	                                	</ol>
	                                </div>
	                                <a class="sNext" href="javascript:void(null)"></a>
	                            </div>
	                        </div>
	                        <div class="pro-detail">
	                            <article>
	                                {$article.content|unescape:"html"}
	                            </article>
	                        </div>
	                    </div>
                        <ul class="arrows"><span>
                            <li><a href="{$article.prev.link}">On a</a></li>
                            <li><a href="javascript:window.history.back()">back</a></li>
                            <li><a href="{$article.next.link}">next</a></li>
                        </span></ul>
					</div>
				</div>
			</div>
		</div>
		{include file='./_footer.html'}
	</div>
</body>
</html>