<div id="header" class="wrapper clearfix">
  <h1><span><img src="{$logo}" class="pngFix" /></span></h1>
  <div class="menu">
    <ul id="nav" class="nav clearfix">
      <li class="nLi mu_bg" style="width:{100/(($navs|count)+1)}%">
        <a href='{$site_url}'>首页</a>
      </li>
      {foreach name=navs item=nav from=$navs}
      <li class="nLi mu_bg" style="width:{100/(($navs|count)+1)}%">
          <a href='{$nav.link}'>{$nav.name}</a>
          {if $nav.childmenu}
          <ul class="sub"> 
          {foreach key=key item=nav_list from=$nav.childmenu}
          <li><a href='{$nav_list.link}'>{$nav_list.name}</a></li>
          {/foreach}
          </ul>
          {/if} 
      </li>
      {/foreach}
    </ul>       
  </div>
</div>

<div class="banner">
  <div class="topline"></div>
  <div id="slideBox" class="slideBox">
      <div class="hd">
        <ul>
          {$num=1}
          {foreach name=slidepics item=slidepic from=$global.slidepics}
            <li>{$num}</li>
            {$num=$num+1}
          {/foreach} 
        </ul>
      </div>
      <div class="bd">
        <ul>
          {foreach name=slidepics item=slidepic from=$global.slidepics}
          <li><a href="{$slidepic.link}"><img src="{$slidepic.image}"></a></li>
          {/foreach} 
        </ul>
      </div>
    </div>
</div>