<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no, email=no" name="format-detection">
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- 固定字体缩放 -->
    <meta name="wap-font-scale" content="no">
    <!-- 统一平台 -->
    <meta name="keywords" content="{$keywords}" />
    <meta name="description" content="{$description}" />
    <title>{$title}</title>
    <link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
    <!--  -->
    <script type="text/javascript">
        // 跳转PC页面
        {if $site_another_url}
            if (!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
                location.href = '{$site_another_url}';
            }
        {/if}
    </script>
    <link rel="stylesheet" href="{$site_url}css/swiper-3.3.1.min.css">
    <link rel="stylesheet" type="text/css" href="{$site_url}css/style.css">
    <script type="text/javascript" src="{$site_url}js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{$site_url}js/swiper-3.3.1.jquery.min.js"></script>
    <script type="text/javascript" src="{$site_url}js/function.js"></script>
    <script type="text/javascript" src="{$site_url}js/index.js"></script>
    <script type="text/javascript">
        window.addEventListener('load', function(){
            setTimeout(function(){ window.scrollTo(0, 1); }, 100);
        });//safari浏览器可以通过此代码来隐藏地址栏
    </script>
</head>
<body>
    <div id="wrapper">
        <header id="roof">
            <a href="javascript:history.back(-1)" class="return"><span></span></a>
            <h1>{$article.category.name}</h1>
            <div class="size tc pr fr">
                <div class="fontsize">字</div>
                <ul class="size-list oh">
                    <li class="largen" id="largen">大</li>
                    <li class="recover" id="recover">中</li>
                    <li class="diminish" id="diminish">小</li>
                </ul>
            </div>
        </header>
        <div class="wrap oh pr">
            <div class="product-detail">
                <div class="case">
                    <ul class="swiper-wrapper">
                       {foreach item=image from=$article.images}
                            <li class="swiper-slide tc"><img src="{$image.image}"></li>
                        {/foreach}
                    </ul>
                </div>
                <h2 class="case-hd">{$article.title}</h2>
                <div class="case-text main">
                    <article>
                        {$article.content|unescape:"html"}
                    </article>
                </div>
            </div>
            <ul class="near-page tc">
                <li><a href="{$article.prev.link}">上一篇</a></li>
                <li><a href="javascript:history.back(-1)">返回</a></li>
                <li><a href="{$article.next.link}">下一篇</a></li>
            </ul>
        </div>
        <footer id="footer">
            <a href="" class="totop">TOP</a>
            <div class="foot">
                {$footprint}
            </div>
        </footer>
    </div>
{$footscript}
</body>
</html>