<div class="inside-banner" id="focusBox">
    <div class="pic" id="picture">
        <ul>
            {foreach name=slidepics item=slidepic from=$global.slidepics}
                <li><a target="_blank" href="{$slidepic.link}"><img src="{$slidepic.image}"></a></li>
            {/foreach}
        </ul>
    </div>
    <ol class="square">
        {foreach name=slidepics item=slidepic from=$global.slidepics}
            <li></li>
        {/foreach}
    </ol>
    <div class="around"><!-- 这是箭头，不需要可以删掉 -->
        <a class="prev" href="javascript:void(0)"></a>
        <a class="next" href="javascript:void(0)"></a>   
    </div>
</div>