    <header id="header">
        <div class="head">
            <div class="logo"><a href="{$site_url}"><img src="{$logo}"/></a></div>
            <span>{foreach item=nav from=$navs}
                {if $nav@index > 0}|{/if}
                <a href="{$nav.link}">{$nav.name}</a>
                {if $nav@index+1 eq 6}{break}{/if}
            {/foreach}</span>
            <h4>服务热线：<i>{$contact.telephone}</i></h4>
        </div>
        <nav id="nav">
            <ul class="menu">
                <li><a href="{$site_url}"> 网站首页 </a></li>
                {foreach name=navs item=nav from=$navs}
                <li>
                    <a href="{$nav.link}">{$nav.name}</a>
                    {if $nav.childmenu}
                    <ul class="menu-list">
                        {foreach key=key item=nav_list from=$nav.childmenu}
                        <li><a href="{$nav_list.link}">{$nav_list.name}</a></li>
                        {/foreach}
                    </ul>
                    {/if}
                </li>
                {/foreach}
            </ul>
        </nav>
    </header>