<div style="position: absolute;">
<nav>
		<!-- 下表为0的面包屑导航正好是一级栏目的当前栏目 -->
	<ul class="listbg clearfix h_o first">
				<li class="">
			<a class="h_top " href="list-text.html">navF1</a>
                        
		</li>
				<li class="">
			<a class="h_top " href="list-text.html">navF2</a>
                        
		</li>
		<li class="">
			<a class="h_top " href="list-text.html">navF2</a>
                        
		</li><li class="">
			<a class="h_top " href="list-text.html">navF2</a>
                        
		</li><li class="">
			<a class="h_top " href="list-text.html">navF2</a>
                        
		</li>
				<li class="current tans">
			<a class="h_top " href="#">navF3</a>
            			<ul class="second clearfix" style="display: block;">
				                
				<li class="current tans"><a class="h_topa " href="#"> navF3a</a>
                                        <ul class="third clearfix" style="display: block;">
                                                <li class="current tans"><a class="selected" href="list-imagetext.html">navF3aa</a></li>
                                                <li class="current tans"><a class="selected" href="list-imagetext.html">navF3aa</a></li>
                                                <li class="current tans"><a class="selected" href="list-imagetext.html">navF3aa</a></li>
                                                <li class="current tans"><a class="selected" href="list-imagetext.html">navF3aa</a></li>
                                                <li class="current tans"><a class="selected" href="list-imagetext.html">navF3aa</a></li>
                                                <li class="current tans"><a class="selected" href="list-imagetext.html">navF3aa</a></li>
                                            </ul>
                     
                </li>                 
				                
				<li class=""><a class="h_topa " href="list-imagetext.html"> navF3b</a>
                     <ul class="third clearfix" style="display: block;">
                             <li class="current tans"><a class="selected" href="list-imagetext.html">navF3aa</a></li>
                             <li class="current tans"><a class="selected" href="list-imagetext.html">navF3aa</a></li>
                             <li class="current tans"><a class="selected" href="list-imagetext.html">navF3aa</a></li>
                             <li class="current tans"><a class="selected" href="list-imagetext.html">navF3aa</a></li>
                             <li class="current tans"><a class="selected" href="list-imagetext.html">navF3aa</a></li>
                             <li class="current tans"><a class="selected" href="list-imagetext.html">navF3aa</a></li>
                         </ul>
                </li> <li class=""><a class="h_topa " href="list-imagetext.html"> navF3b</a>
                     
                </li><li class=""><a class="h_topa " href="list-imagetext.html"> navF3b</a>
                     
                </li><li class=""><a class="h_topa " href="list-imagetext.html"> navF3b</a>
                     
                </li><li class=""><a class="h_topa " href="list-imagetext.html"> navF3b</a>
                     
                </li><li class=""><a class="h_topa " href="list-imagetext.html"> navF3b</a>
                     
                </li>                
							</ul>
			            
		</li>
			</ul>
	
</nav>
</div>