<section>
 
      <div class="picMarquee">
				<ul class="picList">

					{foreach  name=list3 item=article from=$index.list3.data}
                         <li>
                             <a href="{$article.link}" class="title">
                                 <img src="{$article.image}" />
                                 <div style="color:#8e8b8b;font-size:12px">{$article.title}</div>
                             </a>
                         </li>
                    {/foreach}
                    
				</ul>

			</div>
</section>