<section>
               
                <a href="{$page_links.first_link}">[First]</a>
                     <a href="{$page_links.prev_link}">&laquo; Prev</a>
                      {foreach item=near_link key=near_page from=$page_links.nears_link}
                        {if $near_page == $page_links.current_page}
                          <a class="current">{$near_page}</a></li>
                        {else}
                          <a href="{$near_link}">{$near_page}</a></li>
                        {/if}
                      {/foreach}


                      <a href="{$page_links.next_link}">Next &raquo;</a>
                <a href="{$page_links.last_link}">[Last]</a>
</section>