<!DOCTYPE html>
<html manifest="huancun.manifest">
<head>

<script type="text/javascript">
  // 识别为手机客户端，自动跳转手机页面
  {if $site_another_url}
    if (!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
      location.href = '{$site_another_url}';
    }
  {/if}
</script>
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />


<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta content="telephone=no, email=no" name="format-detection">
<!-- 启用360浏览器的极速模式(webkit) -->
<meta name="renderer" content="webkit">
<!-- 避免IE使用兼容模式 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
<meta name="HandheldFriendly" content="true">
<!-- 微软的老式浏览器 -->
<meta name="MobileOptimized" content="320">
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="portrait">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="portrait">
<title>{$title}</title>
<link rel="stylesheet" href="{$site_url}css/reset.css" /> 
<link rel="stylesheet" href="{$site_url}css/public.css" /> 
<link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />
<link href="{$site_url}css/swipe.css" rel="stylesheet" type="text/css" />
<script src="{$site_url}js/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.min.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
<script type="text/javascript" src="{$site_url}js/share.js"></script>
<script src="{$site_url}js/idangerous.swiper-2.0.min.js"></script>
<script src="{$site_url}js/idangerous.swiper.3dflow-2.0.js"></script>
<script src="{$site_url}js/simple-app.js"></script>
<script type="text/javascript">
	window.addEventListener('load', function(){
   setTimeout(function(){ window.scrollTo(0, 1); }, 100);
});//safari浏览器可以通过此代码来隐藏地址栏
</script>
</head>
<body>
<div class="body">

<div class="wrap page-active">


<div class="index-wrap">
      <header>
         <div class="top2"><div class="menubg"><img src="{$site_url}images/menubg.jpg" width="100%"></div>
            <div class="header2">
            <!-- <div class="rightmenu"><a href="#" id="classa"><img src="images/rightmenu.png" width="100%"></a></div> -->
            <div class="backfanhui"><a href="javascript:window.history.back()">←</a></div>{$list.name}          	
              
            
            </div>
            <div class="search">
            	<div class="enters">
            		<input type="text" class="txt1">
                </div>
            </div>
         </div>
      </header>
      <section>
      	  <div class="detalindex">
          	 <div class="box_titles">
             	<a href="{$site_url}">首页</a> &gt; <a href="{$list.link}">{$list.name}</a>
             </div>
             <div class="box-contsa">
             <div class="box-show">
             <ul>
              {$isnav = 0}
              {foreach item=nav from=$pagenavs}
                {if $nav.selected != 0 or $nav.current != 0}
                {$isnav = 1}
                {/if}
              {/foreach} 

              
              {foreach item=nav from=$pagenavs}

              {if $nav.selected == 1 and $nav.current == 1 and $nav.childmenu}
              {$isnav = 1}
              {foreach item=nav_list from=$nav.childmenu}
              <li><a href="{$nav_list.link}">{$nav_list.name}</a></li>
              {/foreach}

              {elseif $nav.current == 1 and $nav.childmenu}

              {foreach item=nav_list from=$nav.childmenu}

              {if $nav_list.selected == 1 and $nav_list.current == 1 and $nav_list.childmenu}
              {$isnav = 1}
              {foreach item=nav_list2 from=$nav_list.childmenu}
              <li><a href="{$nav_list2.link}">{$nav_list2.name}</a></li>
              {/foreach}

              {/if}

              {/foreach}
              
              {elseif $isnav == 0 and $nav.current != 1}

              <li><a href="{$nav.link}">{$nav.name}</a></li>

              {/if}

              {/foreach}                         
              </ul>
             </div>
             <div class="boxmain-m">
           <div class="news-list">
           	<ul>
            {foreach item=article from=$list.data}
            	<li>
              <a onclick="javascript:window.location.href='{$article.link}'">
              <div style="width:64%;float: left;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">{$article.title}</div>
              <span style="float: right;width:35%;">【{$article.pubdate|truncate:10:""}】</span>
              </a>
              </li>
            {/foreach}                                                                              
            </ul>
            <div class="next1" style="width: 100%;">
                <a href="{$page_links.first_link}">首页</a>
                <a href="{$page_links.prev_link}">上一页</a>
                {$page_links.current_page} 
                /
                {$page_links.page_count}
                <a href="{$page_links.next_link}">下一页</a>
                <a href="{$page_links.last_link} ">尾页</a>
            </div>
                    
                 </div>
             </div>
             </div>
          </div>
           
      </section>
<footer class="foot"><div class="back-top"><A href="#" style="color: #fff;">顶部&uarr;</A></div>{$footprint}</footer>    
    
    </div>
    </div>
    </div>
</body>
</html>
{$footscript}