<div id="header" class="clearfix wrapper">
  <h1><img src="{$logo}" alt="{$title}"  class="pngFix"/></h1>
  <div class="tel">HOTLINE<br />
    <b>{$contact.telephone}</b></div>
  <div id="nav">
  <ul class="clearfix">
    {$limit = 5}
    {if $navs|count lt $limit}{$limit = $navs|count}{/if}
    <li class="nav1" style="width:{100/($limit+1)}%"> <a href="{$site_url}" class="ho1">首页</a> </li>
    {foreach name=navs item=nav from=$navs}
    <li class="fl{if $nav.current} current{/if} nav1" style="width:{100/($limit+1)}%"> <a href="{$nav.link}" class="ho1">{$nav.name}</a>
      <ul class="sub clearfix">
        {if $nav.childmenu} {foreach key=key item=nav_list from=$nav.childmenu}
        <li class="{if $nav.current}current{/if} nav2"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
        {/foreach} {/if}
      </ul>
    </li>
    {if $nav@index+1 eq $limit}{break}{/if}
    {/foreach}
    
    
    
  </ul>
</div>
</div>

<div id="subbanner"> 
  <!--100%-->
  <div class="banner_box">
    <div id="kinMaxShow" style="display:none;">
    {foreach name=slidepics item=slidepic from=$global.slidepics}
      <div> <a href="{$slidepic.link}" target="_blank"><img src="{$slidepic.image}" alt="{$slidepic.title}"  /></a></div>
      {/foreach}
    </div>
  </div>
</div>

<div class="right-top"></div>