<div class="left fadeInLeft">
    <div class="logo"><a href="{$site_url}"><img src="{$logo}" alt=""></a></div>
    <div class="menu">

      {$limit = 7}
      <ul id="nav" class="nav">
        <li class="nLi on">
          <h3><a href="{$site_url}">首页</a></h3>
        </li>
        {foreach name=navs item=nav from=$navs}
        <li class="nLi {if $nav.current}on{/if}">
            <h3><a href="{$nav.link}">{$nav.name}</a></h3>               
            {if $nav.childmenu}
            <ul class="sub">
                {foreach key=key item=nav_list from=$nav.childmenu}
                <li class="{if $nav.current}current{/if}"><a href="{$nav_list.link}">{$nav_list.name}</a>
                    {if $nav_list.childmenu}
                      <ul class="subnav">
                        {foreach key=key item=nav_thlist from=$nav_list.childmenu}    
                        <li class="{if $nav_thlist.current}current{/if}"><a href="{$nav_thlist.link}">{$nav_thlist.name}</a></li>
                        {/foreach}
                      </ul>
                    {/if}
                </li>
                {/foreach}
            </ul>                

            {/if}
        </li>
        {if $nav@index+1 gte $limit}{break}{/if}
        {/foreach}
      </ul> 

      <div class="navbg"></div>
      <div class="subnbg"></div>
    </div>
    <div class="contact">
        <div class="tel"><span>{$contact.telephone}</span></div>
        <div class="contact-img">
          <ul>
              {foreach item=share from=$global.shares}
                <li>
                    <a href="{$share.link}"><img src="{$share.image}" alt=""></a>
                </li>                
              {/foreach}
          </ul>
          <div class="wb">
              <span><img src="{$global.wb_img.image}" alt=""></span>
          </div>          
        </div>

    </div>
</div>