<!-- 二级栏目列表（展示到三级子栏目） -->
{if $pagenavs}
	<ul>
		{foreach name=pagenavs item=nav from=$pagenavs}
			<li class="{if $nav.current}current{/if}">
				<a href="{$nav.link}" class="{if $nav.selected}selected{/if}">
					<h3>{$nav.name}</h3><span>∨</span>
				</a>
			</li>
		{/foreach}
	</ul>


{else}	<!-- 让客服自己选择，如果当前无子栏目 展现的目标栏目 -->
<ul>
	{foreach name=pagenavs2 item=nav from=$_pagenavs_sub3.pagenavs.childmenu}
		<li class="{if $nav.current}current{/if}">
			<a href="{$nav.link}">
				<h3>{$nav.name}</h3><span>∨</span>
			</a>
		</li>
	{/foreach}	
</ul>


{/if}
