<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript">
    // 跳转手机页面
    {if $site_another_url}
        if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
            location.href = '{$site_another_url}';
        }
    {/if}
    </script>
    
    <meta name="keywords" content="{$keywords}"/>
    <meta name="description" content="{$description}"/>
    <link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
    <meta http-equiv="x-ua-compatible" content="ie=8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{$title}</title>
	<link rel="stylesheet" href="{$site_url}css/globle.css">
	<link rel="stylesheet" href="{$site_url}css/home.css">
	<link rel="stylesheet" href="{$site_url}css/ajust.css">
	<script src="{$site_url}js/respond.min.js"></script>
	<script type="text/javascript" src="{$site_url}js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
	<div class="wrap">
		{include file='./_header.html'}
	    <div class="right fadeIn">
	        <div class="top">
	            <a href="javascript:;" onclick="SetHome(this, window.location)">设为首页</a>  |    <a href="javascript:;" onclick="shoucang(document.title, window.location)">加入收藏</a>    
	        </div>
	        <div class="about bounceIn">
	        	<div class="side-left">
	        		<div class="pic"><img src="{$global.simg.image}" alt=""></div>
	        		<div class="tit">
	        			<h2>搜索</h2>
	        			<p>SEARCH</p>
	        		</div>
	        	</div>
	        	<div class="side-right">
	        		<div class="side-rtop">
	        			<div class="side-class">
							{include file="./_pagenavs_sub3.html"}
	        				<div class="location">
		        				<a href="{$site_url}">首页</a>{foreach item=nav from=$posnavs} ＞ <a href="{$nav.link}">{$nav.name}</a>{/foreach}
	        				</div>
	        			</div>

	        		</div>
        			<div class="content">
        				
						<div class="news">
							<div class="search-txt">
								以下是您搜索的关键字“{$search.keyword}”，搜索的结果有{$search.total}条
							</div>
							<ul>
							{foreach name=article item=article from=$search.data}<!--search_content_start-->
							<li><a href="search_$link"><p>search_$title</p><span>{$article.pubtimestamp|date_format:'%Y-%m-%d'}</span></a></li>
				            <!--search_content_end-->{/foreach}
								
							</ul>
							<div class="paging">
								<a href="{$page_links.first_link}">首页</a> / <a href="{$page_links.prev_link}">上一页</a>    
				                {foreach name=nears_link item=near_link key=near_page from=$page_links.nears_link}
				                  {if $near_page == $page_links.current_page}<!--page_corrent_link_start-->
				                   <a  href="{$near_link}" class="pon num">{$near_page}</a>
				                  <!--page_corrent_link_end-->{else}<!--page_uncorrent_link_start-->
				                   <a href="{$near_link}" class="num">{$near_page}</a>
				                  <!--page_uncorrent_link_end-->{/if}
				                {/foreach}								
								<a href="{$page_links.next_link}">下一页</a> / <a href="{$page_links.last_link}">尾页</a>

							</div>
						</div>

        			</div>

	        	</div>
	        </div>
			{include file='./_footer.html'} 

	    </div>

	</div>
	<script type="text/javascript" src="{$site_url}js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="{$site_url}js/tap.js"></script>
	<script type="text/javascript" src="{$site_url}js/index.js"></script>
	<script type="text/javascript" src="{$site_url}js/gloabl.js"></script>
</body>
</html>