<div class="fonnter_bt">
<div class="links">
<div class="wrapper">
<div class="title"><img src="{$site_url}images/links_title.jpg" width="101" height="31" /></div>
<div class="inner"> {foreach name=friend item=friend from=$global.links}
		    <a href="{$friend.link}">{$friend.title}</a> |
		 	{/foreach}   </div>
</div></div>

<div class="cpy"><div class="wrapper">{$footprint}</div></div>
</div>



















{$footscript}













<!--#*
{foreach name=navs item=nav from=$navs}
<a href="{$nav.link}" >{$nav.name}</a> |{/foreach}

<a href="index.html" target="_blank">首页</a> | {foreach name=navs item=nav from=$navs}<a href="{$nav.link}">{$nav.name}</a> | {/foreach}

{$footprint}
*#-->

