<div class="footer12 wow fadeInDown">
	<div class="footer1">
		<div class="picMarquee-left clear">
	        <h2>友情链接</h2>
	        <div class="bd">
	            <ul class="picList clear">
	            	{foreach item=flink from=$global.links}
	                <li>
	                    <div class="pic"><a href="{$flink.link}" target="_blank"><img src="{$flink.image}"></a></div>
	                </li>
	                {/foreach}
	            </ul>
	        </div>      
	    </div>
		<p>{$footprint}</p>
	</div>
</div>
{$footscript}