<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript">
    // 跳转手机页面
    {if $site_another_url}
        if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
            location.href = '{$site_another_url}';
        }
    {/if}
    </script>
 
    
    <meta name="keywords" content="{$keywords}"/>
    <meta name="description" content="{$description}"/>
    <link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="zh-CN">
    <title>{$title}</title>
    <link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />
    <script src="{$site_url}js/jquery-1.9.1.min.js" type="text/javascript"></script>
    
    <script type="text/javascript" src="http://common.mn.sina.com.cn/public/resource/lib/jquery.jcarousellite.js"></script>    
    <script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.1.js"></script>    
    <script type="text/javascript" src="{$site_url}js/function.js"></script>    
    <script type="text/javascript" src="{$site_url}js/index.js"></script>    
    {$headscript}
</head>
<body >
  {include file='./_header.html'}
    
    <div id="content" class="wrapper clearfix">
        
        <div id="pro" class="clearfix">
            <h2>{$index.left_nav.en_name}</h2>
            <ul>
              {$limit = 4}
              {foreach name=lnav item=lnav from=$index.left_nav.childmenu}
                 <li><a href="{$lnav.link}">{$lnav.en_name}</a></li>
                 {if $lnav@index+1 gte $limit}{break}{/if}
              {/foreach}                
              <li><span><a href="{$index.left_nav.link}">more>></a></span></li>
            </ul>
        </div>

        <div id="about" class="clearfix  wrapper">
            <h2>{$index.about_us.en_name}</span></h2>
            <div class="inner">
                <a href="{$index.about_us.link}">{$index.about_us.description}</a></div>
        </div>
        <div id="contact" class="clearfix ">

            <h2>CONTACT US</h2>
            <div class="inner">
                {$global.contact}
            </div>
        </div>

        <div style="clear: both">
        </div>
        <div id="pro1" class="wrapper clearfix">

          <div id="prizes">
              <div class="photos">
                  <a href="javascript:void(0);" class="photos-button photos-prev"></a>
                  <div class="photos-content {if $index.pro.data|count>3}enable{/if}">
                      <ul>
                         {foreach name=proimg item=proimg from=$index.pro.data}

                           <li><a href="{$proimg.link}"><img src="{$proimg.image}" alt="" /><h2>{$proimg.title}</h2></a></li>
                            
                          {/foreach}
                      </ul>
                  </div>
                  <a href="javascript:void(0);" class="photos-button photos-next"></a>
              
                </div>
          </div>  
        </div>
    </div>

    {include file='./_footer.html'}
    

</body>
</html>
