<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <script type="text/javascript">
    // 跳转手机页面
    {if $site_another_url}
        if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
            location.href = '{$site_another_url}';
        }
    {/if}
    </script>
    
    <meta name="keywords" content="{$keywords}"/>
    <meta name="description" content="{$description}"/>
    <link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="zh-CN">
    <title>{$title}</title>
    <link rel="stylesheet" type="text/css" href="{$site_url}css/css.css"/>
    <script src="{$site_url}js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://common.mn.sina.com.cn/public/resource/lib/jquery.jcarousellite.js"></script>
    <script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.1.js"></script>
    <script type="text/javascript" src="{$site_url}js/function.js"></script>
    <script type="text/javascript" src="{$site_url}js/index.js"></script>
    {$headscript}

</head>

<body>
{include file="./_header.html"}
<div class="wrapper clearfix">
    <div id="left">
        <div id="banner" class="clearfix">
            <div class="bg"><img src="{$site_url}images/bannerbg.png" class="pngFix" /></div>
              <div id="slideBox" class="slideBox">
                  <div class="hd">
                      <ul>
                        {foreach item=slidepic from=$index.slidepics}
                          <li>
                            {$slidepic@index+1}
                          </li>                    
                        {/foreach}
                      </ul>
                  </div>
                  <div class="bd">
                      <ul>
                        {foreach item=slidepic from=$index.slidepics}
                          <li><a href="{$slidepic.link}"><img src="{$slidepic.image}"></a></li>                    
                        {/foreach} 
                      </ul>
                  </div>

              

              </div>

        </div>
    </div>

    <div id="notice">
      <h2 class="clearfix"><img src="{$site_url}images/gg.jpg" /></h2>
      <div class="inner">
        <MARQUEE id=a onmouseover=a.stop() onmouseout=a.start() scrollAmount=3 direction=up  height=200>
         <div class="noticebox">
           {$index.announcement}
         </div>
        </MARQUEE>
      </div>
    </div>

    <div id="container" class="clearfix">
        <div id="about">
          <div class="top">
            <span><a href="{$index.about_us.link}"><img src="{$site_url}images/more.jpg" /></a></span>
            <h2 class="clearfix">{$index.about_us.name}</h2>
          </div>
          <div class="inner">
              {$index.about_us.description}
          </div>
        </div>
        <div id="news">
          <div class="top">
            <span><a href="{$index.news.link}"><img src="{$site_url}images/more.jpg" /></a></span>
            <h2 class="clearfix">{$index.news.name}</h2>
          </div>
          <div class="inner">
              <ul class="clearfix">
                {foreach item=list1 from=$index.news.data}
                  <li>
                      <a href="{$list1.link}">{$list1.title}</a>
                  </li>
                
                  {if $list1@index+1 gte 5}{break}{/if}
                {/foreach}

              </ul>
          </div>
        </div>
        <div id="contact">
            <h2 class="clearfix"><img src="{$site_url}images/contact.jpg" /></h2>
            <div class="inner"> 
                {$global.contact_us}
            </div>
        </div>
       
        <div id="fc" class="fc">
          <h2 class="clearfix"><span><a href="{$index.pro.link}"><img src="images/more1.jpg" /></a></span>{$index.pro.name}</h2>
          <div class="inner">
              <div id="prizes">
                <div class="photos">
                    <a href="javascript:void(0);" class="photos-button photos-prev"></a>
                    <div class="photos-content {if $index.pro.data|count>3}enable{/if}">
                        <ul>
                           {foreach name=proimg item=proimg from=$index.pro.data}
                              
                              <li>
                                <div class="pic"><a href="{$proimg.link}" target="_self"><img src="{$proimg.image}" /></a></div>
                                <p><a href="">{$proimg.title}</a></p>
                              </li>

                            {/foreach}
                        </ul>
                    </div>
                    <a href="javascript:void(0);" class="photos-button photos-next"></a>
                
                </div>
              </div> 

          </div>


        </div>
    </div>
    {include file="./_footer.html"}
</div>
</body>
</html>
