<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"class="no-js" lang="en">
<head>
<script type="text/javascript">
    // 跳转手机页面
    {if $site_another_url}
    if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
        location.href = '{$site_another_url}';
    } {/if}
    </script>

<meta http-equiv="x-ua-compatible" content="ie=7" />
<title>{$title}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$site_url}js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.kinMaxShow-1.0.min.js"></script>
  
<script type="text/javascript" src="{$site_url}js/function.js"></script>
{$headscript}
</head>
<body>
{include file='./_header.html'}
<div id="container" class="wrapper clearfix">
  <div class="about">
    <h2><span><a href="{$index.about.link}"><img src="{$site_url}images/more.png" /></a></span>
      <div class="wide"><b> {$index.about.en_name}</b>{$index.about.name}</div>
    </h2>
    <div class="inner">
      <div class="about_img"><img src="{$index.about.image}" /></div>
      <div class="text"> <a href="{$index.about.link}">{$index.about.description}</a> </div>
    </div>
  </div>
  <div class="news">
    <h2><span><a href="{$index.news.link}"><img src="{$site_url}images/more.png" /></a></span>
      <div class="wide"><b>{$index.news.en_name}</b>{$index.news.name}</div>
    </h2>
    <div class="inner">
      <div class="news_img"><img src="{$index.news.image}" /></div>
      <div class="text">
        <ul>
          {foreach name=news item=news from=$index.news.data}
          <li> <a href="{$news.link}">
            <div class="date">
              <div class="number">{$news.pubtimestamp|date_format:'%m'} </div>
              <div class="year">{$news.pubtimestamp|date_format:'%Y'} </div>
            </div>
            <div class="word">{$news.title}</div>
            </a> </li>
          {if $news@index+1 == 2}{break}{/if}
          {/foreach}
        </ul>
      </div>
    </div>
  </div>
  <div class="products">
    <h2><span><a href="{$index.pro.link}"><img src="{$site_url}images/more.png" /></a></span>
      <div class="wide"><b>{$index.pro.en_name}</b>{$index.pro.name}</div>
    </h2>
    <div class="inner">
      <div id="slideBox" class="slideBox">
        <div class="hd">
          <ul>
            {foreach name=pro item=case from=$index.pro.data}
            <li></li>
            {/foreach}
          </ul>
        </div>
        <div class="bd">
          <ul>
            {foreach name=pro item=pro from=$index.pro.data}
            <li><a href="{$pro.link}" target="_blank"><img src="{$pro.image}" /></a></li>
            {/foreach}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{include file="./_footer.html"}
</body>
</html>
