<div class="tailbg">
	<div class="tail">
		<div class="link">	
			<h3 class="linktit">友情链接</h3>
			<div class="picScroll">
				<ul>
					{foreach key=key item=link from=$global.link}
						<li>
							<a href="{$link.link}" target="_blank">
								<img src="{$link.image}" alt="{$link.title|strip_tags}">
							</a>
						</li>	
					{/foreach}											
				</ul>
			</div>	
		</div>
		<div class="second_nav">
			<a href="{$site_url}" target="_blank">网站首页</a>/
			{foreach key=key item=second_nav from=$global.second_navs}
				<a href="{$second_nav.link}" target="_blank">{$second_nav.name}</a>/
			{/foreach}	
		</div>
		<div class="footer">
			{$footprint} 
		</div>
	</div>
</div>
{$footscript}