<div id="slideBox" class="slideBox ny">
	<div class="bd">
		<ul>
			{foreach item=slidepic from=$global.slidepics}
				<li>
					<a href="{$slidepic.link}">
						<img src="{$slidepic.image}" alt="{$slidepic.title}">
					</a>
				</li>
			{/foreach}
		</ul>
	</div>
	<a class="prev" href="javascript:void(0)"></a>
	<a class="next" href="javascript:void(0)"></a>
</div>
<div class="navBarbg">
	<div class="navBar">
		<ul class="nav clearfix">								
	        {$limit = 5}
			{if $navs|count lt $limit}{$limit=$navs|count}{/if}
			<li class="m" style="width:{(1200-210)/($limit+1)}px">
				<h3>
					<a href="{$site_url}">
						<img src="{$site_url}images/icon1_03.png">
						<em>首页</em>
					</a>
				</h3>
			</li>
			
			{foreach item=nav from=$navs}
			<li class="m {if $nav.current}current{/if}" style="width: {(1200-210)/($limit+1)}px">
				<h3>
					<a href="{$nav.link}">
						<img src="{$nav.image}">
						<em>{$nav.name}</em>
					</a>
				</h3>
				{if $nav.childmenu}
				<div class="sub">
					<div class="subbg"></div>
					<div class="subul">
						<ul>
							{foreach item=nav_list from=$nav.childmenu}
							<li class="{if $nav_list.current}current{/if}">
								<a href="{$nav_list.link}">{$nav_list.name}</a>
							</li>
							{/foreach}
						</ul>
					</div>
				</div>	
				{/if}
			</li>
			{if $nav@index+1 gte $limit}{break}{/if}
	        {/foreach}	
		</ul>
		<div class="logo">
			<a href="{$site_url}" title="返回首页">
				<img src="{$logo}" alt="{$title}">
			</a>
			<div class="mid"><img src="{$global.mid.image}"></div>
			<div class="sma"><img src="{$global.sma.image}"></div>			
		</div>
	</div>	
</div>

