<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>正之诚品（香港）实业有限公司</title>
	<link rel="stylesheet" href="css/css.css">
</head>
<body>	

	<div class="slider wap">		
		<div class="header">
			<div class="w1">				
				<div class="navBar depth2_bg">
					<ul class="nav clearfix">
						<li class="m">
							<h3><a  href="">首页</a></h3>
						</li>
						
						<li class="m">
							<h3><a  href="">关于我们</a></h3>
							<ul class="sub">
								<li><a href="#">公司简介</a></li>
								<li><a href="#">企业文化</a></li>
								<li><a href="#">视频展示</a></li>
								<li><a href="#">人才招聘</a></li>
							</ul>
						</li>
						
						<li class="m ">
							<h3><a  href="">新闻中心</a></h3>
							<ul class="sub">
								<li><a href="#">公司简介</a></li>
								<li><a href="#">企业文化</a></li>
								<li><a href="#">视频展示</a></li>
								<li><a href="#">人才招聘</a></li>
							</ul>
						</li>
						
						<li class="m">
							<h3><a  href="">产品中心</a></h3>
							<ul class="sub">
								<li><a href="#">公司简介</a></li>
								<li><a href="#">企业文化</a></li>
								<li><a href="#">视频展示</a></li>
								<li><a href="#">人才招聘</a></li>
							</ul>
						</li>
						
						<li class="m">
							<h3><a  href="">案例展示</a></h3>
							<ul class="sub">
								<li><a href="#">公司简介</a></li>
								<li><a href="#">企业文化</a></li>
								<li><a href="#">视频展示</a></li>
								<li><a href="#">人才招聘</a></li>
							</ul>
						</li>
						
						<li class="m">
							<h3><a  href="">意见反馈</a></h3>
						</li>				
						
						<li class="m">
							<h3><a  href="">合作伙伴</a></h3>
						</li>

						<li class="m">
							<h3><a  href="">联系方式</a></h3>
							<ul class="sub">
								<li><a href="#">公司简介</a></li>
								<li><a href="#">企业文化</a></li>
								<li><a href="#">视频展示</a></li>
								<li><a href="#">人才招聘</a></li>
							</ul>
						</li>
					</ul>	
					<a href="" title="返回首页" class="lg f_l">
						<img src="images/logo_02.png" height="102" width="218" alt="">
					</a>				
				</div>
			</div>
		</div>
		<div class="banner">
			<div class="bd">
				<ul>
					<li><a href=""><img src="images/banner_01.jpg" height="550" width="1500" alt=""></a></li>
					<li><a href=""><img src="images/banner_01.jpg" height="550" width="1500" alt=""></a></li>
					<li><a href=""><img src="images/banner_01.jpg" height="550" width="1500" alt=""></a></li>
				</ul>
				 <div class="banter-tu"><img src="images/ban-tm.png" height="174" width="1500" ></div>
				 <div class="hotline">
				 	<div class="hour">
				 		<p>24</p>
				 		<span>小时热线电话</span>
				 	</div>
				 	<div class="icon"><img src="images/tel_07.png" height="40" width="41" alt=""></div>
				 	<div class="tel">
				 		<p>400-0808-537</p>
				 		<span>全国服务热线</span>
				 	</div>

				 </div>
				<a class="prev" href="javascript:void(0)"></a>
				<a class="next" href="javascript:void(0)"></a>
			</div>

			<!-- <div class="hd">
				<ul>
					<li class="on"></li><li class="on"></li><li class="on"></li>
				</ul>
			</div> -->
		</div>
	</div>	

	<div id="container">
		<div id="sidebar">
			<div id="subnav">
				<h3>关于我们</h3>
				<div class="inter">
					<ul class="aboutNav">					
						<li><a href="">发展历程</a></li>
						<li><a href="">产品文化</a></li>
						<li><a href="" class="cu">集团简介</a>
							<dl>
		                       	<dd><a href="">二级</a></dd>
		                       	<dd><a href="" class="cu1">二级</a>
			                       	<dl>
			                          	<dt><a href="" class="cu2">三级</a></dt>
			                          	<dt><a href="">三级</a></dt>
			                        </dl>
		                       	</dd>
		                   </dl>
						</li>
						<li><a href="">发展历程</a></li>
						<li><a href="">产品文化</a></li>
					</ul>
				</div>
				<div class="inter-tu" ></div>
			</div>
			<div class="nynmcon">
				<!-- <h3><img src="images/con-td.gif" /></h3> -->
				<h3 class="title">CONTACT US <span>联系我们</span></h3>
				<div class="inter">
      正之诚品（香港）实业有限公司<br />
 
地 址：香港九龙深水埗通州街190号富
      安大厦2字楼<br />
电话：00852-60606120<br />
传真：00852-28691896<br />
联系人：林小姐<br />
手机：18818805887---18759943888</div>
				<div class="inter-tm" ></div>
			</div>
		</div>
		<div id="main">
			<div class="crumb"><h3><span>您所在的位置：首页 > 关于我们 > 关于我们1</span>关于我们</h3></div>
			<div class="article">
				正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部分正文部
			</div>
			<div class="article-tm"></div>
		</div>
	</div>
	<div id="footer">
		百度 | 易尔通 | 百度 | 易尔通 | 百度 | 易尔通 | 百度 | 易尔通 | 百度 | 易尔通 | 百度 | 易尔通<br />
		Copyright &copy; 2014 正之诚品（香港）实业有限公司  版权所有 <br />
		技术支持：厦门易尔通网络科技有限公司 备案号：闽ICP备******号
	</div>

	<!-- <div class="footer wap">
		Copyright 2016 绿邦新风（厦门）环保科技有限公司 闽ICP备16006666号-6  
	</div> -->


<script type="text/javascript" src="js/jquery-1.8.3.min.js" ></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.js"></script>
<script type="text/javascript" src="js/function.js"></script>

</body>
</html>