<!DOCTYPE html>
<html manifest="huancun.manifest">
<head>
<!-- 实时预览调试代码，模板开发完成后删除 -->
		
		<!-- 调试代码 End -->
		<script type="text/javascript">
		// 跳转PC页面
		{if $site_another_url}
			if (!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
				location.href = '{$site_another_url}';
			}
		{/if}
		</script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta content="telephone=no, email=no" name="format-detection">
<!-- 启用360浏览器的极速模式(webkit) -->
<meta name="renderer" content="webkit">
<!-- 避免IE使用兼容模式 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
<meta name="HandheldFriendly" content="true">
<!-- 微软的老式浏览器 -->
<meta name="MobileOptimized" content="320">
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="portrait">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="portrait">
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<title>{$title}</title>
<link rel="stylesheet" href="{$site_url}css/reset.css" /> 
<link rel="stylesheet" href="{$site_url}css/public.css" /> 
<link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />
<link href="{$site_url}css/swipe.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" rev="stylesheet" href="{$site_url}css/style_{$stylecolor}.css" type="text/css" />
<script src="{$site_url}js/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.min.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
<script type="text/javascript" src="{$site_url}js/share.js"></script>
<script src="{$site_url}js/idangerous.swiper-2.0.min.js"></script>
<script src="{$site_url}js/idangerous.swiper.3dflow-2.0.js"></script>
<script src="{$site_url}js/simple-app.js"></script>
<script type="text/javascript">
	window.addEventListener('load', function(){
   setTimeout(function(){ window.scrollTo(0, 1); }, 100);
});//safari浏览器可以通过此代码来隐藏地址栏
</script>
</head>

<body>
<div class="body">
<div class="class page-prev">

</div>
<div class="wrap page-active">
<div class="opacity2"></div>
<div class="newsclass">
<div class="share-con">

</div>  
</div>

<div class="toaptww">
<h1 class="fixed-top"><span class="fixed-btn back"><a href="javascript:window.history.back()">返回</a></span><div class="menulist" id="quickbar-showcats"><a href="#"><div class="word">导航</div></a></div>{$article.category.name}</h1>
  </div>
<div class="index-wrap">
<section>
       <div class="index_show" style="margin:48px 8px 8px;">
       <div class="d_titles2">
<hl class="title2">更新时间:{$article.pubdate}  字体 : <span class="smalld">小</span> | <span class="middled">中</span> | <span class="bigd">大</span></hl>   
</div>
          <div class="box-m">
		    <div class="box-img">
            <div class="pbtser">
            <div id="slideBox" class="slideBox">
    <div class="hd">
            <ul></ul>
              </div>
	<div class="bd">
		<ul>
			{foreach item=slidepic from=$global.slidepics}
            <li><a class="pic" href="{$slidepic.link}"><img src="{$slidepic.image}" title="638*484" /></a></li>
			{/foreach}
		</ul>
	</div>
	
			</div>
			<span class="imgword">{$article.title}</span></div>
            </div>
<div class="boxmain-m">
                
                <div class="edite" >
				{$article.content}
	   </div>   
            <ul class="inner_pages">
            <li><a href="{$article.prev.link}">{$article.prev.title}</a></li>
            <li><a href="{$article.next.link}">{$article.next.title}</a></li>
            </ul>                        
            </div>
          </div>
       </div>
     </section> 
       <div class="foot">
        <!--底部版权-->
        <div class="text">{$footprint}</div>
      </div>
	  {$footscript}
     
</div>
</div>
</div>

</body>
</html>
