<!DOCTYPE html>
<html manifest="huancun.manifest">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="{$keywords}" />
	<meta name="description" content="{$description}" />
	
	<link rel="stylesheet" rev="stylesheet" href="{$site_url}css/style_{$stylecolor}.css" type="text/css" />
	<!-- 强制让文档的宽度与设备的宽度保持1:1，并且文档最大的宽度比例是1.0，且不允许用户点击屏幕放大浏览； -->
<meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
<!-- iphone设备中的safari私有meta标签，它表示：允许全屏模式浏览 -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- iphone的私有标签，它指定的iphone中safari顶端的状态条的样式 -->
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<!-- 告诉设备忽略将页面中的数字识别为电话号码\去除Android平台中对邮箱地址的识别 -->
<meta content="telephone=no, email=no" name="format-detection">
<!-- 启用360浏览器的极速模式(webkit) -->
<meta name="renderer" content="webkit">
<!-- 避免IE使用兼容模式 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
<meta name="HandheldFriendly" content="true">
<!-- 微软的老式浏览器 -->
<meta name="MobileOptimized" content="320">
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="portrait">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="portrait">
	<script type="text/javascript">
	window.addEventListener('load', function(){
  	setTimeout(function(){ window.scrollTo(0, 1); }, 100);
	});//safari浏览器可以通过此代码来隐藏地址栏
	</script>
	<script type="text/javascript">
	    // 跳转手机页面
	    {if $site_another_url}
	        if (!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
	            location.href = '{$site_another_url}';
	        }
	    {/if}
	</script>
	<title>{$title}</title>
	<link rel="stylesheet" href="{$site_url}css/swiper.css">
	<link rel="stylesheet" href="{$site_url}css/swiper.min.css">
	<link rel="stylesheet" href="{$site_url}css/iconfont.css">
	<link rel="stylesheet" href="{$site_url}css/public.css">
	
</head>
<body>
<section class="wrapper">
	<div class="contant">
		<div class="about background_1">
			<h3 class="title">{$article.category.name}</h3>
			<span class="page_mn icon_n" id="quickbar" ><i class="iconfont" id="quickbar-navs-btn">&#xe603;</i></span>
				<ul class="class_list">
				{foreach name=pagenavs item=nav from=$pagenavs}
				<li class="{if $nav.current}current{/if}" ><a href="{if $nav.childmenu}javascript:;{else}{$nav.link}{/if}" class="{if $nav.selected}selected{/if}">{$nav.name}</a>
				{if $nav.childmenu}
					<ul class="second">
					{foreach key=key item=nav_list from=$nav.childmenu}
						<li class="{if $nav_list.current}current{/if}"><a href="{if $nav_list.childmenu}javascript:;{else}{$nav_list.link}{/if}" class="{if $nav_list.selected}selected{/if}">{$nav_list.name}</a>
						{if $nav_list.childmenu}
							<ul class="third">
							{foreach key=key item=nav_listsec from=$nav_list.childmenu}
								<li class="{if $nav_listsec.current}current{/if}"><a href="{$nav_listsec.link}" class="{if $nav_listsec.selected}selected{/if}">{$nav_listsec.name}</a></li>
							{/foreach}
							</ul>
						{/if}	
						</li>
					{/foreach}
					</ul>
				{/if} 	
				</li>
				{/foreach}
			</ul>	
		 	<div class="article">
			    <div class="products_detail">
					<div class="swiper-container">
				        <div class="banner swiper-container">
					        <ul class="swiper-wrapper">
					            {foreach name=imagea item=imagea from=$article.images}
					            <li class="swiper-slide"><a href="{$article.category.link}"></a><img src="{$imagea.image}" alt="{$imagea.title}"></li>

					            {/foreach}
					        </ul>
        <!-- Add Pagination -->
        						<div class="swiper-pagination"></div>	 
    					</div>
    					<div class="products_nr1">    
    					<div id="Scroller-1">
						    <div class="Scroller-Container">
			         			{$article.content|unescape:"html"}
							</div>
						</div>
						<div id="Scrollbar-Container">
				    <div class="Scrollbar-Track">
				      <div class="Scrollbar-Handle"></div>
				    </div>
					</div> 
					</div>
    				</div>
		 		</div>
		 		<ul class="next_pre">
	              <li>上一篇：<a href="{$article.prev.link}">{$article.prev.title}</a></li>
	              <li>下一篇：<a href="{$article.next.link} ">{$article.next.title}</a></li>
            	</ul>
			</div>	
		 </div>
		</div>
	     <div class="Copy">
	    	{$footprint}
	    </div> 
	</div>
	
<div class="show_bg"></div>
</section>
{$footscript}
	<script type="text/javascript" src="{$site_url}js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="{$site_url}js/swiper.min.js"></script>
	<script type="text/javascript" src="{$site_url}js/index.js"></script>
	<script type="text/javascript" src="{$site_url}js/function.js"></script>
	<script type="text/javascript" src="{$site_url}js/jsScroller.js"></script>
	<script type="text/javascript" src="{$site_url}js/jsScrollbar.js"></script>
</body>
</html>
