<!DOCTYPE html>
<html>
<head>
    <!-- 实时预览调试代码，模板开发完成后删除 -->
    
    <!-- 调试代码 End -->
    <script type="text/javascript">
        // 跳转PC页面
        {if $site_another_url}
            if (!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
                location.href = '{$site_another_url}';
            }
            {/if}
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no, email=no" name="format-detection">
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <meta name="keywords" content="{$keywords}" />
    <meta name="description" content="{$description}" />
    <link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
    <title>{$title}</title>
    <link rel="stylesheet" href="{$site_url}/css/animate.min.css"/>
    <link rel="stylesheet" href="{$site_url}/css/swiper-3.4.1.min.css"/>
    <link rel="stylesheet" href="{$site_url}/css/public.css"/>
    <script src="{$site_url}/js/swiper-3.4.1.min.js"></script>
    <script src="{$site_url}/js/swiper.animate1.0.2.min.js"></script>
    <script src="{$site_url}/js/html5shiv.js"></script>
    <script src="{$site_url}js/TouchSlide.1.1.js"></script>
    <script src="{$site_url}js/jquery-1.9.1.min.js"></script>
    <script src="{$site_url}/js/function.js"></script>
    <script type="text/javascript">
        window.addEventListener('load', function(){
            setTimeout(function(){ window.scrollTo(0, 1); }, 100);
        });//safari浏览器可以通过此代码来隐藏地址栏
    </script>
    {$headscript}
</head>
<body>
<div class="index-wrap">
    {include file="./_header.html"}
    <section>
        <div id="index_sec">
            {foreach name=mIndexCats item=mIndexCat from=$mIndexCats}
            {if $mIndexCat.type eq 4}
                {if $mIndexCat.showtype eq 1}
                <div class="sec1">
                    <div class="title">
                        <div class="bg">
                            <h3><a href="{$mIndexCat.link}">{$mIndexCat.en_name}</a></h3>
                            <h4><a href="{$mIndexCat.link}">{$mIndexCat.name}</a></h4>
                        </div>
                    </div>
                    <div class="sec1_content">
                        <div class="content">
                            <div class="h3"><a href="{$mIndexCat.link}"><h3>{$mIndexCat.description}</h3></a></div>
                            <div class="nr">
                                {$mIndexCat.content|unescape:"html"}
                            </div>
                            <a href="{$mIndexCat.link}" class="a">查看更多</a>
                        </div>
                        <div class="img">
                            <a class="missle" href="{$mIndexCat.link}"><img class="max" src="{$mIndexCat.image}" alt=""/></a>
                        </div>
                    </div>
                </div>
                {/if}
            {elseif $mIndexCat.type eq 1}
                {if $mIndexCat.showtype eq 1}
                <div class="sec2">
                    <div class="title">
                        <h4><a href="">{$mIndexCat.name}</a></h4>
                        <div class="zhixian">
                            <div class="left swiper-button-prev" id="sec2_left"><</div>
                            <div class="right swiper-button-next" id="sec2_right">></div>
                        </div>
                        <h3><a href="">{$mIndexCat.en_name}</a></h3>

                    </div>
                    <div class="content">
                        <div class="sec2_banner">
                            <div class="swiper-container2">
                                <div class="swiper-wrapper">
                                    {foreach item=news from=$mIndexCat.data}
                                    <div class="swiper-slide">
                                        <a href="{$news.link}">
                                            <div class="img middle">
                                                <img class="max" src="{$news.image}" alt=""/>
                                            </div>
                                            <div class="nr">
                                                <h3>{$news.title}</h3>
                                            </div>
                                            <div class="bottom">
                                                <span class="ckgd">查看更多</span>
                                                <span class="rq">{$news.pubtimestamp|date_format:'%Y.%m.%d'}</span>
                                            </div>
                                        </a>
                                    </div>
                                    
                                    {/foreach}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {/if}
            {elseif $mIndexCat.type eq 2}
                {if $mIndexCat.showtype eq 2}
                 <div class="sec3">
                     <div class="sec3_content">
                         <div class="left">
                             <div class="one">
                                 <a href=""><img src="{$mIndexCat.image}" alt=""/></a>
                                 <div class="title"><a href="{$mIndexCat.link}">{$mIndexCat.name}</a></div>
                             </div>
                             <div class="two">
                                 <a href="">{$mIndexCat.description}</a>
                             </div>
                         </div>
                         <div class="right">
                            <div class="three"><img src="{$global.one_img.image}" alt=""/></div>
                            <div class="four"><img src="{$global.two_img.image}" alt=""/></div>
                         </div>
                     </div>
                 </div>
                {/if}
                {if $mIndexCat.showtype eq 1}
                 <div class="sec4">
                     <div class="title">
                         <div class="bg">
                             <h3><a href="{$mIndexCat.link}">{$mIndexCat.en_name}</a></h3>
                             <h4><a href="{$mIndexCat.link}">{$mIndexCat.name}</a></h4>
                         </div>
                     </div>
                     <div class="sec4_content">
                         <ul>
                             {foreach item=article from=$mIndexCat.data}
                             <li>
                                 <a href="{$article.link}">
                                     <div class="img middle"><img class="max" src="{$article.image}" alt=""/></div>
                                     <div class="bg"></div>
                                     <div class="wz">{$article.title}</div>
                                 </a>
                             </li>
                             {if $article@index+1 eq 4}{break}{/if}
                             {/foreach}
                         </ul>
                     </div>
                 </div>
                {/if}
            {/if}
            {/foreach}
            <div id="scrolltop">
                <div class="t"><div class="tb"></div></div>
                <div class="top back-up">
                    <h3>返回顶部</h3>
                    <h4>back to top</h4>
                </div>
            </div>
        </div>
    </section>
    {include file="./_footer.html"}
</div>
</body>
</html>