
<div class="head">
    <div class="logo"><a href="{$site_url}"><img src="{$logo}" /></a></div>
    <ul class="nav" id="nav">
        <li><a href="{$site_url}">首页</a></li>
        {foreach item=nav from=$navs}
            <li>
                <a href="{$nav.link}" class="{if $nav.current}in{/if}">{$nav.name}</a>
                {if $nav.childmenu}
                    <i></i>
                    <ul class="subnav">
                        {foreach key=key item=subnav from=$nav.childmenu}
                        <li><a href="{$subnav.link}">{$subnav.name}</a></li>
                        {/foreach}
                    </ul>
                {/if}
            </li>
        {/foreach}
        <div class="lump"></div>
    </ul>
</div>