body{ color:#575757; font-family:Microsoft Yahei,Arial, Helvetica, sans-serif; background:url(../images/top_bg.jpg) repeat; }
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,input,textarea,div{margin:0;padding:0; list-style:none; line-height:24px; font-size:12px; font-weight:normal}
body,div,ul,li,dl,dt,dd{ font-size:12px;}
.clearfix:after { content:'\20'; display:block; height:0; clear:both; }
.clearfix { *zoom:1; font-size:0px;}
a{ color:#575757; text-decoration:none; }
a:hover{ color:#c01c1b; } 
img{ border:none;}
.c{ clear:both}

.wrapper{width:1120px; margin:0 auto; }

display:block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;
strong{display: block;margin: 0 auto;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

#header_bg{ width:100%;}

#header{ height:103px; }

#logo{width:415px;height:103px;float:left; position:relative;}
#logo a{display:block;width:415px;height:103px;position:absolute;bottom: 0px; left:0;}
#logo img{max-width:415px; max-height:103px; position:absolute; top:0; left:0; right:0; bottom:0; margin:auto}

#header .search{ float:right; width:430px; margin-top:35px; margin-right:10px;}

#header .word{ float:left; width:60px; padding-right:13px; font-size:14px; font-weight:bold; color:#484848; height:35px; overflow:hidden; line-height:35px;}

#header .search_area{ border:1px #d3c6bd solid; border-right:none; border-radius:6px 0 0 6px; width:275px; height:33px; line-height:33px; float:left; color:#b4b4b4; text-indent:10px;}

#header .search_btn{ background:url(../images/sou_td.png) no-repeat; border:none; width:80px; height:35px; float:left;left:0px; top:0px; color:#FFF; font-size:16px; line-height:28px; }

#nav_bg{ width:100%; background:url(../images/nav_bg.jpg) repeat-x; height:53px;position:relative;}

#nav{ height:53px; } 

#nav ul li{ float:left; width:100%; height:53px; text-align:center}
#nav ul li p{ height:53px; overflow:hidden; margin-top:-3px;}
#nav ul li a{ color:#fff;display:block; font-size:14px; line-height:53px; }
#nav ul li a:hover{ background:url(../images/nav.jpg) no-repeat top; height:53px; display:block; color:#FFF;}

#nav ul li .cc{background:#f2f1f1;height:40px; line-height:40px;display:none; text-align:center; 
width:90%; position:relative; z-index:100; margin-top:0px; margin-left:5% }
#nav ul li .cc:hover{}
#nav ul li .cc a{width:92%; margin:auto;color:#333333; padding:0 4%; overflow:hidden; height:40px; line-height:40px;}
#nav ul li .cc a:hover{ text-decoration:underline;color:#333333; background:none}

#banner{ width:100%; height:400px; overflow:hidden;}

#container_bg{ background:url(../images/container.jpg) repeat-y;}

#sub_container{ background:url(../images/container.jpg) repeat-y;}


.about{ width:670px; float:left; margin-left:42px; margin-top:36px; display:inline; }
.about .title{ background:url(../images/title.jpg) repeat-x bottom; height:28px; overflow:hidden; } 
.about .title span{float:right; text-transform:uppercase; margin:0 6px 0 0; line-height:18px; width:45px; height:18px; overflow:hidden;}
.about .title span a{ color:#5c5c5c; line-height:18px; width:45px; height:18px; overflow:hidden;}

.about .title h2{ height:16px; overflow:hidden;}
.about .title h2 b{ float:left; color:#884701; font-size:16px; margin-left:5px; line-height:16px; font-weight:normal;}
.about .title h2 p{ float:left; color:#727272; font-size:12px; margin-left:5px; line-height:22px; text-transform:uppercase; }

.about .about_img{ display:inline-block;*display:inline;*zoom:1; height:250px; overflow:hidden; margin-right:25px; padding:8px; border:1px #e6e6e6 solid; box-shadow: 2px 2px 4px  #ececec; }
.about .about_img img{ height:100%; display:block; }
.about .about_text{ display:inline-block; vertical-align:top;*display:inline;*zoom:1; height:260px; overflow:hidden; line-height:28px;}

.about .inner { margin:auto; padding:17px 8px 0px 0px; height:275px; overflow:hidden;}

.news{ width:330px; float:right; margin-right:42px; margin-top:36px; display:inline; }
.news .title{ background:url(../images/title.jpg) repeat-x bottom; height:28px; overflow:hidden; } 
.news .title span{float:right; text-transform:uppercase; margin:0 6px 0 0; line-height:18px; width:45px; height:18px; overflow:hidden;}
.news .title span a{ color:#5c5c5c;}

.news .title h2{ height:16px; overflow:hidden;}
.news .title h2 b{ float:left; color:#884701; font-size:16px; margin-left:5px; line-height:16px; font-weight:normal;}
.news .title h2 p{ float:left; color:#727272; font-size:12px; margin-left:5px; line-height:22px; text-transform:uppercase; }

.news .inner{ width:330px; height:275px; margin-top:20px;}
.news .inner .newscontent{}
.news .inner .newscontent .newsimg{ margin-left:6px; margin-right:15px; border:2px solid #f3f3f3; border-radius:3px; padding:2px; height:95px; display:inline-block;*display:inline;*zoom:1; overflow:hidden}
.news .inner .newscontent .newsimg img{ height:100%; display:block}
.news .inner .newscontent .newstext { line-height:26px; height:95px; overflow:hidden; display:inline-block; vertical-align:top;*display:inline;*zoom:1;}

.news .inner .newscontent .newstext h3{ font-weight:bold; color:575757; line-height:14px; height:14px; overflow:hidden; margin-bottom:10px; text-align:right;}
.news .inner ul{ margin-top:11px; height:135px; overflow:hidden}
.news .inner ul li{ height:28px; line-height:28px; overflow:hidden; background:url(../images/icon.jpg) no-repeat 20px 12px;}

.news .inner ul li a{ color:#575757; padding-left:38px; float:left; height:28px; overflow:hidden;}
.news .inner ul li a:hover{ color:#884701; }
.news .inner ul li img{ float:left; margin-top:10px; margin-left:5px; display:inline;}

.case{ width:1036px; margin:auto; margin-top:30px; }
.case .title{ background:url(../images/title.jpg) repeat-x bottom; height:28px; overflow:hidden; } 
.case .title span{float:right; text-transform:uppercase; margin:0 6px 0 0; line-height:18px; width:45px; height:18px; overflow:hidden;}
.case .title span a{ color:#5c5c5c;}

.case .title h2{ height:16px; overflow:hidden;}
.case .title h2 b{ float:left; color:#884701; font-size:16px; margin-left:5px; line-height:16px; font-weight:normal;}
.case .title h2 p{ float:left; color:#727272; font-size:12px; margin-left:5px; line-height:22px; text-transform:uppercase; }

.case .inner{ padding:18px 18px 0 18px; height:262px; overflow:hidden;}
.case .inner ul li{ background:#ebebeb; border-bottom:2px #9a9a9a solid; padding:12px 12px 0 12px; width:202px; margin-right:35px; position:relative;}

.case .inner ul li .pic{ width:203px;height:203px; overflow:hidden }
.case .inner ul li .pic img{ display:block; }

.case .inner ul li .text{ font-size:14px; text-align:center; height:40px; line-height:40px; overflow:hidden;}

.case .inner ul li .line{ position:absolute; width:80px; height:4px; background:#884701; bottom:-3px; left:73px; right:73px;}

.case .bd{ width:1000px; margin:auto; height:260px; overflow:hidden;}

.bot_cont{ width:1036px; margin:auto; margin-top:35px;}

.team{ float:left; width:670px;}

.team .title{ background:url(../images/title.jpg) repeat-x bottom; height:28px; overflow:hidden; } 
.team .title span{float:right; text-transform:uppercase; margin:0 6px 0 0; line-height:18px; width:45px; height:18px; overflow:hidden;}
.team .title span a{ color:#5c5c5c;}

.team .title h2{ height:16px; overflow:hidden;}
.team .title h2 b{ float:left; color:#884701; font-size:16px; margin-left:5px; line-height:16px; font-weight:normal;}
.team .title h2 p{ float:left; color:#727272; font-size:12px; margin-left:5px; line-height:22px; text-transform:uppercase; }

.team .inner{ padding:13px 13px 0 3px; height:237px; overflow:hidden;}

.team .inner ul li{ padding:4px 4px 0 4px; border:1px #dcdcdc solid; width:197px; margin-right:18px; float:left;}
.team .inner ul li a{color:#333333;}

.team .inner ul li .pic{ width:197px;height:197px; overflow:hidden }
.team .inner ul li .pic img{ display:block; }

.team .inner ul li .text{ text-align:center; height:33px; line-height:33px; overflow:hidden;}

.team .bd{ width:655px; margin:auto; overflow:hidden;}



.contact{ float:right; width:330px;}

.contact .title{ background:url(../images/title.jpg) repeat-x bottom; height:28px; overflow:hidden; } 
.contact .title span{float:right; text-transform:uppercase; margin:0 6px 0 0; line-height:18px; width:45px; height:18px; overflow:hidden;}
.contact .title span a{ color:#5c5c5c;}

.contact .title h2{ height:16px; overflow:hidden;}
.contact .title h2 b{ float:left; color:#884701; font-size:16px; margin-left:5px; line-height:16px; font-weight:normal;}
.contact .title h2 p{ float:left; color:#727272; font-size:12px; margin-left:5px; line-height:22px; text-transform:uppercase; }

.contact .inner{ background:url(../images/contact_bg.jpg) no-repeat right bottom; line-height:30px; padding:5px 0px 100px 28px; height:180px; overflow:hidden; margin-bottom:15px;}
.contact .inner b{ font-size:14px; font-weight:normal;}

#footer_bg{ background:url(../images/container.jpg) repeat-y; }

#footer{ width:1036px; margin:auto; }

.foot_left{ float:left; margin-top:-5px;}

.foot_right{ float:right; width:856px; background:url(../images/link_line.jpg) repeat-x; }

.link{ margin:20px 0 0 30px; width:826px; overflow:hidden; padding-bottom:17px; font-size:14px; background:url(../images/bot.jpg) repeat-x bottom;}

.copyright{ text-align:center; padding-top:10px; padding-left:30px;}










/*sidebar css*/
.sidebar{ width:275px; float:left; margin-left:42px; display:inline;}

.subnav{ position:relative;}

.subnav .alefttitle{ background:url(../images/alefttitle.png) no-repeat; height:115px; position:absolute; top:-74px;}

.subnav .alefttitle b{ float:left; color:#fff; font-size:22px; width:208px; height:24px; overflow:hidden; margin:30px 50px 0 14px; font-weight:normal; text-align:center;}

.subnav .alefttitle p{ float:left; color:#cab4a1; font-size:12px; width:208px; margin:20px 50px 0 14px; height:24px; overflow:hidden; text-align:center; }

.category{ width:275px; margin:auto; padding-top:67px;}
.category ul{}
.category ul li .firsta{ background:url(../images/firsta1.png) no-repeat; display:block; line-height:36px; height:36px; overflow:hidden; margin:0 0 20px 0px; padding-right:30px; padding-left:40px; width:205px;}
.category ul li a.firsta{ color:#FFF; font-size:14px;}
.category ul li a:hover.firsta{ background:url(../images/firsta2.png) no-repeat; display:block;}

ul.second li .seconda{ width:160px; margin:auto; line-height:34px; height:34px; overflow:hidden;}
ul.second li a.seconda{ color:#5c5c5c; background:url(../images/seconda.png) 70px 15px no-repeat; display:block; height:34px; overflow:hidden; padding-left:90px; padding-right:25px;}
ul.second li a.seconda:hover{}

ul.second li .thirda{ width:150px; margin:autoa; height:34px; overflow:hidden; }
ul.third li a.thirda{ background:url(../images/thirda.jpg) 80px 15px no-repeat; display:block; color:#5c5c5c; padding-left:100px; padding-right:15px; line-height:34px; height:34px; overflow:hidden;}
ul.third li a.thirda:hover{color:#5c5c5c;}

.sub_contact{ width:260px; margin-top:20px; padding-bottom:30px;}
.sub_contact .title{ background:url(../images/title.jpg) repeat-x bottom; height:28px; overflow:hidden; } 

.sub_contact .title h2{ width:250px; height:16px; overflow:hidden;}
.sub_contact .title h2 b{ float:left; color:#884701; font-size:16px; margin-left:5px; line-height:16px; font-weight:normal;}
.sub_contact .title h2 p{ float:left; color:#727272; font-size:12px; margin-left:5px; line-height:22px; text-transform:uppercase; }
.sub_contact .inner{ background:url(../images/sub_contact.jpg) no-repeat bottom; line-height:30px; padding:22px 20px 150px 24px;}
.sub_contact .inner b{ font-size:14px;}


/*main css*/
.main{ float:right; width:758px; margin-right:45px; display:inline;}

.crumb{ font-size:12px; color:#ffffff; height:41px; line-height:41px; overflow:hidden; background:#c01c1b url(../images/crumb.png) no-repeat 14px 12px; padding-left:35px;  }
.crumb a{ color:#fff}
.crumb a:hover{ color:#e0a063}
.article { padding:30px 15px 100px 30px; margin-left:15px; border-left:2px #eeeeee solid; }
.article img{ max-width:750px; overflow:hidden}





