@media only screen and (max-width:1279px){

}
@media only screen and (min-width:1280px) and (max-width:1366px){

}
@media only screen and (min-width:1366px) and (max-height:900px){
.row{padding: 4% 15px;}
}
@media only screen and (max-width:1366px){


}
@media only screen and (max-height:900px){
/*	.banner {margin: 20px 35px;}
	.row ul li a{padding: 0 20px;}
	.row ul li .pic{padding: 10px;}*/
	/*.footer {height: 40px;line-height: 40px;}*/

}




