<div id="header_bg">
  <div id="header" class="wrapper clearfix">
    <div id="logo"><a href="{$site_url}"><img src="{$logo}" alt="{$title}"></a></div>
    <div class="tel">{$global.tel}</div>
  </div>
</div>
<div id="nav" class="wrapper">
  <div class="nav-wrap">
    <ul class="clearfix menu1">
      {$limit =7}
      {if $navs|count lt $limit}{$limit = $navs|count}{/if}
      <li class=" nav1" style="width:{100/($limit+1)}%">
        <p><a href="{$site_url}"> 网站首页 </a></p>
      </li>
      {foreach name=navs item=nav from=$navs}
      <li class="fl{if $nav.current} current{/if} aa" style="width:{100/($limit+1)}%">
        <p><a href="{$nav.link}"> {$nav.name} </a></p>
        <ul class="sub clearfix">
          {if $nav.childmenu} {foreach key=key item=nav_list from=$nav.childmenu}
          <li class="{if $nav.current}current{/if} cc"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
          {/foreach} {/if}
        </ul>
      </li>
      {if $nav@index+1 eq $limit}{break}{/if}
      {/foreach}
    </ul>
  </div>
</div>
<div id="banner_bg">
  <div id="banner">
    <div id="slideBox" class="slideBox">
      <div class="hd">
        <ul>
          {foreach name=slidepics item=slidepic from=$global.slidepics}
          <li></li>
          {/foreach}
        </ul>
      </div>
      <div class="bd">
        <ul>
          {foreach name=slidepics item=slidepic from=$global.slidepics}
          <div> <a href="{$slidepic.link}" target="_blank">
            <li style="background:url({$slidepic.image}) no-repeat center; height:475px;"></li>
            </a></div>
          {/foreach}
        </ul>
      </div>
    </div>
  </div>
  <div class="sousuo_bg">
    <div class="sousuo wrapper clearfix">
      <div class="search clearfix">
        <div class="word">Product search:</div>
        <form action="{$search_action}" method="GET">
          <input type="text" name="s" placeholder="Please input keywords " class="search_area" />
          <input type="submit" class="search_btn" value="earch"/>
        </form>
      </div>
    </div>
  </div>
</div>
