<div class="link wrapper">
    <div class="title">
        <h4>联系方式</h4>
        <h5>CONTACT</h5>
    </div>
    <div class="con clearfix">
        <div class="address left">
            <p>
                {$contact.address}
            </p>
            <a href="http://wpa.qq.com/msgrd?v=3&uin=345100504&site=qq&menu=yes">
                <img src="{$site_url}images/qqtalk.png" alt=""/></a>
        </div>
        <div class="code right">
            <img src="{$site_url}images/code.jpg" alt=""/>
        </div>
    </div>
</div>
<!--com-->
<div class="com">
    <ul class="clearfix">
        <li><a href="javascript:;">泉州总部</a></li>
        <li><a href="javascript:;">广州公司</a></li>
        <li><a href="javascript:;">珠海公司</a></li>
        <li><a href="javascript:;">香港公司</a></li>
        <li><a href="javascript:;">东莞公司</a></li>
    </ul>
</div>

<!--telephone-->
<div class="telephone">
    {$footprint}
</div>