.wrap_home .menu_nav li, .wrap_home h2, .product ul li, .list_text article header h4 a, .search_result article header h4 a, .list_img ul.img_list li {
	display:inline-block;
*display:inline;
*zoom:1
}
.list_text article header h4 a, .search_result article header h4 a, .list_img ul.img_list li h4.title, .list_img ul.img_list li .disc, .con_news header h4, .list_imgtxt article .imgtxt h4 a {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.top_title a.return, .list_text article header div.time_w, .search_result article header div.time_w {
	position:absolute;
	top:50%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	transform:translateY(-50%)
}
.img_border:before, .product ul li, .img_wrap {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
.wrap_home .menu_nav {
	margin:54px 0;
	font-size:0
}
.wrap_home .menu_nav li {
	width:25%;
	height:auto;
	margin:0;
	padding:0;
	text-align:center
}
.wrap_home .menu_nav li a {
	position:relative;
	width:5.15rem;
	height:5.15rem;
	display:block;
	text-align:center;
	color:#fff;
	margin:0 auto
}
.wrap_home .menu_nav li a:before {
	position:absolute;
	content:"";
	width:100%;
	height:100%;
	transform:rotate(45deg);
	transform-origin:center center;
	left:0;
	top:0;
	-webkit-box-shadow:rgba(51, 51, 51, 0.6) 1px 1px 4px;
	-ms-box-shadow:rgba(51, 51, 51, 0.6) 1px 1px 4px;
	-moz-box-shadow:rgba(51, 51, 51, 0.6) 1px 1px 4px;
	box-shadow:rgba(51, 51, 51, 0.6) 1px 1px 4px
}
.wrap_home .menu_nav li a i.iconfont {
	position:absolute;
	top:50%;
	left:0;
	right:0;
	margin:0 auto;
	color:#fff;
	font-size:1.5rem;
	-webkit-transform:translateY(-115%);
	-ms-transform:translateY(-115%);
	-moz-transform:translateY(-115%);
	transform:translateY(-115%)
}
.wrap_home .menu_nav li a span {
	position:absolute;
	left:0;
	right:0;
	top:50%;
	margin:0 auto;
	display:block;
font-size:.9rem;
	line-height:2;
	height:2rem;
	overflow:hidden;
	-webkit-transform:translateY(-8%);
	-ms-transform:translateY(-8%);
	-moz-transform:translateY(-8%);
	transform:translateY(-8%)
}
.wrap_home .menu_nav li:nth-child(1) a {
top:20px
}
.wrap_home .menu_nav li:nth-child(1) a:before {
background-color:#ef8100
}
.wrap_home .menu_nav li:nth-child(2) a {
top:35px
}
.wrap_home .menu_nav li:nth-child(2) a:before {
background-color:#25abaa
}
.wrap_home .menu_nav li:nth-child(3) a {
top:18px
}
.wrap_home .menu_nav li:nth-child(3) a:before {
background-color:#efba00
}
.wrap_home .menu_nav li:nth-child(4) a:before {
background-color:#179392
}
.wrap_home h2 {
	position:relative;
	color:#fff;
	background-color:#25abaa;
	text-align:center;
	margin:30px 0;
	line-height:1.5;
	-webkit-box-shadow:rgba(210, 167, 18, 0.98) 0 0 1px;
	-ms-box-shadow:rgba(210, 167, 18, 0.98) 0 0 1px;
	-moz-box-shadow:rgba(210, 167, 18, 0.98) 0 0 1px;
	box-shadow:rgba(210, 167, 18, 0.98) 0 0 1px
}
.wrap_home h2:before, .wrap_home h2:after {
	position:absolute;
	content:""
}
.wrap_home h2:before {
	width:10px;
	top:0;
	bottom:0;
	background-color:#d2a712
}
.wrap_home h2:after {
	top:50%;
	border-top:10px solid transparent;
	border-bottom:10px solid transparent;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	transform:translateY(-50%)
}
h2 span {
	position:relative;
	z-index:2
}
h2 span.zh {
	font-size:0.9rem;
	padding-left:5px
}
h2 span.en {
	font-family:"Myriad Pro";
	text-transform:uppercase;
	padding-right:5px
}
.about_w h2 {
	padding:0 10px 0 20px
}
.about_w h2:before {
	left:0
}
.about_w h2:after {
	left:100%;
	border-left:10px solid #25abaa
}
.product_w h2 {
	padding:0 20px 0 10px;
	float:right
}
.product_w h2:before {
	right:0
}
.product_w h2:after {
	right:100%;
	border-right:10px solid #25abaa
}
a.more {
	position:absolute;
	display:block;
	top:50%;
	width:40px;
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:12px;
	border-radius:50%;
	color:#fff;
	background-color:#ffa906;
	text-transform:uppercase;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	transform:translateY(-50%)
}
.about_w a.more {
	right:1rem
}
.about_w .txt {
	max-height:10.8rem;
	overflow:hidden;
	display:-webkit-box;
	-webkit-line-clamp:6;
	-webkit-box-orient:vertical
}
.product_w a.more {
	left:1rem
}
.img_border {
	position:relative;
	height:10.8rem;
	max-width:40%;
	margin:0 25px 0 50px;
	float:left;
	overflow:hidden
}
.img_border:before {
	position:absolute;
	content:"";
	left:-18px;
	top:-18px;
	width:100%;
	height:100%;
	border:1px solid #ccc;
	z-index:-1;
	-webkit-box-shadow:rgba(204, 204, 204, 0.6) 0 0 1px;
	-ms-box-shadow:rgba(204, 204, 204, 0.6) 0 0 1px;
	-moz-box-shadow:rgba(204, 204, 204, 0.6) 0 0 1px;
	box-shadow:rgba(204, 204, 204, 0.6) 0 0 1px
}
.img_border img {
	height:100%
}
.product {
	margin:20px 0 40px
}
.product ul {
	position:relative;
	font-size:0;
	margin:0 10px;
	overflow:hidden
}
.product ul li {
	position:relative;
	width:30%;
	margin-bottom:30px;
	border:2px solid #c5c5c5
}
.product ul li img {
	width:100%;
	height:auto
}
.product ul li div {
	text-align:center;
	font-size:0.9rem;
	padding:0 2px
}
.product ul li div h4 {
	color:#25abaa;
	line-height:2;
	height:1.8rem;
	overflow:hidden
}
.product ul li div .disc {
	line-height:1.5;
	margin-bottom:15px;
	max-height:2.7rem;
	overflow:hidden;
	display:-webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical
}
.product ul li a.read_more {
	position:absolute;
	display:block;
	bottom:0;
	left:0;
	right:0;
	margin:0 auto;
	width:60%;
	height:25px;
	line-height:25px;
	text-align:center;
	color:#efba00;
	background-color:#fff;
	font-size:12px;
	border:2px solid #c5c5c5;
	-webkit-transform:translateY(50%);
	-ms-transform:translateY(50%);
	-moz-transform:translateY(50%);
	transform:translateY(50%)
}
.top_nav {
	position:relative;
	padding:1rem 0;
	z-index:2
}
.top_nav h2 {
	padding-left:10px
}
.top_nav h2 .en {
	color:#ef8100
}
.top_nav h2 .zh {
	color:#25abaa
}
a.classify_btn, a.font_btn {
	position:absolute;
	top:50%;
	color:#fff;
	background-color:#25abaa;
	border-radius:20px/20px;
	text-align:center;
	padding:0 10px;
	font-size:12px;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%)
}
a.classify_btn {
	right:55px
}
a.font_btn {
	right:15px
}
ul.nav {
	position:absolute;
	width:100%;
	height:auto;
	overflow:hidden;
	display:none;
	top:100%
}
ul.nav li a {
	width:100%;
	text-align:center;
	color:#fff;
	display:block;
	background-color:#25abaa;
	border-bottom:1px solid #fff8e7;
	padding:0.425rem 0;
	line-height:2;
	overflow:hidden
}
.font {
	position:absolute;
	top:100%;
	right:0;
	width:85px;
	height:auto;
	overflow:hidden;
	display:none
}
.font span {
	background-color:#25abaa;
	color:#fff;
	display:block;
	width:100%;
	text-align:center;
	padding:10px 0px
}
.font span.big {
	font-size:1.2rem
}
.font span.small {
	font-size:0.7rem
}
.top_title {
	position:relative;
	background-color:#25abaa;
	z-index:2
}
.top_title h3 {
	color:#bbe7e7;
	line-height:2;
	text-align:center
}
.top_title a.return, .top_title a.font_btn {
	color:#25abaa;
	background-color:#bbe7e7
}
.top_title a.return {
	padding:2px 10px;
	border-radius:20px / 20px;
	font-size:12px;
	left:15px
}
.top_title a.font_btn {
	right:15px
}
.list_page {
	margin:20px 15px
}
.search_result {
	margin:0 15px
}
.list_text article, .search_result article {
	padding-top:20px
}
.list_text article header, .search_result article header {
	border-bottom:1px dotted #ccc
}
.list_text article header h4 a, .search_result article header h4 a {
	line-height:2;
	height:1.8rem;
	color:#059a99;
	padding-left:15px;
	background-image:url(../images/icon.png);
	background-repeat:no-repeat;
background-position:0 .5rem;
	width:60%
}
.list_text article header div.time_w, .search_result article header div.time_w {
	right:15px
}
.list_text article header div.time_w time, .search_result article header div.time_w time {
	color:#ef8100
}
.list_text article .txt, .search_result article .txt {
	color:#464646;
	line-height:2;
	max-height:7.4rem;
	overflow:hidden;
	display:-webkit-box;
	-webkit-line-clamp:4;
	-webkit-box-orient:vertical
}
.search_result .search_p {
	margin:10px;
	text-align:center;
	overflow:hidden
}
.search_result .search_p span {
	position:relative;
	color:#059a99
}
.search_result .search_p span:before, .search_result .search_p span:after {
	position:absolute;
	content:"";
	top:50%;
	height:1px;
	background-color:#059a99;
	z-index:-1
}
.search_result .search_p span:before {
	right:102%;
	left:-100%
}
.search_result .search_p span:after {
	left:102%;
	right:-100%
}
.list_img ul.img_list {
	font-size:0
}
.list_img ul.img_list li {
	position:relative;
	width:41%;
	text-align:center;
	margin:1rem 4.5%;
	color:#fff
}
.list_img ul.img_list li h4.title, .list_img ul.img_list li .disc {
	line-height:2;
	height:1.8rem;
	width:98%;
	border-bottom:1px solid #ccc
}
.list_img ul.img_list li h4.title {
	color:#ef8100
}
.list_img ul.img_list li .disc {
	font-size:0.9rem;
	color:#464646
}
.list_img ul.img_list li .img_wrap {
	width:100%
}
.img_wrap {
	text-align:center;
	background-color:#fff;
	padding:2px;
	border:1px solid #ccc;
	overflow:hidden
}
.con_news {
	border-bottom:1px dotted #999;
	margin-bottom:15px
}
.con_news header {
	text-align:center;
	padding:35px 5px 20px;
	border-bottom:1px dotted #999
}
.con_news header h4 {
	line-height:2.5;
	height:2.25rem;
	color:#f48400
}
.con_news header .detail {
	font-size:15px;
	color:#767676;
	line-height:1.5
}
.con_news header .detail span, .con_news header .detail em, .con_news header .detail time {
	margin-right:12px
}
.txt {
	color:#464646;
	line-height:2;
	margin:10px
}
.big_img {
	text-align:center;
	margin:0 10px
}
.big_img img {
	width:100%;
	height:auto
}
.related {
	margin:30px 10px 20px;
	border:1px dotted #999
}
.related h4 {
	position:absolute;
	top:0;
	left:15px;
	background-color:#e9e9e7;
	line-height:1;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	transform:translateY(-50%)
}
.related ul {
	margin:20px 0 10px
}
.related ul li {
	position:relative;
	margin-left:65px;
	line-height:2
}
.related ul li a {
	color:#999
}
.related ul li:before {
	position:absolute;
	content:"";
	top:50%;
	left:-25px;
	width:5px;
	height:5px;
	background-color:#898989;
	border-radius:50%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	transform:translateY(-50%)
}
.pro_detail_w {
	margin:0 10px
}
.pro_detail {
	margin-bottom:20px;
	border-bottom:1px dotted #888
}
.pro_detail .img_wrap {
	margin:2rem 10px 0
}
.pro_detail .img_wrap img {
	width:100%
}
.pro_detail h4.title {
	margin:0 auto;
	color:#585858;
	text-align:center;
	line-height:2;
	font-weight:bold
}
.pro_detail .swiper-pagination {
	position:relative;
	width:70%;
	margin:0 auto
}
.pro_detail .swiper-pagination span {
	width:10px;
	height:10px;
	border-radius:50%;
	background:#a9a9a9;
	display:inline-block
}
.swiper-slide>div {
	margin-bottom:20px
}
.swiper-container .img_wrap img {
	width:97%;
	margin:4px 0
}
.list_imgtxt {
	padding:10px
}
.list_imgtxt article {
	padding:15px 0;
	box-shadow:0 1px 1px #dcdcdc, 0 2px 1px #fff
}
.list_imgtxt article .img_wrap {
	float:left;
	width:auto;
	font-size:0;
	height:8rem;
	margin-right:10px;
	padding:2px;
	border:1px solid #d8d8d7;
	background-color:#fff
}
.list_imgtxt article .img_wrap img {
	width:auto;
	height:100%
}
.list_imgtxt article .imgtxt h4 a {
	display:block;
	line-height:2;
	height:1.8rem;
	color:#ef8100
}
.list_imgtxt article .imgtxt div {
	color:#6a6a6a;
	line-height:1.8;
	max-height:6.48rem;
	overflow:hidden;
	display:-webkit-box;
	-webkit-line-clamp:4;
	-webkit-box-orient:vertical
}
a.pre, a.nxt {
	text-align:left;
	display:block;
	color:#25abaa;
	line-height:2
}
.fakeloader {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#fff;
	z-index:99999
}
.fakeloader .spinner {
	width:50px;
	height:50px;
	border-radius:100%;
	margin:auto;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	background:#0078E7;
	overflow:hidden;
	-webkit-animation:color-change 3s linear 0s infinite, shadow 1.3s linear 0s infinite, color-bubble 5s linear 0s infinite alternate, rotate 5s linear 0s infinite;
	animation:color-change 3s linear 0s infinite, shadow 1.3s linear 0s infinite, color-bubble 5s linear 0s infinite alternate, rotate 5s linear 0s infinite
}
#quickbar {
	opacity:0
}
#quickbar.loaded {
	opacity:1;
	-webkit-transition:opacity 0.3s ease;
	-ms-transition:opacity 0.3s ease;
	-moz-transition:opacity 0.3s ease;
	transition:opacity 0.3s ease
}
@-webkit-keyframes color-change {
0% {
background:#25abaa
}
33% {
background:#50B949
}
66% {
background:#ef8100
}
100% {
background:#FEB825
}
}
@keyframes color-change {
0% {
background:#25abaa
}
33% {
background:#50B949
}
66% {
background:#ef8100
}
100% {
background:#FEB825
}
}
@-webkit-keyframes rotate {
from {
-webkit-transform:rotate(0deg);
transform:rotate(0deg)
}
to {
	-webkit-transform:rotate(360deg);
	transform:rotate(360deg)
}
}
@keyframes rotate {
from {
-ms-transform:rotate(0deg);
-webkit-transform:rotate(0deg);
transform:rotate(0deg)
}
to {
	-ms-transform:rotate(360deg);
	-webkit-transform:rotate(360deg);
	transform:rotate(360deg)
}
}
@-webkit-keyframes shadow {
from {
box-shadow:0px 0 0 1px inset
}
to {
	box-shadow:50px 0 0 1px inset
}
}
@keyframes shadow {
from {
box-shadow:0px 0 0 1px inset
}
to {
	box-shadow:50px 0 0 1px inset
}
}
@-webkit-keyframes color-bubble {
0% {
color:#25abaa
}
33% {
color:#50B949
}
66% {
color:#ef8100
}
100% {
color:#FEB825
}
}
@keyframes color-bubble {
0% {
color:#25abaa
}
33% {
color:#50B949
}
66% {
color:#ef8100
}
100% {
color:#FEB825
}
}
@media only screen and (max-width: 479px) {
.wrap_home .menu_nav {
margin:30px 0
}
.wrap_home .menu_nav li a {
width:4.5rem;
height:4.5rem
}
}
@media only screen and (min-width: 480px) {
.product ul li a.read_more {
width:43%;
height:31px;
line-height:31px
}
}
@media only screen and (min-width: 480px) and (max-width: 559px) {
html {
font-size:94% !important
}
}
@media only screen and (min-width: 560px) {
html {
font-size:109% !important
}
}
@media only screen and (min-width: 640px) {
html {
font-size:125% !important
}
}
/*# sourceMappingURL=style.css.map */
