
    <div class="bottom">
    	

		

		<a href="{$site_url}">首页</a> | {foreach name=navs item=nav from=$navs}
		<a href="{$nav.link}">{$nav.name}</a> | {/foreach}
		<br />


        
		<dl>{$footprint} {$contact.company} 地址：{$contact.address} 电话：{$contact.telephone} 手机：{$contact.mobile}</dl><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261041227'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/stat.php%3Fid%3D1261041227%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
    </div>
{$footscript}  