body{ color:#000; font-family:Microsoft Yahei,Arial, Helvetica, sans-serif; background:#003300; }
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,input,textarea,div{margin:0;padding:0; list-style:none; line-height:24px; font-size:12px; font-weight:normal}
body,div,ul,li,dl,dt,dd{ font-size:12px;}
.clearfix:after { content:'\20'; display:block; height:0; clear:both; }
.clearfix { *zoom:1; font-size:0px;}
a{ color:#67c43d; text-decoration:none}
a:hover{ color:#59933c} 
img{ border:none;}
.c{ clear:both}


.wrapper{width:1000px; margin:0 auto; }

#banner{ height:307px; overflow:hidden}


display:block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;
strong{display: block;margin: 0 auto;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}


#header{ position:relative; background:#f3eeb7; height:101px;}

.logo{width:400px;height:99px;float:left; position:relative; background:url(../images/logo.jpg) no-repeat; padding-left:160px;}
.logo a{display:block;height:99px;width:400px;position: absolute;bottom: 0px; left:51px;}
.logo img{max-width:400px; max-height:99px; position:absolute; top:0; left:0px; right:0; bottom:0; margin:auto}

#header .tel{ float:right; width:300px; height:46px; padding-top:55px; padding-left:120px; color:#e70f1a; font-size:17px;  text-align:left; background:url(../images/tel.jpg) no-repeat bottom; font-weight:bold; line-height:40px; overflow:hidden}
#header .tel b{ font-size:25px; font-weight:normal;}

#header .search{  position:absolute; right:25px; top:15px;}
#header .search_area{ background:url(../images/sou_by.jpg); width:182px; height:28px; line-height:28px; float:left; border:none; color:#999; text-indent:24px; }
#header .search_btn{ background:url(../images/sou-td.jpg) top center no-repeat; width:29px; height:28px; border:none; float:left; position:relative; left:0px; top:0px;}

#nav{ height:35px; background: url(../images/nav-by.jpg) repeat-x;}
#nav ul li{ float:left; width:142px; font-weight:bold; height:35px; text-align:center;}
#nav ul li a{  z-index:11; display:block; font-size:14px; color:#fff;line-height:35px; }
#nav ul li a:hover{ color:#15ac07; }
#nav ul li p{ height:35px; line-height:35px; overflow:hidden}

#nav ul li .cc{background:#007500;height:40px; line-height: 40px;display: none; text-align:center; width:100%; position:relative; z-index:100; margin-top:0px; }
#nav ul li .cc:hover{}
#nav ul li .cc a{width:92%; margin:auto;color:#fff; padding:0 4%; overflow:hidden; height:40px; line-height:40px;}
#nav ul li .cc a:hover{ text-decoration:underline;color:#fff;}





#container{ padding-top:7px; background:#f3eeb7;}

.cont_left{ width:188px; float:left; margin-left:6px;  display:inline; }

.news{width:188px; margin-bottom:20px; }

.news .title{}
.news .title h2{ color:#94cf35;text-transform:uppercase; font-size:12px; font-weight:bold; background:url(../images/list.jpg) bottom no-repeat; height:40px; line-height:45px; overflow:hidden}
.news .title h2 b{ color:#70ca09; font-size:19px; margin-right:5px; padding-left:15px;}
.news .inner{ height:182px; overflow:hidden;}
.news .inner ul{background:url(../images/left_line.jpg) repeat-y; padding-bottom:10px;  height:172px; overflow:hidden;}
.news .inner ul li{ width:147px; margin:auto; height:25px; line-height:25px; margin-bottom:5px; overflow:hidden; text-indent:20px; background:url(../images/icon.jpg) no-repeat; padding-bottom:5px; overflow:hidden;}
.news .inner ul li a{font-size:12px; color:#67c43d;}
.news .inner ul li a:hover{color:#2a5f12;}



.contact .title h2{ color:#94cf35;text-transform:uppercase; font-size:12px; font-weight:bold; background:url(../images/contact.jpg) bottom no-repeat; height:43px; overflow:hidden; line-height:45px; width:188px;}
.contact .title h2 b{ color:#70ca09; font-size:19px; margin-right:5px; padding-left:15px;}
.contact .inner{ background:url(../images/left_line.jpg) repeat-y; height:100px; padding-left:15px; padding-right:10px; padding-top:8px; color:#333333; overflow:hidden; width:163px;}
.contact .inner img{ display:block;}

.about{}
.about .title{color:#64c13c; border-bottom:1px #64c13c solid; background:url(../images/about.jpg) no-repeat;} 
.about .title span{float:right; padding-right:12px; font-weight:normal; line-height:36px; color:#6fc901; height:29px; overflow:hidden;}
.about .title span a{ color:6fc901;}
.about .title span a:hover{ color:#2a5f12; text-decoration:underline;}
.about .title h2{ height:29px; overflow:hidden;}
.about .title h2 b{ color:#5d9941; font-size:16px; margin-left:30px; line-height:34px; margin-right:8px;}

.about .about_img{ display:inline-block;*display:inline;*zoom:1; height:143px; overflow:hidden; margin-right:10px; border:1px #61c13d solid; }
.about .about_img img{ height:100%; display:block; }
.about .about_text{ display:inline-block; vertical-align:top;*display:inline;*zoom:1; line-height:24px; height:145px; overflow:hidden}

.about .inner { padding:10px; line-height:22px; color:#000000; height:150px; overflow:hidden }
.about .inner a{ color:#f60;  } 


.product{ margin-top:4px;}
.product .title{color:#64c13c; border-bottom:1px #64c13c solid; background:url(../images/about.jpg) no-repeat;} 
.product .title span{float:right; padding-right:12px; font-weight:normal; line-height:36px; color:#6fc901; height:29px; overflow:hidden;}
.product .title span a{ color:6fc901;}
.product .title span a:hover{ color:#2a5f12; text-decoration:underline;}
.product .title h2{ height:29px; overflow:hidden;}
.product .title h2 b{ color:#5d9941; font-size:16px; margin-left:30px; line-height:34px; margin-right:8px;}

.product .inner { padding: 10px 0px; overflow:hidden; height:182px;  }
.product .inner ul{list-style:none;}
.product .inner ul{ margin-top:10px;} 
.product .inner ul li img{ display:block; }
.product .inner ul li{ width:160px; float:left;; margin:0px 5px; text-align:center }
.product .inner ul li .pic{ width:140px; height:140px;overflow:hidden; margin:auto; margin-top:5px; border:6px solid #fff;box-shadow: 2px 2px 2px 2px #d4d4d4; }
.product .inner ul li .pic img{   display:block;}
.product .inner ul li span{ line-height:30px; width:160px; overflow:hidden; text-align:center; height:50px;}
.product .inner ul li span a{ color:#77cc10;}
.product .inner ul li span a:hover{ color:#2a5f12;}

.cont_right{ width:783px; float:right; margin-right:6px; display:inline;}

.link{ width:900px; margin:auto; margin-bottom:10px; text-align:center;}
.link h2{ color:#000; float:left; }
.link .neirong{ color:#000; float:left; }
.link .neirong a{ color:#000; padding:0 5px;}

#footer{ text-align:center; background:#f3eeb7; padding-top:15px;  }
#footer .inner{ padding:15px 0; color:#000000; border-top:3px #61c13d solid; }
#footer .inner a{ color:#000000;}
#footer .inner a:hover{ color:#61c13d}

/*sidebar css*/

.sidebar{ width:188px; float:left; margin-left:6px;  display:inline;}

.subnav ul{ margin:auto}
.subnav{ margin-bottom:10px;}
.alefttitle{ color:#94cf35;text-transform:uppercase; font-size:12px; font-weight:bold; background:url(../images/list.jpg) bottom no-repeat; height:45px; line-height:45px; overflow:hidden	}

.alefttitle b{ color:#70ca09; font-size:19px; margin-right:5px; padding-left:15px;}

.subnav .category{background:url(../images/left_line.jpg) repeat-y; }
.subnav img{ display:block}


.category ul{ padding-top:3px; }
.category ul li a.firsta{ margin:auto;font-size:12px; text-align:left; color:#555;line-height:30px;text-indent:30px;  width:95%; padding-left:5%; display:block ; height:30px; overflow:hidden }

.category ul li a.firsta{width:147px; margin:auto; height:25px; line-height:25px; margin-bottom:5px; overflow:hidden; text-indent:20px; background:url(../images/icon.jpg) no-repeat; padding-bottom:5px; overflow:hidden;}
.category ul li a:hover.firsta { color:#36a509;}

ul.second li a.seconda{ font-size:12px; text-align:left; text-indent:33px;  line-height:30px; display:block;width:95%; padding-left:5%; border-bottom:1px dotted #69bd41; width:147px; margin:auto; color:#706d6d; background:url(../images/icon2.jpg) no-repeat 12px 10px; height:30px; overflow:hidden; }
ul.second li a.seconda:hover{color:#59933c}
ul.third li a.thirda{ background:url(../images/icon3.jpg) no-repeat 45px 12px; padding-left:40%; margin:auto;color:#545454;  display:block; line-height:35px; height:30px; overflow:hidden;}
ul.third li a.thirda:hover{color:#36a509}

/*nynmcon css*/


.nynmcon h3{ color:#94cf35;text-transform:uppercase; font-size:12px; font-weight:bold; background:url(../images/contact.jpg) no-repeat; height:43px; line-height:43px; }
.nynmcon h3 b{ color:#70ca09; font-size:19px; margin-right:5px; padding-left:15px;}
.nynmcon .inner{ background:url(../images/left_line.jpg) repeat-y;  padding-left:15px; padding-right:10px; padding-top:8px; color:#333333; overflow:hidden;}
.nynmcon .inner img{ display:block;}



/*main css*/

.main{width:783px; float:right; margin-right:6px; display:inline;}
.crumb{ color:#64c13c; border-bottom:1px #64c13c solid; background:url(../images/about.jpg) no-repeat; height:29px; overflow:hidden;}
.crumb span{ float:right; line-height:38px; height:29px; overflow:hidden; font-weight:normal; color:#555; font-size:12px;}
.crumb span a{ color:#555; }
.crumb h2{color:#5d9941; font-size:14px; margin-left:30px; line-height:34px; margin-right:8px; height:29px; overflow:hidden; font-weight:bold;}

.article{ margin-top:20px}

.article img{ max-width:770px;}
