<div class="linkbg">
	<div class="link">
		友情链接：
		{foreach key=key item=link from=$global.link}
			<a href="{$link.link}" target="_blank">{$link.title}</a>| 	
		{/foreach}	
	</div>
</div>
<div class="tail">
	<div class="footer">
		<div class="footer-l">
			{$footprint} 
		</div>
		<div class="footer-r">
        
          {foreach name=navs item=nav from=$navs}
                   
                        <a href="{$nav.link}" target="_blank">{$nav.name}</a>  |
                   
                    {if $nav@index+1 gte $litmit}{break}{/if}
                {/foreach}
                
                
        
			
			<br/>
			{$global.cont_way}
		</div>
	</div>
</div>

{$footscript}