<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript">
  // 跳转PC页面
  {if $site_another_url}
      if (!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
          location.href = '{$site_another_url}';
      }
  {/if}
  </script>
  <!-- 实时预览调试代码，模板开发完成后删除 -->
    
  <meta name="x5-orientation" content="portrait">
  <title>{$title}</title>
  <meta name="keywords" content="{$keywords}" />
  <meta name="description" content="{$description}" />
  <link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta content="telephone=no, email=no" name="format-detection">
  <!-- 启用360浏览器的极速模式(webkit) -->
  <meta name="renderer" content="webkit">
  <!-- 避免IE使用兼容模式 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
  <meta name="HandheldFriendly" content="true">
  <!-- 微软的老式浏览器 -->
  <meta name="MobileOptimized" content="320">
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <meta name="x5-orientation" content="portrait">
  <link rel="stylesheet" href="{$site_url}css/reset.css" /> 
  <link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{$site_url}css/idangerous.swiper.css">
  <script type="text/javascript" src="{$site_url}js/jquery.min.js"></script>
  <script type="text/javascript" src="{$site_url}js/tween.js"></script>
  <script src="{$site_url}js/TouchSlide.1.1.js"></script>
  <script src="{$site_url}js/idangerous.swiper-2.0.min.js"></script>

  <script type="text/javascript" src="{$site_url}js/simple-app.js"></script>
  <script type="text/javascript" src="{$site_url}js/fontsize.js"></script>
  <script type="text/javascript" src="{$site_url}js/function.js"></script>
    
  <script type="text/javascript">
    window.addEventListener('load', function(){
     setTimeout(function(){ window.scrollTo(0, 1); }, 100);
  });//safari浏览器可以通过此代码来隐藏地址栏
  </script>
    {$headscript}
</head>
<body>
<div class="index-wrap">
    {include file='./_header.html'}  
    <div id="banner" class="swiper-container">
      <div class="swiper-wrapper">
          {foreach item=slidepic from=$global.slidepics}
            <div class="swiper-slide"><a href="{$slidepic.link}"><img src="{$slidepic.image}" class="swiper-no-swiping"></a></div>
          {/foreach}
      </div>
      <div class="pagination"></div>
    </div>
    <div class="menu">
        <div class="swiper-nav swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><a href="{$site_url}">网站首页</a></div>
            {foreach name=navs item=nav from=$navs}
            <div class="swiper-slide"><a href="{$nav.link}">{$nav.name}</a></div>
            {/foreach}  
          </div>
        </div>
    </div>
     <section class="section">
        {foreach item=mIndexCat from=$mIndexCats}
        {if $mIndexCat.type eq 1}
          {if $mIndexCat.showtype eq 1}
          <div class="about_tit">
                <h2>{$mIndexCat.name}</h2>
                <a href="{$mIndexCat.link}"></a>
          </div>
          <div class="txtScroll-top">
                <ul class="infoList">
                  {$limit = 4}
                  {foreach item=list2 from=$mIndexCat.data}                  
                    <li><a href="{$list2.link}" class="clearfix"><div class="on_img"><img src="{$list2.image}"></div><div class="on_info"><h2>{$list2.title}</h2><p>{$list2.description}</p><span>{$list2.pubdate}</span></div></a></li>
                  {if $list2@index+1 gte $limit}{break}{/if}        
                  {/foreach}
                </ul>
            </div>
          {/if}
        {elseif $mIndexCat.type eq 4}
          {if $mIndexCat.showtype eq 1}
              <div class="about_tit">
                    <h2>{$mIndexCat.name}</h2>
                    <a href="{$mIndexCat.link}"></a>
              </div>
              <div class="about_cont">
                  <a href="{$mIndexCat.link}" class="img_div">
                    <img src="{$mIndexCat.image}">             
                  </a>
                  <div class="text">
                    {$mIndexCat.description|unescape:"html"}
                  </div>
              </div>
            {/if}
          {elseif $mIndexCat.type eq 2}
          {if $mIndexCat.showtype eq 1}
            <div class="about_tit">
                  <h2>{$mIndexCat.name}</h2>
                  <a href="{$mIndexCat.link}"></a>
            </div>
            <div id="picScroll" class="picScroll">
              <div class="bd">
                  {$indexss = 0}
                  {foreach item=list2 from=$mIndexCat.data}
                  {$limits = $mIndexCat.data|count/2}
                  <ul>
                      {$limit = 2}
                      {foreach item=list1 from=$mIndexCat.data}
                      <li>
                          <a href="{$mIndexCat.data[$indexss].link}">
                              <div class="img_tlist"><img src="{$mIndexCat.data[$indexss].image}"></div>
                              <div class="tlistptinfo">
                                  <h2 class="pt1_title">{$mIndexCat.data[$indexss].title}</h2>
                                  <em></em>
                                  <p>{$mIndexCat.data[$indexss].description}</p>
                              </div>
                          </a>
                      </li>
                      {$indexss = $indexss + 1}
                      {if $list1@index+1 gte $limit}{break}{/if}
                      {/foreach}
                  </ul>
                  {if $list2@index+1 gte $limits}{break}{/if}
                  {/foreach}
              </div>
              <div class="hd">
                  <ul></ul>
              </div>
            </div>
            {/if}
          {/if}
        {/foreach}
    </section>
    {include file='./_footer.html'}
</div>
</body>
</html>
