
<div id="footer">
    <div class="container">
        <ul class="f-ul">
            {$litmit=5}
            {if $navs|count lt $litmit}{$litmit = $navs|count}{/if}
            {foreach item=nav from=$navs}
            <li class="{if $nav.current}current{/if} lt nav-li" style="width:{100/($litmit)}%">
                <a class="nav-a" href="{$nav.link}">{$nav.name}</a>
                    {if $nav.childmenu}
                    <ul class="f-ulChild">
                        {foreach item=nav_list from=$nav.childmenu}
                        <li class="{if $nav_list.current}current{/if}">
                            <a class="navC-a" href="{$nav_list.link}"> {$nav_list.name}</a>
                        </li>
                        {if $nav_list@index+1 == 3}{break}{/if}
                        {/foreach}
                    </ul>
                    {/if}
                </li>
            {if $nav@index+1 eq $litmit}{break}{/if}
            {/foreach}
        </ul>
    </div>
</div>
<div id="copy">
    {$footprint}
</div>
{$footscript}