<!DOCTYPE html>
<html manifest="huancun.manifest">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta content="telephone=no, email=no" name="format-detection">
<!-- 启用360浏览器的极速模式(webkit) -->
<meta name="renderer" content="webkit">
<!-- 避免IE使用兼容模式 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
<meta name="HandheldFriendly" content="true">
<!-- 微软的老式浏览器 -->
<meta name="MobileOptimized" content="320">
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="portrait">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="portrait">
<title>厦门易尔通网络科技有限公司</title>
<link href="css/iconfont.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="css/reset.css" /> 
<link rel="stylesheet" href="css/public.css" /> 
<link href="css/css.css" rel="stylesheet" type="text/css" />
<link href="css/swipe.css" rel="stylesheet" type="text/css" />
<script src="js/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/function.js"></script>
<script type="text/javascript" src="js/share.js"></script>
<script src="js/idangerous.swiper-2.0.min.js"></script>
<script src="js/idangerous.swiper.3dflow-2.0.js"></script>
<script src="js/simple-app.js"></script>
<script type="text/javascript">
	window.addEventListener('load', function(){
   setTimeout(function(){ window.scrollTo(0, 1); }, 100);
});//safari浏览器可以通过此代码来隐藏地址栏
</script>
</head>
<body>
<div class="body">
  <div class="class page-prev">
    <h1 class="class-top"><span class="class-close">×</span>快速导航</h1>
    <div class="class-m">
      <div class="swiper-container scroll-container">
    			<div class="swiper-wrapper">
    					<div class="swiper-slide">
                	<ul class="class-list">
                  	<li><a href="index.html">首页</a></li>
                    <li><a href="about.html">关于我们</a></li>
                    <li class="menu_head">
                      <dl class="icon"><span class="icon1">-</span><span class="icon2">+</span></dl>
                      <a href="news.html">新闻中心</a>
                    </li>
                    <li class="menu_body">
                      	<dl><a href="#">二级分类</a></dl>
                        <dl><a href="#">二级分类</a></dl>
                        <dl><a href="#">二级分类</a></dl>
                      </li>
                      <li class="menu_head">
                        <dl class="icon"><span class="icon1">-</span><span class="icon2">+</span></dl>
                        <a href="prod.html">产品展示</a>
                      </li>
                      <li class="menu_body"><dl><a href="#">二级分类</a></dl></li>        
                      <li><a href="about.html">企业文化</a></li>
                      <li><a href="about.html">人才招聘</a></li>
                      <li><a href="about.html">联系我们</a></li>

                  </ul>
              </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrap page-active">
    <div class="opacity2"></div>
    <div class="newsclass">
      <div class="share-con">
        <div class="swiper-container thumbs-cotnainer">
      		<div class="swiper-wrapper">
              <div class="swiper-slide"> 
                  <a title="分享到Qzone空间" href="javascript:void(0);" class="qqzone"><img src="icon/kongjian.gif" width="60" height="60"><dt class=" title">Qzone</dt></a>
              </div> 
              <div class="swiper-slide">
                  <a title="分享到腾讯微博" href="javascript:void(0);"  onclick="postToWb();" class="qqweibo"><img src="icon/tengxun.gif" width="60" height="60"><dt class=" title">腾讯微博</dt></a>
              </div> 
              <div class="swiper-slide"> 
                  <a title="分享到百度收藏" href="javascript:void(0);" class="baidusoucang"><img src="icon/baidu.gif" width="60" height="60"><dt class=" title">百度收藏</dt></a>
              </div>
              <div class="swiper-slide">
                  <a title="分享到新浪微博" href="javascript:void(0)" class="xinlang"><img src="icon/xinlang.gif" width="60" height="60"><dt class=" title">新浪微博</dt></a>
              </div>  
      		</div>
      	</div>
      </div>  
      <div class="share-cance">取消</div>     
    </div>
    <div class="fixed">
    	<ul class=" box" id="box">
        <li><a href="#" id="class"><p class="fix_icon"><img src="icon/1.png" width="33"></p><p class="title">导航</p></a></li>
    	  <li><a href="#"><p class="fix_icon"><img src="icon/2.png" width="33"></p><p class="title">电话</p></a></li>
        <li><a href="#"><p class="fix_icon"><img src="icon/3.png" width="33"></p><p class="title">短信</p></a></li>
        <li><a href="#"><p class="fix_icon"><img src="icon/4.png" width="33"></p><p class="title">咨询</p></a></li>
        <li><a href="#"><p class="fix_icon"><img src="icon/5.png" width="33"></p><p class="title">地图</p></a></li>
        <li><a href="#" id="share_btn"><p class="fix_icon"><img src="icon/6.png" width="33"></p><p class="title">分享</p></a></li>
      </ul>
    </div>
   <!--  <div class="tell-icon display-block"><span class="close">&times;</span><p>服务热线：<i>400-127-808</i></p></div> -->
  
    <div class="index-wrap">
      <section>
        <div class="detalindex">
          <div class="box_title">
            <div class="box_tit_inner">
              <span class="more2" id="first">分类 <i></i></span>
              <h2>新闻资讯</h2>
              <div class="menuico"><img src="images/menuico.png" alt=""></div>
              <div class="hide-class">
                <ul class="aboutNav">
                  <li><a href="#">公司简介</a></li>
                  <li>
                    <a href="#">企业文化</a>
                    <dl class="second">
                      <dd><a href="">品牌的发展</a></dd>
                      <dd><a href="">文化形象</a>
                        <dl class="third">
                          <dt><a href="">我是三级列表</a></dt>
                          <dt><a href="">我是三级列表</a></dt>
                          <dt><a href="">我是三级列表</a></dt>
                        </dl>
                      </dd>
                    </dl>
                  </li>
                  <li><a href="#">团队风采</a></li>
                  <li><a href="#">企业荣誉</a></li>
                </ul>         
              </div> 
            </div>
          </div>
          <div class="boxmain-m">
            <div class="news">
              <div class="search">
                <form action="">
                  <input type="text" class="text searchkey" value="请输入搜索关键字">
                  <input type="submit" class="submit" value="">
                </form>
                <div class="sear">以下是您输入的关键字“工艺品”的搜索结果，共168条</div>
              </div>
              <ul>
                <li><a href=""><span>2016-07-10</span>优步、滴滴卡片斗法，战火还会烧向何领域？</a></li>
                <li><a href=""><span>2016-07-10</span>优步、滴滴卡片斗法，战火还会烧向何领域？</a></li>
                <li><a href=""><span>2016-07-10</span>优步、滴滴卡片斗法，战火还会烧向何领域？</a></li>
                <li><a href=""><span>2016-07-10</span>优步、滴滴卡片斗法，战火还会烧向何领域？</a></li>
                <li><a href=""><span>2016-07-10</span>优步、滴滴卡片斗法，战火还会烧向何领域？</a></li>
                <li><a href=""><span>2016-07-10</span>优步、滴滴卡片斗法，战火还会烧向何领域？</a></li>
                <li><a href=""><span>2016-07-10</span>优步、滴滴卡片斗法，战火还会烧向何领域？</a></li>
                <li><a href=""><span>2016-07-10</span>优步、滴滴卡片斗法，战火还会烧向何领域？</a></li>
                <li><a href=""><span>2016-07-10</span>优步、滴滴卡片斗法，战火还会烧向何领域？</a></li>
                <li><a href=""><span>2016-07-10</span>优步、滴滴卡片斗法，战火还会烧向何领域？</a></li>
                <li><a href=""><span>2016-07-10</span>优步、滴滴卡片斗法，战火还会烧向何领域？</a></li>
                <li><a href=""><span>2016-07-10</span>优步、滴滴卡片斗法，战火还会烧向何领域？</a></li>
                <li><a href=""><span>2016-07-10</span>优步、滴滴卡片斗法，战火还会烧向何领域？</a></li>
                <li><a href=""><span>2016-07-10</span>优步、滴滴卡片斗法，战火还会烧向何领域？</a></li>
                <li><a href=""><span>2016-07-10</span>优步、滴滴卡片斗法，战火还会烧向何领域？</a></li>
                <li><a href=""><span>2016-07-10</span>优步、滴滴卡片斗法，战火还会烧向何领域？</a></li>
              </ul>
              <div class="pagenum">
                <a href="">上一页</a>
                <a href="" class="number on">1</a>
                <a href="" class="number">2</a>
                <a href="" class="number">3</a>
                <a href="">下一页</a>
              </div>
            </div>
          </div>
        </div>       
      </section>

      <footer class="foot"><div class="back-top"><a href="#">TOP</a></div>Copyright C 2014 技术支持：G宝盆 </footer>  
    </div>
  </div>
</div>
</body>
</html>
