<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <!-- 调试代码 End -->
    <script type="text/javascript">
    // 跳转手机页面
    {if $site_another_url}
      if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
        location.href = '{$site_another_url}';
      }

    {/if}
    </script>
<meta http-equiv="x-ua-compatible" content="ie=7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<link href="{$site_url}css/style.css" rel="stylesheet" type="text/css" />

<title>{$title}</title>

</head>

<body>
	<div class="alls">
	    {include file="./_header.html"}		
	    <div class="about_content">
	    	<div class="side_left">
	    		<div class='about_class'>
					{include file="./_pagenavs_sub3.html"}
				</div>
				<span class='redu_img'><a href="{$global.link.link}">{$global.link.name}</a>{$global.link.icon}</span>
				<div class='side_tel'>
					<a href="{$global.contact.link}" class="title">{$global.contact.name}</a>
					<span class='tel_01'>
						{$global.contact_us}
					</span>
				</div>
	    	</div>
	    	<div class="side_right">
	    		{include file="./_right_nav.html"}
	    		<div class='about_eadit'>
	    			<div class="sear">
			          	{if $search.total eq 0}
				            <p class="search_res">没有查找到相关数据！</p>
				            {else}
				            <p class="t">
				              搜索关键词为“
				              <span>{$search.keyword}</span>
				              ”的产品/文章，共搜索到{$search.total}个结果：
				            </p>
			          	{/if}
			        </div>
	    			<ul class="news_ls">
		    			{foreach name=article item=article from=$search.data}<!--search_content_start-->
					        <li><a href="search_$link"><span class="date">
					        <time datetime="search_$pubdate" pubdate="pubdate">[search_$pubdate]
				        </time></span>search_$title</a></li>
					    <!--search_content_end-->{/foreach}  
		    		</ul>
		    		{include file="./_num.html"}	
	    		</div>
	    	</div>
	    </div>    
		{include file="./_footer.html"} 
	</div>

<script type="text/javascript" src="{$site_url}js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.js"></script>
<script type="text/javascript" src="{$site_url}js/functions.js"></script>

</body>
</html>
