    <div class="link">
       <div class="linkcon">
            <span>友情链接：</span>
            {foreach item=flink from=$global.links}
              <a href="{$flink.link}">{$flink.title}</a>
              {if $flink@index+1==8}{break}{/if}  ·
            {/foreach}           
       </div>
        
    </div>
    <div class="foot">
         <div class="public">
             <p>{$footprint} <br /></p>
             <div class="footr">
                 <a href="javascript:void(0);" onclick="shoucang(document.title, window.location)">
                     点击加入收藏
                     <span>更好的找到我们</span>
                 </a>
                 <div class="tel">
                     <span>{$contact.telephone}</span>
                     <p>咨询热线</p>

                 </div>
             </div>
         </div>
    </div>

{$footscript}