@charset "utf-8";
*{ margin:0px; padding:0px;}
a{ color: #333; text-decoration:none;}
a:hover{color:#cf0606;}
table{border-collapse:collapse; border-spacing:0px;}
body{width:100%;background:#690000;font-size:12px;font-family:'宋体',arial;line-height:24px;color: #646464;}
ul,dl,li{list-style:none;}
h1,h2,h3,h4,h5{font-size:12px;font-weight:normal;}
em{font-style:normal;}
img{border:none;}
/*头部*/
.head_outsild{width: 100%;height: 117px;overflow: hidden;background:url(../images/index_02.png) repeat-x left center;}
.head{width: 1003px;height: 117px;margin: 0 auto;overflow: hidden;position: relative;}
.head h1.logo{position: relative; display: block;width:438px;height: 100%;overflow: hidden;float: left;}
h1.logo img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto 0;
}
.ss{position: absolute;right: 33px;bottom: 28px;color: #ffffff;z-index: 99999}
.ss span{float: left;font-weight: bold;font-size: 14px;color: #fff4bf;padding-right: 15px;}
.input_case{width: 161px;height: 23px;background: #f7ead2;float: left;color: #690000;padding-left: 10px;border: none;outline: none;}
::-moz-placeholder { color: #690000; }
::-webkit-input-placeholder { color:#690000; }
:-ms-input-placeholder { color:#690000; }
.input_key{width: 31px;height: 23px;background:url(../images/ss_07.png) no-repeat center center;border: none;float: left;}
/*菜单*/
.header_menu{width:100%;height:31px;background:url(../images/index_08.png) repeat-x left center;}
.nav{width: 1003px;height:100%;margin: 0 auto;display:table;}
.nav li.nLi{display:table-cell;height: 100%;position: relative;}
.nav h3{width: 100%;height: 100%;text-align: center;overflow: hidden;}
.nav h3 a{font-weight: bold;font-size: 14px;color: #fef6da;display: block;margin: 0 auto;height:100%;line-height: 31px;}
.nav h3 a:hover{color: #fbe084;}
.nav .on{background:url(../images/sub_09_01.png) no-repeat center top;}
.nav .sub{display: none; width:100%;left:0; top:31px;position:absolute;z-index: 999;background:rgba(120,23,5,0.7);}
.nav .sub li{ zoom:1;width: 100%;height:30px;text-align: center;}
.nav .sub li:last-child{padding-bottom: 10px;}
.nav .sub a{color: #f7ead2;height:30px;line-height: 30px;width:100%;display: block;margin: 0 auto;}
.nav .sub a:hover{color: #fbe084;}
/*切换大图banner*/
.slideBox{ width:1003px; height:341px; overflow:hidden; position:relative;margin:2px auto 0;background: #fdefd5;}
.slideBox .bd{ position:relative; height:311px; z-index:0;width: 979px;padding: 15px 12px;margin: 0 auto;overflow: hidden;tempWrap}
.slideBox .bd li{ zoom:1; vertical-align:middle; }
/* 下面是前/后按钮代码，如果不需要删除即可 */
.slideBox .prev,
.slideBox .next{ position:absolute; left:3%; top:50%; margin-top:-20px; display:block; width:32px; height:40px; background:url(../images/slider-arrow.png) -110px 5px no-repeat; filter:alpha(opacity=50);opacity:0.5;   }
.slideBox .next{ left:auto; right:3%; background-position:8px 5px; }
.slideBox .prev:hover,
.slideBox .next:hover{ filter:alpha(opacity=100);opacity:1;  }
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  }
/*产品滚动*/
.gd{width: 1003px;height: 267px;background: #fdefd5;margin: 0 auto;overflow: hidden;}
.gd .picMarquee{width: 973px;height:257px;overflow: hidden;margin: 0 auto;background:url(../images/cp_b_20.png) no-repeat center center;}
.gd .picMarquee .tempWrap{width: 923px !important;height:188px;overflow: hidden;margin: 43px auto 20px;}
.gd .picMarquee li{float: left;width:160px;height:100%;overflow: hidden;margin: 0.2% 12px;}
.gd .picMarquee li a.pic{width: 100%;height:147px;overflow: hidden;display: block;}
.gd .picMarquee li a.title{width: 100%;height: 42px;line-height: 42px;display: block;text-align: center;}
.picList{margin-left: 10px;}
/*contant*/
.contant{width: 973px;height:auto;margin: 0 auto;overflow: hidden;background: #fceed5;padding: 0 15px 37px;}
.contant_left{width: 214px;height: 682px;overflow: hidden;margin-right: 11px;float: left;}
.left1,.left4{border: 1px solid #e4cb9d;background:#fef4e2 url(../images/left1_15.png) no-repeat center top;height: 246px;}
h3.tit{color: #7f192b;font-size: 14px;font-weight: bold;height:56px;line-height: 43px;text-indent: 35px; }
h3.tit span{font-family: "Arial";font-size: 12px;}
.left1 li{width: 177px;height: 27px;margin: 8px auto 0;overflow: hidden;background:url(../images/index_left_nav_b_32.png) no-repeat center center;}
.left1 li a{font-weight: bold;width: 100%;height: 100%;display: block;color: #fef4e2;line-height: 27px;text-indent:35px;}
.left2 a{display: block;width:212px;height: 79px;border: 1px solid #e4cb9d;margin-top: 8px;}
.left2 a:hover{opacity: 0.7;filter: alpha(opacity=70);}
.left3 a{display: block;width:212px;height: 79px;border: 1px solid #e4cb9d;margin-top: 8px;}
.left3 a:hover{opacity: 0.7;filter: alpha(opacity=70);}
.left4{margin: 8px 0 28px;}
.left4 p{color: #333333;line-height: 22px;padding: 20px 0 0 15px;background:url(../images/tel_35.png) no-repeat 94% 32%}

.contant_right{width:748px;height:682px;float: left;}
h3.title{width: 100%;height: 31px;line-height: 31px;background:url(../images/title.png) no-repeat center center;color: #fef6da;font-size: 14px;font-weight: bold;text-indent: 16px;}
h3.title span{padding: 0 15px;}
h3.title a.more1{float: right;width: 35px;height: 11px;display: block;background:url(../images/more_07.png) no-repeat center center;padding: 20px 16px 0 0;}
.about_xq{height: 149px;overflow: hidden;padding:15px 18px;border: 1px solid #e2c898;background: #fef4e2;}
.about_xq img{float: left;padding: 1px;border: 1px solid #cbc6bc;margin-right: 10px;}
.about_xq .ms{line-height: 23px;float: right;width: 525px;height: 143px;}
.right2{margin-top: 10px;width: 100%;height: auto;overflow: hidden;}
.anli{border: 1px solid #e2c898;padding: 0 18px;background: #fef4e2;}
.anli .picMarquee{width:100%;height:427px;overflow: hidden;}
.anli .picMarquee .tempWrap{width:100% !important;height:188px;overflow: hidden;margin:18px auto 0px;}
.anli .picMarquee li{float: left;width:160px;height:100%;overflow: hidden;margin: 0 8px;}
.anli .picMarquee li a.pic{width: 100%;height:147px;overflow: hidden;display: block;}
.anli .picMarquee li a.title{width: 100%;height: 42px;line-height: 42px;display: block;text-align: center;}

/*footer*/
.footer{width: 1003px;height:86px;text-align: center;line-height: 24px;margin: 0 auto;color: #f1ca81;padding-top: 15px;}
.footer a{color: #f1ca81;}
.footer a:hover{color: #fbb73a;}

/*about*/
.about_l{width: 214px;height: auto;float: left;overflow: hidden;margin-right:11px;}
.about_l .left{height: auto;padding-bottom: 20px;border: 1px solid #e4cb9d;background:#fef4e2 url(../images/left1_15.png) no-repeat center top;}
.left li{width: 177px;height: auto;margin: 8px auto 0;overflow: hidden;}
.left li a{width: 100%;height: 100%;display: block;color: #fef4e2;line-height: 27px;text-indent:35px;background:url(../images/index_left_nav_b_32.png) no-repeat center center;font-weight: bold;}
.left li li{margin-top: 3px;width: 165px}
.left li li a{background:url(../images/pro_detail_06.png) repeat-x left center;color: #c32c29;}
.left li ul{display: none;}
.about_tel{width: 100%;height:228px;background:url(../images/lx_b_03.jpg) no-repeat center center;overflow: hidden;margin-top: 16px;}
.about_tel p{padding-top: 93px;padding-left: 26px;}

.about_r{width: 748px;height: auto;overflow: hidden;float: left;}
.top_pro{position: relative;height:67px;line-height:42px;font-family: "微软雅黑";font-size: 16px;color: #03a0e7;background:url(../images/top_03.png) no-repeat center center;padding: 0 50px 0 88px;}
.about_r b{background:url(../images/about-sj_14.png) no-repeat center center;display: block;width: 28px;height: 5px;position: absolute;left: 10px;bottom: 0px;}
.more{float: right;font-size: 12px;color: #fef6da;font-family: "宋体";font-weight: normal;padding-right: 10px;}
.more a{color: #fef6da;}
.more a:hover{color: #f9d452;}
.info{height: auto;color: #333333;border: 1px solid #e2c898;padding: 20px 15px;background: #fef4e2;}


/*新闻*/
.news_deta4{width: 100%;height:auto;overflow:hidden;}
.news_deta4 ul{overflow:hidden; height:auto;}
.news_deta4 li{height:88px;overflow:hidden;width: 100%;margin-top: 8px;}
.ti{width:100%;height: 27px;line-height: 27px;font-weight: bold;background: #ffe1a8;text-indent: 15px;}
.ti_xq{height: 43px;overflow: hidden;line-height: 22px;color: #515151;background: #fdefd5;padding: 10px 15px 5px;margin-top: 2px;}
.news_deta4 li a{color: #555555;display: block;height:88px; overflow:hidden;}
.news_deta4 li a:hover{color: #cf0606;}

.num{ width:100%;  line-height:20px;margin-top:30px;text-align:center; height:30px;}
.num a{ text-decoration:none;padding: 3px 4px;}
.num span{ padding-left:20px; padding-right:20px;}
.num a:hover{ text-decoration:none;color: #fff;background: #cf0606;}
.num a.cur{background-color: #cf0606;}

/*pro*/
.inner_pro {height:auto; overflow:hidden;width:100%;}
.inner_pro li{ float:left;width:164px; height:188px;overflow: hidden;margin: 0px 7px 0px;}
.inner_pro li a.img{width: 162px;height: 148px;display: block;border: 1px solid #b8b1a4;}
.inner_pro li a.tit{display: block;line-height:38px;line-height:38px;width: 100%;overflow: hidden;text-align: center;white-space: nowrap;text-overflow: ellipsis;}



.news_deta li{width: 100%;height: 108px;overflow: hidden;margin-top:14px;line-height: 22px;}
.details{width: 100%;height:100%;overflow: hidden;}
.details_img {width: 161px;height:100%;overflow: hidden;float: left;margin-right: 18px;}
.details_img a{width: 100%;height: 100%;display: block;background:url(../images/sub4_03.png) no-repeat center 101%;}
.details_text{width:517px;height: 88px;float: left;background: #fdefd5;padding: 10px;overflow: hidden;}
.details_text h3 a{height: 27px;line-height: 27px;overflow: hidden;font-weight: bold;display: block;background: #ffe1a8;padding: 0 10px;}
.details_text .xq{height: 61px;overflow: hidden;color: #515151;padding: 0 10px;}
.details_text .xq a:hover{text-decoration: underline;}
.details_text span{float: right;}

/*news-det*/
.detal_s{height:auto; overflow:hidden;}
.detal_s h1{text-align: center;height: 28px;line-height: 28px;font-weight: bold;font-size: 14px;color: #bb2624;}
.detal_s h2{ height:24px;line-height:24px;color:#757575;text-align: center;padding: 5px 0px;border-bottom: 1px solid #757575;font-size: 12px;font-weight: normal;}
.ny_text{margin-top: 5px;color: #757575;line-height: 38px;}
.bdsharebuttonbox{float: right;}
.inner_pages{padding-top: 10px;border-top: 1px solid #cccccc;margin: 10px 0 20px;}
.inner_pages a{width: 100%;height: 24px;overflow: hidden;display:block;color: #757575;}

/*pro_det*/
.description{width: 100%;height: auto;overflow: hidden;}
.ny_text{color: #555555;line-height: 28px;}
.inner_pages a{width: 100%;height: 24px;overflow: hidden;display:block;background: url(../images/other_03.png)no-repeat left center;text-indent: 10px;}
.inner_pages a:hover{background: url(../images/other-h_06.png)no-repeat left center;}



.show_t{color: #5c666b;width:100%;height:auto;overflow: hidden;text-align: center;}
.pimgw{width:404px;height: 324px;overflow: hidden;margin: 10px auto 0;padding: 1px;border: 1px solid #777777;}
.neir{width: 100%;height: auto;padding-top: 20px;color: #757575;}
h3.xq{width: 79px;height: 26px;background: #c7c7c7;line-height: 26px;text-align: center;}
.clear{border-top: 1px dotted #303538;padding-top: 20px;}
.clear li{width: 184px;height: 166px;overflow: hidden;float: left;margin: 10px 10px 0px}
.clear li a{width: 100%;display: block;}
.clear li a.img{height: 132px;border: 1px solid #f1f1f1;}
.clear li a.tit{height: 32px;line-height: 32px;text-align: center;overflow: hidden;}
.clear li a.tit:hover{color: #ffffff;background:#bc973e; }

/*搜索结果页*/
p.sousu{font-size: 18px;text-align: center;}
ul.list{margin-top:15px;height: auto;width: 100%}
ul.list li{width:100%;height: 35px;overflow: hidden;border-bottom: 1px dotted #303538;}
ul.list li a{display: block;line-height: 35px;height:35px; overflow:hidden;background:url(../images/map_yd_07.png) no-repeat left center; text-indent:17px;}
.fr{float: right;}

