<div id="header">
       <div class="logo"><a href="{$site_url}"><img src="{$logo}"></a></div>
       <div class="navs">
            <ul class="menus">             
            <li><a class="{if $nav.current}current{/if}" href="{$site_url}">首页</a></li>
            {foreach item=nav from=$navs}
            <li class="tou"><a class="{if $nav.current}current{/if}" href="{$nav.link}">{$nav.name}</a>
               {if $nav.childmenu}
               <ul class="erji none">
                 {foreach item=nav_list from=$nav.childmenu}
                 <li><a href="{$nav_list.link}">{$nav_list.name}</a></li> 
                 {/foreach}
               </ul>
               {/if}
            </li>
            {if $nav@index+1 eq 7}{break}{/if}
            {/foreach}           
           </ul>
       </div>
   </div>