.swiper-container{margin:0 auto;position:relative;overflow:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;z-index:1}.swiper-wrapper{position:relative;width:100%;-webkit-transition-property:-webkit-transform,left,top;-webkit-transition-duration:0s;-webkit-transform:translate3d(0px,0,0);-webkit-transition-timing-function:ease;-moz-transition-property:-moz-transform,left,top;-moz-transition-duration:0s;-moz-transform:translate3d(0px,0,0);-moz-transition-timing-function:ease;-o-transition-property:-o-transform,left,top;-o-transition-duration:0s;-o-transform:translate3d(0px,0,0);-o-transition-timing-function:ease;-o-transform:translate(0px,0px);-ms-transition-property:-ms-transform,left,top;-ms-transition-duration:0s;-ms-transform:translate3d(0px,0,0);-ms-transition-timing-function:ease;transition-property:transform,left,top;transition-duration:0s;transform:translate3d(0px,0,0);transition-timing-function:ease}.swiper-free-mode>.swiper-wrapper{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;margin:0 auto}.swiper-slide{float:left}.swiper-wp8-horizontal{-ms-touch-action:pan-y}.swiper-wp8-vertical{-ms-touch-action:pan-x}.scroll-container{height:100%;width:100%}.scroll-container .swiper-slide{width:100%}.swiper-gallery .swiper-slide{width:100%;position:relative;text-align:center}.swiper-scrollbar{position:absolute;right:2px;top:2%;width:5px;height:96%;background:rgba(0,0,0,0.2);z-index:10;border-radius:4px}.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:rgba(255,255,255,0.5);border-radius:10px}.swiper-wp8-horizontal{-ms-touch-action:pan-y}.swiper-wp8-vertical{-ms-touch-action:pan-x}


.menu{  overflow:hidden;  position:relative; z-index:1000; bottom:0;   width:100%; margin:auto; height:40px;    }
.menu:after{display:block; content:" "; position:absolute; width:70%; margin:auto; left:50%; margin-left:-47%; top:0;  height:0px;border-color:#fff transparent transparent ;border-width: 35px 35px 0 ;border-style:  solid solid none;}
.menu .nav{ height:35px; width:80%; margin:auto; overflow:hidden; }
.swiper-nav { margin:auto; z-index:999; }
.swiper-nav .swiper-wrapper {
	margin: 0 auto;
}
.swiper-slide{ text-align:center; line-height:35px; }

.swiper-slide a{ color:#000}


.swiper-pages {height: 100%;}
.scroll-container {height: 100%;width: 100%;}
.arrow-left,.arrow-right{ position:absolute; top:50%; left:0px; height:20px; display: inline; color:#333; width:30px; text-align:center;  cursor:pointer; z-index:999999999;}
.arrow-right{ color:#fff }
.arrow-left{ color:#fff }
.current{background: rgba(0,0,0,0.2);}
.current1{}
.arrow-right{ left:auto; right:0px;}


@media screen and (min-width: 320px) and (max-width: 480px){
	.swiper-slide .news_cirl1{border:4px solid #fff; }
}
@media screen and (min-width: 480px) {
	.menu:after{width:82%; }
.menu .nav{  width:85%; }

}

