
<div class="slider wap">		
	<div class="header">
		<div class="w1">				
			<div class="navBar depth2_bg">
				<ul class="nav clearfix">
					{$limit = 9}
					<li class="m" style="width:{100/($limit+1)}%">
						<h3>
							<a  href="{$site_url}">首页</a>
						</h3>
					</li>

					{foreach item=nav from=$navs}
					<li class="m {if $nav.current}current{/if}" style="width: {100/($limit+1)}%">
						<h3>
							<a href="{$nav.link}">{$nav.name}</a>
						</h3>				
						{if $nav.childmenu}
						<ul class="sub">
							{foreach item=nav_list from=$nav.childmenu}
							<li class="{if $nav_list.current}current{/if}">
								<a href="{$nav_list.link}">{$nav_list.name}</a>
							</li>
							{/foreach}
						</ul>
						{/if}
					</li>
					{if $nav@index+1 gte $limit}{break}{/if}
		            {/foreach}	
				</ul>	
				<a href="{$site_url}" title="返回首页" class="lg f_l">
					<img src="{$logo}" alt="{$title}">
				</a>				
			</div>
		</div>
	</div>
	<div class="banner">
		<div class="bd">
			<ul>
				{foreach item=slidepic from=$_header.slidepics}
				<li>
					<a href="{$slidepic.link}">
						<img src="{$slidepic.image}" alt="{$slidepic.title}">
					</a>
				</li>
				{/foreach}
			</ul>
			 <div class="banter-tu"><img src="{$site_url}images/ban-tm.png" height="174" width="1500" ></div>
			<div class="hotline">
			 	<div class="hour">
			 		<p>{$_header.hour_1}</p>
			 		<span>{$_header.hour_2}</span>
			 	</div>
			 	<div class="icon"><img src="{$_header.icon.image}"></div>
			 	<div class="tel">
			 		<p>{$_header.tel_1}</p>
			 		<span>{$_header.tel_2}</span>
			 	</div>
			</div>
			<a class="prev" href="javascript:void(0)"></a>
			<a class="next" href="javascript:void(0)"></a>
		</div>
	</div>
</div>
