
<div class="ab_munber">
	&nbsp;&nbsp;第<a class="number">{$page_links.current_page}</a>页/总<a class="number">{$page_links.page_count}</a>页
	<a href="{$page_links.first_link}">[第一页]</a>
	<a href="{$page_links.prev_link}">[上一页]</a>&nbsp;
	{foreach item=near_link key=near_page from=$page_links.nears_link}
	  {if $near_page == $page_links.current_page}
	    <a class="current">{$near_page}</a>&nbsp;
	  {else}
	    <a href="{$near_link}">{$near_page}</a>&nbsp;
	  {/if}
	{/foreach}
	<a href="{$page_links.next_link}">[下一页]</a>
	<a href="{$page_links.last_link}">[最后页]</a>
</div>    