<div class="header det-had">
    <div class="hadBg">
        <div class="menu lt" id="quickbar-showcats"><i class="iconfont">&#xe603;</i></div>
        <div class="logo"><a href="{$site_url}"><img src="{$logo}" alt=""></a></div>
        <div class="ser-btn"><i></i></div>
        <div class="searchBox">
            <form action="{$search_action}" method="GET">
                <input class="input-sub" type="submit" value="" >
                <input class="input-txt" type="text" name="s" placeholder="请输入搜索关键词">
                <input class="input-reset rt" type="reset" value="取消">
            </form>
            <p>没有最近搜索</p>
        </div>
    </div>
</div>
