<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{$title}</title>
    <script type="text/javascript">
        // 跳转手机页面
        {if $site_another_url}
            if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
                location.href = '{$site_another_url}';
            } {/if}
    </script>
    
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1" />
    <meta name="keywords" content="{$keywords}" />
    <meta name="description" content="{$description}" />
    <link rel="stylesheet" href="{$site_url}css/animate.min.css"/>
    <link rel="stylesheet" href="{$site_url}css/idangerous.swiper.css"/>
    <link rel="stylesheet" href="{$site_url}css/public.css"/>
    <script src="{$site_url}js/jquery-1.9.1.min.js"></script>
    <!--[if lt IE 9]>
    <script src="{$site_url}js/html5shiv.js"></script>
    <![endif]-->
    <script src="{$site_url}js/idangerous.swiper.min.js"></script>
    <script src="{$site_url}js/function.js"></script>
    {$headscript}
</head>
<body>
<div class="index-wrap">
    {include file='./_header.html'}
    <div class="banner">
        <div class="bs">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {foreach item=banner from=$index.slidepics}
                    <div class="swiper-slide"><a href="{$banner.link}"><img src="{$banner.image}" alt=""/></a></div>
                    {/foreach}
                </div>
                <div class="pagination"></div>
            </div>
        </div>
    </div>
    <div class="sec">
        <div class="section1_r">
            <div class="section1">
                <div class="sec1">
                    <div class="sec_title">
                        <h3><a href="{$index.products.link}">{$index.products.name}</a></h3>
                    </div>
                    <div class="sec1_c">
                        <ul>
                            <li class="show"><a class="middle" href="{$index.products.link}"><img class="max" src="{$index.products.image}" alt=""/></a></li>
                            {foreach item=pros from=$index.products.data}
                            <li>
                                <a class="img middle" href="{$pros.link}"><img class="max" src="{$pros.image}" alt=""/> </a>
                                <h3>{$pros.title}</h3>
                                <div class="nr">{$pros.description}</div>
                                <a class="btn" href="{$pros.link}">点击查看</a>
                            </li>
                            {if $pros@index+1 eq 6}{break}{/if}
                            {/foreach}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="section2_r">
            <div class="section2">
                <div class="sec2">
                    <div class="sec2_bg" style="background: url('{$index.about_img.image}')"></div>
                    <div class="sec2_c">
                        <div class="about">
                            <div class="bg"></div>
                            <div class="detail">
                                <h3><a href="{$index.about.link}">{$index.about.description}</a></h3>
                                <div class="nr">{$index.about.content|unescape:"html"}</div>
                                <a class="btn" href="{$index.about.link}">查看更多</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sec3">
                    <div class="sec_title">
                        <h3><a href="{$index.products.link}">{$index.news.name}</a></h3>
                        <div class="btn">
                            <a class="arrow-left" href="#"><</a>
                            <a class="arrow-right" href="#">></a>
                        </div>
                    </div>
                    <div class="sec3_c">
                        <div class="swiper-container1">
                            <div class="swiper-wrapper">
                                {foreach item=news from=$index.news.data}
                                <div class="swiper-slide">
                                    <a class="img middle" href="{$news.link}"><img class="max" src="{$news.image}" alt=""/></a>
                                    <div class="detail">
                                        <div class="rq">
                                            <span class="day">{$news.pubtimestamp|date_format:'%d'}</span>
                                            <span class="month">{$news.pubtimestamp|date_format:'%m'}月</span>
                                        </div>
                                        <div class="right">
                                            <h3>{$news.title}</h3>
                                            <a href="{$news.link}">
                                            <div class="nr limit" data-limit="70">一个有关闷养的问题：“多肉到底闷养还是通风”，对这个问题有疑惑的一般都是新入门的花友，看到过不闷养依旧水灵灵的多肉，也见到过闷养的水灵灵的多...一个有关闷养的问题：“多肉到底闷养还是通风”，对这个
                                                问题有疑惑的一般都是新入门的花友，看到过不闷养依旧水灵灵的多肉，也见到过
                                                闷养的水灵灵的多...<i>[详情]</i></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {/foreach}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section3_r">
        <div class="section3">
            {include file='./_footer.html'}
        </div>
    </div>
</div>
</body>
</html>