<div class="module_page"  >
    <a href="{$page_links.first_link}">&laquo; 首页</a>
    <a href="{$page_links.prev_link}">&laquo; 上一页</a>
        {foreach item=near_link key=near_page from=$page_links.nears_link}
            {if $near_page == $page_links.current_page}
                <a class="current">{$near_page}</a></li>
            {else}
                <a href="{$near_link}">{$near_page}</a></li>
            {/if}
        {/foreach}
    <a href="{$page_links.next_link}">下一页 &raquo;</a>
    <a href="{$page_links.last_link}">尾页 &raquo;</a>
    <span>{$page_links.current_page}/{$page_links.page_count}</span>
</div> 