<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<script type="text/javascript">
    // 跳转手机页面
    {if $site_another_url}
      if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
        location.href = '{$site_another_url}';
      }
    {/if}
    </script>

<meta http-equiv="x-ua-compatible" content="ie=7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="keywords" content="{$keywords}"/>
<meta name="description" content="{$description}"/>
<link href="{$site_url}css/style.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />

<script type="text/javascript" src="{$site_url}js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.js"></script>
<script type="text/javascript" src="{$site_url}js/function_main.js"></script>

<title>{$title}</title> 

</head>

<body>
<div class="nheard">
    {include file='./_header.html'}
    {include file='./_nbanner.html'}
</div>
<div class="public main1">
  <div class="left nleft">
    {include file='./_pagenavs_sub3.html'}
    {include file='./_contact.html'}
  </div>
  <div class="nright right">
    <div class="right_title"><span>当前位置：<a href="{$site_url}">首页</a>
    {foreach item=nav from=$posnavs}
    &gt; <a href="{$nav.link}">{$nav.name}</a>
    {/foreach}</span><b>{$article.category.name}</b></div>                    
    <div class="deteo">
      <div class="main_right_con">
        <h1 class="inner_news_tit">{$article.title}</h1>
        <h2 class="inner_news_time"> 发布日期：{$article.pubdate}<a href="javascript:window.history.back()">【返回】</a></h2>
          {if $article.images|count gt 1}
            <div  id="slideBox" class="slideBox" style="margin:0 auto">
              <div class="hd">
                <ul>
                  {foreach  item=proshowb from=$article.images}
                    <li>{$proshowb@index+1}</li>
                  {/foreach}               
                </ul>
              </div>
              <div class="bd">
              <ul>
                {foreach item=proshowb from=$article.images}
                  <li><img src="{$proshowb.image}" alt="{$proshowb.title}" /></li>
                {/foreach}       
              </ul>
              </div>      
              <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
              <a class="prev" href="javascript:void(0)"></a>
              <a class="next" href="javascript:void(0)"></a>                  
            </div>
          {else}
            <div class="slideBox"><div class="bd"><img src="{$article.image}" alt="{$article.title}" /></div></div>
          {/if}
        <div class="edit">{$article.content|unescape:"html"}</div>
        <div class="share" style="float:right;">{shareExt shareText=$article.content|unescape:"html"|strip_tags|truncate:140:"…" sharePic=$article.image}</div>
        <ul class="inner_pages">
          <li><a href="{$article.prev.link}">上一篇：{$article.prev.title}</a></li>
          <li><a href="{$article.next.link}">下一篇：{$article.next.title}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="clear"></div>
    
</div>
{include file='./_footer.html'}
</body>
</html>