 <div class="foot">
        <div class="flink">
            <b>友情链接</b>
            {foreach name=flink item=flink from=$global.links}
             <a href="{$flink.link}"><img src="{$flink.image}" alt="{$flink.title}"></a>
            {/foreach}
   
        </div>
        <div class="fclass"><a href="{$site_url}">首页</a>/ 
            {foreach item=nav from=$navs}
                 <a href="{$nav.link}">{$nav.name}</a>/ 
            {/foreach}
        </div>
        <div class="fword">
            {$footprint}{$footscript}
        </div>
</div>
