/* CSS Document */

body{ margin:0px; padding:0px;  font-family:Microsoft Yahei,Arial, Helvetica, sans-serif;font-size:14px; background:#fff url(../images/body_bg.jpg) no-repeat center top; }
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,input,textarea,div{margin:0;padding:0; list-style:none; line-height:24px; font-size:12px;}
*{ }
.clearfix:after { content:'\20'; display:block; height:0; clear:both; }
.clearfix { *zoom:1; font-size:0px;}
a{font-size:12px; color:#818181; text-decoration:none}
a:hover{ color:red;} 
.wrapper{width:1008px; margin:0 auto; }
img{ border:none;}





display:block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;
strong{display: block;margin: 0 auto;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}



 
#header{ height:108px; background:url(../images/header_bg.jpg) no-repeat; position:relative;}


#logo{width: 310px;height: 108px;float:left; position:relative }
#logo a{display: block;height:108px;width: 310px;position: absolute;bottom: 0px; left:0;}
#logo img{max-width:310px; max-height:108px; position:absolute; top:0; left:0; right:0; bottom:0; margin:auto}

 .tel{ float:right; font-size:20px; text-transform:uppercase; font-family:Microsoft Yahei; color:#c90600; margin-top:45px; margin-right:60px;}


#link{ position:absolute; right:10px; top:15px; color:#333; font-size:12px; height:13px;}
#link a{  color:#333; padding-left:20px; height:13px; line-height:13px;}
#link a.one{ width:70px; background:url(../images/one.jpg) no-repeat left;}
#link a.two{ width:70px; background:url(../images/two.jpg) no-repeat left;}
#link a.three{ width:70px; background:url(../images/three.jpg) no-repeat left;}


#nav_bg{ height:40px; background:url(../images/nav_bg.jpg) repeat-x; }
#nav{ height:40px; width:800px;}
#nav ul li{ float:left;height:40px; line-height:40px; color:#fff; background:url(../images/libg.jpg) right center no-repeat }
#nav ul li a{font-family:Microsoft Yahei; font-size:12px; color:#ffffff; padding: 0 22px;  font-weight:bold; display:block;}
#nav ul li a:hover{ background:#285fb9;  color:#fff;height:40px; line-height:40px; margin-right:2px;}


#nav ul li .cc{background:#c31717;height:40px; line-height: 40px;display: none; text-align:center; width:100%; position:relative; z-index:100; margin-top:0px; }
#nav ul li .cc:hover{}
#nav ul li .cc a{width:92%; margin:auto;color:#fff; padding:0 4%; overflow:hidden; height:40px; line-height:40px;}
#nav ul li .cc a:hover{ text-decoration:underline;color:#fff; background:none}





#nav,#search{ float:left;}


#search .search_area{ border:none; background:url(../images/search_bg.jpg) no-repeat; height:26px; width:148px; padding:0 5px;}
#search .search_btn{ border:none; background:url(../images/search_button.jpg) no-repeat; width:38px; height:26px;}
#search input,#search img{ float:left; margin-top:8px; display:inline;}











#banner{ width:100%; height:480px; overflow:hidden }

#container_bg{ background:url(../images/container_bg.jpg) no-repeat center top #fff;}
#container{ width:1010px; border:1px solid #cacaca; border-top:none; padding:40px 15px 0 15px; margin:auto;}

#about{ width:365px; float:left;}
#about .title{ width:365px; height:42px; background:url(../images/about_title.jpg) no-repeat; }
#about .title span{  float:right; margin:20px 24px 0 0; }
#contact .title span{  float:right; margin:20px 24px 0 0; }
#about .inner{ width:312px; height:237px; background:url(../images/about_inner.jpg) no-repeat; color:#333; font-size:12px; line-height:25px; padding:15px 28px 0 25px; overflow:hidden }

#about .inner p{ line-height:24px; height:120px; overflow:hidden}
#about .inner .about_img { width:314px; height:93px; overflow:hidden; text-align:center; margin-bottom:10px;}
#about .inner .about_img img{ height:100%; margin:0 auto;}


#news{ width:421px; float:left; display:inline}
#news .title{ width:421px; height:42px; background:url(../images/news_title.jpg) no-repeat; }
#news .title span{  float:right; margin:20px 24px 0 0;   }
#news .inner{ width:401px; height:237px; background:url(../images/news_inner.jpg) no-repeat;color:#333; font-size:12px; line-height:24px; padding:15px 10px 0 10px;  }
#news .inner .newscontent{}
#news .inner .newscontent .newsimg{ margin-right:10px; border:1px solid #ccc; height:93px; display:inline-block;*display:inline;*zoom:1; overflow:hidden}
#news .inner .newscontent .newsimg img{ height:100%; display:block}
#news .inner .newscontent .newstext { line-height:22px;display:inline-block; vertical-align:top;*display:inline;*zoom:1; height:93px; overflow:hidden}

#news .inner .newscontent .newstext span{ float:right; color:red; font-weight:bold; }
#news .inner .newscontent .newstext span a{ color:red;}
#news .inner .newscontent .newstext h3{ font-size:14px; font-weight:bold; color:red; margin-bottom:5px; height:24px; overflow:hidden}
#news .inner ul{ margin-top:5px; height:120px; overflow:hidden}
#news .inner ul li{ background:url(../images/li_bg.jpg) no-repeat 5px 10px; height:27px; line-height:27px; border-bottom:1px dashed #878787; overflow:hidden}
#news .inner ul li span{ float:right; margin-right:10px; }
#news .inner ul li a{ color:#333; padding-left:20px; float:left; width:269px; overflow:hidden}
#news .inner ul li a:hover{ color:#C00}
#news .inner ul li img{ float:left; margin-top:10px; margin-left:5px; display:inline;}
#news .inner p{ line-height:18px; height:36px; overflow:hidden}


#contact{ width:222px; float:left; }
#contact .title{ width:222px; height:42px; background:url(../images/contact_title.jpg) top center no-repeat;}
#contact .inner{ width:172px; height:232px; background:url(../images/contact_inner.jpg) no-repeat ; line-height:23px; padding:20px 15px 0 35px; overflow:hidden}
#contact .inner b{ font-size:15px; height:30px; line-height:30px; overflow:hidden}
.contact .inner b{ font-size:15px; height:30px; line-height:30px; overflow:hidden}

#show{ float:left; margin-top:10px; display:inline}
#show .title{width:1008px;  height:42px; background:url(../images/show_title.jpg) no-repeat;  }
#show .title span{ float:right; margin:20px 24px 0 0;}
#show .inner{ width:1003px; height:210px; padding-top:20px; overflow:hidden}
#show .inner ul li{  float:left; width:170px;margin-right:20px; text-align: center; line-height:30px; overflow:hidden}
#show .inner ul li .show_img{ width:170px;height:170px; overflow:hidden }
#show .inner ul li .show_img img{ display:block; }

#footer_bg{ color:#fff; text-align:center;  font-size:12px; background: #11408e url(../images/footer_bg.jpg) top center repeat-x; margin-top:20px; padding-top:20px; padding-bottom:20px; }
#footer{  color:#676767;font-size:12px; text-align:center; overflow:hidden }
#copyright{ color:#fff}
#friendlink{ font-weight:bold;color:#fff; margin-bottom:10px; text-align:center; margin:0 auto}
#friendlink h2{ float:left}
#friendlink option { float:left
    
}
#friendlink option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

#friendlink a,#copyright a{ color:#fff;}

.container{ padding-top:40px; }
.subcontainer{border:1px solid #d3cfd0;}
.alefttitle { border-bottom:1px solid #d3cfd0;}

.sidebar{  float:left;  width:268px; background:#f4f3f3;border-rifht:1px solid #d3cfd0; }
.subnav{ width:268px; margin-bottom:10px; padding-bottom:50px;}
.subnav .title{ width:268px; height:42px; }
.subnav .inner{ width:238px;  padding:0 15px; }
.subnav  ul li a.firsta {  height:35ppx; line-height:35px; background:url(../images/li_bg.jpg) no-repeat 20px 15px; font-size:12px; color:#333; border-bottom:1px dashed #bab9b9; display:block}
.subnav  ul li a.firsta { font-weight:bold; color:#333; padding-left:40px;}
.subnav  ul li a.seconda{  height:35ppx; line-height:35px;font-size:12px; color:#333; border-bottom:1px dashed #bab9b9; display:block}
.subnav  ul li a.seconda{ color:#333;padding-left:40px;}

.subnav  ul li a.thirda{  height:35ppx; line-height:35px;font-size:12px; color:#333; border-bottom:1px dashed #bab9b9; display:block}
.subnav  ul li a.thirda{ color:#333;padding-left:60px;}

.contact{ width:267px; margin-left:1px}
.contact .inner{ height:223px; background:url(../images/contact_inner1.jpg) no-repeat; padding:20px 15px 0px 45px; font-size:12px; color:#333;}
.contact .title{border-top:1px solid #d3cfd0; border-bottom:1px solid #d3cfd0;}


.main{ width:740px;float:left;  }
.crumb{ width:740px; height:41px; background:url(../images/crumb.jpg) no-repeat; }
.crumb span,.crumb img{ float:left;}
.crumb span{ height:41px; line-height:41px; float:right; margin-right:10px; font-weight:100; font-size:12px; color:#848384;}
.crumb span a{color:#848384;}
.article{ padding:10px 15px; line-height:26px; border-left:1px solid #d3cfd0; min-height:550px;}








.bt .title .bg .in_zh {
    color: #1a3850;
    font-size: 14px;
	 font-weight:bold;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
	 font-family::Microsoft Yahei ；
}



.bt .title .bg{ float:left;
   
    margin-bottom: -1px;
    overflow: hidden;
    padding-bottom: 5px;
    position: relative;
    text-align: left;
    width: 50%;
    z-index: 1000;
	left:2%; top:5px;}


.bt .title .bg .in_en {
    color: #333333;
    font-size: 12px;
    font-weight: normal;
    height: 15px;
    line-height: 15px;
    overflow: hidden;
    text-transform: uppercase;
}


.bt .title .bg .in_en span {
    display: none;
}



.bt .title .math {
    color: #7b7b7b;
    float: left;
    font-size: 40px;
    line-height: 35px;
    margin-right: 5px;
    overflow: hidden;
    text-transform: uppercase;
}


.bt .title .in_more1 a{color: #af4a00;
    float: right;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;}

































