	<div class="next1">
		<div class="next1_p"><a href="{$page_links.prev_link}"><img class="a" src="{$site_url}images/next1_p.jpg" height="28" width="28"><img class="ah"  src="{$site_url}images/next1_p_h.jpg" height="28" width="28"></a></div>
		<div class="page">
		{foreach item=near_link key=near_page from=$page_links.nears_link}
	        {if $near_page == $page_links.current_page}
		        <a class="on1">{$near_page}</a>
	        {else}
		        <a href="{$near_link}">{$near_page}</a>
	        {/if}
	    {/foreach}
	    </div>
	    <div class="next1_n"><a href="{$page_links.next_link}"><img class="a" src="{$site_url}images/next1_n.jpg" height="28" width="28"><img class="ah" src="{$site_url}images/next1_n_h.jpg" height="28" width="28"></a></div>
	    

	</div>