.category{ height:auto; overflow:hidden; width:260px; background:url(../images/curebg.jpg) repeat-y;}
.category ul li a{display:block;  height:30px; padding-left:89px;font-size:14px; line-height:30px; overflow:hidden; margin-bottom:3px;font-size:14px; }
.category ul li a:link,.category ul li a:visited{ color:#f5a30f; background:url(../images/first_link.jpg) no-repeat; }
.category ul li a:hover{ color:#003f1e; background:url(../images/first_hover.jpg) no-repeat; font-weight:bold; }
/*.category ul li:first-child a{color:#003f1e; background:url(../images/first_hover.jpg) no-repeat; font-weight:bold;}
.category ul li:first-child a:hover{color:#f5a30f; background:url(../images/first_link.jpg) no-repeat;}
*/
ul.second{ width:197px; height:auto; overflow:hidden; margin-left:39px;}
ul.second li a{font-size:12px;height:auto; height:28px; line-height:28px;padding-left:55px;margin-bottom:0px; background:none;  }
ul.second li a:link,ul.second li a:visited{ color:#fff; background:none;}
ul.second li a:hover{color:#f5a30f; background:none;}
ul.third li a{width:100%; font-size:12px;height:auto; line-height:28px; padding-left:65px; height:28px; display:block; font-weight:normal;border-bottom:none; }
ul.third li a:link,ul.third li a:visited{ color:#ccc;}
ul.third li a:hover{color:#5beaa0; }
.category  ul.third { display:none; margin:0px;}
.category  ul.third { display:none; margin:0px;}
.category  ul.second ul.third { display:none; margin:0px;}
.category ul.second{ display:none;}
.category  li.current ul.second li.current ul.third{ display:block; margin:0px;}
.category  li.current ul.second { display:block;}
/*.category  ul.second li:first-child a:hover{ background:none;}
.category  ul.third li:first-child a:hover{ background:none;}*/
.category ul li a.selected{  color:#003f1e; background:url(../images/first_hover.jpg) no-repeat; font-weight:bold; }
.category ul li ul.second li a.selected {color:#f5a30f; background:none;}
.category ul li ul.second li ul.third li a.selected{ color:#5beaa0; background:none;}
