<!DOCTYPE html>
<html manifest="huancun.manifest">
<head>
<!-- 实时预览调试代码，模板开发完成后删除 -->
    
    <!-- 调试代码 End -->
    <script type="text/javascript">
    // 跳转PC页面
    {if $site_another_url}
      if (!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
        location.href = '{$site_another_url}';
      }
    {/if}
    </script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta content="telephone=no, email=no" name="format-detection">
<!-- 启用360浏览器的极速模式(webkit) -->
<meta name="renderer" content="webkit">
<!-- 避免IE使用兼容模式 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
<meta name="HandheldFriendly" content="true">
<!-- 微软的老式浏览器 -->
<meta name="MobileOptimized" content="320">
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="portrait">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="portrait">
<title>{$title}</title>
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<link rel="stylesheet" href="{$site_url}css/reset.css" /> 
<link rel="stylesheet" href="{$site_url}css/public.css" /> 
<link href="{$site_url}css/swipe.css" rel="stylesheet" type="text/css" />
<script src="{$site_url}js/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.min.js"></script>
<script type="text/javascript" src="{$site_url}js/idangerous.swiper-2.0.min.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
<script type="text/javascript" src="{$site_url}js/simple-app.js"></script>
<script type="text/javascript">
  window.addEventListener('load', function(){
   setTimeout(function(){ window.scrollTo(0, 1); }, 100);
});//safari浏览器可以通过此代码来隐藏地址栏
</script>
{$headscript}
</head>
<body>
    <!-- 主体内容 -->
    <div class="index-wrap">
      <header>
         <div class="top">
            <div class="logo"><img src="{$logo}" width="100%"></div>
            <i class="iconfont">&#xe603;</i>
         </div>
      </header>
      <!-- 头部导航 -->
      <nav class="menulist">
              <div class="swiper-nav swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><a href="{$site_url}">网站首页</a></div>
                  {foreach item=nav from=$navs}
                    <div class="swiper-slide"><a href="{$nav.link}">{$nav.name}</a></div>
                  {/foreach}
                </div>
              </div>
      </nav>
      <!-- banner -->
       <div class="banner">    
           <div id="slideBox" class="slideBox">
              <div class="hd">
                   <ul style=""></ul>
              </div>
              <div class="bd">
                  <ul>
                   {foreach item=slidepic from=$global.slidepics}
                    <li><a class="pic" href="{$slidepic.link}"><img src="{$slidepic.image}"/></a></li>
                   {/foreach}
                  </ul>
              </div>         
           </div>
       </div>  
       <div class="xnav">
           <ul>
              <li class="li1"><a href="{$navs[0].link}"><i class="iconfont">{$navs[0].icon}</i><span>{$navs[0].name}</span></a></li>
              <li class="li2"><a href="{$navs[1].link}"><i class="iconfont">{$navs[1].icon}</i><span>{$navs[1].name}</span></a></li>
              <li class="li3"><a href="{$navs[2].link}"><i class="iconfont">{$navs[2].icon}</i><span>{$navs[2].name}</span></a></li>
              <li class="li4"><a href="{$navs[3].link}"><i class="iconfont">{$navs[3].icon}</i><span>{$navs[3].name}</span></a></li>
              <li class="li5"><a href="{$navs[4].link}"><i class="iconfont">{$navs[4].icon}</i><span>{$navs[4].name}</span></a></li>
           </ul>
       </div>
      <!-- 内容 -->
      <section class="cont">
        {foreach item=mIndexCat from=$mIndexCats}
        {if $mIndexCat.type eq 4}
        {if $mIndexCat.showtype eq 1}
        <div class="aboutbox">
            <p class="top"><span>{$mIndexCat.name}</span></p>
            <div class="nr"><a href="{$mIndexCat.link}">
                 <div class="left"><div class="imgdiv"><img src="{$mIndexCat.image}"></div></div>
                 <div class="right">
                      {$mIndexCat.description} 
                 </div>
            </a></div>
        </div>
        {/if}
        {elseif $mIndexCat.type eq 2}
        {if $mIndexCat.showtype eq 1}
        <div class="probox">
             <p class="top"><span>{$mIndexCat.name}</span></p>
             <ul>
                <li><a href="{$mIndexCat.data[0].link}">
                    <div class="left">
                        <p class="title">{$mIndexCat.data[0].title}</p>
                        <div class="hx"></div>
                        <p class="ms">{$mIndexCat.data[0].description}</p>
                    </div>
                    <div class="right"><div class="pdiv"><img src="{$mIndexCat.data[0].image}"></div></div>
                </a></li>
                <li><a href="{$mIndexCat.data[1].link}">
                    <div class="left1">
                        <p class="title">{$mIndexCat.data[1].title}</p>
                        <div class="hx"></div>
                        <p class="ms">{$mIndexCat.data[1].description}</p>
                    </div>
                    <div class="right1"><div class="pdiv"><img src="{$mIndexCat.data[1].image}"></div></div>
                </a></li>
                <li><a href="{$mIndexCat.data[2].link}">
                    <div class="left">
                        <p class="title">{$mIndexCat.data[2].title}</p>
                        <div class="hx"></div>
                        <p class="ms">{$mIndexCat.data[2].description}</p>
                    </div>
                    <div class="right"><div class="pdiv"><img src="{$mIndexCat.data[2].image}"></div></div>
                </a></li>
                <li><a href="{$mIndexCat.data[3].link}">
                    <div class="left1">
                        <p class="title">{$mIndexCat.data[3].title}</p>
                        <div class="hx"></div>
                        <p class="ms">{$mIndexCat.data[3].description}</p>
                    </div>
                    <div class="right1"><div class="pdiv"><img src="{$mIndexCat.data[3].image}"></div></div>
                </a></li>
             </ul>
        </div>
        {/if}
        {elseif $mIndexCat.type eq 3}
        {if $mIndexCat.showtype eq 1}
        <div class="newbox">
             <p class="top"><span>{$mIndexCat.name}</span></p>
            <div class="nr">
                 <ul class="nrtop">
                  {foreach item=new from=$global.newchild.childmenu}
                     <li><a href="{$new.link}" class="{if $new.current}current{/if}">{$new.name}</a></li>
                    {if $new@index+1 == 3}{break}{/if}
                  {/foreach}
                 </ul>
                 <div class="new">
                      <div class="nleft"><div class="ndiv"><img src="{$mIndexCat.image}"></div></div>
                      <ul class="nright">
                        {foreach item=newtext from=$mIndexCat.data}
                        <li><a href="{$newtext.link}"><strong class="date">{$newtext.pubdate}</strong>
                            {$newtext.description}</a></li>
                          {if $newtext@index+1 == 5}{break}{/if}
                        {/foreach}
                      </ul>
                 </div>
            </div>
        </div> 
        {/if}
        {/if}
        {/foreach}     
      </section>
      <footer class="foot"><span class="back-top">TOP↑</span>{$footprint}</footer>
    </div>
  {$footscript}
</body>
</html>
