    
    <div id="header">
         <div id="logo"><a href="{$site_url}"><img src="{$logo}" /></a></div>
        <nav id="nav" class="opacity">
            <h2><a href="{$site_url}"><img src="{$site_url}images/iconHome.png">首页</a></h2>
            <ul class="menu">
                {foreach item=nav from=$navs}
                <li>
                    <a href="{$nav.link}">{$nav.name}</a>
                    {if $nav.childmenu}
                    <ul class="menu-list">
                        {foreach key=key item=nav_list from=$nav.childmenu}
                        <li><a href="{$nav_list.link}">{$nav_list.name}</a></li>
                        {/foreach}
                    </ul>
                    {/if}
                </li>
                {/foreach}
                <div class="ledgement"></div>
            </ul>
        </nav>
    </div>
   