
	<div class="left">
		{if $pagenavs}
			<ul class="first">
				{foreach item=nav from=$pagenavs}
				<li>
					<a href=""> · {$nav.name}</a>
					{if $nav.childmenu}
					<ul class="second">
						{foreach item=nav_list from=$nav.childmenu}
						<li>
							<a href=""> · {$nav_list.name}</a>
							{if $nav_list.childmenu}
							<ul class="third">
								{foreach item=nav_last from=$nav_list.childmenu}
									<li><a href="">{$nav_last.name}</a></li>
								{/foreach}
							</ul>
							{/if}
						</li>
						{/foreach}
					</ul>
					{/if}
				</li>
				{/foreach}
			</ul>
		{else}  <!-- 让客服自己选择，如果当前无子栏目 展现的目标栏目 -->
			<ul class="first">
				{foreach item=nav from=$global.pagenavs.childmenu}
				<li>
					<a href=""> · {$nav.name}</a>
					{if $nav.childmenu}
					<ul class="second">
						{foreach item=nav_list from=$nav.childmenu}
						<li>
							<a href=""> · {$nav_list.name}</a>
							{if $nav_list.childmenu}
							<ul class="third">
								{foreach item=nav_last from=$nav_list.childmenu}
									<li><a href="">{$nav_last.name}</a></li>
								{/foreach}
							</ul>
							{/if}
						</li>
						{/foreach}
					</ul>
					{/if}
				</li>
				{/foreach}
			</ul>
		{/if}
	</div>
			

