{if $pagenavs}
<div class="title">
	<h3><i class="kz" data-limit="6">{$posnavs[0].name}</i></h3>
	<span>{$posnavs[0].en_name}</span>
</div>
<div class="l_list">
	<ul class="firstul">
	{foreach name=pagenavs item=nav from=$pagenavs}
		<li class="firstli">▶<a href="{if $nav.childmenu}javascript:; {else} {$nav.link}{/if}" class="c kz" data-limit="10">{$nav.name}</a>
			<ul class="secondul">	
			{if $nav.childmenu}
				{foreach item=nav_list from=$nav.childmenu}
					<li class="secondli"><a href="{if $nav_list.childmenu}javascript:; {else} {$nav_list.link}{/if}" class="cc kz" data-limit="10">{$nav_list.name}</a>	
						<ul class="thrul">
						{if $nav_list.childmenu}
						{foreach item=nav1_list from=$nav_list.childmenu}
							<li><a href="{$nav1_list.link}" class="kz" data-limit="10">{$nav1_list.name}</a></li>
						{/foreach}
						{/if}
						</ul>						
					</li>
				{/foreach}						
			{/if}
			</ul>			
		</li>					
	{/foreach}	
	</ul>
</div>
{else}
<div class="title">
	<h3><i class="kz" data-limit="6">{$_pagenavs_sub3.pagenavs.name}</i></h3>
	<span>{$_pagenavs_sub3.pagenavs.en_name}</span>			
</div>
<div class="l_list">
	<ul class="firstul">
	{foreach name=pagenavs item=nav from=$_pagenavs_sub3.pagenavs.childmenu}
		<li class="firstli">▶<a href="{if $nav.childmenu}javascript:; {else} {$nav.link}{/if}" class="c kz" data-limit="10">{$nav.name}</a>
			<ul class="secondul">	
			{if $nav.childmenu}
				{foreach item=nav_list from=$nav.childmenu}
					<li class="secondli"><a href="{if $nav_list.childmenu}javascript:; {else} {$nav_list.link}{/if}" class="cc kz" data-limit="10">{$nav_list.name}</a>	
						<ul class="thrul">
						{if $nav_list.childmenu}
						{foreach item=nav1_list from=$nav_list.childmenu}
							<li><a href="{$nav1_list.link}" class="kz" data-limit="10">{$nav1_list.name}</a></li>
						{/foreach}
						{/if}
						</ul>						
					</li>
				{/foreach}						
			{/if}
			</ul>			
		</li>					
	{/foreach}	
	</ul>
</div>
{/if}



