
      <div class="public header">
          <div class="logo fl"><a href="{$site_url}"><img src="{$logo}" /></a></div>
            <div class="rihome fr">
                <div class="telnum">
                  <div class="haoma"><b>tel：</b><span>{$global.tel_num}</span></div>
                    <div class="word">{$global.tel_txt}</div>
                </div>
            </div>
        </div>
        <div id="menu" class="public menu">

          <ul id="nav" class="nav">
            {$limit = 7}
            <li class="nLi on" style="width:{100/($limit+1)}%">
                <h3><a href="{$site_url}" target="_self">网站首页</a></h3>
            </li>
            {foreach name=navs item=nav from=$navs}
            <li class="nLi {if $nav.current}on{/if}" style="width:{100/($limit+1)}%">
                <h3>
                    <a href="{$nav.link}" target="_self">{$nav.name}</a>
                </h3>               
                {if $nav.childmenu}
                    <ul class="sub">
                        {foreach key=key item=nav_list from=$nav.childmenu}
                        <li class="{if $nav.current}current{/if}"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
                        {/foreach}
                    </ul>
                {/if}
            </li>
            {if $nav@index+1 gte $limit}{break}{/if}
            {/foreach}
        </ul>
            <div class="search_a">
              <form action="{$search_action}" method="GET">
                <input type="text" class="txt1" name="s" value="" />
                <input type="submit" class="btn1" value="搜索" />
              </form>              
            </div>
        </div> 
        <div class="datu">
          <div class="banner">
            <div class="focusBox" style="margin:0 auto">
                    <ul class="pic">

                      {foreach item=slidepic from=$global.slidepics}
                        <li><a href="{$slidepic.link}"><img src="{$slidepic.image}"></a></li>                    
                      {/foreach}                      
        
                    </ul>
                    <a class="prev" href="javascript:void(0)"></a>
                    <a class="next" href="javascript:void(0)"></a>
                    <ul class="hd">
                      {foreach item=slidepic from=$global.slidepics}
                        <li></li>                   
                      {/foreach}                      
                    </ul>
            </div>
          </div>
        </div>
