<div class="header">
    <div class="logo"><a class="middle" href="{$site_url}"><img class="max" src="{$logo}" alt=""/></a></div>
    <div class="head">
        <div class="nav">
            <div class="bg"></div>
            <div class="swiper-container1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><a href="{$site_url}">网站首页</a></div>
                    {foreach item=nav from=$navs}
                    <div class="swiper-slide"><a href="{$nav.link}">{$nav.name}</a></div>
                    {/foreach}
                </div>
                <!-- Add Pagination -->
                <div class="swiper-button-prev swiper-button-white"></div>
                <div class="swiper-button-next swiper-button-white"></div>
            </div>
        </div>
        <div class="banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {foreach item=nbanner from=$global.nbanner}
                    <div class="swiper-slide"><a href="{$nbanner.link}"><img src="{$nbanner.image}" alt=""/></a></div>
                    {/foreach}
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</div>