<div class="sidebar">  
    {if $pagenavs}
    <h2>● {$pagenavs[0].name}<span>{$pagenavs[0].en_name}</span></h2>
    <div class="subnav">
      <ul class="firstul">
      {foreach name=pagenavs item=nav from=$pagenavs}
         <li class="sub1 {if $nav.current} co {/if}"><a href="{$nav.link}">{$nav.name}<span class="icon">▶</span></a>
            <ul class="secondul">
            {if $nav.childmenu}
            {foreach item=nav_list from=$nav.childmenu}
                <li class="sub2 {if $nav_list.current} ct {/if}"><a href="{$nav_list.link}">{$nav_list.name}</a>
                    <ul>
                    {if $nav_list.childmenu}
                        {foreach item=nav1_list from=$nav_list.childmenu}
                        <li class="sub3 {if $nav_list.current} ct {/if}"><a href="{$nav1_list.link}">{$nav1_list.name}</a></li>
                        {/foreach}
                    {/if}
                    </ul>
                </li>
            {/foreach}
            {/if}
            </ul>
         </li> 
      {/foreach} 
      </ul>
    </div>
    {else}
    <h2>● {$_pagenavs_sub3.pagenavs.name}<span>{$_pagenavs_sub3.pagenavs.en_name}</span></h2>
    <div class="subnav">
      <ul class="firstul">
      {foreach name=pagenavs item=nav from=$_pagenavs_sub3.pagenavs.childmenu}
         <li class="sub1"><a href="{$nav.link}">{$nav.name}</a>
            <ul class="secondul">
            {if $nav.childmenu}
            {foreach item=nav_list from=$nav.childmenu}
                <li class="sub2"><a href="{$nav_list.link}">{$nav_list.name}</a>
                    <ul>
                    {if $nav_list.childmenu}
                        {foreach item=nav1_list from=$nav_list.childmenu}
                        <li class="sub3"><a href="{$nav1_list.link}">{$nav1_list.name}</a></li>
                        {/foreach}
                    {/if}
                    </ul>
                </li>
            {/foreach}
            {/if}
            </ul>
         </li> 
      {/foreach} 
      </ul>
    </div>
    {/if}


    <div class="feedback">
        <a href="{$_pagenavs_sub3.hiring.link}">
            <span><i><img src="{$_pagenavs_sub3.hiring.image}"/></i></span>
            <div class="name">
                <h3>{$_pagenavs_sub3.hiring.name}</h3>
                <span>{$_pagenavs_sub3.hiring.en_name}</span>
            </div>
        </a>
    </div>
    <div class="feedback">
        <a href="{$_pagenavs_sub3.feedback.link}">
            <span><i><img src="{$_pagenavs_sub3.feedback.image}"/></i></span>
            <div class="name">
                <h3>{$_pagenavs_sub3.feedback.name}</h3>
                <span>{$_pagenavs_sub3.feedback.en_name}</span>
            </div>
        </a>
    </div>
    <div class="feedback">
        <a href="{$_pagenavs_sub3.contact.link}">
            <span><i><img src="{$_pagenavs_sub3.contact.image}"/></i></span>
            <div class="name">
                <h3>{$_pagenavs_sub3.contact.name}</h3>
                <span>{$_pagenavs_sub3.contact.en_name}</span>
            </div>
        </a>
    </div>


</div>