<!DOCTYPE html>
<html>
<head>
<!-- 实时预览调试代码，模板开发完成后删除 -->
		
		<!-- 调试代码 End -->
		<script type="text/javascript">
		// 跳转PC页面
		{if $site_another_url}
			if (!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
				location.href = '{$site_another_url}';
			}
		{/if}
		</script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta content="telephone=no, email=no" name="format-detection">
<!-- 启用360浏览器的极速模式(webkit) -->
<meta name="renderer" content="webkit">
<!-- 避免IE使用兼容模式 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
<meta name="HandheldFriendly" content="true">
<!-- 微软的老式浏览器 -->
<meta name="MobileOptimized" content="320">
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="portrait">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="portrait">
<script type="text/javascript">
	window.addEventListener('load', function(){
   setTimeout(function(){ window.scrollTo(0, 1); }, 100);
});//safari浏览器可以通过此代码来隐藏地址栏
</script>
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<title>{$title}</title>
<link rel="stylesheet" href="{$site_url}css/reset.css" /> 
<link rel="stylesheet" href="{$site_url}css/public.css" /> 
<link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />
<link href="{$site_url}css/lanrenzhijia.css" type="text/css" rel="stylesheet" />

<link rel="stylesheet" rev="stylesheet" href="{$site_url}css/style_{$stylecolor}.css" type="text/css" />
<script src="{$site_url}js/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.min.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
<script type="text/javascript" src="{$site_url}js/lanrenzhijia.js"></script>
<!-- <script src="{$site_url}js/idangerous.swiper-2.0.min.js"></script>
<script src="{$site_url}js/simple-app.js"></script> -->
{$headscript}
</head>
<body>
<div class="body">
	{include file='./_dh.html'}
    <div class="wrap page-active">
    	{include file='./_zdcustom.html'}

        <div class="index-wrap" style=" background:none;">
            <div class="ban_index">
                <header class="header">
                    <div class="logo"><img src="{$logo}" width="375px" height="70px"></div>
                    <div class="header_menu" id="header_menu"></div>
                </header>    
                <div class="box_menu">
                    <div class="menu">
                    	
                        {$nav_num=$navs|count}
                        {if $nav_num gte 1}
                        <ul>
                        	<li><div class="mlist_null"></div></li>
                            <li><div class="mlist"><a  onclick="javascript:window.location.href='{$navs[0].link}'">{$navs[0].icon}<p class="pword">{$navs[0].name}</p></a></div></li>
                            <li><div class="mimg"><a  onclick="javascript:window.location.href='{$navs[0].link}'"><img src="{$navs[0].image}" width="118px" height="100px"></a></div></li>
                        </ul>
                        {/if}
                        {if $nav_num gte 3}
                        <ul>
                            <li><div class="mlist"><a  onclick="javascript:window.location.href='{$navs[1].link}'">{$navs[1].icon}<p class="pword">{$navs[1].name}</p></a></div></li>
                            <li><div class="mimg"><img src="{$navs[1].image}" width="118px" height="100px"></div></li>
                            <li><div class="mlist"><a  onclick="javascript:window.location.href='{$navs[2].link}'">{$navs[2].icon}<p class="pword">{$navs[2].name}</p></a></div></li>
                        </ul>
                        {/if}
                        {if $nav_num eq 2 or $nav_num gte 4}
                        {if $nav_num gte 4}
                        {$cos=3}{else}{$cos=1}{/if}
                        <ul>
                            <li><div class="mimg"><img src="{$navs[$cos].image}" width="118px" height="100px"></div></li>
                            <li><div class="mlist"><a  onclick="javascript:window.location.href='{$navs[$cos].link}'">{$navs[$cos].icon}<p class="pword">{$navs[$cos].name}</p></a></div></li>
                            <li><div class="mlist_null"></div></li>
                        </ul>
                        {/if}
                        {if $nav_num gte 5}
                        <ul>
                            <li><div class="mlist"><a  onclick="javascript:window.location.href='{$navs[4].link}'">{$navs[4].icon}<p class="pword">{$navs[4].name}</p></a></div></li>
                            <li><div class="mlist_null"></div></li>
                            <li><div class="mimg"><a  onclick="javascript:window.location.href='{$navs[4].link}'"><img src="{$navs[4].image}" width="118px" height="100px"></a></div></li>
                        </ul>
                        {/if}
                    </div>
                </div>
            </div>
            <div class="foot">{$footprint}</div>
        	{$footscript}
        </div>
    </div>
</div>

</body>
</html>
