
/*标题样式*/
.in_h2{      position:relative; text-align:left; z-index:100;   padding-left:15px;border-left:8px solid #fce466}
.in_h2 .in_zh{ line-height:30px;font-size:1.2em; height:30px; overflow:hidden; text-align:left;color:#363d4d; font-weight:bold  }
.in_h2 .in_en{  line-height:20px; height:20px; overflow:hidden; font-weight:normal; font-size:14px;text-align:left; margin-bottom:5px; color:#363d4d;  }
/*.in_h2:nth-child(2n){ border-right:3px solid #ffe568 }
*/

@media screen and (min-width: 320px) and (max-width: 479px){
.in_h2 .in_zh{ font-size:14px;}
}
/*标题样式*/


.wrapper{ margin:auto; margin-top:25px; width:94%;}
#in_page {   border: 4px solid #fce466; position:relative;margin:auto; width:94%;}
#in_page .in_h2{ border:none}
#in_page .inner{ padding-bottom:15px; width:65%; float:left}
#in_page .inner p{ width:100%; line-height:24px; height:72px; overflow:hidden; padding-left:10px}
#in_page .pic{  width:30%; float:right; margin-right:2%}
#in_page .pic img{ width:100%}
#in_page .more{ padding-left:3px; height:31px; width:10%; background:url(../images/about_more.jpg) no-repeat right #ffe36b; color:#303440; line-height:31px; position:absolute; top:40%; right:0px;}

#in_image .inner ul li{  width:46%; float:left}
#in_image .inner ul li .txt{ width:100%; font-size:15px; line-height:30px; height:30px;  text-align:center;  color:#333;display:block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; }
.insub_image ul li .in_proimg{margin-bottom:5px;padding:5px;  border:1px solid rgba(0,0,0,.1)}
.insub_image ul li .in_proimg:before{ height:1px; width:96%;  position:absolute; bottom:-4px; content:""; display:block; background:rgba(0,0,0,.2); }
.insub_image ul li .in_proimg:after{ height:1px; width:90%; position:absolute; bottom:-8px; left:4%; content:""; display:block; background:rgba(0,0,0,.2)}


#in_text .in_h2{      position:relative; text-align:right; z-index:100; border-left:none;  padding-right:15px;border-right:8px solid #fce466}
#in_text .in_h2 .in_zh{ line-height:30px;font-size:1.2em; height:30px; overflow:hidden; ttext-align:right;text-align:inherit; color:#363d4d; font-weight:bold  }
#in_text .in_h2 .in_en{  line-height:20px; height:20px; overflow:hidden; font-weight:normal; font-size:14px;ttext-align:right; text-align:inherit; margin-bottom:5px; color:#363d4d;  }

#in_text .inner{background:#282b32; overflow:hidden; position:relative}
#in_text .inner:before{ width:15%; height:100%; display:block; position:absolute; left:0px; top:0px; content:""; background:#4b5471}
ul.newslist{ margin-top:10px; padding:0px; width:85%; margin-left:10%; overflow:hidden; position:relative; z-index:100}
ul.newslist li{ overflow:hidden;white-space: normal;text-overflow: ellipsis; font-size:14px; margin:15px 0  20px 0}
ul.newslist li .number{ width:50px; height:50px; border-radius:50%; text-align:center; float:left; background:#ffdf6c;  border:5px solid #7a7a7c; color:#282b32; line-height:50px; font-size:18px}
ul.newslist li .txt{ width:85%; float:right}
ul.newslist li .txt h2{ font-size:18px;color:#ffef6d; height:30px; line-height:30px;display: block;margin: 0 auto;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
ul.newslist li .txt .in_des{ color:#7f7f87; line-height:20px; height:40px; overflow:hidden}


@media screen and (min-width: 320px) and (max-width: 480px){
#in_page .more{ width:20%}
#in_text .inner:before{ width:20%; }
ul.newslist li .txt{ width:75%;}
ul.newslist li .number{ width:40px; height:40px;  line-height:40px;}


}
@media screen and (min-width: 480px) {
#in_page .inner p{ line-height:24px; height:72px; overflow:hidden; background-attachment:fixed}
}








