
/*标题样式*/
.in_h2{ text-align:center; position:relative; margin-bottom:10px;}
.in_h2 .line{ position:absolute; top:50%; height:1px; background:rgba(0,0,0,.3); width:100%; }
.local{ width:25%; position:absolute;z-index:1000; }
.local:after{ width:7px; height:7px; border-radius:50%; content:""; background:#5b150b; position:absolute; left:0px; top:42%;}
.local:before{ width:7px; height:7px; border-radius:50%; content:""; background:#5b150b; position:absolute; right:0px; top:42%;}
.in_h2 .in_zh{line-height:25px; height:25px;font-size:22px;color:#a80f24; font-weight:bold; }
.in_h2 .in_en{ color:#6a0505; line-height:18px;font-weight:normal; font-size:10px; text-transform:uppercase; overflow:hidden }


/*标题样式*/
.inner{ margin-top:15px;}
.wrapper{ width:100%; margin:auto;  }

#in_page{ background:#910a1c; padding:3% 0; position:relative; margin-top:2%}
#in_page:after{ position:absolute; content:""; left:48%; top:0px;width: 0; height: 0;border-left:12px solid transparent;border-right: 12px solid transparent; border-top: 12px solid #f4e8d9;}
#in_page:before{ position:absolute; content:""; left:48%; bottom:0px;width: 0; height: 0;border-left:12px solid transparent;border-right: 12px solid transparent; border-bottom: 12px solid #f4e8d9;}

#in_page .inner{ width:94%; margin:auto}
#in_page .inner p{ line-height:24px; height:96px; overflow:hidden; margin:auto; color:#eee2c1;}
@media screen and (min-width: 320px) and (max-width: 480px){
.local{ width:40%}
.in_h2 .in_zh{ font-size:18px;}
}
@media screen and (min-width: 480px) {
	
}






#in_text{ padding:10px 0; position:relative; }
#in_text .more{ width:10%; height:30px; background:#970c1f; line-height:30px; color:#fff; font-size:15px; position:absolute; bottom:5%; left:55%; padding:0 5px; text-align:center}
#in_text .more a{ color:#fff;}
#in_text .more .triangle{width: 0;height: 0;border-bottom: 12px solid #904441;border-left: 12px solid transparent; position:absolute; left:-12px; top:0px;}

#in_text .title{ width:48%; background:url(../images/in_text.png) repeat-x bottom; padding:5px 0; margin-left:2%; position:relative; overflow:hidden; height:30px; overflow:hidden}
#in_text .title .in_zh{ width:28%; font-size:18px; color:#a41010; float:left; margin-right:5px; line-height:30px; height:30px; overflow:hidden}
#in_text .title .in_en{width:38%; font-size:15px; color:#a41010; text-transform:capitalize; float:left; line-height:30px;height:30px; overflow:hidden}
#in_text .inner{ position:relative}
#in_text .inner .line{ height:100%; width:1px; background:#6a0505; position:absolute; top:0px;}
#in_text .inner .circle{ width:8px; height:8px;background:#6a0505; border-radius:50%; position:absolute; top:0%;}
#in_text .inner .circle1{ width:8px; height:8px;background:#6a0505; border-radius:50%; position:absolute; top:30%;}
#in_text .inner .circle2{ width:8px; height:8px;background:#6a0505; border-radius:50%; position:absolute;  top:60%;}
#in_text .inner .circle3{ width:8px; height:8px;background:#6a0505; border-radius:50%; position:absolute;  top:85%;}
#in_text .inner ul{ width:94%; margin:auto}
#in_text .inner ul li{ width:45%; border:1px solid #b98a82; background:#f6ead8; float:left; position:relative; margin-bottom:20px; padding:5px 0; margin-top:15px; }
#in_text .inner ul li .pic{ width:17%; border-radius:50%; border:2px solid #36a6d9; overflow:hidden; float:left; margin-right:2%;}
#in_text .inner ul li .in_textbox{ width:92%; overflow:hidden; margin:auto; }
#in_text .inner ul li .in_textbox h2{overflow:hidden; margin:auto; color:#a80f24;font-size:16px; line-height:30px; height:30px; }
#in_text .inner ul li .in_textbox .in_title{ height:22px; line-height:22px; display:block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; font-size:1.1em; color:#171717;float:left; margin-top:5px;}
#in_text .inner ul li .in_textbox .in_data{font-size:14px; color:#b0b0b0;  font-size:12px; position:absolute; top:-20px; right:0px; }
#in_text .inner ul li .in_textbox .in_des{ color:#757575; line-height:20px; height:40px; overflow:hidden; font-size:12px}
#in_text .inner ul li .triangle{width: 0;height: 0;border-bottom: 15px solid #904441;border-right: 15px solid transparent; position:absolute; right:-15px; top:0px;}


#in_text .inner ul li:nth-of-type(2n){ float:right;margin-bottom:10% }
#in_text .inner ul li:nth-of-type(2n) .triangle{width: 0;height: 0;border-bottom: 15px solid #904441;border-left: 15px solid transparent; position:absolute; left:-15px; top:0px; z-index:-1}

@media screen and (min-width: 320px) and (max-width: 480px){
	#in_text .more{ font-size:14px; width:20%;bottom:8%; left:60%}
#in_text .inner ul li{ width:42%;}
#in_text .title .in_zh {  font-size:15px; width:40%}
#in_text .title .in_en{  font-size:12px;width:54%; line-height:20px; height:20px; margin-top:8px;}
#in_text .inner ul li:nth-of-type(2n){ float:right;margin-bottom:19% }
}

@media screen and (min-width: 480px) {
}

#in_image{margin-top:2%}
#in_image .inner{ overflow:hidden}
#in_image ul li{ float:left;  overflow:hidden; margin:1%; width:28%; background:#edddc8; padding:1.5% 1.5% 0 1.5%}
#in_image ul li .in_proimg{width:100%; margin-right:4%; overflow:hidden }
#in_image ul li .in_protitle{ text-align:left; color:#690b0b; line-height:40px; text-align:center; font-size:15px; }
#in_image ul li .in_protitle .more{ width:20%; float:right; color:#aaaaaa;}



@media screen and (min-width: 320px) and (max-width: 480px){
	#in_image ul li .in_protitle{ height:30px; line-height:30px;}
}
@media screen and (min-width: 480px) {
}

