<div class="header_bg">
  <div id="header" class="wrapper clearfix">
    <div class="logo"><img src="{$logo}" alt="title" /></div>
    <div class="top_r">
      <div class="wz">搜索您喜欢的</div>
      <div class="ser clearfix">
          <form action="{$search_action}" method="GET">
  <input type="text" name="s" value="" class="search_area" />
<input  type="image" src="{$site_url}images/ss.jpg" class="search_btn"  value="搜索"/>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="nav_bg">
  <div id="nav" class="wrapper">
    <ul class="clearfix">
    {$limit = 8}
    {if $navs|count lt $limit}{$limit = $navs|count}{/if}
    <li class="nav1" style="width:{100/($limit+1)}%;"> <a href="{$site_url}" ><p style="height:51px; line-height:51px; font-weight:bold; font-size:17px;">首页</p></a> </li>
    {foreach name=navs item=nav from=$navs}
    <li class="fl{if $nav.current} current{/if} nav1" style="width:{100/($limit+1)}%"> <a href="{$nav.link}"><p style="height:51px; line-height:51px; font-weight:bold; font-size:17px;">{$nav.name}</p></a>
      <ul class="sub clearfix">
        {if $nav.childmenu} {foreach key=key item=nav_list from=$nav.childmenu}
        <li class="{if $nav.current}current{/if} nav2"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
        {/foreach} {/if}
      </ul>
    </li>
    {if $nav@index+1 eq $limit}{break}{/if}
    {/foreach}
    
    
    
  </ul>
  </div>
</div>

