@charset "utf-8";
/* 全局 */
*{ margin:0px; padding:0px;}
a{ text-decoration:none}
li{list-style:none;}
a:link, a:visited{text-decoration:none; }
a:hover{ text-decoration:none;}
a img{ border:none;}
#clear{ clear:both;}
body{font-size:12px; text-align:left;font-weight:normal; line-height:24px;  font-family: "宋体"; background:#fff; color:#595959;}
a{blr:expression(this.onFocus=this.blur())} /*for IE*/
a{outline:none;} /*for Firefox*/
ol,p,dl,li{margin:0;pading:0; list-style:none;}
h1,h2,h3,h4,h5{font-size:12px;margin:0;padding:0; font-weight:normal;}
.wrap{ width:100%; height:auto; overflow:hidden; background:url(../images/content_bg.jpg) left bottom repeat-x;}
.main{ width:1003px; height:auto; overflow:hidden; margin:0px auto; padding-bottom:23px;}
.header{ height:114px; background:url(../images/header.jpg) no-repeat;overflow:hidden;position: relative;}
.headimg{position: absolute;bottom: 10px;right: 0;}

.home{  text-align:right; overflow:hidden; float:right; display:inline; margin-right:40px; line-height:37px; color:#999999}
.home a{ color:#999999; padding:0px 5px;}
.home a:hover{ color:#c70305}

.baner{margin:0px auto 0px; position:relative; height:370px; overflow:hidden; }
.baner .slideBox{ width:1003px; height:370px; overflow:hidden; position:relative; border:1px solid #ddd;  }
.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:50%; bottom:5px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }
.slideBox .hd ul li.on{ background:#f00; color:#fff; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.baner	.slideBox .bd img{ width:1003px; height:370px; display:block;  }

	
		

.menu{ height:48px; padding-bottom:6px; /*overflow:hidden;*/background:url(../images/menu_02.jpg) repeat-x; margin:1px auto 0px; }
/*ul.nav li{ width:125px; height:48px;float:left; display:inline; font-size:14px; position:relative;background:url(../images/menu_hover_03.jpg) no-repeat right;}
ul.nav li a{ height:48px;display:block; color:#fff; font-family: "微软雅黑";font-size:14px; line-height:48px;text-align:center;}
ul.nav li a:hover{ color:#ecd700;}
.mu_bg{background:url(../images/menu_hover_03.jpg) no-repeat right;}
*/
ul.nav{width:100%;position: relative;z-index: 10;height: 48px;}
ul.nav>li{float:left;text-align:center;height:48px; line-height:48px;position: relative;background:url(../images/menu_hover_03.jpg) no-repeat center left;}
ul.nav>li:first-child{background: none;}
/*ul.nav>li>h3{margin: 0 5px;}*/
ul.nav>li>h3 a{height:48px;display:block; color:#fff; font-family: "微软雅黑";font-size:14px; line-height:48px;}
ul.nav>.on>h3 a{color:#ecd700;}
.sub{position: absolute;/*width: 140px*/;background: #db0217;padding: 5px 0;display: none;width: 100%;left: 3px;}
.sub li{line-height: 30px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.sub li a{color: #fff;}
.sub li a:hover{color: #fef502;}*/


.content{ width:100%; height:auto; overflow:hidden; margin:15px auto 0px;}
.video{ width:206px; height:155px; float:left; display:inline; margin-top:25px; margin-left:7px; overflow:hidden;}
.pro{ width:509px; height: auto; overflow:hidden; float:left; display:inline; margin-left:25px;}
.pro_top{ height:30px; overflow:hidden; border-bottom:2px solid #eaeaea; line-height:30px;}
.pro-tit h2{font-size: 14px;color: #b70000;font-weight: bold;font-family: Microsoft YaHei;}
.pro-tit h2 span{padding-left: 5px;font-size: 12px;color: #a5a5a5;font-weight: normal;}
.more{ width:23px; height:5px; float:right; display:inline; background: url(../images/more.jpg) no-repeat; cursor:pointer; margin-top:15px; margin-right:20px;}
.pro_m{ padding-top:16px;}
#prizes{ width:100%;overflow:hidden;}
.photos {position: relative;margin: 0 auto;overflow: hidden;}
.photos .photos-button {position: absolute;top: 40px;width: 40px;height: 40px;z-index: 10;margin-top:-30px;top:50%;display: none;}
.photos .photos-prev {left: 0px;background:url(../images/leftarrow.png) 0 0 no-repeat;}
.photos .photos-next {right: 0px;background: url(../images/leftarrow.png) -41px 0 no-repeat;}
.photos .photos-content {width: 100%;}/*margin: 0 auto;width: 856px;}*/
.photos .photos-content li{float:left;display:inline; width:152px; height: 126px;overflow:hidden; text-align:center;padding: 0px 9px; }
.photos .photos-content li .pic{ /*max-width:160px;*/width:152px; height: 126px;display: table-cell;}
.photos .photos-content li .pic img{ /*max-width:160px;*/ /*width:150px;*/border:1px solid #dfdfdf;max-width: 100%;max-height: 100%;vertical-align: middle;}
.photos .photos-content li h2{height:32px; line-height:32px; overflow:hidden; text-align:center;color: #757575}
.photos .photos-content li a:hover h2{color:#019559;}
/*.colee_left{overflow:hidden; width:100%;  }
.colee_left td table td{ padding:0px 9px 0px; width:152px; height:126px; }
.colee_left td table td img{width:150px; height:124px; border:1px solid #dfdfdf;}*/

.contact{ width:221px; height:166px; float:right; display:inline; margin-right:10px; background:url(../images/contact.jpg) left top no-repeat; margin-top:15px;}
.contact_on{ height:70px; overflow:hidden; padding:60px 20px 0px 10px; line-height:18px;}
.tel_phone{color:#f00; display:block;font-size:16px; font-family:"微软雅黑";line-height:35px;font-weight:bold;}
.footer{ height:auto; overflow:hidden; padding:8px 0px; text-align:center; width:100%;background: #f8f8f8; /*background:url(../images/foot_bg.jpg) left top repeat #f8f8f8;*/}
.footer a{ color:#595959; padding:0px 4px;}
.footer a:hover{ color:#c70305}

.left{ width:187px; height:auto; overflow:hidden; float:left; display:inline;}
.class{ width:176px; margin:0px auto; height:auto; overflow:hidden;}
.class_top{ height:33px; overflow:hidden; width:100%; text-align:center;text-shadow:2px 5px 8px #fff;center;background:url(../images/left_about.jpg) no-repeat;font-family:"微软雅黑"; color:#fff; font-size:16px; line-height:33px;}
.class_m{ padding:10px 0px 10px; height:auto; overflow:hidden;}

ul.first{ padding:0px; overflow:hidden;}
ul.first li a{ color:#333;width:100%; height:32px; line-height:32px;  overflow:hidden; display:block; text-indent:45px; background:url(../images/sub_navbg.jpg) left top no-repeat;}
ul.first li a:hover{ color:#c70305;}
ul.second,ul.third{ padding:5px;;display: none;}
ul.second li a{ color:#333; border-bottom:0px; width:100%; height:30px;line-height: 30px; display:block;  text-indent:45px;  background:none;}
ul.second li a:hover{ text-decoration:underline;color:#c70305;}
ul.third li a{text-indent: 60px;height:24px;line-height: 24px;}
.ny_contact{ width:100%; height:145px; overflow:hidden; background:url(../images/ny_contact.png) left top no-repeat; margin:15px auto 0px;}
.ny_contact_on{height:70px; overflow:hidden; padding:60px 20px 0px 10px; line-height:18px;}
.right{ width:761px;padding:18px 10px 0px 32px; min-height:350px; overflow:hidden; background:url(../images/right_bg.jpg) left top no-repeat; padding-top:18px; float:right; display:inline;}
.right_top{ height:30px; line-height:24px; font-size:14px; font-weight:bold; color:#333333; padding-left:38px; }

.lujin{ float:right; display:inline;font-weight:normal;font-size:12px; margin-right:15px;}
.lujin a{ color:#333333;}
.lujin a:hover{ color:#c70305; text-decoration:underline;}
.right_m{ height:auto !important; min-height:200px; height:200px; color:#333332; padding:10px 10px 0px 0px;}

ul.right_products{ padding:0px; margin:0px;}
ul.right_products li{ width:152px; margin:5px 14px;text-align:center; height:auto; overflow:hidden; overflow:hidden;float:left; display:inline; }
ul.right_products li a{ width:152px; /*height:158px;*/display:block;color:#333333;}
ul.right_products li a:hover{ color:#c70305; }
ul.right_products li img{width:150px; /*height:124px; */border:1px solid #dfdfdf; vertical-align:top;}
ul.right_products li .title{ height:32px; line-height:32px; text-align:center;} 
.next2{text-align:center; padding-top:10px; line-height:30px; font-weight:normal;color:#333333; clear:both;}
.next2 a{ color:#333333;}
.next2 a:hover{ color:#c70305;}
.next2 .pon{color: #c70305!important;}

.right_big_img{ width:310px; height:256px;display:inline; margin:10px; float:left; margin-left:0px; margin-top:0px;}
.right_big_img img{border:1px solid #dfdfdf; padding:2px;width:304px;height:250px;}
.right_details{  height:auto; overflow:hidden;float:left; display:inline; width:300px;line-height:30px;}
ul.right_details li{  height:30px; line-height:30px;}
.right_products_conyent h3{ clear:both;font-weight:bold; color:#c70305;}
.right_protext{  height:auto; overflow:hidden;}

.next1{ height:auto; overflow:hidden;color:#333333; padding:10px 0px; font-size:12px; clear:both; border-top:1px solid #eaeaea}
.next1 li{ width:46%; padding-right:4%;  height:25px; line-height:25px; background:none; border:none;}
.next1 li a{color:#333333;}
.next1 li a:hover{ color:#c70305;}

.artilce{ width:720px; margin:10px auto 20px; }
.artilce ul.newslist li{ background:url(../images/news_ico.jpg) 5px 14px no-repeat; border-bottom:1px dotted #999999; height:33px; line-height:33px; padding-left:15px;}
.artilce ul.newslist li span{ float:right; margin-right:10px; display:inline; color:#999999;}
.artilce ul.newslist li a{ color:#333333;}
.artilce ul.newslist li a:hover{ color:#c70305;}
.artilce ul.newslist li a p{width: 80%;float: left;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
h1.inner_news_tit{text-align:center; font-size:14px;  color: #c70305; font-weight: bold; }
h2.inner_news_time{height:25px; line-height:25px;color:#333; padding-left:10px; margin-bottom:4px; text-align:center; border-bottom:1px dotted #ccc;}
.edit{overflow:hidden;text-align:Justify;text-justify:inter-ideograph; color:#333; margin:10px 0px 10px;position: relative;padding-bottom: 20px;}

/*	.text_001{ width:250px; height:20px; background#fff; border:1px solid #e2e2e2; margin-left:10px;}
.text_002{ width:300px; height:60px; background#fff; border:1px solid #e2e2e2; margin-left:10px;}
.height_01{ height:30px; margin:10x 0;}
.submit_02{ margin:10px; padding:3px 6px; color:#222; cursor:pointer;}
.tbale_001{ width:370px; height:auto; margin:0 auto;}*/


		/*list-imagetext*/
		.list{padding: 20px 10px;overflow: hidden;}
		.list li{border-bottom: 1px solid #e5e5e5;padding-bottom: 10px;margin-bottom: 10px;overflow: hidden;height: 107px;}
		.list li .pic{max-width: 174px;height: 107px;float: left;margin-right: 14px;overflow: hidden;}
		.list li .pic img{max-width: 174px;height: 107px;}
		.list li .list-nr{}
		.list li .list-nr h2{font-size: 15px;color: #10522c;font-weight: bold;line-height: 22px;margin-bottom: 5px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
		.list li .list-nr p{line-height: 26px;height: 78px;overflow: hidden;font-size: 12px;color: #333;}
		.list li a:hover .list-nr h2{text-decoration: underline;}	

/*content-product*/
.right-topimg{width: 100%;margin-bottom: 20px;overflow: hidden;text-align: center;}
.right-topimg .slideBox{width:450px; height:269px; overflow:hidden; position:relative; display: inline-block;text-align: center;margin-bottom: 20px;}
.right-topimg .slideBox .hd{display: none;}
.right-topimg .slideBox .bd{position:relative;/* height:100%;*/ z-index:0;   }
.right-topimg .slideBox .bd li{ zoom:1; vertical-align:middle;text-align: center; }
.right-topimg .slideBox .bd li .pic{display: table-cell; width:450px; height:269px; vertical-align:middle;text-align: center; }
.right-topimg .slideBox .bd li .pic img{ max-width:100%; max-height:100%;vertical-align: middle; }

/* 下面是前/后按钮代码，如果不需要删除即可 */
.right-topimg .slideBox .prev,
.right-topimg .slideBox .next{ position:absolute; top:50%; margin-top:-19px; display:block; width:24px; height:38px; background:url(../images/prodetarw.png) 0 0 no-repeat; filter:alpha(opacity=50);opacity:0.5;   }
.right-topimg .slideBox .prev{ left:3%; }
.right-topimg .slideBox .next{right:3%; background-position:-24px 0; }
.right-topimg .slideBox .prev:hover,
.right-topimg .slideBox .next:hover{ filter:alpha(opacity=100);opacity:1;  }
.share{position: absolute;right: 0;bottom: 0}
.searchbox{width:100%; height:auto; overflow:hidden; margin:20px auto; }
.searchbox .artilce{width: 100%;}
.search-word{font-size: 16px;margin-bottom: 20px;text-align: center;}