.tell-icon{ height:35px; overflow:hidden; background:#fd9a6d; line-height:35px; background:url(../images/cell-nell.png) 10px center no-repeat #fd9a6d; background-size: auto 25px; position:absolute; bottom:58px; left:0px; z-index:99; width:100%; text-indent:50px; color:#fff; font-size:1.13em; display:none;}
.display-block{ display:block;}
.tell-icon .number{ font-size:1.23em;}
.tell-icon .close{ width:22px; height:22px; overflow:hidden; line-height:22px; margin-top:6px; margin-right:7px;float:right; display:inline; position:relative; background:#ffebe2; color:#fd9a6d;  font-size:1.1em; color:#fd9a6d; cursor:pointer; border-radius:100%; text-indent:0px; text-align:center}
.index_show{ display:block; margin:10px 0px; width:100%; height:auto; overflow:hidden; position:relative}
.about-edit{ margin:5px 10px; height:auto; overflow:hidden; position:relative;display:-webkit-box;display:box;}
.atitleimg{ width:160px; height:144px;  overflow:hidden;display:inline-table; position:relative; margin-right:8px; }
.atitles{ font-size:1.12em; color:#fff; text-align:center; position:relative; height:23px; line-height:23px; z-index:10;}
.aimgs{ width:160px; height:104px; overflow:hidden; vertical-align:top; position:absolute; left:0px; bottom:0px;border-radius:25px;}
.aimgs img{border-radius:25px; vertical-align:top; width:100%; height:auto;}
.atitleimg:after{ background:url(../images/at2.png) no-repeat left top; background-size:100% 144px;  content:""; position:absolute; left:0px; top:0px; width:160px; height:144px;}
.a_righshow{-webkit-box-flex:1;box-flex:1; position:relative; height:auto; overflow:hidden; color:#565757;}
.a_jiedu{ font-size:1.1em; color:#83d014; }
.a_jiedu b{ display:block; font-weight:normal; color:#565757; font-size:1em; height:25px; line-height:25px; overflow:hidden;}
.a_bj{ height:40px; line-height:20px;text-align:Justify;text-justify:inter-ideograph; overflow:hidden;}
.xax_d{ height:29px; padding:2px 10px; background:#65c9f4; border-radius:5px; border:1px solid #2e9ccc; color:#fff; font-size:0.9em; line-height:29px; margin-top:8px; text-align:center; display:inline;}
.course{ margin:10px auto; width:100%; height:auto; overflow:hidden;}
.coust_titles{ background:url(../images/c_title1.png) left top no-repeat; background-size:100% 45px; height:45px; line-height:45px; overflow:hidden;}
.mores{ float:right; display:inline; overflow:hidden; font-size:0.9em; color:#fff; margin-right:5px;}
.keftitle{ padding-left:10px; font-size:1.1em; margin-right:5px; color:#fff;}
.keftitle b{ font-weight:normal; display:inline; margin-left:5px; font-size:0.9em;}
.course_detal{ width:100%; height:auto; overflow:hidden;}
.course_detal ul{ width:99%; padding:10px 0.5%; height:auto; overflow:hidden;}
.course_detal ul li{ width:33%; float:left; display:inline; overflow:hidden; margin-bottom:8px;}
.kechengs{ margin:0px 5px; height:auto; overflow:hidden; position:relative; text-align:center;}
.pings{ padding:0px; height:100%; width:100%; position:relative;}
.pings .cimgs{ height:auto; overflow:hidden; vertical-align:top; width:100%;}
.pings:after{ background:url(../images/pibg.png) no-repeat left top; width:100%; height:100%; overflow:hidden; background-size:100% 100%; content:""; position:absolute; left:0px; top:0px;}
.c_title2{ height:24px; line-height:24px; font-size:1.1em; color:#565757; overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
.c_eidt2{ height:40px; text-align:center; line-height:20px; overflow:hidden; font-size:1em;margin-bottom:5px;}
.course_detal ul li:nth-child(3n) .xax_d{ background:#97d452; border:1px solid #8cbb3f}
.course_detal ul li:nth-child(3n-1) .xax_d{ background:#ff7d42; border:1px solid #ce7347;}
.popular{ width:100%; height:auto; overflow:hidden;}
.popular .coust_titles{ background:url(../images/c_title2.png) left top no-repeat; }
.pipular_detal{ width:100%; height:auto; overflow:hidden; margin:8px auto;}
.pipular_detal ul li{ width:50%; float:left; display:inline; overflow:hidden;}
.pipular_detal ul li .pir_show{ margin:12px 15px 0px; height:auto; overflow:hidden; }
.simgs{ width:100%; height:auto; overflow:hidden;}
.pshow2{ width:100%; height:auto; overflow:hidden; position:relative;}
.sword{  line-height:17px; overflow:hidden; color:#565757; text-align:center; font-size:0.9em}
.pshow2:after{ background:url(../images/pibg2.png) left top no-repeat; width:100%; height:100%; background-size:100% 100%; content:"";
position:absolute; left:0px; top:0px;}
.date{ font-size:0.8em;}

.hide-class dl{ height:25px; overflow:hidden; line-height:25px; margin-top:5px;background:#e9eced; position:relative; }
.hide-class dl:before{ height:30px; width:30px; content:"◆"; position:absolute; left:0px; top:0px;color:#696969;text-align:center; line-height:25px; font-size:0.8em }
.hide-class dl a{ display:block;padding:0px 20px 0px 25px;color:#696969}
.hide-class dl a:active {background:rgba(0,0,0,0.2);}
.font{ width:40px; text-align:center;background:#3ebbf1;position:absolute; top:38px;  right:0px; display:none; z-index:9999}
.more2{height:25px; padding:0px 7px; line-height:25px;background:#ffffff; display:block;  text-align:center; color:#1b94c8; font-size:0.9em; float:right; margin-right:4px; margin-top:9px; position:relative; border-radius:8px;}
#up{ display: none;}
.hide-class{ height:auto; overflow:hidden; display:none; margin:0px 0px;   }
.font dl{ height:30px; line-height:30px; color:#fff; text-align:center; }
.font dl.big,.font-big{ font-size:1.3em; }
.font dl.normal,.font-normal{ font-size:1.0em;}
.font dl.small,.font-small{ font-size:0.9em;}
.boxmain-m{ height:auto; overflow: hidden; margin:0px 8px; }
.edite{ height:auto; overflow:hidden; padding:5px 0px;color:#747474;}

.next1{ clear:both; height:auto; overflow:hidden; text-align:center; padding:10px 0px;margin:0px 7px; }
.next1 a{ padding:2px 5px;background:#3ebbf1; color:#fff; margin:0px 5px; }

.detal_news{ width:100%; height:auto; overflow:hidden; margin:10px 0px;}
.detal_news ul{ margin:0px 5px; height:auto; overflow:hidden;}
.detal_news ul li{ height:auto; width:100%; overflow:hidden; margin:5px auto 15px;}
.news_show{ width:100%; height:auto; overflow:hidden; position:relative;display:-webkit-box;display:box;}
.liantimg{ width:120px; height:77px;  overflow:hidden;display:inline-table;  position:relative; margin-right:8px;}
.news_titles{ position:relative;-webkit-box-flex:1;box-flex:1; height:auto; overflow:hidden;}
.c_title3{ font-size:1.1em; color:#000; height:25px; line-height:25px; overflow:hidden;}
.c_edits{ height:20px; margin:3px auto; line-height:20px; overflow:hidden; color:#818283;}
.c_dtae{ line-height:20px; color:#818283;}

.nyboxmain{ display:block; margin:10px 5px; height:auto; overflow:hidden; }
.nyboxmain-top{ height:35px; overflow:hidden; background:#3ebbf1;line-height:35px; color:#fff; font-size:1.14em; }
.nyboxmain-top .icon{ width:32px; height:18px; margin-top:8px; background-size:18px 18px; float:left; display: inline-block; margin-left:7px;}
.nyboxmain-top .icon img{animation: animation 1s linear 2s infinite alternate;-webkit-animation: animation 1s linear infinite alternate; }
.fixed-top{ width:100%; position: absolute; top:0px; left:0px; text-align:center; z-index:999; }
.ny-wrap{ margin:42px 8px 0px;border:1px solid #82caff; height:auto; overflow: hidden; background:#fff;}
.back{ margin-left:4px; float:left; display:inline; margin-left:5px;}
.back a{ color:#1b94c8;display:block;}
.nyboxmain-top .more2{  margin-right:5px; margin-top:5px;}
.toaptww .font{ width:40px; text-align:center;background:#3ebbf1;position:absolute; top:35px;  right:0px; display:none; z-index:9999}
.news_detail{ height:auto; overflow:hidden; padding:10px 5px; color:#1682b1;  }
.news_detail  .ping  a{ color:#fff;}	
.news_detail .ping{ width:80%; height:auto; overflow:hidden; position:relative; text-align:center; margin:0px auto 5px;}
.ping .cimg{ height:auto; border:3px solid #fe9419;}
.ping img{ width:100%; height:auto; vertical-align:top;}
.news_detail  .pi_words2{height:30px; line-height:30px; width:100%; text-align:center; color:#1682b1; }
.fix-boxmain{ margin:40px auto 0px;}
.news_detail .edite{border-top:1px dotted #aeaeae;}
.next2{height:auto; overflow:hidden; padding:8px 0px 0px; width:100%; }
.next2 dl{ height:24px; overflow:hidden; width:100%;}
.next2 dl a{ color:#1682b1;  display:block; padding:0px 0px;white-space: nowrap;text-overflow: ellipsis; overflow:hidden;}
.next2 dl a:active {background:rgba(0,0,0,0.2);}

.news_detail .title1{ height:auto; overflow:hidden; text-align:center; font-size:1.15em; color:#1682b1;}
.news_detail .title2{ height:30px; text-align:center; color:#1682b1;  margin-bottom:0px;}
.sea_realut{  height:30pox; line-height:30px; text-align:center; font-size:1.2em; padding:10px 0px;}
.sea_realut b{ font-weight:bold; color:#F00;}
.newslista{ width:100%; height:auto; overflow:hidden; padding:5px 0px;}
.newslista ul{ padding:0px 10px;}
.newslista ul li{ padding:5px 0px; height:auto; overflow:hidden; width:100%; position:relative; }
.newslista ul li a{ height:25px; line-height:25px; border-bottom:1px dashed #ccc; color:#333; display:block; text-indent:8px}
.newslista ul li:after{ content:""; position:absolute; left:0px; top:18px; width:3px; height:3px; background:#666;}
.newslista ul li span{ float:right; display:inline;}

@media screen and (min-width: 320px) and (max-width: 480px){
.sword{  line-height:34px; height:34px;  overflow:hidden; padding:2px 0px 0px; color:#565757; text-align:center;}	
.atitleimg{ width:110px; height:99px;  overflow:hidden;display:inline-table; position:relative; margin-right:8px; }
.aimgs{ width:110px; height:72px; overflow:hidden; vertical-align:top; position:absolute; left:0px; bottom:2px;border-radius:25px;}
.atitleimg:after{ background:url(../images/at2.png) no-repeat left top; background-size:100% 99px;  content:""; position:absolute; left:0px; top:0px; width:110px; height:99px;}
.atitles{ font-size:0.9em; color:#fff; text-align:center; position:relative; height:25px; line-height:25px; z-index:10;}
.aimgs img{border-radius:25px; vertical-align:top; width:100%; height:auto;}
.a_bj{ height:20px;}
.c_eidt2{ font-size:0.95em;}
.hide-class dl:before{ height:30px; width:30px; content:"◆"; position:absolute; left:0px; top:0px;color:#696969;text-align:center; line-height:25px; font-size:0.8em }
}
@media screen and (min-width: 480px) {
.sword{  line-height:28px; height:34px;  overflow:hidden; padding:0px 0px 0px; color:#565757; text-align:center;}	
.liantimg{ width:180px; height:115px;  overflow:hidden;display:inline-table;  position:relative; margin-right:8px;}
.atitles{ font-size:1.1em; color:#fff; text-align:center; position:relative; height:25px; line-height:25px; z-index:10;}
.c_edits{ height:40px; margin:3px auto; line-height:20px; overflow:hidden; color:#818283;}

}
@keyframes licion{
0%{ padding-left:0px;}
100%{ padding-left:10px;}
}
@-webkit-keyframes licion{
0%{ padding-left:0px;}
100%{ padding-left:10px;}
}
@keyframes animation{
0%{ padding-left:0px;}
100%{ padding-left:10px;}
}
@-webkit-keyframes animation{
0%{ padding-left:0px;}
100%{ padding-left:10px;}
}

@keyframes lightheight{
0%{ line-height:25px;}
100%{ line-height:40px;}
}
@-webkit-keyframes lightheight{
0%{ line-height:25px;}
100%{ line-height:40px;}
}