
.menu2{ position:absolute;  left:5%; height:18px;top:50%; -webkit-transform:translate(0,-50%)}
.menu2 span{ background:#e7e2dd; height:18px; width:29px; display:block;-webkit-mask:url(../images/zz1.png) no-repeat;-webkit-mask-size:29px 18px}
.menu2 a{ color:#e7e2dd;}
.search{ position:absolute;  right:5%; height:40px;top:50%; -webkit-transform:translate(0,-50%);}
.search span{ background:#e7e2dd; height:40px; width:40px; display:block;-webkit-mask:url(../images/zz2.png) no-repeat;-webkit-mask-size:40px 40px; position:relative; z-index:1000;}
.search a{ color:#e7e2dd;}
.menu2 .word{ height:20px; line-height:20px;}
.topxz{ margin:0px 5px; color:#929292;padding:0px 0px; display:block; -webkit-tap-highlight-color:rgba(0,0,0,0); border-bottom: 10px solid #929292;border-left: 20px solid transparent;border-right: 20px solid transparent;height: 0; margin-top:7px; }
.wrap-bg{ height:auto; width:100%; overflow:hidden; position:relative;}
.index_show{ width:100%; height:auto; overflow:hidden; position:relative;}
.index_prod{ margin:10px;overflow:hidden; height:auto; margin-bottom:10px;}
.pro_title{ color:#6a3906; font-size:1.2em; text-align:center; margin-bottom:10px;}
.pro_title b{ font-weight:normal; font-size:0.8em; display:block;}
.prodshow{ width:100%;  height:auto; overflow:hidden;}
.prodshow dd{ width:50%; height:auto; overflow:hidden; float:left;}
.showimg{ margin-right:8px; height:auto; overflow:hidden;}
.cimg{ width:100%; height:auto; overflow:hidden; margin-bottom:5px;}
.c_wprd{ background:#89c997; width:100%; height:auto; overflow:hidden; text-align:center; position:relative;}
.iconta{ width:50%; margin:25px auto; height:auto; overflow:hidden;}
.ic_word{ color:#5f2c0f; font-size:1.1em; text-align:center; position:absolute; bottom:15px; width:100%; left:50%;-webkit-transform:translate(-50%,0%)}
.prodshow dd:nth-child(2) .cimg{ margin-bottom:0px;}
.prodshow dd:nth-child(2) .c_wprd{ margin-bottom:5px; overflow:hidden; background:#ffa873}
.index_news{  height:auto; overflow:hidden; width:100%; height:auto; overflow:hidden;}
.newsbg{background:url(../images/nebg.jpg) repeat-x left top; padding:10px;}
.index_xwzx{ background:#89c997; padding:10px; overflow:hidden; height:auto;}
.nimg_index{ width:100%; height:auto; overflow:hidden;}
.news_title{ color:#343434; font-size:1.2em; color:#343434; margin-top:0px; line-height:30px; height:30px; overflow:hidden;overflow:hidden; text-overflow: ellipsis;
white-space: nowrap; word-break: keep-all; display:block; margin:5px 0px; }
.news_title a{ color:#fff;}
.news_p{ line-height:22px; height:44px; overflow:hidden;color:#3a3a3a;}
.mores span{ float:right; display:inline; overflow:hidden;}
.mores{ line-height:25px; height:25px; color:#fff;}
.mores span a{ display:block; padding:2px 8px; background:#429353; color:#fff; font-size:1.2em; border-radius:5px;}
.index_about{ margin:10px; height:auto; overflow:hidden;}
.left_clorbg{ width:40%; height:auto; padding:0; background:#fff7cd; float:left; display:inline; position:relative;}
.c_titl{ color:#343434; font-size:1.1em; color:#343434;line-height:30px; height:30px; position:absolute; top:50%; margin-top:-20px; left:10%;overflow:hidden;overflow:hidden; text-overflow: ellipsis;
white-space: nowrap; word-break: keep-all; display:block; }
.c_titl a{ color:#343434;}
.c_titl a:hover{ color:#343434;}
.right_clorbg{ width:60%; height:auto; overflow:hidden; display:inline; float:left;}
.c_edit{text-align:Justify;text-justify:inter-ideograph; color:#343434; font-size:18px; line-height:36px; height:110px; overflow:hidden; margin-top:20px; margin-bottom:30px;width:100%;}
.mores_a{ color:#6b6b6b; font-size:1em; position:absolute; bottom:20px; left:10%;}
.mores_a a{ color:#6b6b6b;}
.i_gywm dl dd{ margin-bottom:10px;  height:auto; overflow:hidden; width:100%;}
.i_gywm dl dd:nth-child(2) .left_clorbg{ background:#f6e3df;}
.index_contact{ padding:10px; height:auto; overflow:hidden;}
.i_lianxi{ background:#ff8952; padding:10px; height:auto; overflow:hidden; color:#ffffff;}

.boxmain_detal{ width:100%; height:auto; overflow:hidden; border-top:1px dotted #bdbdbd; padding-top:3px; }
.boxmain_d{ padding:0px;  height:auto; overflow:hidden;}
.boxmain-top{ height:36px; overflow:hidden;  color:#9d9d9d;line-height:36px; text-indent:25px; font-size:1.1em; background:#e8e8e8}
.more3{height:36px; padding:0px 10px; line-height:36px; text-indent:0px; display:block; text-align:center; color:#fff; font-size:0.9em; float:right;  position:relative; z-index:99999; margin-right:10px; background:#e2888c; width: 60px;
    -webkit-transform: skew(-20deg);
       -moz-transform: skew(-20deg);
         -o-transform: skew(-20deg); }
.more3 b{   -webkit-transform: skew(20deg);
       -moz-transform: skew(20deg); font-weight:normal; display:block;
         -o-transform: skew(20deg);}		 
#up{ display: none;}
.hide-class{ height:auto; overflow:hidden; display:none; padding-bottom:5px; }
.hide-class dl{ height:30px; overflow:hidden; line-height:30px;  position:relative; background:#e2888c; border-radius:5px; margin-bottom:4px; margin-top:4px; }
.hide-class dl:before{ content:"●"; width:30px; height:30px; text-align:center; position:absolute; top:0px; left:0px; color:#fff;}
.hide-class dl a{ display:block;padding:0px 20px 0px 25px;color:#fff}
.hide-class dl a:active {background:rgba(0,0,0,0.1);}
.font{ width:35px; text-align:center;background:#66a273;position:absolute; top:36px; right:16px; display:none; z-index:9999; padding-top:10px;}
.fixed-font{ right:0px; top:35px; padding-top:0px;}
.font dl{ height:30px; line-height:30px; color:#FFF; text-align:center; }
.font dl.big,.font-big{ font-size:1.3em; }
.font dl.normal,.font-normal{ font-size:1.0em;}
.font dl.small,.font-small{ font-size:0.9em;}
.boxmain-ny{ padding:10px 6px; height:auto; overflow:hidden; position:relative; margin:6px auto 0px;}
.boxmain-ny-m{ height:auto; overflow: hidden; padding:10px; min-height:100px; }
.edite{ height:auto; overflow:hidden; padding:4px;color:#6a3906;}

.pros_showa{ width:100%; height:auto; overflow:hidden; position:relative;}
.pros_showa ul{ width:101%; height:auto; overflow:hidden; position:relative; padding-top:10px;}
.pros_showa ul li{ width:50%; float:left; height:auto; overflow:hidden; }
.pros_showa ul li div{ margin:4px 10px 2px; margin-left:0px;height:auto; overflow:hidden; padding:5px; background:#efd3cd; border-bottom:5px solid rgba(208,208,208,1)}
.pros_showa ul li div p{ height:auto; overflow:hidden;}
.pros_showa ul li div .imgword{ display:block; height:30px; margin-top:5px; line-height:30px; text-align:center; font-weight:1.1em; color:#2f2f2f}
.pros_showa ul li a{ color:#fff;}
.next1{ margin:10px auto; height:30px; width:80%;font-size:1em;line-height:30px; padding:5px 0px; overflow:hidden;text-align:center; }
.next1 a{ border-radius:4px; background:#739c4b; color:#fff;  cursor:pointer; margin-right:10px; height:30px; line-height:30px; padding:5px; }
.newsbg2{ background:#efd3cd; margin:0px; padding:10px; overflow:hidden;}
.newsbg2 ul{ width:100%; height:auto; overflow:hidden;}
.newsbg2 ul li{ height:30px; line-height:30px; width:100%; overflow:hidden; border-bottom:1px dotted #fffefe;}
.newsbg2 ul li a{ display:block; color:#7f4508; font-size:1em;}
.newsbg2 ul li a span{ float:right; display:inline; color:#b77734; font-size:0.9em;}

.news_lista{ height:auto; overflow:hidden; width:100%;}
.news_lista ul{ margin:10px 0px; height:auto; overflow:hidden;}
.news_lista ul li{ height:auto; cursor:pointer; overflow:hidden; margin-bottom:10px;  background:#efd3cd; padding:10px;}
.xwzs_show{ width:100%;  height:auto; overflow:hidden; position:relative;display:-webkit-box;display:box; }
.nimg{ width:85px; overflow:hidden;display:inline-table;margin-right:8px; height:auto;}
.news_wprd{-webkit-box-flex:1;-moz-box-flex:1;-o-box-flex:1;-ms-box-flex:1;box-flex:1;font-size:1.11em; position:relative; }
.ntitle{ height:25px; line-height:25px; color:#6a3906; overflow:hidden;text-overflow: ellipsis;
    white-space: nowrap; padding-top:0px;
    word-break: keep-all;}
.ndate{ background:#e8e8e8; height:48px; line-height:24px; padding-left:5px; color:#5c5c5c; overflow:hidden; font-size:0.8em; margin-bottom:3px; margin-top:2px;}
.nword{ height:24px; line-height:24px; overflow:hidden; color:#8b6962; font-size:0.9em;overflow:hidden;text-overflow: ellipsis;
    white-space: nowrap; padding-top:0px;
    word-break: keep-all;}
.enter_fuhao{ width:20px; text-align:center;height:50px; line-height:50px; margin-top:10px; font-size:20px; float:right; position:absolute; right:5px; display:inline;}
.date_d{ float:right; display:inline; overflow:hidden; font-size:0.9em; height:24px; line-height:24px; color:#a27d76;}

.d_titles{ text-align:center; margin:0px auto; height:auto; overflow:hidden; margin:10px 0px; padding-bottom:5px;border-bottom:1px dotted #939393; }
.index_show .title1{ font-size:1.15em; color:#4a3c33; height:30px; line-height:30px; margin-bottom:0px;text-align:center; overflow:hidden;text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;}
.index_show .title2{ margin:0px 10px; text-align:center; color:#dbc5c0; line-height:25px; margin:0px auto; position:relative; z-index:1000 }
.index_show .title2 a{ color:#dbc5c0;}
.d_titles2{ text-align:center; margin:0px auto; height:auto; overflow:hidden; margin:10px 0px; padding-bottom:5px;}
.title2 span{ height:30px; line-height:30px; color:#dbc5c0; text-align:center; }
.title2 span.bigd,.font-bigd{ font-size:1.3em; cursor:pointer; }
.title2 span.middled,.font-middled{ font-size:1.2em;cursor:pointer;}
.title2 span.smalld,.font-smalld{ font-size:0.8em;cursor:pointer;}
.box-m{ height:auto; overflow:hidden; position:relative; padding:0px 0px 0px;}
.box-m .edite{ padding:0px; color:#333333; border-bottom:1px dotted #939393; padding-bottom:10px; padding-top:5px; }
.inner_pages {color: #4a3c33;margin-bottom:0px;}
.inner_pages li {    height: 25px;    line-height: 25px;margin-bottom:1px;  margin-bottom: 1px; background:#e5e5e5; border-radius:5px; padding:0px 5px; margin-top:5px; }
.inner_pages a {    color: #4a3c33;text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all; display:block; width:100%; height:25px; overflow:hidden; line-height:25px;
}
.boxmain-m .edite{ min-height:100px}
.fixed-top{ position:absolute; top:0px; left:0px;color:#fff;  display:block;
 font-size:1.14em; overflow:hidden; text-align:center;padding:5px 0px; height:35px; width:100%; color:#fff;z-index:100000;background:#4a3c33;}
.back{ float:left;  text-indent:0px;  text-align:center;}
.back a{ color:#fff; display:block; height:30px; line-height:30px;}
.fixed-top div{ position:relative; z-index:1000;}

.fixed-btn{color:#fff; padding:0px 10px; float:left;font-size:1em; display:inline; height:35px; line-height:35px; text-align:left; text-indent:0px; position:relative; z-index:1000;}
.menulista{ float:right; display:inline; height:35px; overflow:hidden;color:#fff; padding:0px 10px;font-size:1em; position:relative; z-index:100;}
.menulista span{ background:#fff; height:20px; width:28px; display:block;}
.menulista a{ color:#fff; display:block;}
.menulista .word{ height:35px; line-height:35px; width:80px; float:right; display:inline; color:#fff;}
.fixed-top div.mind_title{ width:50%; margin:0px auto;}

.header #quickbar{ width:auto; background:none; position:absolute;  left:5%; height:18px;top:50%; -webkit-transform:translate(0,-50%)}
.suosuo{ height:auto; margin:10px 0px; width:100%;position:relative; overflow:hidden;}
.ss_btn{ width:60px; overflow:hidden; height:auto; background:#f2f2f2; margin-right:10px; height:40px; float:right; display:inline; color:#000;}
.ss_input{-webkit-box-flex:1;-moz-box-flex:1;-o-box-flex:1;-ms-box-flex:1;box-flex:1;font-size:1.11em; background:url(../images/ss.jpg) 8px center no-repeat #e2888c; position:relative; padding-right:30px; margin:0px 10px;}
.ss_btn .btn1{ border:none; text-align:center; width:60px;font-size:1.2em; height:40px; line-height:40px; background:#4a3c33; color:#fff;}
.txt1{ margin-left:45px; height:40px; border:none; background:none; width:80%; color:#000;}
.searchresult{ padding:10px; height:auto; overflow:hidden;}
.jieguo{ font-weight:bold; text-align:center; height:35px;}
.seard_d{ width:100%; height:auto; overflow:hidden;}
.seard_d ul li{ padding:0px 5px; background:#f2f2f2; height:30px; line-height:30px;text-overflow: ellipsis;
    white-space: nowrap; margin-bottom:5px;
    word-break: keep-all; overflow:hidden;}
.seard_d ul li a{ color:#323232;}	
.ping{ width:100%; height:auto; overflow:hidden;}
.hide-class ul li{ height:auto; overflow:hidden; position:relative; }
.hide-class ul li:before{ height:30px; width:30px; content:"●"; position:absolute; left:0px; top:0px;color:#fff;text-align:center; line-height:25px; font-size:0.8em }
.hide-class ul li a{ display:block;padding:0px 20px 0px 25px;color:#fff;background:#e2888c; height:30px; line-height:30px; margin-bottom:5px; }
.hide-class ul li.current{ background:none; color:#fbc8ca;}
.hide-class ul li.current a{ color:#fbc8ca;}
ul.second{  height:auto; overflow:hidden; margin-left:10px;}
ul.second li a{font-size:12px;height:auto; height:28px; line-height:28px;margin-bottom:0px; background:none;  }
.hide-class ul.second  li:before{ height:30px; width:30px; content:"◆"; position:absolute; left:0px; top:0px;color:#310001;text-align:center; line-height:25px; font-size:0.8em }
ul.second li a:link,ul.second li a:visited{ color:#c03; background:none;}
ul.second li a:hover{color:#00bcb1; background:none;}
ul.third li a{font-size:12px;height:auto; line-height:28px; padding-left:15px; margin-left:20px; height:28px; display:block; font-weight:normal;border-bottom:none; }
ul.third li a:link,ul.third li a:visited{ color:#ccc;}
ul.third li a:hover{color:#5beaa0; }
.hide-class ul.third{ margin-left:15px;}
.hide-class  ul.third { display:none;  }
.hide-class  ul.second ul.third { display:none;}
.hide-class ul.second{ display:none;}
.hide-class  li.current ul.second li.current ul.third{ display:block; }
.hide-class  li.current ul.second { display:block;}
/*.category  ul.second li:first-child a:hover{ background:none;}
.category  ul.third li:first-child a:hover{ background:none;}*/
.hide-class ul li a.selected{  color:#003f1e; font-weight:bold; }
.hide-class ul li ul.second li a.selected {color:#f5a30f; background:none;}
.hide-class ul li ul.second li ul.third li a.selected{ color:#333; background:none;}
.hide-class ul.third  li:before{ height:30px; width:30px; content:"★"; position:absolute; left:0px; top:0px;color:#310001;text-align:center; line-height:25px; font-size:0.8em }
#font{ background:#66a273; padding:0px 2px; margin-right:5px;}
.ny_about .boxmain-top:before{ position:absolute; height:36px; width:15px; position:absolute; right:0px; top:0px; content:""; background:#66a273;}
.menu3{ position:relative;  height:18px;top:50%; -webkit-transform:translate(-50%,-50%); float:right;}
.menu3 span{ background:#fff; height:18px; width:29px; display:block;-webkit-mask:url(../images/zz1.png) no-repeat;-webkit-mask-size:29px 18px}
.menu3 a{ color:#999999;}
.fixed-top  #quickbar{ width:auto; background:none; position:absolute;  left:auto; right:5%; height:18px;top:50%; -webkit-transform:translate(0,-50%)}

@media screen and (min-width: 320px) and (max-width: 480px){
.pros_showa ul li{ width:50%;}
}

@media screen and (min-width: 480px) {

}
