
<div id="header" class="wrapper clearfix">
    <div id="logo"><img src="{$logo}" alt="{$title}" width="178" height="77"/></div>
     <div class="ser clearfix">
       <form action="{$search_action}" method="GET">
          <input type="text" name="s" value="" class="search_area" />
       <input type="submit" class="search_btn"  value="搜索"/>
        </form>
</div>

<div id="nav">
  <ul class="clearfix">
            {$limit = 7}
            {if $navs|count lt $limit}{$limit = $navs|count}{/if}
            <li style="width:{100/($limit+1)-2}%">
                <a href="{$site_url}"><b>网站首页</b><span>Home</span></a>
            </li>
            {foreach name=navs item=nav from=$navs}
            <li class="fl{if $nav.current} current{/if} aa" style="width:{100/($limit+1)}%">
                <a href="{$nav.link}"><b>{$nav.name}</b><span>{$nav.en_name}</span></a>
                <ul class="sub clearfix">
                    {if $nav.childmenu} {foreach key=key item=nav_list from=$nav.childmenu}
                    <li class="{if $nav.current}current{/if} cc"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
                    {/foreach} {/if}
                </ul>
            </li>
            {if $nav@index+1 eq $limit}{break}{/if}
            {/foreach}
        </ul>
</div>
</div>











