		<div class="footer">
			<div class="foot">
				<div class="c bottom">
					<div class="lianxi fl">
						<div class="foot_bt">联系我们</div>
						<div class="lianxi_nr">
							{$global.context}
						</div>
					</div>
					<div class="guanzhu fr">
						<div class="foot_bt">关注我们</div>
						<div class="guanzhu_nr">
							{foreach item=erweima from=$global.erweima}
								<i><img src="{$erweima.image}"></i>
							{/foreach}
						</div>
					</div>
					<div class="daohang fr">
						<div class="foot_bt">快捷导航</div>
						<div class="daohang_nr">
							<ul>
								{foreach item=nav from=$navs}
									<li><a href="{$nav.link}">{$nav.name}</a></li>
								{/foreach}
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright">
				<div class="c">
					<!-- <div class="cr fl">Copyright © 厦门易尔通网络科技有限公司 版权所有 All rights reserved   闽ICP备xxxxxx号 </div>
					<div class="techo fr">技术支持：<a href="#">厦门易尔通网络科技</a>   人才网支持：<a href="#">厦门人才网</a></div> -->
					{$footprint}
				</div>
			</div>
		</div>
		{$footscript}