<div id="footer">
    <div class="container">
        <div class="foot-lt">
            {include file="./_links_withlogo.html"}
            <!--<ul class="link">-->
                <!--<li>友情链接 </li>-->
                
                
                
            <!--</ul>-->
            <div class="copy">
                <p>{$footprint}</p>
            </div>
        </div>
        <div class="foot-rt rt">
            <ul>
                <li>
                    <img src="{$global.img.image}" alt="">
                    <span>{$global.img.title}</span>
                </li>
            </ul>
        </div>
    </div>
</div>