<section>
	
              The {$page_links.current_page} page/A total of {$page_links.page_count} pages      
              <a href="{$page_links.prev_link}">&laquo; Prev page</a>
              {foreach item=near_link key=near_page from=$page_links.nears_link}
                {if $near_page == $page_links.current_page}
                  <a class="current">{$near_page}</a></li>
                {else}
                  <a href="{$near_link}">{$near_page}</a></li>
                {/if}
              {/foreach}


              <a href="{$page_links.next_link}">Next page &raquo;</a>
            
</section>