<div class="header wap">
	<div class="head">		
		<a href="{$site_url}" title="返回首页" class="fl">
			<img src="{$logo}" max-height="93" alt="">
		</a>
		<div class="navBar fr">
			<ul class="nav clearfix">
                {$limit = 5}
				<li class="m" style="width: {100/($limit+1)}%">
					<h3><a  href="{$site_url}">首页</a></h3>
				</li>
					{foreach item=nav from=$navs}
	                    <li class="m {if $nav.current}current{/if}" style="width: {100/($limit+1)}%">
		                    <h3><a href="{$nav.link}">{$nav.name}</a></h3>
                 
		                    {if $nav.childmenu}
		                        <ul class="sub">
		                          {foreach item=nav_list from=$nav.childmenu}
		                          <li class="{if $nav_list.current}current{/if}">
			                          <a href="{$nav_list.link}">{$nav_list.name}</a>
		                          </li>
		                          {/foreach}
		                        </ul>
		                    {/if}
	                    </li>
	                    {if $nav@index+1 gte $limit}{break}{/if}
	                {/foreach}
			</ul>
		</div>	
	</div>
</div>
<div class="wap">
	<div class="slider">		
			<div class="bd">
				<ul>
					{foreach item=slidepic from=$_header.slidepics}
						<li>
							<a href="{$slidepic.link}"><img src="{$slidepic.image}" alt="{$slidepic.title}"></a>
						</li>
	                {/foreach}
				</ul>
			</div>
			<div class="hd">
				<ul>
					{foreach item=slidepic from=$_header.slidepics}
	                    <li>{$slidepic@index+1}</li>
	                {/foreach}
				</ul>
			</div>
	</div>
</div>
