<!DOCTYPE html>
<html>
<head>
<script type="text/javascript">
		// 跳转PC页面
		{if $site_another_url}
			if (!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
				location.href = '{$site_another_url}';
			}
		{/if}
		</script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta content="telephone=no" name="format-detection">
<title>{$title}</title>
<link href="{$site_url}css/swipe.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{$site_url}css/public.css" />
<link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />
<script src="{$site_url}js/TouchSlide.1.1.js"></script>
<script src="{$site_url}js/jquery.min.js"></script>
<script type="text/javascript" src="{$site_url}js/share.js"></script>
<script src="{$site_url}js/idangerous.swiper-2.0.min.js"></script>
<script src="{$site_url}js/simple-app.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
{$headscript}
</head>
<body>

	<div class="heaer">
    	<div class="logo"><img src="{$logo}" width="100%"></div>
    </div>
    <div class="baner">
	<div id="slideBox" class="slideBox">
    <div class="hd">
            <ul></ul>
              </div>
	<div class="bd">
		<ul>
			{foreach name=slidepics item=slidepic from=$global.slidepics}
			<li><a class="pic" href="{$slidepic.link}"><img src="{$slidepic.image}" /></a></li>
			{/foreach}
		</ul>
	</div>
	
			</div>
			
   </div>
   {include file="./_header.html"}
    <div class="main">
	{foreach name=mIndexCats_list item=mIndexCat from=$mIndexCats}
	  {if $mIndexCat.type eq 4}
    	<div class="box-id">
        	<h1 class="box-top"><span class="more"><a href="{$mIndexCat.link}">+MORE</a></span>{$mIndexCat.en_name}</h1>
            <div class=" about-m">
            	<div class="about-img"><img src="{$mIndexCat.image}"></div>
            	<div class="about-edite">      {$mIndexCat.description} </div>
            </div>
        </div>
		{elseif $mIndexCat.type eq 1}
        <div class="box-id">
        	<h1 class="box-top"><span class="more"><a href="{$mIndexCat.link}">+MORE</a></span>{$mIndexCat.en_name}</h1>
            <div class=" about-m">
               <ul class="news-list">
			   {foreach name=mIndexCat_list item=mIndexCat_list from=$mIndexCat.data}
            	<li><a href="{$mIndexCat_list.link}"><span class="date">{$mIndexCat_list.pubdate}</span>{$mIndexCat_list.title} </a></li>
               {if $mIndexCat_list@index+1 == 5}{break}{/if}
					{/foreach}
           		</ul>
            </div>
        </div>
		{elseif $mIndexCat.type eq 2}
        <div class="box-id">
        	<h1 class="box-top"><span class="more"><a href="{$mIndexCat.link}">+MORE</a></span>{$mIndexCat.en_name}</h1>
            <div class=" about-m">
                <ul class="picture1">
				{foreach name=mIndexCat_list item=mIndexCat_list from=$mIndexCat.data}
                     <li><div><a href="{$mIndexCat_list.link}"><p class="img"><img src="{$mIndexCat_list.image}" width="100%" title="186*291" /></p><p class=" title">{$mIndexCat_list.title}</p></a></div></li>
                    {if $mIndexCat_list@index+1 == 6}{break}{/if}
					{/foreach}</ul>  
            </div>
        </div>
		{/if}
	    {/foreach}
        
    </div>
    <div class="foot">
   <div class="back-top" id="quickbar-backtotop"><A href="#">TOP</A></div>
   copyright：
    {$footprint}</div>
   
{$footscript}
</body>
</html>
