全局变量start*/
@charset "utf-8";
*{ margin:0px; padding:0px;}
a,a:link,a:visited,a:hover{text-decoration:none; }
a{ color:#333}
a:hover{ color:#29b7b9}
a img{ border:none;}
img{ vertical-align:top;}
#clear{ clear:both;}
table{ font-size:12px;border-collapse:collapse; border-spacing:0px;}
body{font-size:12px; text-align:left;font-weight:normal; line-height:24px; font-family: Arial, Helvetica, sans-serif,"宋体";  color:#323232; background:url(../images/bg.jpg) repeat;}
a{blr:expression(this.onFocus=this.blur())} /*a{ -webkit-tap-highlight-color:rgba(0,0,0,0);  }  去掉链接触摸高亮 */
a{outline:none;} /*for Firefox*/
h1,h2,h3,h4,h5,input{font-size:12px; font-weight:normal;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td,i{ margin:0px; padding:0px;}
ol,p,dl,li{list-style:none;}


.wrap{ width:100%; height: auto;overflow:hidden;  position: relative; min-width:1200px;font-family: Microsoft YaHei;}
.public{ width:1200px; height:auto; overflow:hidden; margin:0px auto; position:relative;}/*公用标签*/
.fl{ float:left; display:inline;}/*左浮动标签*/
.fr{ float:right; display:inline;}/*右浮动标签*/
.boxmain{ width:100%; height:auto; overflow:hidden;}/*模块公用*/
/*全局变量end*/
.cl{clear: both;}
.prolist li .pro-img a img,.prolist li .pro-img .pic,.paging a.num,.mod18 .picBox li img{behavior:url(pie.htc);position: relative;}
/*首页start*/
.top{width: 1446px;height: 750px;position: relative;left: 50%;margin-left: -723px;}
.top:before{content: "";width: 1446px;height: 100%;position: absolute;top: 0;background: url(../images/headbg.png) top center no-repeat;z-index: 100;}
.top .logo{width: 153px;height: 80px;overflow: hidden;display: inline-block;position: absolute;top:20px;left: 100px;z-index: 110;}
.top .logo a{display: table-cell;width: 153px;height: 80px;text-align: center;vertical-align: middle;}
.topright{position: absolute;top:24px;right: 92px;width: 186px;height: 65px;z-index: 110;text-align: center;}
.topright img{width: 186px;height: 44px;}
.topright p{color: #fff;line-height: 22px;}
.topright p b{font-size: 17px;font-weight: normal;font-family: Arial;}
/*主菜单标签*/
.menu{width: 500px;height:400px;position: absolute;z-index: 110;top: 300px;left: 130px;}
.menu>ul{width: 100%;position: relative;}
.menu>ul>li{width:66px;height: 12.5%;position: relative;}
.menu>ul>li>h3{position: relative;height: 38px;line-height: 38px;}
.menu>ul>li>h3 a{font-size: 14px;color: #808080;display: block;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.menu>ul>li.on>h3{background: url(../images/navli.png) left bottom no-repeat;}
.menu>ul>li.on>h3 a{color: #29b7b9;}
.menu .sub{position: absolute;line-height: 32px;width: 110px;display: none;top:10px;padding-right: 10px;left:-120px;}
.menu .sub li{text-align: center;line-height: 30px;background: rgba(255,255,255,.8);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#c8ffffff,endColorstr=#c8ffffff);}
.menu .sub li a{color: #808080;font-size: 14px;display: block;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.menu .sub li a:hover{color: #29b7b9;}
.menu>ul .li1{}
.menu>ul .li2{margin-left: 45px;}
.menu>ul .li3{margin-left: 90px;}
.menu>ul .li4{margin-left: 135px;}
.menu>ul .li5{margin-left: 180px;}
.menu>ul .li6{margin-left: 225px;}
.menu>ul .li7{margin-left: 270px;}
.menu>ul .li8{margin-left: 315px;}
.contact{position: absolute;top: 380px;width: 265px;right: 0;padding-top:130px;height: 160px;z-index: 110;}
.contact-img{width: 104px;height: 116px;position: absolute;right: 0;top: 0;}
.contact-img img{width: 104px;height: 116px;}
.contact-pic{width: 71px;height: 35px;position: absolute;top: 98px;left: 0;}
.contact-pic img{width: 71px;height: 35px;}
.contact ul{padding-top: 20px;width: 182px;}
.contact ul li{line-height: 24px;margin-bottom: 10px;overflow: hidden;}
.contact ul li img{width: 20px;height: 20px;float: left;margin-right: 25px;padding: 2px 0;}
.contact ul li span{color: #808080;display: block;width: 136px;float: right;}
/*大图标签*/

.banner{width:1446px;height:750px;/*overflow: hidden;*/}
.banner .slideBox{ width:1446px;height: 750px;position:relative;text-align: center;}
.slideBox .hd{width:300px;overflow:hidden; position:absolute;left: 50%;margin-left: -150px;bottom: 100px;text-align: center;/*display: none;*/}
.slideBox .hd ul{ overflow:hidden; zoom:1;position: relative;z-index: 100; }
.slideBox .hd ul li{cursor:pointer;margin:0 4px;height:10px; overflow: hidden; width: 10px;display: inline-block;background: #29b7b9;filter:alpha(opacity=50); -moz-opacity:0.5; opacity:0.5;}
.slideBox .hd ul li.on{/*background:#fff;*/filter:alpha(opacity=100); -moz-opacity:1; opacity:1;}

.banner .slideBox .bd{ position:relative; z-index:5;}
.banner .slideBox .bd li{ zoom:1; vertical-align:middle;}
.banner .slideBox .bd img{height: 750px;}



.main{width: 1200px;margin: 0 auto;background: url(../images/contentbg.jpg) center top repeat-y;overflow: hidden;position: relative;padding-bottom: 95px;}
.news,.about{width: 512px;height: 320px;overflow: hidden;position: relative;}
.news:before,.about:before{content: "";width: 22px;height: 13px;background: #5fc7c8;position: absolute;left: 0;bottom: 0;}
.tit{height: 52px;line-height: 52px;padding-bottom: 5px;position: relative;margin-bottom: 15px;}
.tit:before{content:"";position: absolute;width: 43px;height: 5px;background: #5fc7c8;left: 0;bottom: 0;font-family: Arial;}
.tit h2{font-size: 34px;color: #636363;}
.tit a{display: block;width: 57px;height: 57px;line-height: 57px;background: url(../images/more.png) no-repeat;position: absolute;right: 0;top: 10px;color: #636363;text-align: center;line-height: }
.news ul{height: 192px;}
.news ul li{margin-bottom: 12px;font-size: 14px;line-height: 28px;}
.news ul li span{color: #636363;}
.news ul li p{height: 28px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.news ul li p a{color: #808080;}
.news ul li p a:hover{color: #319d9e;}
.aboutbox{line-height: 25px;height: 150px;overflow: hidden;margin-top: 45px;}
.aboutbox a{font-size: 14px;color: #6b6b6b;}



/*note*/
.note{height: 40px;line-height: 40px;/*background: #f2f2f2;*/overflow: hidden;}
.notebox{width: 1000px;margin:0 auto;overflow: hidden;position: relative;font-size: 0;}
.notebox span{color: #fff;font-size: 14px;display: inline-block;width: 66px;padding-left: 18px;background: #1963bf;position: relative;float: left;}
.notebox span:before{content:"";width: 0;height: 0;border-left: 12px solid #1963bf;border-top: 20px solid transparent;border-bottom: 20px solid transparent;position: absolute;right: -12px;}
.txtMarquee-top{ display: inline-block;width:896px;  overflow:hidden; position:relative;margin-left:20px; float: left; }
.txtMarquee-top .hd{position: absolute;right: 0;}
.txtMarquee-top .hd{ overflow:hidden;  height:30px; background:#f4f4f4; padding: 8px 0 2px;  }
.txtMarquee-top .hd .prev,.txtMarquee-top .hd .next{ display:block;width:17px; height:9px;overflow:hidden;cursor:pointer; background:url(../images/txtarw.png) 0 0 no-repeat;margin-bottom: 6px;}
.txtMarquee-top .hd .next{ background-position:0 -9px;}
.txtMarquee-top .bd{padding:5px 0;height: 28px;width: 50%;}
.txtMarquee-top .infoList li{ height: 28px;font-size: 12px; line-height:28px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;   }
.txtMarquue-top .infoList li a{color: #323232;}



/*底部标签*/
.footer{width: 100%;padding:26px 0 15px;background: #38b8b9;line-height: 24px;color: #fff}
.foot{width: 1200px;margin: 0 auto;text-align: center;}
.flink{font-size: 0;margin-bottom: 15px;}
.flink a{display: inline-block;border: 1px solid #fff;padding: 2px;width: 89px;height: 39px;margin: 0 30px;}
.footer a{color: #fff;}
.footer a:hover{text-decoration: underline;color: #a5cbfa;}


/*index end*/

/*about*/

.header{height: 79px;font-size: 0;background: #f4f4f4;position: relative;z-index: 10;}
.head{width: 1200px;margin: 0 auto;height: 79px;position: relative;}
.head .logo{width: 150px;height: 79px;overflow: hidden;display: inline-block;}
.head .logo a{display: table-cell;width: 150px;height: 79px;text-align: center;vertical-align: middle;}
.logo a img{max-height: 100%;max-width: 100%;vertical-align: middle;}
/*主菜单标签*/
/*.menu{width: 100%;height:50px;background: url(../images/menubg.jpg) repeat;position: relative;z-index: 10;}*/
.head>ul.nav{width: 1000px;position: absolute;right: 0;top: 0;}
.head>ul.nav>li{float: left;width:12.5%;height: 79px;text-align: center;position: relative;}
.head ul.nav li h3{position: relative;height: 79px;line-height: 79px;}
.head ul.nav li h3 a{font-size: 14px;color: #808080;display: block;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.head ul li a{font-size: 14px;color: #808080;display: block;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.head>ul.nav>li.on>h3 a{color: #29b7b9;}
.head ul.nav .sub{position: absolute;left:-10px;line-height: 32px;width: 100%;display: none;top: 79px;padding:10px;background: rgba(255,255,255,.8);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#c8ffffff,endColorstr=#c8ffffff);}
.head ul.nav .sub li{text-align: center;line-height: 40px;}
.head ul.nav .sub li a:hover{color: #29b7b9;}

.col{height: 59px;width: 100%;background: url(../images/col.jpg) top center no-repeat;padding: 10px 0;line-height: 30px;text-align: right;}
.col h2{color: #fff;font-size: 30px;padding-top: 2px;}
.col p{color: #fff;font-size: 16px;}

.content{margin: 20px auto 40px;width: 1200px;overflow: hidden;}
.location{width:100%;height:26px;line-height: 26px;font-size: 12px;color: #6c5243;padding-bottom: 10px;border-bottom: 1px solid #d2d2d2;margin-bottom: 20px;overflow: hidden;}
.location a{color: #6c5243;}
.location a:hover{color: #32a3a5;}
.side-left{width:182px;padding: 30px 28px;}
.side-left,.side-right,.searchbox{background: rgba(255,255,255,.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7fffffff,endColorstr=#7fffffff);}
.first{line-height: 30px;}
.first>li{margin-bottom: 10px;}
.first>li>a{position: relative;padding-left: 28px;}
.first>li>a:hover{color: #32a3a5;background: url(../images/li.png) left center no-repeat;}
.first li a{font-size: 14px;color: #808080;display: block;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.second,.third{display: none;}
.second>li{padding-left: 50px;}
.second li a{font-size: 12px;}
.first a:hover{color: #29b7b9;}
.third li a{padding-left:26px;}

.side-right{width: 872px;padding: 30px;}

.edit{min-height: 500px;color: #626262;font-size: 14px;text-align: justify;}

/*news*/
.newlist{overflow: hidden;padding-bottom: 20px;}
.newlist li,.searchbox ul li{border-bottom: 1px dashed #ddd;line-height: 48px;overflow: hidden;}
.newlist li a,.searchbox ul li a{color: #6b6b6b;font-size: 14px;}
.newlist li p{width: 80%;float: left;background: url(../images/dot.jpg) left center no-repeat;padding-left: 18px;white-space: nowrap;text-overflow:ellipsis; overflow: hidden;}
.newlist li a:hover p,.searchbox ul li a:hover{color: #29b7b9;}
.newlist li span{float: right;}

.paging{text-align: center;overflow: hidden;padding: 10px 0;overflow: hidden;}
.paging a{color: #053a52;font-size: 12px;display: inline-block;height: 20px;line-height: 20px;min-width:20px;margin: 0 6px;font-family: Microsoft YaHei;}

.paging a.num{margin: 0 3px;color: #fff;background: #6b6b6b;border-radius: 50%;}
.paging a.num:hover{background: #32a9aa;}
.pon{background: #32a9aa!important;}
.paging p{display: inline-block;height: 20px;line-height: 20px;}
.paging p span{color: #32a9aa;padding: 0 2px;}
/*list-imagetext*/
.new-list{padding-bottom: 20px;}
.new-list li{overflow: hidden;margin-bottom: 15px;height: 131px;padding-bottom: 15px;border-bottom: 1px dashed #c8c8c8;}
.new-list li .new-pic{width: 213px;height: 131px;float: left;}
.new-list li .new-pic a{display: table-cell;width: 213px;height: 131px;text-align: center;vertical-align: middle;}
.new-list li .new-pic img{max-width: 100%;max-height: 100%;vertical-align: middle;}
.new-list li .new-nr{width: 638px;float: right;height: 131px;position: relative;line-height: 24px;overflow: hidden;}
.new-list li .new-nr h2{overflow: hidden;line-height: 28px;padding:10px 0 5px;width: 80%;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.new-list li .new-nr h2 a{font-size: 20px;color: #053a52;}
.new-list li .new-nr h2 a:hover{color: #29b7b9;}
.new-list li .new-nr p{height: 72px;overflow: hidden;line-height: 24px;}
.new-list li .new-nr p a{font-size: 14px;color: #5f5e5d;}
.new-list li .new-nr span{color: #515151;font-size: 15px;position: absolute;right: 0;top: 14px;}
/*pro*/
.prolist{padding:0 3px 10px;overflow: hidden;}
.prolist li{float: left;width: 278px;margin: 0 16px 15px 0;text-align: center;}
/*.prolist li a{display: block;position: relative;overflow: hidden;}*/
.prolist li .pro-img{width: 278px;height: 245px;margin-bottom: 10px;position: relative;}
.prolist li .pro-img:hover{}

.prolist li .pro-img a{width: 278px;height: 245px;display: table-cell;text-align: center;vertical-align: middle;font-size: 14px;}
.prolist li .pro-img .pic{display: none;width: 278px;height: 245px;position: absolute;top: 0;background: rgba(0,0,0,.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);border-radius: 10px;}
.prolist li .pro-img .pic span{display: block;width: 238px;height: 24px;padding:0 20px;margin-top: 100px;color: #fff;padding-top: 35px;background: url(../images/xin.png) top center no-repeat;}
.prolist li .pro-img a{width: 278px;height: 245px;display: table-cell;text-align: center;vertical-align: middle;}
.prolist li .pro-img a img{max-height: 100%;max-width: 100%;vertical-align: middle;border-radius: 10px;box-shadow: 0 0 3px #ccc;}
.prolist li h2{line-height: 30px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.prolist li h2 a{color: #626262;display: block;font-size: 14px;}
.prolist li .pro-img a:hover .pic{display: block;}



/*news-det*/
.artit{text-align: center;line-height: 30px;margin-bottom: 10px;}
.artit h2{color: #29b7b9;/*margin-bottom:3px;*/font-size: 20px;}
.artit span{color: #797979;font-size: 14px;}
.article{padding-bottom: 10px;color: #6b6b6b;border-bottom: 1px dotted #b4b4b4;overflow: hidden;line-height: 30px;text-align: justify;}
.artpaging{overflow: hidden;padding: 10px 0;line-height: 28px;position: relative;}
.artpaging a{color: #535353;font-size: 14px;}
.artpaging a:hover{color: #2a9d9e;}

/*pro-det*/

.pro-det h2{font-size: 20px;text-align: center;margin-bottom: 15px;color: #32a9aa;line-height: 30px;}
.mod18{width:400px;margin:0 auto 20px;position:relative;/*background:#f7f7f7;*/}
.mod18 .btn{position:absolute;width:30px;height:30px;/*top:336px;*/cursor:pointer;z-index:99;/*font-size:50px;font-weight:bold;*/bottom: 19px;}
.mod18 .prev{left:20px;background:url(../images/pnbtn.png) 0 0 no-repeat;}
.mod18 #prevTop,.mod18 #nextTop{top:213px;width:24px;height:38px;display: none;}
.mod18 #prevTop{background:url(../images/prodetarw.png) 0 0 no-repeat;left: 30px;}
.mod18 #nextTop{background:url(../images/prodetarw.png) -24px 0 no-repeat;right: 30px;}
.mod18 .next{right:20px;background:url(../images/pnbtn.png) -30px 0 no-repeat;}
.mod18 li{float:left;}
.mod18 .cf li{position:relative;color:#fff;}
.mod18 .cf .pic{width:400px;height:400px;text-align: center;}
.mod18 .picBox{height:400px;position:relative;overflow:hidden;}
.mod18 .picBox ul{position:absolute;}
.mod18 .picBox li{width:400px;height:400px;}
.mod18 .picBox li img{border-radius: 10px;}
.mod18 .picBox li img,.mod18 .listBox li img{max-width: 100%;max-height: 100%;vertical-align: middle;}
.mod18 .listBox{width:267px;height:54px;position:absolute;overflow:hidden;bottom: 7px;left: 50%;margin-left: -133px;}
.mod18 .listBox ul{height:54px;position:absolute;}
.mod18 .listBox li{width:80px;height:54px;cursor:pointer;position:relative;padding: 0 5px;}
.mod18 .listBox li i{display:block;width:80px;height: 100%;position: absolute;top: 0;background: rgba(0,0,0,.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);}
.mod18 .listBox li .pic{display:table-cell;width:100px;height:74px;text-align: center;vertical-align: middle;}
.mod18 .listBox .on i{display:none;}



.listBoxbg{width:100%;height:68px;background: rgba(0,0,0,.7);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2000000,endColorstr=#b2000000);position: absolute;bottom:0; }



/*search*/

.searchbox{padding: 30px;}
.searchbox ul{padding-bottom: 30px;}
.searchbox ul li{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}

/*animate.css*/
.bounceInDown{animation:bounceInDown 2s;-moz-animation:bounceInDown 2s; /* Firefox */-webkit-animation:bounceInDown 2s; /* Safari and Chrome */-o-animation:bounceInDown 2s; /* Opera */}
.fadeInLeft{animation:fadeInLeft 2s;-moz-animation:fadeInLeft 2s; /* Firefox */-webkit-animation:fadeInLeft 2s; /* Safari and Chrome */-o-animation:fadeInLeft 2s; /* Opera */}
.fadeInUp{animation:fadeInUp 2s;-moz-animation:fadeInUp 2s; /* Firefox */-webkit-animation:fadeInUp 2s; /* Safari and Chrome */-o-animation:fadeInUp 2s; /* Opera */}
.fadeIn{animation:fadeIn 2s;-moz-animation:fadeIn 2s; /* Firefox*/ -webkit-animation:fadeIn 2s; /* Safari and Chrome */-o-animation:fadeIn 2s; /* Opera */}
.fadeInRight{animation:fadeInRight 2s;-moz-animation:fadeInRight 2s; /* Firefox*/ -webkit-animation:fadeInRight 2s; /* Safari and Chrome */-o-animation:fadeInRight 2s; /* Opera */}*/



@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

