<!DOCTYPE html>
<html>
	<head>
		<!-- 实时预览调试代码，模板开发完成后删除 -->
		
		<!-- 调试代码 End -->
		<script type="text/javascript">
		// 跳转PC页面
		{if $site_another_url}
			if (!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
				location.href = '{$site_another_url}';
			}
		{/if}
		</script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
<title>{$title}</title>
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />        
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta content="telephone=no, email=no" name="format-detection">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="HandheldFriendly" content="true">
<meta name="MobileOptimized" content="320">
<meta name="screen-orientation" content="portrait">
<meta name="x5-orientation" content="portrait">
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<link rel="stylesheet" href="{$site_url}css/reset.css" /> 
<link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />
<link href="{$site_url}css/swipe.css" rel="stylesheet" type="text/css" />
<script src="{$site_url}js/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.min.js"></script>
<script type="text/javascript" src="{$site_url}js/fontsize.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
<script src="{$site_url}js/idangerous.swiper-2.0.min.js"></script>
<script src="{$site_url}js/simple-app.js"></script>
<script type="text/javascript">
	window.addEventListener('load', function(){
   setTimeout(function(){ window.scrollTo(0, 1); }, 100);
});//safari浏览器可以通过此代码来隐藏地址栏
</script>
{$headscript}
</head>
<body>
  <div class="wrap page-active">
    <div class="index-wrap">
      {include file="./_header.html"}
      <section class="index_sec">
        <div class="menulist">
          <div class="navlist">
            <div class="swiper-nav swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><span><a href="{$site_url}"><img src="{$site_url}images/icon1_03.png"><div class="text">网站首页</div></a></span></div>
                {foreach item=nav from=$navs}
                <div class="swiper-slide"><span><a href="{$nav.link}"><img src="{$nav.image}"><div class="text">{$nav.name}</div></a></span></div>
                {/foreach}  
              </div>
            </div>
          </div>
          <header>
            <a href="{$site_url}"><img src="{$logo}" class="logo"></a>
          </header>
        </div>
        {foreach item=mIndexCat from=$mIndexCats}
        {if $mIndexCat.type eq 2}   
          {if $mIndexCat.showtype eq 1}
          <div class="prod">
            <div class="titles">
              <a href="{$mIndexCat.link}">
                <em>{$mIndexCat.en_name}</em>
                <span>{$mIndexCat.name}</span>
              </a>
            </div>
            <ul class="prolist">
              {foreach item=article from=$mIndexCat.data}
              <li><a href="{$article.link}"><img src="{$article.image}"></a></li>
                {if $article@index+1 == 4}{break}{/if}
              {/foreach}
            </ul>
          </div>
          {/if} 
        {elseif $mIndexCat.type eq 1}
          {if $mIndexCat.showtype eq 1}
          <div class="indexnews">
            <div class="titles">
              <a href="{$mIndexCat.link}">
                <em>{$mIndexCat.en_name}</em>
                <span>{$mIndexCat.name}</span>
              </a>
            </div>
            <div class="newslist" id="newslist">
              <div class="bd">
                <ul>
                  {foreach item=article from=$mIndexCat.data}
                  <li>
                      <a href="{$article.link}"><span>{$article.pubtimestamp|date_format:'%Y.%m.%d'}</span>{$article.title}</a>
                  </li>
                  {if $article@index+1 == 3}{break}{/if}
                  {/foreach}
                </ul>
              </div>
            </div>
          </div>
          {/if} 
        {elseif $mIndexCat.type eq 4}      
        <div class="about">
          <div class="titles">
            <a href="{$mIndexCat.link}">
              <em>{$mIndexCat.en_name}</em>
              <span>{$mIndexCat.name}</span>
            </a>
          </div>
          <div class="abo">
            <a href="{$mIndexCat.link}"><img src="{$global.slidepics[$global.slidepics|count-2].image}"></a>
            <div class="aboedits">
              {if $mIndexCat.showtype eq 1}
              <div class="aboedit">
                {$mIndexCat.description|unescape:"html"}
              </div>
              {/if}  
            </div>
          </div>
        </div>
        <div class="circle"><img src="{$site_url}images/circle_03.png"></div>
        <div class="contact">
          <a href=""><img src="{$global.slidepics[$global.slidepics|count-1].image}"></a>
          <div class="contedit">
            <ul>
              <li>
                <p>{$contact.name}</p>
              </li>
              <li>
                <p>{$contact.mobile}</p>
              </li>
              <li>
                <p>{$contact.mail}</p>
              </li>
              <li>
                <p>{$contact.address}</p>
              </li>
            </ul>
          </div>
        </div>
        {/if}
        {/foreach}
      </section>
      <footer class="foot">{$footprint}</footer>  
      {$footscript}
    </div>
  </div>

</body>
</html>
