<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no, email=no" name="format-detection">
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- 固定字体缩放 -->
    <meta name="wap-font-scale" content="no">
    <!-- 统一平台 -->
    <meta name="keywords" content="{$keywords}" />
    <meta name="description" content="{$description}" />
    <link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
    <!--  -->
    <script type="text/javascript">
        // 跳转PC页面
        {if $site_another_url}
            if (!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
                location.href = '{$site_another_url}';
            }
        {/if}
    </script>
    <script type="text/javascript">
        (function(doc,win){
            var docEl = doc.documentElement,
            resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize' ,
            recalc = function(){
                var clientWidth = docEl.clientWidth;
                if(!clientWidth) return;
                if(clientWidth>640){
                    clientWidth=640;
                }
                docEl.style.fontSize = 10 * (clientWidth / 320) + 'px';
            };
            if(!doc.addEventListener) return;
            win.addEventListener(resizeEvt,recalc,false);
            doc.addEventListener('DOMContentLoaded',recalc,false);
        })(document,window);
    </script>
    <title>{$title}</title>

    <link rel="stylesheet" href="{$site_url}css/swiper-3.3.1.min.css">
    <link rel="stylesheet" type="text/css" href="{$site_url}css/style.css">
    <script type="text/javascript" src="{$site_url}js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{$site_url}js/swiper-3.3.1.jquery.min.js"></script>
    <script type="text/javascript" src="{$site_url}js/function.js"></script>
    <script type="text/javascript">
        window.addEventListener('load', function(){
            setTimeout(function(){ window.scrollTo(0, 1); }, 100);
        });//safari浏览器可以通过此代码来隐藏地址栏
    </script>
</head>
<body>
    <div id="wrapper">
        <header id="roof">
            <a href="javascript:history.back(-1)" class="return"></a>
            <h1>{$list.en_name}</h1>
            <div class="size">
                <b>font+</b>
                <ul class="size-list">
                    <li class="largen" id="largen">Large</li>
                    <li class="recover" id="recover">Normal</li>
                    <li class="diminish" id="diminish">Small</li>
                    <em></em>
                </ul>
            </div>
        </header>
        {include file='./_topnav.html'}
        <div id="wrap">
            <div class="about">
                {$list.content}
            </div>
        </div>
    </div>
    <footer id="footer">
        <a href="" class="totop">TOP</a>
        <div class="foot">
            {$footprint}
        </div>
    </footer>
{$footscript}
</body>
</html>