<!DOCTYPE>
<html>
<head>
<script type="text/javascript">
    // 跳转手机页面
    {if $site_another_url}
        if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
            location.href = '{$site_another_url}';
        }
    {/if}
</script>
	<meta name="keywords" content="{$keywords}"/>
	<meta name="description" content="{$description}"/>
	<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
	<meta http-equiv="x-ua-compatible" content="ie=8"/>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>{$title}</title>
    <link rel="stylesheet" type="text/css" href="{$site_url}css/style.css" />
        <!--[if IE 6]>
        <script type="text/javascript" src="{$site_url}js/dd_delatedpng.js" ></script>
        <script type="text/javascript">
        DD_belatedPNG.fix('div,ul,li,p,img,h1,ul.nav li a:hover,.more');
        </script>
        <![endif]-->
        
    <script src="{$site_url}js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.1.js"></script>
    <script type="text/javascript" src="{$site_url}js/function.js"></script>
    {$headscript}
</head>

    <body>
	<div class='wrapper'>
		
		<!-- 导入头部文件 -->
      {include file='./_header.html'}
		
		<div class='cantion'>
				<div class='can_left'>
					<h3 class='can_title'>{$index.pro.name}<a href="{$index.pro.link}" class='more'>MORE</a> </h3>
					<ul class='pro_list'>
					{foreach item=pro from=$index.pro.childmenu}
						<li><a href="{$pro.link}" title="{$pro.name}" class="kz" data-limit="12">{$pro.name}</a></li>
					{if $pro@index eq 8}{break}{/if}
                    {/foreach}
					</ul>
				</div>
				
				<div class='can_right'>
					<div class='can_rtop'>
						<div class='in_about'>
							<h3 class='ab_title'><a href="{$index.about_us.link}" class='more'>更多</a>{$index.about_us.name} | {$index.about_us.en_name}</h3>
							<div class='ab_conter'>
								<img src="{$index.about_us.image}">
								{$index.about_us.description}
							</div>
						</div>
						<div class='ab_img'>
							<a href="{$index.service.link}"><img src="{$index.service.image}">
							<p>{$index.service.name}</br><span>{$index.service.en_name}</span></p></a>
							<a href="{$index.feedback.link}"><img src="{$index.feedback.image}">
							<p>{$index.feedback.name}</br><span>{$index.feedback.en_name}</span></p></a>
							<a href="{$index.partner.link}"><img src="{$index.partner.image}">
							<p>{$index.partner.name}</br><span>{$index.partner.en_name}</span></p></a>
						</div>
					</div>
					
					<div class='can_news'>
						<div class='in_news'>
							<h3 class='ab_title'><a href="{$index.news.link}" class='more'>更多</a>{$index.news.name} | {$index.news.en_name}</h3>
							<ul class='ad_news'>
							{foreach item=news from=$index.news.data}	
								<li><a href="{$news.link}"><span class="date">{$news.pubtimestamp|date_format:'%Y-%m-%d'}</span> <h3 class="kz" data-limit="26">{$news.title} </h3></a></li>
							{if $news@index eq 4}{break}{/if}
                      		{/foreach}  
							</ul>
						</div>
						<div class='ab_tel'>
							<span class='tel_nav'>
							{$index.concat}
		                    </span>
						</div>
					</div>
				</div>
		</div>

		<div class='bottom_nav'>
			<h3 class='btom_title'>{$index.pro2.name}<i>{$index.pro2.en_name}</i><a href="{$index.pro2.link}" class='more_01'>更多</a></h3>
			
			<div class="picMarquee-left">
				<div class="bd">
					<ul class="picList">
					{foreach item=pro from=$index.pro2.data}
						<li class="clone" style="float: left; width: 170px;"><a href="{$pro.link}"><span><i><img src="{$pro.image}" ></i></span><h1>{$pro.title}</h1></a></li>
					{/foreach}
					</ul>
				</div>
			</div>

		</div>
		
		{include file='./_footer.html'}

		
</div>
</body>
</html>
