<!DOCTYPE html>
<html manifest="huancun.manifest">
<head>
<!-- 实时预览调试代码，模板开发完成后删除 -->
        
        <!-- 调试代码 End -->
        <script type="text/javascript">
        // 跳转PC页面
        {if $site_another_url}
            if (!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
                location.href = '{$site_another_url}';
            }
        {/if}
        </script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta content="telephone=no, email=no" name="format-detection">
<!-- 启用360浏览器的极速模式(webkit) -->
<meta name="renderer" content="webkit">
<!-- 避免IE使用兼容模式 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
<meta name="HandheldFriendly" content="true">
<!-- 微软的老式浏览器 -->
<meta name="MobileOptimized" content="320">
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="portrait">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="portrait">
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<title>{$title}</title>
<link rel="stylesheet" href="{$site_url}css/reset.css" /> 
<link href="{$site_url}css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$site_url}js/jquery.min.js"></script>
<script src="{$site_url}js/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="{$site_url}js/fontsize.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
<script type="text/javascript">
	window.addEventListener('load', function(){
   setTimeout(function(){ window.scrollTo(0, 1); }, 100);
});//safari浏览器可以通过此代码来隐藏地址栏
</script>
</head>

<body>
{include file="./_header.html"}
	<div class="inner_main">
		<div class="tit">
			<h3><i>■</i>{$list.name}<span>{$list.en_name}</span></h3>
			<a href="" id="font">字 +</a>
			<a href="" class="classfiy">分类 ↓</a>
			<div class="font1">
	          <dl class="big">大</dl>
	          <dl class="normal">中</dl>
	          <dl class="small">小</dl>
	        </div>
		</div>
		{include file="./_nav.html"}
	    <div class="about_main">
	    	<h5 class="sear">以下是关键字“{$search.keyword}”的搜索结果</h5>
	    	<ul class="news_list clearfix">
	    		{$num=1}
	    		{foreach name=article item=article from=$search.data}<!--search_content_start-->
		    	{if $num==1}
		    		<li>
						<a href="search_$link">
							<div class="date fl">
								<h3>{$article.pubtimestamp|date_format:'%d'}</h3>
								<h4>{$article.pubtimestamp|date_format:'%Y/%m'}</h4>
							</div>
							<div class="text fr">
								<h3>search_$title</h3>
								<p>search_$description</p>
							</div>
						</a>
					</li>
					{$num=2}
				{else}
					<li>
						<a href="search_$link">
							<div class="date fr">
								<h3>{$article.pubtimestamp|date_format:'%d'}</h3>
								<h4>{$article.pubtimestamp|date_format:'%Y/%m'}</h4>
							</div>
							<div class="text fl">
								<h3>search_$title</h3>
								<p>search_$description</p>
							</div>
						</a>
					</li>
					{$num=1}
				{/if}
				<!--search_content_end-->{/foreach}
	    	</ul>
	    	{include file="./_page.html"}
	    </div>
	</div>

	<div class="copyright">
    	<h3>{$footprint}</h3>
    	<a href="" class="top">∧</a>
    </div>
{$footscript}
</body>
</html>