@charset "utf-8";
/* CSS Document */
*{ margin:0px; padding:0px;}
a,a:link,a:visited,a:hover{text-decoration:none; transition:all 0.3s linear;-moz-transition:all 0.3s linear;-ms-transition:all 0.3s linear;-o-transition:all 0.3s linear;-webkit-transition:all 0.3s linear; }
a{ color:#666666}
a:hover{ color:#cc1d1f;cursor: pointer;}
a img{ border:none;}
#clear{ clear:both;}
table{ font-size:12px;border-collapse:collapse; border-spacing:0px;}
body{text-align:left;font-weight:normal; line-height:24px; font-family:"微软雅黑";  color:#666666; background:#ffffff; font-size:12px;}
a{blr:expression(this.onFocus=this.blur())} /*a{ -webkit-tap-highlight-color:rgba(0,0,0,0);  }  去掉链接触摸高亮 */
a{outline:none;} /*for Firefox*/
h1,h2,h3,h4,h5,input{font-size:12px; font-weight:normal;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td,i{ margin:0px; padding:0px;}
ol,p,dl,li{list-style:none;}

/*header*/
#wrap{overflow: hidden;}
#header{width: 100%;height: 616px;}
#header .topbg{width:100%;height:38px;background: #333333;}
#header .head_top{width:1000px;height:38px;margin: 0 auto;overflow: hidden;}
.head_top #linkweb{width: 200px;height: 38px; color: #999999;line-height: 38px;float: left;}
.head_mid{width: 1000px;height: 78px;margin: 0 auto;}
.head_mid .logo{width:278px;height: 100%;float: left; }
.head_mid .logo img{height: 70px;}

.navs{height: 78px;width: auto;position: relative;z-index: 1;float: right;}
.navs ul li{height:75px;width:96px;text-align: center;line-height:75px; float: left; }
.navs ul li a{width:100%;height:75px;font-size:14px;color: #111111;display: block;overflow: hidden;}
.navs ul li a.current,.navs ul li a.in{color: #cc1d1f;border-bottom: 3px solid #cc1d1f;}
.navs ul li:hover a{color: #cc1d1f;border-bottom: 3px solid #cc1d1f;}
.navs ul li .erji{ height:auto;background-color:rgba(50,50,50,.2);filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#2f505050,endcolorstr=#2f505050);z-index:2; display:none;}
.navs ul li .erji li{width: 100%;height: 34px;line-height: 34px; float:inherit;padding: 0;border-bottom:none; }
.navs ul li .erji li a{height: 34px;line-height: 34px; display: block;border-bottom:none;color: #ffffff;}
.navs ul li .erji li a:hover{ color: #cc1d1f;background: none;}

.banner{width: 100%;height: 500px;}
.slideBox{ width:100%; height:500px; overflow:hidden; position: relative;}
.slideBox .hd{ height:6px; overflow:hidden; position:absolute; left:18%; bottom:20px; z-index:3; }
.slideBox .hd ul{ overflow:hidden; zoom:1;}
.slideBox .hd ul li{ float:left; margin:0 5px; width:40px; height:3px;background: #fff; cursor:pointer;}
.slideBox .hd ul li.on{width:40px;height: 6px; background:#cc1d1f;}
.slideBox .banimg{ position:relative; height:100%; }
.slideBox .banimg li{ zoom:1; vertical-align:middle; }
.slideBox .banimg img{ width:100%; height:500px; display:block;  }
.searchbg{width: 302px;height: 96px;background-color:rgba(50,50,50,.2);filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#2f505050,endcolorstr=#2f505050);
                  position: absolute;top:519px;right:15%;z-index: 1;}
.search_div{width: 262px;height: 36px;background: #ffffff;margin: 26px 20px 0 20px;}
.search_div .input{height:36px;width: 202px;line-height:36px; color: #999999;padding: 0 12px; border:none;float: left;}
.search_div .btn{width: 36px; height:36px;float: right; background: url(../images/search.jpg) center center no-repeat #cc0000;border: none;}
.searchbg .dh{color: #ffffff;line-height: 33px;padding-left: 34px;width: 228px;height: 33px;overflow: hidden;}
#midlle{width: 1000px;height: auto;margin: 0 auto;position: relative;border-top: 1px solid #fff;}
#midlle:after{content: "";width: 600px;height:196px;background: #cc1d1f;position: absolute;top:0;left: 100%;}
#midlle:before{content: "";width: 600px;height:196px;background: #f9f9f9;position: absolute;top:0;left:-600px;}

#midlle .mtop{width: 1000px;height: 196px;background: #f9f9f9;}
.mtop .about{width:698px;height:120px;padding: 38px 0;float: left;}
.about .about_left{width:88px;height:84px;background:#cc1d1f;text-align:center;float: left;padding:18px;}
.about_left .iconfont{width:88px;height:58px;font-size:54px; line-height: 58px;display: block;text-align: center;color: #fff;}   
.about .about_left p{font-size: 18px;color:#fff;}
.about .about_right{width:534px;height:100%;color: #666;line-height: 28px; float: right;overflow: hidden;margin-right: 24px;}
.contact{color: #fff;width: 282px;height: 156px;background: #cc1d1f;float: right;padding: 20px 0 20px 20px;}
.contact .con_title{width: 100%;height: 20px;overflow: hidden;}
.contact .con_title i{width: 22px;height: 20px;float: left;}
.contact .con_title .rx{width: 254px;height:100%;line-height:20px;float: right;}
.contact span{width: 254px;height:54px;font-size:30px;line-height:54px;display: block;overflow: hidden;}
.contact .adr{width: 282px;height: 90px;overflow: hidden; line-height: 15px;}
#midlle .mimg{width: 100%;height: 300px;padding: 30px 0;}
.transport{width: 100%;height: auto;}
.transport li{width: 500px;height: 150px;float: left;}
.transport li .fs{width: 130px;height:88px;background:#333333;float: left;padding: 38px 20px 24px 20px;}
.transport li .fs:hover{background: #cc1d1f;}
.transport li .fs h1{font-size: 18px;color: #fff;height: 25px;width: 100%;overflow: hidden;}
.transport li .fs .flsh{width: 30px;height: 3px;background: #cc1d1f;margin: 8px 0;transition:width 2s;-moz-transition:width 2s; /* Firefox 4 */
                         -webkit-transition:width 2s; /* Safari and Chrome */-o-transition:width 2s; /* Opera */}
.transport li .fs:hover .flsh{width:70px;background: #fff;}
.transport li .fs p{color: #cfcfcf;}
.transport li .img_div{width: 330px;height: 150px;text-align: center;vertical-align: middle;display: table-cell;float: right;}
.transport li .img_div img{height: 150px;transition: .3s transform;}
.transport li .img_div:hover img{transform: scale(1.1, 1.1);transition: .3s transform;}
.transport2 li .fs2{width: 130px;height:88px;background:#333333;float: right;padding: 38px 20px 24px 20px;}
.transport2 li .fs2:hover{background: #cc1d1f;}
.transport2 li .fs2 h1{font-size: 18px;color: #fff;height: 25px;width: 100%;overflow: hidden;}
.transport2 li .fs2 .flsh2{width: 30px;height: 3px;background: #cc1d1f;margin: 8px 0;transition:width 2s;-moz-transition:width 2s; /* Firefox 4 */
                         -webkit-transition:width 2s; /* Safari and Chrome */-o-transition:width 2s; /* Opera */}
.transport2 li .fs2:hover .flsh2{width:70px;background: #fff;}
.transport2 li .fs2 p{color: #cfcfcf;}
.transport2 li .img_div2{width: 330px;height: 150px;text-align: center;vertical-align: middle;display: table-cell;float: right;}
.transport2 li .img_div2 img{height: 150px; transition: .3s transform;}
.transport2 li .img_div2:hover img{transform: scale(1.1, 1.1);transition: .3s transform;}

#midlle .mbottom{width: 1000px;height: 250px;padding-bottom: 24px;}
.mbottom .mb_left{width: 698px;height: 100%;float: left;}
.mb_left .sify{width: 100%;height: 54px;}
.mb_left .sify li{width: 231px;height: 100%;font-size: 16px; background: #f3f3f3;line-height: 54px;text-align: center;border-right: 1px solid #fff;float: left;}
.mb_left .sify li a{width: 231px;height: 100%;display: block;overflow: hidden;}
.mb_left .sify li:hover a,.mb_left .sify li a.current{color: #fff;background: #cc1d1f;}
.mb_left .mnews{width: 100%;height:172px;padding-top:18px;}
.mb_left .mnews .mnews_img{width: 234px;height: 172px;text-align: center;vertical-align: middle;display: table-cell;float: left;}
.mb_left .mnews .mnews_img img{max-width: 100%;max-height: 100%;}
.mnews .newslist{width:452px;height: 100%;float: right;}
.mnews .newslist li{width: 100%;height: 28px;}
.mnews .newslist li a{width::360px; height:28px; line-height:28px;overflow:hidden; display:block;}
.mnews .newslist li a:hover{color: #cc1d1f;}
.date{padding-left:20px;float:right; font-weight:normal;}
.mbottom .mb_right{width: 272px;height: 100%;float: right;}
.mbottom .mb_right{width: 272px;height: 100%;background: #f3f3f3;}
.icon_list{width:252px;height:230px;padding: 10px;}
.icon_list li{width: 64px;height: 98px;float: left;padding:10px;}
.icon_list li .icons a img{transition: .3s transform;width: 64px;height: 64px;font-size: 50px; text-align: center;line-height: 64px;display: block;}
.icon_list li:hover a img{transform: scale(1.2, 1.2);transition: .3s transform;}
.icon_list li .icons a img{width: 64px;height: 64px;}
.icon_list li p{width: 100%;height: 34px;overflow: hidden; font-size: 14px;color:#999;line-height: 34px;text-align: center;}
.icon_list li:hover p{color: #cc1d1f;}

#footer{width: 100%;height: auto;}
#footer .f_top{width: 100%;height: 36px;background: #f3f3f3;}
.f_top p{color: #999;width: 1000px;height: 36px;line-height: 36px;margin: 0 auto;}
.f_top p a{margin: 0 6px;color: #999;}
.f_top p a:hover{color: #cc1d1f;}
#footer .f_mild{width: 100%;height:155px;background: #333;border-bottom: 1px solid #3e3e3e;padding: 20px 0;}
#footer .f_mild .mildn{width:1000px;height:155px; margin: 0 auto;overflow: hidden;}
.fnav{width:780px;height:154px;float:left;overflow: hidden;}
.fnav ul li{height:24px;width:156px;float: left;}
.fnav ul li a{font-size: 14px; color: #999;width: 150px;height: 24px;overflow: hidden;display: block;}
.fnav ul li a:hover{color: #fff;}
.fnav ul li .erji2{ height:auto;}
.fnav ul li .erji2 li{width: 100%;height: 30px; float:inherit;}
.fnav ul li .erji2 li a{font-size: 12px;line-height: 30px; color: #999;}
.fnav ul li .erji2 li a:hover{ color: #fff;}
.f_right{width: 220px;height: 155px;text-align: right; float: right;}
.f_right .weixin{width: 100px;height: 30px;padding-left:120px;text-align: center; font-size: 14px;color: #999;line-height:30px;}
.f_right .w_bot{width:166px;height: 100px;float: right;}
.f_right .w_bot .sao{width: 50px;height:76;float: left;padding:24px 16px 0 0;text-align: right;}
.f_right .w_bot .sao .jiav{color: #999;}
.f_right .w_bot .erweima{float: right; width: 100px;height: 100px;text-align: center;vertical-align: middle;overflow: hidden;}
.f_right .w_bot .erweima img{height: 100px;}

#footer .f_bot{width: 100%;height:auto;background: #333;}
.f_bot .bottom{width: 1000px;height: auto;margin: 0 auto;overflow: hidden;}
.f_bot .bottom .bq{width:100%;height: auto;padding:16px;}
.f_bot .bottom p{width:100%;height:auto; color: #999;text-align: center;}
.f_bot .bottom p a{color: #999;}
.f_bot .bottom p a:hover{color: #fff;}

/*about*/
#midlle2{width: 1000px;height: auto;margin: 0 auto;overflow: hidden; border-top: 1px solid #fff;}
.content_ny{width: 1000px;height: auto;margin: 0 auto;}
.content_ny .ny_left{width: 675px;height: auto;padding: 14px 0;float: left;}
.content_ny .ny_left .ny_left_top{width: 651px;height: 30px;line-height: 30px;border-bottom: 1px solid #f3f3f3;position: relative;padding-left:20px;}
.content_ny .ny_left .ny_left_top:before{content:"";width: 0;height: 0; position: absolute; left:2px;top:10px; z-index:32;
			border-left:6px solid #666;border-right:6px solid transparent;border-top:5px solid transparent;border-bottom:5px solid transparent;}
.content_ny .ny_left .ny_left_bottom{padding: 20px 0;}
.about_detail{line-height: 30px;min-height: 500px;}
.content_ny .ny_right{width: 303px;height: auto;float:right;}
.ny_right .ny_right_nav{width: 100%;height: auto;background: #f3f3f3;}
.ny_right_nav .nav_title{width:278px;height:45px;background: #cc1d1f;color: #fff; font-size: 18px;line-height:45px;padding-left: 25px;}
.ny_right_nav .ce{width: 100%;display: block;}
.ny_right_nav .ce li{width: 100%;height:auto;padding:4px 0;position: relative;}
.ny_right_nav .ce li a{width:273px;height: 34px;display: block;line-height: 34px;padding-left: 30px;overflow: hidden;}
.ny_right_nav .ce li a:hover,.ce li a.current{color: #fff;background: #333;}
.ny_right_nav .ce li a:before{content: "";width: 4px;height:4px;border-radius: 50%; background: #666;position: absolute;top:20px;left:16px;}
.ny_right_nav .ce li a:hover:before,.ny_right_nav .ce li a.current:before{background: #fff;}


.clear{clear:both;}
.ny_right .ce ul.er{display:none;width:100%;}
.ny_right .ce ul.er li {border: none;background: none;}
.ny_right .ce ul.er li a{display:block;background: none;}
.ny_right .ce ul.er li a:hover{color:#cc1d1f;}
.ny_right .ce ul.er li a:before{content: "";width: 0;height: 0;}
.thr{display:none;}
.ny_right .ce ul.er .e_li .thr li a{width: 260px;height: 28px;padding-left: 44px; background:none;line-height: 28px;overflow: hidden;}
.ny_right .ce ul.er .e_li .thr li a:before{content: "";width: 0;height: 0}
/*news*/
.ny_left .newslist{width: 100%;}
.ny_left .newslist li{width: 100%;height: 48px;border-bottom: 1px dashed #ececec;}
.ny_left .newslist li a{width:674px; height:48px; line-height:48px;overflow:hidden; display:block;}
.ny_left .newslist li a:hover{color: #cc1d1f;}
.date{padding-left:30px;float:right; font-weight:normal;}
.next {width: 100%;height: 24px;text-align: center;margin-top:30px;}
.next a{width: 23px;height: 23px;border-radius: 50px;background: #f9f9f9;font-size: 12px;line-height: 23px;
	    color: #999;display: inline-block;border: 1px solid #f5f5f5;margin: 0 6px;}
.next a:hover,.next a.current{color: #fff;background: #cc1d1f;}

.new_article .title{color: #333;text-align: center;}
.new_article p.rq{color: #cc1d1f;text-align: center;line-height: 44px;}
.new_article .desc{overflow: hidden;line-height:30px; border-top: 1px dashed #a1a1a1;border-bottom: 1px dashed #a1a1a1;padding:14px 0;}
.ny_left_bottom .share{width:250px;height:25px;padding-top: 20px;float: right;}
.ny_left_bottom .news_next ul{padding:10px 0; }
.ny_left_bottom .news_next ul li a{line-height:30px;}
.ny_left_bottom .news_next ul li a:hover{color: #cc1d1f;}

.new_imgtext .news_nr{width: 100%;height: auto;}
.new_imgtext .news_nr li{width: 100%;height: 84px;padding-top:30px;}
.new_imgtext .news_nr li .news_img{width:114px;height: 84px; text-align: center;overflow: hidden; display: table-cell; vertical-align: middle;line-height: 0;float: left;}
.new_imgtext .news_nr li .news_img img{max-width: 100%;max-height: 100%;}
.new_imgtext .news_nr li .news_nr_right{width:546px;height: 100%;float: right;}
.news_nr li .news_nr_right .nr_title a{width: 100%;height:18px;color: #333;line-height:18px; overflow: hidden;display: block;}
.news_nr li .news_nr_right .nr_title a:hover{color: #cc1d1f;}
.news_nr li .news_nr_right p{color: #999;width:546px;height:66px;overflow: hidden;}

.pro_imglist{width:675px;height: auto;overflow: hidden;padding: 10px 0; }
.pro_imglist li{width: 210px;height: 197px;float: left;padding:2px 7px;}
.pro_imglist li .pro_img{width: 210px;height: 157px;text-align: center;vertical-align: middle;display: table-cell;line-height: 0;}
.pro_imglist li .pro_img img{max-width: 100%;max-height: 100%;transition: .3s transform;}
.pro_imglist li .pro_img:hover img{transform: scale(1.1, 1.1);transition: .3s transform;}
.pro_imglist li:hover .pro_title{color: #cc1d1f}
.pro_imglist li .pro_title{width: 100%;height: 40px;line-height: 40px;text-align: center;overflow: hidden;}

.pro_det .picScroll-left {width:460px;height:383px;padding:10px 0;margin: 0 auto;position: relative;}
.picScroll-left .bd{width: auto;height:383px;overflow: hidden;}
.picScroll-left .bd .picList li{width:460px;height:383px;float: left;text-align: center;}
.picScroll-left .bd .picList li a img{height: 274px;}
.picScroll-left .bd .picList li p{width: 100%;height: 40px;line-height: 40px;text-align: center;overflow: hidden;}
.picScroll-left .prev{width:30px;height:30px;background: url(../images/prob.png)center center no-repeat;}
.picScroll-left .next{width:30px;height:30px;background: url(../images/pro2b.png)center center no-repeat;}
.picScroll-left .prev:hover{background: url(../images/pro2h.png) center center no-repeat;}
.picScroll-left .next:hover{background: url(../images/proh.png) center center no-repeat;}
.picScroll-left .prev{position: absolute;top: 158px;left: -58px;}
.picScroll-left .next{position: absolute;top: 123px;left:500px;}
.pro_det .particle{line-height:30px;border-bottom: 1px dashed #a1a1a1;padding:14px 0;overflow: hidden;}
.pro_det .particle p{width: 300px;height: 30px;line-height: 30px;overflow: hidden;}

.result{width: 100%;height: 30px;line-height: 30px;text-align: center;color: #cc1d1f;}









