
	<div class="box">
		{if $pagenavs}
			<div class="box-hd"><h2><span>{$posnavs[0].name}</span><b>{$posnavs[0].en_name}</b></h2></div>
			<ul class="first">
				{foreach item=nav from=$pagenavs}
				<li>
					<a href="{$nav.link}">{$nav.name}</a>
					{if $nav.childmenu}
					<ul class="second">
						{foreach item=nav_list from=$nav.childmenu}
						<li>
							<a href="{$nav_list.link}">{$nav_list.name}</a>
							{if $nav_list.childmenu}
							<ul class="third">
								{foreach item=nav_last from=$nav_list.childmenu}
									<li><a href="{$nav_last.link}">{$nav_last.name}</a></li>
								{/foreach}
							</ul>
							{/if}
						</li>
						{/foreach}
					</ul>
					{/if}
				</li>
				{/foreach}
			</ul>
		{else}  <!-- 无子栏目时 -->
			<div class="box-hd"><h2><span>{$global.pagenavs.name}</span><b>{$global.pagenavs.en_name}</b></h2></div>
			<ul class="first">
				{foreach item=nav from=$global.pagenavs.childmenu}
				<li>
					<a href="{$nav.link}">{$nav.name}</a>
					{if $nav.childmenu}
					<ul class="second">
						{foreach item=nav_list from=$nav.childmenu}
						<li>
							<a href="{$nav_list.link}">{$nav_list.name}</a>
							{if $nav_list.childmenu}
							<ul class="third">
								{foreach item=nav_last from=$nav_list.childmenu}
									<li><a href="{$nav_last.link}">{$nav_last.name}</a></li>
								{/foreach}
							</ul>
							{/if}
						</li>
						{/foreach}
					</ul>
					{/if}
				</li>
				{/foreach}
			</ul>
		{/if}
	</div>
			

