<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript">
    // Ìø×ªÊÖ»úÒ³Ãæ
    {if $site_another_url}
        if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
            location.href = '{$site_another_url}';
        }
    {/if}
    </script>

<!--  -->
<meta name="keywords" content="{$keywords}"/>
<meta name="description" content="{$description}"/>
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="zh-CN">

<link rel="stylesheet" type="text/css" href="{$site_url}css/style.css"/>
<script type="text/javascript" src="http://common.mn.sina.com.cn/public/resource/lib/jquery.jcarousellite.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
<script type="text/javascript" src="{$site_url}js/index.js"></script>
<script type="text/javascript" src="{$site_url}js/html5.js"></script>
<title>{$title}</title>
</head>
<body>
	<div id="wrapper">
		{include file='./_header.html'}
		<div class="matter">
			{include file='./_left.html'}
            <div class="right">
                <div class="main-hd">
                    <h2>{$list.name}</h2>
                    <span>当前位置：
                        <a href="{$site_url}">首页</a>
                        {foreach item=nav from=$posnavs}
                             » <a href="{$nav.link}">{$nav.name}</a>
                        {/foreach}
                    </span>
                </div>
                <div class="main">
                    <ul class="product">
                        {foreach item=article from=$list.data}
                            <li><a href="{$article.link}">
                                <i><img src="{$article.image}"></i>
                                <p>{$article.title}</p>
                            </a></li>
                        {/foreach}
                    </ul>
                    {include file='./_page.html'}
                </div>
            </div>
		</div>
		{include file='./_footer.html'}
	</div>
</body>
</html>