<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no, email=no" name="format-detection">
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- 固定字体缩放 -->
    <meta name="wap-font-scale" content="no">
    <!-- 统一平台 -->
    <meta name="keywords" content="{$keywords}" />
    <meta name="description" content="{$description}" />
    <title>{$title}</title>
    <link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
    <!--  -->
    <script type="text/javascript">
        // 跳转PC页面
        {if $site_another_url}
            if (!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
                location.href = '{$site_another_url}';
            }
        {/if}
    </script>
    <link rel="stylesheet" href="{$site_url}css/swiper-3.3.1.min.css">
    <link rel="stylesheet" type="text/css" href="{$site_url}css/style.css">
    <script type="text/javascript" src="{$site_url}js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{$site_url}js/swiper-3.3.1.jquery.min.js"></script>
    <script type="text/javascript" src="{$site_url}js/function.js"></script>
    <script type="text/javascript" src="{$site_url}js/index.js"></script>
    <script type="text/javascript">
        window.addEventListener('load', function(){
            setTimeout(function(){ window.scrollTo(0, 1); }, 100);
        });//safari浏览器可以通过此代码来隐藏地址栏
    </script>
</head>
<body>
    <div id="wrapper">
        {include file='./_header.html'}
        <nav class="topmenu">
            <div class="topnav mainnav">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide tc"><a href="{$site_url}">网站首页</a>
                    </li>
                    {foreach item=nav from=$navs}
                        <li class="swiper-slide tc"><a href="{$nav.link}">{$nav.name}</a></li>
                    {/foreach}
                </ul>
            </div>
            <div class="topnav-prev topnav-button main-prev"><span></span></div>
            <div class="topnav-next topnav-button main-next"><span></span></div>
        </nav>
        <div class="wrap oh pr">
            <div class="main-hd pr">
                <h1>{$list.name}</h1>
                <div class="size tc cf pr">
                    <b>字<i>+</i></b>
                    <ul class="size-list oh">
                        <li class="largen" id="largen">大</li>
                        <li class="recover" id="recover">中</li>
                        <li class="diminish" id="diminish">小</li>
                        <em></em>
                    </ul>
                </div>
                <div class="classify cf">分类<i></i></div>
            </div>
            {include file='./_classify.html'}
            <div class="main pr">
                <div class="search">以下是关键词<mark>“ {$search.keyword} ”</mark>的搜索结果</div>
                <ul class="news" id="search-list">
                    {foreach item=sear from=$search.data}<!--search_content_start-->
                    <li><a href="search_$link">
                        <time datetime="search_$pubymd">search_$pubymd</time>
                        search_$title
                    </a></li>
                    <!--search_content_end-->{/foreach}
                </ul>
                {include file="./_page.html"}
            </div>
        </div>
        <footer id="footer">
            <a href="" class="totop"><span></span></a>
            <div class="foot">
                {$footprint}
            </div>
        </footer>
    </div>
{$footscript}
</body>
</html>