<div class="headerbg">
    <div class="logo">
        <a href="{$site_url}"><img src="{$logo}" height="112" width="710" /></a>
    </div>
   
</div>
<div class="menu" id="menu">
    <ul>
        <li><a href="{$site_url}">首页</a></li>
        {foreach name=cnavs item=nav from=$navs}
        <li class="nLi {if $nav.current}current{/if}">
            <h3><a href="{$nav.link}">{$nav.name}</a></h3> {if $nav.childmenu}
            <ul class="sub">
                {foreach name=cnavs item=nav_list from=$nav.childmenu}
                <li class="{if $nav_list.current}current{/if}"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
                {/foreach}
            </ul>
            {/if}
        </li>
        {/foreach}
    </ul>
</div>
<div class="banners">
    <div class="focusBox" style="margin:0 auto">
        <ul class="pic">
            {foreach name=slidepics item=slidepic from=$global.slidepics}
            <li>
                <a href="{$slidepic.link}" target="_blank"><img src="{$slidepic.image}" alt="{$slidepic.title}" /></a>
            </li>
            {/foreach}
        </ul>
        <a class="prev" href="javascript:void(0)"></a>
        <a class="next" href="javascript:void(0)"></a>
        <ul class="hd">
            {foreach name=cnavs item=slidepic from=$global.slidepics}
            <li></li>
            {/foreach}
        </ul>
    </div>
</div>
