<!-- 二级栏目列表（展示到三级子栏目） -->


{if $pagenavs}
<nav>
	 <div class="title">{$posnavs[0].name}</div>
     <div class="list">
	 	<!-- 下表为0的面包屑导航正好是一级栏目的当前栏目 -->
		<ul>
			{foreach name=pagenavs item=nav from=$pagenavs}
			<li class="{if $nav.current}current{/if}">
				<a href="{$nav.link}">{$nav.name}</a>
				{if $nav.childmenu}
				<ul class="left_list">
					{foreach key=key item=nav_list from=$nav.childmenu}
					<li class="{if $nav_list.current}current{/if}"><a href="{$nav_list.link}" style="padding:0;">{$nav_list.name}</a>
						{if $nav_list.childmenu}
						<ul class="left_list">
							{foreach key=key item=nav_listse from=$nav_list.childmenu}
							<li class="{if $nav_listse.current}current{/if}"><a href="{$nav_listse.link}" style="padding:0;">{$nav_listse.name}</a></li>
							{/foreach}
						</ul>
						{/if}
					</li>
					{/foreach}
				</ul>
				{/if}
			</li>
			{/foreach}
		</ul>

     </div>

</nav>
{else}	<!-- 让客服自己选择，如果当前无子栏目 展现的目标栏目 -->
<nav>
	 <div class="title">{$_pagenavs_sub3.pagenavs.name}</div>
     <div class="list">
	 	<!-- 下表为0的面包屑导航正好是一级栏目的当前栏目 -->
		<ul>
			{foreach name=pagenavs item=nav from=$_pagenavs_sub3.pagenavs}
			<li>
				<a href="{$nav.link}">{$nav.name}</a>
				{if $nav.childmenu}
				<ul class="left_list">
					{foreach key=key item=nav_list from=$nav.childmenu}
					<li><a href="{$nav_list.link}" style="padding:0;">{$nav_list.name}</a>
						{if $nav_list.childmenu}
						<ul class="left_list">
							{foreach key=key item=nav_listse from=$nav_list.childmenu}
							<li><a href="{$nav_listse.link}" style="padding:0;">{$nav_listse.name}</a></li>
							{/foreach}
						</ul>
						{/if}
					</li>
					{/foreach}
				</ul>
				{/if}
			</li>
			{/foreach}
		</ul>
     </div>
</nav>
{/if}