
<div id="footer_bg">

<div id="footer" class="wrapper clearfix">

 <div class="copyright">{$footprint}</div>
 
 <div class="q_link">
   <select onchange="javascript:openLink(this)">
        <option>--Link--</option>
        
        
        
        
  {foreach name=friend item=friend from=$global.links}
  
        
        
        
        <option value="{$friend.link}">{$friend.title} </option>
        
        
        
        
  {/foreach}  

      
      
      
      </select>
      <script type="text/javascript">
  function openLink(obj) {
    if (obj.selectedIndex != 0) {
      window.open(obj.options[obj.selectedIndex].value);
    }
  }
</script>
  </div>

  


</div>

</div>






{$footscript}
<!--#*
{foreach name=navs item=nav from=$navs}
<a href="{$nav.link}" >{$nav.name}</a> |{/foreach}

<a href="index.html" target="_blank">首页</a> | {foreach name=navs item=nav from=$navs}<a href="{$nav.link}">{$nav.name}</a> | {/foreach}

{$footprint}
*#-->
