<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>G宝盆统一平台官方网站</title>
	<link rel="stylesheet" href="css/css.css">
</head>
<body>
	<div class="top_bg wap">
		<div class="top w">
			<div class="welcome f_l">欢迎您访问G宝盆统一平台官方网站！</div>
			<form action="" method="get" class="search f_r">
				<input type="text" value="请输入搜索关键字" class="text searchkey">
				<input type="submit" value="" class="submit" >
			</form>
		</div>	
	</div>
	<div class="header_bg wap">		
		<div class="header w1">
			<a href="" title="返回首页" class="lg f_l">
				<img src="images/logo_03.png" height="84" width="279" alt="">
			</a>
			<div class="navBar">
				<ul class="nav clearfix">								
					<li class="m">
						<h3><a  href="">关于我们</a></h3>
						<ul class="sub">
							<li><a href="#">公司简介</a></li>
							<li><a href="#">企业文化</a></li>
							<li><a href="#">视频展示</a></li>
							<li><a href="#">人才招聘</a></li>
						</ul>
					</li>
					
					<li class="m "><!-- 当前频道添加on -->
						<h3><a  href="">新闻中心</a></h3>
						<ul class="sub">
							<li><a href="#">公司简介</a></li>
							<li><a href="#">企业文化</a></li>
							<li><a href="#">视频展示</a></li>
							<li><a href="#">人才招聘</a></li>
						</ul>
					</li>
					
					<li class="m">
						<h3><a  href="">产品展示</a></h3>
						<ul class="sub">
							<li><a href="#">公司简介</a></li>
							<li><a href="#">企业文化</a></li>
							<li><a href="#">视频展示</a></li>
							<li><a href="#">人才招聘</a></li>
						</ul>
					</li>
					
					<li class="m">
						<h3><a  href="">招商加盟</a></h3>
						<ul class="sub">
							<li><a href="#">公司简介</a></li>
							<li><a href="#">企业文化</a></li>
							<li><a href="#">视频展示</a></li>
							<li><a href="#">人才招聘</a></li>
						</ul>
					</li>
					
					<li class="m">
						<h3><a  href="">人才招聘</a></h3>
					</li>
					
					<li class="m">
						<h3><a  href="">联系我们</a></h3>
					</li>
				</ul>
			</div>
		</div>		
	</div>

	<div class="slider wap">		
		<div class="banner">
			<div class="bd">
				<ul>
					<li><a href=""><img src="images/banner_02.jpg" height="439" width="1680" alt=""></a></li>
					<li><a href=""><img src="images/banner_02.jpg" height="439" width="1680" alt=""></a></li>
					<li><a href=""><img src="images/banner_02.jpg" height="439" width="1680" alt=""></a></li>
				</ul>
				<a class="prev" href="javascript:void(0)"></a>
				<a class="next" href="javascript:void(0)"></a>
			</div>
			<div class="hd">
				<ul>
					<li class="on"></li><li class="on"></li><li class="on"></li>
				</ul>
			</div>
		</div>
	</div>	
	<div class="content w">
		<div class="left">
			<div class="navigation">
				<h3 class="tit">新闻中心 <span>NEWS CENTER</span></h3>
				<ul class="aboutNav">
					<li><a href="">曲奇饼干系列</a></li>
					<li><a href="">品牌文化</a></li>
					<li><a href="" class="cu">品牌影响</a>
						<dl>
	                       	<dd><a href="">曲奇饼干系列</a></dd>
	                       	<dd><a href="">品牌文化</a></dd>
	                       	<dd><a href="" class="cu1">品牌影响</a>
		                       	<!-- <dl>
		                          	<dt><a href="" class="cu2">曲奇饼干系列</a></dt>
		                          	<dt><a href="">品牌文化</a></dt>
		                          	<dt><a href="">品牌影响</a></dt>
		                        </dl> -->
	                       	</dd>
	                   </dl>
					</li>
					<li><a href="">曲奇饼干系列</a></li>
				</ul>
			</div>
			<div class="qq"><a href=""><img src="images/qq_05.png" height="91" width="268" alt=""></a></div>
		</div>
		<div class="right">
			<h3 class="local">
	    		新闻中心 / NEWS CENTER
	    		<i class="f_r">当前位置：<a href="">网站首页</a> - <a href="">新闻中心</a> - 品牌影响</i>
    		</h3>
    		<div class="info news_det">
    			<h5 class="te">西点杰作 创意非凡的婚礼蛋糕</h5>
				<div class="message">
					<a href="">发布日期：2016-01-01 浏览次数：365</a>
				</div>
				<p>
					单身的贵族生活固然令很多饱受婚姻桎梏的人们艳羡不已，但是走向婚礼的殿堂何尝不是没有走进过围城的人期待的事情，每每在婚礼当中，我们看到那些创意非凡美味十足的婚礼蛋糕就知道人们在其中有着怎样深情饱满的爱情期待，所以每当婚礼蛋糕闪亮登场的时候，这就成为了糕点大师挥洒水平的竞技场，也是每个婚礼成功与否的标志之一，看到下面这些让人垂涎三尺的美食大作，你是否已经期待一场创意的婚礼了呢？
					深色的蛋糕外表上用白色奶油写上文字，看起来仿佛是把黑板从教室里搬上了自己的婚礼蛋糕。这种充满童趣的造型，会让宾客们眼前一亮。双层蛋糕，由上至下呈现出白色向黑色的渐变，中间部分用金色素材搭配，让整款蛋糕看起来非常高贵奢华。如果想在婚礼当天大走土豪风，我想一只镶金蛋糕必不可少。
					虽然没有奶油的装饰，只是在数层蛋糕胚之间涂上奶油，但是原胚婚礼蛋糕却有一种非常质朴的乡村风格。在其上搭配几只鲜花，再用原木的餐具盛放，风格自然是自成一派。谁说婚礼必须办得跟童话世界同款一样？一改传统多层婚礼蛋糕的外形，而是用多色半圆形的翻糖饼干作为点缀，加上深色的大范围使用，艺术气息浓郁，各位文艺少年们，请你保存这张图片！童真的时候你我都有，烦躁的工作之余跑去刺激刺激自己的神经，安抚一下受伤的心。作为游乐园的顶峰，迪士尼不光是个好玩到爆的地方，关键还是那些值得一尝的美味，在童话的世界里，满足一下自己，太值得了！
					单身的贵族生活固然令很多饱受婚姻桎梏的人们艳羡不已，但是走向婚礼的殿堂何尝不是没有走进过围城的人期待的事情，每每在婚礼当中，我们看到那些创意非凡美味十足的婚礼蛋糕就知道人们在其中有着怎样深情饱满的爱情期待，所以每当婚礼蛋糕闪亮登场的时候，这就成为了糕点大师挥洒水平的竞技场，也是每个婚礼成功与否的标志之一，看到下面这些让人垂涎三尺的美食大作，你是否已经期待一场创意的婚礼了呢？
					深色的蛋糕外表上用白色奶油写上文字，看起来仿佛是把黑板从教室里搬上了自己的婚礼蛋糕。这种充满童趣的造型，会让宾客们眼前一亮。双层蛋糕，由上至下呈现出白色向黑色的渐变，中间部分用金色素材搭配，让整款蛋糕看起来非常高贵奢华。如果想在婚礼当天大走土豪风，我想一只镶金蛋糕必不可少。
					虽然没有奶油的装饰，只是在数层蛋糕胚之间涂上奶油，但是原胚婚礼蛋糕却有一种非常质朴的乡村风格。在其上搭配几只鲜花，再用原木的餐具盛放，风格自然是自成一派。谁说婚礼必须办得跟童话世界同款一样？一改传统多层婚礼蛋糕的外形，而是用多色半圆形的翻糖饼干作为点缀，加上深色的大范围使用，艺术气息浓郁，各位文艺少年们，请你保存这张图片！童真的时候你我都有，烦躁的工作之余跑去刺激刺激自己的神经，安抚一下受伤的心。作为游乐园的顶峰，迪士尼不光是个好玩到爆的地方，关键还是那些值得一尝的美味，在童话的世界里，满足一下自己，太值得了！
					单身的贵族生活固然令很多饱受婚姻桎梏的人们艳羡不已，但是走向婚礼的殿堂何尝不是没有走进过围城的人期待的事情，每每在婚礼当中，我们看到那些创意非凡美味十足的婚礼蛋糕就知道人们在其中有着怎样深情饱满的爱情期待，所以每当婚礼蛋糕闪亮登场的时候，这就成为了糕点大师挥洒水平的竞技场，也是每个婚礼成功与否的标志之一，看到下面这些让人垂涎三尺的美食大作，你是否已经期待一场创意的婚礼了呢？
					深色的蛋糕外表上用白色奶油写上文字，看起来仿佛是把黑板从教室里搬上了自己的婚礼蛋糕。这种充满童趣的造型，会让宾客们眼前一亮。双层蛋糕，由上至下呈现出白色向黑色的渐变，中间部分用金色素材搭配，让整款蛋糕看起来非常高贵奢华。如果想在婚礼当天大走土豪风，我想一只镶金蛋糕必不可少。
					虽然没有奶油的装饰，只是在数层蛋糕胚之间涂上奶油，但是原胚婚礼蛋糕却有一种非常质朴的乡村风格。在其上搭配几只鲜花，再用原木的餐具盛放，风格自然是自成一派。谁说婚礼必须办得跟童话世界同款一样？一改传统多层婚礼蛋糕的外形，而是用多色半圆形的翻糖饼干作为点缀，加上深色的大范围使用，艺术气息浓郁，各位文艺少年们，请你保存这张图片！童真的时候你我都有，烦躁的工作之余跑去刺激刺激自己的神经，安抚一下受伤的心。作为游乐园的顶峰，迪士尼不光是个好玩到爆的地方，关键还是那些值得一尝的美味，在童话的世界里，满足一下自己，太值得了！
				</p>
				<div class="bbs">
                <!-- JiaThis Button BEGIN -->
                    <div class="jiathis_style">
                        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                        <span class="jiathis_txt">分享到：</span>
                        <a class="jiathis_button_qzone"></a>
                        <a class="jiathis_button_tsina"></a>
                        <a class="jiathis_button_tqq"></a>
                        <a class="jiathis_button_renren"></a>
                        <a class="jiathis_button_baidu"></a>
                        <a class="jiathis_button_douban"></a>
                        <a class="jiathis_button_tsohu"></a>
                        <a class="jiathis_button_taobao"></a>                       
                        <a class="jiathis_counter_style"></a>
                    </div>
                        <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                    <!-- JiaThis Button END -->				
				</div>
				<div class="other">
			        <h3><a href='###'>上一篇：用什么突出重围刷爆朋友圈？下午茶里有几种蓝色？</a></h3>
			        <h3><a href='###'>下一篇：“全面二孩”时代 国产奶粉遭洋奶粉“围攻”</a></h3>
			    </div> 
			    <div class="related">
			    	<p>相关新闻</p>
			    	<ul>
			    		<li class="f_l">
			    			<dl>
			    				<dd><a href=""><span>2016-01-08</span>10款童话世界里的美食</a></dd>
			    				<dd><a href=""><span>2016-01-08</span>10款童话世界里的美食</a></dd>
			    				<dd><a href=""><span>2016-01-08</span>10款童话世界里的美食</a></dd>
			    			</dl>
			    		</li>
			    		<li class="f_r">
			    			<dl>
			    				<dd><a href=""><span>2016-01-08</span>10款童话世界里的美食</a></dd>
			    				<dd><a href=""><span>2016-01-08</span>10款童话世界里的美食</a></dd>
			    				<dd><a href=""><span>2016-01-08</span>10款童话世界里的美食</a></dd>
			    			</dl>
			    		</li>
			    	</ul>
			    </div>
    		</div>
		</div>
	</div>
	<div class="tail wap">
		<div class="footer w2">
			<img src="images/slogo_03.png" height="102" width="157" alt="" class="f_l">
			<p class="f_l">
				Copyright © 2016 厦门易尔通网络科技有限公司 版权所有 All Rights Reserved <br>
				备案号：闽ICP备******号 电话：000-127-808 传真：0592-3503377 地址：厦门市软件园二期观日路36号201单元<br>
				技术支持：<a href="">厦门易尔通网络科技有限公司</a> 人才网支持：<a href="">厦门人才网</a>
			</p>
			<div class="link f_r"> ---友情链接 ---
				<div class="subset">
					<ul>
						<li><a href="">艺龙酒店</a></li>
						<li><a href="">途牛旅游网</a></li>
						<li><a href="">美团网</a></li>
						<li><a href="">去哪儿网</a></li>
						<li><a href="">厦门易尔通网络</a></li>
					</ul>
				</div>	
			</div>			
		</div>
	</div>

<script type="text/javascript" src="js/jquery-1.8.3.min.js" ></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.js"></script>
<script type="text/javascript" src="js/function.js" ></script>

<!--[if IE]>
<script type="text/javascript" src="js/PIE.js"></script>
<![endif]-->

</body>
</html>