/*重置*/
@charset "utf-8";
*{ margin:0px; padding:0px;}
a{ color: #fff; text-decoration:none}
a:hover{color:#00ffff;}
table{border-collapse:collapse; border-spacing:0px;}
body{word-wrap:break-word;color: #fff;font: 12px/200% "微软雅黑"; overflow-x:hidden;}
ul,dl,li,i{list-style:none;}
h1,h2,h3,h4,h5{font-size:14px;font-weight:normal;}
i,em{font-style:normal;font-weight:normal;list-style:none;}
img{border: none;}

/*公共样式*/
.wap{width: 100%;height: auto;}
.w{width: 1002px;height: auto;overflow: hidden;margin: 0 auto}
.w1{width: 1002px;height: auto;margin: 0 auto}
.f_l{float: left;}
.f_r{float: right;}

/*首页*/
.topbg{width: 100%;height: 24px;overflow: hidden;background: #1d8dcc;}
.top{height: 24px;overflow: hidden;color: #fff;font: 14px/24px "微软雅黑";}
.welcome{width: 50%;overflow: hidden;background: url(../images/welcome.png) no-repeat left center;text-indent: 25px;}
.tel{background: url(../images/tel_05.png) no-repeat left center;text-indent: 20px;}
.header{margin: 0 auto;height: 88px;}
.header a.logo{width: 164px;height: 88px;overflow: hidden;position: relative;}
.header a img{position: absolute;top: 0;bottom: 0;max-width: 100%;max-height: 100%;margin: auto 0;}
.navBar{position:relative; z-index:99; height:88px;overflow: inherit;float: right;width: 736px}
.nav{position:relative;}
.nav .m{position: relative;/*width:92px;*/height: 88px;float: left;}
.nav h3 a{width:100%;height: 88px;text-align:center; color:#333;  font: 16px/88px "微软雅黑";float: left;overflow: hidden;display: block;}
.nav h3 a:hover,.nav h3 a.on,.nav .current h3 a{color: #fff;background: #1d8dcc;z-index: 10;position: relative;}
.nav .sub{ display: none;/*默认隐藏*/ position:absolute; right:0; top:87px; z-index:99; width:404px;border-top: 1px solid #c22a29;}
.subl{float: left;padding: 10px;background: #fff;width: 222px;height: 169px;overflow: hidden;}
.subl img{max-width: 100%;max-height: 100%;overflow: hidden;display: block;margin: auto}
.sub dl{width: 162px;min-height: 187px;height: auto;overflow: hidden;background: #f3f3f3;float: right;padding-top: 2px}
.sub dl dd{height: 46px;overflow: hidden;}
.sub dl dd a{color: #333;font: 14px/45px "微软雅黑";height: 45px;overflow: hidden;border-bottom: 1px dashed #dadada;display: block;text-align: center;}
.sub dl dd a:hover{color: #c22a29}
.sub dl dd:last-child a{border-bottom: none;}

/*slider*/
.sliderny{position:relative; overflow:hidden;height:270px;}
.sliderny .bannerny{position: absolute;left: 50%;margin-left: -960px;height: 270px;overflow: hidden;}
ul.slider-btn{color: #fff;}

/*abo_news_bg*/
.abo_news_bg{height: 400px;overflow: hidden;background: url(../images/m_bg.jpg) no-repeat center;}
.abo_news{height: 352px;overflow: hidden;margin-bottom: 48px;}
.indexabo{width: 445px;height: 352px;overflow: hidden;}
.aboimg{width: 265px;height: 222px;overflow: hidden;border: 5px solid #1d8dcc;margin-bottom: 30px;}
.aboimg img{max-width: 100%;max-height: 100%;overflow: hidden;display: block;margin: auto}
.indexabo h3 a.title{color: #fff;font: 18px/28px "微软雅黑";font-weight: bold;width: 100%;height: 28px;overflow: hidden;display: block;}
.indexabo h3 a.title:hover,.indexnews h3 a.title:hover{color: #c22a29}
.aboedit{color: #fff;font: 14px/26px "微软雅黑";height: 52px;overflow: hidden;margin: 10px 0px 0px;position: relative;}
.aboutdet{color: #fff;font: 14px/26px "微软雅黑";height: 52px;overflow: hidden;}
.aboedit a.detail{color: #fff;font: 14px/26px "微软雅黑";height: 26px;position: absolute;right: 5px;bottom: 0}
a.detail:hover{color: #c22a29}
.indexnews{width: 490px;height: 351px;overflow: hidden;position: relative;}
.indexnews:before{content: "";width: 2px;height: 351px;overflow: hidden;background: #1d8dcc;position: absolute;left: 30px;top: 0}
.indexnews:after{content: "";width: 14px;height: 14px;overflow: hidden;background: #1d8dcc;border-radius: 100%;-webkit-border-radius: 100%;-moz-border-radius: 100%;position: absolute;left: 24px;top: -7px}
.indexnews h3 a.title{color: #fff;font: 18px/28px "微软雅黑";font-weight: bold;width: 100%;height: 28px;overflow: hidden;display: block;margin: 48px 0 30px;text-indent: 86px;position: relative;}
.more{color: #fff;font: 18px/28px "微软雅黑";height: 28px;overflow: hidden;position: absolute;right: 0;top: 50px}
.more:hover{color: #c22a29}
.indexnews ul{position: relative;z-index: 99}
.indexnews ul li{height: auto;overflow: hidden;margin-bottom: 27px;}
.newsimg{width: 59px;height: 59px;overflow: hidden;border: 2px solid #1d8dcc;border-radius: 100%;-wenkit-border-radius: 100%;-moz-border-radius: 100%;margin-right: 23px;}
.newsimg img{max-width: 100%;max-height: 100%;overflow: hidden;margin: auto;}
.newsr{width: 385px;height: auto;overflow: hidden;}
.newsr h5 a{color: #fff;font: 14px/28px "微软雅黑";height: 28px;overflow: hidden;display: block;}
.newsr h5 a:hover{color: #c22a29}
.newsredit{color: #b7b7b7;font: 12px/18px "微软雅黑";height: 36px;overflow: hidden;position: relative;}
.newsdet{width: 100%;height: 36px;overflow: hidden;display: block;}
.newsredit .detail{color: #b7b7b7;font: 12px/18px "微软雅黑";height: 18px;overflow: hidden;position: absolute;right: 10px;bottom: 0}

/*indexpro*/
.indexpro{height: auto;overflow: hidden;}
.indexpro h3 a.title{color: #434343;font: 18px/28px "微软雅黑";font-weight: bold;height: 28px;overflow: hidden;display: block;text-align: center;margin-top: 25px}
.indexpro p.titledet{color: #666;font: 14px/20px "微软雅黑";height: 20px;overflow: hidden;text-align: center;}
.picScroll{margin:20px auto 30px;position:relative;width: 936px;height: auto;overflow:hidden;   }
.picScroll .prev{ display:block; position:absolute; top:50%; margin-top: -15px;left:0px; width:18px; height:29px; background:url(../images/prev_next.png) no-repeat 0 center;}
.picScroll .next{ display:block; position:absolute;  top:50%; margin-top: -15px;right:0px; width:18px; height:29px; background:url(../images/prev_next.png) no-repeat -18px center;}
.picScroll .prev:hover{background:url(../images/pn_hover.png) no-repeat 0 center;}
.picScroll .next:hover{background:url(../images/pn_hover.png) no-repeat -18px center;}
.gd{width: 864px;height: auto;overflow: hidden;margin: 0 auto;}
.picScroll ul{ overflow:hidden; zoom:1; }
.picScroll ul li{float:left; width:268px ;margin:0 10px; }
.picScroll ul li a{ overflow:hidden;width: 100%;height: 344px;display: block;border: 2px solid #fff;border-bottom: none;}
.prod{height: 83px;overflow: hidden;background: #f4f4f4;text-align: center;}
.prod dd{color: #333;font: 16px/28px "微软雅黑";height: 28px;overflow: hidden;margin-top: 14px}
.prod p{color: #666;font: 14px/28px "微软雅黑";height: 28px;overflow: hidden;margin-bottom: 13px;}
.picScroll ul li img{display:block;height: 236px;width: auto;margin: 0 auto;}
.picScroll ul li a em{color: #fff;font: 14px/25px "微软雅黑";height: 25px;text-align: center;overflow: hidden;display: block;background: #1d8dcc;}
.picScroll ul li a:hover{border: 2px solid #1d8dcc;border-bottom: none;}
.picScroll ul li a:hover .prod dd{color: #1d8dcc}


/*contact*/
.contact{height: 84px;overflow: hidden;background: #1d8dcc;}
.cont{height: 36px;overflow: hidden;margin: 24px auto;color: #fff;font: 14px/36px "微软雅黑";}
.hotline{width: 280px;height: 100%;overflow: hidden;}
.mail{width: 295px;height: 100%;overflow: hidden;}
.addr{width: 426px;height: 100%;overflow: hidden;}
.cont img{float: left;margin-right: 12px;}

/*tail*/
.tail{background: #303231;height: auto;overflow: hidden;}
.link{color: #999;font: 12px/28px "微软雅黑";height: 28px;overflow: hidden;margin: 12px auto}
.linktit{color: #999;font: 12px/28px "微软雅黑";width: 60px;height: 28px;overflow: hidden;}
.link a{color: #999;font: 12px/28px "微软雅黑";padding-left: 6px;}
.link a:hover{color: #fff;text-decoration: underline;}
.link ul{height: 28px;overflow: hidden;width: 893px}
.link ul li{float: left;margin: 0 3px;}
.link ul li a{color: #999;font: 12px/28px "微软雅黑";padding-left: 6px;}
.link ul li a:hover{color: #fff;text-decoration: underline;}
.footer{color: #999;font: 12px/28px "微软雅黑";text-align: center;min-height: 84px;height: auto;overflow: hidden;padding: 18px 0 19px;border-top: 1px solid #373938;}
.footer a{color: #999;}
.footer a:hover{color: #fff;}


/*内页*/
.local{height: 70px;overflow: hidden;background: #1d8dcc;}
.position{color: #fff;font: 14px/70px "微软雅黑";height: 70px;overflow: hidden;text-indent: 281px;}
.position a{color: #fff}
.position a:hover{color: #fbc411}
.content{height: auto;margin-bottom: 30px;}
.left{width: 260px;height: auto;overflow: hidden;margin-top: -70px;position: relative;z-index: 99}
.navigation{width: 100%;height: auto;overflow: hidden;margin-bottom: 30px;}
.navigation h3.tit{width: 100%;height: 44px;overflow: hidden;color: #fff;font: 18px/22px "微软雅黑";text-indent: 33px;padding: 63px 0;background: #fbc411 url(../images/sj_30.png) no-repeat 222px bottom;position: relative;}
.navigation h3.tit span{display: block;}
.navigation>ul{height: auto;}
.navigation>ul>li>a{color: #333;font: 16px/50px "微软雅黑";height: 50px;overflow: hidden;display: block;text-indent: 12px;background: #d1d1d1 url(../images/left_44.png) no-repeat 33px center;border-bottom: 1px solid #e2e2e2;padding-left: 33px;}
.navigation>ul>li>a:hover,.navigation li a.cu{color: #1d8dcc;}
.navigation>ul>li.current>a{color: #1d8dcc;}
.navigation>ul>li>dl{display: none;}
.navigation>ul>li>dl>dd>a{height: 50px;overflow: hidden;display: block;color: #666;font: 14px/50px "微软雅黑";text-indent: 32px;background: #dedcdc;border-bottom: 1px solid #e2e2e2;padding-left: 33px;}
.navigation>ul>li>dl>dd>a:hover,.navigation li a.cu1{color: #1d8dcc;}
.navigation>ul>li>dl>dd.current>a{color: #1d8dcc;}
.navigation>ul>li>dl>dd>dl{display: none;}
.navigation>ul>li>dl>dd>dl>dt>a{overflow: hidden;height: 50px;display: block;color: #999;font: 12px/50px "微软雅黑";text-indent: 52px;padding-left: 33px;border-bottom: 1px dashed #e2e2e2;background: #f0f0f0}
.navigation>ul>li>dl>dd>dl>dt>a:hover,.navigation li a.cu2{color: #1d8dcc;}
.navigation>ul>li>dl>dd>dl>dt.current>a{color: #1d8dcc;}

.right{width: 721px;overflow: hidden;height: auto;margin-bottom: 30px;}
.info{margin-top: 30px}
.infos{margin-top: 20px}
.page{color: #333;font: 14px/26px "微软雅黑";}

/*news*/
.news ul li a{color: #333;font: 14px/36px "微软雅黑";height: 36px;overflow: hidden;display: block;border-bottom: 1px dotted #d5d5d5;background: url(../images/cicle_03.png) no-repeat 1px center;text-indent: 12px;}
.news ul li a:hover{color: #1d8dcc;background: url(../images/cicleh_15.png) no-repeat 1px center;}
.news ul li span{float: right;color: #666;font: 14px/36px "微软雅黑";height: 36px;overflow: hidden;}
.news ul li a:hover span{color: #1d8dcc;}
.num{text-align:center;margin-top: 25px;height: 26px;line-height: 26px;width: 100%;overflow: hidden;}
.num a{padding:3px 7px;color: #333;font: 12px/26px "微软雅黑";overflow: hidden;}
.num a:hover,.num a.current,.num a.on{color: #fff;background: #1d8dcc;}

/*newsing*/
.newsing{height: auto;overflow: hidden;}
.newsing ul{height: auto;overflow: hidden;}
.newsing ul li{height: auto;overflow: hidden;margin-bottom: 23px;padding-bottom: 10px;border-bottom: 1px solid #dad8d8;}
.newsing ul li:last-child{margin-bottom: inherit;}
.newsingimg{width: 118px;height: auto;overflow: hidden;margin-left: 22px}
.newsingimg img{display: block;max-width: 100%;max-height: 100%;margin: 0 auto;border-radius: 100%;-webkit-border-radius: 100%;-moz-border-radius: 100%;}
.newsingdet{width: 566px;height: auto;overflow: hidden;}
.newsingdet h5 a{color: #333;font: 16px/25px "微软雅黑";height: 25px;overflow: hidden;display: block;}
.newsingdet h5 a span{float: right;color: #999;font-size: 12px}
.newsingdet h5 a:hover{color: #1d8dcc;text-decoration: underline;}
.newsingdet p{color: #999;font: 12px/24px "微软雅黑";max-height: 72px;overflow: hidden;margin-bottom: 10px;padding-left: 16px;}
.newsingdet a.detail{width: 91px;height: 23px;overflow: hidden;display: block;color: #fff;font: 12px/23px "微软雅黑";text-align: center;background: #dedcdc;float: right;}
.newsingdet a.detail:hover{background: #1d8dcc}

/*news_det*/
.news_det{height: auto;overflow: hidden;}
.news_det h5.te{color: #333;font: 16px/24px "微软雅黑";text-align: center;width: 100%;max-height: 48px;overflow: hidden;}
.news_det .message{color: #999;text-align: center;width: 100%;height: 24px;overflow: hidden;margin-bottom: 5px;}
.news_det .message a{color: #999;font: 14px/24px "微软雅黑";}
.news_det .message a:hover{color: #fbc411;}
.news_det p{color: #333;font: 14px/24px "微软雅黑";}
.bbs{width: 100%;height: 30px;overflow: hidden;margin-top: 15px;border-bottom: 1px solid #dcdcdc;}
.jiathis_style{float: right;}
.bbs .aaa{float: right !important;display: inline;}
.other{padding-top: 10px;height: 48px;overflow: hidden;color: #999;}
.other a{color: #999;font: 12px/24px "微软雅黑";height: 24px;overflow: hidden;}
.other a:hover{color:#1d8dcc;text-decoration: underline;}

/*pro*/
.pro ul{ overflow:hidden; zoom:1;}
.pro ul li{float: left;width: 235px;overflow: hidden;margin-bottom: 22px;}
.pro ul li:nth-child(2),.pro ul li:nth-child(5),.pro ul li:nth-child(8),.pro ul li:nth-child(11),.pro ul li:nth-child(14){margin: 0 8px;}
.pro ul li:nth-child(10),.pro ul li:nth-child(11),.pro ul li:nth-child(12){margin-bottom: 0;}
.pro ul li a{display: block;width: 231px;overflow: hidden;position: relative;border: 2px solid #fff;border-bottom: none;}
.pro ul li a img{display: block;overflow: hidden;width: 231px;height: auto;}
.pro ul li a .prod{height: 70px;overflow: hidden;background: #f4f4f4;text-align: center;}
.pro ul li a .prod dd{color: #333;font: 14px/24px "微软雅黑";height: 24px;overflow: hidden;margin-top: 11px}
.pro ul li a .prod p{color: #666;font: 12px/24px "微软雅黑";height: 24px;overflow: hidden;margin-bottom: 11px;}
.pro ul li a em{color: #fff;font: 12px/22px "微软雅黑";height: 22px;text-align: center;overflow: hidden;display: block;background: #1d8dcc;}
.pro ul li a:hover{border: 2px solid #1d8dcc;border-bottom: none;}
.pro ul li a:hover .prod dd{color: #1d8dcc}


/*pro_det*/
.pro_det{height: auto;overflow: hidden;}
.pro_det p{height: auto;overflow: hidden; margin-top: 25px;color: #333;font: 14px/26px "微软雅黑";}
.pro_det p span{color: #333;font: 16px/28px "微软雅黑";max-height: 56px;overflow: hidden;display: block;}
.pro_det .img{display: block;margin: 0 auto}
.poster-main{ position:relative;width:721px;height:322px;margin: 0 auto}
.poster-main a,.poster-main img{display:block;}
.poster-main .poster-list{width:100%;height:322px;}
/*.poster-main .poster-list .poster-item{ position:absolute;left:0;top:0;}
.poster-main .poster-list .poster-item a{width: 100%;height: 100%;overflow: hidden;display: block;}
.poster-main .poster-list .poster-item a img{display: block;max-width: 100%;max-height: 100%;margin: auto;}*/

.poster-main .poster-list .poster-item{ position:absolute;left:0;top:0;}
.poster-main .poster-list .poster-item{width: 100%;height: 100%;overflow: hidden;display: block;}
.poster-main .poster-list .poster-item img{display: block;max-width: 100%;max-height: 100%;margin: auto;}

.poster-main .poster-btn{ position:absolute;top:0;width:20px;height:32px; z-index:10; cursor:pointer;  opacity:0.8}
.poster-main .poster-prev-btn{left:0px; background: url(../images/p_01.png) no-repeat center center;}
.poster-main .poster-next-btn{right:0px; background: url(../images/n_02.png) no-repeat center center;}
.poster-main .poster-prev-btn:hover{background: url(../images/p_h_01.png) no-repeat center center;}
.poster-main .poster-next-btn:hover{background: url(../images/n_h_02.png) no-repeat center center;}

.sear{color: #999;font: 18px/24px "微软雅黑";text-align: center;height: 24px;overflow: hidden;margin-bottom: 20px;}