<!-- 二级栏目列表（展示到三级子栏目） -->
{if $pagenavs}
<nav>
	  <h3 class="title" style="background: url({$global.image1.image}) no-repeat;">{$posnavs[0].name}<i>{$posnavs[0].en_name}</i></h3>  	<!-- 下表为0的面包屑导航正好是一级栏目的当前栏目 -->
	<div class="class" style="background: url({$global.image2.image}) no-repeat bottom #1b361c;">
	<ul class="first">
		{foreach name=pagenavs item=nav from=$pagenavs}
		<li class="{if $nav.current}current{/if}">
			<a href="{if $nav.childmenu}javascript:;{else}{$nav.link}{/if}" class="choose">{$nav.name}</a>
			{if $nav.childmenu}
			 <ul class="second">
				{foreach key=key item=nav_list from=$nav.childmenu}
				<li class="{if $nav_list.current}current{/if}"><a href="{if $nav_list.childmenu}javascript:;{else}{$nav.link}{/if}">{$nav_list.name}</a>
			{if $nav_list.childmenu}
			 <ul class="second">
				{foreach key=key item=nav_list1 from=$nav.childmenu}
				<li class="{if $nav_list1.current}current{/if}"><a href="{$nav_list1.link}">{$nav_list1.name}</a></li>
				{/foreach}
			</ul>
			{/if}

			
				</li>
				{/foreach}
			</ul>
			{/if}
		</li>
		{/foreach}
	</ul>

	 <ul class="contacts">
                          <li><a href="{$global.second_navs1.link}">{$global.second_navs1.name}<i> {$global.second_navs1.en_name}</i><img src="{$global.second_navs1.image}"></a></li>

                            <li><a href="{$global.second_navs2.link}">{$global.second_navs2.name}<i> {$global.second_navs2.en_name}</i><img src="{$global.second_navs2.image}"></a></li>

                            <li><a href="{$global.second_navs3.link}">{$global.second_navs3.name}<i> {$global.second_navs3.en_name}</i><img src="{$global.second_navs3.image}"></a></li>
                        
	</ul>  
	<div>
</nav>
{else}	<!-- 让客服自己选择，如果当前无子栏目 展现的目标栏目 -->
<nav>
	<h3 class="title" style="background: url({$global.image1.image}) no-repeat;">{$_pagenavs_sub3.pagenavs.name}</h3>
<div class="class" style="background: url({$global.image2.image}) no-repeat bottom #1b361c;">
	<ul class="first">
		{foreach name=pagenavs2 item=nav from=$_pagenavs_sub3.pagenavs.childmenu}
		<li class="{if $nav.current}current{/if}">
			<a href="{$nav.link}">{$nav.name}</a>
			{if $nav.childmenu}
			<ul class="second">
				{foreach key=key item=nav_list from=$nav.childmenu}
				<li class="{if $nav_list.current}current{/if}"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
				{/foreach}
			</ul>
			{/if}
		</li>
		{/foreach}
	</ul>
	<ul class="contacts">
          <li><a href="{$global.second_navs1.link}">{$global.second_navs1.name}<i> {$global.second_navs1.en_name}</i><img src="{$global.second_navs1.image}"></a></li>

                            <li><a href="{$global.second_navs2.link}">{$global.second_navs2.name}<i> {$global.second_navs2.en_name}</i><img src="{$global.second_navs2.image}"></a></li>

                            <li><a href="{$global.second_navs3.link}">{$global.second_navs3.name}<i> {$global.second_navs3.en_name}</i><img src="{$global.second_navs3.image}"></a></li>
                        
	</ul> 
	<div>
</nav>
{/if}