<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <script type="text/javascript">
    // 跳转手机页面
    {if $site_another_url}
    if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
        location.href = '{$site_another_url}';
    } {/if}
    </script>
    
    <meta http-equiv="x-ua-compatible" content="ie=7" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="{$keywords}" />
    <meta name="description" content="{$description}" />
    <link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />
    <script src="{$site_url}js/MSClass.js" type="text/javascript"></script>
    <script type="text/javascript" src="{$site_url}js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="http://common.mn.sina.com.cn/public/resource/lib/jquery.jcarousellite.js"></script>
    <script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.js"></script>
    <script type="text/javascript" src="{$site_url}js/jquery.kinMaxShow-1.0.min.js"></script>
    <script type="text/javascript" src="{$site_url}js/function.js"></script>
    <style>
    .tx1 {
        behavior: url(pie.htc);
    }
    </style>
    <title>{$title}</title>
    {$headscript}
</head>

<body>    
<div id="header" class="clearfix wrapper">
  <h1><img src="{$logo}" alt="{$title}"  class="pngFix"/></h1>
  <div class="tel">HOTLINE<br />
    <b>{$contact.telephone}</b></div>
  <div id="nav">
  <ul class="clearfix">
    {$limit = 5}
    {if $navs|count lt $limit}{$limit = $navs|count}{/if}
    <li class="nav1" style="width:{100/($limit+1)}%"> <a href="{$site_url}" class="ho1">首页</a> </li>
    {foreach name=navs item=nav from=$navs}
    <li class="fl{if $nav.current} current{/if} nav1" style="width:{100/($limit+1)}%"> <a href="{$nav.link}" class="ho1">{$nav.name}</a>
      <ul class="sub clearfix">
        {if $nav.childmenu} {foreach key=key item=nav_list from=$nav.childmenu}
        <li class="{if $nav.current}current{/if} nav2"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
        {/foreach} {/if}
      </ul>
    </li>
    {if $nav@index+1 eq $limit}{break}{/if}
    {/foreach}
    
    
    
  </ul>
</div>
</div>


<div class="left-top"> </div>

<div id="banner" style="padding-top:40px;"> 
  <!--100%-->
  <div class="banner_box">
    <div id="kinMaxShow" style="display:none;">
    {foreach name=slidepics item=slidepic from=$global.slidepics}
      <div> <a href="{$slidepic.link}" target="_blank"><img src="{$slidepic.image}" alt="{$slidepic.title}"  /></a></div>
      {/foreach}
    </div>
  </div>
</div>

<div id="container">
  <div class="bot-bg pngFix"></div>
  <div class="container-inner wrapper clearfix">
    <div id="about">
      <h2 class="title">{$index.about.name}</h2>
      <div class="inner"><img src="{$index.about.image}" class="pngFix" style="width:100%"/> <b>{$index.about.description}</b></div>
      <a href="{$index.about.link}">查看更多>></a>
    </div>
    <div id="case">
      <h2 class="title">{$index.case.name}</h2>
      <div class="inner">
        <div class="y" style="line-height:0"></div>
        <ul class="clearfix yc" style="line-height:0">
         {foreach name=case item=case from=$index.case.data}
          <li><div class="text" style="line-height:20px"><a href="{$case.link}"><p>{$case.title}</p> <p>{$case.description}</p></a></div><div class="img"><img src="{$case.image}"  /></div></li>
            {if $case@index+1 == 4}{break}{/if}
         {/foreach}          
        </ul>
      </div>
      <a href="{$index.case.link}" class="more">查看更多>></a> </div>
    <div id="news">
      <h2 class="title">{$index.news.name}</h2>
      <div class="inner">
        <ul>   
        {foreach name=news item=article from=$index.news.data}   
       <li class="clearfix">
            <div class="img"><img src="{$article.image}" /></div>
            <div class="rightinner">
              <h3><a href="{$article.link}">{$article.title}</a></h3>
              <div class="text">{$article.description}</div>
              <a href="{$article.link}" class="more pngFix"></a></div>
          </li>
          	  {if $article@index+1 == 3}{break}{/if}
               {/foreach}
          
        </ul>
        <span class="more"><a href="{$index.news.link}" >查看更多>></a></span> </div>
    </div>
    <div id="product">
      <h2 class="title pngFix"><a href="{$index.pro.link}"><span>{$index.pro.en_name}</span>{$index.pro.name}</a></h2>
      <div class="inner">
 <ul id="MarqueeDiv1">
{foreach name=pro item=pro from=$index.pro.data}
        <li class="pngFix"><div class="img"><a href="{$pro.link}"><img src="{$pro.image}"/></a></div></li>
       {/foreach}
    </ul> 
    </div>
    </div>
  </div>
</div>


    
 
    
    {include file="./_footer.html"}
</body>

</html>
