<footer id="footer">
		<div class="foot">
			<div class="foot_top">
				<div class="foot_logo">
					<img src="{$global.footlogo.image}" alt="{$global.footlogo.title}">
				</div>
				<div class="foot_tel">
					<p>{$contact.name}</p>
					<span>{$contact.telephone}</span>
				</div>
				<div class="foot_address">
					<p>地址</p>
					<span>{$contact.address}</span>
					<div class="foot_consult"><a href="{$_footer.contact.link}">
						<img src="{$site_url}images/wh.png">
						<i>在线咨询</i>
					</a></div>
				</div>
			</div>
			<div class="foot_bottom">
				{$footprint}
			</div>
		</div>
	</footer>
	{$footscript}
	