<div class="focusBox wap">
	<div class="header">
		<div class="w1">
			<a href="{$site_url}" title="返回首页" class="f_l logo">
				<img src="{$logo}" style="height: 91px;" ></a>
			<div class="navBar">
				<ul class="nav clearfix">
					{$limit = 5}
					<li class="m">
						<h3>
							<a  href="{$site_url}">首页</a>
						</h3>
					</li>
					{foreach item=nav from=$navs}
					<li class="m " style="width: {100/($limit+1)}%;{if $nav.current}background: url({$site_url}images/nh_02.png) repeat-x center;{/if}">
						<h3>
							<a href="{$nav.link}">{$nav.name}</a>
						</h3>
						{if $nav.childmenu}
						<ul class="sub">
							{foreach item=nav_list from=$nav.childmenu}
							<li class="{if $nav_list.current}current{/if}">
								<a href="{$nav_list.link}">{$nav_list.name}</a>
							</li>
							{/foreach}
						</ul>
						{/if}
					</li>
					{if $nav@index+1 gte $limit}{break}{/if}
		                {/foreach}
				</ul>
			</div>
		</div>
	</div>
	<div class="banner">
		<ul class="pic">
			{foreach item=slidepic from=$_header.slidepics}
			<li>
				<a href="{$slidepic.link}">
					<img src="{$slidepic.image}" alt="{$slidepic.title}"></a>
			</li>
			{/foreach}
		</ul>
		<ul class="hd">
			{foreach item=slidepic from=$_header.slidepics}
			<li>{$slidepic@index+1}</li>
			{/foreach}
		</ul>
	</div>
</div>
