<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/css.css">
</head>
<body>
	<div class="focusBox wap">
		<div class="header">
		   <div class="w1">
				<a href="" title="返回首页" class="f_l logo">
					<img src="images/logo_02.png" height="91" width="180" alt="">
				</a>	
	
				<div class="navBar">
					<ul class="nav clearfix">
						<li class="m">
							<h3><a  href="">首页</a></h3>
						</li>
						
						<li class="m">
							<h3><a  href="">关于我们</a></h3>
							<ul class="sub">
								<li><a href="#">如何使用</a></li>
								<li><a href="#">如何使用</a></li>
								<li><a href="#">如何使用</a></li>
							</ul>
						</li>
						
						<li class="m "><!-- 当前频道添加on -->
							<h3><a  href="">产品展示</a></h3>
							<ul class="sub">
								<li><a href="#">公司动态</a></li>
								<li><a href="#">行业新闻</a></li>
								<li><a href="#">重要事迹</a></li>
							</ul>
						</li>
						<li class="m">
							<h3><a  href="">案例展示</a></h3>
							<ul class="sub">
								<li><a href="#">扩展效果</a></li>
								<li><a href="#">扩展效果</a></li>
								<li><a href="#">扩展效果</a></li>
							</ul>
						</li>
						
						<li class="m">
							<h3><a  href="">新闻中心</a></h3>
						</li>
						
						<li class="m">
							<h3><a  href="">联系我们</a></h3>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="banner">
			<ul class="pic">
				<li>
					<a href=""><img src="images/banner_01.jpg" height="654" width="1680" alt=""></a>
				</li>
				<li>
					<a href=""><img src="images/banner_01.jpg" height="654" width="1680" alt=""></a>
				</li>
				<li>
					<a href=""><img src="images/banner_01.jpg" height="654" width="1680" alt=""></a>
				</li>
			</ul>
			<ul class="hd">
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>
	<div class="content w">
		<div class="left f_l">
			<h3 class="left_title">产品展示 · <span>product</span></h3>
			<ul>
				<li><a href="">一级列表</a></li>
				<li><a href="">一级列表</a></li>
				<li><a href="" class="cu">一级列表</a>
					<dl>
                       	<dd><a href="" class="cu1">二级分类页面</a></dd>
                       	<dd><a href="">二级分类页面</a></dd>
                       	<dd><a href="">二级分类页面</a>
	                       	<dl>
	                          	<dt><a href="" class="cu2">三级分类列表页</a></dt>
	                          	<dt><a href="">三级分类列表页</a></dt>
	                          	<dt><a href="">三级分类列表页</a></dt>
	                        </dl>
                       	</dd>
                   </dl>
				</li>
			</ul>
		</div>
		<div class="right f_r">
    		<h3 class="right_title">
	    		产品展示
	    		<i class="f_r">当前位置：<a href="">首页</a> - 产品展示</i>
    		</h3>
			<div class="info pro_det">
	    		<h5 class='title'>供应豪华单面易拉宝</h5>
				<div class="message">
					<a href="">[ 返回列表 ]</a>
				</div>
				<div class="focus">
					<ul class="pic">
						<li>
							<a href=""><img src="images/pro_det_03.jpg" height="327" width="400" alt=""></a>
						</li>
						<li>
							<a href=""><img src="images/pro_det_03.jpg" height="327" width="400" alt=""></a>
						</li>
						<li>
							<a href=""><img src="images/pro_det_03.jpg" height="327" width="400" alt=""></a>
						</li>	
					</ul>
					<a class="prev" href="javascript:void(0)"></a>
					<a class="next" href="javascript:void(0)"></a>
				</div>
				<p>
					<span>详细内容：</span>
					目前我们的客户服务中心为厦门泉州漳州龙岩及周边地区的百度客户在“咨询服务”“开户服务”、“关键字管理 ”到“效果跟踪报告”方面提供服务。让客户充分体验产品加上专业的服务才能在网络推广中获得效益。

				    易尔通于2005年成立专业网络营销顾问小组，由一批专业网络营销人员组成，我们凭借对互联网的深刻理解和同时根据厦门漳州龙岩地区客户对服务更高质量的要求易尔通客户服务中心再推出“网站建设服务”、 “ 网站优化服务 ”、“ 关键字效果分析服务 ” 到 “ 企业网络推广综合报告服务 ”一系列专业服务 ，保证让客户能从网络上获得最佳产品、品牌推广效果，让大量客户从网络中带来了前所未有的经济效益。一整套专业而高效的网络营销方案；定期免费为广大大中型企业举办“网络营销的核心与及在企业中的应用” 的专题讲座，让企业清楚知道如何最有效地利用网络来推广自己公司的产品及品牌知名度。
			    </p>
	    		
			    <div class="bbs">
                    <!-- JiaThis Button BEGIN -->
                        <div class="jiathis_style">
                            <span class="jiathis_txt">分享到：</span>
                            <a class="jiathis_button_qzone"></a>
                            <a class="jiathis_button_tsina"></a>
                            <a class="jiathis_button_tqq"></a>
                            <a class="jiathis_button_renren"></a>
                            <a class="jiathis_button_baidu"></a>
                            <a class="jiathis_button_douban"></a>
                            <a class="jiathis_button_tsohu"></a>
                            <a class="jiathis_button_taobao"></a>
                            <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                            <a class="jiathis_counter_style"></a>
                        </div>
                        <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                    <!-- JiaThis Button END -->
                </div>
				<div class='other'>
                    <h3><a href='###'>> 上一个：让您不用再为找不到原先服务的网络公司而担忧！</a></h3>
                    <h3><a href='###'>> 下一个：成为网络推广行业服务水平最专业的服务公司。</a></h3>
                </div>  
			</div>
		</div>
	</div>	
	<div class="link w">
		友情链接： <a href="">百度</a>  ·  <a href="">易尔通</a>  ·  <a href="">新浪</a>  ·  
		<a href="">腾讯</a>  ·  <a href="">花瓣网</a>  ·  <a href="">微博</a>  ·  
		<a href="">百度</a>  ·  <a href="">易尔通</a>  ·  <a href="">新浪</a>  ·  
		<a href="">腾讯</a>  ·  <a href="">花瓣网</a>  ·  <a href="">微博</a>
	</div>
	<div class="tail wap">
		<div class="footer w">	
			版权所有 © 厦门易尔通网络科技有限公司  
			技术支持：<a href="">厦门易尔通网络科技有限公司</a>
			人才支持：<a href="">厦门人才网</a> 闽ICP备88888888号
			<img src="images/top_03.png" height="39" width="39" alt="" class="fr">
		</div>
	</div>


<script type="text/javascript" src="js/jquery1.42.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.js"></script>

<!-- 导航 -->
<script type="text/javascript">

	(function(){
			var ind = 2; //初始位置
			var nav= jQuery(".nav");
			var init = jQuery(".nav .m").eq(ind);
			var block = jQuery(".nav .block"); //滑块
			block.css({"left":init.position().left-3}); //初始化滑块位置
			nav.hover(function(){},function(){ block.animate({"left":init.position().left-3},100); }); //移出导航滑块返回

			jQuery(".nav").slide({ 
					type:"menu", //效果类型
					titCell:".m", // 鼠标触发对象
					targetCell:".sub", // 效果对象，必须被titCell包含
					delayTime:300, // 效果时间
					triggerTime:0, //鼠标延迟触发时间
					returnDefault:true,//on返回初始位置
					defaultIndex:ind,//初始位置
					startFun:function(i,c,s,tit){ //控制当前滑块位置
						block.animate({"left":tit.eq(i).position().left-3},100);
					}
				});
	})()

</script> 



<!-- banner切换 -->
<script type="text/javascript">
		/*鼠标移过，左右按钮显示*/
		jQuery(".focusBox").hover(function(){ jQuery(this).find(".prev,.next").stop(true,true).fadeTo("show",1) },function(){ jQuery(this).find(".prev,.next").fadeOut() });
		/*SuperSlide图片切换*/
		jQuery(".focusBox").slide({ mainCell:".pic",effect:"fold", autoPlay:true, delayTime:600, trigger:"click"});
</script>

<!-- 滚动 -->
<script type="text/javascript">
		jQuery(".picMarquee-left").slide({mainCell:".bd ul",autoPlay:true,effect:"leftMarquee",vis:4,interTime:50});
</script>

<script type="text/javascript">
/* 使用js分组，每4个li放到一个ul里面 */
jQuery(".bdn li").each(function(i){ jQuery(".bdn li").slice(i*4,i*4+4).wrapAll("<ul></ul>");});


/* 调用SuperSlide，每次滚动一个ul，相当于每次滚动4个li */
jQuery(".txtScroll-left").slide({titCell:".hd ul",mainCell:".bdn .infoList",autoPage:true,effect:"left",autoPlay:true,scroll:2,vis:2,trigger:"click"});


</script>

<script type="text/javascript">
		/*SuperSlide图片切换*/
		jQuery(".focus").slide({ mainCell:".pic",effect:"fold", autoPlay:true, delayTime:600, trigger:"click"});
	</script>

</body>
</html>


