<div class="header">
    <div class="head">
        <div class="logo"><a href="{$site_url}"><img src="{$logo}" alt=""></a></div>
        <div class="tel">
            <div class="tel-txt">
                {$global.num_txt}
<!--                 <span>24小时</span>
                咨询热线： -->
            </div> 
            <p>{$contact.telephone}</p>     

        </div>

    </div>

</div>
<div class="menu">
    {$limit = 7}
    {if $navs|count lt $limit}{$limit = $navs|count}{/if}
    <ul class="nav">
        <li style="width:{100/($limit+1)}%">
            <a href="{$site_url}">网站首页</a>
        </li>
        {foreach name=navs item=nav from=$navs}
        <li class="{if $nav.current}on{/if}" style="width:{100/($limit+1)}%">
            <a href="{$nav.link}">{$nav.name}</a>

            {if $nav.childmenu}
                <div class="box">
                    <ul>
                        {foreach key=key item=nav_list from=$nav.childmenu}
                        <li class="{if $nav.current}current{/if}"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
                        {/foreach}
                    </ul>
                </div>
               
            {/if}                        
        </li>
        {if $nav@index+1 gte $limit}{break}{/if}
        {/foreach}

    </ul>
</div>



<div class="banner">
  <div id="slideBox" class="slideBox">
    <div class="hd">
      <ul>
        {foreach item=slidepic from=$global.slidepics}
          <li></li>                    
        {/foreach} 
      </ul>
    </div>
    <div class="bd">
      <ul>
        {foreach item=slidepic from=$global.slidepics}
          <li><a href="{$slidepic.link}"><img src="{$slidepic.image}"></a></li>                    
        {/foreach} 
      </ul>
    </div>
    <div class="btn">
        <a class="prev" href="javascript:void(0)"></a>
        <a class="next" href="javascript:void(0)"></a>                
    </div>

  </div> 
</div> 
<div class="note">
    <div class="public">
        <div class="notebox">
            <span>最新公告：</span>
            <div class="txtMarquee-top">
                <div class="hd">
                    <a class="next"></a>
                    <a class="prev"></a>
                </div>
                <div class="bd">
                    <ul class="infoList">
                        {foreach item=note from=$global.notes.data}
                            <li><a href="{$note.link}">{$note.title}</a></li>
                        {/foreach}
                    </ul>
                </div>
            </div>
            
        </div>   
        <div class="search">

            <form action="{$search_action}" method="GET">
                <div class="sinp"><input type="text" name="s" value="请输入搜索关键词"></div>
                <input class="sbtn" type="submit" value="搜索" />
            </form>
        </div>         
    </div>

</div>  



  