.top{ background:url(../images/top_bg.png) repeat #019675; position:relative; padding-bottom:20px; }
.top .bottom{ width:100%; height:60px; background:#01cead; position:absolute; bottom:0px; z-index:1;}
.top .bottom .middle{ width:85%; height:60px; background:#01644f; margin:auto;}
.daohang{ position:absolute; right:11%; top:7%;}
.baner{ width:75%; border-radius:50%; z-index:2; position:relative; margin:auto;}
.baner img{border-radius:50%; overflow:hidden;  width:100%; }
.slideBox{ position:relative; overflow:hidden; margin:0px auto; /* 设置焦点图最大宽度 */ }
.slideBox .hd{ width:100%; height:11px;  position:absolute; z-index:1; bottom:25px; text-align:center; }
.slideBox .hd ul{ display:inline-block; height:5px; padding:3px 5px; background-color:rgba(255,255,255,0.7); 
	-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; font-size:0; vertical-align:top;
}
.slideBox .hd ul li{ display:inline-block; width:5px; height:5px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#8C8C8C; margin:0 5px;  vertical-align:top; overflow:hidden;   }
.slideBox .hd ul .on{ background:#FE6C9C;  }
.slideBox .bd{ position:relative; z-index:0; }
.slideBox .bd li{ position:relative; text-align:center;border:10px solid #01cead; background-clip: border-box; border-radius:50%;   }
.slideBox .bd li img{  vertical-align:top; /* 图片宽度100%，达到自适应效果 */}
.slideBox .bd li a{ -webkit-tap-highlight-color:rgba(0,0,0,0);  }  /* 去掉链接触摸高亮 */
.slideBox .bd li .tit{ display: none; width:100%;  position:absolute; bottom:0; text-indent:10px; height:28px; line-height:28px; background:url(images/focusBg.png) repeat-x; color:#fff;  text-align:left;  }
.slideBox .prev,.slideBox .next{ display:none; }
.slideBox .next{ left:auto; right:14px;background: url(../images/next.png) left top no-repeat; background-size:16px 31px;  }


.box-top1{  line-height:40px; height:40px; color:#fff; position:relative; overflow:hidden; background:#019b79;}

.box-top1 .text{font-size:1.3em;  padding:0 10px; float:left; display:inline;  z-index:1; color:#fff; position:absolute; background:rgba(0,0,0,0.2);}
.box-top1 .text span{ display:block; font-size:.7em}


.box-id{ width:100%; height:auto;  margin:0px auto 0px; position:relative;}
.box-top{ height:auto; color:#fff; position:relative; overflow:hidden;  }
.box-top h1 { position:relative;}
.box-top .circle{ width:88px; height:88px; border:1px solid #e1a3b5; border-radius:44px; margin:auto; position:relative; z-index:3}
.box-top .circle a{ display:block; width:92px; text-align:center; line-height:44px; height:44px; background:#fff; color:#bf3960; font-size:18px; margin-top:25px; margin-left:-2px;}
.box-top .line{ width:42%; height:1px; background:#ce4970;  position:absolute; top:35%; left:30%; z-index:1}
.box-top .line:before{ font-size:12px; content:"<<"; position:absolute; color:#bf3960; width:17px; line-height:17px; height:17px; left:-25px; top:-9px; }   
.box-top .line:after{ font-size:12px; content:">>"; position:absolute; color:#bf3960; width:17px; line-height:17px; height:17px;right:-25px;  top:-9px;}  
 
.box-top .bottom{ font-size:12px;color:#bf3960; word-spacing:5px; margin:auto; width:206px; height:30px; line-height:30px; text-align:center; margin-top:20px; }



.box-nav{ width:100%; margin:auto; margin-top:20px; }
.box-nav ul{ margin:auto; width:95% }
.box-nav ul li{ float:left; width:15%; background:#019b79; border-radius:50%; overflow:hidden;  display:inline;  text-align:center; border:3px solid #fff; margin-left:2.5%}
.box-nav ul li.one{ margin-top:45px;}
.box-nav ul li.two{ margin-top:100px;}
.box-nav ul li.three{ margin-top:150px;}
.box-nav ul li.four{ margin-top:100px;}
.box-nav ul li.five{ margin-top:50px;}
.box-nav ul li a{ color:#fff; display:block; margin-top:42%; line-height:18px;}

.box-about{ width:88%; margin:4% 6%; }
.box-about h2{ color:#01644f; position:relative;}
.box-about h2 .num{ font-size:91px; font-family:Arial, Helvetica, sans-serif; line-height:normal;}
.box-about h2 .word{ font-size:14px; display:block; width:11%;  background:#d6f1df; position:absolute; left:2%; bottom:25px;z-index:11}
.box-about h2 .English{ font-size:14px;  font-family:Arial, Helvetica, sans-serif; position:absolute; left:13%; bottom:25px;z-index:11}
.box-about .inner{  line-height:27px; padding:10px; background:#ebf8ef; position:relative; }
.box-about .inner .text{ height:120px; overflow:hidden; margin-bottom:10px;}
.box-about .bottom{     width: 0;     height: 0;     border-left: 8px solid transparent;     border-right: 8px solid transparent;   
  border-top: 16px solid #fff;  margin:auto;margin-bottom:-25px;  }
.box-about .picture{ width:21%; border:3px solid #fff; border-radius:50%; margin:auto; margin-top:25px; overflow:hidden;}
.box-about .picture img{border-radius:50%;}

.box-product{ width:88%; margin:4% 6%; }
.box-product h2{ color:#01644f; position:relative;}
.box-product h2 .num{ font-size:91px; font-family:Arial, Helvetica, sans-serif; line-height:normal;}
.box-product h2 .word{ font-size:14px; display:block; width:11%;  background:#d6f1df; position:absolute; left:1%; bottom:25px;z-index:11}
.box-product h2 .English{ font-size:14px;  font-family:Arial, Helvetica, sans-serif; position:absolute; left:12%; bottom:25px;z-index:11}
.box-product .inner{ line-height:27px; padding:10px 0px 0px 0px; }
.box-product .inner ul{ margin:auto; width:80%;

  }
.animation1 {animation:newArrowAni1 4s alternate ;
-moz-animation:newArrowAni1 4s alternate; /* Firefox */
-webkit-animation:newArrowAni1 4s alternate; /* Safari and Chrome */
-o-animation:newArrowAni1 4s alternate;
}
  @-webkit-keyframes newArrowAni1{
	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes newArrowAni1{
	from {
		-moz-transform: rotate(0deg);
	}

	to {
		-moz-transform: rotate(360deg);
	}
}

.animation2 {border-radius:50%; overflow:hidden;
	animation:transform-2 2s ease-in-out alternate infinite; 
-moz-animation:transform-2 2s ease-in-out alternate infinite; /* Firefox */
-webkit-animation:transform-2 2s ease-in-out alternate infinite;/* Safari and Chrome */
-o-animation:transform-2 2s ease-in-out alternate infinite;
}
  @-webkit-keyframes transform-2{
	from {-webkit-transform:scale(1);}
	to {-webkit-transform: scale(1.3);}
}

@-moz-keyframes transform-2{
	from {-moz-transform: scale(1);}
	to {-moz-transform: scale(1.3);}
}

.animation3 {border-radius:0;
animation:myfirst 5s alternate infinite;
-moz-animation:myfirst 5s alternate infinite; /* Firefox */
-webkit-animation:myfirst 5s alternate infinite; /* Safari and Chrome */
-o-animation:myfirst 5s alternate infinite; /* Opera */
}

@keyframes myfirst
{
from {border-radius:10%;}
to {border-radius:50%;}
}

@-moz-keyframes myfirst /* Firefox */
{
from {border-radius:10%;}
to {border-radius:50%;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
from {border-radius:10%;}
to {border-radius:50%;}
}

@-o-keyframes myfirst /* Opera */
{
from {border-radius:10%;}
to {border-radius:50%;}
}


.box-product .inner ul li{ width:48%; float:left; border-radius:50% 50% 0% 50%; overflow:hidden; margin:2% 2% 0 0; box-shadow:2px 2px 2px #9fb0ab; position:relative; z-index:1}
.box-product .inner ul li.one{border-radius:50% 50% 0% 50%; }
.box-product .inner ul li.two{border-radius:50% 50% 50% 0; }
.box-product .inner ul li.three{border-radius:50% 0% 50% 50%; }
.box-product .inner ul li.four{border-radius:0% 50% 50% 50%; }
.box-product .inner ul li img{ width:100%;}



.box-news{ width:88%; margin:4% 6%; }
.box-news h2{ color:#01644f; position:relative;}
.box-news h2 .num{ font-size:91px; font-family:Arial, Helvetica, sans-serif; line-height:normal;}
.box-news h2 .word{ font-size:14px; display:block; width:11%;  background:#d6f1df; position:absolute; left:1%; bottom:25px;z-index:11}
.box-news h2 .English{ font-size:14px;  font-family:Arial, Helvetica, sans-serif; position:absolute; left:12%; bottom:25px;z-index:11}
.box-news .inner{ line-height:27px;}
.box-news .inner ul{ margin:auto; width:96%; margin-top:15%;}
.box-news .inner ul li{ width:31.8333%; float:left; height:200px; border-bottom:4px solid #01644f; margin-right:1.5%;  background:#fff; position: relative; }
.box-news .inner ul li .circle{ width:90%;  margin:auto;  margin-top:-50%; margin-bottom:5%;}
.box-news .inner ul li img{ width:100%;box-shadow:2px 2px 2px #9fb0ab;}
.box-news .inner .bottom{ width:90%;line-height:22px; margin:auto; height:55%;overflow:hidden;font-size:12px; }
.box-news .inner .bottom h2 { font-weight:bold;font-size:12px;  overflow:hidden; text-overflow: ellipsis;white-space: nowrap; }
.prolistb {
    position: relative;
    width: 100%;
    height: 100%;
}

.more{ position:absolute; right:-50px;width:95px; height: 50px; background: #0099d5; line-height:50px; font-size:12px; font-family:Arial, Helvetica, sans-serif; text-align:left; -moz-border-radius: 100px / 50px; -webkit-border-radius: 100px / 50px; border-radius: 100px / 50px; padding-left:5px; margin-top:15px; }
.more a{ display:block; color:#fff; }
.more-ny{ float:right; display:inline; padding:0px 3%;  height:40px;  text-indent:0px;  font-size:.9em; z-index:555; position:relative ; border-left:solid 1px rgba(255,255,255,0.3) ; color:#fff; }
.more-ny a{ display:block; color:#fff;}

.about-t{ width:99%;  -webkit-border-radius:5px;  -moz-border-radius:5px; border-radius:5px; s line-height:28px;  }

.about-m{ width:99%;  -webkit-border-radius:5px;  -moz-border-radius:5px; border-radius:5px; s line-height:28px; padding:0 20px; }
.about-m ul li{ width:46%;  background:#bf3960; float:left; margin-top:20px;box-shadow:2px 2px 2px #e0e0e0;}
.about-m ul li .left{ width:55%; float:left;}
.about-m ul li .right{ width:45%; position:relative; float:left;}
.about-m ul li .right .sanjiao{width:0;height: 0; border-top: 10px solid transparent;  border-left: 15px solid #fff;  
   border-bottom: 10px solid transparent; position:absolute; top:50%;}
.about-m ul li .right h2{ font-size:18px; color:#fff; margin-left:10px; margin-top:20px;}
.about-m ul li .right .text{ font-size:12px; color:#fff; line-height:22px;margin:30px 5px 0 5px;}
.about-m .bottom{ width:92%; background:#bf3960; height:30px; line-height:30px; margin-top:5px;}
.about-m .bottom a{ width:70px; height:30px; background:#ab2a4f; display:block; color:#fff; font-size:12px; text-align:center; float:left;}
.about-m .bottom .time{ width:180px; height:30px; background:#ab2a4f; display:block; color:#fff; font-size:12px; text-align:center; float:right;}


.about-t ul li{  width:97%;margin:20px 3px ; height:auto}

.about-t ul li:nth-child(2n) .left{ float:right; margin-right:0px; }
.about-t ul li:nth-child(2n) .right{ float:left; margin-right:10px;}
.about-t ul li .left{ width:58%; height:100px; float:left;  margin-right:10px; position:relative;}
.about-t ul li:nth-child(2n) .left .one{ color:#28a6e1; font-size:40px; position:absolute; left:15% }
.about-t ul li:nth-child(2n) .left .two{ font-size:15px; color:#28a6e1; position:absolute; left:25%; top:8%;}
.about-t ul li:nth-child(2n) .left .text{ width:73%; font-size:12px; position:absolute; left:15%; top:40%; line-height:20px;}

.about-t ul li .left .one{ color:#28a6e1; font-size:40px; }
.about-t ul li .left .two{ font-size:15px; color:#28a6e1; position:absolute; left:8%; top:8%;}
.about-t ul li .left .text{ width:73%; font-size:12px; position:absolute; left:1%; top:40%; line-height:20px;}

.about-t ul li .right{ width:40%; float:left;  }
.about-t ul li .right .one{ background: red; border:2px solid #fff; text-align:center; line-height:140px;border-radius:70px;color: #fff;display: block; height: 140px;margin: auto;width: 140px; position:relative;}
.about-t ul li .right .one img{border-radius:50%; position:relative; z-index:3;border:2px solid #fff;}
.about-t ul li .right .one:before{ position:absolute;content: ""; width:100px; height:100px ; top:-5px; left:-10px; background:#6e93a1 ; border-radius:50%;z-index:2;}
.about-t ul li .right .one:after{position:absolute;content: ""; width:100px; height:100px;top:-5px; right:-10px ;background:#6e93a1 ;border-radius:50%;z-index:1}

.about-edite{ height: auto; max-height:72px;line-height:24px; overflow:hidden;}
.about-img{ width:99%; height:auto; overflow:hidden; padding-top:6px;}
.about-img img{ vertical-align:top; max-width:100%;display: block;margin: auto;}

@media screen and (min-width: 320px) and (max-width: 480px){
.box-nav ul li{ }
.box-nav ul li.one{ margin-top:30px;}
.box-nav ul li.two{ margin-top:60px;}
.box-nav ul li.three{ margin-top:90px;  width:17%;}
.box-nav ul li.four{ margin-top:60px;}
.box-nav ul li.five{ margin-top:30px;}
.box-nav ul li a{ margin-top:25%; font-size:12px;}
.box-about h2 .word{ width:20%; bottom:20px;}
.box-about h2 .English{ left:23%;bottom:20px;}
.box-about h2 .num{ font-size:70px;}
.box-about .inner .text{height:72px; line-height:24px; overflow:hidden; font-size:12px; }

.box-product h2 .word{ width:20%; bottom:20px;white-space: nowrap;overflow: hidden;}
.box-product h2 .English{ left:23%;bottom:20px;}
.box-product h2 .num{ font-size:70px;}
.box-product .inner .text{height:190px; font-size:12px;}


.box-news h2 .word{ width:20%; bottom:25px;white-space: nowrap;overflow: hidden;}
.box-news h2 .English{ left:23%;bottom:25px;}
.box-news h2 .num{ font-size:70px;}
.box-news .inner .text{height:190px; font-size:12px;}


.box-news .inner ul li{ height:150px;}
.box-news .inner .bottom{ height:78%; line-height:20px;}


}




@media screen and (min-width: 480px) {
	.box-contact .right .bottom{ font-size:14px; line-height:28px;}
}

.Wedding-edite{ height: auto; max-height:48px; overflow:hidden;}

.ny-menu { position: relative; }

ul.picture1{ width:100%; height:auto; overflow:hidden;  }
ul.picture1 li{height:auto; overflow:hidden; float:left; display: inline;  width:25%;}
ul.picture1 li div{ height:auto; overflow:hidden; position:relative;}
ul.picture1 li:nth-child(1){ width:50%;}
ul.picture1 li a{ display:block; color:#fff;}

ul.picture{ width:100%; height:auto; overflow:hidden;  }
ul.picture li{ margin:5px 0px; height:auto; overflow:hidden; float:left; display: inline; width:33%;}
ul.picture li div{ margin:0px 4px; height:auto; overflow:hidden; padding:5px;  }
ul.picture li div .img{ border:3px solid #fff;  overflow:hidden;box-shadow:0px 0 5px #b2b2b2;}
ul.picture li div .title{height:50px; text-align:right;  width:94%; margin:auto;  }
ul.picture li div .title .price{ display:block; border-top:solid 1px #c1c1c1; font-size:.9em; color:#999;}
ul.picture li a{ display:block; color:#333;}

ul.picture2{ width:100%; height:auto; overflow:hidden;  }
ul.picture2 li{ margin:4px 0px; height:auto; overflow:hidden; float:left; display: inline;}
ul.picture2 li div{ margin:0px 4px; height:auto; overflow:hidden; position:relative; }
ul.picture2 li div .title{height:30px; line-height:30px; text-align:center;  width:100%; opacity:0.7; color:#fff; position:absolute; bottom:0px; left:0px; opacity:.8; background:rgba(1,100,79,1)}
ul.picture2 li div .title1{height:30px; line-height:30px; text-indent:8px; width:100%; background:rgba(0,0,0,0.5); color:#fff; position:absolute; bottom:0px; left:0px;  }
ul.picture2 li a{ display:block; color:#fff;}


@media screen and (min-width: 320px) and (max-width: 480px){
ul.picture2 li{ width:50%}
ul.picture li{ width:50%;}
ul.news-list1 li .news_content p{ height:47px; line-height:16px;}
}
@media screen and (min-width: 480px) {
ul.picture2 li{ width:33%}
ul.news-list1 li .news_content p{ height:40px; line-height:22px;}
}

ul.news-list1{ margin:0px; margin-top:30px; padding:0px; }
ul.news-list1 a{ color:#555555}
ul.news-list1 li{ margin-bottom:8px; overflow:hidden; padding:1px; background:rgba(0,0,0,.01)}
ul.news-list1 li .news_img{ float:left; width:25%; margin-right:3%; }
ul.news-list1 li .news_content{ float:left; width:70%; margin-right:2%; height:95%; overflow:hidden}
ul.news-list1.nopic li .news_content{ width:100%}
ul.news-list1 li .news_title b{ white-space:nowrap; text-overflow:ellipsis; overflow:hidden; float: left; width:100px; font-size:1.1em; color:rgba(122,43,43,1); font-weight:normal; padding-top:3px;}
ul.news-list1 li .news_title span{ float:right; font-size:0.9em; font-weight:normal}
ul.news-list1 li .news_content p{ margin-top:5px; font-size:.9em}

.edite{ height:auto; overflow:hidden; padding:10px 10px 10px 10px ; width:92%}
#up{ display: none;}
.hide-class{background:#fff7f6; border:1px solid #efe4e2; height:auto; overflow:hidden; display:none; padding:4px 0px;}
.hide-class dl{ height:30px; overflow:hidden; line-height:30px; }
.hide-class dl a{ display:block;padding:0px 12px; color:#333}
.hide-class dl a:active {background:rgba(0,0,0,0.2);}
.nav3 a{ text-indent: 1em;}
.nav4 a{ text-indent: 2em;}
.font{ width:40px; text-align:center;background:#fff7f6;position:absolute; top:43px; right:0px; display:none;}
.font dl{ height:30px; line-height:30px; color:#333; text-align:center; }
.font dl.big,.font-big{ font-size:1.3em; }
.font dl.normal,.font-normal{ font-size:1.0em;}
.font dl.small,.font-small{ font-size:0.9em;}


ul.news-list{ margin:0px; padding:0px; height:auto; overflow:hidden;}
ul.news-list li a{ width:100%; text-indent:25px; float:left; display:inline;height:32px; border-bottom:1px dotted #dbdbdb;  overflow:hidden; line-height:32px; color:#333333; position:relative;background:url(../images/news_ico.png) no-repeat 5px; background-size:auto 30%; }
ul.news-list li a:before{ top:5px; left:0px; text-indent:0px; height:28px; line-height:23px; font-size:0.7em; color:#cccccc}
.date{ float:right; display:inline;}

.next1{ clear:both; height:auto; overflow:hidden; text-align:center; padding:10px 0px;margin:5px 7px; }
.next1 a{ padding:2px 5px;background:#ffffff; color:#7d695d; margin:0px 5px; border:1px solid #dbdbdb;}

.news_detail{ height:auto; overflow:hidden; padding:10px 0px 0px; }
.news_detail .title1{ height:auto; overflow:hidden; text-align:center; font-size:1.2em;}
.news_detail .title2{ height:30px; text-align:center; border-bottom:1px dotted #dfdfdf}

.back{ padding:0px 10px; font-size:0.8em; height:40px; overflow:hidden;background:#01644f; text-indent:0px; color:#fff; float:left; display:inline; position:relative; z-index:555}
.back a{ color:#fff; display:block;}
.room_d_i{ margin:15px 30px 0px; border:1px solid #d5d5d5; height:auto; overflow:hidden;}
.room_t{  font-size:16px; color:#fff; height:30px; line-height:30px; text-align:center; margin:8px 29px 0px; background:#b1b930 }
.room_detail-t{ height:30px; line-height:30px; margin:10px auto 0px; overflow:hidden; text-indent:7px; color:#d94f1e;  font-size:1.2em; border-bottom:1px dotted #dfdfdf; }

.next2{ border-top:1px dotted #dfdfdf; height:auto; overflow:hidden; padding:5px 0px; }
.next2 dl{ height:auto; overflow:hidden;}
.next2 dl a{ color:#333;}
.fixed-top{ width:100%; position: absolute; top:0px; left:0px; z-index:2; text-align:center; color:#fff; text-indent:0px; opacity:1;   }
.fixed-top:after{display:block; content:""; height:40px; width:100%; position:absolute; top:0; }
.fixed-top div{ position:relative; z-index:1; background:#037c62;}

.ny-wrap{ margin:50px auto 0px;}
.fix-font{ position: absolute; right:0px; top:40px; z-index:99999}

.bigimgbox { height: auto; margin: 10px auto; overflow: hidden;  width: 80%;}


@keyframes opacity{
0%{ opacity:0}
100%{ opacity:1}
}
@-webkit-keyframes opacity{
0%{ opacity:0}
100%{ opacity:1}
}
@-o-keyframes opacity{
0%{ opacity:0}
100%{ opacity:1}
}
@-moz-keyframes opacity{
0%{ opacity:0}
100%{ opacity:1}
}


.bigimg{ width:75%; border-radius:50%; z-index:2; position:relative; margin:auto;}
.bigimg img{border-radius:50%; overflow:hidden;  width:100%; }}