<!DOCTYPE html>
<html>
<head>
<script type="text/javascript">
		// 跳转PC页面
		{if $site_another_url}
			if (!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
				location.href = '{$site_another_url}';
			}
		{/if}
		</script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--  -->
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta content="telephone=no" name="format-detection">
<title>{$title}</title>
<link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />
<link href="{$site_url}css/swipe.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{$site_url}css/public.css" /> 
<script src="{$site_url}js/TouchSlide.1.1.js"></script>
<script src="{$site_url}js/jquery.min.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
<script type="text/javascript" src="{$site_url}js/share.js"></script>
<script src="{$site_url}js/idangerous.swiper-2.0.min.js"></script>
<script src="{$site_url}js/simple-app.js"></script>

</head>

<body>


<h1 class="boxmain-top fixed-top"><span class="back"><a href="javascript:window.history.back()">返回</a></span><span class="more2" id="font">字+</span>{$article.category.name}</h1>
<div class="font fix-font">
      <dl class="big">大</dl>
      <dl class="normal">中</dl>
      <dl class="small">小</dl>
  </div>

    <section>
    	<div class="boxmain ny-wrap">
        	<div class="bigimgbox">
            	<div class=" bigimg">
                	<div id="slideBox" class="slideBox">
    <div class="hd">
            <ul></ul>
              </div>
	<div class="bd">
		<ul>
		{foreach name=image item=image from=$article.images}
			<li><a class="pic"><img src="{$image.image}" /></a></li>
			{/foreach}
		</ul>
	</div>
	
			</div>
			
                </div>
                <dt class="bigimgtitle">{$article.title}</dt>
            </div>	
            <div class="prodetail">
            	<h1 class="title2">产品详情：</h1>
                <div class="edite" style="border-bottom:1px solid #bababa">     {$article.content|unescape:"html"}</div>
                <div class="next1"><a href="{$article.prev.link}">上一个</a><a href="{$article.next.link}">下一个</a></div>
            </div>
        </div>
        <div class="boxmain relate">
        	<h1 class="boxmain-top relate-top">相关产品</h1>
            <div class="relate-m" style="height:116px; overflow:hidden;">
            	<div class="swiper-container thumbs-cotnainer">
		<div class="swiper-wrapper">
		{foreach item=article from=$related}
			<div class="swiper-slide">
				<div class="related-list1"><a href="{$article.link}"><img src="{$article.image}" width="176" height="176"><dt>{$article.title}</dt></a></div>
			</div>
			{/foreach}
            
		</div>
	</div>
            </div>
        </div>
        	
    </section>
    <footer class="foot"><div class="back-top" id="quickbar-backtotop"><A href="#">TOP</A></div>版权所有：{$footprint}</footer>

{$footscript}

</body>
</html>
