      <div class="opacity2"></div>
      <div class="PathInner" id="PathMenu">
        <div class="PathMain" onclick="PathRun();">
          <span class="pathbox2">
            <img src="{$site_url}images/G.png" width="33" height="33"></span>
        </div>
        {foreach item=bottomnav from=$global.bottom_navs}
        <div class="PathItem">
          <span class="item">
          <div class="icon">{if $bottomnav.icon}<i class="iconfont">{$bottomnav.icon}</i>{else}<img src="{$bottomnav.image}" width="30">{/if}</div>
            <dt class="title"><a href="{$bottomnav.link}">{$bottomnav.name}</a></dt>
          </span>
        </div>
        {if $bottomnav@index eq 2}{break}{/if}
        {/foreach}
        <div class="PathItem" onclick="javascript:window.location.href='{$site_url}'">
          <dl class="item">
            <img src="{$site_url}icon/f_i2.png" height="20">
            <dt class="title">首页</dt>
          </dl>
        </div>
      </div>