<!DOCTYPE html>
<html>
<head>
    <!-- 实时预览调试代码，模板开发完成后删除 -->
    
    <!-- 调试代码 End -->
    <script type="text/javascript">
        // 跳转PC页面
        {if $site_another_url}
            if (!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
                location.href = '{$site_another_url}';
            }
            {/if}
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no, email=no" name="format-detection">
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <meta name="keywords" content="{$keywords}" />
    <meta name="description" content="{$description}" />
    <link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
    <title>{$title}</title>
    <link rel="stylesheet" href="{$site_url}css/animate.min.css"/>
    <link rel="stylesheet" href="{$site_url}css/swiper-3.4.1.min.css"/>
    <link rel="stylesheet" href="{$site_url}css/public.css"/>

    <script src="{$site_url}js/swiper-3.4.1.min.js"></script>
    <script src="{$site_url}js/jquery-1.9.1.min.js"></script>
    <script src="{$site_url}js/function.js"></script>
    <script type="text/javascript">
        window.addEventListener('load', function(){
            setTimeout(function(){ window.scrollTo(0, 1); }, 100);
        });//safari浏览器可以通过此代码来隐藏地址栏
    </script>
</head>
<body>
<div class="index-wrap">
    {include file="./_header.html"}
    <div class="aside">
        <div class="aside_banner">
            <div class="swiper-container3">
                <div class="swiper-wrapper">
                    {foreach item=slidepics from=$global.aside_slidepics}
                    <div class="swiper-slide"><a href="{$slidepics.link}"><img src="{$slidepics.image}" alt=""/></a></div>
                    {/foreach}
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="aside_c">
            <div class="aside_title">
                <div class="xian"><span></span></div>
                <div class="sort iconfont">分类&#xe644;</div>
                <h3 class="as_h3">{$list.name}</h3>
            </div>
            {include file="./_aside.html"}
            <div class="list-imagetext">
                <div class="content">
                    <ul>
                        {foreach item=article from=$list.data}
                        <li>
                            <a href="{$article.link}">
                                <div class="img middle">
                                    <img class="max" src="{$article.image}" alt=""/>
                                </div>
                                <div class="detail">
                                    <h3 class="h3">{$article.title}</h3>
                                    <p>{$article.description}</p>
                                    <div class="b"><span class="more">MORE</span><span class="rq">{$article.pubtimestamp|date_format:'%Y.%m.%d'}</span></div>
                                </div>
                            </a>
                        </li>
                        {/foreach}
                    </ul>
                </div>
                <div class="page">
                    <div class="list">
                        <span><a href="{$page_links.first_link}" class="public_color">首页</a></span>
                        <span><a href="{$page_links.prev_link}" class="public_color">上一页</a></span>
                        <span><a href="{$page_links.next_link}" class="public_color">下一页</a></span>
                        <span><a href="{$page_links.last_link}" class="public_color">尾页</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {include file="./_footer.html"}
</div>
</body>
</html>