<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript">
    // 跳转手机页面
    {if $site_another_url}
    if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
        location.href = '{$site_another_url}';
    } {/if}
    </script>

<meta http-equiv="x-ua-compatible" content="ie=7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />
<script src="{$site_url}js/MSClass.js" type="text/javascript"></script>
<script type="text/javascript" src="{$site_url}js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="http://common.mn.sina.com.cn/public/resource/lib/jquery.jcarousellite.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.kinMaxShow-1.0.min.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>

<title>{$title}</title>
{$headscript}
</head>
<body>
    {include file='./_header.html'}

 <div id="container" class="clearfix wrapper">
 
 <div id="about" >
 <div class="title"><b>	{$index.about.name}</b><span>{$index.about.en_name}</span></div>
 <div class="inner clearfix">
 <div class="a_l">
 <h2>{$index.about.description}</h2>
<span><a href="{$index.about.link}"><img src="{$site_url}images/mo.jpg" width="97" height="22" /></a></span>
 
 </div>
 <div class="a_r"><img src="{$index.about.image}" width="440" height="195" /></div>
 
 
 
 
 </div>
 
 
 </div>
 
 
 <div id="pro">

 <div class="title"><h1>{$index.pro.name}</h1><span><a href="{$index.pro.link}"><img src="{$site_url}images/mo2.png" width="79" height="17" /></a></span></div>

 <div class="inner">
 <ul class="clearfix" id="MarqueeDiv1">
{foreach name=pro item=pro from=$index.pro.data}
 <li><a href="{$pro.link}"><img src="{$pro.image}" /></a></li>
 {/foreach}
</ul>
 
 
 
 </div>
 
 </div>
 
 
 <div id="news">
 <div class="title">{$index.news.name}</div>
<div class="inner clearfix">

{foreach name=news item=news from=$index.news.data}
    <div class="clearfix nw">
<div class="np"><img src="{$news.image}"/></div>
<div class="wz">
<h2><span><a href="{$news.link}">[{$news.pubtimestamp|date_format:'%Y/%m/%d'}] </a></span>{$news.title}</h2>
<p><a href="{$news.link}">{$news.description}
</a></p></div>
</div>
{if $news@index+1 == 4}{break}{/if}
{/foreach}











</div>
 
 </div>
 
 
 
 
 </div>
 
 



{include file="./_footer.html"}
</body>
</html>
