
<div id="header" class="wrapper clearfix">
    <div class="logo"><img src="{$logo}" alt="{$title}" /></div>



<div class="ser clearfix">
       <form action="{$search_action}" method="GET">
          <input type="text" name="s" value="" class="search_area" />
       <input type="submit" class="search_btn"  value="搜索"/>
        </form>
</div>
</div>



<div id="nav" class="wrapper">
  <ul class="clearfix">
            {$limit = 8}
            {if $navs|count lt $limit}{$limit = $navs|count}{/if}
            <li class="aa" style="width:{100/($limit+1)}%">
                <a href="{$site_url}">网站首页</a>
            </li>
            {foreach name=navs item=nav from=$navs}
            <li class="fl{if $nav.current} current{/if} aa" style="width:{100/($limit+1)}%">
                <a href="{$nav.link}">{$nav.name}</a>
                <ul class="sub clearfix">
                    {if $nav.childmenu} {foreach key=key item=nav_list from=$nav.childmenu}
                    <li class="{if $nav.current}current{/if} cc"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
                    {/foreach} {/if}
                </ul>
            </li>
            {if $nav@index+1 eq $limit}{break}{/if}
            {/foreach}
        </ul>
</div>






<div id="banner">
<!--100%-->
  <div class="banner_box">
    <div id="kinMaxShow" style="display:none;"> {foreach name=slidepics item=slidepic from=$global.slidepics}
      <div> <a href="{$slidepic.link}" target="_blank"><img src="{$slidepic.image}" alt="{$slidepic.title}"  /></a></div>
      {/foreach} </div>
  </div>
  
  
</div>
