<div class="htop">
  <header class="head">
      <div class="logo"><img src="{$logo}"></div>
      <div class="icon-bg"></div>
      <i class="iconfont">&#xe603;</i>
  </header>
  <!-- banner -->
   <div class="banner"> 
      <div class="swiper-container swiper-banner">
          <ul class="swiper-wrapper banner-img">
            {foreach item=slidepic from=$global.slidepics}
              <li class="swiper-slide"><a class="pic" href="{$slidepic.link}"><img src="{$slidepic.image}"/></a></li>
            {/foreach}
          </ul>
          <!-- Add Pagination -->
          <div class="swiper-dote"><ul></ul></div>
      </div>
   </div>
   <div class="navs">
        <ul>
          {foreach item=nav from=$navs}
           <li><a href="{$nav.link}">{$nav.name}</a></li>
          {/foreach}
        </ul>
   </div> 
</div>