
<div class="header">
	<div class="logo wow wobble"><a href="{$site_url}"><img src="{$logo}"/></a></div>
	<div class="navBar wow fadeInDown">
		<ul class="nav clearfix">
			{foreach name=navs item=nav from=$navs}
			<li class="m {if $nav.current}on{/if} nav_li" style="width:{100/(($navs|count))}%">
				<a href="{$nav.link}" class="kz" data-limit="6"><em>0{$nav@index+1}</em>{$nav.name}<em></em></a>
				{if $nav.childmenu}
					<ul class="sub">
						{foreach key=key item=nav_list from=$nav.childmenu}
						<li><a class="kz" data-limit="20" href="{$nav_list.link}">{$nav_list.name}</a></li>
						{/foreach}
					</ul>
				{/if}
			</li>
			{/foreach}
		</ul>
	</div>
</div>
