<div class="box fl">

{if $pagenavs}
	<h2 class="titt1"><em>{$posnavs[0].en_name}</em>{$posnavs[0].name}</h2>
	<ul class="first">
		{foreach item=nav from=$pagenavs}
		<li>
			<a href="{$nav.link}" class="{if $nav.current}box-on{/if}"><i></i><span>{$nav.name}</span></a>
			{if $nav.childmenu}
			<ul class="second">
				{foreach item=nav_list from=$nav.childmenu}
				<li>
					<a href="{$nav_list.link}">{$nav_list.name}</span></a>
					{if $nav_list.childmenu}
					<ul class="third">
						{foreach item=nav_last from=$nav_list.childmenu}
							<li><a href="{$nav_last.link}">{$nav_last.name}</a></li>
						{/foreach}
					</ul>
					{/if}
				</li>
				{/foreach}
			</ul>
			{/if}
		</li>
		{/foreach}
	</ul>
{else}  <!-- 无子栏目时 -->
	<h2 class="titt1"><em>{$_pagenavs_sub3.pagenavs.en_name}</em>{$_pagenavs_sub3.pagenavs.name}</h2>
	<ul class="first">
		{foreach item=nav from=$_pagenavs_sub3.pagenavs.childmenu}
		<li>
			<a href="{$nav.link}"><i></i><span>{$nav.name}</span></a>
			{if $nav.childmenu}
			<ul class="second">
				{foreach item=nav_list from=$nav.childmenu}
				<li>
					<a href="{$nav_list.link}">{$nav_list.name}</span></a>
					{if $nav_list.childmenu}
					<ul class="third">
						{foreach item=nav_last from=$nav_list.childmenu}
							<li><a href="{$nav_last.link}">{$nav_last.name}</a></li>
						{/foreach}
					</ul>
					{/if}
				</li>
				{/foreach}
			</ul>
			{/if}
		</li>
		{/foreach}
	</ul>
{/if}
</div>
			

