body{ color:#8b8787; font-family:Microsoft Yahei,Arial, Helvetica, sans-serif; background:#fff;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ol,pre,form,input,textarea{margin:0;padding:0; list-style:none; line-height:24px; font-size:12px; font-weight:normal}
ul,li{margin:0; padding:0;list-style:none; font-weight:normal;}
a{ color:#666; text-decoration:none; }
a:hover{ color:#eb6100; } 
img{ border:none;}
.clearfix:after { content:'\20'; display:block; height:0; clear:both; }
.clearfix { *zoom:1; }

.wrapper{width:1080px; margin:0 auto; }

display:block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;
strong{display: block;margin: 0 auto;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

#header{ height:125px; position:relative;}

#logo{width:475px;height:125px;float:left; position:relative;}
#logo a{display:block;width:475px;height:125px;position:absolute;bottom: 0px; left:0;}
#logo img{max-width:475px; max-height:125px; position:absolute; top:0; left:0; right:0; bottom:0; margin:auto}

.search{ width:215px; position:absolute; right:0; top:28px; border:2px #eb6100 solid; border-radius:9px; height:27px; overflow:hidden;}

.search_area{ float:left; width:165px; background:none; border:none; height:27px; line-height:27px; color:#b9b9b9; text-indent:10px;}

.search_btn{ float:right; width:50px; background:#eb6100 url(../images/sou_td.png) no-repeat 12px 3px; border:none;  height:27px; overflow:hidden;}

.tel{ max-width:395px; float:right; margin-top:69px; display:inline; background:url(../images/tel.png) no-repeat 5px; padding-left:50px; font-size:28px; line-height:32px; height:32px; overflow:hidden; color:#eb6100; } 


#nav_bg{ width:100%; background:#eb6100; height:55px;}

#nav ul li { float:left; height:55px;}
#nav ul li a{ color:#FFF; font-size:14px; padding:0 10px; display:block;}
#nav ul li a:hover{ background:url(../images/nav_bg.png) no-repeat center; }
#nav ul li p{ height:55px; overflow:hidden; line-height:55px; text-align:center;}

#nav ul li .cc{background:#cd5006;height:40px; line-height:40px;display:none; text-align:center; 
width:100%; position:relative; z-index:100; margin-top:0px; }
#nav ul li .cc:hover{}
#nav ul li .cc a{width:92%; margin:auto;color:#fff; padding:0 4%; overflow:hidden; height:40px; line-height:40px;}
#nav ul li .cc a:hover{ color:#fff;}

#banner{ width:100%; height:400px; overflow:hidden;}

#container_bg{ margin-bottom:30px;}


.about_bg{ background:url(../images/about_bg.jpg) repeat-x; height:330px;}

.about{ padding-top:30px;}

.about .about_text{ display:inline-block; vertical-align:top;*display:inline;*zoom:1; line-height:46px; height:230px; overflow:hidden; margin-top:5px; margin-right:65px;}

.about .about_text .title{ position:relative; margin-bottom:6px;}

.about .about_text .title_in{ font-size:24px; color:#eb6100; line-height:54px; height:54px; overflow:hidden; border-bottom:1px #d8d8d8 solid;}

.about .about_text .title_in span{ float:right; background:url(../images/more.png) no-repeat; font-size:14px; text-indent:30px; line-height:20px; height:20px; overflow:hidden; margin-top:20px; margin-right:5px; display:inline;}
.about .about_text .title_in span a{ color:#2d2e2e; font-weight:bold;}

.about .about_text .line{ width:95px; border-bottom:3px #eb6100 solid; position:absolute; left:0; bottom:-1px;}

.about .about_img{ display:inline-block;*display:inline;*zoom:1; height:250px; overflow:hidden; }
.about .about_img img{ height:100%; display:block; }


.news{}

.news .title{ position:relative; margin-bottom:6px;}

.news .title_in{ font-size:24px; color:#eb6100; line-height:54px; height:54px; overflow:hidden; border-bottom:1px #d8d8d8 solid;}

.news .title_in span{ float:right; background:url(../images/more.png) no-repeat; font-size:14px; text-indent:30px; line-height:20px; height:20px; overflow:hidden; margin-top:20px; margin-right:20px; display:inline;}
.news .title_in span a{ color:#2d2e2e; font-weight:bold;}

.news .title .line{ width:95px; border-bottom:3px #eb6100 solid; position:absolute; left:0; bottom:-1px;}

.news .inner{ margin-top:22px;}

.news .news_text{ display:inline-block; vertical-align:top;*display:inline;*zoom:1; line-height:46px; height:275px; overflow:hidden;}

.news .news_text ul{}
.news .news_text ul li{ height:65px; overflow:hidden; margin-bottom:35px;}

.news .news_text ul li a b{ background:url(../images/icon1.jpg) no-repeat 0 8px; float:left; width:29px; font-size:26px; font-weight:normal; padding:6px 10px 0 13px; margin-right:15px; display:inline; color:#fff; line-height:54px; height:54px; overflow:hidden;}

.news .news_text ul li a:hover b{ background:url(../images/icon2.jpg) no-repeat 0 8px;} 

.news .news_text ul li a p{ font-size:14px; color:#eb6100; line-height:24px; height:24px; overflow:hidden;}
.news .news_text ul li a p span{ float:right; margin-right:14px;}

.news .news_text ul li a h3{ color:#8b8787; line-height:22px; height:44px; overflow:hidden;}

.news .news_img{ display:inline-block;*display:inline;*zoom:1; height:275px; margin-right:40px; overflow:hidden; }
.news .news_img img{ height:100%; display:block; }

.case{}

.case .title{ position:relative; margin-bottom:6px;}

.case .title_in{ font-size:24px; color:#eb6100; line-height:54px; height:54px; overflow:hidden; border-bottom:1px #d8d8d8 solid;}

.case .title_in span{ float:right; background:url(../images/more.png) no-repeat; font-size:14px; text-indent:30px; line-height:20px; height:20px; overflow:hidden; margin-top:20px; margin-right:20px; display:inline;}
.case .title_in span a{ color:#2d2e2e; font-weight:bold;}

.case .title .line{ width:95px; border-bottom:3px #eb6100 solid; position:absolute; left:0; bottom:-1px;}

.case .inner{ margin-top:30px;}
.case .inner ul li{ float:left; margin-right:10px; }
.case .inner ul li a{ height:250px; overflow:hidden; position:relative; display:block}
.case .inner ul li a:hover{}

.case ul li .bg{ position:absolute; left:0; top:0; width:100%; height:285px; z-index:10; }

.case ul li .word{ position:absolute; text-align:center; left:50%; height:36px; overflow:hidden; line-height:36px; z-index:1000; background:#e5670d; color:#FFFFFF;}

.case .inner ul li .pic{ width:250px;height:250px; overflow:hidden;}
.case .inner ul li .pic img{ display:block; }

.case .bd{ width:1080px; height:250px; overflow:hidden;}


#footer{}

.link{ margin-top:35px;}

.link .title{ width:130px; float:left; height:68px; overflow:hidden; border:1px #7d7c7d dashed; border-left:none; border-right:none;}
.link .title b{ margin-top:12px; color:#000000; font-size:24px; font-weight:normal; line-height:24px; height:24px; overflow:hidden; display:block; background:url(../images/link.jpg) no-repeat 3px; text-indent:25px; }
.link .title p{ width:95px; padding-left:24px; color:#8e8e8e; text-align:right; font-size:16px; height:18px; line-height:18px; overflow:hidden; text-transform:uppercase; padding-top:5px;}

.link .inner{ float:right; width:925px; overflow:hidden; color:#3f3f3f; }

.link .inner a{ color:#3f3f3f;}
.link .inner a:hover{ color:#eb6100}

.copyright_bg{ background:#eb6100; margin-top:40px; }
.copyright{ padding:12px 0; text-align:center; color:#FFFFFF;}
.copyright a{ color:#FFFFFF;}


#sub_container{ }



/*sidebar css*/
.sidebar{ width:241px; float:left; display:inline;}

.subnav{ position:relative;}

.subnav .alefttitle{ background:url(../images/alefttitle.jpg) no-repeat; width:241px; height:117px; overflow:hidden; color:#FFF; top:-25px; position:absolute; z-index:20000}
.subnav .alefttitle p{ width:207px; margin:24px 10px 0 24px; font-size:36px; line-height:36px; height:36px; overflow:hidden; color:#FFF; text-transform:uppercase; }
.subnav .alefttitle b{width:207px; margin:6px 10px 0 24px; font-size:20px; font-weight:normal; line-height:20px; height:20px; overflow:hidden; display:block;}

.category{ width:241px; margin:auto; padding-top:100px; padding-bottom:30px;}
.category ul{}
.category ul li .firsta{ border-bottom:1px #dbdada solid; line-height:44px; height:44px; overflow:hidden; display:block;}
.category ul li a.firsta{ color:#625e5e; width:188px; padding-left:38px; padding-right:15px; font-size:14px; background:url(../images/firsta.png) no-repeat 18px 18px; border-left:2px #dbdada solid;} 
.category ul li a:hover.firsta{background:url(../images/firsta.png) no-repeat 18px 18px; border-left:2px #eb6100 solid; display:block;}


ul.second li .seconda{ background:url(../images/seconda.png) no-repeat 32px 16px; border-bottom:1px #dbdada dashed; display:block; line-height:44px; height:44px; overflow:hidden; padding-left:54px; padding-right:15px; width:173px; margin:auto;}
ul.second li a.seconda{ color:#888585; }
ul.second li a.seconda:hover{}

ul.second li .thirda{ background:url(../images/thirda.png) no-repeat 55px 16px; border-bottom:1px #dbdada dashed; display:block; line-height:44px; height:44px; overflow:hidden; padding-left:75px; padding-right:15px; width:151px; margin:auto;}
ul.third li a.thirda{ color:#888585; }
ul.third li a.thirda:hover{ color:#eb6100}




/*main css*/
.main{ float:right; width:760px; margin-right:45px; display:inline; }


.crumb{   margin-top:40px;  background:url(../images/crumb.jpg) no-repeat bottom;  overflow:hidden;font-size:18px;color:#eb6100; line-height:52px; height:52px; overflow:hidden}



.crumb span{ float:right; font-size:12px; color:#82807e; line-height:52px; height:52px;}
.crumb span a:hover{ color:#eb6100;}
.crumb span a{ color:#82807e;}


.article { padding:20px 15px 50px 15px; }
.article img{ max-width:905px; overflow:hidden}







#banner .slideBox {
	width:100%;
	position:relative;
}
#banner .slideBox .hd {
	height:15px;
	overflow:hidden;
	position:absolute;
	bottom:15px;
	z-index:10001;
	text-align:center;
	width:100%;
}
#banner .slideBox .hd ul {
	overflow:hidden;
	zoom:1;
	display:inline-block;
}
#banner .slideBox .hd ul li {
	float:left;
	margin-right:5px;
	width:15px;
	height:15px;
	line-height:14px;
	text-align:center;
	background:#fff;
	cursor:pointer;
	border-radius:15px;
}
#banner .slideBox .hd ul li.on {
	background:#eb6100;
	color:#fff;
}
#banner .slideBox .bd {
	position:relative;
	height:100%;
	z-index:0;
	margin:0px auto;
	text-align:center;
}
#banner .slideBox .bd li {
	zoom:1;
	vertical-align:middle;
}
#banner .slideBox .bd img {
	display:block;
	border:1px solid #ddd;
	padding:1px;
	margin:0px auto;
	text-align:center;
}
/* 下面是前/后按钮代码，如果不需要删除即可 */
#banner .slideBox .prev,  #banner .slideBox .next {
	position:absolute;
	left:3%;
	top:50%;
	margin-top:-25px;
	display:block;
	width:32px;
	height:40px;
	background:url(../images/slider-arrow.png) -110px 5px no-repeat;
	filter:alpha(opacity=50);
	opacity:0.5;
}
#banner .slideBox .next {
	left:auto;
	right:3%;
	background-position:8px 5px;
}
#banner .slideBox .prev:hover,  #banner .slideBox .next:hover {
	filter:alpha(opacity=100);
	opacity:1;
}
#banner .slideBox .prevStop {
	display:none;
}
#banner .slideBox .nextStop {
display:none;}



















