<!DOCTYPE html>
<html manifest="huancun.manifest">
	<head>
		<!-- 实时预览调试代码，模板开发完成后删除 -->
		
		
		<!-- 调试代码 End -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta content="telephone=no, email=no" name="format-detection">
		<!-- 启用360浏览器的极速模式(webkit) -->
		<meta name="renderer" content="webkit">
		<!-- 避免IE使用兼容模式 -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
		<meta name="HandheldFriendly" content="true">
		<!-- 微软的老式浏览器 -->
		<meta name="MobileOptimized" content="320">
		<!-- uc强制竖屏 -->
		<meta name="screen-orientation" content="portrait">
		<!-- QQ强制竖屏 -->
		<meta name="x5-orientation" content="portrait">
		<meta name="keywords" content="{$keywords}" />
		<meta name="description" content="{$description}" />
		<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
		<title>{$title}</title>
		<link rel="stylesheet" href="{$site_url}css/reset.css" />
		<link rel="stylesheet" href="{$site_url}css/swiper.css" />
		<link rel="stylesheet" href="{$site_url}css/public.css" />
		<link rel="stylesheet" href="{$site_url}css/style.css" />
		<link rel="stylesheet" rev="stylesheet" href="{$site_url}css/style_{$stylecolor}.css" type="text/css" />
<script>
window.addEventListener('load', function(){
  setTimeout(function(){ window.scrollTo(0, 1); }, 100);
});//safari浏览器可以通过此代码来隐藏地址栏
</script>
		
	</head>
	<body>
	<div class="wrap page-active">   
	{include file="./_header.html"}

	<div class="main">

    <div class="top_nav">
      <h2><span class="en">{$list.en_name}</span><span class="zh">{$list.name}</span></h2>
      <a class="classify_btn" href="javascript:;">分类</a>
      
      <nav>
        <ul class="nav up">
          {foreach name=pagenavs item=nav from=$pagenavs}
            <li><a href="{$nav.link}">{$nav.name}</a></li>
          {/foreach}
        </ul>
      </nav>
      <a class="font_btn left" href="javascript:;">字</a>
      <div class="font left">
        <span class="big">大</span>
        <span class="normal">中</span>
        <span class="small">小</span>
      </div>             
    </div>

    <section class="list_page">            
      <div>{$list.content|unescape:"html"}</div>
    </section>

	</div>
	
    <div class="to_top" id="to_top"><a href="javascript:;">top</a></div> 
    <!-- 底部 -->
    <footer class="foot">{$footprint}</footer>

    </div> 
<script src="{$site_url}js/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.min.js"></script>
<script src='{$site_url}js/pagenavs_sub3.js'></script>
<script src="{$site_url}/js/swiper.jquery.min.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
{$footscript}
</body>
</html>