<div class="fixed_nav">         
    <div class="top_fix_wp">
      <h1><a class="logo" href="{$site_url}"><img src="{$logo}" alt="{$title}"></a></h1>
    </div>
    <nav>
      <ul id="nav">
        <li><a href="{$site_url}" onClick="jarallax.jumpToProgress( 0, 2000, 30);">首页</a></li>
        {foreach name=navs item=nav from=$navs}

          
          <li class="{if $nav.current}cur{/if}">
            <a href="{$nav.link}">{$nav.name}</a>            
          </li>           
                        
        {/foreach}
      </ul>
    </nav>


    <div class="search">
      <form id="form" class="fm" action="{$search_action}" method="GET" name="fm">
        <span class="s_ipt_wr">
          <input type="text" id="kw" name="s" class="s_ipt" placeholder=""/>
        </span>
        <span class="s_btn_wr">
          <input type="submit" class="s_btn" id="submit" value="">
        </span>
      </form>
    </div>
  
    <p class="hot_phone">服务热线:<span>{$contact.telephone}</span></p>
    <div class="copyright">{$footprint}</div>
</div>