<!DOCTYPE html>
<html lang="en">
<head>
	<script type="text/javascript">
    {if $site_another_url}
        if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
            location.href = '{$site_another_url}';
        }
    {/if}
    </script>

    

    <meta name="keywords" content="{$keywords}"/>
    <meta name="description" content="{$description}"/>
	<meta charset="UTF-8">
	<title>{$title}</title>
	<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="{$site_url}css/master.css">
	<script src="{$site_url}js/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.1.js"></script>
	<script type="text/javascript" src="{$site_url}js/function.js"></script>
</head>
<body>
	<div class="wrap">
		<div class="header">
			{include file='./_header.html'}
		</div>
		<div class="banner0 c">
			{include file='./_banner.html'}
		</div>
		<div class="public">
			{include file='./_left.html'}
			<div class="rightside fl">
				<div class="right_top">
					<div class="title fl">{$posnavs[0].name}</div>
					<div class="here fr">
						您当前位置：<a href="{$site_url}">• 首页</a>
						{foreach item=nav from=$posnavs}
						 - <a href="{$nav.link}">{$nav.name}</a>
						{/foreach}
					</div>
				</div>
				<div class="right_below">
					{if $article.images|count gt 1}
						<div class="pro_imgs">
							<div class="qian prev fl"></div>
							<div class="main_img bd fl">
								<ul>
									{foreach item=image from=$article.images}
									<li><i><img src="{$image.image}"></i></li>
									{/foreach}
								</ul>
							</div>
							<div class="hou next fl"></div>
						</div>
						<div class="pro_des_dt">
							<dt>{$article.title}</dt>
							<dd>{$article.description}</dd>
						</div>
					{else}
						<div class="pro_img fl"><i><img src="{$article.image}"></i></div>
						<div class="pro_des fl">
							<dt>{$article.title}</dt>
							<dd>{$article.description}</dd>
						</div>
					{/if}
					<div class="pro_det">{$article.content|unescape:"html"}</div>
					<hr />
					<div class="next2">
						<ul>
							<li><a href="{$article.prev.link}">上一条：<span class="underline">{$article.prev.title}</span></a></li>
							<li><a href="{$article.next.link}">下一条：<span class="underline">{$article.next.title}</span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		{include file='./_footer.html'}
	</div>
</body>
</html>