<div class="ny_left">
  {if $pagenavs}
           <p class="nav_title">{$posnavs[0].name}<span>/{$posnavs[0].en_name}</span></p> 
           <div class="ny_left_nav">                               
                <ul class="ce">
                  {foreach item=lnav from=$pagenavs}
                    <li class="{if $lnav.current}current{/if}"> 
                      <a class="xz {if $lnav.current}current{/if}" href="{if $lnav.childmenu}javascript:;{else}{$lnav.link}{/if}">{$lnav.name}</a> 
                         {if $lnav.childmenu}
                          <ul class="er">
                            {foreach item=navlist from=$lnav.childmenu}
                            <li class="e_li {if $navlist.current}current{/if}">
                              <a href="{if $navlist.childmenu}javascript:;{else}{$navlist.link}{/if}">{$navlist.name}</a>
                                 {if $navlist.childmenu}                                     
                                  <ul class="thr">
                                    {foreach item=navlists from=$navlist.childmenu}
                                    <li class="{if $navlists.current}current{/if}"> 
                                      <a href="{$navlists.link}">{$navlists.name}</a>
                                    </li>
                                    {/foreach}                   
                                  </ul>
                                 {/if}
                            </li>
                            {/foreach}              
                          </ul>
                         {/if}
                    </li>
                    {/foreach}                    
              </ul> 
         </div>
  {else}
        <p class="nav_title">{$global.pagenavss.name}<span>/{$global.pagenavss.en_name}</span></p> 
           <div class="ny_left_nav">                               
                <ul class="ce">
                  {foreach item=lnav from=$global.pagenavss.childmenu}
                    <li class="{if $lnav.current}current{/if}"> 
                      <a class="xz {if $lnav.current}current{/if}" href="{if $lnav.childmenu}javascript:;{else}{$lnav.link}{/if}">{$lnav.name}</a> 
                         {if $lnav.childmenu}
                         <ul class="er">
                            {foreach item=navlist from=$lnav.childmenu}
                            <li class="e_li {if $navlist.current}current{/if}">
                              <a href="{if $navlist.childmenu}javascript:;{else}{$navlist.link}{/if}">{$navlist.name}</a>
                                 {if $navlist.childmenu}                                     
                                  <ul class="thr">
                                    {foreach item=navlists from=$navlist.childmenu}
                                    <li class="{if $navlists.current}current{/if}"> 
                                      <a href="{$navlists.link}">{$navlists.name}</a> 
                                    </li>
                                    {/foreach}                   
                                  </ul>
                                 {/if}
                            </li>
                            {/foreach}              
                         </ul>
                         {/if}
                    </li>
                    {/foreach}                    
              </ul> 
           </div>
        {/if}
</div>
 
