<div id="header">
      <div class="banner2">
          <a href="{$global.slidepics2.link}"><img src="{$global.slidepics2.image}"></a>
      </div>
      <div class="logo">
           <a href="{$site_url}"><img src="{$logo}"></a>
      </div>
      <div class="logo_bg"></div>
      <div di="navs" class="navs">
           <ul class="menu">
            <li><a class="current" href="{$site_url}">网站首页</a></li>
            {foreach item=nav from=$navs}
            <li class="{if $nav.current}current{/if}"><a href="{$nav.link}">{$nav.name}</a>
                {if $nav.childmenu}
                 <ul class="erji none">
                    {foreach item=nav_list from=$nav.childmenu}
                   <li><a href="{$nav_list.link}" >{$nav_list.name}</a></li> 
                    {/foreach}                
                 </ul>
                {/if}
            </li>
            {/foreach}           
           </ul>
      </div>
</div>