<section>
	<div id="scrollfull" style="position:absolute; right:0px; top:250px;">
<ul>
	<li>
		<a href="tencent://message/?uin={$contact.qq}&Site=企业咨询&Menu=yes" target="_blank" class="QQ">
        <img src="{$site_url}images/1_03.png" height="37" width="42" class="shows">

	</a>
	</li>
	<li>
		<a href="javascript:void(0)" class="tel">
		<img src="{$site_url}images/2_03.png"  class="shows" />
		 <h3 class="hides hides2">{$contact.telephone}</h3>
	</a>
	</li>
	<li>
		<a href="javascript:void(0)" class="key">
		<img src="{$site_url}images/3_03.png" class="shows" />
		<form action="{$search_action}" class="hides" method="GET">
		    <input type="submit" value="" class="input_key" >
			<input type="text" placeholder="请输入..." class="input_case"  name="s">
			
		</form>
	</a>
	</li>
	<li>
		<a href="javascript:window.scroll(0,0)" onfocus="blur()">
		<img src="{$site_url}images/4_03.png" height="37" width="42" class="shows"/>
	    <img src="{$site_url}images/41-03.png" height="37" width="42"  class="hides hides4" /> 
	</a>
	</li>
</ul>
	
	
	
	
</div>
</section>