<header>
    <div id="header">
        <div class="nav iconfont"><a href="javascript:;" id="quickbar-showcats">&#xe603;</a></div>
        <div class="search iconfont" ><a href="javascript:;" id="search-click">&#xe636;</a></div>
        <div class="logo"><a href="{$site_url}"><img src="{$logo}" alt=""/></a></div>
    </div>
</header>
<div id="search-zezhao"></div>
<div class="nav-search" id="nav-search">
    <form action="{$search_action}" method="GET">
        <input name="s" class="inp" id="inp" type="search"/>
        <input class="btn" type="submit" value=" "/>
    </form>
</div>
