<div id="aside_nav">
   <ul>
       {foreach item=nav from=$pagenavs}
       <li>
           <a href="{if $nav.childmenu}javascript:;{else}{$nav.link}{/if}">{$nav.name}</a>
           {if $nav.childmenu}
           <div class="sjx"></div>
           <ul>
               {foreach key=key item=nav_list from=$nav.childmenu}
               <li>
                   <a href="{$nav_list.link}">{$nav_list.name}</a>
                   {if $nav_list.childmenu}
                   <div class="sjx1"></div>
                   <ul>
                       {foreach key=key item=nav_listsec from=$nav_list.childmenu}
                       <li><a href="{$nav_listsec.link}">{$nav_listsec.name}</a></li>
                       {/foreach}
                   </ul>
                   {/if}
               </li>
               {/foreach}
           </ul>
           {/if}
       </li>
       {/foreach}
   </ul>
</div>