<div class="box_titles">
    <h2><a href="javascript:window.history.back()"><img src="{$site_url}images/back.png"></a><i>{$list.name}</i><span class="more">分类∨</span></h2>
    <ul class="nnav">
      {foreach item=nnav from=$pagenavs}
        <li class="menu_head">
          {if $nnav.childmenu}
          <dl class="icon"><span class="icon1">-</span><span class="icon2">+</span></dl>
          {/if}
          <a href="{$nnav.link}" class="ce">{$nnav.name}</a>
          {if $nnav.childmenu}
          <ul class="menu_body">
            {foreach item=navlist from=$nnav.childmenu}
            <li>
              {if $navlist.childmenu}
             <dl class="icont"><span class="icont1">-</span><span class="icont2">+</span></dl>
              {/if}
              <a href="{$navlist.link}" class="er">{$navlist.name}</a>
                {if $navlist.childmenu}
                <ul class="menu_thr">
                  {foreach item=navlists from=$navlist.childmenu}
                  <li><a href="{$navlists.link}" class="thr">{$navlists.name}</a></li>
                  {/foreach}
                </ul>
                {/if}
            </li>
            {/foreach}
          </ul>
          {/if}
        </li>
      {/foreach}
    </ul>
</div>