<div class="bgimg pa"><img src="{$global.bgimg.image}"></div>
<div class="htop pr">
    <header class="head">
        <div class="logo dtc tc vm"><a href="{$site_url}"><img src="{$logo}"></a></div>
        <i class="iconfont pa home"><span>&#xe603;</span></i>
    </header>
    <!-- banner -->
     <div class="banner"> 
        <div class="swiper-container swiper-banner">
            <ul class="swiper-wrapper banner-img">
                {foreach item=slidepic from=$global.slidepics}
                   <li class="swiper-slide"><a class="pic" href="{$slidepic.link}"><img src="{$slidepic.image}"/></a></li>
                {/foreach}
            </ul>
            <!-- Add Pagination -->
            <div class="swiper-dote banner-dote"><ul></ul></div>
        </div>
     </div>
</div>