<div class='header'>
	<h1 class='logo'><img src="{$logo}"></h1>
	<div class='hed_right'>
		<span class='sy_sc'></span>
		<span class='tel_phone'>联系电话:<i>{$contact.telephone}</i></span>
	</div>
</div>

<ul class='mune'>
		<li class='mu_bg' style="width:{100/(($navs|count)+1)}%"><a href="{$site_url}">首页</a></li>
		{foreach name=navs item=nav from=$navs}
		<li class='mu_bg' style="width:{100/(($navs|count)+1)}%"><a href="{$nav.link}">{$nav.name}</a>
			{if $nav.childmenu}
            <ul class="sub">
                {foreach key=key item=nav_list from=$nav.childmenu}
                <li class="{if $nav.current}current{/if}"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
                {/foreach}
            </ul>
            {/if}
		</li>
		{/foreach}
</ul>

<div id="slideBox" class="slideBox">
	<div class="hd">
	<ul>
	{$num=1}
	 {foreach name=slidepics item=slidepic from=$global.slidepics}
		<li>{$num}</li>
		{$num=$num+1}
	{/foreach} 
	</ul>
	</div>
	<div class="bd">
		<ul>
			{foreach name=slidepics item=slidepic from=$global.slidepics}
			<li><a href="{$slidepic.link}"><img src="{$slidepic.image}"></a></li>
			{/foreach} 
		</ul>
	</div>
</div>