<div class="left">
	<div class="list">
        {if $pagenavs}
        	<div class="a_titles">{$posnavs[0].name}</div>
            <div class="listbg">
                <ul class="first">
                    {foreach item=nav from=$pagenavs}
                    <li>
                        <a href="{$nav.link}">{$nav.name}</a>
                        {if $nav.childmenu}
                            <ul class="second">
                                {foreach key=key item=nav_list from=$nav.childmenu}
                                <li>
                                    <a href="{$nav_list.link}">{$nav_list.name}</a>
                                    {if $nav_list.childmenu}
                                        <ul class="third">
                                            {foreach key=key item=nav_last from=$nav_list.childmenu}
                                            <li><a href="{$nav_last.link}">{$nav_last.name}</a></li>
                                            {/foreach}
                                        </ul>
                                    {/if}
                                </li>
                                {/foreach}
                            </ul>
                        {/if}
                    </li>
                    {/foreach}
                </ul>
            </div>
        {else}  <!-- 让客服自己选择，如果当前无子栏目 展现的目标栏目 -->
            <div class="a_titles">{$_left.pagenavs.name}</div>
            <div class="listbg">
                <ul class="first">
                    {foreach item=nav from=$_left.pagenavs.childmenu}
                    <li>
                        <a href="{$nav.link}">{$nav.name}</a>
                        {if $nav.childmenu}
                            <ul class="second">
                                {foreach key=key item=nav_list from=$nav.childmenu}
                                <li>
                                    <a href="{$nav_list.link}">{$nav_list.name}</a>
                                    {if $nav_list.childmenu}
                                        <ul class="third">
                                            {foreach key=key item=nav_last from=$nav_list.childmenu}
                                            <li><a href="{$nav_last.link}">{$nav_last.name}</a></li>
                                            {/foreach}
                                        </ul>
                                    {/if}
                                </li>
                                {/foreach}
                            </ul>
                        {/if}
                    </li>
                    {/foreach}
                </ul>
            </div>
        {/if}
    </div>
    <div class="contacta">
        <div class="newst_titles">{$_left.cont.name}<b>{$_left.cont.en_name}</b></div>
        <div class="lianxiw">
            {$global.contact_way}
        </div>
    </div>
</div>