<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript">
    // 跳转手机页面
    {if $site_another_url}
        if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
            location.href = '{$site_another_url}';
        }
    {/if}
    </script>
     
    
    <meta name="keywords" content="{$keywords}"/>
    <meta name="description" content="{$description}"/>

    <meta http-equiv="x-ua-compatible" content="ie=8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title> {$title}</title>
    <link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />
    <script src="{$site_url}js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://common.mn.sina.com.cn/public/resource/lib/jquery.jcarousellite.js"></script>
    <script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.1.js"></script>
    <script type="text/javascript" src="{$site_url}js/function.js"></script>
    {$headscript}
</head>
<body>
    <div class="wrap">
        <!-- 导入头部文件 -->
        {include file='./_header.html'}
        <div class="content">
        	<div class="side-left fl">
                <div class="side-tit">
                    <h2>{$index.about_us.name}</h2><span>{$index.about_us.en_name}</span><i></i><a href="{$index.about_us.link}" class="more"></a>
                </div>
                <div class="about">
                    <dl>
                        <a href="{$index.about_us.link}">
                                {$index.about_us.description}
                        </a>
                    </dl>
                    <dt><a href="{$index.about_us.link}"><img src="{$index.about_us.image}" alt=""></a></dt>
                </div>
            </div>
            <div class="side-middle fl">
                <div class="side-tit"><h2>{$index.news.name}</h2><span>{$index.news.en_name}</span><i></i><a href="{$index.news.link}" class="more"></a></div>


                <ul class="newlist">
                    {foreach item=new from=$index.news.data}
                    {if  $new@index == 0}                      
                    <div class="firstnew">
                        <div class="firstnew-pic"><a href="{$new.link}"><img src="{$new.image}" alt=""></a></div>
                        <div class="firstnew-dep">
                            <h2><a href="{$new.link}">{$new.title}</a></h2>
                            <span class="firstnew-date">{$new.pubtimestamp|date_format:'%Y-%m-%d'}</span>
                            <span class="firstnew-dep-desc">
                                {$new.description}
                            </span>
                        </div>

                    </div>
                    {elseif $new@index > 0}                                                 

                     <li><a href="{$new.link}"><h2>{$new.title} </h2><span>{$new.pubtimestamp|date_format:'%Y-%m-%d'}{*$new.pubdate*}</span></a></li>
                                
                    {/if}
                           
                    {/foreach}                   
                 </ul>

            </div>
            <div class="side-right fr">
                <div class="contact">
                    <h2>CONTACT US</h2>
                    <div class="contactbox">
                        {$global.contact_us}

                    </div>
                    <div class="idea">
                        <a href="{$global.yijian.link}">
                            <h3>{{$global.yijian.name}}</h3>
                            <span>{$global.yijian.en_name}</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="pro">
                <div class="side-tit"><h2>{$index.pro.name}</h2><span>{$index.pro.en_name}</span><i></i><a href="{$index.pro.link}" class="more"></a></div> 
                <div id="prizes">
                    <div class="photos">
                        <a href="javascript:void(0);" class="photos-button photos-prev"></a>
                        <div class="photos-content {if $index.pro.data|count>4}enable{/if}">
                            <ul>
                               {foreach name=pro item=pro from=$index.pro.data}
                                   <li>
                                    <a href="{$pro.link}" class="choose">
                                       <img alt="" src="{$pro.image}" />
                                       <h2>{$pro.title}</h2>
                                    </a>
                                   </li>
                                  
                                {/foreach}
                            </ul>
                        </div>
                        <a href="javascript:void(0);" class="photos-button photos-next"></a>
                    
                    </div>
                </div> 

            </div>
    
            <!-- 导入底部文件 -->
            {include file='./_footer.html'}   
        </div>
        

    </div>
</body>
</html>
