<ul class="page fr">
    <li class="fl "><a href="{$page_links.first_link}">首页</a></li>
    <li class="fl "><a href="{$page_links.prev_link}">上一页</a></li>
    {foreach item=near_link key=near_page from=$page_links.nears_link}
    {if $near_page == $page_links.current_page}
    <li class="fl current w"><a>{$near_page}</a></li>
    {else}
    <li class="fl w"><a href="{$near_link}">{$near_page}</a></li>
    {/if}
    {/foreach}
    <li class="fl "><a href="{$page_links.next_link}">下一页</a></li>
    <li class="fl "><a href="{$page_links.last_link}">末页</a></li>
</ul>