{if $pagenavs}
<div class="det-nav">
    <ul class="one">
        {foreach item=nav from=$pagenavs}
        <li class="one-li"><a href="{$nav.link}"><i>◆</i><span> {$nav.name}</span> </a>
            {if $nav.childmenu}
            <ul class="two">
                {foreach item=nav_list from=$nav.childmenu}
                <li class="two-li"><a href="{$nav_list.link}"><span>  {$nav_list.name}</span> </a>
                    {if $nav_list.childmenu}
                    <ul class="three">
                        {foreach item=nav_lists from=$nav_list.childmenu}
                        <li class="three-li"><a href="{$nav_lists.link}"><b>-</b><span>{$nav_lists.name}</span><b>-</b></a></li>
                        {/foreach}
                    </ul>
                    {/if}
                </li>
                {/foreach}
            </ul>
            {/if}
        </li>
        {/foreach}
    </ul>
</div>
{else}
<div class="det-nav">

    <ul class="one">
        {foreach item=nav from=$global.pagenavs.childmenu}
        <li class="one-li"><a href="{$nav.link}"><i>◆</i><span> {$nav.name}</span> </a>
            {if $nav.childmenu}
            <ul class="two">
                {foreach item=nav_list from=$nav.childmenu}
                <li class="two-li"><a href="{$nav_list.link}"><span>  {$nav_list.name}</span> </a>
                    {if $nav_list.childmenu}
                    <ul class="three">
                        {foreach item=nav_lists from=$nav_list.childmenu}
                        <li class="three-li"><a href="{$nav_lists.link}"><b>-</b><span>{$nav_lists.name}</span><b>-</b></a></li>
                        {/foreach}
                    </ul>
                    {/if}
                </li>
                {/foreach}
            </ul>
            {/if}
        </li>
        {/foreach}
    </ul>
</div>
{/if}