<div class="hide-class">
          <div class="classbox">
          {foreach name=pagenavs item=nav from=$pagenavs}
            <dl class="sub1"><div class="red"></div><a href="{$nav.link}"><span class="icon">&#9670 </span>{$nav.name}</a></dl>
           {if $nav.childmenu}
             {foreach key=key item=nav_list from=$nav.childmenu}
                <dl class="sub2"><div class="red"></div><a href="{$nav_list.link}"><span class="icon">&#10010 </span>{$nav_list.name}</a></dl>
               {if $nav_list.childmenu}
                 {foreach key=key item=nav_listsec from=$nav_list.childmenu}
                   <dl class="sub3"><div class="red"></div><a href="{$nav_listsec.link}"><span class="icon">&gt</span>{$nav_listsec.name}</a> </dl>
                 {/foreach}
                {/if}
              {/foreach}
            {/if}
          {/foreach}
          </div>
 </div>                      
			
			