body{ color:#727272; font-family:Microsoft Yahei,Arial, Helvetica, sans-serif; background:#fff;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ol,pre,form,input,textarea{margin:0;padding:0; list-style:none; line-height:24px; font-size:12px; font-weight:normal}
ul,li{margin:0; padding:0;list-style:none; font-weight:normal;}
a{ color:#727272; text-decoration:none; }
a:hover{ color:#008d0c; } 
img{ border:none;}
.clearfix:after { content:'\20'; display:block; height:0; clear:both; }
.clearfix { *zoom:1; }
.wrapper{width:1080px; margin:0 auto;}
display:block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;
strong{display: block;margin: 0 auto;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

#header_bg{ background:#eae9e9;}
.top_bg{ height:28px; overflow:hidden; background:#333333;}
.top{ line-height:28px; color:#fff; padding-left:16px;}

#header{ position:relative;}

#logo{width:665px;height:131px; float:left; padding-left:20px; position:relative;}
#logo a{display:block;width:665px;height:131px;position:absolute;bottom: 0px; left:0;}
#logo img{max-width:665px; max-height:131px; position:absolute; top:0; left:0; right:0; bottom:0;}

.tel{ max-width:315px; float:right; margin-top:67px; background:url(../images/tel.png) no-repeat; padding-left:40px; margin-right:30px; font-size:22px; line-height:30px; height:30px; overflow:hidden; color:#a09d9d;}

.search{ width:230px; position:absolute; border:1px #039600 solid; top:22px; right:30px; background:#fff url(../images/sou_by.png) no-repeat 8px 5px; height:27px; overflow:hidden;}
.search_area{ float:left; width:180px; background:none; border:none; height:27px; line-height:27px; color:#b9b9b9; text-indent:30px;}
.search_btn{ float:right; width:50px; color:#fff; font-size:13px; background:#039600; border:none; height:27px; overflow:hidden;}


#nav_bg{ background:url(../images/nav_bg.png) repeat-x bottom; height:54px; }
#nav{ background:#eeeeee url(../images/nav.png) no-repeat; height:54px; }
#nav ul{}
#nav ul li { float:left; height:54px; background:url(../images/nav_line.png) no-repeat bottom right;}
#nav ul li a{ color:#fff; font-size:14px; display:block;}
#nav ul li a:hover{ background:url(../images/nav_bg2.png) top no-repeat; }
#nav ul li p{ height:54px; overflow:hidden; line-height:60px; text-align:center;}

#nav ul li .cc{ background:#049e00; height:44px; line-height:44px;display:none; text-align:center; 
width:100%; position:relative; z-index:100; margin-top:0px; }
#nav ul li .cc:hover{}
#nav ul li .cc a{width:92%; margin:auto;color:#fff; padding:0 4%; overflow:hidden; height:44px; line-height:44px;}
#nav ul li .cc a:hover{color:#fff; background:none; text-decoration:underline;}


#banner{ width:1080px; height:346px; overflow:hidden;}

#container{ margin-top:20px;}

.list{ width:242px; float:left; background:#3aa946 url(../images/list_bg.png) repeat; border:1px #158921 solid; margin-right:20px;}

.list .title{ margin:0 15px 0 15px; width:212px; font-size:14px; line-height:52px; height:52px; overflow:hidden; background:url(../images/product_bot.png) no-repeat bottom center;}
.list .title b{ font-size:20px; color:#FFFFFF; font-weight:normal; padding-right:10px; line-height:52px; height:52px; overflow:hidden;}
.list .title a{ color:#FFFFFF;}

.list .inner{ padding-top:10px; padding-bottom:1px; height:160px; overflow:hidden;}
.list .inner ul li{ width:207px; margin:auto; line-height:40px; height:40px; overflow:hidden; font-size:13px; text-indent:30px; background:url(../images/icon.png) no-repeat 9px 16px;}
.list .inner ul li a{ color:#fff; }
.list .inner ul li a:hover{ color:#26972b; background:url(../images/product_bg.jpg) no-repeat; display:block;}


.about{ width:446px; float:left; margin-right:20px; border:1px #e5e4e4 solid;}

.about .title{ background:url(../images/about.jpg) repeat-x; height:42px; line-height:42px; overflow:hidden; color:#00af49; font-size:15px; text-transform:uppercase;}
.about .title a{color:#00af49;}
.about .title b{ font-size:17px; color:#192026; font-weight:normal; padding-left:9px; padding-right:10px; }
.about .title a:hover b{ font-weight:bold;}
.about .title span{ float:right; background:#44ad4f; width:38px; line-height:15px; height:15px; overflow:hidden; font-size:11px; text-align:center; margin-top:13px; margin-right:13px;}
.about .title span a{ color:#fff;}
 
.about .inner{ padding:0 10px 8px 10px;}

.about_img{ height:90px; margin-top:10px; margin-bottom:4px; text-align:center;}
.about_img img{ height:100%; margin:auto; }

.about .text{ height:69px; overflow:hidden; line-height:23px;}

.news{ width:347px; float:right; margin-top:5px; position:relative;}
.news .title{ float:left; width:37px; background:url(../images/news.png) no-repeat; height:216px;}
.news .title b{ width:12px; color:#FFFFFF; text-align:center; padding:3px 7px 0 7px; line-height:20px; height:204px; overflow:hidden; display:block;}
.news .title a{ color:#FFFFFF;}
.news .more{ position:absolute; top:6px; left:47px;}
.news .more a{ color:#a7031e; }

.news .inner{ margin-top:50px; float:right; width:310px;}

.news .inner .content{ height:90px; overflow:hidden;}

.news .inner .content .newsimg{ height:90px; display:inline-block;*display:inline;*zoom:1; }
.news .inner .content .newsimg img{ height:100%; display:block; }

.news .inner .content .newstext{ height:86px; overflow:hidden; line-height:20px; margin-left:8px; color:#a9a9a9; display:inline-block; vertical-align:top;*display:inline;*zoom:1;}
.news .inner .content .newstext h3{ margin-bottom:3px; line-height:20px; height:20px; overflow:hidden;}
.news .inner .content .newstext h3 a{ color:#727272;}
.news .inner .content .newstext h3 a:hover{ color:#008f0f; font-weight:bold;}

.news .inner ul{ height:52px; overflow:hidden; margin-top:12px;}
.news .inner ul li{ line-height:26px; height:26px; overflow:hidden; background:url(../images/news_icon.jpg) no-repeat 3px; text-indent:7px;}

.products_bg{ background:url(../images/pro_bg.png) repeat-x; }
.products{ width:1244px; margin:auto; margin-top:40px;}
.products .inner{ width:1080px; margin:auto; overflow:hidden;}
.products .inner ul li{ float:left; margin-right:34px;}
.products .hd .next{ background:url(../images/pic_left.png) top left no-repeat; float:left; width:57px; height:58px; margin-top:125px;}
.products .hd .prev{ background:url(../images/pic_right.png) top right no-repeat; float:right; width:57px; height:58px; margin-top:125px;}
.products .inner .bd{ width:1080px; margin:auto; overflow:hidden;}

.products .inner ul li{ background:#fff; width:245px; height:357px; overflow:hidden; }
.products .inner ul li .pic{ width:245px; height:245px; overflow:hidden; border-radius:12px 12px 0 0;} 
.products .inner ul li .pic img{ display:block;}

.products .inner ul li .text{ width:245px; text-align:center; line-height:38px; height:38px; overflow:hidden; padding-top:13px; background:#FFF; font-size:20px;}
.products .inner ul li a .text{ color:#268831;}

.products .inner ul li .more{ background:#ffffff; border:1px #c9c9c9 solid; width:98px; margin:auto; font-size:14px; text-align:center; line-height:30px; height:30px; overflow:hidden; margin-top:5px;}
.products .inner ul li a .more { background:#ebebeb;}


#footer_bg{ margin-top:60px; border-top:2px #44ad4f solid; background:#efefef; padding:15px 0;}
#footer{ }

.copyright{ float:left; color:#a5a2a2; width:875px;}
.copyright a{ color:#a5a2a2;}

.q_link{ float:right; padding-top:3px;}


#sub_container{ margin-top:15px;}

/*sidebar css*/
.sidebar{ width:242px; float:left; }

.subnav{ width:242px; float:left; background:#3aa946 url(../images/list_bg.png) repeat; border:1px #158921 solid; margin-right:20px;}

.subnav .alefttitle{ margin:0 15px 0 15px; width:212px; font-size:14px; line-height:52px; height:52px; overflow:hidden; background:url(../images/product_bot.png) no-repeat bottom center; color:#FFF;}
.subnav .alefttitle b{ font-size:20px; color:#FFFFFF; font-weight:normal; padding-right:10px; line-height:52px; height:52px; overflow:hidden;}



.category{ padding:15px 0;}

.category ul{}
.category ul li .firsta{ width:207px; margin:auto; line-height:40px; height:40px; overflow:hidden; font-size:13px; text-indent:30px; background:url(../images/icon.png) no-repeat 9px 16px; display:block;}
.category ul li a.firsta{ color:#fff;}
.category ul li a:hover.firsta{ color:#26972b; background:url(../images/product_bg.jpg) no-repeat; display:block;}


ul.second li .seconda{ width:207px; margin:auto; line-height:44px; height:44px; overflow:hidden; font-size:13px; text-indent:28px; border-bottom:1px #fff dashed; background:url(../images/seconda.png) no-repeat 10px 17px; display:block;}
ul.second li a.seconda{ color:#fff;}
ul.second li a.seconda:hover{color:#fff;}


ul.second li .thirda{ width:207px; margin:auto; line-height:38px; height:38px; overflow:hidden; font-size:13px; text-indent:40px; padding-right:13px; background:url(../images/thirda.png) no-repeat 28px 14px; display:block;  }
ul.third li a.thirda{ color:#fff;}
ul.third li a.thirda:hover{ color:#b71709;}


/*main css*/
.main{ float:right; width:814px; border:1px #e5e4e4 solid;}

.crumb{ background:url(../images/about.jpg) repeat-x; height:42px; line-height:42px; overflow:hidden; color:#00af49; font-size:15px;  padding:0 20px; margin-bottom:15px;}

.crumb b{ font-size:17px; color:#192026; font-weight:normal; text-transform:uppercase; padding-right:10px;}

.crumb span{ float:right; font-size:12px; color:#9d9c9c; line-height:42px;  height:42px; overflow:hidden;}
.crumb span a{ color:#9d9c9c;}


.article { padding:0 20px;}
.article img{ max-width:774px; overflow:hidden}












