/*登录*/
.loginbg{ width:100%; height:auto; overflow:hidden; background:#f2f2f2;}
.headerlogin{ width:980px; height:124px; overflow:hidden; margin:0px auto;}
.logo4{ width:375px; height:123px; float:left; display:inline; overflow:hidden;}
.hydl{ height:77px; margin-top:47px; overflow:hidden; width:128px; font-family:"微软雅黑"; float:left; display:inline;text-align:center; color:#333333; font-size:24px; line-height:40px;}
.hydl a:link,.hydl a:visited{ color:#333;}
.hydl a:hover{ color:#629012;}
.denglu{ width:970px; height:459px; border:5px solid #e2e2e2; border-bottom:none; background:#fff; overflow:hidden; margin:0px auto;}
.denglu2{ width:970px; height:auto; border:5px solid #e2e2e2; padding-bottom:90px;background:#fff; overflow:hidden; margin:0px auto; margin-bottom:20px; }
.dezhuce{ width:970px; height:56px;font-family:"微软雅黑";  background:url(../images/liew.jpg) left bottom no-repeat;line-height:56px}
.dezhuce span{ color:#629012; font-size:20px; padding-left:17px; padding-right:20px; }
.dezhuce span a:link,.dezhuce span a:visited{ color:#629012;}
.dezhuce span a:hover{ color:#333;}
.dezhuce b{ font-weight:normal; color:#333; font-size:14px;}
.dezhuce b a:link,.dezhuce b a:visited{ color:#629012;}
.dezhuce b a:hover{ color:#333;}
.left_ze{ width:595px; margin-left:40px; display:inline; overflow:hidden; height:auto; margin-top:25px; float:left; font-family:"微软雅黑";}
.left_ze li span{ width:85px; text-align:right; font-size:14px;  overflow:hidden; color:#000; float:left; display:inline; }
.left_ze li{ height:39px; margin-top:13px; line-height:37px; overflow:hidden; width:565px;}
.text2{ width:270px; height:35px; line-height:35px; overflow:hidden; border:1px solid #dddddd;}
.left_ze b{ font-weight:normal; width:272px; margin-left:25px; overflow:hidden; float:left; display:inline; margin-right:10px;}
.left_ze strong{ float:right; width:170px; text-align:left; font-weight:normal; color:#999999; font-family:"微软雅黑";}
.left_ze i{ font-style:normal; color:#b70042;}
.left_ze strong a:link,.left_ze strong a:visited{ color:#0b72a4;}
.left_ze strong a:hover{ color:#333}
.text3{ width:145px; height:35px; overflow:hidden; border:1px solid #dddddd;line-height:37px;  margin-right:5px;}
.left_ze img,.left_ze input{ vertical-align:middle;}
.left_ze li span.t3{ color:#fff;}
.left_ze li.jzzh .check{ margin-right:5px; margin-left:10px; vertical-align:middle; }
.otherszh{ width:273px; float:right; display:inline; width:273px; margin-right:39px; background:url(../images/l9.jpg) left top no-repeat; margin-top:25px; overflow:hidden;}
.zhdl{ width:190px; margin-top:44px; margin-left:80px; height:190px; overflow:hidden;}
.zhdl h1{ font-size:14px; height:40px; overflow:hidden;}
.zhdl ul li{ width:85px; margin-right:10px; overflow:hidden; float:left; display:inline; height:20px; line-height:20px; margin-bottom:20px;}
.zhdl ul li img{ vertical-align:middle; margin-right:3px}

.relogin{ margin-top:57px; width:249px; float:right; display:inline; height:37px; margin-right:24px; overflow:hidden; text-align:right;}
.relogin img{ vertical-align:middle;}
.btm2{ vertical-align:middle; background:url(../images/deliu.jpg) no-repeat; width:88px; height:36px; color:#fff; font-size:18px; font-family:"微软雅黑"; line-height:36px; border:none;}
.left_ze select{ vertical-align:middle; margin-right:10px; font-size:14px; width:127px; margin-top:8px; height:20px; line-height:20px;}
.footersw{ background:url(../images/fww6.jpg) no-repeat; width:980px; height:128px; overflow:hidden; margin:0px auto;}
.fw_t{ padding-top:10px; color:#333; text-align:center; line-height:27px;}
.fw_t  a:link,.fw_t  a:visited{ color:#333;}
.fw_t  a:hover{ color:#d60048}
.btm3{ vertical-align:middle; background:url(../images/deliu2.jpg) no-repeat; width:158px; height:37px; color:#fff; font-size:14px; border:none;}
.mfzc{ background:url(../images/mfzc.jpg) no-repeat left top; width:980px; margin:0px auto; height:37px; overflow:hidden}
.mfzc h2{ font-size:14px; float:right; margin-right:53px; overflow:hidden; display:inline; text-align:center; background:url(../images/zce.jpg) no-repeat; width:125px; line-height:37px; overflow:hidden;}
.mfzc h2 a:link,.mfzc h2 a:visited{ color:#fff;}
.mfzc h2 a:hover{ color:#000;}
.left_ze .btxt{ border:none;cursor:pointer; background:url(../images/enert.jpg) no-repeat; width:155px; height:36px; line-height:36px; font-size:18px; text-align:center; color:#fff;}
.weixn_ta{ width:133px; height:160px; margin-top:10px; overflow:hidden;}
/*登录*/
/*注册*/
.left_ze_t{ width:880px; margin:0px auto; height:auto; overflow:hidden; font-family:"微软雅黑"; margin-top:15px;}
.left_ze_t li span{ width:85px; text-align:right; font-size:14px;  overflow:hidden; color:#000; float:left; display:inline; }
.left_ze_t li{ height:39px; margin-top:13px; line-height:37px; overflow:hidden; width:880px;}
.left_ze_t .text2{ width:400px; height:35px; line-height:35px; overflow:hidden; border:1px solid #dddddd;}
.left_ze_t b{ font-weight:normal; width:402px; margin-left:25px; overflow:hidden; float:left; display:inline; margin-right:10px;}
.left_ze_t strong{ float:left; width:280px; text-align:left; font-weight:normal; color:#ff6600; font-family:"微软雅黑";}
.left_ze_t i{ font-style:normal; color:#b70042;}
.left_ze_t strong a:link,.left_ze_t strong a:visited{ color:#0b72a4;}
.left_ze_t strong a:hover{ color:#333}
.left_ze_t .text3{ width:145px; height:35px; overflow:hidden; border:1px solid #dddddd;line-height:37px;  margin-right:5px;}
.left_ze_t img,.left_ze input{ vertical-align:middle; _vertical-align:top;}
.left_ze_t li span.t3{ color:#fff;}
.left_ze_t .text4{ width:344px; height:35px; line-height:35px; overflow:hidden; border:1px solid #dddddd; margin-left:10px;}
.left_ze_t select{ width:80px;}
.left_ze_t li.jzzh .check{ margin-right:5px; margin-left:10px; vertical-align:middle; }
.denglu3{ width:970px; height:autp; border:5px solid #e2e2e2; border-bottom:none; background:#fff; overflow:hidden; margin:0px auto; padding-bottom:20px;}
.left_ze_t .btxt{ border:none;cursor:pointer; background:url(../images/enert.jpg) no-repeat; width:155px; height:36px; line-height:36px; font-size:18px; text-align:center; color:#fff;}

.gwc_t{ width:999px; margin:0px auto; height:auto; overflow:hidden; font-family:"微软雅黑";}	
.shop_xinx{ height:31px; line-height:31px; width:999px; margin:0px auto; overflow:hidden; margin-bottom:10px;}
.shop_xinx li{  float:left; display:inline; overflow:hidden; width:145px; display:block; color:#666666; margin-right:1px; background:#efefef;font-size:16px; padding-left:15px; width:145px; height:31px;}
.shop_xinx li a{}
.shop_xinx li a:link,.shop_xinx li a:visited{ color:#333;}
.shop_xinx li a:hoveR{ background:#ff4561; color:#fff;}
.shop_xinx li a.choose{ background:#ff4561; color:#fff;}
.shop_xinx li.choose{ background:#ff4561; color:#fff;}
.gouwucxt{ width:999px; padding-top:10px; margin:0px auto; overflow:hidden;}
