<div class="page">
    <a href="{$page_links.first_link}">&lt;&lt;</a>
    <a href="{$page_links.prev_link}">&lt;</a>
    {foreach item=near_link key=near_page from=$page_links.nears_link}
       {if $near_page == $page_links.current_page}
        <a class="current">{$near_page}</a>
       {else}
        
       {/if}
    {/foreach}
    <a href="{$page_links.next_link}">&gt;</a>
    <a href="{$page_links.last_link}">&gt;&gt;</a>
    <i>当前第{$page_links.current_page}页/总{$page_links.page_count}页</i>
</div>

