
<footer id="footer">
	<div class="foot">
	    <div class="chaining">
	    	<ul class="chaining-list">
		        {foreach item=links from=$global.links}
		            <li><a href="{$links.link}"><img src="{$links.image}"></a></li>
		        {/foreach}
		    </ul>
	    </div>
	    <div class="second-navs">
	    	<a href="{$site_url}">网站主页</a>
	    	{foreach item=nav from=$navs}
	    		{if $navs@index neq 0} / {/if}
	    		<a href="{$nav.link}">{$nav.name}</a>
	    	{/foreach}
	    </div>
	    <div class="copyright">
	        {$footprint}
	    </div>
	</div>
</footer>
{$footscript}