    <div class="left fl">

      
                 <!--    <h3 class="title">度假村简介<i>ABOUT US</i></h3>

                    <div class="class">
                        <ul class="first">
                            <li><a href="">游客风采</a>
                                <ul class="second">
                                    <li><a href="">二级分类</a><li>
                                    <ul class="three">
                                        <li><a href="">三级分类</a></li>
                                    </ul>
                                    </li>
                                    <li><a href="">二级分类</a></li>
                                </ul>
                            </li>
                            <li><a href="">游客风采</a></li>
                            <li><a href="">游客风采</a></li>
                            <li><a href="">游客风采</a></li>
                            <li><a href="">游客风采</a></li>
                        </ul>

                       
                    </div> -->
                        {include file="./_pagenavs_sub3.html"}
                    



                    </div>