

<div class="footer">
    <div class="container">
        <div class="foot-lt">
            <p>{$global.contact}</p>
            {$footprint}
        </div>
        <div class="foot-rt rt">
            <dl>
                <dt><img src="{$global.footImg1.image}" alt=""></dt>
                <dd>{$global.footImg1.title}</dd>
            </dl>
            <dl>
                <dt><img src="{$global.footImg2.image}" alt=""></dt>
                <dd>{$global.footImg2.title}</dd>
            </dl>
        </div>
    </div>
</div>
{$footscript}