

		<header>
			<span id="quickbar" class="icon_n hd_icon fl"><i id="quickbar-navs-btn" class="iconfont icon">&#xe603;</i></span>
			<div class="logo"><img src="{$logo}" ></div>
		</header>
		<div class="banner" >
		<div class="hd">
		        <div class="swiper-container">
				        <div class="swiper-wrapper">
				            {foreach name=slidepics item=slidepic from=$global.slidepics}
		         			<div class="swiper-slide"><img src="{$slidepic.image}"></div>
		           {/foreach}
				        </div>
    				</div>
		    </div>
	    <div class="mune swiper-container">
    		<ul class=" swiper-wrapper ">
    			{foreach item=nav from=$navs}
	    		<li class="swiper-slide"><a href="{$nav.link}"><span><i class="iconfont icon">{$nav.icon}</i>{$nav.name}</span></a></li>
	    		 {/foreach}
	    	</ul>
	    </div>
    	</div>