a{text-decoration: none;color:#333;}
ul,dl{list-style: none;}
h1,h2,h3,h4,h5,h6,p,div,a,img,ul,dl,li,dt,dd{margin:0;padding:0;}
input{border:none;outline:none;background:none;}
input,button,select,textarea{outline:none}
.lt{float:left;}
.rt{float:right;}
.clear{clear:both;}
.hide{display:none;}
.show{display:block;}
body{font-family:  Microsoft YaHei,"微软雅黑";font-size:0.4rem;  background-color: #fff;max-width:640px;min-width:320px;margin:0 auto;  }
img{max-width:100%;max-height:100%;}
.content{background-color: #f5f5f5;}

@font-face {font-family: "iconfont";
    src: url('//at.alicdn.com/t/font_accw97xfsfm3g14i.eot?t=1490951548076'); /* IE9*/
    src: url('//at.alicdn.com/t/font_accw97xfsfm3g14i.eot?t=1490951548076#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/font_accw97xfsfm3g14i.woff?t=1490951548076') format('woff'), /* chrome, firefox */
    url('//at.alicdn.com/t/font_accw97xfsfm3g14i.ttf?t=1490951548076') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/font_accw97xfsfm3g14i.svg?t=1490951548076#iconfont') format('svg'); /* iOS 4.1- */
}

.iconFont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.header{background: url(../images/img2.png) no-repeat center center;background-size:100% 100%;height:3rem;text-align: center;line-height:2.75rem;}
.logo{vertical-align: middle;margin:0 auto;height:3rem;}
.logo img{max-width:100%;max-height:100%;}
.header a{display: inline-block;}
.header a i{font-size:1rem;margin-right:0.5rem;color:#28828b;}
.banner img{max-width:100%;max-height:100%;}
.banner .swiper-container{width:100%;height:100%;padding-bottom:0.25rem;}
.bg{position: absolute;bottom:0.625rem;z-index:5;}
.bg img{max-width:100%;max-height:100%;}
.banner{position: relative;}
.banner  .swiper-pagination{z-index:11;}
.banner .swiper-pagination-bullet {  width:0.35rem;  height: 0.35rem;}
.banner .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{  bottom:0;position: relative;;  }
.swiper-pagination-bullet-active {  opacity: 1;  background: #28828b;}
.swiper-pagination-bullet {  background: #28828b;}
.nav{background-color: #f5f5f5;border-radius:0.25rem;padding:0.5rem;margin-left:0.4rem;}
.nav a{display:inline-block;width:100%;}
.nav i{display:inline-block;width:3.75rem;height:3.75rem;border-radius: 50%;}
.nav img{border-radius: 50%;}
.nav a p{font-size:0.6rem;color:#999;line-height:0.8rem;width:3.6rem;margin:0.8rem 0 0 0;}
.nav a p span{display: block; overflow-y: hidden;  display: -webkit-box;  -webkit-box-orient: vertical;  -webkit-line-clamp: 2}
.nav a p b{color:#333;font-size:0.7rem; overflow-y: hidden;  display: -webkit-box;
    -webkit-box-orient: vertical;  -webkit-line-clamp: 1;margin-bottom:0.2rem;}
.cont1-title{text-align: center;margin-bottom:0.5rem;}
.cont1-title span{margin:0 0.3rem;color:#28828b;font-size:0.8rem;vertical-align: top;    width: 4rem;
    overflow: hidden;
    display: inline-block;
    height: 1.1rem;}
.cont1-title b{display:inline-block;width:3.625rem;height:0.9rem;vertical-align: bottom;;
    background: url(../images/img_07.png)no-repeat center center; }
.cont1-title b.craft-rt{background: url(../images/img_06.png)no-repeat center center; }
.product-slider{margin:0 auto;width:1040px;padding-top:40px;}
.product-slider .slide div{margin:0 47px;width:250px;height:250px;border-radius: 50%;text-align: center;line-height:250px;}
.product-slider .bx-wrapper img{display:inline-block;vertical-align:middle;margin:0 auto;border-radius: 50%;max-width:100%;max-height:100%;}
.product-slider .slide  span{display: block;margin-top:25px;text-align: center;}
.product-slider .bx-wrapper .bx-viewport{padding:50px 0;}
#cont1{padding:0 0 1rem 0;}
#cont3{position: relative;}
#cont3 a{display: block;}
#cont3 a img{max-width:100%;margin-top:-3px;}
#cont3 .bg{bottom:-0.1rem;}
#cont2{padding:0.5rem 0.68rem 0.7rem ;}
#cont2 ul li{text-align: center;margin-bottom:0.4rem;}
#cont2 ul li a{display: inline-block;width:6.25rem;height:6.25rem;border-radius: 50%;}
#cont2 ul li a img{border-radius: 50%;}
#cont2 ul li a span{  overflow-y: hidden;  display: -webkit-box;  -webkit-box-orient: vertical;  -webkit-line-clamp: 1}
.cont2-hd{display: block;width:100%;height:0.4rem;border-bottom:1px solid #28828b;}
.cont2-hd .swiper-pagination{background-color: #28828b;border-radius: 10px;
    padding: 0 0.3rem ;height:0.4rem;bottom:0.15rem;left:50%;margin-left:-13%;}
.cont2-hd .swiper-pagination-bullet{background-color: #fff;opacity: 1;width:0.2rem;height:0.2rem;}
.cont2-hd .swiper-pagination-bullet-active {background-color: #333;opacity:1;}
.cont2-hd .swiper-pagination span{margin:0.1rem  2px 0;vertical-align:top;}
.swiper2{padding-bottom:0.3rem;}
.news{padding:0 0.5rem; }
.news a{display:block;background-color: #f5f5f5;margin-bottom:0.5rem;}
.news dl{overflow: hidden;width:100%;}
.news dl dt{width:25%;border:1px solid #ccc;padding:0.2rem;background-color: #fff;float:left;text-align: center;}
.news dl dd{width:66%;float:right;padding:0.2rem;}
.news a:nth-child(2n) dl dt{float:right;}
.news a:nth-child(2n) dl dd{float:left;}
.news dl dd h6{  color:#333;font-size:0.7rem;margin-bottom:0.25rem;overflow-y: hidden;  display: -webkit-box;  -webkit-box-orient: vertical;  -webkit-line-clamp: 1}
.news dl:hover dd h6{color:#28828b;}
.news dl dd p{color:#999;font-size:0.6rem; overflow-y: hidden;  display: -webkit-box;  -webkit-box-orient: vertical;  -webkit-line-clamp: 2;}
.news dl dd span{display: block;margin-top:0.3rem;color:#999;}
#cont5{background: url(../images/img5.png) no-repeat center center;min-height:5rem;background-color: #f5f5f5;
    background-size:100% 100%;height:100%;text-align:center;padding:0.5rem 0;margin-top:1rem;}
.about-us{width:100%;margin:0 auto;font-size:0.6rem;}
.about-us h5{font-size:0.7rem;}
.about-us p{text-align: left;line-height:0.8rem;font-size:0.6rem;padding:0 0.5rem;overflow-y: hidden;  display: -webkit-box;  -webkit-box-orient: vertical;  -webkit-line-clamp: 4}
.about-us p a{color:#28828b;font-size:0.6rem;}

.comment{min-height:10rem;}
.comm{padding:0 0.5rem;}
.comm-title b{height:0.85rem;width:0.2rem;margin-right:0.2rem;border-radius:0.2rem;background-color: #28828b;display: inline-block;vertical-align: bottom;margin-bottom:0.17rem;}
.comm-title span{font-size:0.8rem;color:#28828b;display: inline-block;width:7rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.comm-title a{width:3rem;height:1.2rem;line-height:1.2rem;text-align:center;font-size:0.7rem;color:#fff;margin-left:0.3rem;background-color: #28828b;}
.comm-title a img{width:0.5rem;height:0.3rem;}
.comm-title .ab-fonts{width:2.6rem;text-align: center;}
.comm-nav{border-radius: 0.3rem;background-color: #ededed;padding:0.2rem 0.5rem;margin-top:0.6rem;position: relative;}
.comm-nav i{display: block;}
.comm-nav i img{width:0.6rem;height:0.3rem;position:absolute;right:4.2rem;top:-0.3rem;}
.comm-nav ul.one>li{border-bottom:1px solid #666;line-height:1.75rem;margin-right:0.3rem;}
.comm-nav ul li b{display: inline-block;width:0.2rem;height:0.2rem;border-radius: 50%;background-color: #28828b;margin-right:0.5rem;vertical-align: middle;margin-top:-0.4rem;}
.comm-nav ul li a{color:#333;font-size:0.75rem;width:100%;display: inline-block;}
.comm-nav ul.two li a,.comm-nav ul.three li a{font-size:0.6rem;background-color: #e3e3e3;margin:0.15rem 0;}
.comm-nav ul.two>li ,.comm-nav ul.three>li{}
.comm-nav ul.two>li a span{padding-left:1rem;}
.comm-nav ul.three>li a span{padding-left:1.3rem;}
.comm-nav ul li a.box-on span{color:#28828b;}
.comm-nav ul li{position: relative;}
.comm-nav ul li i{position:absolute;top:0.4rem;right:0.2rem;float:right;width:1.15rem;height:1.2rem;background: url(../images/about_08.png)no-repeat center center;vertical-align: middle}
.comm-nav ul li i.in{background: url(../images/about_11.png)no-repeat center center;}
.comm-nav ul.two,.comm-nav ul.three{display: none;}
.comm{position: relative;}
.comm-font{position: absolute;top:1.2rem;right:0.5rem;z-index:50;}
.comm-font ul{background-color: rgba(000,000,000,.6);width:2.6rem;}
.comm-font ul li a{padding:0.2rem 0;color:#fff;line-height:1rem;text-align: center;display: inline-block;width:100%;border-bottom:1px solid #333;}
.comm-font ul li:last-child a{border:none;}
.comm-font ul li.big a{font-size:0.8rem;}
.comm-font ul li.middle a{font-size:0.7rem;}
.comm-font ul li.sm a{font-size:0.6rem;}
.about{padding:0.5rem;}
.about p{font-size:0.6rem;color:#333;line-height:1rem;}

.list-image{padding:0.5rem 0.25rem;}
.list-image a{display: inline-block;width:46%;padding:0 0.25rem;text-align: center;margin-bottom:0.6rem;}
.list-image a dl dt img{border-radius:50%;}
.list-image a dl dd{margin-top:0.2rem;  overflow-y: hidden;  display: -webkit-box;  -webkit-box-orient: vertical;  -webkit-line-clamp: 1  }

.page{padding:0.5rem 0 1rem ;text-align: center;}
.page ul li{display: inline-block;}
.page ul li a{display: inline-block;width:1.4rem;height:1.1rem;line-height:1.1rem;text-align: center;border:1px solid #ccc;color:#ccc;
margin:0 0.2rem;}
.page ul li.current a{color:#fff;background-color: #28828b;border:1px solid transparent;}
.page ul li:hover a{color:#fff;background-color: #28828b;border:1px solid transparent;}
.page ul li.total a{border:none;margin-left:1rem;}
.page ul li.total:hover a{color:#ccc;background-color: #fff;}

.list-text{padding:0.5rem 0;}
.list-text ul li a{display: block;border-bottom:1px dashed #ccc;line-height:1.75rem;height:1.75rem;padding:0 0.5rem;}
.list-text ul li a b{display:inline-block;width:0.2rem;height:0.2rem;background-color: #ccc;border-radius: 50%;margin-right:0.3rem;vertical-align: top;margin-top:0.8rem;}
.list-text ul li a span{display:inline-block;font-size:0.6rem;width:9.7rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.list-text ul li a time{color:#ccc;font-size:0.5rem;}

.list-imageText{padding:1rem 0.5rem 0;}
.list-imageText a:nth-child(2n) dl dt{float:left;}
.list-imageText a:nth-child(2n) dl dd{float:right;}


.had{background-color: #28828b;height:2rem;line-height:2rem;text-align: center;}
.had a{color:#fff;font-size:0.8rem;display: inline-block;height:2rem;}
.had a.back-prev,.had a.det-fonts{background-color: #3d8e96;width:13%;text-align: center;}
.had span{font-size:0.8rem;text-align: center;margin:0 auto;color:#fff;vertical-align: top;display: inline-block;width:60%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.keyword{padding:1rem 0;text-align: center;font-size:0.8rem;}
.det-font{top:2rem;right:0;}
.det-font ul{width:2.08rem;}
.cont-news{padding:0.5rem;}
.cont-news h5{text-align: center;color:#333;font-size:0.8rem;line-height:1.2rem;overflow-y: hidden;  display: -webkit-box;  -webkit-box-orient: vertical;  -webkit-line-clamp: 2;}
.cont-news time{color:#999;font-size:0.6rem;padding:0.2rem 0 0.5rem;text-align: center;
    border-bottom:1px solid #ccc;display: block;}
.cont-news p{color:#999;font-size:0.6rem;line-height:1rem;}
.cont-news ul{padding:0.8rem 0;}
.cont-news ul li{text-align: center;}
.cont-news ul li a{display: inline-block;margin: 0 0.2rem;font-size:0.6rem;width:3.95rem;height:1.55rem;border-radius: 3px;border:1px solid #ccc;text-align: center;line-height:1.55rem;color:#28828b;}
.cont-news ul li a:hover{border:1px solid transparent;color:#fff;background-color: #28828b;}



.cont-pro .swiper3{text-align: center;padding:0.3rem 0;}
.cont-pro .swiper3 img{border-radius: 50%;}
.cont-pro .swiper3  .swiper-button-next, .swiper-container-rtl .swiper-button-prev{background: url(../images/img_05.png) no-repeat;}
.cont-pro .swiper3 .swiper-button-next, .swiper-button-prev{width:1rem;height:1rem;background-size:100% 100%;margin-top:-1.5rem;}
.cont-pro .swiper3 .swiper-button-prev, .swiper-container-rtl .swiper-button-next{background: url(../images/img_037.png) no-repeat;background-size:100% 100%;}

.cont-pro .swiper3 h6{font-size:0.7rem;padding:0.3rem;font-weight: normal;}
.cont-pro h5{text-align: center;}
.cont-pro{background-color: #f5f5f5;}

#footprints{background-color: #3d8e96;color:#fff;position:relative;}
#footprints p a{color:#fff;}
.back-top{position: absolute;right:0.5rem;top:-0.65rem;background-color: #28828b;padding:0.35rem 0.1rem;border-radius: 50%;}













