<div class="headerbg">
    <div class="logo">
        <a href="{$site_url}"><img src="{$logo}" /></a>
    </div>
</div>
<!-- 导航栏，通过百分比自适个数 -->
<div class="main_nav-percent">
    <ul class="nav">
        {foreach name=navs item=nav from=$navs}
        <li class="fl{if $nav.current} current{/if}" style="width:{100/$navs|count}%">
            <a href="{$nav.link}">{$nav.name}</a> {if $nav.childmenu}
            <ul class="clearfix sub">
                {foreach key=key item=nav_list from=$nav.childmenu}
                <li class="{if $nav.current}current{/if}"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
                {/foreach}
            </ul>
            {/if}
        </li>
        {/foreach}
    </ul>
</div>
<div class="banners">
    <div class="focusBox" style="margin:0 auto">
        <ul class="pic">
            {foreach name=slidepics item=slidepic from=$global.slidepics}
            <li>
                <a href="{$slidepic.link}" target="_blank"><img src="{$slidepic.image}" alt="{$slidepic.title}" /></a>
            </li>
            {/foreach}
        </ul>
        <a class="prev" href="javascript:void(0)"></a>
        <a class="next" href="javascript:void(0)"></a>
        <ul class="hd">
            {foreach name=slidepics item=slidepic from=$global.slidepics}
            <li></li>
            {/foreach}
        </ul>
    </div>
</div>
