
<div id="header">
  <div class="wrapper clearfix" >
    <h1><img src="{$logo}" alt="{$title}" /></h1>
    <div class="top_l">
      <div class="wz"  style=" color:#fff; font-family:Microsoft Yahei; font-size:16px;">专业生产：半件围无钢圈文胸  半件围无痕文胸  车缝无钢圈文胸  记忆钢圈文胸 </div>
<div class="wz2" style=" color:#fff; font-family:Microsoft Yahei; font-size:22px; ">承接:  <span style="color:#c000ff"> 连锁</span>      <span style="color:#29b803">微商  </span>   <span style="color:#0078ff">电商</span>     <span style="color:#df0024">OEM贴牌</span>  等种类业务 </div>
    </div>
  </div>
</div>
<div id="nav">
  <ul class="clearfix wrapper">
    {$limit = 10}
    {if $navs|count lt $limit}{$limit = $navs|count}{/if}
    <li class="nav1" style="width:{100/($limit+1)}%"> <a href="{$site_url}">首页</a> </li>
    {foreach name=navs item=nav from=$navs}
    <li class="fl {if $nav.current} current{/if} nav1" style="width:{100/($limit+1)}%"> <a href="{$nav.link}">{$nav.name}</a>
      <ul class="sub clearfix">
        {if $nav.childmenu} {foreach key=key item=nav_list from=$nav.childmenu}
        <li class="{if $nav.current}current{/if} nav2"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
        {/foreach} {/if}
      </ul>
    </li>
    {if $nav@index+1 eq $limit}{break}{/if}
    {/foreach}
  </ul>
</div>
<div id="banner">
<!--100%-->
  <div class="banner_box">
    <div id="kinMaxShow" style="display:none;"> {foreach name=slidepics item=slidepic from=$global.slidepics}
      <div> <a href="{$slidepic.link}" target="_blank"><img src="{$slidepic.image}" alt="{$slidepic.title}"  /></a></div>
      {/foreach} </div>
  </div>
  
  
</div>