<div style="position: absolute;width: 100%;left: 40%;z-index: 999999" id="navall">

		<!-- 下表为0的面包屑导航正好是一级栏目的当前栏目 -->
		<style type="text/css">
			.navvvvv{
				width: 100%;
				position: absolute;
				top: 20px;
			}
			.navvvvv ul li{
				float: left;
			}
			.navul{
				position: absolute;
				display: none;
			}
			.navulli{
				margin: 0 10px;
			}
			.navulli a{
			    display: block;
			    font-size: 14px;
			    height: 27px;
			    margin: 0 14px;
			    overflow: hidden;
			    padding: 5px;
			    position: relative;
			    text-align: center;
			}
			.oli{
				margin: 0 20px;
			}
			.oli a{
				
			    font-size: 12px;
			    margin: 0;
			    padding: 0 5px;
			    position: relative;
			    text-align: right;
			}
			.oul{
				position: absolute;
				min-width: 42%;
				display: none;
				/*background-color: #fff;
				border:1px solid #ab8f79;*/
			}
			.tli{
				margin: 0 10px;
				float: left;
			}
			.check{
				border-top: 1px solid #28160b;
				background: rgba(0, 0, 0, 0) url("{$site_url}images/sj.png") no-repeat scroll center bottom;
			}
			.checka{
				 color: #840000;
				 border-bottom: 1px solid #840000;

			}
		</style>
	

{if $pagenavs}
<nav class="navvvvv">
		<!-- 下表为0的面包屑导航正好是一级栏目的当前栏目 -->
	<ul id="navul">
		
		{foreach name=pagenavs item=nav from=$pagenavs}
		<li class="navulli {if $nav.current}check{/if}" >
			<a href="{if $nav.childmenu}#{else}{$nav.link}{/if}">{$nav.name}</a>
            {if $nav.childmenu}
			<ul class="navul">
				{foreach key=key item=nav_list from=$nav.childmenu}                
				<li class="oli"><a class="{if $nav_list.childmenu}checka{/if}" href="{if $nav_list.childmenu}#{else}{$nav_list.link}{/if}"> {$nav_list.name}</a>
                    {if $nav_list.childmenu}
                   <ul class="oul">
                        {foreach key=key item=nav_listsec from=$nav_list.childmenu}
                        <li  class="tli"><a href="{$nav_listsec.link}" class="{if $nav_listsec.selected}selected checka{/if}">{$nav_listsec.name}</a></li>
                        {/foreach}
                    </ul>
                    {/if} 
                </li>                 
				{/foreach}
			</ul>
			{/if}            
		</li>
		{/foreach}
	</ul>
	
</nav>
{else}	<!-- 让客服自己选择，如果当前无子栏目 展现的目标栏目 -->
<nav class="navvvvv">
	
	<ul id="navul">
		{foreach name=pagenavs2 item=nav from=$_pagenavs_sub3.pagenavs.childmenu}
		<li class="navulli {if $nav.current}check{/if}" >
			<a href="{if $nav.childmenu}#{else}{$nav.link}{/if}">{$nav.name}</a>
			{if $nav.childmenu}
			<ul class="navul">
				{foreach key=key item=nav_list from=$nav.childmenu}
				<li class="oli"><a href="{if $nav_list.childmenu}#{else}{$nav_list.link}{/if}">{$nav_list.name}</a>
                    {if $nav_list.childmenu}
                    <ul class="oul">
                        {foreach key=key item=nav_listsec from=$nav_list.childmenu}
                        li  class="tli"><a href="{$nav_listsec.link}">{$nav_listsec.name}</a></li>
                        {/foreach}
                    </ul>
                    {/if}                 
                </li>
				{/foreach}
			</ul>
			{/if}
		</li>
		{/foreach}
	</ul>
</nav>


{/if}
</div>

