


      <div id="header" class="wrapper clearfix">
        <div class="logo"><a href="{$site_url}" title="返回首页"><img src="{$logo}" /></a></div>
        <div class="topright">
            <div class="top1">
                <form action="{$search_action}" method="GET">
                  <input class="sinp" type="text" name="s" value="" />
                  <input class="sbtn" type="submit" value="" />
                </form>
            </div>            
        </div>
    </div>
    <div class="menu">

          <ul id="nav" class="nav">
            {$limit = 8}
            <li class="nLi on" style="width:{100/($limit+1)}%">
                <h3><a href="{$site_url}" target="_self">网站首页</a></h3>
            </li>
            {foreach name=navs item=nav from=$navs}
            <li class="{if $nav.current}on{/if} nLi" style="width:{100/($limit+1)}%">
                <h3>
                    <a href="{$nav.link}" target="_self">{$nav.name}</a>
                </h3>               
                {if $nav.childmenu}
                    <ul class="sub">
                        {foreach key=key item=nav_list from=$nav.childmenu}
                        <li class="{if $nav.current}current{/if}"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
                        {/foreach}
                    </ul>
                {/if}
            </li>
            {if $nav@index+1 gte $limit}{break}{/if}
            {/foreach}
        </ul>


        
    </div> 
        
    <div id="banner" class="wrapper clearfix" style="width: 100%; padding: 0;">
        <div id="slideBox" class="slideBox">
          <div class="hd">
            <ul>
            {foreach item=slidepic from=$global.slidepics}
              <li></li>                    
            {/foreach} 
            </ul>
          </div>
          <div class="bd">
            <ul>
<!--               <li><a href="#"><img src="images/banner.jpg" /></a></li>
              <li><a href="#"><img src="images/banner.jpg" /></a></li>
              <li><a href="#"><img src="images/banner.jpg" /></a></li> -->

            {foreach item=slidepic from=$global.slidepics}
              <li><a href="{$slidepic.link}"><img src="{$slidepic.image}"></a></li>                    
            {/foreach}                   
            </ul>
          </div>
          <a class="prev" href="javascript:void(0)"></a>
          <a class="next" href="javascript:void(0)"></a>        
        </div>  

    </div>