{if $pagenavs}
	<div class="address">{$posnavs[0].name}-<a href="{$site_url}">返回首页</a></div>
	<ul class="first">
		{foreach item=nav from=$pagenavs}
		<li style="width:{100/(($navs|count)+1)}%">
			<a href="{if $nav.childmenu}javascript:; {else} {$nav.link}{/if}">{$nav.name}</a>
			{if $nav.childmenu}
			<i></i>
			<ul class="second">
				{foreach item=nav_list from=$nav.childmenu}
				<li>
					<a href="{if $nav_list.childmenu}javascript:; {else} {$nav_list.link}{/if}">{$nav_list.name}</a>
					{if $nav_list.childmenu}
					<ul class="third">
						{foreach item=nav_last from=$nav_list.childmenu}
							<li><a href="{if $nav_last.childmenu}javascript:; {else} {$nav_last.link}{/if}">{$nav_last.name}</a></li>
						{/foreach}
					</ul>
					{/if}
				</li>
				{/foreach}
			</ul>
			{/if}
		</li>
		{/foreach}
	</ul>
{else}  <!-- 无子栏目时 -->
	<div class="address">{$_pagenavs_sub3.pagenavs.name}-<a href="{$site_url}">返回首页</a></div>
	<ul class="first">
		{foreach item=nav from=$_pagenavs_sub3.pagenavs.childmenu}
		<li style="width:{100/(($navs|count)+1)}%">
			<a href="{if $nav.childmenu}javascript:; {else} {$nav.link}{/if}">{$nav.name}</a>
			{if $nav.childmenu}
			<i></i>
			<ul class="second">
				{foreach item=nav_list from=$nav.childmenu}
				<li>
					<a href="{if $nav_list.childmenu}javascript:; {else} {$nav_list.link}{/if}">{$nav_list.name}</a>
					{if $nav_list.childmenu}
					<ul class="third">
						{foreach item=nav_last from=$nav_list.childmenu}
							<li><a href="{if $nav_last.childmenu}javascript:; {else} {$nav_last.link}{/if}">{$nav_last.name}</a></li>
						{/foreach}
					</ul>
					{/if}
				</li>
				{/foreach}
			</ul>
			{/if}
		</li>
		{/foreach}
	</ul>
{/if}