
/*标题样式*/
.in_h2{ text-align:center; width:90%; margin:auto; position:relative; margin-top:20px;}

.in_h2:before{ width:32%; height:1px;  background:#333; position:absolute; left:-10px; top:45%; display:block; content:"";}
.in_h2:after{ width:32%; height:1px; background:#333; position:absolute; right:-10px; top:45%; display:block; content:"";}
.in_h2 .local{ width:30%; margin:auto;  position:relative; z-index:3; border:1px solid #636364}
.in_h2 .local:before{ width:10px; height:10px; border-radius:50%; background:#636364; position:absolute; left:-30px; bottom:15px; display:block; content:"";}
.in_h2 .local:after{ width:10px; height:10px; border-radius:50%; background:#636364; position:absolute; right:-30px; bottom:15px; display:block; content:"";}

.in_h2 .in_zh{color:#c60e1d;line-height:35px; height:35px;font-size:24px; font-weight:bold; width:100%; text-align:center; margin:auto; text-align:center;}
.in_h2 .in_en{ color:#575757; line-height:20px; height:20px; font-weight:normal; font-size:15px;width:100%; text-transform:uppercase; text-align:center; margin:auto; text-align:center;  }
.in_h2 .in_title1{ color:#575757; line-height:25px; height:25px; font-weight:normal; font-size:13px;width:70%; margin:auto; text-transform:uppercase; text-align:center;  text-align:center;  }


/*标题样式*/
.inner{ margin-top:15px;}
.wrapper{ width:100%; margin:auto; }

#in_page{position:relative;   }
#in_page .tit{}
#in_page .tit .title{ width:38%;  color:#fff; font-size:18px; position:relative; margin:20px 0; float:left }
#in_page .tit .title a{ color:#f37587; position:absolute; z-index:1000; top:15px; left:20px;}
#in_page .tit .more{ font-size:15px; color:#fff; text-transform:uppercase; float:right; margin-top:40px; margin-right:40px;}
#in_page .tit .more a{ color:#fff}
#in_page .inner{ width:93%; margin:auto; margin-top:10px;}
#in_page .inner .txt{ width:62%; float:right;  overflow:hidden; margin:auto; }
#in_page .inner .txt p{line-height:24px; height:144px;overflow:hidden; color:#fff }
#in_page .inner .pic{ width:30%; float:left;  position:relative }
#in_page .inner .pic img{ position:relative; z-index:100}
#in_page .inner .pic:after{ width:100%; height:70%; background:#fff; border:3px solid #dd3e56; position:absolute; right:-20%; top:10%; content:""; z-index:1}
#in_page .inner .pic:before{ width:90%; height:90%; background:#fff; border:3px solid #dd3e56; position:absolute; right:-10%; top:15%; content:""; z-index:1}



@media screen and (min-width: 320px) and (max-width: 480px){
#in_page .tit .title a{ font-size:12px; top:3px; left:10px;}
#in_page .tit .more{ margin-top:20px; font-size:10px;}
#in_page .inner .txt p{ height:120px;}
.in_h2 .local{ width:40%;}
.in_h2 .in_zh{ font-size:18px; line-height:25px; height:25px;}
.in_h2 .in_en{ font-size:10px;}
.in_h2:before{ width:25%;}
.in_h2:after{ width:25%; }
.in_h2:before{  top:35%; }
.in_h2:after{ top:35%;}


}
@media screen and (min-width: 480px) {
	
}






#in_text{ position:relative;}
#in_text .more{ width:10%; height:30px; background:#970c1f; line-height:30px; color:#fff; font-size:15px; position:absolute; bottom:5%; left:55%; padding:0 5px; text-align:center}
#in_text .more a{ color:#fff;}
#in_text .more .triangle{width: 0;height: 0;border-bottom: 12px solid #904441;border-left: 12px solid transparent; position:absolute; left:-12px; top:0px;}

#in_text .title{ width:48%; background:url(../images/in_text.png) repeat-x bottom; padding:5px 0; margin-left:2%; position:relative; overflow:hidden; height:30px; overflow:hidden}
#in_text .title .in_zh{ width:28%; font-size:18px; color:#a41010; float:left; margin-right:5px; line-height:30px; height:30px; overflow:hidden}
#in_text .title .in_en{width:38%; font-size:15px; color:#a41010; text-transform:capitalize; float:left; line-height:30px;height:30px; overflow:hidden}
#in_text .inner{ position:relative}
#in_text .inner ul{ width:94%; margin:auto}
#in_text .inner ul li{ width:100%;  float:left; position:relative; margin-top:15px;}
#in_text .inner ul li .in_textbox{  }
#in_text .inner ul li .in_textbox .in_title{ width:80%; padding-left:2%;display:block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; font-size:1.1em; color:#171717;float:left; line-height:40px; background:#fff;}
#in_text .inner ul li .in_textbox .in_data{font-size:14px; color:#b0b0b0;  font-size:12px; float:left; width:18%; line-height:40px; font-size:14px; text-align:center; background:#ff6f93; color:#fff; border-radius:10px 0 0 10px;   }
#in_text .inner ul li .triangle{width: 0;height: 0;border-bottom: 15px solid #904441;border-left: 15px solid transparent; position:absolute; right:0px; bottom:0px;}



@media screen and (min-width: 320px) and (max-width: 480px){
	#in_text .more{ font-size:14px; width:20%;bottom:8%; left:60%}
#in_text .inner ul li .in_textbox .in_data{ width:25%; font-size:12px;}
#in_text .inner ul li .in_textbox .in_title{ width:73%}
}

@media screen and (min-width: 480px) {
}

#in_image{ margin:20px 0;}
#in_image .inner{ }
#in_image ul li{ float:left;  overflow:hidden; margin:1% 1.5%; width:30%;overflow:hidden; }
#in_image ul li .in_proimg{ overflow:hidden; border:5px solid #f7a817 }
#in_image ul li .in_proimg img{ border:1px solid #fff}
#in_image ul li .in_proimg img{ width:100%}
#in_image ul li .in_protitle{ text-align:left; color:#fff; line-height:35px; text-align:center; font-size:15px; height:35px; overflow:hidden}



@media screen and (min-width: 320px) and (max-width: 480px){
	#in_image ul li .in_protitle{ height:30px; line-height:30px;}
}
@media screen and (min-width: 480px) {
}

