<div class="posnav">
     <p class="ename">{$posnavs[0].en_name}</p>
     <div class="adrbox"><p class="name fl">{$posnavs[0].name}</p><span class="adr fr">当前位置：<a href="{$site_url}">首页</a>{foreach item=nav from=$posnavs}＞<a href="{$nav.link}">{$nav.name}</a>{/foreach}</span></div>
</div>
{if $pagenavs}
<div class="con-nav">               
    <ul class="ce">
      {foreach item=lnav from=$pagenavs}
        <li class="celi {if $lnav.current}current{/if}"><a class="{if $lnav.current}current{/if}" href="{if $lnav.childmenu}javascript:;{else}{$lnav.link}{/if}">{$lnav.name}</a> 
            {if $lnav.childmenu}
             <ul class="er">
                {foreach item=navlist from=$lnav.childmenu}
                <li class="e_li {if $navlist.current}current{/if}"><a href="{if $navlist.childmenu}javascript:;{else}{$navlist.link}{/if}">{$navlist.name}</a> 
                      {if $navlist.childmenu}   
                      <ul class="thr">
                          {foreach item=navlists from=$navlist.childmenu}
                           <li class="{if $navlists.current}current{/if}"> 
                            <a  href="{$navlists.link}">{$navlists.name}</a> 
           
                           </li>
                          {/foreach}
                      </ul>
                      {/if}
                </li> 
                {/foreach}            
             </ul>
            {/if}
        </li>
      {/foreach}
    </ul>   
</div>
{else}
<div class="con-nav">               
    <ul class="ce">
      {foreach item=lnav from=$global.pagenavss.childmenu}
        <li class="celi {if $lnav.current}current{/if}"><a class="{if $lnav.current}current{/if}" href="{if $lnav.childmenu}javascript:;{else}{$lnav.link}{/if}">{$lnav.name}</a> 
            {if $lnav.childmenu}
             <ul class="er">
                {foreach item=navlist from=$lnav.childmenu}
                <li class="e_li {if $navlist.current}current{/if}"><a href="{if $navlist.childmenu}javascript:;{else}{$navlist.link}{/if}">{$navlist.name}</a> 
                      {if $navlist.childmenu}   
                      <ul class="thr">
                          {foreach item=navlists from=$navlist.childmenu}
                           <li class="{if $navlists.current}current{/if}"> 
                            <a  href="{$navlists.link}">{$navlists.name}</a> 
                           </li>
                          {/foreach}
                      </ul>
                      {/if}
                </li> 
                {/foreach}            
             </ul>
            {/if}
        </li>
      {/foreach}
    </ul>   
</div>
{/if}