<header>

<div class="heade_o">
  <div class="head_outside">
      <form action="{$search_action}" method="GET" class="hides">
           <input type="text" placeholder="请输入搜索关键词" class="input_case" name="s">
           <input type="submit" value="" class="input_key">
        </form>
   </div>
</div> 
 <div class="head">
        <h2 class="logo f_l">
          <a href="{$site_url}">
            <img src="{$logo}" class="logoimg"/>
          </a>
        </h2>
       <div class="header_menu f_r">
            <ul class="nav clearfix" id="nav">
                {$limit = 5}
                <li class="nLi" style="width: {100/($limit+1)}%"><h3><a href="{$site_url}">首页<span>HOME</span></a></h3>
                </li>
                  {foreach item=nav from=$navs}
                    <li class="nLi {if $nav.current}current{/if}" style="width: {100/($limit+1)}%">
                      <h3><a href="{$nav.link}">{$nav.name} <span>{$nav.en_name}</span></a></h3>
                     
                      {if $nav.childmenu}
                        <ul class="sub">
                          {foreach item=nav_list from=$nav.childmenu}
                          <li class="{if $nav_list.current}current{/if}"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
                          {/foreach}
                        </ul>
                      {/if}
                    </li>
                    {if $nav@index+1 gte $limit}{break}{/if}
                  {/foreach}
                       
              </ul>
        </div>
    </div>   
  <div class="banners p_r">
    <div id="slideBox" class="slideBox p_a">
       <!--  <div class="hd">
            <ul>
                {foreach item=slidepic from=$_header.slidepics}
                    <li>{$slidepic@index+1}</li>
                {/foreach}
            </ul>
        </div> -->
        <div class="bd">
            <ul>
               {foreach item=slidepic from=$_header.slidepics}
                        <li><a href="{$slidepic.link}"><img src="{$slidepic.image}" alt="{$slidepic.title}" /></a></li>
               {/foreach}
            </ul>
        </div>
    </div>
  </div>

</header>
</div>