<section>

      <div class="picMarquee">
				<ul class="picList">
					{foreach  name=list4 item=article from=$index.list4.data}
                         <li><a href="{$article.link}" class="pic"><img src="{$article.image}"  height="95" width="189" /></a>
                            <a href="{$article.link}" class="title">{$article.title}</a>
                         </li>
                    {/foreach}
				</ul>
                 <a class="prev" href="javascript:void(0)"></a>
                <a class="next" href="javascript:void(0)"></a>       
		</div>
</section>