<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <!-- 调试代码 End -->
    <script type="text/javascript">
    // 跳转手机页面
    {if $site_another_url}
      if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
        location.href = '{$site_another_url}';
      }
    {/if}
    </script>
<meta http-equiv="x-ua-compatible" content="ie=7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{$keywords}" />
 <meta name="description" content="{$description}" />
<link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$site_url}js/jquery1.42.min.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.js"></script>
<script id="jsID" type="text/javascript" src="{$site_url}js/jquery_nav.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery_banner.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery_pic.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery_sz.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
<title>{$title}</title>
</head>
<body>
 <div class="top"></div>
 <!-- 头部开始 -->
 {include file="./_header.html"}
 <!-- 头部结束 -->
<div class="main_box">
    <div class="main">
      <div class="main_middle">
        <div class="left">
          {include file="./_left_nav.html"}
          
        
         <div class="contact">
            <h4 class="contact_pic"><img src="{$site_url}images/contact.jpg" width="234" height="128" /></h4>
            <div class="contact_text">
             {include file="./_global.html"}
            </div>
          </div>
        </div>
        <div class="right">
          <div class="pro">
            {include file="./_right_nav.html"}
            {include file="./_pro.html"}
            <div class="module_page">{include file="./_num.html"}</div>
            </div>
          
          
          
          
        </div>
      </div>
    </div>
    <div class="main_bottom"></div>
 {include file="./_footer.html"}
</div>
</body>
</html>