<div class="header">
  <div class="head pr">
    <div class="logo_div pa">
        <div class="logo dtc tc vm"><a href=""><img src="{$logo}"></a></div>
    </div>
    <div class="navbox fr">
        <div class="tell tr">{$global.rex}：{$contact.telephone}</div>
        <div class="nav fr">
              <ul class="menu">
                <li><a href="{$site_url}" id="width">首页</a></li>
                {foreach item=nav from=$navs}
                    <li><a href="{$nav.link}" id="width">{$nav.name}</a>
                      {if $nav.childmenu}
                        <ul class="nav_list">
                          {foreach item=navlist from=$nav.childmenu}
                             <li><a href="{$navlist.link}">{$navlist.name}</a></li>
                          {/foreach}
                        </ul>
                      {/if}
                    </li>
                    {if $nav@index+1 eq 7}{break}{/if}
                {/foreach}
              </ul>
          </div>
    </div>
  </div>
</div>
<div class="banbox">
    <div id="banner">
        <ul class="picture">
          {foreach item=banner from=$global.slidepics}
             <li><a target="_blank" href="{$banner.link}"><img src="{$banner.image}"></a></li>
          {/foreach}
        </ul>
        <ul class="dot">
          {foreach item=banner from=$global.slidepics}
            <li></li>
          {/foreach}
        </ul>
    </div>
</div>