<div class="topbg">
	<div class="top w">
		<div class="welcome f_l">{$_header.ggtext}</div>
		<div class="tel f_r">{$_header.telTitle} {$contact.telephone}</div>
	</div>
</div>	

<div class="header w1">
	<a href="{$site_url}" title="返回首页" class="logo f_l">
		<img src="{$logo}" alt="{$title}">
	</a>
	<div class="navBar">
		<ul class="nav clearfix">
			{$limit = 9}
			{if $navs|count lt $limit}{$limit=$navs|count}{/if}
			<li class="m" style="width:{100/($limit+1)}%">
				<h3><a  href="{$site_url}">网站首页</a></h3>
			</li>
			
			{foreach item=nav from=$navs}
			<li class="m {if $nav.current}current{/if}" style="width: {100/($limit+1)}%">
				<h3><a href="{$nav.link}">{$nav.name}</a></h3>
				{if $nav.childmenu}
				<div class="sub">
					<div class="subl"><img src="{$nav.image}"></div>
					<dl>
						{foreach item=nav_list from=$nav.childmenu}
						<dd class="{if $nav_list.current}current{/if}">
							<a href="{$nav_list.link}">{$nav_list.name}</a>
						</dd>
						{/foreach}
					</dl>
				</div>
				{/if}
			</li>
            {if $nav@index+1 gte $limit}{break}{/if}
			{/foreach}			
		</ul>
	</div>
</div>		



