
/*标题样式*/
.in_h2{ width:100%;border-radius:15px;  overflow:hidden; background:#c7b290; color:#402511; margin-bottom:4%}
.in_h2 .ch{ width:60%; font-size:16px;line-height:35px; height:35px; background:url(../images/h2_bg.png) no-repeat left; padding-left:3%; float:left; color:#402511; margin-left:2%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; }
.in_h2 .more{  line-height:35px; height:35px; float:right; text-transform:uppercase; font-size:13px; margin-right:3%}




@media screen and (min-width: 320px) and (max-width: 480px){
.in_h2 .ch{ padding-left:7%;}



}
/*标题样式*/
.inner{ margin-top:10px;}
.wrapper{ width:96%; margin:5% auto; }




#in_page { position:relative; border:3px solid #5e3301 }
#in_page .tit{ background:#5e3301;  padding:10px 0;padding-left:2%; position:relative}
#in_page .tit .ch{ height:24px; line-height:24px;color:#fff; text-align:left; width:80%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; font-size:24px;}
#in_page .tit .en{ height:20px; line-height:20px;  color:#fff; text-align:left; width:80%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; text-transform:uppercase}
#in_page .tit .more{ width:13%; height:25px; line-height:25px; color:#5e3301; text-align:center; background:#fff; position:absolute; top:25%; right:2%}





#in_page .inner{ width:94%; margin:3% auto}
#in_page .inner .pix{ width:33%; float:right; border:3px solid #694112}
#in_page .inner .pix img{ width:100%; }
#in_page .inner p{ width:65%; margin:auto; line-height:30px; height:150px; overflow:hidden; font-size:14px; color:#5e3301; font-size:14px; float:left}


@media screen and (min-width: 320px) and (max-width: 480px){
#in_page .inner .pix{ width:45%;}
#in_page .inner p{ width:52%; line-height:25px; height:125px; font-size:12px;}
#in_page .tit .ch{  font-size:20px;}

}




#in_text{  border:3px solid #5e3301  }

#in_text .tit{ background:#5e3301;  padding:10px 0;padding-left:2%; position:relative}
#in_text .tit .ch{ height:24px; line-height:24px;color:#fff; text-align:left; width:80%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; font-size:24px;}
#in_text .tit .en{ height:20px; line-height:20px;  color:#fff; text-align:left; width:80%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; text-transform:uppercase}
#in_text .tit .more{ width:13%; height:25px; line-height:25px; color:#5e3301; text-align:center; background:#fff; position:absolute; top:25%; right:2%}

#in_text ul li{  width:94%; margin:auto;  display: block; margin:5% auto; border-bottom:1px dotted #8f8f8f; padding-bottom:4%; font-size:13px; }
#in_text ul li .in_des{ width:83%; float:right}
#in_text ul li .in_des h2{ font-size:14px; color:#333; height:25px; line-height:25px; overflow:hidden;margin: 0 auto;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#in_text ul li .in_des .txt{ line-height:20px; height:20px;margin: 0 auto;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; color:#808080}


#in_text ul li .date{ float:left;   background:#a9a9a9; width:15%; text-align:center; position:relative}
#in_text ul li .date .riqi{ font-size:14px; color:#fff}
#in_text ul li .date .year{ font-size:16px; color:#fff}



#in_text ul li .date:before{  width: 0;height: 0;border-top: 8px solid transparent;border-left: 10px solid #a9a9a9;border-bottom: 8px solid transparent; position:absolute;  content:"";  right:-7px; top:35% }

#in_text ul li:last-child{ border-bottom:none}
@media screen and (min-width: 320px) and (max-width: 480px){
#in_text ul li .in_des{ width:78%; float:right}
#in_text ul li .date{ width:20%; }
#in_text .tit .ch{  font-size:20px;}

}



#in_image{   position:relative;  border:3px solid #5e3301    }
#in_image .tit{ background:#5e3301;  padding:10px 0;padding-left:2%; position:relative}
#in_image .tit .ch{ height:24px; line-height:24px;color:#fff; text-align:left; width:80%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; font-size:24px;}
#in_image .tit .en{ height:20px; line-height:20px;  color:#fff; text-align:left; width:80%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; text-transform:uppercase}
#in_image .tit .more{ width:13%; height:25px; line-height:25px; color:#5e3301; text-align:center; background:#fff; position:absolute; top:25%; right:2%}

#in_image .inner{   margin:auto; }
#in_image ul{ width:98%; margin:auto; position:relative; z-index:2; margin-top:4% }
#in_image ul li{ float:left;margin:2%; width:29%; }
#in_image ul li .pix{ position:relative; border:2px solid #e6cbb7; padding:2px}
#in_image ul li .bottom{ width:48px; height:11px; margin:auto;margin-top:-2px; position:relative; z-index:10}
#in_image ul li .in_protitle{  width:100%; position:relative; z-index:11; height:35px; line-height:35px;margin-top:5px;display: block;margin: 0 auto;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; color:#5e3301; text-align:center; }


@media screen and (min-width: 320px) and (max-width: 480px){
#in_image .tit .ch{  font-size:20px;}

#in_page .tit .more,#in_text .tit .more,#in_image .tit .more{ width:20%}


}

