	<div class="left fl">
		{if $pagenavs}
		    <div class="left_top">{$posnavs[0].en_name}</div>
		    <div class="left_list">
			    <ul class="first">
				{foreach item=nav from=$pagenavs}
				    <li class="lone">
					<a href="{if $nav.childmenu}javascript:;{else}{$nav.link}{/if}">{$nav.en_name}</a>
					{if $nav.childmenu}
					<ul class="second">
						{foreach item=subnav from=$nav.childmenu}
						<li class="ltwo">
							<a href="{if $subnav.childmenu}javascript:;{else}{$subnav.link}{/if}">{$subnav.en_name}</a>
							{if $subnav.childmenu}
							<ul class="third">
								{foreach item=lastnav from=$subnav.childmenu}
								<li class="lthr"><a href="{if $lastnav.childmenu}javascript:;{else}{$lastnav.link}{/if}">{$lastnav.en_name}</a></li>
								{/foreach}
							</ul>
							{/if}
						</li>
						{/foreach}
					</ul>
					{/if}
				    </li>
				{/foreach}
			    </ul>
		    </div>
	    {else}
		    <div class="left_top">{$global.pagenavs.en_name}</div>
		    <div class="left_list">
			    <ul class="first">
				{foreach item=nav from=$global.pagenavs.childmenu}
				    <li class="lone">
					<a href="{if $nav.childmenu}javascript:;{else}{$nav.link}{/if}">{$nav.en_name}</a>
					{if $nav.childmenu}
					<ul class="second">
						{foreach item=subnav from=$nav.childmenu}
						<li class="ltwo">
							<a href="{if $subnav.childmenu}javascript:;{else}{$subnav.link}{/if}">{$subnav.en_name}</a>
							{if $subnav.childmenu}
							<ul class="third">
								{foreach item=lastnav from=$subnav.childmenu}
								<li class="lthr"><a href="{if $lastnav.childmenu}javascript:;{else}{$lastnav.link}{/if}">{$lastnav.en_name}</a></li>
								{/foreach}
							</ul>
							{/if}
						</li>
						{/foreach}
					</ul>
					{/if}
				    </li>
				{/foreach}
			    </ul>
		    </div>
	    {/if}
	</div>
	
