<div class="ny_head">
     <div class="ny_top">
          <div class="logo"><a href="{$site_url}"><img src="{$logo}"></a></div>
          <div class="ny_nav">
              <ul class="nmenu">
                <li><a href="{$site_url}" id="width">首页</a></li>
                {foreach item=nav from=$navs}
                <li><a href="{$nav.link}" id="width">{$nav.name}</a></li>
                {if $nav@index+1 == 8}{break}{/if}
                {/foreach}
                <div class="ledgement"></div>
              </ul>
          </div>
     </div>
</div>