<div id="footer">
    <div class="container">
        <div class="foot-lt">
            {include file="./_links.html"}
            <div class="contact">
                <span>联系电话:{$contact.telephone}</span>
                <span>联系人:{$contact.name}</span>
                <span>公司地址:{$contact.address}</span>
            </div>
            <div class="print">
                <p >{$footprint}</p>
            </div>
        </div>
        <div class="foot-ma rt"><img src="{$global.erwei_img.image}" alt=""></div>
    </div>
</div>