<div class="linkbg">
	<div class="link">友情链接：
	{foreach key=key item=link from=$global.link}
		<a href="{$link.link}" target="_blank">{$link.title}</a>| 	
	{/foreach}
	</div>
</div>
<div class="tailbg">
	<div class="tail">
		<div class="second_nav">
			<ul>
				{foreach item=nav from=$navs}
					<li>
						<a href="{$nav.link}" target="_blank">{$nav.name}</a>
						{if $nav.childmenu}
						<dl>
							{foreach item=nav_list from=$nav.childmenu}
							<dd>
								<a href="{$nav_list.link}">{$nav_list.name}</a>
							</dd>
							{if $nav_list@index+1 eq 7}{break}{/if}
							{/foreach}
						</dl>
						{/if}
					</li>
					{if $nav@index+1 eq 5}{break}{/if}
		        {/foreach}	
			</ul>
		</div>
		<div class="tailr">
			<div class="tel">{$global.hotline}<span>{$global.tel}</span></div>
			<div class="wx">
				<img src="{$global.wx.image}">
				<p>{$global.scan}</p>
			</div>
		</div>
	</div>
</div>
<div class="footerbg">
	<div class="footer">
		{$footprint} 
		
	</div>
</div>
{$footscript}