<div id="slideBox" class="slideBox">
	<div class="hd">
		<ul>
			{foreach item=slidepic from=$global.slidepics}
				<li></li>
			{/foreach}
		</ul>
	</div>
	<div class="bd">
		<ul>
			{foreach item=slidepic from=$global.slidepics}
				<li>
					<a href="{$slidepic.link}">
						<img src="{$slidepic.image}" alt="{$slidepic.title}">
					</a>
				</li>
			{/foreach}
		</ul>
	</div>
	<div class="top">
		<div class="header">
			<a href="{$site_url}" title="返回首页" class="logo">
				<img src="{$logo}" alt="{$title}">
			</a>
			<div class="navBar">
				<ul class="nav clearfix">								
					{$limit = 9}
					{if $navs|count lt $limit}{$limit=$navs|count}{/if}
					<li class="m" style="width:{100/($limit+1)}%">
						<h3><a href="{$site_url}">网站首页</a></h3>
					</li>
					
					{foreach item=nav from=$navs}
					<li class="m {if $nav.current}current{/if}" style="width: {100/($limit+1)}%">
						<h3><a href="{$nav.link}">{$nav.name}</a></h3>
						{if $nav.childmenu}
						<ul class="sub">
							{foreach item=nav_list from=$nav.childmenu}
							<li class="{if $nav_list.current}current{/if}">
								<a href="{$nav_list.link}">{$nav_list.name}</a>
							</li>
							{/foreach}
						</ul>
						{/if}
					</li>
					{if $nav@index+1 gte $limit}{break}{/if}
			        {/foreach}	
				</ul>
			</div>			
		</div>
	</div>
</div>

