<div class="top">
	<div class="bl"></div>
	<div class="public1">
		<div class="left">
			<a href="{$site_url}"><img src="{$logo}"></a>
		</div>
		<div class="right">
			<div class="menu">
				<a href="" id="nav_btn">导航</a>
					<ul class="nav" id="nav">
					{foreach name=navs item=nav from=$navs}
						<li class="yili"><a href="{$nav.link}" class="a">{$nav.name}</a>
						{if $nav.childmenu}
							<ul class="erul">
							{foreach key=key item=nav_list from=$nav.childmenu}
								<li><a href="{$nav_list.link}">{$nav_list.name}</a>
								{if $nav_list.childmenu}
									<ul>
									{foreach item=nav1_list from=$nav_list.childmenu}
										<li><a href="{$nav1_list.link}">{$nav1_list.name}</a></li>
									{/foreach}
									</ul>
								{/if}
								</li>
							{/foreach}
							</ul>
						{/if}
						</li>
					{/foreach}
					</ul>
			</div>
			<div class="search_box">
				<form action="{$search_action}" method="GET">
					<input type="text" name="s" placeholder="搜索关键字" />
					<input type="submit" />
				</form>
			</div>
			<div class="contact">
				<h3>{$contact.telephone}</h3>
			</div>		
		</div>
	</div>
</div>