{if $pagenavs}
<div class="inner_nav" id="inner_nav">
	<ul class="clearfix">
	{foreach name=pagenavs item=nav from=$pagenavs}
		<li class="firli">
			<a href="{$nav.link}">{$nav.name}</a>
			{if $nav.childmenu}
			<ul class="secul">
				{foreach item=nav_list from=$nav.childmenu}
				<li><a href="{$nav_list.link}">{$nav_list.name}</a></li>
				{/foreach}
			</ul>
			{/if}
		</li>
	{/foreach}
	</ul>
</div>
{else}
<div class="inner_nav" id="inner_nav">
	<ul class="clearfix">
	{foreach name=pagenavs item=nav from=$_pagenavs_sub3.pagenavs.childmenu}
		<li class="firli">
			<a href="{$nav.link}">{$nav.name}</a>
			{if $nav.childmenu}
			<ul class="secul">
				{foreach item=nav_list from=$nav.childmenu}
				<li><a href="{$nav_list.link}">{$nav_list.name}</a></li>
				{/foreach}
			</ul>
			{/if}
		</li>
	{/foreach}
	</ul>
</div>
{/if}