<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript">
    // Ìø×ªÊÖ»úÒ³Ãæ
    {if $site_another_url}
        if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
            location.href = '{$site_another_url}';
        }
    {/if}
    </script>

<!--  -->
<meta name="keywords" content="{$keywords}"/>
<meta name="description" content="{$description}"/>
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="zh-CN">

<link rel="stylesheet" type="text/css" href="{$site_url}css/style.css"/>
<link rel="stylesheet" type="text/css" href="{$site_url}css/jquery.mCustomScrollbar.css"/>
<script type="text/javascript" src="{$site_url}js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
<script type="text/javascript" src="{$site_url}js/index.js"></script>
<script type="text/javascript" src="{$site_url}js/html5.js"></script>
<title>{$title}</title>
</head>
<body>
	<div id="wrapper">
        {include file='./_header.html'}
        <div class="inside">
            <div class="wrap">
                <div class="main-hd">
                    {include file='./_topnav.html'}
                    <div class="name">
                        <h2>{$article.category.en_name}</h2>
                        <h3>{$article.category.name}</h3>
                    </div>
                </div>
                <div class="middle product-detail">
                    <div class="case slides">
                        <ul class="case-list">
                            {foreach item=image from=$article.images}
                                <li><i><img src="{$image.image}"></i></li>
                            {/foreach}
                        </ul>
                        <div class="arrows">
                            <a class="next" href="javascript:void(null)"></a>
                            <a class="prev" href="javascript:void(null)"></a>
                        </div>
                    </div>
                    <div class="case-detail">
                        <div class="main">
                            <h2 class="case-hd">{$article.title}</h2>
                            {$article.content|unescape:"html"}
                        </div>
                    </div>
                    <ul class="near-page">
                        <li><a href="{$article.prev.link}" class="near-prev">上一篇</a></li>
                        <li><a href="javascript:window.history.back()" class="return">返回</a></li>
                        <li><a href="{$article.next.link}" class="near-next">下一篇</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {include file='./_footer.html'}
    </div>
</body>
</html>