
<header id="header">
    <div class="logo"><a href="{$site_url}"><img src="{$logo}" /></a></div>
    <div class="head">
        <ul class="nav" id="nav">
            <li><a href="{$site_url}">Home</a></li>
            {foreach item=nav from=$navs}
                <li>
                    <a href="{$nav.link}">{$nav.en_name}</a>
                    {if $nav.childmenu}
                        <div class="subnav">
                            <div class="triangle"></div>
                            <ul class="nav-list">
                                {foreach key=key item=subnav from=$nav.childmenu}
                                <li><a href="{$subnav.link}">{$subnav.en_name}</a></li>
                                {/foreach}
                                <em></em>
                            </ul>
                        </div>
                    {/if}
                </li>
            {/foreach}
            <div class="lump"></div>
        </ul>
    </div>
</header>