<!DOCTYPE html>
<html manifest="huancun.manifest">
<head>
  <!-- 实时预览调试代码，模板开发完成后删除 -->
  
  <!-- 调试代码 End -->
  <script type="text/javascript">
// 跳转PC页面
{if $site_another_url}
  if (!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
    location.href = '{$site_another_url}';
  }
{/if}
</script>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta content="telephone=no, email=no" name="format-detection">
  <!-- 启用360浏览器的极速模式(webkit) -->
  <meta name="renderer" content="webkit">
  <!-- 避免IE使用兼容模式 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
  <meta name="HandheldFriendly" content="true">
  <!-- 微软的老式浏览器 -->
  <meta name="MobileOptimized" content="320">
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">
  <meta name="keywords" content="{$keywords}" />
  <meta name="description" content="{$description}" />
  <link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
  <title>{$title}</title>
  <link rel="stylesheet" href="{$site_url}css/reset.css" />
  <link rel="stylesheet" href="{$site_url}css/public.css" />
  <link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />
  <link href="{$site_url}css/swipe.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" rev="stylesheet" href="{$site_url}css/style_{$stylecolor}.css" type="text/css" />
  <script src="{$site_url}js/TouchSlide.1.1.js"></script>
  <script type="text/javascript" src="{$site_url}js/jquery.min.js"></script>
  <script type="text/javascript" src="{$site_url}js/function.js"></script>
  <script type="text/javascript" src="{$site_url}js/share.js"></script>
  <script src="{$site_url}js/idangerous.swiper-2.0.min.js"></script>
  <script src="{$site_url}js/idangerous.swiper.3dflow-2.0.js"></script>
  <script src="{$site_url}js/simple-app.js"></script>
  <script type="text/javascript">
  window.addEventListener('load', function(){
   setTimeout(function(){ window.scrollTo(0, 1); }, 100);
});//safari浏览器可以通过此代码来隐藏地址栏
</script>
  {$headscript}
</head>
<body>
  <div class="body">
    <div class="wrap page-active">
      <div class="index-wrap">
        <header>
          <div class="header">
            <div class="logo">
              <img src="{$logo}" width="100%"></div>
            <div class="triedls">
              <div class="toppic"></div>
            </div>
          </div>
          <div class="bannmenu">
            {include file="./_header.html"}
            <div class="menu">
              <div class="swiper-nav swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="menulist" onclick="javascript:window.location.href='{$site_url}'">
                      <dl>
                        <a href="#">首页</a>
                      </dl>
                    </div>
                  </div>
                  {foreach item=nav_list from=$navs}
                  {* 仅输出类型为 5内容单页 和 外链的栏目（包括5留言板、7微信、8直达号功能） *}
                  <div class="swiper-slide">
                    <div class="menulist" onclick="javascript:window.location.href='{$nav_list.link}'">
                      <dl>
                        <a href="#">{$nav_list.name}</a>
                      </dl>
                    </div>
                  </div>
                  {if $nav_list@index+1 eq 4}{break}{/if}
                  {/foreach}
                </div>
              </div>
            </div>
          </div>
        </header>
        <section>
          <div class="boxmain">
            {* 输出type为1234的栏目展现HTML，且1234每个都须定义 *}
          {foreach name=mIndexCats item=mIndexCat from=$mIndexCats}
          {* 仅输出类型为 4内容单页 的栏目 *}
          {if $mIndexCat.type eq 4}
            {* 后台选中“样式1”的展现模式： *}
            {if $mIndexCat.showtype eq 1}
            <div class="gywm_edit">
              <div class="about_titles">
                <a  onclick="javascript:window.location.href='{$mIndexCat.link}'">
                  <div class="imgast">
                    <img src="{$mIndexCat.image}" width="100%"></div>
                  <div class="gy_title">{$mIndexCat.name}</div>
                  <div class="chankan">点击查看</div>
                </a>
              </div>
              <div class="box-abouts">
                <div class="a_edit">{$mIndexCat.description}</div>
              </div>
            </div>
            {/if}
          {* 仅输出类型为 2图片列表 的栏目 *}
          {elseif $mIndexCat.type eq 2}
          {if $mIndexCat.showtype eq 1}
            <div class="prod_d">
              <div class="pro_titles">
                <div class="p_titles"><a href="{$mIndexCat.link}">{$mIndexCat.name}</a></div>
              </div>
              <div class="goodfood">{$mIndexCat.description}</div>
              <div class="pros_show">
                <div id="picScroll" class="picScroll">
                  <div class="bd">
                    {foreach item=article from=$mIndexCat.data}
                      {if ($article@index)%3 eq 0}
                    <ul>
                      {/if}
                      <li>
                        <a onclick="javascript:window.location.href='{$article.link}'">
                          <div class="prsilimg">
                            <div class="imgborder">
                              <img _src="{$article.image}" src="{$article.image}" />
                            </div>
                            <div class="pri_titles">{$article.title}</div>
                          </div>
                        </a>
                      </li>
                      {if ($article@index+1)%3 eq 0}
                    </ul>
                    {/if}
                      {if $article@index+1 eq 9}{break}{/if}
                    {/foreach}
                  </div>
                  <div class="hd">
                    <span class="next"></span>
                    <ul></ul>
                    <span class="prev"></span>
                  </div>
                </div>
              </div>
            </div>
            {/if}
              {* 仅输出类型为 1文字列表 的栏目 *}
              {elseif $mIndexCat.type eq 1}
              {if $mIndexCat.showtype eq 1}
            <div class="news_zixun">
              <div class="new_tbg">
                <div id="triangle-down"></div>
                <div class="newsimg">
                  <img src="{$mIndexCat.image}" width="100%"></div>
                <div class="newsmid">
                  <div class="news_word"><a href="{$mIndexCat.link}">{$mIndexCat.name}</a></div>
                </div>

              </div>
              <div class="indexnews_list">
                <ul>
                  {foreach item=article from=$mIndexCat.data}
                  <li>
                    <a onclick="javascript:window.location.href='{$article.link}'">
                      <div class="xwzs_show">
                        <div class="nst_infor">
                          <div class="ndata"> <b>{$article.pubtimestamp|date_format:'%d'}</b>
                            {$article.pubtimestamp|date_format:'%Y-%m'}
                          </div>
                        </div>
                        <div class="news_wprd">
                          <div class="ntitle">{$article.title}</div>
                          <div class="nword">{$article.description}</div>
                        </div>
                      </div>
                    </a>
                  </li>
				  {if $article@index+1 eq 6}{break}{/if}
                  {/foreach}
                </ul>
              </div>
            </div>
            {/if}
              {/if}
              {/foreach}
          </div>
        </section>
        <footer class="foot">
          <div class="fobdi">
            <div class="fobdi">
              <div class="fanhui">
                <a class="back-top">回到头部</a>
              </div>
            </div>
          </div>
          <div class="dibu">{$footprint}</div>
        </footer>
      </div>
      {include file="./_footer.html"}
    </div>
  </div>

</body>
</html>