
      <header>
      <div class="logo"><img src="{$logo}" width="100%"></div>
       <div class="header_menu" id="header_menu"><a href="#"><img src="{$site_url}images/menu_ico.png"></a></div>
      </header>
      <div class="menulist">
        <div class="navlist">
          <div class="swiper-nav swiper-container">
            <div class="swiper-wrapper">
            {foreach item=nav from=$navs}
                   <div class="swiper-slide"><a href="{$nav.link}"><div class="zh">{$nav.name}</div></a></div>
     {/foreach}  

        
              
            </div>
          </div>
        </div>
      </div>
      <div class="baner" id="baner">
        <div id="slideBox" class="slideBox">
          <div class="hd">
            <ul>
            </ul>
          </div>
          <div class="bd">
            <ul>
              {foreach name=slidepics item=slidepic from=$global.slidepics}
              <li><a class="pic" href="{$slidepic.link}"><img src="{$slidepic.image}" title="640*316" /></a></li>
              {/foreach} 
            </ul>
          </div>
          <div class="baner_bot"><img src="{$site_url}images/baner_bot.png" ></div> 
        </div>
      </div>