<div id="header">
    <div class="container">
        <div class="logo lt"><a href="{$site_url}"><img src="{$logo}" alt=""></a></div>
        <div class="ser rt">
            <form action="{$search_action}" method="GET">
                <input type="text" placeholder="请输入搜索关键词" value="" name="s">
                <button type="submit" value="搜索"><i class="iconfont">&#xe636;</i></button>
            </form>
        </div>
        <div class="tell rt">
            <i class="iconfont">&#xe609;</i>
            <p><span>咨询电话 : </span>  <b>{$contact.telephone}</b></p>
        </div>
    </div>
</div>