<ul class="page">
    <li class="p-li first-link"><a href="{$page_links.first_link}"><span>《《</span></a></li>
    <li class="p-li prev-link"><a href="{$page_links.prev_link}"><span>《</span></a></li>
    {foreach item=near_link key=near_page from=$page_links.nears_link}
    {if $near_page == $page_links.current_page}
    <li class="fl current"><a>{$near_page}</a></li>
    {else}
    <li class="fl"><a href="{$near_link}">{$near_page}</a></li>
    {/if}
    {/foreach}
    <li class="p-li next-link"><a href="{$page_links.next_link}"><span>》</span></a></li>
    <li class="p-li last-link"><a href="{$page_links.last_link}"><span>》》</span></a></li>
</ul>