<header>  
<div class="header1 clearfix">
	<div class="logo1 wow rollIn">
		<a href="{$site_url}"><img src="{$logo}"></a>
	</div>
	<div class="search">
	    <form action="{$search_action}" method="GET">
	      <input type="text" name="s" value="请输入关键词" class="search_area" />
	      <input type="submit" class="search_btn"  value=""/>
	    </form>
	</div>
</div>
<div class="wow bounceInRight"  id="nav">
	<ul class="nav1 clearfix">
		{$limit=9}
		{if $navs|count lt $limit}{$limit=$navs|count}{/if}
		<li class="firstli" style="width:{100/($limit+1)}%"><a href="{$site_url}" class="a"><i>网站首页</i><strong></strong></a></li>
		{foreach name=navs item=nav from=$navs}
		<li class="firstli {if $nav.current}on{/if}" style="width:{100/($limit+1)}%"><a href="{$nav.link}" class="a"><i>{$nav.name}</i><strong></strong></a>
		{if $nav.childmenu}
				<ul class="sec_li1 clearfix">
				{foreach item=nav_list from=$nav.childmenu}
					<li><a href="{$nav_list.link}">{$nav_list.name}<strong></strong></a>
						{if $nav_list.childmenu}
						<ul class="third_li1 clearfix">
							{foreach item=nav_list1 from=$nav_list.childmenu}
								<li><a href="{$nav_list1.link}">{$nav_list1.name}<strong></strong></a></li>
							{/foreach}
						</ul>
						{/if}
					</li>
				{/foreach}
				</ul>
			{/if}
		</li>
			{if $nav@index+1 eq $limit}{break}{/if}
		{/foreach}
	</ul>
</div>
</header>