<header id="header">  
    <div class="slidepics pr">
        <div class="head">
            <div class="head-menu fl tc"><i class="iconfont">&#xe603;</i></div>          
            <div class="logo fl tc oh"><a href="{$site_url}"><img src="{$logo}"></a></div>
            <div class="head-search fr tc"><i class="iconfont" id="search">&#xe636;</i></div>
        </div>
        <ul class="banner swiper-wrapper">
            {foreach item=slidepics from=$global.slidepics}
                <li class="swiper-slide"><a href="{$slidepics.link}"><img src="{$slidepics.image}"></a></li>
            {/foreach}
        </ul>
        <div class="dotted tc"><p></p></div>
    </div>
    <nav class="nav pr">
        <div class="topnav pr oh">
            <ul class="swiper-wrapper">
                <li class="swiper-slide tc"><a href="{$site_url}"><div class="icon tc"><img src="{$site_url}images/icon.png"></div>
                <div class="text">网站首页</div></a>
                </li>
                {foreach item=nav from=$navs}
                    <li class="swiper-slide tc"><a href="{$nav.link}"><div class="icon tc">{$nav.icon}</div><div class="text">{$nav.name}</div></a></li>
                {/foreach}
            </ul>
        </div>
    </nav>
</header>