
/*标题样式*/
.in_h2{ position:relative; margin:15px 0 ;}
.in_h2 img{ position:absolute; width:100%; left:0; top:0; z-index:99}
.in_h2  span{ display:block; width:60%; position:absolute; left:5%; top:0px; z-index:100; color:#fff; }
.in_h2  span .in_zh{ font-size:16px; display:inline-block; max-width:40%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.in_h2  span .in_en{ font-size:14px; text-transform:uppercase; display:inline-block; max-width:40%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.in_h2 .more{ color:#fff; font-size:14px; position:absolute; right:5%; top:0; z-index:100}



@media screen and (min-width: 320px) and (max-width: 480px){
.in_h2 .text{ font-size:14px; }
.in_h2 .text span{ font-size:12px;}
.in_h2 .text .in_en{ width:80%}
.in_h2 .text .in_zh{ font-size:20px; }
.in_h2 .text .in_en{   font-size:14px;}
}
/*标题样式*/
.inner{ margin-top:10px;}
.wrapper{ width:96%; margin:auto   }




#in_page{  }

#in_page .inner{ margin-top:10px; width:98%; margin:auto }
#in_page .inner .page_img{ width:100%; margin:auto;   position:relative; border:1px solid rgba(0,0,0,.2)  }
#in_page .inner .page_img img{ width:100%;}
#in_page .inner .right{width:100%;   color:#333 }
#in_page .inner p{ line-height:28px; height:112px; color:#333; overflow:hidden; margin-top:10px;}

@media screen and (min-width: 320px) and (max-width: 480px){

}







#in_image{  }
#in_image ul{ width:100%; position:relative; overflow:hidden}
#in_image ul li{  width:30%; float:left; margin:5px 1.5%;  position:relative }
#in_image ul li img{ width:100%;}
#in_image ul li h2{ width:100%; color:#333;  height:35px; line-height:35px; padding-top:10px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap; background:url(../images/pro_bg.jpg) no-repeat top center; background-size:100% auto  }

@media screen and (min-width: 320px) and (max-width: 480px){
	
	}


#in_text{ }
#in_text .inner{  margin:auto; margin:15px 0} 
#in_text .inner{   margin:15px auto;  } 
#in_text ul li{  width:100%;  line-height:35px; line-height:35px; overflow:hidden; margin:6% 0}
#in_text ul li .pix{ width:25%; float:left; border:3px solid #b6b6b6}
#in_text ul li .pix img{ width:100%}

#in_text ul li .right{ width:71%; float:right;}
#in_text ul li h2{  line-height:35px; line-height:35px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; font-size:18px;}
#in_text ul li .in_des{ line-height:25px; height:75px; overflow:hidden}



@media screen and (min-width: 320px) and (max-width: 480px){
#in_text ul li .pix{ width:30%; float:left;}
#in_text ul li .right{ width:65%; float:right;}
#in_text ul li h2{  line-height:25px; line-height:25px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; font-size:15px;}
#in_text ul li .in_des{ line-height:20px; height:60px; overflow:hidden; font-size:12px;}


}



