body{ color:#626262; font-family:Microsoft Yahei,Arial, Helvetica, sans-serif;background:url(../images/header_bg.jpg) repeat-x center top #fbfcfa; }
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,input,textarea,div{margin:0;padding:0; list-style:none; line-height:24px; font-size:12px; font-weight:normal}
body,div,ul,li,dl,dt,dd{ font-size:12px;}
.clearfix:after { content:'\20'; display:block; height:0; clear:both; }
.clearfix { *zoom:1; font-size:0px;}
a{ color:#626262; text-decoration:none}
a:hover{ color:#f00} 
img{ border:none;}
.c{ clear:both}

.wrapper{width:1003px; margin:0 auto; }

display:block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;
strong{display: block;margin: 0 auto;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
















#header{ width:1003px; height:112px; margin:0 auto; background:url(../images/header.jpg) no-repeat top left; position:relative;}

#header h1{width:430px;height:97px;float:left; position:relative; }
#header h1 a{display:block;height:97px;width:430px; position:absolute; bottom:0px; left:0;}
#header h1 img{max-width:430px; max-height:97px; position:absolute; top:0; left:0; right:0; bottom:0; margin:auto}


.tel{ float:right; display:inline; margin-right:65px; margin-top:56px; font-size:18px; font-weight:bold; font-family:Microsoft Yahei ; color:#4fa401 }


.search{ position:absolute; top:15px; right:65px;}
.search_area{ background:url(../images/ser_bg.jpg); width:153px; height:26px; line-height:26px; float:left; border:none; color:#999; text-indent:24px; }
.search_btn{ background:#51a801; width:44px; height:26px; border:none; float:left; position:relative; left:0px; top:0px; color:#fff}





#nav_bg{ width:100%; height:34px; background:url(../images/nav_bg.jpg) repeat-x top}
#nav ul li{float:left;  line-height:34px; height:34px; font-size:14px; background:url(../images/libg1.jpg) no-repeat right ;} 

#nav ul li .nav_c{ height:34px; overflow:hidden}
#nav ul li a{ color:#fff; display:block; text-align:center; padding:0 5px;}
#nav ul li a:hover{ color:#f6ff37}
#nav ul li.no_bg{ background:#53a802}

#nav ul li a{ overflow:hidden; }
#nav ul li .cc{background:#53a802;height:40px; line-height: 40px;display: none; text-align:center; width:100%; position:relative; z-index:100; margin-top:0px; }
#nav ul li .cc:hover{ background:#53a802}
#nav ul li .cc a{width:92%; margin:auto;color:#fff; padding:0 4%; overflow:hidden; height:40px; line-height:40px;}
#nav ul li .cc a:hover{ text-decoration:underline;color:#fff;background:#53a802 }



#banner{ width:100%; height:440px; overflow:hidden }






.container_bg{ background:url(../images/banner_bg.jpg) repeat-x top; padding-top:4px;}


#sub_container{ width:1003px; margin:auto; background:url(../images/container_bg.jpg) no-repeat top left; padding-top:6px; }
#container{ width:1003px; margin:auto; background:url(../images/container_bg.jpg) no-repeat top left; padding-top:6px; }
.left{ float:left; display:inline; width:754px;}
#news{ width:299px; height:242px; float:left; display:inline; margin-left:10px; margin-right:20px; }
#news .title{ background:url(../images/news_t-left.jpg) top left no-repeat; height:27px; line-height:27px;}
#news .title h2{ width:230px; float:left; text-indent:15px; color:#5e8a2d; font-family:Microsoft Yahei; font-size:15px; font-weight:bold }
#news .title h2 span{ color:#6da111; font-size:10px;}
#news .title .t-left{ float:left; }
#news .title .t-right{ float:right; }

#news .inner{ width:253px;margin-top:18px; }


#news .news_img{ height:63px; text-align:center;  margin-bottom:5px;}
#news .news_img img{ height:100%;border:solid 2px #d9d9d9; }

#news .inner ul{ margin-left:6px; height:140px; overflow:hidden }
#news .inner ul li{ width:215px; height:28px; line-height:28px; background:url(../images/news_li.jpg) no-repeat left center; overflow:hidden}
#news .inner ul li a{ margin-left:5px; }



#about{ width:419px; height:244px; float:left; display:inline;  }
#about .title{ background:url(../images/about_t-left.jpg) top left no-repeat; height:27px; line-height:27px;}
#about .title h2{ width:230px; float:left; text-indent:15px; color:#5e8a2d; font-family:Microsoft Yahei; font-size:15px; font-weight:bold }
#about .title h2 span{ color:#6da111; font-size:10px;}
#about .title .t-left{ float:left;}
#about .title .t-right{ float:right;}
#about .inner{  line-height:25px; margin-top:18px; height:200px; overflow:hidden }



#about .inner .about_img{ display:inline-block;*display:inline;*zoom:1; height:200px;border:solid 2px #d9d9d9;  margin-right:5px;}
#about .inner .about_img img{ height:100%; display:block; }
#about .inner .about_text{display:inline-block; vertical-align:top;*display:inline;*zoom:1; line-height:25px; }




.right{ float:right; display:inline; margin-right:5px;}
#contact{ width:228px;  }
#contact .title{ height:27px; line-height:27px;background:url(../images/about_t-left.jpg) top left no-repeat;}
#contact .title h2{ width:170px; float:left; color:#5e8a2d; font-family:Microsoft Yahei; font-size:15px; font-weight:bold ; text-indent:15px;}
#contact .title h2 span{ color:#6da111; font-size:10px;}
#contact .title .t-right{ float:right;}
#contact .inner{ width:231px; height:139px; margin-top:15px; line-height:24px; background:url(../images/contact_li.jpg) no-repeat right bottom; overflow:hidden}
#contact .inner span{ font-weight:bold; font-size:14px;}

#contact .subinner{ width:220px; height:139px; margin-top:15px; line-height:24px; background:url(../images/contact_li.jpg) no-repeat right bottom; margin-left:10px;}
#contact .subinner span{ font-weight:bold; font-size:14px;}

.culture{ width:221px; height:61px; border:solid 2px #d9d9d9; position:relative}
.culture .cul_text{ position:absolute; right:15px; line-height:61px; font-weight:bold; font-size:16px;}
.culture .cul_text a{ color:}
.culture .cul_img{ text-align:center}





#sub_contact{ width:228px; margin-bottom:15px; }
#sub_contact .title{ height:27px; line-height:27px;background:url(../images/about_t-left.jpg) top left no-repeat;}
#sub_contact .title h2{ width:170px; float:left; color:#5e8a2d; font-family:Microsoft Yahei; font-size:15px; font-weight:bold ; text-indent:15px;}
#sub_contact .title h2 span{ color:#6da111; font-size:10px;}
#sub_contact .title .t-right{ float:right;}
#sub_contact .inner{ width:231px;  margin-top:15px; line-height:24px; background:url(../images/contact_li.jpg) no-repeat right bottom;}
#sub_contact .inner span{ font-weight:bold; font-size:14px;}

#sub_contact .subinner{ width:220px; height:139px; margin-top:15px; line-height:24px; background:url(../images/contact_li.jpg) no-repeat right bottom; margin-left:10px;}
#sub_contact .subinner span{ font-weight:bold; font-size:14px;}



#products{ width:1003px; height:228px; margin:0 auto; background:url(../images/products_bg.jpg) no-repeat top left; margin-top:13px;position:relative;}
#products .title{ position:absolute; top:11px; left:-3px; width:1003px;  }
#products .title .mo{margin-top:13px; float:right; margin-right:15px; display:inline }
#products .title h2{background:url(../images/products_t-left.jpg) top left no-repeat;width:319px; height:32px; float:left; font-size:15px; font-family: Microsoft Yahei; color:#fff; text-indent:24px;}
#products .title h2 span{ margin-left:5px; font-size:13px;}


#products .inner{ height:143px; padding-top:55px;}
#products .inner ul{ width:950px; height:152px; margin:0 auto; overflow:hidden}
#products .inner ul li{ width:132px; margin:0 14px; float:left; display:inline; overflow:hidden; text-align:center}

#products .inner ul li .pic{ width:130px; height:130px; overflow:hidden;border:solid 1px #bfbfbf;}
#products .inner ul li .pic img{ display:block}




#footer_bg{ width:100%; background:#fff url(../images/footer_bg.jpg) repeat-x bottom; margin-top:16px; padding-top:10px; padding-bottom:10px;}
#footer{ width:1003px; margin:0 auto; text-align:center; margin-top:5px;}
.Copyright{ margin:6px 0; line-height:24px;}
.links a{ padding: 0 15px;}


.alefttitle{ background:url(../images/sub_01.jpg) top center no-repeat; width:213px; height:29px; line-height:29px; color:#fff; font-size:14px; text-indent:15px;}







.sidebar{ width:232px; float:left; display:inline;margin-left:8px;}
.sidebar .subnav{  width:213px;  background:url(../images/sidebar_bg.jpg) no-repeat right bottom; padding:5px; background-color:#f3f3f3; border:solid 1px #e7e7e7; margin-bottom:10px;}
.subnav h2{}
.subnav .inner{ width:215px;}
.subnav .inner ul{ width:213px; margin:0 auto; margin-top:5px;}








.category ul li .firsta{ background:url(../images/sub1_ico.jpg) no-repeat 5px; padding-left:20px; border-bottom:dashed 1px #ccc; height:25px; line-height:25px; margin-bottom:5px; display:block; overflow:hidden}
.category ul li a.firsta{ color:#333333;}
.category ul li a:hover.firsta { color:#FF0000}

ul.second li .seconda{ t text-align:left;  height:23px; line-height:23px; padding-left:20px; width:140px; margin:auto;}
ul.second li a.seconda{display:block; color:#333333; }
ul.second li a.seconda:hover{color:#f00}
ul.third li a.thirda{ padding-left:32%; margin:auto;color:#edbb41; color:#333333;  display:block; line-height:35px; height:30px; overflow:hidden;}
ul.third li a.thirda:hover{color:#FF0000}






.main{ width:750px;  float:right; display:inline;  margin-right:5px;}

.crumb{ width:710px; background:url(../images/crumb_bg.jpg) no-repeat; height:52px; line-height:46px; color:#fff; font-size:14px; font-weight:bold; padding-left:40px;}
.crumb span{ color:#59b202; float:right; margin-right:15px; font-size:12px; font-weight:normal;}
.crumb span a{color:#59b202;}

.article{ background:url(../images/main_bg.jpg) repeat-y; padding:0 15px; }
.article img{ max-width:720px;}

.list_image p{ height:24px; line-height:24px;}
