<div id="footer_bg1">

<div class="products_bg">
<div class="products wrapper clearfix">
<div class="title">
<div class="en">{$global.pro.en_name}</div>
 <div class="cn">{$global.pro.name}</div>
 <img src="{$site_url}images/yun.png">
 </div>
                 
             <div class="inner">
     <div class="bd" style="width:850px; margin:auto; height:181px; overflow:hidden;">
      <ul class="clearfix">
       {foreach item=pro from=$global.pro.data}
              <li><a href="{$pro.link}"><div class="pic"><img src="{$pro.image}" /></div>{$pro.title}</a></li>
            {/foreach}
      
      
      </ul>
    </div>
    
     </div>
                 
                 
</div>
</div>

<div id="footer_bg">
<div id="footer" class=" wrapper">
    <div class="foo_nav2 clearfix">
    <div class="foo_img">
    <a href="#">
    <div class="title1 clearfix">
		<div class="in_h2 in_h22 clearfix">

        <h2 class="clearfix">
        <div class="title">友情链接</div>
        </h2>
   
      </div>

      </div>
      </a>
    
      </div><div class="foo_nav">:{foreach name=friend item=friend from=$global.links}
		    <a href="{$friend.link}">{$friend.title}</a> |
		 	{/foreach}</div>
    </div>
    <div class="copright">{$footprint}</div>
</div>
</div>  
</div>

{$footscript}













<!--#*
{foreach name=navs item=nav from=$navs}
<a href="{$nav.link}" >{$nav.name}</a> |{/foreach}

<a href="index.html" target="_blank">首页</a> | {foreach name=navs item=nav from=$navs}<a href="{$nav.link}">{$nav.name}</a> | {/foreach}

{$footprint}
*#-->

