
<footer id="footer">
    <div class="foot">
    	<div class="flink vertical">
        	<h4>友情链接：</h4>
            <div class="chaining">
                {foreach item=links from=$global.links}
                    <a href="{$links.link}">{$links.title}</a>
                {/foreach}
            </div>
        </div>
        <div class="contact vertical">
            <a href="{$global.address.link}"><img src="{$global.address.image}"></a>
            <h4><img src="{$site_url}images/address.png">联系地址：</h4>
            <p>{$contact.address}</p>
        </div>
        <div class="information">
            <ol class="code">
                {foreach item=code from=$global.code}
                    <li><h6>{$code.title}</h6><i><img src="{$code.image}"></i></li>
                {/foreach}
            </ol>
            <div class="hotline">
                <img src="{$site_url}images/telphone.png">
                <h5>预约热线：</h5>
                <p>{$contact.telephone}</p>
<h5>全国招商：</h5>
                <p>4000-688-001</p>
            </div>
        </div>
    </div>
	<div class="foot-bottom"><div class="copyright">{$footprint}</div></div>
</footer>
{$footscript}