<!DOCTYPE html>
<html manifest="huancun.manifest">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- 强制让文档的宽度与设备的宽度保持1:1，并且文档最大的宽度比例是1.0，且不允许用户点击屏幕放大浏览； -->
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
<!-- iphone设备中的safari私有meta标签，它表示：允许全屏模式浏览 -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- iphone的私有标签，它指定的iphone中safari顶端的状态条的样式 -->
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<!-- 告诉设备忽略将页面中的数字识别为电话号码\去除Android平台中对邮箱地址的识别 -->
<meta content="telephone=no, email=no" name="format-detection">
<!-- 启用360浏览器的极速模式(webkit) -->
<meta name="renderer" content="webkit">
<!-- 避免IE使用兼容模式 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
<meta name="HandheldFriendly" content="true">
<!-- 微软的老式浏览器 -->
<meta name="MobileOptimized" content="320">
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="portrait">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="portrait">
	<title>{$title}</title>
	<link rel="stylesheet" href="{$site_url}css/swiper.css">
	<link rel="stylesheet" href="{$site_url}css/swiper.min.css">
	<link rel="stylesheet" href="{$site_url}css/iconfont.css">
	
	<link rel="stylesheet" rev="stylesheet" href="{$site_url}css/style_{$stylecolor}.css" type="text/css" />
	<link rel="stylesheet" href="{$site_url}css/public.css">
	<script type="text/javascript" src="{$site_url}js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="{$site_url}js/swiper.min.js"></script>
	<script type="text/javascript" src="{$site_url}js/index.js"></script>
	<script type="text/javascript" src="{$site_url}js/function.js"></script>
<script type="text/javascript">
	window.addEventListener('load', function(){
   setTimeout(function(){ window.scrollTo(0, 1); }, 100);
});//safari浏览器可以通过此代码来隐藏地址栏
</script>
<script type="text/javascript">
    // 跳转手机页面
    {if $site_another_url}
        if (!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
            location.href = '{$site_another_url}';
        }
    {/if}
    </script>

  
</head>
<body>
<section class="wrapper">
	<div class="contant">
		 <div class="about">
		 	<h3 class="title">
			 <span class="class fl">分类∧</span>
		 	<i class="cont-name">{$list.name}</i>
		 	 <span id="quickbar"  class="fr btn"><a href="#" id="quickbar-navs-btn"><span><i class="iconfont icon">&#xe603;</i></span></a></span>
		 	</h3>
		<ul class="class_list">
			{foreach name=pagenavs item=nav from=$pagenavs}
				<li class="{if $nav.current}current{/if}"><a href="{if $nav.childmenu}javascript:;{else}{$nav.link}{/if}"  class="{if $nav.selected}selected{/if}">{$nav.name}</a>
				 {if $nav.childmenu}
					<ul class="second">
					 {foreach key=key item=nav_list from=$nav.childmenu}
						<li class="{if $nav_list.current}current{/if}"><a href="{if $nav_list.childmenu}javascript:;{else}{$nav_list.link}{/if}"  class="{if $nav_list.selected}selected{/if}">{$nav_list.name}</a>
						{if $nav_list.childmenu}
							<ul class="third">
							 {foreach key=key item=nav_listsec from=$nav_list.childmenu}
								<li><a href="{$nav_listsec.link}" class="{if $nav_listsec.selected}selected{/if}">{$nav_listsec.name}</a></li>
								{/foreach}
							</ul>
							 {/if}	
						</li>
						
						 {/foreach}
					</ul>
					{/if} 
				</li>
				
				 {/foreach}
			</ul>

		 	<div class="article">
		 	<form class='search' action="{$search_action}" method="GET"><input name="" type="text" class='text_01 fl' placeholder='请输入需要查询名称'><input name="" type="submit" class='submit_01' value=""><i class="iconfont icon">&#xe645;</i></form>

				<ul class='news_ls'>
				{if $search.total eq 0}
				 <p class="search_res">没有查找到相关数据！</p>
				  {else} 
					<h3>以下是您输入的关键字“{$search.keyword}”的搜索结果{$search.total}个</h3>
					 {foreach item=article from=$search.data}<!--search_content_start-->
					<li><a href="search_$link"><span class='fr'>({$article.pubdatestamp|date_format:"%y "}/{$article.pubdatestamp|date_format:"%d "}/{$article.pubdatestamp|date_format:"%m "})</span>search_$title</a></li>
					<!--search_content_end-->{/foreach}
					{/if}
					
				</ul>
					<div class="munber">
					<li><a href="{$page_links.first_link}" class="cu">首页</a></li>	
	                    <li><a href="{$page_links.prev_link}">上一页 </a></li>
	                    <li><a href="{$page_links.next_link}">下一页</a></li>
	                    <li><a href="{$page_links.last_link}"  >尾页</a></li>
                    </div>
		 		
		 	</div>	
		 </div>
	      <div class="Copy back_c">
	    	厦门易尔通网络科技有限公司 版权所有 
	    	<span class="home"><a href="javascript:0;"><i class="iconfont icon font_zi f_color">&#xe703;</i></a></span>
	    </div> 
	</div>
	<div class="show_bg"></div>
</section>
	
</body>
</html>
