  <div class="top">
    <div class="top-inner">
      <div class="top-word">
        {$global.topword}
      </div>
      <div class="topright">
        <div class="search">
          <form action="{$search_action}" method="GET">
            <input type="text" class="sinp" name="s" value="请输入关键字" />
            <input type="submit" class="sbtn" value="" />
            <span></span>
          </form>
        </div>
        <span class="home">
          <a href="">设为首页</a>  /  <a href="">加入收藏</a>
        </span>        
      </div>

    </div>
  </div>
  <div class="header">
    <div class="logo fl"><a href="" title="返回首页"><img src="{$logo}" alt=""></a></div>
     <div class="menu">
        <ul id="nav" class="nav">
          {$limit = 6}
          <li class="nLi" style="width:{100/($limit+1)}%">
            <h3><a href="{$site_url}">网站首页</a></h3>
          </li>
          
          {foreach name=navs item=nav from=$navs}
          <li  class="{if $nav.current}on{/if} nLi" style="width:{100/($limit+1)}%">
              <h3><a href="{$nav.link}">{$nav.name}</a></h3>
            <ul class="sub">
                    {if $nav.childmenu}
              {foreach key=key item=nav_list from=$nav.childmenu}
              <li class="{if $nav.current}on{/if}"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
              {/foreach}
                        {/if}
            </ul>
          </li>
          {if $nav@index+1 gte $limit}{break}{/if}
          {/foreach}
                                              
        </ul>    
     </div>


  </div>
  <div class="banner">
      <div id="slideBox" class="slideBox">
        <div class="hd">
          <ul>
             {foreach name=slidepics item=slidepic from=$global.slidepics}
              <li></li>
             {/foreach}
          </ul>
        </div>
        <div class="bd">
          <ul>
            {foreach name=slidepics item=slidepic from=$global.slidepics}
                  <li><a href="{$slidepic.link}" target="_blank"><img src="{$slidepic.image}" alt="{$slidepic.title}" /></a></li>       
            {/foreach}

          </ul>
        </div>
        <a class="prev" href="javascript:void(0)"></a>
        <a class="next" href="javascript:void(0)"></a>        
      </div>     
  </div>                