.swiper-container {margin:0 auto;position:relative;overflow:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;/* Fix of Webkit flickering */z-index:1;}
.swiper-container  .swiper-wrapper {position:relative;width:100%;-webkit-transition-property:-webkit-transform,left,top;-webkit-transition-duration:0s;-webkit-transform:translate3d(0px,0,0);-webkit-transition-timing-function:ease;-moz-transition-property:-moz-transform,left,top;-moz-transition-duration:0s;-moz-transform:translate3d(0px,0,0);-moz-transition-timing-function:ease;-o-transition-property:-o-transform,left,top;-o-transition-duration:0s;-o-transform:translate3d(0px,0,0);-o-transition-timing-function:ease;-o-transform:translate(0px,0px);-ms-transition-property:-ms-transform,left,top;-ms-transition-duration:0s;-ms-transform:translate3d(0px,0,0);-ms-transition-timing-function:ease;transition-property:transform,left,top;transition-duration:0s;transform:translate3d(0px,0,0);transition-timing-function:ease;}
.swiper-free-mode > .swiper-wrapper {-webkit-transition-timing-function: ease-out;-moz-transition-timing-function: ease-out;-ms-transition-timing-function: ease-out;-o-transition-timing-function: ease-out;transition-timing-function: ease-out;margin: 0 auto;}
.swiper-slide {float: left;}
/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {ms-touch-action: pan-y;}
.swiper-wp8-vertical {-ms-touch-action: pan-x;}
.swiper-container, .swiper-wrapper, .swiper-slide {-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-o-transform-style:preserve-3d;-ms-transform-style:preserve-3d;
transform-style:preserve-3d;}



.swiper-nav .swiper-wrapper {margin: 0 auto;}
.swiper-nav .swiper-wrapper .swiper-slide {width: 20%;}
.swiper-pages {height: 100%;}
.scroll-container {height: 100%;width: 100%;}
.arrow-left,.arrow-right{ position:absolute; top:0px; left:0px; height:100%; display: inline; color:#fff; width:20px; height:35px; text-align:center; line-height:35px; cursor:pointer; z-index:999999999;}
.arrow-right{ background:rgba(0,0,0,0.4);}
.arrow-left{ background:rgba(255,255,255,0.2); }
.current{background:rgba(0,0,0,0.4);}
.current1{background:rgba(255,255,255,0.2); }
.arrow-right{ left:auto; right:0px;}
/*.scroll-container .swiper-slide{ width:100%;}*/
.proimg .swiper-wrapper{height: 30vw;}
.swiper-nav .swiper-slide{background: #fff;}
.swiper-nav .swiper-slide a{display: -webkit-box;height:100%;-webkit-box-align:center;-webkit-box-pack:center;color: #4f4f4f;border-right: 1px solid #ebebeb;}
.banner .swiper-container{min-height:184px;height: 58vw;overflow: hidden;max-height: 376px;}
.proimg .swiper-container {width: 100%;height: 100%;}
.proimg .swiper-slide {text-align: center;font-size: 18px;background: #fff;/* Center slide text vertically */display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;height: 28vw}
.proimg .swiper-button-next,.proimg .swiper-button-prev{position: absolute;top: 50%;width: 27px;height: 44px;margin-top: -22px;z-index: 10;cursor: pointer;-moz-background-size: 27px 44px;-webkit-background-size: 27px 44px;background-size: 27px 44px;background-position: center;background-repeat: no-repeat;z-index: 100}
.proimg .swiper-button-prev{background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");left: 10px;right: auto;}
.proimg .swiper-button-next{background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");right: 10px;left: auto;}
/*
.thumbs-cotnainer {}
.thumbs-cotnainer .swiper-slide {width: 80px; text-align:center}

@media screen and (min-width: 320px) and (max-width: 480px){
	
}
@media screen and (min-width: 480px) {
	.swiper-nav .swiper-slide .menubox{ margin:0px 10px;}
}*/