<div class="htop">
    <header class="head">
      <div class="logo"><img src="{$logo}" width="100%"></div>
    </header>
     <!-- 头部导航 -->
    <nav class="menulist">
          <a class="arrow-left" href="#">&lt;</a>
          <a class="arrow-right" href="#">&gt;</a>
            <div class="swiper-nav swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><a href="{$site_url}">网站首页</a></div>
                {foreach item=nav from=$navs}
                <div class="swiper-slide"><a href="{$nav.link}">{$nav.name}</a></div>
                {/foreach}
              </div>
            </div>
    </nav>
    <!-- banner -->
     <div class="banner">    
         <div id="slideBox" class="slideBox">
            <div class="hd">
                 <ul style=""></ul>
            </div>
            <div class="bd">
                <ul>
                   {foreach item=slidepic from=$global.slidepics}
                    <li><a class="pic" href="{$slidepic.link}"><img src="{$slidepic.image}"/></a></li>
                   {/foreach}
                </ul>
            </div>         
         </div>
     </div> 
</div>