<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript">
    // 跳转手机页面
    {if $site_another_url}
        if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
            location.href = '{$site_another_url}';
        }
    {/if}
    </script>

<!--  -->
<meta name="keywords" content="{$keywords}"/>
<meta name="description" content="{$description}"/>
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="zh-CN">

<link rel="stylesheet" type="text/css" href="{$site_url}css/style.css"/>
<script type="text/javascript" src="{$site_url}js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
<script type="text/javascript" src="{$site_url}js/html5.js"></script>
<title>{$title}</title>
</head>
<body>
    {include file='./_header.html'}
    <div class="container">
        <div class="detal_ct">
            {include file='./_left.html'}
            <div class="right_t">
                <div class="detal">
                    <div class="detal_s">
                        <h3 class="side_hd">{$article.category.name}<i>{$article.category.en_name}</i></h3>
                        <div class="deteo">
                            <div class="main_right_con2" >
                                <div class="pro_detail">
                                    <h2>{$article.title}</h2>
                                    <div class="case focus">
                                        <div class="case_hd">
                                            <a class="next" href="javascript:void(null)"></a>
                                            <a class="prev" href="javascript:void(null)"></a>
                                        </div>
                                        <div class="case_bd focus">
                                            <ul class="case_list">
                                              {foreach item=image from=$article.images}
                                                <li><img src="{$image.image}"></li>
                                              {/foreach}
                                            </ul>
                                        </div>
                                      </div>
                                    <div class="pro_text">
                                      {$article.content|unescape:"html"}
                                    </div>
                                </div>
                                <ul class="inner_pages">
                                     <li>上一篇：<a href="{$article.prev.link}">{$article.prev.title}</a></li>
                                     <li>下一篇：<a href="{$article.next.link}">{$article.next.title}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>                
        </div>
    </div>
    {include file='./_footer.html'}
</body>
</html>