/*重置*/
@charset "utf-8";
*{ margin:0px; padding:0px;}
a{ color: #333; text-decoration:none}
a:hover{color:#c40000;}
table{border-collapse:collapse; border-spacing:0px;}
body{word-wrap:break-word;color: #777;font: 14px/200% "微软雅黑";background: #fff}
ul,dl,li,i{list-style:none;}
h1,h2,h3,h4,h5{/*font-size:14px;*/font-weight:normal;}
i,em{font-style:normal;font-weight:normal;list-style:none;}
img{border: none;}

/*topbg*/
.topbg{width: 100%;height: 99px;overflow: hidden;background: #f9f9f9;border-bottom: 3px solid #cc1414}
.top{width: 1000px;height: 99px;overflow: hidden;margin: 0 auto}
.logo{width: 268px;height: 99px;overflow: hidden;position: relative;display: block;float: left;}
.logo img{position: absolute;top: 0;bottom: 0;max-width: 100%;max-height: 100%;margin: auto 0;}
.tel{color: #cc1414;font-size: 24px;line-height: 32px;height: 32px;overflow: hidden;margin: 33.5px 0;float: right;}
.tel img{width: 25px;height: 24px;overflow: hidden;margin: 4px 6px;display: block;float: left;}

.searchform{width: 1002px;height: 40px;overflow: hidden;position: absolute;bottom: 147px;left: 50%;margin-left: -501px;}
.nysear{bottom: 0}
form.formsearch{width: 224px;height: 25px;overflow: hidden;float: right;margin: 37px 80px 37px 0;}
.nyform{margin-right: 0;}
form.formsearch input.text{width: 188px;height: 23px;overflow: hidden;background: #fff;border: 1px solid #ececec;border-right: 0;color: #b3b3b3;font: 12px/23px "微软雅黑";padding-left: 10px;;float: left;
				border-radius: 10px 0 0 10px;-webkit-border-radius: 10px 0 0 10px;-moz-border-radius: 10px 0 0 10px;behavior:url(PIE.htc);}
form.formsearch input.submit{width: 25px;height: 25px;overflow: hidden;background: url(../images/submit.png) no-repeat;border: 0;float: left;cursor: pointer;}

/*slider*/
.slider{position:relative; overflow:hidden;height:500px;}
.slider .banner{position: absolute;left: 50%;margin-left: -840px;}
.slider .bd{ position:relative; z-index:0;}
.slider .bd li{ height:500px; overflow:hidden;}
.slider .bd li img{ display:block;  }
.slider .hd{ width:100%;position:absolute; z-index:1; bottom:30px; left:0; height:12px; line-height:12px; }
.slider .hd ul{ text-align:center;  }
.slider .hd ul li{ cursor:pointer; display:inline-block; *display:inline; zoom:1; width:12px; height:12px; margin:0 6.5px; 
		background: #999;border-radius: 100%;-webkit-border-radius: 100%;-moz-border-radius: 100%;overflow:hidden;vertical-align:top; line-height:9999px;}
.slider .hd ul .on{background: #cc1414;}

.navbg{width: 100%;height: 42px;background: rgba(255,255,255,0.7);position: absolute;top: 0;left: 0;}
.navBar{  position:relative; z-index:1; width: 1000px;height:42px;overflow: inherit;margin: 0 auto}
.nav{ position:relative;height: 42px;}
.nav li.m{position: relative;width:125px;height: 42px;float: left;}
.nav h3 a{width:100%; text-align:center; color:#333;font: 14px/42px "微软雅黑";height: 42px;overflow: hidden;display: block;}
.nav h3 a:hover{color: #fff;background: #cc1414;position: relative;}
.nav h3 a:hover:before{content: "";width: 11px;height: 42px;overflow: hidden;background: url(../images/l_03.png) no-repeat center;position: absolute;left: 10px;top: 0;}
.nav h3 a:hover:after{content: "";width: 11px;height: 42px;overflow: hidden;background: url(../images/r_05.png) no-repeat center;position: absolute;right: 10px;top: 0;}
.nav .sub{ display: none;/*默认隐藏*/ position:absolute; left:0px; top:42px; z-index:-1; width:100%;}
.nav .sub li a{ display:block; height:34px;color:#fff;text-align: center; font: 14px/34px "微软雅黑";width: 100%;overflow: hidden;background: #cc1414;}
.nav .sub li a:hover{ background: #d64343;}

.abobg{width: 100%;height: 358px;overflow: hidden;background: #f8f8f8;}
.abo{width: 1000px;height: 358px;overflow: hidden;margin: 0 auto;position: relative;z-index: 2}
.abol{width: 485px;height: 358px;overflow: hidden;float: left;position: relative;}
.abol:before{content: "";width: 108px;height: 128px;overflow: hidden;background: #fff url(../images/index_03.jpg) no-repeat center top;position: absolute;left: 0;top: 20px;z-index: -1}
.abol:after{content: "";width: 108px;height: 318px;overflow: hidden;background: #fff;position: absolute;top: 0;right: 66px;z-index: -1}
.title-more{margin-left: 72px;margin-top: 78px;height: 54px;overflow: hidden;}
.title{float: left;width: 60%;height: 54px;overflow: hidden;}
.title h1{color: #333;font-size: 20px;line-height: 28px;}
.title h2{color: #cfcfcf;font-size: 18px;line-height: 26px;}
.more{width: 110px;height: 30px;overflow: hidden;display: block;background: url(../images/more_03.png) no-repeat center;float: right;color: #cc1414;line-height: 30px;text-indent: 44px;margin: 18px 0 6px}
.aboimg{width: 413px;height: 150px;overflow: hidden;margin: 36px 0 40px 72px}
.aboimg a{width: 413px;height: 150px;overflow: hidden;display: block;}
.aboimg a img{max-width: 100%;max-height: 100%;overflow: hidden;margin: auto;display: block;}
.abor{width: 485px;height: 358px;overflow: hidden;float: right;position: relative;}
.aboedit{margin: 39px 0;height: 280px;overflow: hidden;}
.abor:before{content: "";width: 108px;height: 100%;overflow: hidden;background: #fff;position: absolute;top: 0;right: 172px;z-index: -1}

.prod{width: 1000px;height: 494px;/*overflow: hidden;*/margin: 0 auto;position: relative;}
.prod .probg{position: absolute;left: 39px;top: -20px;z-index: 999;width: 30px;height: 58px;overflow: hidden;}
.prod .probg img{vertical-align: top;}
.prod:before{content: "";width: 108px;height: 100%;overflow: hidden;background: #f8f8f8;position: absolute;left: 0;top: 0px;z-index: -1}
.prod .title-more{margin-top: 0px;padding-top: 40px;padding-left: 72px;margin-left: 0}
.slideGroup{ width:100%;height: 430px;overflow: hidden;text-align:left;margin-top: -30px; }
.slideGroup .parHd{ height:22px; line-height:22px;padding:0 20px; position:relative; width: 40%;margin: 0 4% 0 46%;}
.slideGroup .parHd ul{ float:left; position:absolute; left:20px; top:-1px; height:32px;   }
.slideGroup .parHd ul li{ float:left; width: 102px;cursor:pointer;background: #f8f8f8;border-radius: 8px;margin: 0 15px;text-align: center;height: 22px;overflow: hidden;}
.slideGroup .parHd ul li.on{ color: #fff;height:22px;  background:#cc1414;}
.slideGroup .parBd{width: 100%;height: 381px;overflow: hidden;zoom:1;margin-top: 27px}
.slideGroup .slideBox{ width: 100%;overflow:hidden; zoom:1; }

.ulWrap{width: 1032px;height: 336px;overflow: hidden;}
.slideGroup .hd{text-align: center;width: 104px;height: 20px;overflow: hidden;margin: 5px auto 20px;}
.slideGroup .hd .sPrev{ display:block; float: left;width:20px; height:20px;background: #dddddd url(../images/prev_next.png) no-repeat 0 center;border-radius: 100%;-webkit-border-radius: 100%;-moz-border-radius: 100%;behavior:url(PIE.htc);margin: 0 12px} 
.slideGroup .sNext{ display:block; float: right;width:20px; height:20px;background: #dddddd url(../images/prev_next.png) no-repeat -20px center;border-radius: 100%;-webkit-border-radius: 100%;-moz-border-radius: 100%;behavior:url(PIE.htc);margin: 0 12px}
.slideGroup .sPrev:hover{background: #cc1414 url(../images/prex-next-h.png) no-repeat 0 center;}
.slideGroup .sNext:hover{background: #cc1414 url(../images/prex-next-h.png) no-repeat -20px center;}
.slideGroup .parBd .tempWrap{width: 1000px !important; }

.slideGroup .parBd ul{ overflow:hidden; zoom:1; float:left;width: 258px; _display:inline;}
/*.slideGroup .parBd ul:nth-child(3n-1){margin: 0 16px 0 32px }
.slideGroup .parBd ul:nth-child(3n){margin: 0 32px 0 16px}*/
.slideGroup .parBd ul li{ margin:15px 32px 15px 0; float:left; _display:inline; overflow:hidden; text-align:center;  }
.slideGroup .parBd ul li{ text-align:center; }
.slideGroup .parBd ul li a{width: 226px;height: 138px;overflow: hidden;display: block;position: relative;}
/*.slideGroup .parBd ul li a:hover:before{content: "";background: rgba(0,0,0,0.5) url(../images/icon_03.png) no-repeat center 79px;width: 226px;height: 138px;overflow: hidden;position: absolute;left: 0;top: 0;z-index: 9}*/
.slideGroup .parBd ul li a img{ max-width:100%; max-height:100%;overflow: hidden; display:block;margin: auto;}
.slideGroup .parBd ul li a p{color: #fff;font-size: 14px;line-height: 104px;width: 226px;height: 104px;overflow: hidden;position: absolute;left: 0;top: 0;display: none;z-index: 10;}
.slideGroup .parBd ul li a:hover .hover{display: block;}
.slideGroup .parBd ul li a:hover p{display: block;}

/*newsbg*/
.newsbg{width: 100%;height: 304px;overflow: hidden;background: #f8f8f8}
.indexnews{width: 1000px;height: 304px;overflow: hidden;margin: 0 auto;position: relative;z-index: 2}
.newsl{width: 485px;height: 304px;overflow: hidden;float: left;position: relative;}
.newsl:before{content: "";width: 108px;height: 128px;overflow: hidden;background: #fff url(../images/index_03.jpg) no-repeat center top;position: absolute;left: 0;top: 20px;z-index: -1}
.newsl:after{content: "";width: 108px;height: 273px;overflow: hidden;background: #fff;position: absolute;top: 0;right: 66px;z-index: -1}
.news-list{width: 100%;height: auto;overflow: hidden;margin: 36px 0 40px}
.news-list ul{height: auto;overflow: hidden;}
.news-list ul li{height: 96px;overflow: hidden;margin-bottom: 32px;}
.news-list ul li:last-child{margin-bottom: inherit;}
.listl{width: 156px;height: 96px;overflow: hidden;float: left;}
.listl img{display: block;max-width: 100%;max-height: 100%;overflow: hidden;margin: auto}
.listr{width: 310px;height: 96px;overflow: hidden;float: right;}
.listr span{color: #999;font-size: 12px;line-height: 24px;height: 24px;overflow: hidden;display: block;}
.listr h3{height: 24px;overflow: hidden;}
.listr h3 a{color: #555;font-size: 16px;line-height: 24px;height: 24px;overflow: hidden;}
.listr h3 a:hover{color: #cc1414}
.listr p{color: #999;line-height: 24px;height: 48px;overflow: hidden;}
.newsr{width: 485px;height: 300px;overflow: hidden;float: right;position: relative;padding-top: 4px}
.newsr:before{content: "";width: 108px;height: 100%;overflow: hidden;background: #fff;position: absolute;top: 0;right: 172px;z-index: -1}

/*case*/
.case{width: 1000px;height: 386px;/*overflow: hidden;*/margin: 0 auto;position: relative;}
.case .probg{position: absolute;left: 39px;top: -20px;z-index: 999;width: 30px;height: 58px;overflow: hidden;}
.case .probg img{vertical-align: top;}
.case:before{content: "";width: 108px;height: 100%;overflow: hidden;background: #f8f8f8;position: absolute;left: 0;top: 0px;z-index: -1}
.case ul{width: 1032px;height: 336px;overflow: hidden;padding: 40px 0 10px}
.case ul li{width: 226px;height: 138px;overflow: hidden;float: left;margin: 0 32px 30px 0;}
.case ul li .title{margin: 42px 20px 42px 70px;}
.case ul li a{width: 226px;height: 138px;overflow: hidden;display: block;position: relative;}
/*.case ul li a:hover:before{content: "";background: rgba(0,0,0,0.5) url(../images/icon_03.png) no-repeat center 79px;width: 226px;height: 138px;overflow: hidden;position: absolute;left: 0;top: 0;z-index: 9}*/
.case ul li a img{ max-width:100%; max-height:100%;overflow: hidden; display:block;margin: auto;}
.case ul li a p{color: #fff;font-size: 14px;line-height: 104px;text-align: center;width: 226px;height: 104px;overflow: hidden;position: absolute;left: 0;top: 0;display: none;z-index: 10;}
.case ul li a:hover .hover{display: block;}
.case ul li a:hover p{display: block;}
.case .more{margin: 54px 58px 54px 0}

/*linkbg*/
.linkbg{width: 100%;height: 32px;overflow: hidden;background: #f8f8f8;}
.link{font-size: 14px;line-height: 32px;width: 1000px;height: 32px;overflow: hidden;margin: 0 auto}
.link span{width: 108px;height: 32px;overflow: hidden;display: inline-block;float: left;;background: #cc1414;color: #fff;text-align: center;}
.link a{color: #999;margin: 0 10px}
.link a:hover{color: #cc1414;}

/*tail*/
.tailbg{background: #ebebeb;height: auto;overflow: hidden;}
.tail{width: 1000px;line-height: 24px;height: auto;overflow: hidden;margin: 18px auto;color: #777;text-align: center;}
.footer a{color: #777}
.footer a:hover{color: #cc1414}

/*content*/
.content{width: 1000px;height: auto;overflow: hidden;margin: 30px auto 25px}
.left{width: 238px;height: auto;overflow: hidden;float: left;}
.navigation{width: 238px;height: auto;overflow: hidden;background: #cc1414 url(../images/top.png) no-repeat top center}
.leftitle{color: #fff;line-height: 22px;width: 178px;height: 57px;overflow: hidden;text-align: center;margin: 30px auto 0;position: relative;}
.leftitle h1{font-size: 18px;height: 22px;overflow: hidden;}
.leftitle h2{font-size: 14px;height: 22px;overflow: hidden;border-bottom: 4px solid #fff;padding-bottom: 3px;}
.sj{width: 0;height: 0;border-width: 6px 6px 0;border-style: solid dashed dashed dashed;border-left-color: transparent;border-right-color: transparent;position: absolute;bottom: 0;left: 50%;margin-left: -6px;}

.navigation>ul{width: 178px;height: auto;overflow: hidden;margin: 0 auto 20px;text-align: center;}
.navigation>ul>li{width: 100%;height: auto;overflow: hidden;border-bottom: 1px solid #fff;}
.navigation>ul>li:first-child{margin-top: 10px}
.navigation>ul>li>a{color: #fff;font: 14px/36px "微软雅黑";height: 36px;overflow: hidden;display: block;/*border-bottom: 1px solid #fff;*/}
.navigation>ul>li>a:hover,.navigation li a.cu{color: #cc1414;background: #fff;height: 34px;line-height: 34px;overflow: hidden;margin: 1px 0;}
.navigation>ul>li.current>a{color: #cc1414;background: #fff;height: 34px;line-height: 34px;overflow: hidden;margin: 1px 0;}
.navigation>ul>li>dl{display: none;border-top: 1px solid #fff;padding: 2px 0}
.navigation>ul>li>dl>dd>a{height: 32px;overflow: hidden;display: block;color: #fff;font: 14px/32px "微软雅黑";}
.navigation>ul>li>dl>dd>a:hover,.navigation li a.cu1{text-decoration: underline;}
.navigation>ul>li>dl>dd.current>a{text-decoration: underline;}
.navigation>ul>li>dl>dd>dl{display: none;}
.navigation>ul>li>dl>dd>dl>dt>a{overflow: hidden;height: 28px;display: block;color: #fff;font: 12px/28px "微软雅黑";}
.navigation>ul>li>dl>dd>dl>dt>a:hover,.navigation li a.cu2{text-decoration: underline;}
.navigation>ul>li>dl>dd>dl>dt.current>a{text-decoration: underline;}
.red{width: 0;height: 0;border-width: 15px 15px 0;border-style: solid dashed dashed dashed;border-color: #cc1414 transparent transparent transparent;margin-left: 103px}


.right{width: 732px;height: auto;overflow: hidden;float: right;}
.local{color: #333;font-size: 18px;line-height: 40px;width: 100%;height: 40px;overflow: hidden;/*border-bottom: 3px solid #f8f8f8;*/position: relative;}
.local:before{content: "";width: 100%;height: 3px;overflow: hidden;background: #f8f8f8;position: absolute;left: 0;bottom: 1px;z-index: 9}
.local:after{content: "";width: 178px;height: 5px;overflow: hidden;background: #cc1414;position: absolute;left: 0;bottom: 0;z-index: 10}
.local span{color: #cfcfcf;font-size: 14px}
.local i{float: right;color: #999;font-size: 14px;line-height: 40px;height: 40px;overflow: hidden;background: url(../images/i_03.png) no-repeat left center;padding-left: 13px;}
.local i a{color: #999;}
.local i a:hover{color: #cc1414}

.info{margin-top: 20px;height: auto;overflow: hidden;}
.page{font-size: 14px;line-height: 30px;height: auto;overflow: hidden;}

/*news*/
.news ul li{width: 100%;height: 96px;overflow: hidden;border-bottom: 1px dashed #a9a9a9;padding: 15px 0}
.news ul li:first-child{padding-top: 0}
.news ul li span{color: #999;font-size: 12px;line-height: 24px;height: 24px;overflow: hidden;display: block;}
.news ul li h3{height: 24px;overflow: hidden;}
.news ul li h3 a{color: #555;font-size: 16px;line-height: 24px;height: 24px;overflow: hidden;}
.news ul li h3 a:hover{color: #cc1414}
.news ul li p{color: #999;line-height: 24px;height: 48px;overflow: hidden;}
.num{text-align:center;margin-top: 25px;height: 24px;line-height: 24px;width: 100%;overflow: hidden;}
.num a{padding:3px 4px;color: #999;font: 14px/24px "微软雅黑";overflow: hidden;margin: 0 3px;}
.num a:hover,.num a.current,.num a.on{color: #fff;background: #cc1414;}

/*newsing*/
.newsing{height: auto;overflow: hidden;}
.newsing ul{height: auto;overflow: hidden;}
.newsing ul li{height: 96px;overflow: hidden;margin-bottom: 32px;}
.newsing ul li:last-child{margin-bottom: inherit;}
.newsing .listr{width: 553px}

/*news_det*/
.news_det{height: auto;overflow: hidden;}
.news_det h5.te{color: #555;font: 16px/24px "微软雅黑";text-align: center;width: 100%;max-height: 48px;overflow: hidden;}
.news_det .message{color: #999;text-align: center;width: 100%;height: 24px;overflow: hidden;margin-bottom: 8px;border-bottom: 1px dashed #a9a9a9;padding-bottom: 5px;}
.news_det .message a{color: #999;font: 12px/24px "微软雅黑";}
.news_det .message a:hover{color: #cc1414;}
.news_det p{font: 14px/30px "微软雅黑";}
.bbs{width: 100%;height: 30px;overflow: hidden;margin-top: 15px;border-bottom: 1px dashed #a9a9a9;}
.jiathis_style{float: right;}
.bbs .aaa{float: right !important;display: inline;}
.other{padding-top: 10px;height: 60px;overflow: hidden;color: #777;}
.other a{color: #777;font: 14px/30px "微软雅黑";height: 30px;overflow: hidden;display: block;}
.other a:hover{color:#cc1414;}

/*pro*/
.pro ul{ overflow:hidden; zoom:1;}
.pro ul li{width: 226px;height: 138px;overflow: hidden;float: left;margin: 0 9px 30px;}
.pro ul li:nth-child(10),.pro ul li:nth-child(11),.pro ul li:nth-child(12){margin-bottom: inherit;}
.pro ul li a{width: 226px;height: 138px;overflow: hidden;display: block;position: relative;}
/*.pro ul li a:hover:before{content: "";background: rgba(0,0,0,0.5) url(../images/icon_03.png) no-repeat center 79px;width: 226px;height: 138px;overflow: hidden;position: absolute;left: 0;top: 0;z-index: 9}*/

.pro ul li a img{ max-width:100%; max-height:100%;overflow: hidden; display:block;margin: auto;}
.hover{width: 100%;height: 100%;position: absolute;left: 0;top: 0;display: none;}
.hover img{position: absolute;top: 56%;left: 50%;margin-left: -14px !important;z-index: 11}
.hover em{width: 100%;height: 100%;position: absolute;left: 0;top: 0;display: block;background: #000;opacity:0.5; filter:alpha(opacity=50);-webkit-opacity:0.5; -moz-opacity:0.5; -khtml-opacity: 0.5;}
.pro ul li a:hover .hover{display: block;}
.pro ul li a p{color: #fff;font-size: 14px;line-height: 104px;text-align: center;width: 226px;height: 104px;overflow: hidden;position: absolute;left: 0;top: 0;display: none;z-index: 10;}
.pro ul li a:hover p{display: block;}


/*pro_det*/
.pro_det{height: auto;overflow: hidden;}
.focus { position: relative; width:588px; height:286px; overflow: hidden; margin: 5px auto;}
.focus .pic{ position:relative; z-index:0;}
.focus .pic li{width: 468px !important;height: 286px;overflow: hidden;margin: 0 auto;left: 50% !important;margin-left: -234px;}
.focus .pic img {display: block;max-width: 100%;max-height: 100%;margin: 0 auto;}
.focu{position: relative; width: 468px;height: 286px;overflow: hidden;margin: 5px auto}
.focu img {display: block;max-width: 100%;max-height: 100%;margin: 0 auto;}
.focus .prev{width: 20px; height: 20px; margin: -19px 0 0;background: #dddddd url(../images/prev_next.png) no-repeat left center; position: absolute; top: 50%;cursor: pointer;left: 0;border-radius: 100%;-webkit-border-radius: 100%;-moz-border-radius: 100%;behavior:url(PIE.htc);}
.focus .next{width: 20px; height: 20px; margin: -19px 0 0;background: #dddddd url(../images/prev_next.png) no-repeat -20px center; position: absolute; top: 50%;cursor: pointer;right: 0;border-radius: 100%;-webkit-border-radius: 100%;-moz-border-radius: 100%;behavior:url(PIE.htc);}
.focus .prev:hover{background: #cc1414 url(../images/prev_next.png) no-repeat left center;}
.focus .next:hover{background: #cc1414 url(../images/prev_next.png) no-repeat -20px center;}

.pro_det h5.te{color: #555;font: 16px/24px "微软雅黑";text-align: center;width: 100%;max-height: 48px;overflow: hidden;margin: 15px 0 10px}
.pro_det p{height: auto;overflow: hidden; margin-top: 15px;font: 14px/30px "微软雅黑";}
.pro_det p span{font: 14px/30px "微软雅黑";height: 30px;overflow: hidden;display: block;}
.pro_det .img{display: block;margin: 0 auto}

/*search*/
.search ul li a{color: #555;font: 14px/46px "微软雅黑";height: 46px;overflow: hidden;display: block;border-bottom: 1px dashed #a9a9a9;text-indent: 2px;}
.search ul li a:hover{color: #cc1414;}
.search ul li span{float: right;color: #999;font: 14px/46px "微软雅黑";height: 46px;overflow: hidden;}
.search ul li a:hover span{color: #cc1414;}
.sear{color: #cc1414;font: 16px/40px "微软雅黑";text-align: center;height: 40px;overflow: hidden;}
