charset "utf-8";
*{ margin:0px; padding:0px;}
a,a:link,a:visited,a:hover{text-decoration:none; }
a{ color:inherit;}
a img{ border:none;}
img{ vertical-align:top; max-width: 100%; max-height: 100%;}
.clear{ clear:both;}
table{ font-size:12px;border-collapse:collapse; border-spacing:0px;}
body{font-size:12px; text-align:left;font-weight:normal; line-height:24px; font-family: "微软雅黑",Arial, Helvetica, sans-serif;  color:#fff; background:url(../images/bg.png) no-repeat left top; background-size: cover;}
a{blr:expression(this.onFocus=this.blur())} /*a{ -webkit-tap-highlight-color:rgba(0,0,0,0);  }  去掉链接触摸高亮 */
a{outline:none;} /*for Firefox*/
h1,h2,h3,h4,h5,input{font-size:12px; font-weight:normal;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td,i{ margin:0px; padding:0px;}
ol,p,dl,li{list-style:none;}
em,span,strong,i{font-style: normal;}
.wrap{ width:100%; height: auto;overflow:hidden;  position: relative; min-width:1200px; }
.fl{ float:left; display:inline;}/*左浮动标签*/
.fr{ float:right; display:inline;}/*右浮动标签*/
.clearfix{display:block;clear:both;}
.clearfix{*zoom:1;}
.clearfix:after{display:block; overflow:hidden;clear:both;height:0;visibility:hidden;content:".";}

.header{height: 160px;width: 100%;}
.header .logo{ width: 28%; height: 160px; display: table;float: left; }
.header .logo a{ width: 100%; height: 160px; display: table-cell; text-align: center; vertical-align: middle;}
.header .logo img{max-height: 100%; max-width: 100%;}
.navBar{width: 72%; position:relative; z-index:1; height:100%; float: left; }
.nav{ width:100%; padding-top: 50px;}
.nav .m{ float:left;  position:relative; margin-right: 2%;}
.nav>li>a{  font-size: 16px; height: 41px; line-height: 50px; display:block; width: 100%; text-align: center; overflow: hidden; background:url(../images/nav.png) no-repeat center top; background-size: contain; }
.nav>li.on>a{ background:url(../images/navh.png) no-repeat center top; background-size:100% 100%; color: #333333; }
.nav .sub{ display:none; /*默认隐藏*/ position:absolute; overflow: hidden; width: 100%; left:0; top:41px; line-height:26px; padding:7px 0; }
.nav .sub li{ width: 100%; margin-bottom: 6px;}
.nav .sub li a{ display:block; text-align: center; color: #ffd251; height: 24px; line-height: 24px; border: 1px solid #ffd251;}
.nav .sub li a:hover{color:#333333; background: #ffd251;}
.about1{ margin-left: 20%; height: 614px; width: 80%;}
.about{ width: 35%; }
.index_title{ font-family: "华康简综艺"; padding-top: 28px; display: block; width: 100%; font-size: 70px; color: #ffffff; height: 170px; line-height: 170px; background:url(../images/h1.png) no-repeat left bottom;}
.about .text{ line-height: 30px; overflow: hidden; width: 100%; margin-top: 26px; font-size: 16px; color: #ffffff;}
.about .more{ display: block; text-align: center; margin-top: 20px; line-height: 37px; font-size: 16px; color: #ffffff; width: 112px; height: 37px; border: 1px solid #ffd251;}
.about .more:hover{color:#333333; background: #ffd251;}
.banner{ width:58.73%; overflow: hidden;}
.slideBox{ overflow:hidden; position:relative; padding: 6px; width:97%; height:auto; background:url(../images/bannerbg.png) no-repeat; background-size: 97% 100%;}
.slideBox .hd{ height:18px;width: 100%;text-align: center; overflow:hidden; position:absolute; bottom:34px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1;margin-right: 60px;  text-align: right; }
.slideBox .hd ul li{display: inline-block; margin:0 10px;  width:18px; height:18px;text-indent: -9999px; background:url(../images/dot.png) no-repeat; cursor:pointer;border-radius: 50%;font-size: 0;}
.slideBox .hd ul li.on{ background:url(../images/doth.png) no-repeat; }
.slideBox .bd{ position:relative; height:auto; z-index:0;}
.slideBox .bd li{ zoom:1; vertical-align:middle;height:auto; }
.slideBox .bd li a{ display: block;}
.slideBox .bd img{ width:98%;height:auto; }
.speciallist{ width: 385px; height: 33px; margin-left: 6.9%; position: relative;z-index: 9;}
.checkin{background:url(../images/up.png) no-repeat; width: 171px; height: 33px; position: relative; margin-right: 12px; cursor: pointer;}
.checkin em{ display: inline-block;width: 33px; height: 35px; }
.checkin h2{ text-transform: uppercase; display: inline-block; line-height: 35px; position: relative;top: -12px; text-align: center;width: 138px;}
.news_list{display: none; position: absolute;bottom: 33px; width: 100%; background: rgba(255, 210, 81, 0.59);}
.news_list li{ width: 100%;}
.news_list li a{ font-size: 12px; color: #ffffff; display: block; width: 100%;white-space: nowrap;text-overflow: ellipsis;overflow: hidden; text-align: center;}
.news_list li a:hover{ color: #ffd251;}
.copyright{margin-left: 6.9%; margin-top: 30px; margin-bottom: 30px; }
.copyright p{color:#8d8c8c; font-size: 14px; }
.copyright p a{color:#8d8c8c;}
.copyright p a:hover{ color: #ffd251;}
.share{ margin-right: 80px;}
.share .bds_more{ color: #fff !important;}
.footer{width: 100%;}
/*about.html*/

.innernav{ width: 1250px; margin: 0 auto;}
.innernav .title{ text-align: center;}
 .innernav .title h3{ height: 57px; line-height: 57px;}
  .innernav .title img{ margin-bottom: 10px;}
 .innernav .title h3 i{ display: inline-block; padding: 0 12px; height: 57px; line-height: 57px; font-weight: bold; color: #ffd251; font-size: 28px; background:url(../images/h2.png) no-repeat;}
 .l_list{ margin-top:16px; width: 100%; text-align: center; height: 90px;}
  .l_list .firstul{ display: inline-block; position: relative;}
  .l_list .firstli{ width: 155px; text-align: center; color:#333;overflow: hidden; float: left; margin-right: 40px;}
 .l_list .c{font-size: 18px;width:100%;height:45px;line-height:40px;display:inline-block; color:#333; background:url(../images/in.png) no-repeat left top;}
 .l_list .firstli .c:hover{color:#ffd251;background:url(../images/inh.png) no-repeat; background-size: 100% 100%;}
.l_list .secondul{ display: none; position: absolute; width: 100%; left: 0; top: 50px;}
.l_list .secondli{color:#565656; text-align: center; float: left; width: 145px; margin-right: 40px; padding:2px; border: 2px solid #565656;}
.l_list .secondli .cc{font-size: 18px;width:143px; height:32px;line-height:32px;display:inline-block; }
.l_list .secondli:hover{border: 2px solid #ffd251;}
.sen_x, .l_list .secondli:hover .cc{color:#333333;background:#ffd251;border: 1px solid #ffd251; font-weight: bold;}
.l_list .secondli ul{display: none; background:#ffd251; position: relative;top: -1px; width: 145px;}
.l_list .secondli ul li a{ font-size: 16px; color: #565656; line-height: 30px; width: 100%; text-align: center;}
.l_list .secondli>ul>li:hover a{ text-decoration: underline;}
.main{ width: 1190px; margin: 0 auto 30px; padding: 20px 30px; border: 6px solid #353535;}
.main_wrap{ overflow: auto; height: 360px; width: 100%;}
.footer1{ width: 1250px; margin: 0 auto; color: #8d8c8c;}
#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #363636;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #363636;
}

#style-2::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #ffd251;
}
.sear_tit1{width:100%; margin-bottom: 30px;}
.sear_tit1 li{ border-bottom: 1px dotted #565656;}
.sear_tit1 li a{ display: block; width: 100%; line-height: 60px;overflow: hidden; text-overflow:ellipsis; white-space:nowrap; color: #ffffff; font-size: 16px;}
.sear_tit1 li a:hover a{ color: #ffd251;}
.page a{display: inline-block;color:#353534; padding: 0 8px;margin-right: 15px; font-size: 31px; line-height: 39px;}
.page a span{ color: #ffd251;}
.clpage{ position: relative;top: 8px;}
.page a.last{display: inline-block; width: 39px; height: 39px; background: url(../images/lastpage.png) no-repeat;}
.page a.next{display: inline-block; width: 39px; height: 39px; background: url(../images/nextpage.png) no-repeat;}
.page a.last:hover{ background: url(../images/lastpageh.png) no-repeat;}
.page a.next:hover{ background: url(../images/nextpageh.png) no-repeat;}
.title_page{ height: 46px; line-height: 46px;}
.title_page h2{ background: url(../images/h3.png) no-repeat 0 center; text-indent: 16px; font-size: 27px; font-weight: bold; color: #ffd251;}
/*case.html*/
.case_list{width: 100%;}
.case_list ul li{width: 100%;height:122px;overflow: hidden;margin-bottom: 15px; padding: 20px 0; border-bottom: 1px solid #111111;}
.case_list ul li .case_img{float: left;width:174px;height:122px;position:relative;display: table;text-align: center;overflow: hidden;}
.case_list ul li .case_img span{ display:table-cell;vertical-align:middle;}
.case_list ul li img{max-width:174px;max-height:122px;position: relative;margin: 0 auto;}
.case_list ul li .case_name{float: left;width: 680px;margin-left: 20px; font-size: 16px;}
.case_list ul li .case_name h3{ font-size: 18px; line-height: 30px;width: 100%;height:30px;display:block;overflow: hidden; text-overflow:ellipsis; white-space:nowrap; font-weight: bold;}
.case_list ul li .case_name .case_c{ height: 72px;overflow: hidden; font-size: 14px;}
.case_list ul li .case_name .case_c button{ border: none;background: none;}
.case_list ul li a .case_name .case_c .more{ }
.case_list ul li .case_name p{ font-size: 16px;}
.case_list ul li a:hover .case_name h3{ color: #ffd251;}
.infoList{}
.infoList ul{ width: 110%;}
.infoList ul li{ width: 340px; float: left; margin-right: 34px; margin-bottom: 30px;}
.infoList ul li a{ display: block; line-height: 50px;}
.infoList ul li a .on_img{ width: 340px; height: 221px; display: table-cell;text-align: center;vertical-align: middle;}
.infoList ul li a .on_img img{ max-height: 100%; max-width: 100%;}
.infoList ul li a h2{ width: 100%; font-size: 18px; font-weight: bold;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.infoList ul li a em{ display: block;width: 36px; height: 2px; background: #ffd251;}
.infoList ul li a p{ font-size: 16px; width: 100%; white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.infoList ul li a:hover .on_img{width: 330px; height: 211px; border: 5px solid #ffd251;}
.infoList ul li a:hover h2{ color: #ffd251;}
.slideBoxs{ margin:20px auto;overflow:hidden; width: 496px; height: 428px;  }
.slideBoxs .bds{ position:relative; height:auto; z-index:0;  }
.slideBoxs .bds ul{display: table; width: 496px; height: 428px; vertical-align: middle;text-align: center; margin: 0 auto;}
.slideBoxs .bds li{  padding: 16px; zoom:1; vertical-align:middle;display: table-cell; }
.slideBoxs .bds span{width: 464px;height:366px;position: relative;text-align: center; display: block;}
.slideBoxs .bds span i{width: 464px;height:366px;display: table-cell;vertical-align: middle; text-indent: ceil(number)}
.slideBoxs .bds img{ max-width:100%; margin: 0 auto;}
.slideBoxs .bds h2{ font-size: 16px;}
.slideBoxs .next,.slideBoxs .prev{ position:absolute; left:3%; top:36%; margin-top:-25px; display:block; width:32px; height:40px; background:url(../images/prev.png) left no-repeat;}
.slideBoxs .next{ left:auto; right:3%; background:url(../images/next.png) right no-repeat; }
.slideBoxs .prevStop{ display:none;  }
.slideBoxs .nextStop{ display:none;  }
.slideBoxs .prev:hover{background:url(../images/prevh.png) right no-repeat; }
.slideBoxs .next:hover{background:url(../images/nexth.png) right no-repeat; }
.main_tit{text-align: center;font-size: 30px;color:#ffd251;display: inline-block; padding: 0 20px; margin: 0 auto; font-weight: bold; line-height: 40px; }
.main_tit em{background:url(../images/pro2.png) left no-repeat; background-size: 100%; display: inline-block; width: 11px; height: 41px; position: relative;top: 10px; margin: 0 4px;}
.main_tit .em1{background:url(../images/em1.png) left no-repeat; background-size: 100%; }
.main_tit .em2{background:url(../images/em2.png) left no-repeat; background-size: 100%; }
.bottom { height:40px;overflow: hidden; text-align: right; width: 100%; }
.bottom a{ display: inline-block;}
.bottom a.back{display: inline-block; width: 39px; height: 39px; background: url(../images/back.png) no-repeat; margin-right: 6px;}
.bottom a.last{display: inline-block; width: 39px; height: 39px; background: url(../images/lastpage.png) no-repeat; margin-right: 6px;}
.bottom a.next{display: inline-block; width: 39px; height: 39px; background: url(../images/nextpage.png) no-repeat; margin-right: 30px;}
.bottom a.last:hover{ background: url(../images/lastpageh.png) no-repeat;}
.bottom a.next:hover{ background: url(../images/nextpageh.png) no-repeat;}
.bottom a.back:hover{ background: url(../images/backh.png) no-repeat;}
.main_tit1{ font-size: 28px; text-align: center;line-height: 50px;}
.time{width:100%;text-align: center;color: #565656;margin-bottom: 20px; font-size: 14px; border-bottom: 1px solid #333334; line-height: 50px;}
.sear_tit{ font-size: 16px; text-align: center;}




