<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>

    <script type="text/javascript">
        // 跳转PC页面
        {if $site_another_url}
        if (!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
            location.href = '{$site_another_url}';
        }
        {/if}
    </script>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="keywords" content="{$keywords}" />
    <meta name="description" content="{$description}" />
    <link rel="stylesheet" href="{$site_url}css/swiper-3.3.1.min.css" />
    <link rel="stylesheet" href="{$site_url}css/style.css">
    <script src="{$site_url}js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{$site_url}js/swiper-3.3.1.jquery.min.js"></script>
    <script  type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.1.js"></script>
    <script type="text/javascript" src="{$site_url}js/index.js"></script>

    <script type="text/javascript">
        window.addEventListener('load', function(){
            setTimeout(function(){ window.scrollTo(0, 1);}, 100);
        });//safari浏览器可以通过此代码来隐藏地址栏
    </script>
    {$headscript}
</head>
<body>
    {include file="./_header.html"}
    {include file="./_banner.html"}

    <div class="main">
        {foreach item=mIndexCat from=$mIndexCats}
            {if $mIndexCat.type eq 3}
                {if $mIndexCat.showtype eq 1}
                    <div class="main1">
                        <div class="s-title">
                            <h3>{$mIndexCat.name}</h3>
                            <span>{$mIndexCat.en_name}</span>
                        </div>
                        <div class="m1-content">
                            <dl class="m1-dlA">
                                <dd>
                                    <h3>{$mIndexCat.name}</h3>
                                    <p>{$mIndexCat.description}</p>
                                    <a href="{$mIndexCat.link}">点击查看</a>
                                </dd>
                                <dt><img src="{$mIndexCat.image}" alt=""></dt>
                            </dl>
                            <div class="m1-list">
                                {foreach item=list1 from=$mIndexCat.data}
                                <a href="{$list1.link}" class="lt">
                                    <dl>
                                        <dt><img src="{$list1.image}" alt=""></dt>
                                        <dd>{$list1.title}</dd>
                                    </dl>
                                </a>
                                {if $list1@index+1 eq 4}{break}{/if}
                                {/foreach}
                            </div>
                        </div>
                        <a href="{$mIndexCat.link}" class="s-more">MORE +</a>
                    </div>
                {elseif $mIndexCat.showtype eq 2}
                    <div class="main4">
                        <div class="s-title">
                            <h3>{$mIndexCat.name}</h3>
                            <span>{$mIndexCat.en_name}</span>
                        </div>
                        <div class="m4-content">
                            {foreach item=m4 from=$mIndexCat.data}
                            <a href="{$m4.link}" class="m4-dl lt">
                                <dl>
                                    <dt>
                                        <img src="{$m4.image}" alt="">
                                    </dt>
                                    <dd>
                                        <time>{$m4.pubtimestamp|date_format:'%Y-%m-%d'}</time>
                                        <h4>{$m4.title}</h4>
                                    </dd>
                                </dl>
                            </a>
                            {if $m4@index+1 eq 2}{break}{/if}
                            {/foreach}
                        </div>
                        <a href="{$mIndexCat.link}" class="s-more">MORE +</a>
                    </div>
                {/if}
            {elseif $mIndexCat.type eq 2}
                 {if $mIndexCat.showtype eq 1}
                    <div class="main2">
                        <div class="s-title">
                            <a href="{$mIndexCat.link}">
                                <h3>{$mIndexCat.name}</h3>
                                <span>{$mIndexCat.en_name}</span>
                            </a>
                        </div>
                        <div class="m2-content">
                            <!--<ul class="m2-tab">-->
                                
                                     
                                
                                
                            <!--</ul>-->
                            <div  class="m2-list">
                                <ul>
                                    {foreach item=m2_list from=$mIndexCat.data}
                                    <li>
                                        <a href="{$m2_list.link}">
                                            <div class="pic"><img src="{$m2_list.image}" alt=""></div>
                                        </a>
                                    </li>
                                    {if $m2_list@index+1 eq 4}{break}{/if}
                                    {/foreach}
                                </ul>
                            </div>
                        </div>
                    </div>
                {/if}
            {elseif $mIndexCat.type eq 4}
                {if $mIndexCat.showtype eq 1}
                    <div class="main3">
                        <img class="m3-bg" src="{$global.list3Bg.image}" alt="">
                        <div class="m3-content">
                            <div class="m3-name">
                                <h3>{$mIndexCat.name}</h3>
                                <span>{$mIndexCat.en_name}</span>
                            </div>
                            <div class="m3-des">
                                {$mIndexCat.description}
                            </div>
                            <a href="{$mIndexCat.link}" class="m3-more">MORE +</a>
                        </div>
                    </div>
                {/if}
            {/if}
        {/foreach}
    </div>


{include file="./_footer.html"}
</body>
</html>