.menu2{ position:absolute;  right:5%; height:35px;top:50%; -webkit-transform:translate(0,-50%)}
.menu2 span{ background:#749e1d; height:14px; width:28px; display:block;-webkit-mask:url(../images/zz1.png) no-repeat;-webkit-mask-size:28px 14px}
.menu2 a{ color:#749e1d;}
.menu2 .word{ height:20px; line-height:20px;}
.topcontas{ width:97%; padding:1.5%; height:auto;position:relative;}
.topcontas:before{ position:absolute; content:""; height:70px; left:0px; bottom:0px;
    z-index:100; width:50%;display:block;-webkit-mask:url(../images/zz2.png) no-repeat;
    background:#749e1d;-webkit-mask-size:100% 70px;}
.topcontas:after{ position:absolute; content:""; height:70px; right:0px; bottom:0px;
    z-index:100; width:50%;display:block;-webkit-mask:url(../images/zz2.png) no-repeat;
    -webkit-mask-size:100% 70px;background:#749e1d;-webkit-transform:scaleX(-1)}

.boxmain{ margin:8px; height:auto; position:relative; }
.box-titles{ color:#fff; font-size:1.12em; text-align:center; height:20px; line-height:20px;}
.box-border{  height:auto; width:100%; margin:0px auto;}
.box-entit{ width:100%; margin:0 auto 15px; height:25px; position:relative; }
.box-entit SPAN{ width:100PX; z-index:10; position:relative; height:25px; line-height:25px; color:#fff;
    display:block; margin:0px auto; text-align:center; background:#749e1d;}
.box-entit:before{ position:absolute; left:0px; width:100%; top:30px; content:""; height:1px; background:#749e1d; display:block;}
.biankuang{ border:1px solid #749e1d; border-top:none; height:auto; }
.bk1{ padding:10px; height:auto; overflow:hidden; background: #e4ecd2;}
.bk1 a{ display:block; height:auto; width:100%;position:relative;display:-webkit-box;display:box;}
.aimgs{ width:160px; height:auto; display:inline-table; margin-right:8px;}
.aimgs:after{ background:#e4ecd2;-webkit-mask:url(../images/zz3.png) no-repeat;-webkit-mask-size:100% 155px; z-index:100; position:absolute; content:""; right:0px;  bottom:0px; width:100%; height:155px;}
.abouit-box{-webkit-box-flex:1;-moz-box-flex:1;-o-box-flex:1;-ms-box-flex:1;box-flex:1;font-size:1em; position:relative; color:#fff;}
.more2{ border-radius:8px;  background:#749e1d; height:20px; line-height:20px; text-align:center; padding:3px 15px; margin-top:3px; float:right; color:#fff;}
.atext{ height:120px; overflow:hidden; line-height:24px;color:#000;}
.bimg{ width:100%; height:auto; overflow:hidden; position:relative; margin-bottom:1px;}
.aboutt{ width:100%; height:auto; overflow:hidden; margin:0px auto 10px;}
.news_titles{ position:absolute; left:5%; top:50%;-webkit-transform:translate(0,-50%); width:120px;font-size:1.15em; text-align:center; height:60px; }
.chnews{ border:2px solid #75a123; height:26px;color:#75a123; line-height:26px;}
.ennews{ background:#75a123; height:30px; width:100%; color:#fff; line-height:30px;  text-transform:uppercase; }
.news{ position:relative; width:100%; height:auto; overflow:hidden;  margin-bottom:10px;background: #e4ecd2;}
.nlist{ padding:10px; height:auto; overflow:hidden;}
.nlist ul{ width:100%; height:auto; overflow:hidden;}
.nlist ul li{ height:26px; line-height:26px; width:100%;overflow:hidden;}
.nlist ul li span{ height:2px; width:2px;  padding-right:5px;}
.nlist ul li a{ display:block; color:#000;}
.newsmores{ position:absolute; right:0px; bottom:0px; height:auto; overflow:hidden; width:75px;}
.gengduo{ height:auto; overflow:hidden; position:relative;height:100px; width:75px; overflow:hidden; z-index:100; height:75px;}
.boxsanjiao {
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 10;     border-bottom: 75px solid #77a121;
    border-left: 75px solid transparent;
    border-right: 0 solid transparent;
}
.jiahao{ position:absolute; left:0px; text-align:left; left:50px; width:75px;
    bottom:10px; z-index:100; font-weight:bold; font-size:2em; color:#fff ;}
.bimg-car{ position:relative; height:auto; overflow:hidden; width:100%; margin-bottom:3px;}
.cxza-car{background:#77a121; height:100%; position:absolute; left:0px; top:0px;
    z-index:100; width:50%; display:block;-webkit-mask:url(../images/zz4.png) no-repeat;-webkit-mask-size:100% 100%}
.car_word{ position:absolute; top:50%;-webkit-transform:translate(10%,-90%); height:60px; width:100%; line-height:30px; }
.car-zw{ font-size:1.5em; color:#fff;}
.car-yw{ font-size:1.7em;color:#fff;}
.carshow{ width:100%; height:auto; overflow:hidden; background:#90c31f; position:relative;}
.carshow ul{ width:100%; height:auto; overflow:hidden; position:relative;}
.carshow ul li{ width:50%; float:left; height:auto; overflow:hidden;}
.carshow ul li div{ margin:8px;  height:auto; overflow:hidden; background:#77a121;}
.carshow ul li div p{ padding:5px; border-bottom:2px solid #90c31f;background: #77a121;}
.carshow ul li div .imgword{ display:block; height:25px; text-align:center; background: #749e1d;
    font-weight:1.1em;overflow:hidden;
white-space:nowrap;
text-overflow:ellipsis;}
.carshow ul li a{ color:#fff;}
.carshow:after{ position:absolute; left:50%; margin-left:-2px; content:""; top:0px; display:block; height:100%; overflow:hidden;
    background:#749e1d; width:2px;}
.carshow ul:after{ position:absolute; top:50%; margin-top:-2px; content:""; left:0px; display:block; height:2px;
    overflow:hidden; background:#749e1d; width:100%;}
.cozxhow{ height:auto; overflow:hidden; width:100%; position:relative;}
.ckgd{ width:100px; border-radius:10px; margin:10px auto; text-align:center; font-size:1.1em; color:#fff; background:#90c31f; text-align:center;}
.ckgd a{ color:#fff;}
.cozxhow:after{ content:""; position:absolute; bottom:0px; height:1px; width:100%; overflow:hidden; left:0px; background:#749e1d;}
.boxmain-top{ height:36px; overflow:hidden; background:#4c6710; color:#fff; line-height:36px; text-indent:10px;}
.more3{height:25px; padding:0px 5px; margin-top:5px;border-radius:8px; line-height:25px;background:#749e1d;
    display:block; text-align:center; color:#fff; font-size:0.9em; float:right;  position:relative; z-index:99999; margin-left:5px; margin-right:5px; }

#up{ display: none;}
.hide-class{ height:auto; overflow:hidden; display:none; background:#e4ecd2; }
.hide-class dl{ height:30px; overflow:hidden; line-height:30px;  position:relative; border-bottom:1px solid #77a121; }
.hide-class dl:before{ content:"●"; width:30px; height:30px; text-align:center; position:absolute; top:0px; left:0px; color:#749e1d;}
.hide-class dl a{ display:block;padding:0px 20px 0px 25px;color:#000}
.hide-class dl a:active {background:rgba(0,0,0,0.1);}
.font{ width:38px; text-align:center;background:#749e1d;position:absolute; top:36px; right:6px; display:none; z-index:9999; padding-top:10px;}
.fixed-font{ right:0px; top:35px; padding-top:0px;}
.font dl{ height:30px; line-height:30px; color:#fff; text-align:center; }
.font dl.big,.font-big{ font-size:1.3em; }
.font dl.normal,.font-normal{ font-size:1.0em;}
.font dl.small,.font-small{ font-size:0.9em;}
.boxmain-ny{ padding:0px 6px; height:auto; overflow:hidden; position:relative; margin:6px auto 0px;}
.boxmain-ny-m{ height:auto; overflow: hidden; background:#e4ecd2; width:100%; }
.edite{ height:auto; overflow:hidden; padding:8px;color:#000;}

.cheshow{ width:100%; height:auto; overflow:hidden; position:relative;}
.cheshow ul{ width:100%; height:auto; overflow:hidden; position:relative; padding-top:10px;}
.cheshow ul li{ width:50%; float:left; height:auto; overflow:hidden;}
.cheshow ul li div{ margin:8px;  height:auto; overflow:hidden; background:#77a121;}
.cheshow ul li div p{ padding:5px; border-bottom:3px solid #e4ecd2;}
.cheshow ul li div .imgword{ display:block; height:30px; line-height:30px; text-align:center; font-weight:1.1em;overflow:hidden;
white-space:nowrap;
text-overflow:ellipsis;}
.cheshow ul li a{ color:#fff;}
.next1{ margin:10px auto; height:30px; width:88%;font-size:1.1em;line-height:30px; padding:5px 0px; overflow:hidden;text-align:center;color:#fff }
.next1 a{ border-radius:2px; background:#749e1d; color:#fff;  cursor:pointer; margin-right:10px; height:30px; line-height:30px; padding:5px; }

.news-show{ width:100%; height:auto; overflow:hidden; padding-top:10px;}
.news-show ul{ height:auto; overflow:hidden; margin:0px 10px;}
.news-show ul li{ height:30px; line-height:30px; width:100%; position:relative; overflow:hidden;}
.news-show ul li a{ color:#000; padding:0px 10px; padding-left:8px; font-size:1.1em;}
.news-show ul li a span{ float:right; display:inline; overflow:hidden; color:#000; padding-right:10px; margin-left:10px;}
.news-show ul li:before{ content:"·"; position:absolute; left:0px; top:15px; background:#000; width:2px; height:2px; overflow:hidden;}

.toaptww{ position:relative; z-index:10000; top:0px; width:97%;left:1.5%; text-align:center;}
.fixed-top{z-index:100; position: absolute; top:0px; left:0px; width:100%; background:#90c31f;
    height:35px; line-height:35px; color:#fff;
 font-size:1.14em;}
.ny-wrap{ margin:40px 6px 0px;}
.fixed-btn{ background:rgba(0,0,0,0.3); color:#fff; padding:0px 10px; float:right;font-size:1em;}
.back{ float:left;  text-indent:0px; height:35px; text-align:center}
.back a{ color:#fff; display:block;}

.menulist{ float:right; display:inline; height:35px; overflow:hidden; background:rgba(0,0,0,0.3); color:#fff; padding:0px 10px;font-size:1em;}
.menulist a{ color:#fff;}
.menulist .word{ height:35px; line-height:35px;}
.news_detail{ height:auto; overflow:hidden; padding:10px 0px; color:#1682b1; font-weight:normal; padding-top:10px;}
.news_detail .title1{ height:auto; overflow:hidden; text-align:center; font-size:1.15em; color:#303030; }
.news_detail .title2{ height:auto; padding:0px;border-bottom:1px solid #c1c1c1; line-height:28px;text-align:center; color:#626262; padding-bottom:5px; line-height:30px;  margin-bottom:0px;}
.index_show{  height:auto; overflow:hidden; position:relative; background:#e4ecd2;}
.box-m{ height:auto; overflow:hidden; position:relative; padding:12px;}
.box-img{ width:90%; height:auto; overflow:hidden; margin:0px auto; text-align:center; margin-top:10px; margin-bottom:10px;}
.box-img .pbtser{ margin:8px;  height:auto; overflow:hidden; background:#77a121;}
.box-img .pbtser .slideBox{ padding:5px; border-bottom:3px solid #e4ecd2;}
.box-img .imgword{ display:block; height:30px; line-height:30px; text-align:center; font-weight:1.1em;}
.box-img { color:#fff;}
.boxmain-m .edite{ height:auto; overflow:hidden; color:#000; padding:0px; padding-bottom:18px; border-bottom:1px solid #77a121;}
.inner_pages {color: #eaab4c;margin-bottom:0px;padding-top: 20px; }
.inner_pages li {    height: 25px;    line-height: 25px;    margin-bottom: 5px; text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.inner_pages a {    color: #000;
}
.d_titles{ text-align:center; margin:0px auto; height:auto; overflow:hidden; margin:10px 10px; padding-bottom:5px;border-bottom:1px solid #0c1421; }
.index_show .title1{ font-size:1.3em; color:#ccc; height:30px; line-height:30px; margin-bottom:0px;text-align:center;overflow:hidden;
white-space:nowrap;
text-overflow:ellipsis;}
.index_show .title2{ margin:0px 10px; text-align:center; color:#fff; line-height:25px; margin:0px auto; }
.index_show .title2 a{ color:#ccc;}
.d_titles2{ text-align:center; margin:0px auto; height:auto; overflow:hidden; margin:10px 10px;
    padding-bottom:5px;border:1px solid #77a121; }
.title2 span{ height:30px; line-height:30px; color:#fff; text-align:center; }
.title2 span.bigd,.font-bigd{ font-size:1.3em; cursor:pointer; }
.title2 span.middled,.font-middled{ font-size:1.0em;cursor:pointer;}
.title2 span.smalld,.font-smalld{ font-size:0.8em;cursor:pointer;}

@media screen and (min-width: 320px) and (max-width: 480px){
.car-zw{ font-size:1.1em;}
.car_word{ line-height:25px;}
.car-yw{ font-size:1em;}	
}
@media screen and (min-width: 480px) {
.cheshow ul{ width:99%; height:auto; overflow:hidden; position:relative; padding:10px 0.5% 0px;}
.cheshow ul li{ width:33.3%; float:left; height:auto; overflow:hidden;}
	
	
	

}

@keyframes lightheight{
0%{ line-height:25px;}
100%{ line-height:40px;}
}
@-webkit-keyframes lightheight{
0%{ line-height:25px;}
100%{ line-height:40px;}
}