
<div id="topnav">
	{if $pagenavs}
		<div class="nav">
			<ul class="first">
				{foreach item=nav from=$pagenavs}
				<li>
					<a href="{$nav.link}">{$nav.en_name}</a>
					{if $nav.childmenu}
					<ul class="clone-second">
						{foreach item=nav_list from=$nav.childmenu}
						<li>
							<a href="{$nav_list.link}">{$nav_list.en_name}</a>
							{if $nav_list.childmenu}
							<ul class="clone-third">
								{foreach item=nav_last from=$nav_list.childmenu}
									<li><a href="{$nav_last.link}">{$nav_last.en_name}</a></li>
								{/foreach}
							</ul>
							{/if}
						</li>
						{/foreach}
					</ul>
					{/if}
				</li>
				{/foreach}
			</ul>
		</div>
		<div class="nav-list"></div>
		<div class="nav-last"></div>
	{else}  <!-- 无子栏目时 -->
		<div class="nav">
			<ul class="first">
				{foreach item=nav from=$global.pagenavs.childmenu}
				<li>
					<a href="{$nav.link}">{$nav.en_name}</a>
					{if $nav.childmenu}
					<ul class="clone-second">
						{foreach item=nav_list from=$nav.childmenu}
						<li>
							<a href="{$nav_list.link}">{$nav_list.en_name}</a>
							{if $nav_list.childmenu}
							<ul class="clone-third">
								{foreach item=nav_last from=$nav_list.childmenu}
									<li><a href="{$nav_last.link}">{$nav_last.en_name}</a></li>
								{/foreach}
							</ul>
							{/if}
						</li>
						{/foreach}
					</ul>
					{/if}
				</li>
				{/foreach}
			</ul>
		</div>
		<div class="nav-list"></div>
		<div class="nav-last"></div>
	{/if}
</div>