<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript">
    // Ìø×ªÊÖ»úÒ³Ãæ
    {if $site_another_url}
        if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
            location.href = '{$site_another_url}';
        }
    {/if}
    </script>


<meta name="keywords" content="{$keywords}"/>
<meta name="description" content="{$description}"/>
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="zh-CN">

<link rel="stylesheet" type="text/css" href="{$site_url}css/style.css"/>
<script type="text/javascript" src="{$site_url}js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
<script type="text/javascript" src="{$site_url}js/html5.js"></script>
<title>{$title}</title>
</head>
<body>
	<div id="wrapper">
		{include file='./_header.html'}
        {include file='./_banner.html'}
		<div class="content">
			<div class="inside">
				{include file='./_left.html'}
				<div class="right">
					<div class="main-hd">
						<h2>{$article.category.name}</h2>
	                    <span>当前位置：
	                        <a href="{$site_url}">首页</a>
	                        {foreach item=nav from=$posnavs} > <a href="{$nav.link}">{$nav.name}</a>
	                        {/foreach}
	                    </span>
					</div>
					<div class="main">
						<div class="case">
                            <div class="case-list slides">
                                <div class="case-hd">
                                    <a class="next" href="javascript:void(null)"></a>
                                    <a class="prev" href="javascript:void(null)"></a>
                                </div>
                                <div class="case-bd">
                                    <ul class="case-last">
                                        {foreach item=image from=$article.images}
                                            <li><img src="{$image.image}"></li>
                                        {/foreach}
                                    </ul>
                                </div>
                            </div>
                            <h2 class="pro-title">{$article.title}</h2>
                            <div class="pro-detail">
                            	<span class="detail">产品详情</span>
                                <article>
                                    {$article.content|unescape:"html"}
                                </article>
                            </div>
                        </div>
                        <ul class="near-page">
                            <li><a href="{$article.prev.link}">上一篇：{$article.prev.title}</a></li>
                            <li><a href="{$article.next.link}">下一篇：{$article.next.title}</a></li>
                        	<a href="javascript:window.history.back()" class="return">返回<img src="{$site_url}images/icon-03.png"></a>
                        </ul>
					</div>
				</div>
			</div>
		</div>
		{include file='./_footer.html'}
	</div>
</body>
</html>