<header>    
     <div class="header">
        <a href="#" class="menuico" id="quickbar-showcats"><img src="{$site_url}images/icon6.png" /></a>
        <a href="" class="logo"><img src="{$logo}"></a>
        <div class="search"> 
            <div class="searcha">
              <input type="submit" class="search1" value="">
            </div>
            <form class="searchb" action="{$search_action}" method="GET" name="fm">
              <input type="text" name="s" class="txt1" placeholder="请输入搜索关键字">
              <input type="submit" class="search1" value="">
            </form>
        </div> 
     </div>
     </div>
     <div id="banner1" class="swiper-container">
        <div class="swiper-wrapper">
            {foreach item=innerbanner from=$global.innerbanner}
              <div class="swiper-slide"><a href="{$innerbanner.link}"><img src="{$innerbanner.image}" class="swiper-no-swiping"></a></div>
            {/foreach}
        </div>
        <div class="pagination"></div>
      </div>
</header>
