#in_text .ch,#in_image .ch{ background:url(../images/h2_bg.png) bottom center no-repeat; background-size:45%; padding-bottom:4%; font-size:24px; color:#343333; max-width:50%; margin:auto; text-align:center;overflow:hidden;text-overflow: ellipsis;white-space: nowrap}
@media screen and (min-width: 320px) and (max-width: 480px){
#in_text .ch,#in_image .ch{ background-size:67%; padding-bottom:3%; font-size:18px;}
}



@media screen and (min-width: 320px) and (max-width: 480px){

}





#in_page{}
#in_page h2{ text-align:center}
#in_page .ch{ display:inline-block; font-size:24px; color:#fdb825; max-width:30%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap}
#in_page .en{ display:inline-block; font-size:24px; color:#000; max-width:50%; margin-left:1%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap}
#in_page .text{ color:#343434; font-size:14px; line-height:28px; height:140px; overflow:hidden; margin:3% 0;}
#in_page .about_img{ border:1px solid #f0f0f0;border-radius:3px; max-height:300px; overflow:hidden}
#in_page .about_img img{ width:100%}
@media screen and (min-width: 320px) and (max-width: 480px){
#in_page .ch{font-size:18px; }
#in_page .en{font-size:18px; max-width:60%;}
#in_page .text{line-height:24px; height:120px;margin:2% 0;}
}


#in_text{ background:#f4f4f4; padding:6% 0;margin-top:8%}
#in_text ul{ margin-top:5%} 
#in_text ul li{ width:49%;float:left; margin-right: 2%}
#in_text ul li:last-child{ margin-right:0px;}
.news_img{}
.news_img img{ width:100%}
#in_text ul li .inner{ padding:4% 2% 2% 2%}
#in_text .text{ font-size:14px; color:#131313; line-height:20px; height:40px; overflow:hidden; margin:1% 0}
#in_text .time{ background:url(../images/time_ico.png) left no-repeat; padding-left:9%; font-size:12px; color:#848484}

@media screen and (min-width: 320px) and (max-width: 480px){
#in_text .text{ font-size:12px; color:#646464; line-height:18px; height:36px; }
}





#in_image{margin-top:9%; margin-bottom:9% }
#in_image ul{ margin-top:4%}
#in_image ul li{width:48%; margin:0 1%; float:left; }
#in_image ul li img{ margin-bottom:4%;width:100%}
#in_image .text{text-align:center;overflow: hidden;text-overflow: ellipsis;white-space: nowrap}
@media screen and (min-width: 320px) and (max-width: 480px){

}




















