<div class="footer">
    <div class="container">
        <div class="foot-lt">
            <ul class="link">
                <li>友情链接 : </li>
                {foreach item=link from=$global.links}
                <li><a href="{$link.link}">{$link.title}</a><i>|</i></li>
                {/foreach}
            </ul>
            <div class="copy">{$footprint}</div>
        </div>
        <div class="footLogo rt">
            <dl>
                <dd>
                    <p>{$global.footImg.title}</p>
                    <img class="rt" src="{$site_url}images/icon1.png" alt="">
                </dd>
                <dt><img src="{$global.footImg.image}" alt=""></dt>
            </dl>
        </div>
    </div>
</div>
{$footscript}

