<div id="footer">
       <div class="f_top">
          <p>友情链接：
          	{foreach item=flink from=$global.links}
	          <a href="{$flink.link}">{$flink.title}</a>
	        {/foreach}
          </p>
       </div>
       <div class="f_mild">
       	   <div class="mildn">
           <div class="fnav">
                <ul>            	
                	{foreach item=fnav from=$navs}
		            <li><a href="{$fnav.link}">{$fnav.name}</a>
		            	{if $fnav.childmenu}
		               <ul class="erji2">
		               	 {foreach item=fnav_list from=$fnav.childmenu}
		                 <li><a href="{$fnav_list.link}">{$fnav_list.name}</a></li> 
		                 {/foreach}
		               </ul>
		               {/if}
		            </li>
                    {if $fnav@index+1 eq 5}{break}{/if}
		            {/foreach}		           
		        </ul> 
           </div>
           <div class="f_right">
               <p class="weixin">微信公众号</p>
               <div class="w_bot">
                    <div class="sao">
                         <img src="{$site_url}images/index_03.jpg">
                         <p class="jiav">扫一扫</br>关注我们</p>
                    </div>
                    <div class="erweima"><img src="{$global.erweima.image}"></div>
               </div>
           </div>
          </div>
       </div>
       <div class="f_bot">
            <div class="bottom">
            	<div class="bq"><p>{$footprint}</p></div>               
            </div>
       </div>
   </div>
{$footscript}