		<div class="top">
			<div class="head c">	
				<div class="wx fl"><a class="erweima"><i><img src="{$global.erweima.image}"></i></a></div>
				<div class="wb fl"><iframe src="http://widget.weibo.com/relationship/followbutton.php?uid={$global.wb}&btn=red&style=1&language=zh_cn" width="67" height="24" frameborder="0" scrolling="no" marginheight="0"></iframe></div>
				<div class="mail fr">{$global.mail}</div>
				<div class="tel fr">{$global.tel}</div>
			</div>
		</div>
		<div class="heading">
			<div class="header c">
				<div class="logo"><a href="{$site_url}"><i><img src="{$logo}"></i></a></div>
				<div class="nav">
					<ul class="one">
						
						{foreach item=nav from=$navs}
						    <li class="{if $nav.current}cu{/if}" style="width:{100/($navs|count)}%">
								<a href="{$nav.link}">{$nav.name}</a>
								{if $nav.childmenu}
								<ul class="two">
									{foreach item=subnav from=$nav.childmenu}
									<li><a href="{$subnav.link}">{$subnav.name}</a></li>
									{/foreach}
								</ul>
								{/if}
							</li>
						{/foreach}
					</ul>
				</div>
			</div>
		</div>