<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript">
    // 跳转手机页面
    {if $site_another_url}
    if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
        location.href = '{$site_another_url}';
    } 
	{/if}
    </script>

<meta http-equiv="x-ua-compatible" content="ie=7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />
<script src="{$site_url}js/MSClass.js" type="text/javascript"></script>
<script type="text/javascript" src="{$site_url}js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="http://common.mn.sina.com.cn/public/resource/lib/jquery.jcarousellite.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.kinMaxShow-1.0.min.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
<style>
.tx1 {
	behavior: url(pie.htc);
}
</style>
<title>{$title}</title>
{$headscript}
</head>
<body>

     {include file='./_header.html'}
 
 <div id="container" class="wrapper clearfix">
<div id="banner">
<div id="kinMaxShow" style="display:none;"> {foreach name=slidepics item=slidepic from=$index.slidepics}
      <div> <a href="{$slidepic.link}" target="_blank"><img src="{$slidepic.image}" alt="{$slidepic.title}"  /></a></div>
      {/foreach} </div>
      </div>
      
      
      
<div class="con_top">
<div id="about" class="clearfix">
<div class="about_ico"><img src="{$index.colbg1.image}" width="100" height="100" /></div>
<div class="inner">
<div class="about_img"><img src="{$index.about_us.image}" ></div>
<div class="about_text"><a href="{$index.about_us.link}"><b>{$index.about_us.name}</b><br />{$index.about_us.en_name}<br />
<img src="{$site_url}images/ico2.png" width="71" height="14" /></a></div>
</div>
</div>

<div id="news" class="clearfix">
<div class="news_title"><img src="{$index.news.image}" width="100" height="100" /><div style="text-align:center; width:100px">{$index.news.name}</div></div>
<div class="news_inner">
<h2><a href="{$index.news.data[0].link}">{$index.news.data[0].title}</a></h2>
<div class="des">{$index.news.data[0].description}</div>
<div class="mo"><a href="{$index.news.link}"><img src="{$site_url}images/ico2.png" width="71" height="14" /></a></div>
</div>
</div>
</div>


<div class="c"></div>

<div id="pro" class="clearfix">
<div class="pro_l">
<div class="title clearfix">
<div class="title_ico"><img src="{$index.pro.image}" width="100" height="100" /></div>
<div class="title_text"><a href="{$index.pro.link}"><b>{$index.pro.name}</b><br />{$index.pro.en_name}<br />
<img src="{$site_url}images/ico5.png" width="71" height="15" /></a></div>
</div>
<div class="contact">
咨询热线：<br />
{$contact.telephone} 
</div>
</div>

<div class="pro_r">


<div id="prizes" style="width:720px; overflow:hidden">
 <div class="photos">                        
    <div class="photos-content {if $index.pro.data|count>4} enable{/if}" >
        <ul>           
 {foreach name=pro item=pro from=$index.pro.data}
 
 <li>
 <a href="{$pro.link}">
<div class="pro_bk">
<div class="pro_img"><img src="{$pro.image}"  /></div>
</div>

<div class="pro_bk">
<div class="pro_text">
<div class="inner">
<i class="top-cur" ></i>
<p class="tit">{$pro.title}</p>
<i class="bottom-cur" ></i>
</div>
</div>
</div>
</a>
</li>

 {if $pro@index+1 == 11}{break}{/if}
{/foreach}
                                              </ul>
                              
                                        </div>                
                                    </div>
                                </div>




</div>
</div>
</div>
 
 
 
{include file="./_footer.html"}

</body>
</html>
