<ul class="nnav">
    {foreach item=nnav from=$pagenavs}
    <li class="menu_head">
      {if $nnav.childmenu}
      <dl class="icon"><span class="icon1">-</span><span class="icon2">+</span></dl>
      {/if}
      <a href="{$nnav.link}" class="ce">{$nnav.name}</a>
      {if $nnav.childmenu}
        <ul class="menu_body">
          {foreach item=navlist from=$nnav.childmenu}
          <li><a href="{$navlist.link}" class="er">{$navlist.name}</a></li>
          {/foreach}
        </ul>
      {/if}
    </li>
    {/foreach}
</ul>