<div class="header">
    <div class="logo"><a href="{$site_url}"><img src="{$logo}" alt=""></a></div>
    <div class="menu rt" id="quickbar-showcats"><i class="iconfont">&#xe603;</i></div>
</div>
<div class="index_ban">
    <!--<div class="swiper-container  detBan">-->
        <!--<ul class="swiper-wrapper ">-->
            
            
            
        <!--</ul>-->
        <!--<div class="swiper-pagination"></div>-->
    <!--</div>-->
    <div class="swiper-slide"><a href="{$global.detBan.link}" target="_blank"><img src="{$global.detBan.image}" ></a></div>
    <div class="bg1"><img src="{$site_url}images/bg2_02.png" alt=""></div>
</div>