<div class="header">
	<div class="public head">
		<div class="logo fl">
			<a href="{$site_url}"><img src="{$logo}"/></a>
		</div>
		<div class="navbar fl">
			<ul id="nav">
				<li class="mainlevel" style="width:{100/(($navs|count)+1)}%"><a href="{$site_url}"><img class="none" src="{$site_url}images/left_white.png"/>首页<img class="none" src="{$site_url}images/right_white.png"/></a></li> 
                
                {foreach name=navs item=nav from=$navs}             
				<li class="{if $nav.current} current{/if} mainlevel" style="width:{100/(($navs|count)+1)}%"><a href="{$nav.link}"><img class="none" src="{$site_url}images/left_white.png"/>{$nav.name}<img class="none" src="{$site_url}images/right_white.png"/></a>
                {if $nav.childmenu}
                    <ul>
                    {foreach key=key item=nav_list from=$nav.childmenu}
                        <li><a href="{$nav_list.link}">{$nav_list.name}</a></li>
                    {/foreach}
                    </ul>
                {/if}
            	</li>                   				
                {/foreach}
	        </ul>
		</div>
	</div>
</div>
<div class="banner">
    <div id="slideBox" class="slideBox" >
        <div class="hd">
            <ul><li></li><li></li><li></li></ul>
        </div>
        <div class="bd">
            <ul>
            {foreach name=slidepics item=slidepic from=$global.slidepics}
                <li><a href="{$slidepic.link}" target="_blank"><img src="{$slidepic.image}" alt="{$slidepic.title}"/></a></li>
            {if $slidepic@index+1 eq $slidepic|count-1}{break}{/if}
            {/foreach}
            </ul>
        </div>
    </div>
</div>