<!DOCTYPE html>
<html manifest="huancun.manifest">
<head>
<!-- 实时预览调试代码，模板开发完成后删除 -->
    
    <!-- 调试代码 End -->
    <script type="text/javascript">
    // 跳转PC页面
    {if $site_another_url}
      if (!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
        location.href = '{$site_another_url}';
      }
    {/if}
    </script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta content="telephone=no, email=no" name="format-detection">
<!-- 启用360浏览器的极速模式(webkit) -->
<meta name="renderer" content="webkit">
<!-- 避免IE使用兼容模式 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
<meta name="HandheldFriendly" content="true">
<!-- 微软的老式浏览器 -->
<meta name="MobileOptimized" content="320">
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="portrait">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="portrait">
<title>{$title}</title>
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<link rel="stylesheet" href="{$site_url}css/public.css" /> 
<link rel="stylesheet" href="{$site_url}css/swiper-3.3.1.min.css" />
<script type="text/javascript" src="{$site_url}js/jquery.min.js"></script>
<script type="text/javascript" src="{$site_url}js/swiper-3.3.1.jquery.min.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
<script type="text/javascript">
	window.addEventListener('load', function(){
   setTimeout(function(){ window.scrollTo(0, 1);}, 100);
});//safari浏览器可以通过此代码来隐藏地址栏
</script>
{$headscript}
</head>
<body>
    <!-- 主体内容 -->
    <div class="index-wrap">
      <div class="htop pr">
        <header class="head pa">
            <div class="logo"><div class="logoimg dtc tc vm"><img src="{$logo}"></div></div>
            <i class="iconfont pa home"><span>&#xe603;</span></i>
        </header>
        <!-- banner -->
         <div class="banner"> 
            <div class="swiper-container swiper-banner">
                <ul class="swiper-wrapper banner-img">
                    {foreach item=slidepic from=$global.slidepics}
                        <li class="swiper-slide"><a class="pic" href="{$slidepic.link}"><img src="{$slidepic.image}"/></a></li>
                    {/foreach}
                </ul>
                <!-- Add Pagination -->
                <div class="swiper-dote"><ul></ul></div>
            </div>
         </div>
         <!-- 头部导航 -->
         <nav class="menulist">
              <div class="swiper-nav swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><a href="{$site_url}">网站首页</a></div>
                  {foreach item=nav from=$navs}
                   <div class="swiper-slide"><a href="{$nav.link}">{$nav.name}</a></div>
                  {/foreach}
                </div>
              </div>
         </nav>
      </div>
      <!-- 内容 -->
      <section class="index"> 
        {foreach item=mIndexCat from=$mIndexCats}
          {if $mIndexCat.type eq 3}
            {if $mIndexCat.showtype eq 1}
         <div class="probox">
             <div class="title tc">{$mIndexCat.name}</div>
             <div class="prolist">
                <ul>
                    {foreach item=pro from=$mIndexCat.data}
                    <li><a href="{$pro.link}">
                        <div class="pro_l fl"><div class="pimg dtc tc vm"><img src="{$pro.image}"></div></div>
                        <dl>
                            <dd>{$pro.title}</dd>
                            <dt>{$pro.description}</dt>
                            <span class="more">+</span>
                        </dl>
                    </a></li>
                    {if $pro@index+1 == 3}{break}{/if}
                    {/foreach}
                </ul>
             </div>
         </div>
          {/if}
        {elseif $mIndexCat.type eq 4}
         {if $mIndexCat.showtype eq 1}
         <div class="aboutbox pr">
             <div class="ab_bg dtc tc vm pa"><img src="{$global.about_bg.image}"></div>
             <div class="about"><a href="{$mIndexCat.link}">
                  <div class="about_l fl"><div class="ab_img dtc tc vm"><img src="{$mIndexCat.image}"></div></div>
                  <div class="about_r fr">
                       <p>{$mIndexCat.name}</p>
                       <div class="about_text">{$mIndexCat.description}</div>
                       <span class="more">+</span>
                  </div>
             </a></div>
         </div>
         {/if}
        {elseif $mIndexCat.type eq 1}
         {if $mIndexCat.showtype eq 1}
         <div class="newbox conbox">
             <div class="title"><a href="{$mIndexCat.link}"><span>+</span></a>{$mIndexCat.name}&nbsp;{$mIndexCat.en_name}</div>
             <ul class="newlist">
                {foreach item=new from=$mIndexCat.data}
                 <li><a href="{$new.link}">
                    <div class="newtop">
                         <div class="transition time fl"><span>{$new.pubtimestamp|date_format:"%d"}</span>{$new.pubtimestamp|date_format:"%y-%m"}</div>
                         <div class="newimg fr"><div class="nimg dtc tc vm"><img src="{$new.image}"></div></div>
                    </div>
                    <dl>
                        <dd>{$new.title}</dd>
                        <dt>{$new.description}</dt>
                    </dl>
                 </a></li>
                 {if $new@index+1 == 3}{break}{/if}
                {/foreach}
             </ul>
         </div>
         {/if}
        {elseif $mIndexCat.type eq 2}
         {if $mIndexCat.showtype eq 1}
         <div class="casebox conbox">
             <div class="title"><a href="{$mIndexCat.link}"><span>+</span></a>{$mIndexCat.name}&nbsp;{$mIndexCat.en_name}</div>
             <ul class="caselist">
                 {foreach item=pro from=$mIndexCat.data}
                 <li><a href="{$pro.link}"><div class="cimg dtc tc vm"><img src="{$pro.image}"></div></a></li>
                 {if $pro@index+1 == 4}{break}{/if}
                 {/foreach}
             </ul>
         </div>
         {/if}
        {/if} 
        {/foreach}
      </section>
      <footer class="foot"><span class="back-top"></span>
        {$footprint}
      </footer>
      {$footscript}
    </div>
</body>
</html>
