<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <script type="text/javascript">
        // 识别为手机客户端，自动跳转手机页面
        {if $site_another_url}
        if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
            location.href = '{$site_another_url}';
        }
        {/if}
    </script>
    <meta name="keywords" content="{$keywords}" />
    <meta name="description" content="{$description}" />
    <link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
    <title>{$title}</title>

    <link rel="stylesheet" href="{$site_url}css/style.css">
    <script src="{$site_url}js/jquery-1.9.1.min.js"></script>
    <script src="{$site_url}js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="{$site_url}js/xb_scroll.js"></script>
    <script src="{$site_url}js/index.js"></script>
</head>

<body>
{include file="./_header.html"}
<div class="main container det-main">
    <div class="det-lt">
        {include file="./_pagenavs.html"}
    </div>
    <div class="det-rt">
        <div class="pos">
            <span class="list_name">{$article.category.name}</span>
            <ul class="posnavs rt">
                <li><a href="{$site_url}">首页 :</a></li>
                {foreach item=nav from=$posnavs}
                <li class=""><a href="{$nav.link}">{$nav.name}</a><i> - </i></li>
                {/foreach}
            </ul>
        </div>
        <div class="det-cont">
            <div class="product">
                <div class="game163">
                    <div class="pro-title">{$article.title}</div>
                    <ul class="bigImg bd">
                        {foreach item=product from=$article.images}
                            <li>
                                <img src="{$product.image}" />
                            </li>
                        {/foreach}
                    </ul>

                    <div class="smallScroll">
                        <a class="sPrev pro-btn" href="javascript:void(0)"><img src="{$site_url}images/prev.png" alt=""></a>
                        <div class="smallImg">
                            <ul>
                                {foreach item=product from=$article.images}
                                <li>
                                    <a href="javascript:"><img src="{$product.image}" /></a>
                                </li>
                                {/foreach}
                            </ul>
                        </div>
                        <a class="sNext pro-btn" href="javascript:void(0)"><img src="{$site_url}images/next.png" alt=""></a>
                    </div>
                </div>
                <!--<div class="game163">-->
                    <!--<ul class="bigImg">-->
                        <!--<li><img src="images/index_12.png" /></li>-->
                        <!--<li><img src="images/index_14.png" /></li>-->
                        <!--<li><img src="images/index_16.png" /></li>-->
                        <!--<li><img src="images/index_18.png" /></li>-->
                        <!--<li><img src="images/index_20.png" /></li>-->
                        <!--<li><img src="images/index_27.png" /></li>-->
                        <!--<li><img src="images/index_28.png" /></li>-->
                        <!--<li><img src="images/index_29.png" /></li>-->
                        <!--<li><img src="images/index_30.png" /></li>-->
                        <!--<li><img src="images/index_31.png" /></li>-->
                        <!--<li><img src="images/index_37.png" /></li>-->
                        <!--<li><img src="images/index_38.png" /></li>-->
                    <!--</ul>-->

                    <!--<div class="smallScroll">-->
                        <!--<a class="sPrev pro-btn" href="javascript:void(0)"><img src="images/prev.png" alt=""></a>-->
                        <!--<div class="smallImg">-->
                            <!--<ul>-->
                                <!--<li><img src="images/index_12.png" /></li>-->
                                <!--<li><img src="images/index_14.png" /></li>-->
                                <!--<li><img src="images/index_16.png" /></li>-->
                                <!--<li><img src="images/index_18.png" /></li>-->
                                <!--<li><img src="images/index_20.png" /></li>-->
                                <!--<li><img src="images/index_27.png" /></li>-->
                                <!--<li><img src="images/index_28.png" /></li>-->
                                <!--<li><img src="images/index_29.png" /></li>-->
                                <!--<li><img src="images/index_30.png" /></li>-->
                                <!--<li><img src="images/index_31.png" /></li>-->
                                <!--<li><img src="images/index_37.png" /></li>-->
                                <!--<li><img src="images/index_38.png" /></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                        <!--<a class="sNext pro-btn" href="javascript:void(0)"><img src="images/next.png" alt=""></a>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="content-txt">
                    <span class="pro-txt">作品简介</span>
                    <div class="panel1" id="demo">
                        <div class="_panel-box" >
                           <div class="pro-des">
                               {$article.content|unescape:"html"}
                           </div>

                        </div>
                    </div>
                </div>
            </div>
            <ul class="page-ul pro-ul">
                <li><a href="{$article.prev.link}">上一篇 : <span>{$article.prev.title}</span></a></li>
                <li><a href="{$article.next.link}">下一篇 : <span>{$article.next.title}</span></a></li>
            </ul>
        </div>
    </div>
</div>

{include file="./_footer.html"}
</body>
</html>

