<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <!-- µ÷ÊÔ´úÂë End -->
    <script type="text/javascript">
    // Ìø×ªÊÖ»úÒ³Ãæ
    {if $site_another_url}
      if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
        location.href = '{$site_another_url}';
      }

    {/if}
    </script>
<meta http-equiv="x-ua-compatible" content="ie=8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />


<title>{$title}</title>
{$headscript}
</head>

<body>
	{include file="./_header.html"} 
	<div class="abobg">
		<div class="abo">
			<div class="abol">
				<div class="title-more">
					<div class="title">
						<h1>{$index.page.name}</h1>
						<h2>{$index.page.en_name}</h2>
					</div>
					<a href="{$index.page.link}" class="more">MORE+</a>
				</div>
				<div class="aboimg"><a href="{$index.page.link}"><img src="{$index.page.image}"></a></div>
			</div>
			<div class="abor">
				<div class="aboedit">
					{$index.page.description}
		      	</div>
			</div>
		</div>
	</div>

	<div class="prod">
		<div class="probg"><img src="{$site_url}images/boult_03.png"></div>
		<div class="title-more">
			<div class="title">
				<h1>{$index.pro.name}</h1>
				<h2>{$index.pro.en_name}</h2>
			</div>
			<a href="{$index.pro.link}" class="more">MORE+</a>
		</div>
		<div class="slideGroup">
		    <div class="parHd">
		        <ul>
		        {foreach item=article from=$index.pro.childmenu}
					<li>{$article.name}</li>
					{if $article@index+1 eq 3}{break}{/if}
				{/foreach}
		        </ul>
		    </div>
	    	<div class="parBd">
	    	{foreach item=article from=$index.pro.childmenu}
	            <div class="slideBox">

	                <div class="ulWrap">
	                {$pronum=($article.data|count)/2}
					{$num=0}
					{for $item=1 to $pronum}
		                <ul>
		                {foreach item=list from=$article.data}
		                    <li>
		                        <a href="{$article.data[$num].link}" id="tip">
		                        	<img src="{$article.data[$num].image}">
		                        	<p>{$article.data[$num].title}</p>
		                        	<div class="hover"><img src="{$site_url}images/icon_03.png"><em></em></div>
	                        	</a>
		                    </li>
		                {$num=$num+1}
		               	{if $num%2==0}{break}{/if}
		               	{/foreach}
		                </ul>
		            {/for}
	                </div>

	                <div class="hd">
				       	<a class="sPrev" href="javascript:void(0)"></a>
				        <a class="sNext" href="javascript:void(0)"></a>		       
				    </div>
	        	</div><!-- slideBox End -->  
	        	{if $article@index+1 eq 3}{break}{/if}
	        {/foreach}
		    </div><!-- parBd End -->
		</div>
	</div>

	<div class="newsbg">
		<div class="indexnews">
			<div class="newsl">
				<div class="title-more">
					<div class="title">
						<h1>{$index.imagetext.name}</h1>
						<h2>{$index.imagetext.en_name}</h2>
					</div>
					<a href="{$index.imagetext.link}" class="more">MORE+</a>
				</div>
				<div class="news-list">
					<ul>
						<!-- <li>
							<div class="listl"><img src="{$index.imagetext.image}"></div>
							<div class="listr">
								<span>{$index.imagetext.data[0].pubtimestamp|date_format:'%Y-%m-%d'}</span>
								<h3><a href="{$index.imagetext.data[0].link}">{$index.imagetext.data[0].title}</a></h3>
								<p>
									{$index.imagetext.data[0].description}      
								</p>
							</div>
						</li> -->
						{foreach item=article from=$index.imagetext.data}
							{if $article@index lt 1}
							<li>
								<div class="listl"><img src="{$article.image}"></div>
								<div class="listr">
									<span>{$article.pubtimestamp|date_format:'%Y-%m-%d'}</span>
									<h3><a href="{$article.link}">{$article.title}</a></h3>
									<p>
										{$article.description}      
									</p>
								</div>
							</li>
							{/if}
							{if $article@index eq 1}{break}{/if}
						{/foreach}
					</ul>
				</div>
			</div>
			<div class="newsr">
				<div class="news-list">
					<ul>
						{foreach item=article from=$index.imagetext.data}
							{if $article@index gte 1}
							<li>
								<div class="listl"><img src="{$article.image}"></div>
								<div class="listr">
									<span>{$article.pubtimestamp|date_format:'%Y-%m-%d'}</span>
									<h3><a href="{$article.link}">{$article.title}</a></h3>
									<p>
										{$article.description}      
									</p>
								</div>
							</li>
							{/if}
							{if $article@index eq 2}{break}{/if}
						{/foreach}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="case">
		<div class="probg"><img src="{$site_url}images/boult_03.png"></div>
		<ul>		
			<li>
				<div class="title">
					<h1>{$index.case.name}</h1>
					<h2>{$index.case.en_name}</h2>
				</div>
			</li>
			{foreach item=article from=$index.case.data}
				<li>
					<a href="{$article.link}">
						<img src="{$article.image}">
						<p>{$article.title}</p>
						<div class="hover"><img src="{$site_url}images/icon_03.png"><em></em></div>
					</a>
				</li>
				{if $article@index+1 == 6}{break}{/if}
			{/foreach}
			<a href="{$index.case.link}" class="more">MORE+</a>
		</ul>
	</div>
	<div class="linkbg">
		<div class="link">
			<span>友情链接LINK</span>
			{foreach key=key item=link from=$global.link}
				<a href="{$link.link}" target="_blank">{$link.title}</a>
			{/foreach}	
		</div>
	</div>
	{include file="./_footer.html"} 
	
<script type="text/javascript" src="{$site_url}js/jquery-1.9.1.min.js" ></script>
<script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>		

</body>
</html>