{if $pagenavs}
<div class="inner_nav clearfix">
	<ul class="yiul" id="yiul">
		<div class="public2">
		{foreach name=pagenavs item=nav from=$pagenavs}
		<li class="yili"><a href="{$nav.link}" class="a">{$nav.name}</a>
			{if $nav.childmenu}
			<ul class="erul">
				<span class="line1"></span>
				<span class="line2"></span>
				<div class="public2">
				{foreach item=nav_list from=$nav.childmenu}
				<li><a href="{$nav_list.link}" class="era">{$nav_list.name}</a>
					{if $nav_list.childmenu}
					<ul>
						<span class="line2"></span>
						<div class="public2">
						{foreach item=nav1_list from=$nav_list.childmenu}
						<li><a href="{$nav1_list.link}">{$nav1_list.name}</a></li>
						{/foreach}
						</div>
					</ul>
					{/if}
				</li>
				{/foreach}
				</div>
			</ul>
			{/if}
		</li>
		{/foreach}
		</div>
	</ul>
</div>
{else}
<div class="inner_nav clearfix">
	<ul class="yiul" id="yiul">
		<div class="public2">
		{foreach name=pagenavs item=nav from=$_pagenavs_sub3.pagenavs.childmenu}
		<li class="yili"><a href="{$nav.link}" class="a">{$nav.name}</a>
			{if $nav.childmenu}
			<ul class="erul">
				<span class="line1"></span>
				<span class="line2"></span>
				{foreach item=nav_list from=$nav.childmenu}
				<li><a href="{$nav_list.link}" class="era">{$nav_list.name}</a>
					{if $nav_list.childmenu}
					<ul>
						<span class="line2"></span>
						{foreach item=nav1_list from=$nav_list.childmenu}
						<li><a href="{$nav1_list.link}">{$nav1_list.name}</a></li>
						{/foreach}
					</ul>
					{/if}
				</li>
				{/foreach}
			</ul>
			{/if}
		</li>
		{/foreach}
		</div>
	</ul>
</div>
{/if}