<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript">
    // Ìø×ªÊÖ»úÒ³Ãæ
    {if $site_another_url}
        if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
            location.href = '{$site_another_url}';
        }
    {/if}
    </script>

<!--  -->
<meta name="keywords" content="{$keywords}"/>
<meta name="description" content="{$description}"/>
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="zh-CN">

<link rel="stylesheet" type="text/css" href="{$site_url}css/style.css"/>
<link rel="stylesheet" type="text/css" href="{$site_url}css/jquery.mCustomScrollbar.css"/>
<script type="text/javascript" src="{$site_url}js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
<script type="text/javascript" src="{$site_url}js/index.js"></script>
<script type="text/javascript" src="{$site_url}js/html5.js"></script>
<title>{$title}</title>
</head>
<body>
	<div id="wrapper">
        {include file='./_header.html'}
        <div class="inside">
            <div class="bigimg"><i><img src="{$global.imgnews.image}"></i></div>
            <div class="center">
                <div class="main-hd">
                    {include file='./_topnav.html'}
                    <div class="name">
                        <h2>{$list.en_name}</h2>
                        <h3>{$list.name}</h3>
                    </div>
                </div>
                <div class="middle little">
                    <div class="main">
                        <ul class="news">
                            {foreach item=new from=$list.data}
                                <li><a href="{$new.link}">
                                    <div class="time">
                                        <span><time datetime="{$new.pubtimestamp|date_format:'%Y/%m/%d'}">{$new.pubtimestamp|date_format:'%Y/%m'}</time></span>
                                        <b><time>{$new.pubtimestamp|date_format:'%d'}</time></b>
                                    </div>
                                    <div class="news-text">
                                        <h3>{$new.title}</h3>
                                        <p>{$new.description}</p>
                                        <em></em>
                                    </div>
                                </a></li>
                            {/foreach}
                        </ul>
                    </div>
                </div>
                <ul class="around">
                    <li class="aroundleft"><a href="{$page_links.prev_link}"></a></li>
                    <li class="aroundright"><a href="{$page_links.next_link}"></a></li>
                </ul>
            </div>
        </div>
        {include file='./_footer.html'}
    </div>
</body>
</html>