<!DOCTYPE html>
<html>
	<head>
		<!-- 实时预览调试代码，模板开发完成后删除 -->
		
		<!-- 调试代码 End -->
		<script type="text/javascript">
		// 跳转PC页面
		{if $site_another_url}
			if (!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
				location.href = '{$site_another_url}';
			}
		{/if}
		</script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />        
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta content="telephone=no, email=no" name="format-detection">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="HandheldFriendly" content="true">
<meta name="MobileOptimized" content="320">
<meta name="screen-orientation" content="portrait">
<meta name="x5-orientation" content="portrait">
<title>{$title}</title>

<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<link rel="stylesheet" href="{$site_url}css/reset.css" /> 

<link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />
<link href="{$site_url}css/iconfont.css" rel="stylesheet" type="text/css" />
<link href="{$site_url}css/swipe.css" rel="stylesheet" type="text/css" />
<script src="{$site_url}js/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.min.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
<script type="text/javascript" src="{$site_url}js/share.js"></script>
<script src="{$site_url}js/idangerous.swiper-2.0.min.js"></script>
<script src="{$site_url}js/idangerous.swiper.3dflow-2.0.js"></script>
<script src="{$site_url}js/simple-app.js"></script>

<script type="text/javascript">
	window.addEventListener('load', function(){
   setTimeout(function(){ window.scrollTo(0, 1); }, 100);
});//safari浏览器可以通过此代码来隐藏地址栏
</script>
{$headscript}
</head>
<body>

  <div class="wrap page-active">
    <div class="index-wrap">
      <header>
        <img src="{$logo}" class="logo">
        <div id="quickbar"><a href="#" id="quickbar-navs-btn"><i class="icon iconfont slide-nav fix_icon">&#xe603;</i></a></div>
      </header>
      <div class="banner">
        <div id="slideBox" class="slideBox">
          <div class="hd">
           <ul style=""></ul>
          </div>
          <div class="bd">
              <ul>
                {foreach name=slidepics item=slidepic from=$global.slidepics}
                <li>
                  <a class="pic" href="{$slidepic.link}">
                    <img src="{$slidepic.image}">
                  </a>
                </li>
                {/foreach}
              </ul>
          </div>
        </div>
      </div>
      <div class="menulist">
        <div class="navlist">
          <div class="swiper-nav swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><span><a href="{$site_url}"><div class="text">网站首页</div></a></span></div>
              {foreach item=nav from=$navs}
              <div class="swiper-slide"><span><a href="{$nav.link}"><div class="text">{$nav.name}</div></a></span></div>                          
              {/foreach}  
            </div>
          </div>
        </div>
      </div>
      {foreach item=mIndexCat from=$mIndexCats}
      {if $mIndexCat.type eq 2}
        {if $mIndexCat.showtype eq 1}
        <div class="prodbg">
          <div class="prod">
            <div class="titles"><span id="prodtitle">{$mIndexCat.name}</span><em></em><a href="{$mIndexCat.link}" class="more">MORE+</a></div>
            <ul>
              {foreach item=article from=$mIndexCat.data}
              <li>
                <a href="{$article.link}" class="border">
                  <div class="proimg"><img src="{$article.image}"></div>
                  <p>{$article.title}</p>
                  <a href="{$article.link}" class="look">查看更多</a>
                </a>
              </li>
              {if $article@index+1 == 4}{break}{/if}
              {/foreach}
            </ul>
          </div>
        </div>
        {/if}  

      {elseif $mIndexCat.type eq 4}      
        <div class="aboutbg">
          <div class="about">
            <div class="abotitle"><span id="abotitle">{$mIndexCat.name}</span><em></em><a href="{$mIndexCat.link}" class="more">MORE+</a></div>
            {if $mIndexCat.showtype eq 1}
            <div class="aboedit">
              {$mIndexCat.description|unescape:"html"}
            </div>
            {/if}  
            <div class="aboimg"><a href="{$mIndexCat.link}"><img src="{$mIndexCat.image}"></a></div>
          </div>
        </div>      
   
      {elseif $mIndexCat.type eq 3}
        {if $mIndexCat.showtype eq 1}
        <div class="indexnews">
          <div class="titles"><span id="newstitle">{$mIndexCat.name}</span><em></em><a href="{$mIndexCat.link}" class="more">MORE+</a></div>
          <ul class="newslist">
            {foreach item=article from=$mIndexCat.data}
            <li>
              <a href="{$article.link}">
                <img src="{$article.image}">
                <div class="news-r">
                  <h5>{$article.title}</h5>
                  <span>日期：{$article.pubdate}</span>
                  <p>{$article.description}</p>
                </div>
              </a>
            </li>
            {if $article@index+1 == 3}{break}{/if}
            {/foreach}      
          </ul>
        </div>
        {/if} 
      {/if}
      {/foreach}
    <footer class="foot"><div class="back-top"><a href="#">TOP</a></div>{$footprint}</footer>  
    {$footscript}
    </div>
  </div>

	

</body>
</html>
