/*重置*/
@charset "utf-8";
*{ margin:0px; padding:0px;}
a{ color: #333333; text-decoration:none}
/*a:hover{color:#0161c4;}*/
table{border-collapse:collapse; border-spacing:0px;}
body{word-wrap:break-word;color: #555555;font: 12px/24px "微软雅黑","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";}
ul,dl,li,i{list-style:none;}
h1,h2,h3,h4,h5{font-size:12px;font-weight:normal;}
i,em{font-style:normal;font-weight:normal;list-style:none;}
img{border: none;}
.boxshow{box-shadow: 0px 5px 13px 0px #838383;-webkit-box-shadow: 0px 5px 13px 0px #838383;-moz-box-shadow: 0px 5px 13px 0px #838383;-ms-box-shadow: 0px 5px 13px 0px #838383;-o-box-shadow: 0px 5px 13px 0px #838383;}

#wrapper{width: 100%;height: auto;overflow: hidden;position: relative;}

.back{width: 1920px;height: 926px;overflow: hidden;position: absolute;top: 0px;text-align: center;left: 50%;margin-left: -960px;}
/*.back img{max-width: 1920px;max-height: 926px;}*/
.back span{display: block;width: 1451px;height: 926px;position: absolute;top: 0px;left: 0px;background: url(../images/volcano.png) no-repeat center;z-index: 1;}

#wrapper #content{width: 1200px;padding: 0 360px;height: auto;overflow: hidden;min-height: 926px;position: relative;left: 50%;margin-left: -960px;}

#content .left{width: 147px;height: 780px;overflow: hidden;padding: 108px 0 38px 0;float: left;margin-right: 19px;position: relative;z-index: 5;}
.left .side-logo{width: 147px;height: 100px;overflow: hidden;text-align: center;display: table-cell;vertical-align: middle;}
.side-logo img{max-width: 147px;max-height: 100px;vertical-align: middle;}
.left .menu{width: 93px;height: 680px;overflow: hidden;padding: 0 27px;}
.left .menu li{width: 100%;height: 136px;border-top: dashed 1px #c0c0c0;text-align: center;overflow: hidden;position: relative;}
.left .menu li a{display: block;width: 69px;height: 96px;padding: 20px 12px;text-align: center;position: relative;overflow: hidden;}
.menu>li>a i{display: block;width: 100%;height: 64px;overflow: hidden;margin: 0 auto;}
.menu li a i img{max-width: 100%;max-height: 64px;}
.left .menu li a span{display: block;width: 100%;height: 32px;overflow: hidden;font-size: 14px;line-height: 32px;color: #989898;}
.left .menu li:before{content: "";display: none;width: 6px;height: 6px;background: #ed633d;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;behavior:url(PIE.htc);position: absolute;left: 0px;bottom: 33px;}
.menu>li:hover a span{color: #ed633d !important;}
.left .menu li:hover:before{display: block;}
.menu>li:hover a i{animation: rotate 2s linear infinite;-webkit-animation: rotate 2s linear infinite;-moz-animation: rotate 2s linear infinite;-ms-animation: rotate 2s linear infinite;-o-animation: rotate 2s linear infinite;}
@keyframes rotate{
	from {transform: rotatey(0deg);}
	to {transform: rotatey(360deg);}
}
@-webkit-keyframes rotate{
	from {transform: rotatey(0deg);}
	to {transform: rotatey(360deg);}
}
@-moz-keyframes rotate{
	from {transform: rotatey(0deg);}
	to {transform: rotatey(360deg);}
}
@-ms-keyframes rotate{
	from {transform: rotatey(0deg);}
	to {transform: rotatey(360deg);}
}
@-o-keyframes rotate{
	from {transform: rotatey(0deg);}
	to {transform: rotatey(360deg);}
}
.menu>li:first-child{border:none;}

#banner{width: 724px;height: 652px;margin: 20px;float: left;overflow: hidden;position: relative;z-index: 5;border-radius: 18px;-webkit-border-radius: 18px;-moz-border-radius: 18px;-ms-border-radius: 18px;-o-border-radius: 18px;behavior:url(PIE.htc);}
#banner ul.picture li{width: 724px;height: 652px;overflow: hidden;position: relative;text-align: center;}
ul.picture li img{max-width: 724px;max-height: 652px;}
ol.dot{width: auto;height: 16px;overflow: hidden;position: absolute;bottom: 20px;right: 25px;z-index: 10;}
ol.dot li{width: 10px;height: 10px;padding: 3px;float: left;background: url(../images/dot_01.png) no-repeat center;text-indent: 999px;cursor: pointer;margin: 0 5px;}
ol.dot li.on{background: url(../images/dot_02.png) no-repeat center;}

ul.right{width: 270px;height: 652px;float: right;}
ul.right li{width: 100%;height: 204px;float: left;margin-top: 20px;background: #ffffff;overflow: hidden;position: relative;z-index: 5; border-radius: 18px;-webkit-border-radius: 18px;-moz-border-radius: 18px;-ms-border-radius: 18px;-o-border-radius: 18px;behavior:url(PIE.htc);
		box-shadow: 0px 7px 7px 0px  #080102;-webkit-box-shadow: 0px 7px 7px 0px  #080102;-moz-box-shadow: 0px 7px 7px 0px  #080102;-ms-box-shadow: 0px 7px 7px 0px  #080102;-o-box-shadow: 0px 7px 7px 0px  #080102;}
ul.right li a{display: block;width: 100%;height: 100%;text-align: center;}
ul.right li a img{max-width: 100%;max-height: 100%;}
ul.right li a .pic-top{width: 100%;height: 50%;position: absolute;z-index: 10;left: 0px;top: -50%;}
.pic-top span{display: block;width: 100%;height: 50px;position: absolute;bottom: 0px;left: 0px;font-size: 20px;line-height: 50px;color: #ffffff;overflow: hidden;text-align: center;}
ul.right li a .pic-bottom{width: 100%;height: 50%;position: absolute;z-index: 10;left: 0px;bottom: -50%;}
ul.right li a .pic-bottom img{width: 141px;height: 33px;top: 14px;left:66px;position: absolute;-z-index: 10;}
ul.right li a div:before{content: "";display: block;width: 100%;height: 100%;position: absolute;left: 0px;top: 0px;filter: Alpah(opacity=50);opacity: 0.5;-webkit-opacity: 0.5;-moz-opacity: 0.5;-ms-opacity: 0.5;-o-opacity: 0.5;}
ul.right li.pic-1 a div:before{background: #ed633d;}
ul.right li.pic-2 a div:before{background: #ff6c00;}
ul.right li.pic-3 a div:before{background: #df639a;}


.press{width: 590px;height: 171px;padding: 32px 41px 11px;position: relative;z-index: 5;float: left;margin-left: 20px; border-radius: 18px;-webkit-border-radius: 18px;-moz-border-radius: 18px;-ms-border-radius: 18px;-o-border-radius: 18px;behavior:url(PIE.htc);}
.press .boy{width: 143px;height: 96px;text-align: center;position: absolute;left: 36px;top: 0px;z-index: 6;}
.press .press-back{width: 100%;height: 100;overflow: hidden;position: absolute;z-index: 10;left: 0px;top: 0px;border-radius: 18px;-webkit-border-radius: 18px;-moz-border-radius: 18px;-ms-border-radius: 18px;-o-border-radius: 18px;behavior:url(PIE.htc);}
.press .press-list{width: 100%;height: 100%;position: relative;z-index: 20;}
ul.press-list li{width: 100%;height: 70px;margin-bottom: 15px;}
ul.press-list li a{display: block;width: 100%;height: 100%;overflow: hidden;position: relative;color: #ffffff;}
ul.press-list li a i{display: block;width: 66px;height: 66px;border:solid 2px #ffffff;float: left;margin-right: 25px;text-align: center;border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;-ms-border-radius: 10px;-o-border-radius: 10px;behavior:url(PIE.htc);}
ul.press-list li a i span{display: block;width: 100%;height: 24px;font-size: 30px;line-height: 24px;padding-top: 10px;}
ul.press-list li a i time{display: block;width: 100%;height: 32px;font-size: 14px;line-height: 32px;overflow: hidden;}
ul.press-list li a p{width: 495px;float: right;height: 52px;overflow: hidden;margin: 9px 0;font-size: 16px;line-height: 26px;}
ul.press-list li a:hover p{color: #ffff00;}

.poster{width: 325px;height: 214px;position: relative;z-index: 5;float: right;border-radius: 18px;-webkit-border-radius: 18px;-moz-border-radius: 18px;-ms-border-radius: 18px;-o-border-radius: 18px;behavior:url(PIE.htc);}
.poster ul.poster-list li{width: 325px;height: 214px;overflow: hidden;position: relative;z-index: 5;text-align: center;}
ul.poster-list li img{max-width: 325px;max-height: 214px;}
ol.poster-dot{width: auto;height: 16px;overflow: hidden;position: absolute;bottom: 14px;right: 20px;z-index: 10;}
ol.poster-dot li{width: 7px;height: 7px;padding: 3px;float: left;background: url(../images/dot_03.png) no-repeat center;text-indent: 999px;cursor: pointer;margin: 0 5px;}
ol.poster-dot li.on{background: url(../images/dot_04.png) no-repeat center;}

#footer{width: 100%;height: auto;overflow: hidden;position: relative;background: #bbceae;padding: 6px 0;}
#footer .foot{width: 1200px;height: auto;overflow: hidden;margin: 0 auto;text-align: center;}
.foot a:hover{color: #2d7140;}
.foot .chaining{width: 1071px;height: 45px;padding: 20px 0;margin: 0 auto;}
.chaining ul li{width: 89px;height: 39px;padding: 2px;border:solid 1px #fffceb;float: left;margin: 0 29px;}
.chaining ul li a{display: block;width: 100%;height: 100%;}
.chaining ul li a img{height: 39px;max-width: 89px;}
.second-navs{width: 100%;height: 28px;overflow: hidden;text-align: center;font-size: 14px;line-height: 28px;}
.second-navs a{padding: 0 3px;}
.copyright{padding-bottom: 20px;margin-top: 5px;}

/*内页导航*/
#header{width: 100%;height: 124px;background: url(../images/back.jpg);}
#header #logo{width: 250px;height: 100%;overflow: hidden;float: left;text-align: center;}
#logo img{max-width: 250px;height: 100%;}
#header #nav{width: 930px;height: 100%;float: right;}
#nav .menu{width: 100%;height: 100%;}
.menu>li{height: 124px;width: 300px;position: relative;}
#nav .menu>li{display: table-cell;height: 100%;}
#nav .menu>li:after{content: "";display: block;width: 1px;height: 60px;background: url(../images/backLi.jpg);position: absolute;left: 0px;top: 32px;}

#nav .menu>li>a{display: block;width: 100%;height: 124px;text-align: center;}
#nav .menu>li>a i{padding-top: 1px;}
#nav .menu>li>a span{display: block;width: 100%;height: 44px;overflow: hidden;text-align: center;font-size: 14px;line-height: 44px;color: #989898;}
#nav .menu>li .menu-list{display: none; width: 130px;height: auto;overflow: hidden;position: absolute;top: 104px;z-index: 90;left: 13px;}
.menu-list b{display: block;width: 0px;height: 0px;border-bottom: solid 7px #94c034;border-left: solid 4px transparent;border-right: solid 4px transparent;margin-left: 60px;}
.menu-list ul{background: #94c034;border-radius: 9px;padding: 10px 0; -webkit-border-radius: 9px;-moz-border-radius: 9px;-ms-border-radius: 9px;-o-border-radius: 9px;behavior:url(PIE.htc);}
.menu-list ul li{width: 100%;height: 40px;overflow: hidden;text-align: center;}
.menu-list ul li a{display: block;width: 100%;height: 100%;font-size: 14px;line-height: 40px;color: #ffffff;}
.menu-list ul li a:hover{color: #ffff00;text-decoration: underline;}

.main-hd{width: 1200px;height: 155px;overflow: hidden;}
.main-hd h1{width: 1110px;padding: 0 45px;height: 100px;position: relative;}
.main-hd h1:before{content: "";display: block;width: 1200px;height: 100px;position: absolute;left: 0px;top: 0px;background: #ec6941;filter: Alpha(opacity=70);opacity: 0.7;-webkit-opacity: 0.7;-moz-opacity: 0.7;-ms-opacity: 0.7;-o-opacity: 0.7;}
.main-hd h1 em{float: left;position: relative;z-index: 5;font-size: 40px;line-height: 100px;color: #ffffff;}
.main-hd h1 span{position: relative;z-index: 5;float: right;font-size: 30px;line-height: 100px;color: #ffffff;}
.main-hd h1 span:before{content: "";display: block;width: 14px;height: 14px;background: #ffffff;border-radius: 7px;-webkit-border-radius: 7px;-moz-border-radius: 7px;-ms-border-radius: 7px;-o-border-radius: 7px;position: absolute;left: -40px;top: 45px;}
.address{width: 1140px;height: 55px;background: url(../images/back.jpg);padding: 0 30px;}
.address span{float: right;line-height: 55px;color: #6c5243;}
.address span a{color: #6c5243;padding: 0 3px;}
.address span a:hover{color: #ed633d;}
.address span a.on{color: #ed633d !important;}

.main{width: 100%;height: auto;overflow: hidden;position: relative;background: url(../images/back.jpg);}
.main .box{width: 201px;height: auto;overflow: hidden;min-height: 520px;border-right: dashed 1px #dddddd;float: left;}
.box ul{width: 100%;height: auto;overflow: hidden;}
.first li ul{display: none;}
.box ul.first li{width: 100%;height: auto;overflow: hidden;position: relative;}
.box ul li a{display: block;}
.box ul li a:hover{color: #ec6941;}
ul.first>li>a{padding-left: 41px;width: 160px;height: 40px;font-size: 14px;line-height: 40px;}
.box_on{color: #ec6941 !important;}
.box_in{color: #ec6941 !important;}
.box_on:before{content: "";display: block;width: 17px;height: 30px;background: #ec6941;position: absolute;left: 0px;top: 5px;}
ul.second li a{width: 140px;padding-left: 61px;height: 25px;font-size: 12px;line-height: 25px;}
ul.third>li>a{width: 120px;padding-left: 81px;}

.main .inside{width: 940px;margin-right: 30px;height: auto;overflow: hidden;position: relative;float: right;min-height: 520px;padding-bottom: 30px;}
.inside .about{width: 100%;height: auto;overflow: hidden;}

/*图片列表页*/
.inside .product{width: 100%;height: auto;position: relative;}
.product ul.product-list{width: 930px;height: auto;overflow: hidden;margin: 0 auto;}
ul.product-list li{width: 290px;height: 254px;margin: 0 10px 20px 10px;float: left;box-shadow: 0px 3px 5px 0px #080102;position: relative;overflow: hidden; z-index: 5;border-radius: 8px;-webkit-border-radius: 8px;-moz-border-radius: 8px;-ms-border-radius: 8px;-o-border-radius: 8px;}
ul.product-list li a{display: block;width: 100%;height: 100%;position: relative;overflow: hidden;text-align: center;}
ul.product-list li a i{display: block;width: 100%;height: 210px;overflow: hidden;text-align: center;background: #e7e7e7;}
ul.product-list li a i img{max-width: 290px;height: 210px;}
ul.product-list li a p{width: 260px;height: 44px;background: #ec6941;font-size: 14px;line-height: 44px;color: #ffffff;padding: 0 15px;overflow: hidden;position: relative;z-index: 10;}
ul.product-list li a p em{width: 50px;height: 100%;float: right;margin-left: 5px;}
ul.product-list li a p span{float: left;width: 205px;height: 100%;overflow: hidden;}
.face{width: 290px;height: 210px;position: absolute;left: -100%;top: -100%;z-index: 8;}
.face em{display: block;width: 100%;height: 100%;position: absolute;left: 0px;top: 0px;z-index: 6;background: url(../images/laugh.png) no-repeat 75px 120px;}
.face span{display: block;width: 100%;height: 100%;background: #ed633d;filter: Alpha(opacity=90);opacity: 0.8;-webkit-opacity: 0.8;-moz-opacity: 0.8;-ms-opacity: 0.8;-o-opacity: 0.8;position: relative;z-index: 5;}
.face:before{content: "";display: block;width: 17px;height: 17px;background: #ffffff;position: absolute;left: 90px;top: 90px;z-index: 8;border-radius: 8px;-webkit-border-radius: 8px;-moz-border-radius: 8px;-ms-border-radius: 8px;-o-border-radius: 8px;}
.face:after{content: "";display: block;width: 17px;height: 17px;background: #ffffff;position: absolute;right: 90px;top: 90px;z-index: 8;border-radius: 8px;-webkit-border-radius: 8px;-moz-border-radius: 8px;-ms-border-radius: 8px;-o-border-radius: 8px;}

.page{ width:100%;  line-height:20px;margin-top:30px;text-align:center; height:30px;}
.page a{color:#666;padding:3px 6px;}
.page span{ padding:0 7px;display: inline-block;height: 16px;}
.page span a{display: block;padding: 0px;width: 16px;height: 16px;background: #6b6b6b;margin: 3px 5px 0;line-height: 16px;text-align: center; border-radius: 10px;float: left;color: #ffffff;}
.page a:hover{color:#fff; background:#ed633d;}
.page a.current{color: #ffffff !important;background: #ed633d !important;}
.page mark{background: none;color: #bb743e;}

/*产品详细页*/
.case{width: 100%;height: auto;overflow: hidden;position: relative;padding-bottom: 40px;border-bottom: solid 1px #aaaaaa;}
.case h2{width: 100%;height: auto; min-height: 36px;color: #ed633d; margin-bottom: 25px;font-size: 24px;line-height: 36px;text-align: center;overflow: hidden;}
.case-list{width: 455px;height: 320px;overflow: hidden;position: relative;text-align: center;margin:0 auto 30px;}

.case-bd{margin: 0 auto;height: auto;}
.case-bd .tempWrap{ margin: 0 auto;}
.case-last{width: 100%;height: auto;height: auto;}
.case-last li{text-align: center;overflow: hidden; display: table-cell; vertical-align: middle;width: 455px;height: 320px;}
.case-list img{max-width: 455px; max-height: 320px;}
.case-list .scroll{width: 100%;height: 54px;padding: 7px 0;position: absolute;bottom: 0px;left: 0px;z-index: 10;overflow: hidden;}
.scroll:before{content: "";display: block;width: 100%;height: 68px;background: #000000;filter: Alpha(opacity=70);opacity: 0.7;-webkit-opacity: 0.7;-moz-opacity: 0.7;-ms-opacity: 0.7;-o-opacity: 0.7;position: absolute;left: 0px;top: 0px;}
.scroll>a{display: block;width: 30px;height: 30px;position: absolute;z-index: 11;top: 19px;}
.scroll a.sPrev{background: url(../images/circle_02.png);left: 22px;}
.scroll a.prevStop{background: url(../images/circle_01.png) !important;}
.scroll a.sNext{background: url(../images/circle_04.png);right: 22px;}
.scroll a.nextStop{background: url(../images/circle_03.png) !important;}
.scroll .case-hd{width: 327px;height: 100%;margin: 0 auto;position: relative;z-index: 11;}
.case-hd ol li{width: 95px;height: 54px;margin: 0 7px;float: left;position: relative;filter: Alpha(opacity=50);opacity: 0.5;-webkit-opacity: 0.5;-moz-opacity: 0.5;-ms-opacity: 0.5;-o-opacity: 0.5;}
.case-hd ol li.on{filter: Alpha(opacity=100) !important;opacity: 1 !important;-webkit-opacity: 1 !important;-moz-opacity: 1 !important;-ms-opacity: 1 !important;-o-opacity: 1 !important;}
.case-hd ol li a{display: block;width: 100%;height: 100%;overflow: hidden;text-align: center;overflow: hidden;}
.case-hd ol li a img{max-width: 95px;height: 54px;}

.pro-detail{width: 100%;height: 100%;overflow: hidden;}
.share{position: absolute;right: 10px;bottom: 10px;}
.near-page{margin:10px auto; margin-left:0px; border-top:1px dotted #ccc;}
.near-page li{line-height:26px;color:#515151;}
.near-page a{color:#515151;}
.near-page a:hover{color:#ed633d}

/*新闻列表页*/
.news{width: 100%;height: auto;overflow: hidden;position: relative;}
.news-list{width: 100%;height: auto;overflow: hidden;}
.news-list li{width: 100%;height: 35px;overflow: hidden;}
.news-list li a{display: block;width: 918;height: 100%;padding-left: 22px;position: relative;color: #6f6f6f;font-size: 14px;line-height: 35px;}
.news-list li a:before{content: "";display: block;width: 5px;height: 5px;background: #dcdcdc;position: absolute;left: 0px;top: 15px;}
.news-list li a time{float: right;margin-left: 20px;}
.news-list li a:hover{color: #c5342d;}
.news-list li a:hover:before{background: #c5342d;}

/*图文列表*/
.imagetext{width: 100%;height: auto;overflow: hidden;position: relative;}
.imagetext li{width: 100%;height: 131px;padding: 15px 0;border-top: dashed 1px #e5e5e5;overflow: hidden;}
.imagetext li:first-child{border-top: none;}
.imagetext li i{display: table-cell;width: 215px;height: 131px;float: left;text-align: center;vertical-align: middle;overflow:hidden;}
.imagetext li i img{max-width: 215px;max-height: 131px;vertical-align: middle;}
.imagetext .imagetext-text{width: 700px;float: right;height: 100%;position: relative;overflow: hidden;}
.imagetext-text h2{width: 100%;height: 50px;overflow: hidden;}
.imagetext-text h2 a{display: block;width: 100%;height: 100%;color: #053a52;font-size: 20px;line-height: 50px;}
.imagetext-text h2 time{float: right;margin-left: 15px;font-size: 16px;color: #515151;}
.imagetext li:hover .imagetext-text h2 a{color: #ec6941;}
.imagetext-text article{margin-top: 4px;width: 100%;height: 72px;font-size: 14px;color: #5f5e5d;overflow: hidden;}

/*新闻详细页*/
.news-hd{width: 100%;height: auto;overflow: hidden;text-align: center;position: relative;margin-bottom: 20px;}
.news-hd h2{width: 100%;height: auto;min-height: 36px;font-size: 24px;color: #ed633d;line-height: 36px;text-align: center;overflow: hidden;margin-bottom: 0px;}
.news-hd h3{height: 25px;width: 100%;line-height: 25px;color: #808080;padding-bottom: 5px;}

/*搜索页*/
.search{width: 100%;height: auto;overflow: hidden;text-align: center;color: #999999;font-size: 18px;line-height: 30px;margin-bottom: 10px;}
.search mark{background: none;font-size: 20px;color: #ec6941;}



