<!DOCTYPE html>
<html manifest="huancun.manifest">
<head>
<!-- 实时预览调试代码，模板开发完成后删除 -->
		
		<!-- 调试代码 End -->
		<script type="text/javascript">
		// 跳转PC页面
		{if $site_another_url}
			if (!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
				location.href = '{$site_another_url}';
			}
		{/if}
		</script>
    <script type="text/javascript" src="http://chanpin.xm12t.com.cn/js/preview.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta content="telephone=no, email=no" name="format-detection">
<!-- 启用360浏览器的极速模式(webkit) -->
<meta name="renderer" content="webkit">
<!-- 避免IE使用兼容模式 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
<meta name="HandheldFriendly" content="true">
<!-- 微软的老式浏览器 -->
<meta name="MobileOptimized" content="320">
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="portrait">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="portrait">
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<title>{$title}</title>
<link rel="stylesheet" href="{$site_url}css/reset.css" /> 
<link rel="stylesheet" href="{$site_url}css/public.css" /> 
<link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />
<link href="{$site_url}css/swipe.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" rev="stylesheet" href="{$site_url}css/style_{$stylecolor}.css" type="text/css" />
<script src="{$site_url}js/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.min.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
<script type="text/javascript" src="{$site_url}js/share.js"></script>
<script src="{$site_url}js/idangerous.swiper-2.0.min.js"></script>
<script src="{$site_url}js/idangerous.swiper.3dflow-2.0.js"></script>
<script src="{$site_url}js/simple-app.js"></script>
<script type="text/javascript">
	window.addEventListener('load', function(){
   setTimeout(function(){ window.scrollTo(0, 1); }, 100);
});//safari浏览器可以通过此代码来隐藏地址栏
</script>
{$headscript}
</head>
<body>
    <a name="top" id="top"></a>
    <div class="index-wrap">
        <header>
        <div class="header">
          <div class="logo"><img src="{$logo}" width="100%"></div>
          <div class="baner">
            <div id="slideBox" class="slideBox">
              <div class="hd">
                <ul>
                </ul>
              </div>
              <div class="bd">
                <ul>
                {$video=null}
                {foreach item=slidepic from=$global.slidepics}
                  <li><a class="pic" href="{$slidepic.link}"><img src="{$slidepic.image}" title="640*316" /></a></li>
                {if $slidepic@index+1 eq $slidepic|count-1}{break}{/if}
                {/foreach}
                
                </ul>
              </div>
            </div>
          </div>
          
        </div>
      </header>
      <section> 
        {foreach name=mIndexCats item=mIndexCat from=$mIndexCats}
      {if $mIndexCat.type eq 4}
        <div id="in_page" class="wrapper"><A href="{$mIndexCat.link}">
              <h2 class="in_h2"><div class="in_zh">{$mIndexCat.name}</div><div class="in_en">{$mIndexCat.en_name}</div></h2>

        <div class="inner clearfix">
          <div class="page_img"><img src="{$mIndexCat.image}"></div>
           <div class="in_in"> 
            <div  class="in_more">详情＋</div>
           <p>{$mIndexCat.description}</p>
           </div>
       </div>
       </A>
        </div>
       <div style="margin:1rem 0;"><iframe frameborder="0" width="100%" height="100%" src="https://v.qq.com/iframe/player.html?vid=u05551u4dv0&tiny=0&auto=0" allowfullscreen></iframe></div>
         {elseif $mIndexCat.type eq 1} 
        <div id="in_text" class="wrapper">
         <h2 class="in_h2"><a href="{$mIndexCat.link}"><div class="in_zh">{$mIndexCat.name}</div><div class="in_en">{$mIndexCat.en_name}</div></a></h2>
        <div class="inner clearfix">
          <ul class="newslist">
             {foreach item=article from=$mIndexCat.data}
                  <li><a href="{$article.link}">
                <div class="date public-color1">
                <dd class="year">{$article.pubtimestamp|date_format:"%m "}/{$article.pubtimestamp|date_format:"%y "}</dd>
                	<dd class="day">{$article.pubtimestamp|date_format:"%d "}</dd>
                </div>
                <div class="list">
                	<dt>{$article.title}</dt>
                    <dd>{$article.description}</dd>
                </div>
                </a>
             </li> 
               {if $article@index+1 == 5}{break}{/if} {/foreach} 
            </ul>
        </div>
        </div>
      
         {elseif $mIndexCat.type eq 2} 
      <div id="in_image" class="wrapper">
              <h2 class="in_h2"><A href="{$mIndexCat.link}"><div class="in_zh">{$mIndexCat.name}</div><div class="in_en">{$mIndexCat.en_name}</div></A></h2>
       <div class="inner insub_image wrapper">
            <ul class="clearfix">
            {foreach item=article from=$mIndexCat.data}
             <li><a href="{$article.link}">
              <div>
                  <div class="in_proimg"><img src="{$article.image}" width="100%" title="160*150"></div>
                  <div class="in_protitle"> <p>{$article.title} </p></div></div></a>
              </li>
           
              </li>
              {if $article@index+1 == 2}{break}{/if} {/foreach}
            </ul>
        </div>
        </div>
        {/if} 
     {/foreach}
      </section>
      
      
    <footer class="foot" ><a class="back-top" id="gotop" href="#top"target="_self">∧</a>{$footprint}</footer></div>
    </div>
  {$footscript}
</body>
</html>
