<header>
<section>
<div class="head_outsild">
      <div class="head">
          <a href="{$site_url}" title="返回首页" class="logo"><img src="{$logo}" /></a>
          <div class="sz"><a href="{$site_url}"><img src="{$site_url}images/sz_03.png" height="10" width="11" alt="">&nbsp;返回首页</a>
          <a href="javascript:void(0);" onclick="SetHome(this, window.location)"><img src="{$site_url}images/sy_05.png" height="10" width="11" alt="">&nbsp;设为首页</a>
          <a href="javascript:void(0);" onclick="shoucang(document.title, window.location)"><img src="{$site_url}images/sy_05.png" height="10" width="11" alt="">&nbsp;收藏首页</a></div>
          <form action="{$search_action}" method="GET" class="ss"> 
              <span>全站搜索</span>
              <img src="{$site_url}images/ssl_05.png" height="35" width="5" alt="">
              <input type="text" placeholder="请输入关键词" class="input_case" name="s">
              <input type="submit" value="" class="input_key">
          </form>
      </div>
</div>
</section>
<section>
    <div class="header_menu">   
       <ul id="nav" class="nav">
       <li class="nLi">
       <h3><a href="{$site_url}">网站首页<br />HOME</a></h3>
      </li>
      {foreach item=nav from=$navs}
      <li class="nLi">
       <h3><a href="{$nav.link}" class="{if $nav.current}current{/if}">{$nav.name}<br />{$nav.en_name}</a></h3>
      
        {if $nav.childmenu}
          <ul class="sub">

            {foreach item=nav_list from=$nav.childmenu}
            <li class="{if $nav_list.current}current{/if}"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
            {/foreach}
          </ul>
        {/if}
      </li>
      {/foreach}
    </ul>
    </div>
</section>
 <section>
<div class="banner">
    <div id="slideBox" class="slideBox">
        
       <div class="bd">
        <ul>
                     {foreach item=slidepic from=$_header.slidepics}
                              <li><a href="{$slidepic.link}" target="_blank"><img src="{$slidepic.image}" alt="{$slidepic.title}" /></a></li>
                     {/foreach}
                </ul>
      </div>


      <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
      <a class="prev" href="javascript:void(0)"></a>
      <a class="next" href="javascript:void(0)"></a>

    </div>
</div>
    </section>
</header>
