
<header id="header">
    <div class="head-top">
        <div class="sites">
            <h5>{$global.horn}</h5>
            <p>{$global.hotline}<b>{$contact.telephone}</b></p>
        </div>
    </div>
    <div class="head">
        <div class="logo"><a href="{$site_url}"><img src="{$logo}" /></a></div>
        <div class="mainbav">
            <form id="search" action="{$search_action}" name="search">
                <input type="text" name="s" id="keyword" placeholder="请输入搜索关键字" />
                <button class="button"><img src="{$site_url}images/map.png"></button>
            </form>
            <ul class="nav" id="nav">
                <li><a href="{$site_url}">网站首页</a></li>
                {foreach item=nav from=$navs}
                    <li>
                        <a href="{$nav.link}">{$nav.name}</a>
                        {if $nav.childmenu}
                            <i></i>
                            <ul class="subnav">
                                {foreach key=key item=subnav from=$nav.childmenu}
                                <li><a href="{$subnav.link}">{$subnav.name}</a></li>
                                {/foreach}
                            </ul>
                        {/if}
                    </li>
                {/foreach}
            </ul>
        </div>
    </div>
</header>