<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript">
    // Ìø×ªÊÖ»úÒ³Ãæ
    {if $site_another_url}
        if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
            location.href = '{$site_another_url}';
        }
    {/if}
    </script>

<!--  -->
<meta name="keywords" content="{$keywords}"/>
<meta name="description" content="{$description}"/>
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="zh-CN">

<link rel="stylesheet" type="text/css" href="{$site_url}css/style.css"/>
<script type="text/javascript" src="{$site_url}js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
<script type="text/javascript" src="{$site_url}js/index.js"></script>
<script type="text/javascript" src="{$site_url}js/html5.js"></script>
<title>{$title}</title>
{$headscript}
</head>
<body>
	<div id="wrapper">
        {include file='./_header.html'}
        <div id="banner">
            <ul class="picture">
                {foreach item=slidepics from=$index.slidepics}
                    <li><a href="{$slidepics.link}"><img src="{$slidepics.image}"></a></li>
                {/foreach}
            </ul>
            <div class="dot">
                <ol>
                    {foreach item=slidepics from=$index.slidepics}
                        <li></li>
                    {/foreach}
                </ol>
            </div>
        </div>
        <article class="content">
            <section class="column-01">
                <div class="column-hd"><a href="{$index.project.link}">
                    <h3>{$index.project.en_name}</h3>
                    <h2><span>{$index.project.name}</span></h2>
                    <div class="ledgement"></div>
                </a></div>
                <div class="front-service">
                    <div class="service">
                        <ul>
                            {foreach item=project from=$index.project.data}
                            <li><a href="{$project.link}">
                                <i><img src="{$project.image}"><b></b></i>
                                <h4>{$project.title}<em></em></h4>
                                <p>{$project.description}</p>
                                <div class="border"></div>
                            </a></li>
                            {/foreach}
                        </ul>
                    </div>
                    <div class="around">
                        <a href="javascript:void(null)" class="prev"></a>
                        <a href="javascript:void(null)" class="next"></a>
                    </div>
                </div>
            </section>
            <section class="column-02">
                <div class="column-hd"><a href="{$index.about.link}">
                    <h3>{$index.about.en_name}</h3>
                    <h2><span>{$index.about.name}</span></h2>
                    <div class="ledgement"></div>
                </a></div>
                <div class="front-about">
                    <div class="back-rect"></div>
                    <canvas id="rect" width="655" height="340"></canvas>
                    <div class="company">
                        <div class="company-text">
                            {$index.about.content|unescape:"html"}
                        </div>
                        <a href="{$index.about.link}">查看更多 »</a>
                    </div>
                    <div class="company-image">
                        <span><img src="{$index.about.image}"></span>
                    </div>
                </div>
            </section>
            <section class="column-03">
                <div class="front-news">
                    <div class="front-hd">
                        <a href="{$index.news.link}" class="more">MORE</a>
                        <h2>{$index.news.name} / <span>{$index.news.en_name}</span></h2>
                    </div>
                    <ul class="press">
                        {foreach item=press from=$index.news.data}
                            <li><a href="{$press.link}">
                                <i><img src="{$press.image}"></i>
                                <div class="press-list">
                                    <h4>{$press.title}</h4>
                                    <p>{$press.description}</p>
                                    <time datetime="{$press.pubtimestamp|date_format:'%Y-%m-%d'}">{$press.pubtimestamp|date_format:'%Y-%m-%d'}</time>
                                </div>
                            </a></li>
                            {if $press@index+1 eq 2}{break}{/if}
                        {/foreach}
                    </ul>
                </div>
                <div class="front-contact">
                    <div class="front-hd">
                        <a href="{$index.contact.link}" class="more">MORE</a>
                        <h2>{$index.contact.name} / <span>{$index.contact.en_name}</span></h2>
                    </div>
                    <div class="contact" style="background:url({$index.phone.image}) no-repeat 203px 140px">
                        <i><img src="{$index.contact.image}"></i>
                        <ol class="icon">
                            {foreach item=icon from=$index.icon}
                            <li><img src="{$icon.image}"></li>
                            {/foreach}
                        </ol>
                        <ul class="contact-list">
                            <li>{$contact.company}</li>
                            <li>联系人：{$contact.name}</li>
                            <li>电话：{$contact.mobile}</li>
                            <li>邮箱：{$contact.mail}</li>
                            <li>地址：{$contact.address}</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="column-04">
                <div class="column-hd"><a href="{$index.staff.link}">
                    <h3>{$index.staff.en_name}</h3>
                    <h2><span>{$index.staff.name}</span></h2>
                    <div class="ledgement"></div>
                </a></div>
                <div class="front-staff">
                    <div class="staff">
                        <ul>
                            {foreach item=staff from=$index.staff.data}
                                <li><a href="{$staff.link}">
                                    <i><img src="{$staff.image}"></i>
                                    <h4>{$staff.title}</h4>
                                    <p>{$staff.description}</p>
                                    <div class="rectangle-01 rectangle"></div>
                                    <div class="rectangle-02 rectangle opacity"></div>
                                    <div class="rectangle-03 rectangle opacity"></div>
                                </a></li>
                            {/foreach}
                        </ul>
                    </div>
                    <div class="control">
                        <a href="javascript:void(null)" class="prev"></a>
                        <a href="javascript:void(null)" class="next"></a>
                    </div>
                </div>
            </section>
        </article>
        {include file='./_footer.html'}
    </div>
</body>
</html>