<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript">
    // Ìø×ªÊÖ»úÒ³Ãæ
    {if $site_another_url}
        if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
            location.href = '{$site_another_url}';
        }
    {/if}
    </script>

<!--  -->
<meta name="keywords" content="{$keywords}"/>
<meta name="description" content="{$description}"/>
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="zh-CN">

<link rel="stylesheet" type="text/css" href="{$site_url}css/style.css"/>
<script type="text/javascript" src="{$site_url}js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
<script type="text/javascript" src="{$site_url}js/html5.js"></script>
<title>{$title}</title>
</head>
<body>
	<div id="wrapper">
        {include file='./_header.html'}
        {include file='./_banner.html'}
        <div class="wrap">
            {include file='./_left.html'}
            <div class="inside">
                <div class="main-hd">
                    <span>当前位置：
                        <a href="{$site_url}">首页</a>
                        {foreach item=nav from=$posnavs} > <a href="{$nav.link}">{$nav.name}</a>
                        {/foreach}
                    </span>
                </div>
                <div class="main">
                    <div class="news-first">
                        <div class="roll">
                            <ul class="roll-list">
                                {foreach item=roll from=$global.newspic}
                                    <li><a href="{$roll.link}"><img src="{$roll.image}"></a></li>
                                    {if $roll@index+1 eq 6}{break}{/if}
                                {/foreach}
                            </ul>
                            <div class="roll-dot">
                                <ol>
                                    {foreach item=roll from=$global.newspic}
                                        <li></li>
                                    {if $roll@index+1 eq 6}{break}{/if}
                                    {/foreach}
                                </ol>
                            </div>
                        </div>
                        <div class="events">
                            <time datetime="{$list.data[0].pubtimestamp|date_format:'%Y-%m-%d'}">{$list.data[0].pubtimestamp|date_format:'%Y-%m-%d'}</time>
                            <h4>{$list.data[0].title}</h4>
                            <p>{$list.data[0].description}</p>
                            <a href="{$list.data[0].link}" id="more">READ MORE</a>
                        </div>
                    </div>
                    <ul class="news">
                        {foreach item=article from=$list.data}
                            {if $article@index+1 gt 1}
                            <li><a href="{$article.link}">
                                <div class="time">
                                    <b><time>{$article.pubtimestamp|date_format:'%d'}</time></b>
                                    <span><time datetime="{$article.pubtimestamp|date_format:'%Y-%m-%d'}">{$article.pubtimestamp|date_format:'%Y-%m'}</time></span>
                                </div>
                                <div class="news-text">
                                    <h4>{$article.title}</h4>
                                    <p>{$article.description}</p>
                                </div>
                            </a></li>
                            {/if}
                        {/foreach}
                    </ul>
                    {include file='./_page.html'}
                </div>
            </div>
        </div>
        {include file='./_footer.html'}
    </div>
</body>
</html>