body {
	color:#4c4b4b;
	font-family:Microsoft Yahei, Arial, Helvetica, sans-serif;
	background:#fff;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ol, pre, form, input, textarea {
	margin:0;
	padding:0;
	list-style:none;
	line-height:24px;
	font-size:12px;
	font-weight:normal
}
ul, li {
	margin:0;
	padding:0;
	list-style:none;
	font-weight:normal;
}
a {
	color:#000000;
	text-decoration:none;
}
a:hover {
	color:#b70910;
}
img {
	border:none;
}
.clearfix:after {
	content:'\20';
	display:block;
	height:0;
	clear:both;
}
.clearfix {
*zoom:1;
}
.wrapper {
	width:1094px;
	margin:0 auto;
}
 display:block;
white-space:nowrap;
text-overflow:ellipsis;
overflow:hidden;
strong {
	display: block;
	margin: 0 auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#header {
	height:125px;
	position:relative;
}
#logo {
	width:550px;
	height:125px;
	float:left;
	position:relative;
}
#logo a {
	display:block;
	width:550px;
	height:125px;
	position:absolute;
	bottom: 0px;
	left:0;
}
#logo img {
	max-width:550px;
	max-height:125px;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto
}
.tel {
	max-width:350px;
	float:right;
	margin-top:65px;
	display:inline;
	background:url(../images/tel.png) no-repeat 5px;
	padding-left:55px;
	font-size:26px;
	height:33px;
	overflow:hidden;
	line-height:33px;
}
.search {
	width:260px;
	position:absolute;
	right:0;
	top:10px;
	border:2px #e60b1e solid;
	border-radius:12px;
	height:38px;
	overflow:hidden;
}
.search_area {
	float:left;
	width:215px;
	background:none;
	border:none;
	height:38px;
	line-height:38px;
	font-size:14px;
	color:#a1a0a0;
	text-indent:10px;
}
.search_btn {
	float:left;
	background:url(../images/sou_td.png) no-repeat 0px 8px;
	border:none;
	padding-right:7px;
	width:42px;
	height:44px;
	overflow:hidden;
}
#nav_bg {
	width:100%;
	background:#fff url(../images/nav_bg.jpg) repeat;
	height:65px;
}
#nav ul li {
	float:left;
	padding-top:6px;
	height:59px;
}
#nav ul li a {
	color:#FFF;
	font-size:14px;
	padding:0 3px;
	display:block;
}
#nav ul li a:hover {
	background:#9b1016;
}
#nav ul li p {
	height:59px;
	overflow:hidden;
	line-height:59px;
	text-align:center;
}
#nav ul li .cc {
	background:#c5393e;
	height:40px;
	line-height:40px;
	display:none;
	text-align:center;
	width:100%;
	position:relative;
	z-index:100;
	margin-top:0px;
}
#nav ul li .cc:hover {
}
#nav ul li .cc a {
	width:92%;
	margin:auto;
	color:#fff;
	padding:0 4%;
	overflow:hidden;
	height:40px;
	line-height:40px;
}
#nav ul li .cc a:hover {
	text-decoration:underline;
	color:#fff;
}
#banner {
	width:100%;
	overflow:hidden;
}
#container {
	margin-top:40px;
	padding-bottom:40px;
}
.about {
	width:358px;
	float:left;
}
.about_img {
	height:200px;
	margin-bottom:9px;
	text-align:center
}
.about_img img {
	height:100%;
	margin:auto
}
.about .title {
	height:44px;
	position:relative
}
.about .title .title_in {
	color:#bfbdbd;
	font-weight:bold;
	text-transform:uppercase;
	height:43px;
	line-height:43px;
	overflow:hidden;
	border-bottom:1px #e3e3e3 solid;
}
.about .line {
	border-bottom:3px #b70910 solid;
	position:absolute;
	left:0;
	bottom:-1px;
	width:70px;
}
.about .title b {
	font-size:18px;
	color:#3d3a3a;
	padding-bottom:10px;
	line-height:40px;
	height:40px;
	overflow:hidden;
	margin-right:8px;
	padding-bottom:10px;
}
.about .title span {
	float:right;
	padding-top:8px;
}
.about .inner {
	padding-top:22px;
	line-height:25px;
	color:#4c4b4b;
	height:100px;
	overflow:hidden;
}
.news {
	width:304px;
	float:left;
	padding:0 39px;
	margin:0 50px;
	display:inline;
	background:#e3e3e3;
	height:405px;
	overflow:hidden;
}
.news .title {
	height:86px;
	overflow:hidden;
	position:relative;
}
.news .title .title_in {
	font-size:12px;
	color:#bfbdbd;
	font-weight:bold;
	border-bottom:1px #a8a5a5 solid;
	height:84px;
}
.news .line {
	border-bottom:4px #b70910 solid;
	position:absolute;
	left:0;
	bottom:-1px;
	width:70px;
}
.news .title b {
	width:270px;
	font-size:24px;
	color:#949494;
	text-transform:uppercase;
	font-weight:normal;
	padding-top:14px;
	display:block;
	height:24px;
	overflow:hidden;
}
.news .title p {
	font-weight:bold;
	font-size:16px;
	color:#4a4a4a;
	padding-top:10px;
	height:24px;
	overflow:hidden;
}
.news .title span {
	float:right;
	padding-top:47px;
}
.news .inner {
}
.news .inner ul {
	margin-top:13px;
}
.news .inner ul li {
	padding:20px 0 30px 0;
	border-bottom:1px #d6d6d6 dashed;
}
.news .inner ul li b {
	font-size:16px;
	font-weight:normal;
	height:24px;
	overflow:hidden;
	display:block;
}
.news .inner ul li .time {
	background:url(../images/time.png) no-repeat;
	height:16px;
	line-height:16px;
	text-indent:20px;
	color:#a49e9e;
	margin-top:6px;
	overflow:hidden;
}
.news .inner ul li .word {
	height:48px;
	overflow:hidden;
	margin-top:7px;
}
.cont_right {
	width:250px;
	float:right;
}
.case {
	position:relative;
}
.case .title {
	width:38px;
	height:45px;
	overflow:hidden;
	position:absolute;
	border-radius:34px;
	background:#b70910;
	font-size:15px;
	color:#ffffff;
	text-align:center;
	line-height:24px;
	padding:5px 10px 8px 10px;
	border:2px #fdf8f8 solid;
	top:65px;
	left:-30px;
	z-index:100;
	display:block;
}
.case .title a {
	color:#FFF;
}
.case .inner {
}
.case .inner .bd {
	overflow:hidden;
	zoom:1;
}
.case .inner .bd .iframeWrap {
	overflow:hidden;
	float:left;
}
.case .inner iframe {
	width:100%;
	height:100%;
	vertical-align:middle;
}
.case .inner .botTit {
	height:22px;
	line-height:22px;
	overflow:hidden;
	background:#eee;
	text-align:right;
	padding:5px 0;
	overflow:hidden;
	display:none;
}
.case .inner .botTit em {
	float:left;
	font-weight:bold;
	padding-left:10px;
}
.case .inner .botTit span a {
	display:block;
	float:right;
	height:20px;
	line-height:20px;
	padding:0 5px;
	background:#f60;
	margin-right:10px;
	color:#fff;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	cursor:pointer;
	display:none;
}
.case .inner .botTit span a:hover {
	text-decoration:none;
	background:#f60;
}
.case .inner .slideBox {
	overflow:hidden;
	position:relative;
	border:1px solid #ddd;
}
.case .inner .slideBox .hd {
	height:15px;
	overflow:hidden;
	position:absolute;
	left:5px;
	bottom:5px;
	z-index:1;
	display:inline;
}
.case .inner .slideBox .hd ul {
	width:250px;
	height:250px;
	overflow:hidden;
	zoom:1;
	float:left;
	margin-left:5px;
}
.case .inner .slideBox .hd ul li {
	float:left;
	margin-right:5px;
	width:14px;
	height:14px;
	line-height:14px;
	text-align:center;
	background:#fff;
	cursor:pointer;
	border-radius:6px;
}
.case .inner .slideBox .hd ul li.on {
	background:#b70910;
	color:#fff;
}
.case .inner .slideBox .bd {
	position:relative;
	height:100%;
	z-index:0;
}
.case .inner .slideBox .bd ul li {
	width:250px;
	height:250px;
	overflow:hidden;
	zoom:1;
	vertical-align:middle;
}
.case .inner .slideBox .bd ul li img {
	
	display:block;
}
.contact {
	position:relative;
}
.contact .title {
	height:44px;
	position:relative
}
.contact .title .title_in {
	color:#bfbdbd;
	font-weight:bold;
	text-transform:uppercase;
	height:43px;
	line-height:43px;
	overflow:hidden;
	border-bottom:1px #e3e3e3 solid;
}
.contact .line {
	border-bottom:3px #b70910 solid;
	position:absolute;
	left:0;
	bottom:-1px;
	width:70px;
}
.contact .title b {
	font-size:18px;
	color:#3d3a3a;
	padding-bottom:10px;
	line-height:40px;
	height:40px;
	overflow:hidden;
	margin-right:8px;
	padding-bottom:10px;
}
.contact .title span {
	float:right;
	padding-top:8px;
}
.contact .inner {
	background:url(../images/contact_bg.jpg) no-repeat;
	height:94px;
	overflow:hidden;
	padding-top:15px;
}
#footer_bg {
	background:#b70910;
}
#footer {
	padding:10px 0;
}
.copyright {
	color:#FFF;
	width:950px;
	float:left;
}
.copyright a {
	color:#FFF;
}
.q_link {
	float:right;
}
#sub_container_bg {
	background:url(../images/sub_bg.jpg) no-repeat top center;
}
#sub_container {
}
/*sidebar css*/
.sidebar {
	width:248px;
	float:left;
	margin-top:28px;
	display:inline;
}
.subnav {
}
.subnav .alefttitle {
	width:173px;
	background:#595959 url(../images/alefttitle.png) no-repeat 200px 31px;
	border-radius:4px;
	height:84px;
	overflow:hidden;
	color:#FFF;
	padding:0 55px 0 20px;
	font-size:20px;
	line-height:84px;
	text-transform:uppercase;
}
.category {
	width:238px;
	margin:auto;
	padding-bottom:30px;
}
.category ul {
}
.category ul li .firsta {
	background:#969494 url(../images/firsta.png) no-repeat 25px 14px;
	border-radius:9px;
	width:238px;
	height:42px;
	overflow:hidden;
	display:block;
	margin-top:20px;
}
.category ul li a.firsta {
	color:#fff;
	padding-left:45px;
	padding-right:10px;
	width:183px;
	line-height:42px;
	font-size:16px;
}
.category ul li a:hover.firsta {
	background:#c91818 url(../images/firsta.png) no-repeat 25px 14px;
	display:block;
}
ul.second li .seconda {
	background:url(../images/seconda.png) no-repeat 35px 15px;
	border-bottom:1px #e2e0e0 dashed;
	display:block;
	line-height:42px;
	height:42px;
	overflow:hidden;
	padding-left:55px;
	padding-right:10px;
	width:173px;
}
ul.second li a.seconda {
	color:#a6a1a1;
	font-size:14px;
}
ul.second li a.seconda:hover {
}
ul.second li .thirda {
	background:url(../images/thirda.png) no-repeat 50px 15px;
	border-bottom:1px #e2e0e0 dashed;
	display:block;
	line-height:42px;
	height:42px;
	overflow:hidden;
	padding-left:65px;
	padding-right:10px;
	width:163px;
}
ul.third li a.thirda {
	color:#a6a1a1;
	font-size:14px;
}
ul.third li a.thirda:hover {
}
/*main css*/
.main {
	float:right;
	width:775px;
	margin-top:28px;
}
.crumb {
	height:35px;
	overflow:hidden;
	border-bottom:1px #b70910 solid;
	background:url(../images/crumb.png) no-repeat 0 13px;
	padding-bottom:5px;
	text-indent:25px;
	line-height:45px;
	color:#888585;
}
.crumb a {
	color:#888585;
}
.article {
	padding:12px 15px 30px 15px;
	color:#888585;
}
.article img {
	max-width:755px;
	overflow:hidden
}
#banner .slideBox {
	width:100%;
	position:relative;
}
#banner .slideBox .hd {
	height:15px;
	overflow:hidden;
	position:absolute;
	bottom:15px;
	z-index:10001;
	text-align:center;
	width:100%;
}
#banner .slideBox .hd ul {
	overflow:hidden;
	zoom:1;
	display:inline-block;
}
#banner .slideBox .hd ul li {
	float:left;
	margin-right:5px;
	width:15px;
	height:15px;
	line-height:14px;
	text-align:center;
	background:#fff;
	cursor:pointer;
	border-radius:15px;
}
#banner .slideBox .hd ul li.on {
	background:#f00;
	color:#fff;
}
#banner .slideBox .bd {
	position:relative;
	height:100%;
	z-index:0;
	margin:0px auto;
	text-align:center;
}
#banner .slideBox .bd li {
	zoom:1;
	vertical-align:middle;
}
#banner .slideBox .bd img {
	display:block;
	border:1px solid #ddd;
	padding:1px;
	margin:0px auto;
	text-align:center;
}
/* 下面是前/后按钮代码，如果不需要删除即可 */
#banner .slideBox .prev,  #banner .slideBox .next {
	position:absolute;
	left:3%;
	top:50%;
	margin-top:-25px;
	display:block;
	width:32px;
	height:40px;
	background:url(../images/slider-arrow.png) -110px 5px no-repeat;
	filter:alpha(opacity=50);
	opacity:0.5;
}
#banner .slideBox .next {
	left:auto;
	right:3%;
	background-position:8px 5px;
}
#banner .slideBox .prev:hover,  #banner .slideBox .next:hover {
	filter:alpha(opacity=100);
	opacity:1;
}
#banner .slideBox .prevStop {
	display:none;
}
#banner .slideBox .nextStop {
display:none;}

