@charset "utf-8";
*{margin:0px;padding: 0px;}
a,a:hover,a:visited{text-decoration: none;}
a{color: #333;cursor: pointer;}
a:hover{color: #15bb7e;}
a img{ border:none;}
body{font-family: "Microsoft Yahei";font-size: 14px;color:#333;background: #fff;}
ul,li{list-style-type: none;}

.wrap{width: 100%;min-width: 1200px;height: auto;background: url(../images/bg_icon.png) top left repeat;position: relative;}
.fl{float: left;}
.fr{float: right;}

.banner{width: 100%;height: 980px;position: relative;overflow: hidden;}
.slider{width: 1920px;height: 980px;margin: 0 auto;position: absolute;left:50%;margin-left: -960px; overflow: hidden;}
.slider .prev{width: 92px;height: 92px;background: url(../images/index_prev.png);position: absolute;left: 205px;top: 460px;display: inline-block;z-index: 2;}
.slider .next{width: 92px;height: 92px;background: url(../images/index_next.png);position: absolute;right: 205px;top: 460px;display: inline-block;}
.slider .prev:hover{background: url(../images/index_prev_h.png);}
.slider .next:hover{background: url(../images/index_next_h.png);}


.header{width: 1360px;height: 154px;margin: 0 auto;position: relative;}
.header_index{position: absolute;top: 0px;left:50%;margin-left: -680px;}
.header .green{position: absolute;top: 120px;left:80px;display: none;}
.header .white{position: absolute;top: 0px;}
.head{width: 1200px;height: 120px;margin: 0 auto;position: relative; z-index:1;}
.logo{position: absolute;top: 0px;left: 0px;width:400px;height:76px;}
.logo a{display: table-cell;vertical-align: middle;width:400px;height:76px;}
.logo a img{max-width: 100%;max-height: 100%;}
.left_top{height: 120px;}
.tel{width: auto;height: 28px;line-height: 28px;margin: 25px 0 20px 0;font-size: 16px;color: #fe0000;}
.tel span{padding: 0 9px;}
.search{width: 188px;height: 26px;margin: 25px 32px 20px 0; border: 1px solid #d6d7dc;font-size: 12px;line-height: 26px;color: #909090;}
input{outline: none;border: none;height: 26px;line-height: 26px;width: 151px;padding-left: 9px;}
.search img{padding: 4px;float: right;}
.search button{background: none;width: 26px;height: 26px;border: none;outline: none;float: right;cursor: pointer;}/*模板中a改为button新增样式*/

.nav{width:1200px;height: 44px;position: absolute;right: 0px;bottom: 3px;}
.nav ul{position: relative;}
.nav ul li{  float: left;background: #fff;}
.nav ul li a{display: block; overflow: hidden;text-align:center; height:44px; font-size: 16px; line-height: 44px;}
.nav ul li a:hover,.nav ul li.cu a,.nav ul li.cu1 a{color: #15bb7e;border-bottom: 3px solid #15bb7e;font-weight: bold;}
.block{display: block;}
.none{display: none;}
.nav ul li ul{position: absolute;height:34px;top:47px; background: #15bb7e;}
.nav ul li ul li{float: left;display: inline-block;position: relative; width:auto;text-align: center;background:none; height:34px;line-height: 34px;margin: 0px;padding:0 9px 0 6px;}
.nav ul li .erji li:last-child:after{content:"";display: none;}
.nav ul li .erji li:after{ content: "";position: absolute;right: 0px; top: 9px; z-index:2; background:#d9fae0;  width: 2px;height: 16px; }
.nav ul li ul li a,.nav ul li.cu ul li a{display:inherit;font-size: 14px;width:87px;height:16px;line-height: 16px;margin: 9px 0px; color: #d9fae0; border-bottom: none;}
.nav ul li ul li a:hover{color:#fff;font-weight: bold;}

.footer{width: 100%;height: 88px;border-top: 2px solid #15bb7e;background: #fff;position: relative;}
.footer_index{position: absolute;top: 890px;}
.foot{width: 1200px;height: 88px;position: absolute;left:50%;margin-left: -600px;}
.copyRight{width:auto;font-size: 14px;line-height: 28px;color: #4d4d4d;padding-top: 20px;position: absolute;}
.copyRight a:hover{color: #15bb7e;text-decoration: underline;}

.linker{width: auto;height: 72px;padding-top: 16px;}
.linker .wx{width: 26px;height: 24px;margin-right: 8px;position: relative; }
.linker .wx .ah,.linker .qq .ah{display: none;}
.linker .wx:hover .a,.linker .wx .erweima,.linker .qq:hover .a{display: none;}
.linker .wx:hover .ah,.linker .wx:hover .erweima,.linker .qq:hover .ah{display: block;}
.linker .wx .erweima{width: 120px;height: 120px;border: 1px solid #a3d7c4; box-shadow: 0 0 3px 3px #a5d9c6;position: absolute;top: -125px;right: -50px;}
.linker .qq{width: 26px;height: 24px;margin-right: 8px;}

.selecter{border: 1px solid #ccc;width: 146px;height: 22px;font-size: 12px;line-height: 24px;color: #808080;position: relative;}
.selecter ul{width: 140px;height: 24px;line-height: 22px;padding-left: 6px; }
.selecter ul li ul{width: 140px; height:auto;background: #fff;padding-left:6px;border: 1px solid #ccc;border-bottom: none; position: absolute;bottom: 23px;right: 0px;display: none;}
.selecter ul li ul li{border-bottom: 1px dashed #ccc;height: 24px;overflow: hidden;}
.selecter ul li ul li a{color: #808080;display: block;}
.selecter ul li ul li a:hover{color: #019220;}
.selecter .up{position: absolute;top: 7px;right: 10px;}

.link{font-size: 14px;line-height: 24px;margin-right: -20px; }
.link a{display: inline-block;margin-top: 10px;padding: 0 16px;}
.link ul li{display: inline-block;position: relative;max-width: 88px;height: 34px;overflow: hidden;}
.link ul li:last-child:after{content:"";display: none;}
.link ul li:after{ content: "";position: absolute;right: 0px; top: 15px; z-index:2; background:#999;  width: 2px;height: 16px; }


.show{width: 1200px;height: 50px;overflow: hidden; background: #fff;border-radius: 6px 6px 0 0;position: absolute;top: 840px;left:50%;margin-left: -600px;}
.show .showcase a{width: 358px;height: 50px;overflow: hidden; font-size: 18px;line-height: 50px;color: #7a7a7a;float: left;border-right: 1px solid #ccc;padding: 0px 9px 0px 32px;}
.show .showcase a .cn{color: #333;max-width: 100px;height:50px;overflow: hidden;}

.show .showcase a .en{color: #999;max-width: 160px;height:50px;overflow: hidden;}
.show .showcase a .plus{width: 20px;height: 20px;line-height: 17px; text-align: center;background: #999;color: #fff;margin-top: 15px;}
.show .showcase a:hover{color: #7a7a7a;}
.show .showcase a:hover .cn{color: #333;}
.show .showcase a:hover .en{color: #15bb7e;}
.show .showcase a:hover .plus{background: #15bb7e;color: #fff;}

.pro_show{width: 1200px;height: 186px;position: absolute;top: 659px;left: 50%;margin-left: -600px;}
.pro_bg{width: 1200px;height: 186px;background: #15bb7e;filter:alpha(opacity=50);opacity: 0.5;display: block;}
.picScroll{height:140px;margin: 20px 30px;overflow: hidden;position: absolute;top:0px;left: 0;}
.picList li{float: left;display: inline-block;width: 208px;height: 140px;margin: 0 10px;position: relative;} 
.picList li a{width: 208px;height: 140px;display: table-cell;vertical-align: middle;text-align: center;}
.picList li a img{max-height: 100%;max-width: 100%;}
.picList li a .em2{ display: none;width: 208px;height: 140px;z-index: 1;top: 0; left: 0; position: absolute;background: #fff;filter:alpha(opacity=80);opacity: 0.8;box-shadow: 0 0 6px 6px #8ad9bc;border-radius: 5px;}
.picList li a:hover .em2{display: block;}
.picList li a .name0{width: 208px;height: 140px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;display:none;z-index: 2;position: absolute;top:0;left: 0; color: #15bb7e;font-size: 14px;text-align: center;line-height: 140px;}
.picList li a:hover .name0{display: block;}


.container{width: 1200px;height: auto;min-height: 650px; margin: 0 auto;position: relative;overflow: hidden;}
.left{width: 240px;height: auto;margin-right: 40px;}
.right{width: 900px;height: auto;margin-left: 20px;}
.left_bt{height: 36px;line-height: 36px;font-size: 20px;font-weight: bold;color: #333;border-bottom: 1px solid #ccc;overflow: hidden;}
.left_list{height: auto;}
.left_list .first li a{width:210px;height: 40px;line-height: 40px;padding-right:30px;overflow:hidden; display: block;text-indent: 10px;font-size: 16px;color: #616161;border-bottom: 1px solid #ccc; background: url(../images/left_a.png) 220px center no-repeat;border-bottom: 1px solid #ccc;}
.left_list .first li a:hover,.left_list .first li a.cu1{color: #15bb7e;background: url(../images/left_ah.png) 220px center no-repeat;}
.left_list .first li .second{border-bottom: 1px solid #ccc;}
.left_list .first li .second li a{font-size: 14px;color: #808080;border-bottom: none;background: none;text-indent: 2em;}
.left_list .first li .second li a:hover,.left_list .first li .second li a.cu2{color:#15bb7e;background: none; }
.left_list .first li .second li .third li a{text-indent: 3em;}
.left_list .first li .second li .third li a:hover{color: #333;font-weight: bold;}
.second,.third{display: none;}

.right_top{width: 100%; height: 36px;line-height: 36px; border-bottom: 1px solid #e6e6e6;}
.bt{width: 200px;text-indent: 36px;height: 36px;overflow: hidden; font-size: 18px;color: #15bb7e; background: url(../images/bt.png) left center no-repeat;}
.here{width: 600px;height: 36px;line-height: 36px; color: #616161;font-size: 12px;text-align: right;overflow: hidden;}
.here .front{color: #15bb7e;}
.content{height: auto;margin-bottom: 50px;overflow: hidden;}
.intro{height:auto;overflow: hidden; font-size: 14px;line-height: 24px;color: #333;margin-top: 30px;}
.intro img{max-height: 100%;max-width: 100%;}
.pro{height: auto;margin-top: 34px;overflow: hidden;}
.pro li{display: inline;width: 290px;height: 194px;float: left;margin: 5px 5px 10px 5px;position: relative;}
.pro li a{width: 290px;height: 194px;display: table-cell;vertical-align: middle;text-align: center;border: 1px solid #e6e6e6;}
.pro li a img{max-width: 100%;max-height: 100%;}
.pro li a .em1{ display: none;width: 292px;height: 196px;z-index: 1;top: 0; left: 0; position: absolute;background: #15bb7e;filter:alpha(opacity=70);opacity: 0.7;}
.pro li a:hover .em1{display: block;}
.pro li a .name{width: 292px;height: 196px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;display:none;z-index: 2;position: absolute;top:0;left: 0;color: #fff;font-size: 18px;text-align: center;line-height: 196px;}
.pro li a:hover .name{display: block;}

.next1{font-size: 14px; margin-top: 30px;height: 30px;}
.next1 a{width: 28px;height: 28px;border: 1px solid #ccc;color: #808080;line-height: 28px;text-align: center;margin-left: 10px; display: inline-block;}
.next1 a:hover{color: #fff;background: #15bb7e;}
.next1 a.on{color: #fff;background: #15bb7e!important;}

.pic{margin-top: 30px;height: 464px;}
.pic_l{width: 690px;height: 462px;margin-right: 18px;border: 1px solid #e6e6e6;overflow: hidden;}
.pic_l ul li i{width: 690px;height: 462px;display: table-cell;vertical-align: middle;text-align: center;}
.pic_l ul li i img{max-height: 100%;max-width: 100%;}
.pic_r{width:190px;height: 464px; }

.pic_Scroll{width: 100%;height: 464px;}
.pic_Scroll .pro_prev a{width: 100%;height:21px;margin-bottom: 10px;background: url(../images/qian.png) center center no-repeat;display: block; }
.pic_Scroll .pro_prev a:hover{background: url(../images/qian_h.png) center center no-repeat;}
.pic_Scroll .pro_next a{width: 100%;height:21px;margin-top: 10px;background: url(../images/hou.png) center center no-repeat;display: block;}
.pic_Scroll .pro_next a:hover{background: url(../images/hou_h.png) center center no-repeat;}
.pic_Scroll .bd{width: 100%;height: 402px;overflow: hidden;}
.pic_Scroll .bd ul li {margin-bottom: 10px;}
.pic_Scroll .bd ul li a{width: 186px;height: 123px;padding:1px;border: 1px solid #e6e6e6;display: table-cell;vertical-align: middle;text-align: center;/*filter:alpha(opacity=50);opacity: 0.5;*/position: relative;}
.pic_Scroll .bd ul li a:hover{padding:0px;border: 2px solid #15bb7e;filter:alpha(opacity=100);opacity: 1;}
.pic_Scroll .bd ul li a img{max-height: 100%;max-width: 100%;}
.pic_Scroll .bd ul li a em{display: block;width: 100%;height: 100%;position: absolute;left: 0px;top: 0px;background: #ffffff;z-index: 50;filter: Alpha(opacity=50);-webkit-opacity: 0.5;-moz-opacity: 0.5;-ms-opacity: 0.5;-o-opacity: 0.5;opacity: 0.5;}

.pic_Scroll .hd{display: none;}

.detail{height: auto;margin-top: 30px;overflow: hidden;}
.detail_l{height: auto;overflow: hidden; font-size: 14px;color: #333;line-height: 28px;}
.detail_l .detail_tit{font-size: 18px;line-height: 30px;}
.detail_l .detail_nr{margin-bottom: 20px;}
.detail_nr img{max-width: 100%;max-height: 100%;}
.detail_r{margin-top: 10px;}
.limit_w{width: 680px;}
.next2 a{font-size: 14px;line-height: 30px;color: #333;width: 680px;}
.next2 a:hover{color: #15bb7e;}
.back a{width: 120px;height: 34px;background: #d2d2d2;color: #333;font-size: 14px;margin: 12px 0px;text-align: center;line-height: 34px;display: block;}
.back a:hover{color: #fff;background: #15bb7e;}
.share img{margin-right: 6px;display: inline-block;}

.news_list{width: 100%;height: auto;overflow: hidden; margin-top: 28px;}
.news_list li a{white-space: nowrap; text-overflow:ellipsis;overflow: hidden; width: 100%; font-size: 14px;line-height: 40px;height: 40px; color: #333;display: block;border-bottom: 1px dashed #ccc;}
.news_list li a:hover{color: #15bb7e;}
.hint{margin-top: 28px;height: 40px;line-height: 40px;font-size: 18px;color: #808080;text-align: center;}

.news{width: 100%;height: auto;overflow: hidden; margin-top: 20px;}
.news_eg{width: 100%;height: 138px;padding: 20px 0px;display: block;border-bottom: 1px solid #e6e6e6;}
.news_eg .news_pic{width: 204px;height: 138px;}
.news_eg .news_pic a{width: 188px;height: 122px;padding: 7px;border: 1px solid #ccc;display: table-cell;vertical-align: middle;text-align: center;}
.news_eg .news_pic a:hover{padding: 6px;border: 2px solid #15bb7e;}
.news_eg .news_pic a img{max-width: 100%;max-height: 100%;}
.news_eg .news_intro{width: 670px;height: 138px;font-size: 14px;line-height: 30px;color: #666;margin-left: 20px;}
.news_eg .news_intro .news_tit{font-size: 18px;color: #333;height: 30px;line-height: 30px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
.news_eg .news_intro .news_nr{height: 48px;line-height: 24px;margin: 10px 0px 16px; overflow: hidden;}

.news_det{width: 100%;height: auto;margin-top: 42px;overflow: hidden;}
.title{font-size: 18px;line-height: 40px;color: #333; text-align: center;}
.date,.date a{font-size: 12px;line-height: 26px;color: #808080;text-align: center;padding-bottom: 10px;}
.date a:hover{color: #15bb7e;}
.nr{font-size: 14px;line-height: 26px;color: #333;}
.nr p{padding: 10px 0px;}
.nr img{max-width: 100%;max-height: 100%;}
.det_more{border-top: 1px dashed #ccc;padding-top: 14px;position: relative;}
.position{position: absolute;top: 20px;right: 0px;}


