/*全局变量start*/
@charset "utf-8";
*{ margin:0px; padding:0px;}
a,a:link,a:visited,a:hover{text-decoration:none; }
a{ color:#666666}
a:hover{ color:#ff6600}
a img{ border:none;}
img{ vertical-align:top;}
#clear{ clear:both;}
table{ font-size:12px;border-collapse:collapse; border-spacing:0px;}
body{font-size:12px; text-align:left;font-weight:normal; line-height:24px; font-family:"微软雅黑", Arial, Helvetica, sans-serif;  color:#666666; 
background:#f9f9f9;}
a{blr:expression(this.onFocus=this.blur())} /*a{ -webkit-tap-highlight-color:rgba(0,0,0,0);  }  去掉链接触摸高亮 */
a{outline:none;} /*for Firefox*/
h1,h2,h3,h4,h5,input{font-size:12px; font-weight:normal;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td,i{ margin:0px; padding:0px;}
ol,p,dl,li{list-style:none;}

.public{ width:1000px; height:auto; margin:0px auto; position:relative;}/*公用标签*/
.left{ float: left;}
.right{ float: right;}

.heard{ height:624px; width: 100%; position: relative; overflow: hidden;}
.top{ height: 106px; position: relative; z-index: 101;}
.logo{ position: absolute; z-index: 9999; height:106px; background: #ffffff; width: 20%;}
.logo:after{ content:""; float: right; position: absolute;  right: -180px; z-index: 255;
			border-top:106px solid #ffffff;
			border-right: 180px solid transparent;
			}
.logo a{ left: 0px; width: auto;  position: absolute; z-index: 9999; overflow: hidden;}
.logo a img{ max-height: 106px;}


/*搜索*/
.top .search{ height: 54px; text-align: right; padding-top: 10px;}
.top .txta{ border: none; background: #ffffff; width:230px; height: 36px;  border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5; text-indent: 1em;}
.top .bta{ height:36px; width:36px; border:none; cursor:pointer; text-indent:-1000px; font-size:0px; position: absolute; right:0px; background: url(../images/ss.png) no-repeat;}


/*导航样式*/
.top .menu{ height: 42px; background:#242527;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden; }
.nav{ padding:0 0px; margin: 0 auto; height:100%; line-height:42px; position:relative; z-index:100; width:730px;padding-left:270px; }
.nav a{ color:#fff;}
.nav .nLi{ float:left; text-align:center; position:relative; display:inline; width:100px;font-size:15px;}
.nav .nLi h3{ text-align:center;}
.nav .nLi h3 a{ display:block; font-size:14px; width:100%;text-align:center; height:42px;overflow:hidden;}

.nav .sub{ display:none; width:130%; font-size:14px; top:42px;  position:absolute; filter:alpha(opacity:90); opacity:0.9; -moz-opacity:0.9;-khtml-opacity: 0.9; background:#ffae00; border-top:none; }
.nav .sub li{ zoom:1;  height:25px; text-align:center; line-height:25px; margin:0px auto; overflow:hidden;}
.nav .sub a{ display:block; padding:0 0px; color:#fff;}
.nav .sub a:hover{background:#ff9000; }
.nav .on h3 a{background: #ffae00;}
.nav .current h3 a{background: #ffae00;}


/*banner*/
.baner{ width:1920px; height:100%; left:50%; margin-left:-960px; overflow:hidden; position:absolute; margin-top: -106px; }
.focusBox { position: relative; width:100%; height:100%; text-align:center;  }
.focusBox .pic{ width:100%; text-align:center;}
.baner .focusBox .pic img {height:624px; }
.focusBox .hd { width:60%; position: absolute; bottom: 0px; text-align: center; font-size:0; height:23px; z-index:1; padding-top:8px; }
.focusBox .hd li{margin: 0 3px; background: url(../images/dot.png) no-repeat 0 -16px; height: 16px; overflow: hidden; width: 16px; cursor: pointer;
	display:inline-block; *display:inline; zoom:1; 
}
.focusBox .hd .on{ background-position:0 -1px; }
.focusBox .next { width: 60px; height: 90px; margin: -60px 0 0; display: none;  position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; filter:alpha(opacity=20);opacity:0.2;  }
.focusBox .prev { left: 0; }
.focusBox .next { background-position: 0 -90px; right: 0; }
.focusBox .next:hover { filter:alpha(opacity=50) !important;opacity:0.5 !important;  }

/*内页banner*/
.baner1{ width:1920px; height:100%; left:50%; margin-left:-960px; overflow:hidden; position:absolute; margin-top: -106px; }
/*.baner1 .focusBox .pic img {height:624px; }*/

/*banner上的联系方式*/
.contact{ position: relative; width: 1000px; margin: 0 auto;  z-index: 89;}
.contact .con{ width: 500px; height: 120px; position: absolute; bottom: -518px; right: 0;  z-index: 89;}
.contact .con h3{ height: 60px; width: 440px; padding-right: 60px; text-align: right; line-height: 60px; color: #ffffff; font-size: 14px;}
.contact .con h3 span{ display: block; height: 40px;  font-size: 32px; line-height: 40px;}
.contact .con h3 i{ display: block; height: 20px; line-height: 20px;}
.contact .con .time{ background: url(../images/time.png) center right no-repeat; }
.contact .con .address{ background: url(../images/address.png) center right no-repeat; }
.contact:after{ content: "";  width: 0; height: 0; position: absolute; 
z-index: 88; border-top: 624px solid transparent;border-right: 1060px solid #ff9000; left: 500px; bottom: -518px;}

/* 主内容*/
.main{ height:auto;}
.main:after{ content: "";  width: 0; height: 0; position: absolute; 
z-index: 88; border-bottom: 624px solid transparent;border-left: 1060px solid #2883c2; right: 500px; top: 0px; z-index: -2;}
.main1:after{ content: "";  width: 0; height: 0; position: absolute; 
z-index: 88; border-bottom: 624px solid transparent;border-left: 1060px solid #2883c2; right: 702px; top: 0px; z-index: -2;}


/* 滚动*/
.service{ height: auto; padding-bottom: 40px;}
.service .p_title{ width: 100%; height: 50px; padding: 34px 0;}
.service .p_title span{ display: block; text-align: center;}
.service .p_title a{line-height: 50px; padding: 10px; color: #ff6600; text-align:center; font-size: 28px; border-bottom: 3px solid #ff6600;}

.photos {position:relative;}
.photos .photos-button {position: absolute; top: 130px;width: 10px;height: 10px;z-index: 10;display: block; padding: 15px; background:#2883c2;}
.photos .photos-button:hover{background:#ff9000;}
.photos .prev i{ display: block; width: 10px; height: 10px; border-left: 2px solid #ffffff; border-top: 2px solid #ffffff;}
.photos .next i{ display: block; width: 10px; height: 10px; border-right: 2px solid #ffffff; border-top: 2px solid #ffffff;}
.photos .prev{left: -60px; transform: rotate(-30deg);-ms-transform: rotate(-30deg);		/* IE 9 */-webkit-transform: rotate(-30deg);	/* Safari and Chrome */-o-transform: rotate(-30deg);		/* Opera */-moz-transform: rotate(-30deg);		/* Firefox */}
.photos .next{right: -60px;transform: rotate(30deg);-ms-transform: rotate(30deg);		/* IE 9 */-webkit-transform: rotate(30deg);	/* Safari and Chrome */-o-transform: rotate(30deg);		/* Opera */-moz-transform: rotate(30deg);		/* Firefox */}

.photos li {float:left;display:inline; border-radius: 4px; width:298px;padding:10px; height: auto; overflow:hidden; background: #ffffff; margin: 0 7px;}
.photos li img {width:298px; max-height: 350px;  vertical-align:top; display:block; }
.photos li a.more { color:#333333; font-size: 14px;text-decoration: underline; line-height: 30px; }
.photos li a.more:hover{ color:#ff9000;text-decoration: underline;}
.photos li h3{ padding-top: 8px;  height: 30px; line-height: 30px; width: 100%; overflow: hidden; font-size: 18px; color:#2883c2; }
.photos li p{ width: 100%; height: 66px; line-height: 22px; overflow: hidden; color: #666666;}

/* about*/

.main_bottom{ height: 272px; overflow: hidden; width: 100%; margin-bottom: 45px;}
.main_bottom h2{ width: 100%; height: 69px; margin-bottom: 10px; line-height: 69px; color: #ff6600; font-size: 26px; text-align: center; background:url(../images/tite_img.png) center no-repeat;  }
.main_bottom .about{ width:480px; height: auto; }
.about .about_con { width: 100%; height:193px; overflow: hidden; font-size: 14px; line-height:24px; text-indent: 2em;}
.about_con img{  height: 193px; max-width: 270px; float: left; margin-right: 14px; }

/* news*/
.main_bottom .new{ width:480px; }
.new_hot{ width: 100%; height: 122px; overflow: hidden; margin-bottom: 11px;}
.new_hot img{ max-width: 240px; height: 122px; float: left; margin-right: 12px;}
.new_hot .new_hot_con{  width: 100%; height: 122px;}
.new_hot_con h3 a{ display: block; height:30px; line-height: 30px; color: #333333;  font-size: 14px; overflow: hidden;}
.new_hot_con h3 a:hover{ color: #ff6600;}
.new_hot_con p{ height: 66px; line-height: 22px; overflow: hidden; text-indent: 2em;}
.new_hot_con time{ color: #999999;}

.new ul{ width: 100%; height: 60px; overflow: hidden;}
.new ul li{ height: 30px; line-height: 30px; font-size: 14px; overflow: hidden; }
.new ul li a{ background:url(../images/dd1.png) left center no-repeat; text-indent: 1em; display: block; overflow: hidden; white-space: nowrap;text-overflow: ellipsis;}
.new ul li a:hover{color: #2883c2;background:url(../images/dd.png) left center no-repeat;}
.new ul li time{ float: right; color: #999999;}

/* 底部导航*/
.footer{border-top: 3px solid #ff9000; height:auto; width: 100%; position: relative; background: #242527; }
.footer .top{ position: absolute;}
.xnav{ position: relative; z-index: 99;  top: -3px;width: 1000px; margin: 0 auto; height: 106px;}
.xnav ul{ width: 813px; float: left; background: #efefef; height: 100%;  border-left:1px solid #dfdfdf;}
.xnav ul li{ float: left; text-align: center; height: 106px; overflow: hidden; }
.xnav ul li a{ font-size: 14px; color: #333333; display: block; line-height: 106px; height: 106px; overflow: hidden;border-right:1px solid #dfdfdf;}
.xnav ul li a:hover{border-top: 3px solid #ff9000; color:#ff9000; line-height: 100px; }
.footer:after{ background: #efefef;content: "";  width:50%; height: 106px; top: -3px; position: absolute; }
.xnav i{ width: 0; float: right; height: 0; border-top: 106px solid #ff9000; border-right: 186px solid #ff0000; border-color:#efefef transparent transparent transparent; }
.xnav  .current h3 a{border-top: 3px solid #ff9000; color:#ff9000; line-height: 100px; }

/* 底部版权*/
.xtop{ position: absolute; top: 70px; right:0; height: 63px; width: 50px;}
.copy{ height: auto; min-height: 44px; padding: 20px 0; line-height: 22px;}

/* 内页*/
.nheard{ height:484px; width: 100%; position: relative; overflow: hidden;}
.bo{ clear: both;}

/* 内页左侧分类*/
.nleft{ width:251px; height:auto; margin-right:29px; margin: 25px 0 35px;}
.nlefttitle{ width: 100%; height: 50px; line-height: 50px; background:#ff9000; font-size: 20px; border-radius:4px 4px 0 0; color: #ffffff; text-indent: 1em;}

.list{ height:auto; overflow:hidden;border-radius: 0 0 4px 4px; margin-bottom: 20px;  padding:15px 15px; background: #ffffff; box-shadow:0px 3px 0px #b8c7d1;}

.list ul li a{display:block; height:36px; line-height:36px; text-indent: 12px; background:url(../images/ndd.jpg) left center no-repeat; font-size:16px; color: #333333; border-bottom: 1px dashed #cccccc;}
.list ul li a:link,.list ul li a:visited{ color:#333333; }
.list ul li a:hover{ color:#2883c2; background:url(../images/ndd1.jpg) left center no-repeat;  }
.list ul li a.choose{ color:#2883c2;background:url(../images/ndd1.jpg) left center no-repeat; }

ul.second{ width:100%; height:auto; overflow:hidden; display:none;}
ul.second li a{font-size:14px;height:auto; height:30px; line-height:30px; border:none;}
ul.second li a:link,ul.second li a:visited{ color:#333; background:none;}
ul.second li a:hover{color:#2883c2; background:none;}

ul.third li a{width:100%; font-size:12px;height:auto; line-height:24px;height:24px; display:block; border:none; text-indent: 24px;}
ul.third li a:link,ul.third li a:visited{ color:#666666;}
ul.third li a:hover{color:#2883c2; font-weight: bold;}

.list li ul ul.third { display:none; margin:0px;}
.list ul li ul.second ul.third { display:none; margin:0px;}
.list ul li ul.second{ display:none;}

.list  li.current ul.second li.current ul.third{ display:block; margin:0px;}
.list  li.current ul.second { display:block;}

.list  li.current a.selected{ color:#2883c2; background:url(../images/ndd1.jpg) left center no-repeat; }
.list  li.current ul.second li a.selected { color:#ff9000; background:none;}
.list  li.current ul.second li ul.third li a.selected{ color:#ff9000; background: none; }
.clear{ clear: both;}

/* 内页左侧分类联系我们*/
.ncontact{ padding: 16px; background: #ffffff; border-radius:4px; box-shadow: 0px 3px 0px #b8c7d1;}
.ncontact span{ display: block; font-size: 29px; color:#ff9000;}
.ncontact i{ font-size: 14px; color: #ff9000;}
.ncontact .address{ font-size: 14px; color: #666666; line-height: 22px; padding-top: 8px;}


/* 内页右侧title*/
.nright{min-height:400px; _height:expression(this.scrollHeight < 400? "400px" : "auto") ;  margin:25px 0 35px; width:720px; overflow: hidden;}
.right_title{ position: relative; height:48px; line-height:48px; color:#edcd8c; font-size:20px;}
.right_title span{font-size:14px; color:#333333; display: block; border-bottom: 2px solid #b8c7d1;}
.right_title span a{ color:#666666;}
.right_title span a:hover{ color:#ff9000;}
.right_title b{ color:#ff9000; position: absolute; right: 0; top: 0; font-size: 20px; padding-left: 25px; border-bottom: 2px solid #ff9000; z-index: 2;}

/* 内页右侧main*/
.deteo{ overflow: hidden; font-size: 14px; line-height:28px;}
.ny_about{ color:#666666;  padding-top: 15px; text-align:Justify;text-justify:inter-ideograph;}

/* 文字列表*/
.news_deta5{ height:auto; overflow:hidden; padding-top: 15px;}
.news_deta5 li{ width: 100%;overflow:hidden;}
.news_deta5 li a{display: block;line-height: 34px;height:34px; border-bottom: 1px dotted #cccccc;white-space: nowrap;text-overflow: ellipsis; overflow:hidden;background:url(../images/dd1.png) no-repeat left center; text-indent:12px;}
.news_deta5 li span{float:right;  margin-left:10px;}
.news_deta5 li a:link,.news_deta5 li a:visited{ color:#666666;}
.news_deta5 li a:hover{ color:#2883c2; background:url(../images/dd.png) no-repeat left center;}

/* 图片列表*/
.ny_prod{overflow:hidden; padding-top: 15px;}
ul.inner_pro{height:auto; overflow:hidden;}
ul.inner_pro li{ float:left; margin:0 10px;display:inline; min-height: 220px;}
ul.inner_pro li a{display:block; width:220px; color:#666666;overflow:hidden; padding:8px 0;}
ul.inner_pro li a:hover{color:#ff9000; }
ul.inner_pro li a img{ width:220px; vertical-align:top;}
ul.inner_pro li a:hover img{  padding: 4px; border:1px solid #2883c2; width: 210px;}
p.photo_title{text-align:center; height:28px; line-height:28px; overflow: hidden; white-space: nowrap;text-overflow: ellipsis;}

/* 图文列表*/
.news_deta4{ width:100%; height:auto; overflow:hidden;}
.news_deta4 ul li{ padding: 15px 0; height:122px; border-bottom: 1px dashed #cccccc; overflow:hidden;}
.nimgb{ height: 122px; float:left; display:inline; margin-right:15px;}
.nimgb img{ height: 122px; max-width: 300px;}
.right_news{ width: 100%;}
.right_news h3 a{height:32px; line-height:32px; display: block; font-weight:bold; color: #333333; font-size:16px; overflow: hidden;}
.right_news h3 a:hover{ color:#ff9000;}
.nlist_word{ height:66px; line-height:22px;text-align:Justify;text-justify:inter-ideograph; color:#666666; font-size:12px; overflow:hidden;}
.nlist_word a{ color:#333333; font-size: 12px;}
.nlist_word a:hover{ color:#ff9000;}
.right_news h4{ height: 24px; line-height: 24px; color: #999999;}

/*详细页*/
.main_right_con{ padding:25px 0 0; overflow:hidden;}
h1.inner_news_tit{line-height: 30px; text-align:center; font-size:16px;  color:#333333; font-weight: bold; }
h2.inner_news_time{height:25px; line-height:25px;color:#999999; margin-bottom:15px;text-align:center;}
h2.inner_news_time a{ color:#808080;}
h2.inner_news_time a:hover{ color:#ff9000; text-decoration:underline;}
.edit{overflow:hidden;text-align:Justify;text-justify:inter-ideograph; padding-bottom:20px;    padding-top: 10px;}
.inner_pages{ padding-top:10px; width: 100%; overflow: hidden;}
.inner_pages a{color:#333333; height: 28px; line-height: 28px;}
.inner_pages a:hover{color:#ff9000;}

/*详细页多图*/
.slideBox{ width:100%;  overflow:hidden; position:relative;}
.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; display:none; cursor:pointer; }
.slideBox .hd ul li.on{ background:#f00; color:#fff; }
.slideBox .bd{ position:relative;z-index:0; width:500px;margin:0px auto; text-align:center;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{ display:block; margin:0px auto; text-align:center; }
/* 下面是前/后按钮代码，如果不需要删除即可 */
.slideBox .prev,
.slideBox .next{ position:absolute; left:3%; top:50%; margin-top:-25px; display:block; width:32px; height:40px; background:url(../images/prev.png) left no-repeat;}
.slideBox .next{ left:auto; right:3%; background:url(../images/next.png) right no-repeat; }
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  }

/*search结果页*/
.search_res{ text-align: center; font-size: 18px; line-height: 40px; color: #999999;}
.search_res span{ color: #ff9000; font-weight: bold;}

/* 分页*/
.module_page{ width:100%; line-height:30px;margin-top:30px;text-align:center; height:30px;}
.module_page a{ text-decoration:none; color:#666666;  background:#eaeaea; padding:3px 4px;}
.module_page span{ padding:0 10px;}
.module_page a:hover{ text-decoration:none; color:#fff; background:#8c8c8c}
.module_page select{ margin-left:5px; color:#000;}
.module_page a.current{ text-decoration:none; color:#fff; background:#ff9000;}