<header id="head">
	<nav class="menu">
		<div class="logo"><a href="{$site_url}"><img src="{$logo}"></a></div>
		<ul class="nav">
			<li><a href="{$site_url}">首 页</a></li>
			{foreach item=nav from=$navs}
			<li>
				<a href="{$nav.link}">{$nav.name}</a>
				{if $nav.childmenu}
				<ul class="subnav">
					{foreach item=nav_list from=$nav.childmenu}
					{if $nav_list@index + 1 gt 1}<i></i>{/if}
					<li><a href="{$nav_list.link}">{$nav_list.name}</a></li>
					{/foreach}
				</ul>
				{/if}
			</li>
			{/foreach}
		</ul>
		<div class="nav_back"></div>
	</nav>
</header>
