
<div class="classify-list pr oh">
	{if $pagenavs}
		<ul class="first pr oh">
			{foreach item=nav from=$pagenavs}
			<li>
				<a href="{$nav.link}"><span>{$nav.name}</span></a>
				{if $nav.childmenu}
				<div class="symbol"></div>
				<ul class="second">
					{foreach item=nav_list from=$nav.childmenu}
					<li>
						<a href="{$nav_list.link}"><span>{$nav_list.name}</span></a>
						{if $nav_list.childmenu}
						<div class="symbol"></div>
						<ul class="third">
							{foreach item=nav_last from=$nav_list.childmenu}
								<li><a href="{$nav_last.link}"><span>{$nav_last.name}</span></a></li>
							{/foreach}
						</ul>
						{/if}
					</li>
					{/foreach}
				</ul>
				{/if}
			</li>
			{/foreach}
		</ul>
	{else}  <!-- 无子栏目时 -->
		<ul class="first pr">
			{foreach item=nav from=$global.pagenavs.childmenu}
			<li>
				<a href="{$nav.link}"><span>{$nav.name}</span></a>
				{if $nav.childmenu}
				<div class="symbol"></div>
				<ul class="second">
					{foreach item=nav_list from=$nav.childmenu}
					<li>
						<a href="{$nav_list.link}"><span>{$nav_list.name}</span></a>
						{if $nav_list.childmenu}
						<div class="symbol"></div>
						<ul class="third">
							{foreach item=nav_last from=$nav_list.childmenu}
								<li><a href="{$nav_last.link}"><span>{$nav_last.name}</span></a></li>
							{/foreach}
						</ul>
						{/if}
					</li>
					{/foreach}
				</ul>
				{/if}
			</li>
			{/foreach}
		</ul>
	{/if}
	<div class="shaow"></div>
</div>
