{if $pagenavs}
<div class="title">
	<h3><i>{$posnavs[0].name}</i></h3>
	<span>{$posnavs[0].en_name}</span>
</div>
<div class="l_list">
	<ul class="firstul">
	{foreach name=pagenavs item=nav from=$pagenavs}
		<li class="firstli {if $nav.current} on {/if}">><a href="{$nav.link}" class="c">{$nav.name}</a>
			<ul class="secondul">	
			{if $nav.childmenu}
				{foreach item=nav_list from=$nav.childmenu}
					<li class="secondli {if $nav_list.current} on {/if}">><a href="{$nav_list.link}" class="cc">{$nav_list.name}</a>	
						<ul>
						{if $nav_list.childmenu}
						{foreach item=nav1_list from=$nav_list.childmenu}
							<li class="{if $nav1_list.current} on {/if}"><a href="{$nav1_list.link}">{$nav1_list.name}</a></li>
						{/foreach}
						{/if}
						</ul>						
					</li>
				{/foreach}						
			{/if}
			</ul>			
		</li>					
	{/foreach}	
	</ul>
</div>
{else}
<div class="title">
	<h3><i>{$_pagenavs_sub3.pagenavs.name}</i></h3>
	<span>{$_pagenavs_sub3.pagenavs.en_name}</span>				
</div>
<div class="l_list">
	<ul class="firstul">
	{foreach name=pagenavs item=nav from=$_pagenavs_sub3.pagenavs.childmenu}
		<li class="firstli">><a href="{$nav.link}" class="c">{$nav.name}</a>
			<ul class="secondul">	
			{if $nav.childmenu}
				{foreach item=nav_list from=$nav.childmenu}
					<li class="secondli">><a href="{$nav_list.link}" class="cc">{$nav_list.name}</a>
						<ul>
						{if $nav_list.childmenu}
						{foreach item=nav1_list from=$nav_list.childmenu}
							<li><a href="{$nav1_list.link}">{$nav1_list.name}</a></li>
						{/foreach}
						{/if}
						</ul>					
					</li>
				{/foreach}						
			{/if}
			</ul>				
		</li>					
	{/foreach}	
	</ul>
</div>
{/if}
<div class="addr">
	<p>公司地址：{$contact.address}</p>
	<p>联系电话：{$contact.telephone}</p>
	<p>传真：{$contact.fax}</p>
	<p>投诉邮箱：{$contact.mail}</p>
</div>


