@charset "utf-8";
/* CSS Document */
*{ margin:0px; padding:0px;}
a,a:link,a:visited,a:hover{text-decoration:none; transition:all 0.3s linear;-moz-transition:all 0.3s linear;-ms-transition:all 0.3s linear;-o-transition:all 0.3s linear;-webkit-transition:all 0.3s linear; }
a{ color:#362e2b}
a:hover{ color:#c39148;cursor: pointer;}
a img{ border:none;}
#clear{ clear:both;}
table{ font-size:12px;border-collapse:collapse; border-spacing:0px;}
body{text-align:left;font-weight:normal; line-height:24px; font-family:"微软雅黑";  color:#ffffff; background:#ffffff; font-size:14px;}
a{blr:expression(this.onFocus=this.blur())} /*a{ -webkit-tap-highlight-color:rgba(0,0,0,0);  }  去掉链接触摸高亮 */
a{outline:none;} /*for Firefox*/
h1,h2,h3,h4,h5,input{font-size:12px; font-weight:normal;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td,i{ margin:0px; padding:0px;}
ol,p,dl,li{list-style:none;}

/*header*/
#header{width:100%;height:auto;overflow: hidden;}
#header .left{width:60%;height: auto;float: left;overflow: hidden;position: relative;}
.left .logo{width:200px;height:86px;position: absolute;top: 23px;left: 30%;z-index: 2;}
.left .banner{width:1500px;height:718px;}
.slideBox{ width:100%; height:718px; overflow:hidden;position: relative;}
.slideBox .hd{ height:10px; overflow:hidden; position:absolute; left:3%; bottom:14px; z-index:3; }
.slideBox .hd ul{ overflow:hidden; zoom:1;}
.slideBox .hd ul li{border-radius: 50%; float:left; margin:0 10px; width:10px; height:10px;background: #fff; cursor:pointer;}
.slideBox .hd ul li.on{ width:10px;height: 10px; background:#cfa972;}

.slideBox .banimg{ width: 100%; height:100%; overflow: hidden;}
.slideBox .banimg li{ zoom:1; vertical-align:middle; }
.slideBox .banimg img{ width:100%; height:718px; display:block; }
.left .news{width:100%;height: 180px;background: #f5f6fb;}
.left .news .newss{width: 759px;height: 100%;float: right;}
.newss .news_left{width: 326px;height:122px;padding: 29px 38px 29px 0;float: left;/*background: url(../images/synews.jpg) center center no-repeat;*/position: relative;}
.newss .news_left:after{content: "";width: 0;height: 0; position: absolute; left:100%;bottom:46%; z-index: 10;
			border-top:12px solid transparent;border-left: 11px solid #f5f6fb;border-right:11px solid transparent;border-bottom:12px solid transparent;}
.newss .news_left p{font-size: 24px;color: #cfa972;position: absolute;top:60px;right:58px;}
.newss .news_left p span{font-size: 16px;color: #969696;line-height: 30px;}
.newss .picScroll-left{width: 320px;height:124px;background: #fcfdff;float: right;padding: 28px 37px;position: relative;}
.picScroll-left .bd{width: auto;height: 124px;overflow: hidden;}
.picScroll-left .bd ul li{width: 320px;height: 124px;float: left;display: inline;overflow: hidden;}
.picScroll-left .bd ul li .ndate{width: 114px;height: 72px; border:1px solid #cfa972; padding: 17px 14px;background: url(../images/index1_08.jpg) center center no-repeat;float: left;}
.picScroll-left .bd ul li .ndate .y{height: 40px;overflow: hidden;color: #59493f;line-height: 30px;}
.picScroll-left .bd ul li .ndate .y span{font-size: 36px;vertical-align: text-top;padding-right: 5px;}
.picScroll-left .bd ul li .ndate .d{width:100%;height: 36px;overflow: hidden;color: #59493f;line-height: 30px;text-align:right;}
.picScroll-left .bd ul li .ndate .d span{font-size: 36px;padding-right: 5px;}
.picScroll-left .bd ul li .newtext{width:144px;height:auto;float: right; }
.picScroll-left .bd ul li .newtext .title{width: 140px;height: 60px;overflow: hidden; font-size: 18px;color: #362e2b;line-height: 30px;}
.picScroll-left .bd ul li .newtext .nnr{width: 144px; height: 44px;overflow: hidden; color: #929292;line-height: 22px;}
.picScroll-left .hd{ height:6px;overflow: hidden;position: absolute;bottom: 20px;left:40%;z-index: 3;}
.picScroll-left .hd ul{ overflow:hidden; zoom:1;}
.picScroll-left .hd ul li{ float:left; margin:0 15px; width:6px; height:6px;border-radius: 50%;background: #959595; cursor:pointer;}
.picScroll-left .hd ul li.on{background:#cfa972;}
.left .cont{width:100%;height: 180px;background: url(../images/cont.jpg) center center no-repeat #cfa972;}
.left .cont .contact{width: 758px;height:134px;float: right;padding-top: 46px;position: relative;}
.left .cont .contact ul li{width:128px;height:101px;padding: 0 92px 0 32px;float: left;text-align: center;}
.left .cont .contact ul li .icon a{color: #fff;}
.left .cont .contact ul li i{width: 48px;height: 53px;display: block;padding-left:38px;font-size:45px;line-height: 53px;transition: .3s transform;}
.left .cont .contact ul li i:hover{transform: scale(1.1, 1.1);transition: .3s transform;}
.left .cont .contact ul li p{width: 100%;height:24px;padding-top:20px;overflow: hidden;}
.left .cont .conbg1{width:92px;height: 25px;background: url(../images/ml.png) center center no-repeat;position: absolute;top:66px;right:30%; }
.left .cont .conbg2{width:92px;height: 25px;background: url(../images/ml.png) center center no-repeat;position: absolute;top:66px;right:64%; }

#header .right{width:40%;height: auto;overflow: hidden;float: left;}
.right .right_top{width: 100%;height: 718px;background: #cfa972;position: relative;}
.right_top .menu{cursor: pointer;width:37px;height: 37px;background: url(../images/menu.png) center center no-repeat;position: absolute;top:36px;left: 48%;z-index: 3; }
.right_top .ab{width:31px;height: 31px;background: url(../images/menu2.png) center center no-repeat;position: absolute;bottom:100px;left: 24%;}
.right_top .ab a{width: 31px;height: 31px;display: block;}
.right_top .about{height: 102px;width: 350px;overflow: hidden;padding:305px 0 0 84px;font-size: 19px;line-height: 35px;}
.right_top .about span{font-family: "Arial,微软雅黑";font-size: 46px;}
.right_top .menu_nav{width: 100%;height: 100%;background: #f4f4f4;position: absolute;display:none; z-index: 4;}
.menu_nav .close{width: 24px;height: 24px;display: block; text-align: center;position: absolute;top:20px;left:27%;}
.menu_nav .ntitle{width:134px;height: 56px; padding:12% 0 0 18%;display: block;}
.menu_nav .navs{width:350px;padding:3% 0 0 20%;}
.menu_nav .navs ul li{width: 100%;height:auto;padding:14px 0;position: relative;}
.menu_nav .navs ul li a{width:250px;height:30px;display: block;line-height: 30px;padding-left: 30px;overflow: hidden;}
.menu_nav .navs ul li a:hover,.menu_nav .navs ul li a.current,.menu_nav .navs ul li a.in{color: #bf985f;background: url(../images/navml.png) 0 center no-repeat;}
.clear{clear:both;}
/*.menu_nav .navs ul li .erji{display: none;width:500px;padding-left:46px;}
.menu_nav .navs ul li .erji li{width: 100px; padding: 0;float: left;}
.menu_nav .navs ul li .erji li a{display: block;width: 100px;height:40px;line-height: 40px;padding-left: 0;overflow: hidden;}
.menu_nav .navs ul li .erji li a:hover{background: none;}*/

.right .right_bot{width:100%;height: 360px;text-align: center;vertical-align: middle;/*display: table-cell;*/line-height: 0;overflow: hidden; }
.right .right_bot img{/*max-width: 100%;max-height: 100%;*/width: 100%;height: 100%; transition: .3s transform;}
.right .right_bot:hover img{transform: scale(1.1, 1.1);transition: .3s transform;}

#footer{width: 100%;height: auto;overflow: hidden;padding: 20px 0;background: #362e2b;}
#footer .link{width:1068px;height: auto;margin:0 auto;padding-bottom: 20px;}
.link a{width:95px;height: 45px;margin:0 26px;}
#footer p{width:100%;font-size: 12px;text-align: center;}
#footer p a{color: #fff;}
#footer p a:hover{color: #c39148;}
/*about*/
#header2{width: 100%;height: auto;overflow: hidden;}
#header2 .nbanner{width: 100%;height:260px;}
.nslideBox{ width:100%; height:260px; overflow:hidden;}
.nslideBox .nbanimg{ width: 100%; height:100%; overflow: hidden;}
.nslideBox .nbanimg li{ zoom:1; vertical-align:middle; }
.nslideBox .nbanimg img{ width:100%; height:260px; display:block; }
.nslideBox .prev,.nslideBox .next{font-family: "幼圆"; width:50px;height:50px;display: block;font-size:64px;color: #444243;font-weight: bold;}
.nslideBox .prev:hover,.nslideBox .next:hover{color: #c39148;}
.nslideBox .prev{position: absolute;top:65px;left:1.5%;}
.nslideBox .next{position: absolute;top:65px;left:96%;}
#header2 .posnavs{font-size: 102px;width:50%;height: 260px;line-height: 260px;position: absolute;top: 0;left:23%; }
#header2 .right_top{width:40%;height:718px;position:absolute;top:0px;right:0;}
#header2 .right_top .menu_nav{width: 100%;height: 100%;background: #f4f4f4;position: absolute;display:none; z-index: 4;
                              background-color:rgba(244,244,244,.9);filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#8ff4f4f4,endcolorstr=#8ff4f4f4);
                              -moz-box-shadow:0px 4px 9px #999999; -webkit-box-shadow:0px 4px 9px #999999; box-shadow:0px 4px 9px #999999;}
#mild{width: 1200px;height:auto;overflow: hidden;margin: 0 auto;padding: 40px 0;position: relative;}
#mild .mild_left{width:227px;height:auto; float: left;}
.mild_left .m_l_top{width:227px;height:94px;background: #d5a763;text-align: center;font-size: 24px;padding-top: 40px;line-height: 28px; }
.mild_left .m_l_top span{font-size: 18px;}
.mild_left .ny_left_nav{width:200px;height: auto;padding:30px 0 20px 25px;border:1px dashed #d5cfc9;margin-top:16px;}
.mild_left .ny_left_nav .ce{width: 100%;display: block;}
.mild_left .ny_left_nav .ce li{width: 100%;height: auto;}
.ny_left_nav .ce li a{width:175px;height:40px; color: #808080; display: block; line-height:40px;padding-left:25px;overflow: hidden;}
.ny_left_nav .ce li a:hover,.ce li a.current{color: #c39148; background:url(../images/navml.png) 0 center no-repeat;}
.clear{clear:both;}
.mild_left .ce ul.er{display:none;width:100%;}
.mild_left .ce ul.er li {width:100%;height:auto;overflow: hidden;}
.mild_left .ce ul.er li a{width:160px;height:34px;overflow: hidden; display:block;line-height:34px;padding-left:40px;}
.mild_left .ce ul.er li a:hover{background:none;}
.thr{display:none;}
.thr li{position:relative;width:200px; height:34px;}
.mild_left .ce ul.er .e_li .thr li a{width:150px;height:34px;display:block;line-height:34px;padding-left:50px;overflow: hidden;}
.mild_left .ce ul.er .e_li .thr li a:hover{ background:none;}
#mild .mild_right{width: 936px;height: auto;overflow: hidden;float: right;}
.mild_right .ny_right_top,.mild_re .ny_right_top{text-align: right; width: 100%;height: 32px;font-size: 12px;color:#6c5243;line-height: 32px;border-bottom: 1px solid #c39148;}
.mild_right .ny_right_top a,.mild_re .ny_right_top a{color: #6c5243;}
.mild_right .ny_right_top a:hover,.mild_re .ny_right_top a:hover{color: #c39148;}
.ny_right_bottom{width: 100%;height: auto;overflow: hidden;padding: 24px 0;}
.about_text{color: #808080;line-height: 30px;}
/*pro*/
.pro ul{width: 100%;height: auto;overflow: hidden;}
.pro ul li{width: 297px;height: 271px;float: left;margin:2px 8px 20px 7px;-moz-box-shadow:0px 4px 9px #999999; -webkit-box-shadow:0px 4px 9px #999999; box-shadow:0px 4px 9px #999999;}
.pro ul li .p_img{width: 100%;height: 233px;text-align: center;line-height: 0; vertical-align: middle;/*display: table-cell;*/position: relative;overflow: hidden;}
/*.pro ul li .p_img a{display: block;position: relative;}*/
.pro ul li .p_img a img{max-width: 100%;max-height: 100%;}
.pro ul li .p_img a .img_hover{display: none;width: 100%;height: 100%;position: absolute;left:0;top:0;z-index: 4;}
.img_hover em{display: block;width:100%;height:233px;position: absolute;left: 0px;top: 0px;background: #1e1f24; filter:alpha(opacity=60);-webkit-opacity:0.6; -moz-opacity:0.6; -khtml-opacity: 0.6;opacity:0.6;}
.pro ul li .p_img a:hover .img_hover{display: block;}
.pro ul li .p_img a .img_hover img{position: absolute;top:36%;left:42%;z-index: 33;}
.img_hover .hover_texr{width: 100%;height:28px;overflow: hidden; font-size: 12px; color: #ffffff;line-height: 28px;position: absolute;left: 0;top:56%;z-index:4;}
.pro ul li .text{color: #bb743e;width: 100%;height: 38px;line-height: 38px;text-align: center;overflow: hidden;}
.ny_right_bottom .next {width: 100%;height: 24px;text-align: center;padding-top: 30px;}
.ny_right_bottom .next a.yema{width:18px;height:18px;border-radius: 50%;background: #6b6b6b;font-size: 10px;line-height:18px;
	    color: #fff;display: inline-block;margin: 0 6px;}
.ny_right_bottom .next a.yema:hover,.ny_right_bottom .next a.current{background: #bb743e;}
.ny_right_bottom .next a.ym{height:24px;font-size: 12px;color: #053a52;display: inline-block;margin: 0 6px;}
.ny_right_bottom .next i{color: #053a52;font-size: 12px;font-style:normal;margin-left: 30px;}
.ny_right_bottom .next i span{color: #bb743e;font-size: 12px;}
/*pro_det*/
.picFocus{ margin:0 auto;  width:419px;height: 380px; position:relative;zoom:1;}
.picFocus .bd ul li .pro_title{width: 100%;height:30px; color: #bb743e;text-align: center;line-height: 30px;}
.picFocus .bd ul li{width:419px; height:380px;float: left;}
.picFocus .bd ul li .pimg{width:419px; height:380px; vertical-align:middle;text-align: center;display:table-cell;line-height: 0;}
.picFocus .bd ul li .pimg img {max-width: 100%;max-height: 100%; }
.picFocus .hd{ width:299px;height: 74px;padding: 0 60px; overflow:hidden;position: absolute;bottom: 0;left: 0; background:#000;
              background-color:rgba(00,00,00,.6);filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#6f000000,endcolorstr=#6f000000);}
.picFocus .hd ul{width: 100%;height: 61px;overflow:hidden; zoom:1;}
.picFocus .hd ul li{width:86px; height:49px; float:left;margin:12px 6px;text-align:center;overflow: hidden;}
.picFocus .hd ul li img{height:49px; cursor:pointer;}

.picFocus .prev{width:27px;height:27px;font-size: 30px;color: #fff; text-align: center;border-radius: 50%;border: 1px solid #fff;
	                              position: absolute; top:324px;left:18px;z-index: 1;}
.picFocus .next{width:27px;height:27px;font-size: 30px;color: #fff; text-align: center;border-radius: 50%;border: 1px solid #fff;
	                              position: absolute;top:324px;left:370px;z-index: 1;padding: 0;}
.picFocus .prev:hover,.picFocus .next:hover{color:#c39148;border:1px solid #c39148;}
.pro_det .p_article,.n_article{width: 100%;height:auto;overflow: hidden; color: #808080;margin-top: 18px;border-bottom: 1px dashed #aaaaaa;}
.ny_right_bottom .share{width:250px;height:25px;padding:20px 0;float: right;}
.ny_right_bottom .news_next ul{padding:10px 0; }
.ny_right_bottom .news_next ul li a{line-height:30px;}
.ny_right_bottom .news_next ul li a:hover{color: #bb743e;}

.imgtext .news_nr{width: 100%;height:auto;}
.imgtext .news_nr li{width: 100%;height:130px;padding:20px 0;border-bottom: 1px dashed #bfbfbf;}
.imgtext .news_nr li .imgd{width:319px;height:130px;float: left;}
.imgtext .news_nr li .imgd .news_img{width:319px;height:130px; text-align: center;overflow: hidden; display: table-cell; vertical-align: middle;line-height: 0;}
.imgtext .news_nr li .imgd .news_img img{max-width: 100%;max-height: 100%;}
.imgtext .news_nr li .news_nr_right{width:598px;height:110px;float: right;padding: 10px 0;}
.news_nr li .news_nr_right .nr_title a{float: left; width:514px;height:36px;color: #362e2b;line-height:36px;font-size: 18px; overflow: hidden;display: block;}
.news_nr li .news_nr_right .nr_title a:hover{color: #c39148;}
.news_nr li .news_nr_right .nr_title span{text-align:right;font-size: 12px;color: #515151;line-height: 36px;float: right;}
.news_nr li .news_nr_right p{color: #808080;width:100%;height:76px;overflow: hidden;}

.ny_right_bottom .newslist{width: 100%;height: auto;overflow: hidden;}
.ny_right_bottom .newslist li{width: 100%;height: 38px;}
.ny_right_bottom .newslist li a{width:922px; height:38px; line-height:38px;overflow:hidden; display:block;padding-left: 14px; position: relative;}
.ny_right_bottom .newslist li a:before{content: "";width: 5px;height: 5px;background: #dcdcdc;position: absolute;top:16px;left: 0;}
.ny_right_bottom .newslist li a:hover:before{background: #c39148;}
.ny_right_bottom .newslist li a:hover{color: #c39148;}
.date{padding-left:30px;float:right; font-weight:normal;}

.news_det .title{width: 100%;height: auto; font-size: 20px;color:#c39148;text-align: center;}
.news_det .cans{width: 100%;height: 24px;display: block;font-style: normal;padding-top: 20px; color: #808080;text-align: center;}

#mild .mild_re{width:100%;height:auto;overflow: hidden;position: relative;}
.mild_re .result{width:1000px;height: 30px; font-size: 15px;color: #c39148;line-height: 30px;position: absolute;top:0px;left: 0;}

