<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <script type="text/javascript">
    // 跳转手机页面
    {if $site_another_url}
        if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
            location.href = '{$site_another_url}';
        }
    {/if}
    </script>

  
  <meta name="keywords" content="{$keywords}"/>
  <meta name="description" content="{$description}"/>
  <link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="Content-Language" content="zh-CN">
  <link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="{$site_url}js/jquery-1.11.3.js"></script>
  <script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.js"></script>
  <script type="text/javascript" src="http://common.mn.sina.com.cn/public/resource/lib/jquery.jcarousellite.js"></script>
  <!-- <script type="text/javascript" src="{$site_url}js/function.js"></script>
-->
<script type="text/javascript" src="{$site_url}js/global.js"></script>
<script type="text/javascript" src="{$site_url}js/index.js"></script>
<title>{$title}</title>
{$headscript}
</head>

<body>
<div class="wrap">
  <div class="header">
    <div class="public">
      <div class="logo">
        <a href="{$site_url}">
          <img src="{$logo}" height="80px"></a>
      </div>
      <div class="search">
        <form action="{$search_action}" method="GET">
          <input class="searchbox" type="text" name="s" value="请输入关键字" />
          <div class="searchbtn">
            <input type="submit" value="" />
          </div>
        </form>
      </div>
      <div class="menu">
        <ul class="nav">
          <li>
            <h3>
              <a href="{$site_url}">网站首页</a>
            </h3>
          </li>
          {foreach item=nav from=$navs}
          <li class="nLi {if $nav.current}current{/if}">
            <h3>
              <a href="{$nav.link}">{$nav.name}</a>
            </h3>
            {if $nav.childmenu}
            <ul class="subnav">
              {foreach item=nav_list from=$nav.childmenu}
              <li class="{if $nav_list.current}current{/if}">
                <a href="{$nav_list.link}">{$nav_list.name}</a>
              </li>
              {/foreach}
            </ul>
            {/if}
          </li>
          {/foreach}
        </ul>
      </div>
    </div>
  </div>
  <div class="banner">

    <div class="focusBox" style="margin:0 auto">
      <ul class="pic">
        {foreach name=slidepics item=slidepic from=$index.slidepics}
        <li>
          <a href="{$slidepic.link}" target="_blank">
            <img src="{$slidepic.image}" alt="{$slidepic.title}" width="100%" height="559px" />
          </a>
        </li>
        {/foreach}
      </ul>
      <ul class="hd">
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

  </div>
  <div class="content">
    <div class="row">
      <div class="about fl">
        <h1 class="title">
          {$index.about_us.name}
          <a href="{$index.about_us.link}">更多 +</a>
        </h1>
        <a href="{$index.about_us.link}" class="about-nr">
          <img src="{$index.about_us.image}" width="281" height="95px">{$index.about_us.description|truncate:110:"…"}</a>
      </div>
      <div class="news fl">
        <h1 class="title">
          {$global.news.name}
          <a href="{$global.news.link}">更多 +</a>
        </h1>
        <div class="newbox">
          <dl>
            <a href="{$global.news.link}">
              <img src="{$global.news.image}" width="129" height="95px"></a>
          </dl>
          <dt>
            <a href="{$global.news.data[0].link}">{$global.news.data[0].title}</a>
            <span>{$global.news.data[0].pubdate}</span>
          </dt>
          <dd>{$global.news.data[0].description}</dd>
        </div>
        <ul class="newslist">
          {foreach name=new item=new from=$global.news.data}
          {if $new@index+1 == 1}{continue}{/if}
          <li>
            <a href="{$new.link}">
              {$new.title}
              <span>{$new.pubtimestamp|date_format:'%Y / %m / %d'}</span>
            </a>
          </li>
          {if $new@index+1 == 4}{break}{/if}
                     {/foreach}
        </ul>
      </div>
      <div class="contact fr">
        <h1 class="title">{$index.contactimg.title}</h1>
        <a href="{$index.contactimg.link}">
          <img src="{$index.contactimg.image}" width="281" height="95px"></a>
        {$index.contact_us}
      </div>
    </div>
    <div class="pro">
      <h1 class="title">
        {$index.pro.name}
        <a href="{$index.pro.link}">更多 +</a>
      </h1>
      <div id="prizes">
        <div class="photos">

          <div class="photos-content" style="visibility:hidden">
            <ul>
              {foreach name=pro item=article from=$index.pro.data}
              <li>
                <a href="{$article.link}">
                  <img alt="" src="{$article.image}" width="174px" height="131px" />
                  <h2>
                    {$article.title}
                    <p>+</p>
                  </h2>
                </a>
              </li>
              {/foreach}
            </ul>
          </div>

        </div>
      </div>

    </div>
  </div>
  {include file='./_footer.html'}
</div>
</body>
</html>