
    <div class="foot">
        <div class="footer">
            <div class="ftop">
                <div class="fsecond">
                   <ul>

                    {foreach name=navs item=nav from=$navs}
                       <li>
                            <span><a href="{$nav.link}">{$nav.name}</a></span>

                            {if $nav.childmenu}
                            {foreach key=key item=nav_list from=$nav.childmenu}
                            <span><a href="{$nav_list.link}">{$nav_list.name}</a></span>
                            {/foreach}
                            {/if} 
                       </li>
                    {if $nav@index+1 eq 5}{break}{/if}                
                    {/foreach}
                   </ul>
                </div>
                <div class="fcontact">
                    <ul>
                        {foreach item=fcont from=$global.fcontact}
                        <li>
                            <div class="ficon"><img src="{$fcont.image}" alt=""></div><span>{$fcont.title}</span>
                        </li>                
                        {/foreach}                                                                       
   

                    </ul>
                </div>
            </div>
            <div class="fcopy">
                <p>友情链接：
                    {foreach name=flink item=flink from=$global.links}
                     <a href="{$flink.link}">{$flink.title}</a>  |
                    {/foreach}
                </p>
                {$footprint} 
            </div>
         
        </div>
    </div>


{$footscript}