<!DOCTYPE>
<html>
<head>
    <script type="text/javascript">
    // 跳转手机页面
    {if $site_another_url}
        if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
            location.href = '{$site_another_url}';
        }
    {/if}
    </script>
    
    <meta name="keywords" content="{$keywords}"/>
    <meta name="description" content="{$description}"/>
    <link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
    <meta http-equiv="x-ua-compatible" content="ie=8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$title}</title>
    <link rel="stylesheet" type="text/css" href="{$site_url}css/css.css"/>
    <script src="{$site_url}js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.1.js"></script>
    <script type="text/javascript" src="{$site_url}js/function.js"></script>
</head>
<body>
<div class="wrap">
    {include file='./_header.html'}
    <div class="nybanner">
      <img src="{$global.slidepic.image}" alt="">
    </div> 
    <div class="content">
            <div class="side-right-tit">
                <div class="location">
                  当前所在位置：<a href="{$site_url}">首页</a>{foreach item=nav from=$posnavs}＞<a href="{$nav.link}">{$nav.name}</a>{/foreach}
                </div>                    
            </div>

            <div class="searchbox">
                <div class="search-txt">检索词为“{$search.keyword}”，找到{$search.total}条结果</div>
                <ul>
                  {foreach name=article item=article from=$search.data}<!--search_content_start--> 
                  <li><h2><a href="search_$link">search_$title</a></h2><p>search_$description</p></li>                      
                  <!--search_content_end-->{/foreach}  

                </ul>
                    <div class="paging">
                      <a href="{$page_links.prev_link}" class="prev"></a>
                      {foreach name=nears_link item=near_link key=near_page from=$page_links.nears_link}
                        {if $near_page == $page_links.current_page}<!--page_corrent_link_start-->
                         <a href="{$near_link}" class="num pon">{$near_page}</a>
                        <!--page_corrent_link_end-->{else}<!--page_uncorrent_link_start-->
                         <a href="{$near_link}" class="num">{$near_page}</a>
                        <!--page_uncorrent_link_end-->{/if}
                      {/foreach}
                      <a href="{$page_links.next_link}" class="next"></a>
                    </div>
                
            </div>            

    </div>
    {include file='./_footer.html'}
	
</div>
</body>
</html>
