<header>    
     <div class="header">
        <a href="#" class="menuico" id="quickbar-showcats"><img src="{$site_url}images/icon6.png" /></a>
        <a href="" class="logo"><img src="{$logo}"></a>
        <div class="search">  
        <div class="searcha">
        	<input type="submit" class="search1" value="">
        </div>
          
        <form class="searchb" action="searchresult.html?s=" method="GET" name="fm">
        	<input type="text" name="s" class="txt1" placeholder="请输入搜索关键字">
        	<input type="submit" class="search1" value="">
        </form>
        </div> 
     </div>
</header>

