<ul class="first">
  {foreach name=pagenavs item=nav from=$pagenavs}
      <li><a href="{$nav.link}">{$nav.name}</a><i style="{if $nav.childmenu}{else}display: none;{/if}">+</i>
      {if $nav.childmenu}
          <ul class="second">
          {foreach key=key item=nav_list from=$nav.childmenu}
            <li><a href="{$nav_list.link}">{$nav_list.name}</a><i style="{if $nav.childmenu}{else}display: none;{/if}">+</i>
             {if $nav_list.childmenu}
                <ul class="third">
                {foreach key=key item=nav_listsec from=$nav_list.childmenu}
                  <li><a href="{$nav_listsec.link}">{$nav_listsec.name}</a></li>
                {/foreach}
                </ul>
               {/if}
            </li>
            {/foreach}
          </ul>
          {/if}
      </li>
      {/foreach}
    
</ul> 
