<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript">
    // 跳转手机页面
    {if $site_another_url}
        if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
            location.href = '{$site_another_url}';
        }
    {/if}
    </script>
 

<meta name="keywords" content="{$keywords}"/>
<meta name="description" content="{$description}"/>
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="zh-CN">
<title>{$title}</title>
    <link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{$site_url}js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.js"></script>
    <script type="text/javascript" src="{$site_url}js/function.js"></script>

</head>

<body>
  {include file="./_header.html"}
  <div id="container">
    <div class="service">
        <ul>
          <li>
            <a href="{$global.other_navs1.link}">
              <div class="col-pic"><img src="{$global.other_navs1.image}" alt="" /></div>
              <div class="col-name">
                <h2>{$global.other_navs1.name}</h2>
                <p>{$global.other_navs1.en_name}</p>
              </div>
            </a>
          </li>
          <li>
            <a href="{$global.other_navs2.link}">
              <div class="col-pic"><img src="{$global.other_navs2.image}" alt="" /></div>
              <div class="col-name">
                <h2>{$global.other_navs2.name}</h2>
                <p>{$global.other_navs2.en_name}</p>
              </div>
            </a>
          </li>
          <li>
            <a href="{$global.other_navs1.link}">
              <div class="col-pic"><img src="{$global.other_navs1.image}" alt="" /></div>
              <div class="col-name">
                <h2>{$global.other_navs1.name}</h2>
                <p>{$global.other_navs1.en_name}</p>
              </div>
            </a>
          </li>

        </ul>
    </div>
    <div class="sidebar ">
      {include file='./_pagenavs_sub3.html'}
      <div class="nynmcon">
          <h3><img src="{$site_url}images/nycon-td.gif" width="220" height="28" /></h3>
          <div class="inter"><strong class="td">{$contact.company}</strong><br />
            {$global.contact}
          </div>
      </div> 
    </div>
    <div id="main">
      <div class="crumb ">
        <span><img src="{$site_url}images/crumb-dian.gif" /> 您所在的位置：<a href="{$site_url}">首页</a>{foreach item=nav from=$posnavs} &gt; <a href="{$nav.link}">{$nav.name}</a>{/foreach}</span>   
        <h3>{$list.name}</h3>
      </div>
      <div class="article">
        <div class="prolist">
            <ul >
              {foreach name=article item=article from=$list.data} 
                <li><a href="{$article.link}"><img src="{$article.image}"/><h2 style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">{$article.title}</h2></a>
                </li>
              {/foreach} 

            </ul>
            <div class="module_page" style="padding-top:15px; padding-bottom:10px;">
                总: {$page_links.art_total}条信息 第{$page_links.current_page}页/共{$page_links.page_count}页
                <a href="{$page_links.first_link}">首页</a>
                <a href="{$page_links.prev_link}">上一页</a>
                {foreach name=nears_link item=near_link key=near_page from=$page_links.nears_link}
                  {if $near_page == $page_links.current_page}
                   <a  href="{$near_link}" class="pagon">{$near_page}</a>
                  {else}
                   <a href="{$near_link}">{$near_page}</a>
                  {/if}
                {/foreach}                                                                                
                <a href="{$page_links.next_link}">下一页</a> 
                <a href="{$page_links.last_link}">尾页</a>
            </div>
        </div>
      </div>
    </div>

 </div>
 {include file='./_footer.html'}
</body>
</html>
