 <footer>
     <div class="w_p foot">
      <div class="w">
    	<div class="f_l">
    		<p>
            {foreach item=nav from=$navs}
                {if $nav@index eq 0}
                    <a href="{$nav.link}">{$nav.name}</a> 
                {else}
                   | <a href="{$nav.link}">{$nav.name}</a> 
                {/if}   
            {/foreach}
            </p>
    		{$footprint}
    	</div>
    	<div class="f_r">
    			<select name="" id="sellink">
                    <option value="null">---友情链接---</option>
                {foreach key=key item=link from=$_footer.links}
                    <option value="{$link.link}">{$link.title}</option>
                {/foreach}
	           </select>
	
    	</div>
    	</div>
    </div>
</footer>
{$footscript}
