




 <header class="w">
  <div class="head">
    <a href="{$site_url}" class="logo">
      <img src="{$logo}" max-height="114" max-width="353" alt="">
    </a>
    <nav class="menu f_r">


        <ul class="nav clearfix" id="nav">
                {$limit = 5}
                <li class="nLi" style="width: {100/($limit+1)}%"><h3><a href="{$site_url}">网站首页</a></h3>
                </li>
                  {foreach item=nav from=$navs}
                    <li class="nLi {if $nav.current}current on{/if}" style="width: {100/($limit+1)}%">
                      <h3><a href="{$nav.link}">{$nav.name}</a></h3>
                     
                      {if $nav.childmenu}
                        <ul class="sub">
                          {foreach item=nav_list from=$nav.childmenu}
                          <li class="{if $nav_list.current}current{/if}"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
                          {/foreach}
                        </ul>
                      {/if}
                    </li>
                    {if $nav@index+1 gte $limit}{break}{/if}
                  {/foreach}
                       
              </ul>
    </nav>
  </div>
 </header>
 <div class="banner">
      <div  id="slideBoxb" class="slideBoxb">
      <div class="hd">
           
             </div>
      <div class="bd">
        <ul>
        {foreach item=slidepic from=$_header.slidepics}
          <li><a href="{$slidepic.link}"><img src="{$slidepic.image}" alt="{$slidepic.title}" height="454" width="1000" /></a></li>
        {/foreach}
        </ul>
      </div>
        <a class="prev" href="javascript:void(0)"></a>
        <a class="next" href="javascript:void(0)"></a>                  
      </div>


      </div>
