<section>
	<ul class="module_news">
              {foreach name=article item=article from=$list.data}
              
                 <li>
                        <img src="{$article.image}" width="172" alt="">
                        <div class="news_img">
                            <h3>
                                <a href="">
                                <div style="width: 400px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;float: left;">
                                    {$article.title} 
                                    </div>
                                   <div style="float: left;"><span>{$article.pubdate}  </span></div>
                                </a>
                                
                            </h3>
                           <div style="float: left;">
                            <p>{$article.description|truncate:160:"..."} <a href="{$article.link}">查看更多</a></p>
                            </div>
                        </div>
                    </li>
                {/foreach}
            </ul>



</section>