<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript" src="{$site_url}js/jquery-1.9.1.min.js"></script>

<script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.js"></script>

    <!-- 调试代码 End -->
    <script type="text/javascript">
    // 跳转手机页面
    {if $site_another_url}
      if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
        location.href = '{$site_another_url}';
      }
    {/if}
    </script>
<meta http-equiv="x-ua-compatible" content="ie=7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{$keywords}" />
 <meta name="description" content="{$description}" />
<link href="{$site_url}css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$site_url}js/function.js"></script>

<title>{$title}</title>
{$headscript}
</head>
<body>

<div class="w_p p_r">
    {include file="./_header.html"}
  <div class="p_r w form">
       <ul class="fo">

       {foreach item=article from=$index.list1.data}
       {if $article@index+1 < 4}
                                <li><a href="{$article.link}" ><img src="{$article.image}"  max-height="170" width="192" />
                                 <p>{$article.title}</p> </a></li>
        {elseif $article@index+1 eq 4}
                  
       	 
       </ul>
       <div class="tit p_r"><div class="z"><a href="{$index.list1.link}">{$index.list1.name}</br>{$index.list1.en_name}</br><span>+</span></a></div></div>
       <div class="f p_a">
  	 

  	   <form action="{$search_action}" method="GET" class="hides f_r ">
                 <input type="text" placeholder="请输入搜索关键词" class="input_case" name="s">
                 <input type="submit" value="" class="input_key">
            </form>


  	   <div class="tel">TEL: <span>{$contact.telephone}</span></div>
  	  <!--  <div class="qq"><a href=""></a><a href=""></a><a href=""></a></div> -->
  	   </div>
  </div>
  <div class="w cp p_r">
   <ul class="fo">
	   <li><a href="{$article.link}" ><img src="{$article.image}"  max-height="170" width="192" />
	    <p style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;width: 192px;">{$article.title}</p> </a></li>

       	{elseif $article@index+1 > 4 and $article@index+1 < 9} 
          <li><a href="{$article.link}" ><img src="{$article.image}"  max-height="170" width="192" />
           <p style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;width: 192px;">{$article.title}</p> </a></li>              
                                 
        {/if}
        {/foreach} 
    </ul>
    </div>
    <div class="new w">
    	<div class="f_l p_r">
    		<div class="ntop">
    		    <div class="before"></div>
    		    <div class="z"><a href="{$index.list2.link}">{$index.list2.name}</br>{$index.list2.en_name}</br><span>+</span></a></div>
{foreach item=article from=$index.list2.data}
    			<img src="{$article.image}" width="172" alt="" class="f_l">
    			<div class="f_r">
    				<h3 class="t"><a href="{$article.link}">{$article.title}</a></h3>
    				{$article.description|truncate:80:"..."}<a href="{$article.link}" class="more">【查看更多】</a>
    			</div>
    			{if $article@index+1 == 1}{break}{/if}
    				{/foreach}
    		</div>
    		<div class="bottom">
    			<ul>
    				
    					
    						{foreach item=article from=$index.list2.data}
	{if $article@index+1 >1}
	<li>
    <i><span>15</span><em>{$article.pubdate}</em></i>
    <div class="f_r">
    <a href="{$article.link}">
    <p style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">{$article.title}</p>
    </a>
    {$article.description|truncate:40:"..."}
    <a href="{$article.link}" class="more">【查看更多】</a></div>
  </li>
	{/if}
	{if $article@index+1 == 4}{break}{/if}
	{/foreach}
    			</ul>
    		</div>
    	</div>
    	<div class="f_r cps">
    	    <p><a href=""><em>{$index.list3.name}<span>{$index.list3.en_name}</span></em></a></p>
    		<ul>
    		  {foreach item=article from=$index.list3.data}
                                 <li><a href="{$article.link}" ><img src="{$article.image}"  max-height="192" width="218" />
                               </a></li>
                                 {if $article@index+1 == 4}{break}{/if}
                  {/foreach}
    			
    		</ul>
    	</div>
    </div>
    <div class="w_p ewm">
      <div class="w">

      {include file="./_global.html"} 
    	
    	<div class="f_r wb">
    		<h3 class="abo">{$index.list4.name} / <span>{$index.list4.en_name}</span></h3>
    		    <p>{$index.list4.description|truncate:120:"..."}<a href="{$index.list4.link}" class="more">【查看更多】</a></p>
            

    	</div>
    	</div>
    </div>
 {include file="./_footer.html"} 

 

</div>


</body>
</html>


