<script type="text/javascript">
    // 跳转手机页面
    {if $site_another_url}
      if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
        location.href = '{$site_another_url}';
      }
    {/if}
    </script>

<meta http-equiv="x-ua-compatible" content="ie=7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{$keywords}"/>
<meta name="description" content="{$description}"/>
<link href="{$site_url}css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$site_url}js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{$site_url}js/jcarousellite.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
<title>{$title}</title> 
{$headscript}
</head>

<body>
    <div class="wrap">
    	<div class="wap_bg">
            <div class="wapper_middle">
                <div class="top">
                  <div class="logo">
                    <a href="{$site_url}"><img src="{$logo}" alt="{$title}"/></a>
                  </div>
                  <div class="rightop">
                  	<div class="search">
                       <form action="{$search_action}" method="GET">
                            <input type="text" name="s" value="" class="txt1" />
    	                    <input type="submit" class="btm1" value="搜索"  />    	
                      </form>     
                    </div>
                    <div class="menu">
                      <ul id="nav" class="nav clearfix">
                        {$litmit = 8}
                        {if $navs|count lt $litmit}{$litmit = $navs|count}{/if}
                            <li class="nLi" style="width:{100/($litmit+1)-1}%">
                                <h3><a href="{$site_url}">首页</a></h3>
                            </li>
                            {foreach name=navs item=nav from=$navs}
                            <li  class="fl{if $nav.current} current{/if} nLi" style="width:{100/($litmit+1)}%">
                                    <h3><a href="{$nav.link}">{$nav.name}</a></h3>
                                <ul class="sub clearfix">
                                {if $nav.childmenu}
                                    {foreach key=key item=nav_list from=$nav.childmenu}
                                    <li class="{if $nav.current}current{/if}"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
                                    {/foreach}
                                    {/if}
                                </ul>
                            </li>
                            {if $nav@index+1 gte $litmit}{break}{/if}
                          {/foreach}
                                          
		              </ul>                    
                    </div>
                  </div>
                  <div class="datu">
                     <div id="slideBox" class="slideBox">
                        <div class="datbg">
                          <img src="{$site_url}images/bannbg.png" height="331"  />
                        </div>
                        <div class="hd">
                            <ul>
                            {foreach name=slidepics item=slidepic from=$index.slidepics}
                             <li>{$slidepic@index+1}</li>
                               {/foreach}                            
                            </ul>
                        </div>
                        <div class="bd">
                            <ul>
                                 {foreach name=slidepics item=slidepic from=$index.slidepics}
                                  <li><a href="{$slidepic.link}" target="_blank"><img src="{$slidepic.image}" alt="{$slidepic.title}" /></a></li>                            
                                 {/foreach}                                
                            </ul>
                        </div>
                        <a class="prev" href="javascript:void(0)"></a>
                        <a class="next" href="javascript:void(0)"></a>
		             </div>                  	
                  </div>
                </div>
                <div class="container">
                    <div class="index">
                    	<div class="cpzx">
                        	<div class="cp_title">
                              <div class="titiea title_family"><a href="{$index.pro.link}">{$index.pro.name}</a></div>
                            </div>
                            <div class="prod_right">
                                <div id="prizes">
					                <div class="photos">                        
                                         <div class="photos-content {if $index.pro.data|count>4} enable{/if}" >
                                            <ul>           
                                                {section name=key loop=$index.pro.data start=0 step=1}
                                                    <li>
                                                        <div class="zolistw">
                                                          <div class="pings">
                                                              <a href="{$index.pro.data[key].link}"><img src="{$index.pro.data[key].image}"  height="158" width="190"/></a>
                                                           </div>
                                                           <div class="linell"></div>
                                                           <div class="text">
                                                             <div class="dicpots"><a href="{$index.pro.data[key].link}">{$index.pro.data[key].title}<b>查看详情</b></a></div>
                                                           </div>
                                                        </div>                                            
                                                    </li>                                                     
                                                {/section}                                                                                                                                                         
                                              </ul>
                                        </div>                
                                    </div>
                                </div>                            
                            </div>                            
                        </div>
                         <div class="aboutnews">
                        	<div class="about fl">
                            	<div class="a_title">
                                	<span><a href="{$index.aboutedit.link}">更多</a></span>{$index.aboutedit.name}
                                </div>
                                <div class="borders"><img src="{$index.aboutedit.image}" /><div class="linell"></div>
                                <div class="anputt">
                                    {$index.aboutedit.description}       
                                    <span><a href="{$index.aboutedit.link}">[查看详情]</a></span>
                                </div>
                                </div>                                
                            </div>
                            <div class="news fr">
                            	<div class="a_title">
                                	<span><a href="{$index.newsedit.link}">更多</a></span>{$index.newsedit.name}
                                </div>
                                <div class="news_edit">
                                	<ul>
                                       {foreach name=newslist item=article from=$index.newsedit.data}   
                                    	<li>
                                        	<div class="news_titlaser"><a href="{$article.link}"><span>{$article.pubtimestamp|date_format:'%Y-%m-%d'} </span><b>-</b>{$article.title}</a></div>
                                            <div class="news_per">
                                            {$article.description}
                                            </div>
                                            <div class="ckxq"><a href="{$article.link}">查看详情</a></div>
                                        	
                                        </li>                                       
                            {if $article@index+1 == 2}{break}{/if}                                    
                                      {/foreach}                                       
                                    </ul>
                                </div>                            
                            </div>
                        </div>                       
                    </div>
                </div>                                
            </div>
            {include file="./_footer.html"}
        </div>
    </div>         
</body>
</html>
















