
<div class="header">
  
  <div class="searchbox">
    <span>全站搜索:</span>
    <div class="search">
      <form action="{$search_action}" method="GET">
        <input class="sinp fl" type="text" value="请输入关键字" name="s" />
        <input class="sbtn fl" type="submit" value="搜 索" />
      </form>          
    </div>
  </div>

   <div class="menu">
        <h1 class="logo"><a href="{$site_url}" title="{$title}"><img src="{$logo}" alt=""></a></h1>
        <nav>
          <ul class="nav" id="nav">
           {$limit = 6}
          {foreach item=nav from=$navs}
            <li class="{if $nav@index > 2}fl{else}fr{/if} nLi {if $nav.current}on{/if}">
              <h3><a href="{$nav.link}">{$nav.name}</a></h3>
              {if $nav.childmenu}
                <ul class="sub">
                  {foreach item=nav_list from=$nav.childmenu}
                  <li class="{if $nav_list.current}current{/if}"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
                  {/foreach}
                </ul>
              {/if}
            </li>
            {if $nav@index+1 gte $limit}{break}{/if}
          {/foreach} 
          </ul>
        </nav>  
   </div>
  

</div>

<!--banner-->
<div class="banner">

  <div class="focusBox">
      <ul class="pic">
        {foreach name=slidepics item=slidepic from=$global.slidepics}
            <li><a href="{$slidepic.link}" target="_blank"><img src="{$slidepic.image}" alt="{$slidepic.title}" /></a></li>       
        {/foreach}
      </ul>
      <a class="prev" href="javascript:void(0)"></a>
      <a class="next" href="javascript:void(0)"></a>
      <ul class="hd">
        {foreach name=slidepics item=slidepic from=$global.slidepics}
          <li></li>
        {/foreach}
       
      </ul>
  </div>


</div>    