<header>
    
     <div class="header">
        <img src="{$logo}" max-width="100%">
     </div>
</header>
<div class="menu">
    <div class="nav">
      <div class="swiper-nav swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><a href="{$site_url}"><i class="iconfont">&#xe616;</i><em>首页</em></a></div>
          {foreach name=navs item=nav from=$navs}
          <div class="swiper-slide"><a href="{$nav.link}"><i class="iconfont">{$nav.icon}</i><em>{$nav.name}</em></a></div>
          {/foreach}  
        </div>
      </div>
    </div>
</div>
