<link href="{$site_url}css/pagenavs_sub4.css" rel="stylesheet" type="text/css" />
<!-- 二级栏目列表（展示到三级子栏目） -->
<div class="content-hd">
  <h2 class='tit'>
    <span class='type'>类别</span>
    {$list.name} / {$list.en_name}
    <span class='font-set'>字+</span>
  </h2>
  <ul class='type-list'>
    {foreach name=pagenavs item=nav from=$pagenavs}
    <li  class="{if $nav.current}current{/if}">
      <a href="{if $nav.childmenu}javascript:;{else}{$nav.link}{/if}" class="{if $nav.selected}selected{/if}">{$nav.name}</a>
      {if $nav.childmenu}
      <ul class="second">
        {foreach key=key item=nav_list from=$nav.childmenu}
        <li class="{if $nav_list.current}current{/if}">
          <a href="{if $nav_list.childmenu}javascript:;{else}{$nav_list.link}{/if}"  class="{if $nav_list.selected}selected{/if}">&nbsp;&nbsp;&nbsp;{$nav_list.name}</a>
          {if $nav_list.childmenu}
          <ul class="third">
            {foreach key=key item=nav_listsec from=$nav_list.childmenu}
            <li class="{if $nav_listsec.current}current{/if}">
              <a href="{$nav_listsec.link}" class="{if $nav_listsec.selected}selected{/if}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$nav_listsec.name}</a>
            </li>
            {/foreach}
          </ul>
          {/if}
        </li>
        {/foreach}
      </ul>
      {/if}
    </li>
    {/foreach}
  </ul>
  <ul class='font-list font-sel'>
    <li>
      <a href='###' class='big'>大</a>
    </li>
    <li>
      <a href='###' class='normal'>中</a>
    </li>
    <li>
      <a href='###' class='small'>小</a>
    </li>
  </ul>
</div>