<div class="header">
	<div class="logo"><a href="{$site_url}"><img src="{$logo}"/></a></div>
	<div class="navBar">
		<ul class="nav clearfix">
			<li class="m" style="width:{80/(($navs|count)+1)}%"><a class="kz" data-limit="6" href="{$site_url}">网站首页</a></li>
			{foreach name=navs item=nav from=$navs}
			<li class="m {if $nav.current}on{/if} nav_li" style="width:{80/(($navs|count)+1)}%">
				<a href="{$nav.link}" class="kz" data-limit="6">{$nav.name}</a>
				{if $nav.childmenu}
				<ul class="sub">
					{foreach key=key item=nav_list from=$nav.childmenu}
					<li><a class="kz" data-limit="6" href="{$nav_list.link}">{$nav_list.name}</a></li>
					{/foreach}
				</ul>
				{/if}
			</li>
			{/foreach}
		</ul>
	</div>
</div>