<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript">
    // 跳转手机页面
    {if $site_another_url}
        if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
            location.href = '{$site_another_url}';
        }
    {/if}
    </script>
 

<meta name="keywords" content="{$keywords}"/>
<meta name="description" content="{$description}"/>
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="zh-CN">
<link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$site_url}js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.js"></script>
<script type="text/javascript" src="http://common.mn.sina.com.cn/public/resource/lib/jquery.jcarousellite.js">
</script>

<script type="text/javascript" src="{$site_url}js/global.js"></script>
<script type="text/javascript" src="{$site_url}js/index.js"></script>
<title>{$title}</title>
{$headscript}
</head>

<body>
<div class="wrap">
<!-- 导入头部文件 -->
    {include file='./_header.html'}
     <div class="content">
        <div class="row-a">
            <div class="public">
                <div class="note">
                   <span class=note-tit>公告：</span>
                    <div class="txtMarquee-top">
                        <div class="hd">
                            <a class="next"></a>
                            <a class="prev"></a>
                        </div>
                        <div class="bd">
                            <ul class="infoList">
                                {foreach item=note from=$index.note.data}
                                <li><span class="date">{$note.pubdate}</span><a href="{$note.link}" target="_blank">{$note.title}</a></li>
                                {/foreach}

                            </ul>
                        </div>
                    </div>
                </div>
                <form action="{$search_action}" method="GET" class="search">
                    <input class="searchbox" type="text" value="请输入关键字" />
                    <input class="searchbtn" type="submit" value="" />
                </form>
            </div>

        </div>
        <div class="advisor">
            <div class="advisor-tit">
              <p>本月金牌顾问</p>
              <span>还在为找不到钱而发愁吗？我们的精英正在为您排忧解难！</span>
            </div>
            <div class="advisorbox">
              {foreach item=advior from=$index.advior.data}
                <div class="advior-item">
                           <a href="{$advior.link}" class="photo"><span></span><img src="{$advior.image}"><i></i></a>
                            <h1><span>{$advior.description}</span></h1>
                </div>
                {if $advior@index+1 == 5} {break} {/if}
                {/foreach}
            </div>
        </div>
        <div class="row-b">
            <div class="public">
                <div class="notebox">
                    <h1 class="title"><span>{$index.note.name}</span><i></i></h1>
                    <ul class="notelist">
                        {foreach item=note from=$index.note.data}
                        <li><a href="{$note.link}">{$note.title|truncate:10}<span>{$note.pubdate}</span></a></li>
                        {if $note@index+1 == 8}{break}{/if}
                        {/foreach}
                    </ul>
                    <a href="{$index.note.link}" class="morebtn">查看更多  +</a>
                </div>
                <div class="newbox">
                    <h1 class="title"><span>{$index.news.name}</span><i></i></h1>
                    <ul class="notelist">
                        {foreach item=new from=$index.news.data}
                        <li><a href="{$new.link}">{$new.title|truncate:10}<span>{$new.pubdate}</span></a></li>
                        {if $new@index+1 == 8}{break}{/if}
                        {/foreach}
                    </ul>
                    <a href="{$index.news.link}" class="morebtn">查看更多  +</a>                    
                </div>
            </div>
        </div>
        <div class="row-c">
            <div class="busi">
                <ul>
                    {foreach item=busi from=$index.busis}
                    <li><a href="{$busi.link}"><img src="{$busi.image}"><h2>{$busi.title}</h2></a></li>
                    {/foreach}
                </ul>
            </div>
            <div class="problem">
                <h1>{$index.problem.name}<a href="{$index.problem.link}">MORE +</a></h1>
                <ul>
                    {foreach item=prob from=$index.problem.data}
                    <li><a href="{$prob.link}">{$prob.title|truncate:15:"…"}</a></li>
                    {if $prob@index+1 == 7}{break}{/if}
                    {/foreach}
                </ul>
            </div>
        </div>
        <div class="coop">
            <div class="public">
                <div class="advisor-tit">
                  <p>合作伙伴</p>
                  <span>强大的队伍，是我们坚实后盾。为每个客户解决燃眉之急！</span>
                </div>
                <div class="multipleColumn" style="margin:20px auto 0">

                    <div class="bd">
                        <div class="ulWrap">
                            <ul>
                            {section name=key loop=$index.coops.data start=0 step=3}

                                    <li>
                                        <div class="bank"><a href="{$index.coops.data[key].link}" target="_blank"><img src="{$index.coops.data[key].image}" /></a></div>
                                    </li>                            
                            {/section}                                
                            </ul>
                            <ul>
                            {section name=key loop=$index.coops.data start=1 step=3}
                                    <li>
                                        <div class="bank"><a href="{$index.coops.data[key].link}" target="_blank"><img src="{$index.coops.data[key].image}" /></a></div>
                                    </li> 
                            {/section}                                
                            </ul>
                            <ul>
                            {section name=key loop=$index.coops.data start=2 step=3}
                                    <li>
                                        <div class="bank"><a href="{$index.coops.data[key].link}" target="_blank"><img src="{$index.coops.data[key].image}" /></a></div>
                                    </li> 
                            {/section}
                            </ul>                        

                        </div><!-- ulWrap End -->
                    </div><!-- bd End -->
                    <div class="hd">
                        <a class="next"></a>
                        <ul></ul>
                        <a class="prev"></a>
                        <span class="pageState"></span>
                    </div>
                </div><!-- multipleColumn End -->
             
     
            </div>
        </div>


  
 
     </div>
     {include file='./_footer.html'}

</div>
</body>
</html>
