/*重置*/
@charset "utf-8";
*{ margin:0px; padding:0px;}
a{ color: #333333; text-decoration:none}
a:hover{color:#0161c4;}
table{border-collapse:collapse; border-spacing:0px;}
body{word-wrap:break-word;color: #4a4a4a;font: 12px/24px "微软雅黑","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";background:url(../images/bg.jpg) repeat-x #fff;}
ul,dl,li,i{list-style:none;}
h1,h2,h3,h4,h5{font-size:12px;font-weight:normal;}
i,em{font-style:normal;font-weight:normal;list-style:none;}
img{border: none;}

.wappersbg{ width:100%; height:auto; overflow:hidden;min-height: 1000px;}
.headerbg{ width:1003px; height:110px; margin:0px auto; overflow:hidden; background:url(../images/headerbg.jpg) right top no-repeat;position: relative;}
.logo{ width:500px; margin-left:22px;height:110px; float:left;overflow:hidden;}
.logo img{width: auto;height: 110px;}
.headerbg .tel{color:#f00;width:auto;overflow:hidden;font-size: 20px; text-align:right;height: auto;position: absolute;right: 40px;top: 55px;}
.headerbg .tel span{font-size:18px;}
.menubg{line-height:38px; margin:0px auto; background:url(../images/menubg.jpg) no-repeat; width:944px; height:38px; }

.menu{ width:924px; text-align:center;  height:38px; margin-left:0px; margin-top:0px; margin:0px auto;}
.menu>ul>li{float: left;position:relative;text-align:center;line-height:38px;height:38px;font-size:14px;background:url(../images/linew.jpg) right top no-repeat;}
.menu>ul>li>a{position:relative;/* 必要元素 */display:block;width:100%;color:#fff; margin:0 auto;height:38px;font-size:14px;font-weight:bold;overflow: hidden;}
.menu>ul>li>a span{position:absolute;/* 必要元素 */left:0;width:100%;color:#fff;}
.menu>ul>li>a span.out{top:0px;}
.menu>ul>li>a span.over,.menu>ul>li>a span.bg{top:-38px;}
#menu>ul>li span.bg{height:38px;background:url(../images/menu_hover.jpg) center center no-repeat;}
.menu>ul>li .nav_list{display: none; width: 100%;height: auto;overflow: hidden;position: absolute;left: 0px;top: 38px;background: #40c0ff;z-index: 99;}
.nav_list>li{width: 100%;height: auto;overflow: hidden;float: left;}
.nav_list>li>a{display: block;width: 100%;height: 30px;overflow: hidden;border-top: solid 1px #0379d0;color: #fff;}
.nav_list>li:first-child>a{border:none;}
.nav_list>li>a:hover{background: #2489d9;}

#banner{ width:944px; height:206px; overflow:hidden; position:relative; margin:10px auto;border: 1px solid #d2f0fe;}
.picture{ width:100%; height:100%;position:relative;z-index:0;}
.picture li{text-align: center;width: 100%;height: 100%;float: left;}
.picture li img{max-width: 1000px;height: 206px;}
#banner .dot_hd{width: 100%;height: 15px;text-align: right;position: absolute;bottom: 5px;z-index: 20;right: 5px;}
.dot{width: auto;height: 100%;overflow: hidden;display: inline-block;}
.dot li{border:1px solid #dddddd;float: left;margin: 0 2px;width: 13px;height: 13px;line-height: 15px;text-align: center;background:#fff; cursor:pointer;}
.dot li.on{background:#f00; color:#fff;}

.containers{ width:944px; margin:0px auto; height:auto; overflow:hidden;}
.left{ width:216px; float:left; display:inline; overflow:hidden; height:auto;}
.xwzx{ height:200px; width:216px; overflow:hidden; margin-bottom:10px;}
.left h3{ background:url(../images/news_title.jpg) no-repeat; width:216px; height:28px; line-height:28px; text-indent:28px; color:#fff; font-weight:bold;}
.xwzbg{ width:214px; border:1px solid #b2d1cc; background:#f5fafe; border-top:none; height:auto; overflow:hidden;}
.xwzbg ul{ margin-top:5px; width:200px; margin-left:7px; overflow:hidden; height:165px;}
.xwzbg li{ width:200px ; height:27px; line-height:27px; float:left; display:inline; margin-right:10px; overflow:hidden; background:url(../images/icont.jpg) left 10px no-repeat;}
.xwzbg li a{  display: block;
    line-height: 27px;
    margin-left: 13px;height:27px; overflow:hidden; width:190px;    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;  }
.xwzbg li span{float:right; margin-right:15px; margin-left:10px;}
.xwzbg li a:link,.xwzbg li a:visited{ color:#333;}
.xwzbg li a:hover{ color:#046eca;}
.lix2{ width:200px; margin-left:7px; overflow:hidden; color:#333;}
.lix2 h1{ font-weight:bold; color:#333; padding-top:10px; padding-bottom:10px;}
.cimg{ width:100%; height:100%; margin:15px auto;text-align: center;}
.cimg a{display: table-cell;text-align: center;width: 214px;height: 146px;overflow: hidden;}
.cimg a img{max-width: 202px;max-height: 144px;vertical-align: middle; border:2px solid #d9d9d9;}

.right{ width:715px; float:right; display:inline; overflow:hidden;}
.about{ width:715px;overflow:hidden; height:200px; margin-top:0px; margin-left:0px;  margin-bottom:10px; }
.right h3{ background:url(../images/right_title.jpg) right top no-repeat;height:28px; line-height:28px; text-indent:28px; color:#fff; font-weight:bold; width:715px;}
.right h3 span{ float:right; display:inline; font-size:12px; margin-right:10px; font-weight:normal;}
.right h3 a:link,.right h3 a:visited{ color:#fff}
.right h3 a:hover{ color:#000;}
.border{width:703px; border:1px solid #b2d1cc; background:#f5fafe; border-top:none; height:166px; overflow:hidden; padding-left:10px; background:url(../images/abobg6.jpg) no-repeat right bottom #f5fafe ; padding-top:5px;}
.border .anputt_left{width: 209px;height: 158px;margin: 0 10px 0px 5px;float: left;}
.border i{display: table-cell;width: 209px;height: 158px;text-align: center;}
.border img{max-width:201px; max-height:150px;padding:3px; border:1px solid #cccccc;}
.anputt{text-align:Justify;text-justify:inter-ideograph; color:#333;margin-right:9px; padding-top:5px; line-height:22px;width: 470px;max-height: 154px;overflow: hidden; float: right;}
.anputt h1{ color:#333; font-weight:bold;}
.anputt span{ text-align:right; overflow:hidden}
.anputt span a:link,.anputt span a:visited{ color:#F00;}
.anputt span a:hover{ color:#333;}
.showpro{width:697px; border:1px solid #b2d1cc; background:#f5fafe; height:162px; padding-left:8px; padding-right:8px;}
.showpro table td{ width:156px;  overflow:hidden;}
.showpro table td img { width:150px; height:117px; padding:0px; vertical-align:top; border:3px solid #d7dbe0; margin-bottom:0px;  }
.showpro table a{ width:100%; display:block;margin-left:30px; margin-top:0px; width:156px; height:153px; margin-top:0px;}
.showpro table a:link,.showpro table a:visited{ color:#333;}
.showpro table a:hover{ color:#046eca;}
.showpro h2 { width:100%;width:156px; height:30px; line-height:30px; text-align:center; }
.case{ width:715px; height:auto; margin-bottom:10px; overflow:hidden;}
.picList li a p{width: 100%;height: 24px;overflow: hidden;}

.linew2{ background:url(../images/linew2.jpg) no-repeat; width:944px; height:26px; margin:10px auto; text-align:center;}
.mid_fontw{ width:944px; margin:0px auto; padding-bottom:10px; height:auto; line-height:24px; overflow:hidden; text-align:center; color:#404145}
.mid_fontw a:link,.mid_fontw a:visited{ color:#404145}
.mid_fontw a:hover{ color:#046eca;}
.mid_fontw .chaining{text-align: left;width: 900px;margin: 0 auto;}
.chaining a{padding: 0 3px;}

.list{ width:216px; height:auto; overflow:hidden; margin:0px auto 10px;}
.list .list_title2 { background:url(../images/news_title.jpg) no-repeat; width:216px; height:28px; line-height:28px; text-indent:28px; color:#fff; font-weight:bold;}
.list .list_title2 b{ font-weight:normal; text-transform:uppercase;font-family:Arial, Helvetica, sans-serif; padding-left:10px; color:#ecc397}
.listbg{ width:214px; border:1px solid #b2d1cc; background:#f5fafe; border-top:none; height:auto; overflow:hidden;}
 ul.first { width:196px;  border-top:none; margin-top:0px; margin-left:9px; padding-top:10px; padding-bottom:10px;}
 ul.first li{height:auto; width:196px;}
 ul.first li a{padding-left:0px; margin-left:0px;display:block; font-size:12px;height:30px;line-height:30px; border-bottom:1px dotted #99b4bf;overflow:hidden; margin-top:0px;background:url(../images/link.jpg) no-repeat left 9px; text-indent:20px; }
 ul.first li a:link,.listbg ul li a:visited{ color:#333;}
 ul.first li a:hover{ color:#046eca; }
 ul.first .second{ padding-top:0px;margin:0px; padding:0px; display:none;}
 ul.first .second a{width:100%; font-size:12px;height:auto; line-height:24px; font-weight:normal; border:none;padding-left:0px;display:block; background:none; width:200px;margin-top:3px;}
 ul.first .second a:link,.listbg  li.module_nav2 a:visited{ color:#333;}
 ul.first .second a:hover{color:#046eca;font-weight:normal; background:none;}

 ul.first .second .third{ padding-top:0px;margin:0px; padding:0px; display:none;}
 ul.first .second .third a{width:100%; text-indent: 30px; font-size:12px;height:auto; line-height:24px; font-weight:normal; border:none;padding-left:0px;display:block; background:none; width:200px;margin-top:3px;}
 ul.first .second .third a:link,.listbg  li.module_nav2 a:visited{ color:#666;}
 ul.first .second .third a:hover{color:#046eca;font-weight:normal; background:none;}
.cur_thir{padding-left:10px;}
 ul .first .module_nav3  a{width:100%; font-size:12px;height:24px; line-height:24px; font-weight:normal; border:none;padding-left:10px; text-indent:0px; display:block;background:none; width:175px; margin-left:25px;}

  #cur_flag a{color:#f00;}

.detal{ width:715px; height:auto; overflow:hidden; margin-bottom:15px; margin-bottom:15px; border-top:none;}
.detal_s{  width:715px; padding-bottom:5px;height:auto; overflow:hidden; margin-left:0px; margin-top:0px; margin-left:0px}
.detal_s h3{ background:url(../images/right_title.jpg) right top no-repeat;height:28px; line-height:28px; text-indent:28px; color:#fff; font-weight:bold; width:715px;}
.detal_s h3 span{ float:right; display:inline; font-size:12px; margin-right:10px; font-weight:normal;}
.detal_s h3 a:link,.detal_s h3 a:visited{ color:#fff}
.detal_s h3 a:hover{ color:#000;}
.detal_s h3 a.on{ color:#000 !important;}
.detal_s h3 img{ vertical-align:middle; margin-right:2px ; margin-top:5px;}
.deteo{ padding:0px 0px 0px; height:auto; overflow:hidden; height:auto; width:713px; padding-bottom:15px;min-height:400px; _height:expression(this.scrollHeight < 400? "400px" : "auto") ; border:1px solid #b2d1cc; background:#f5fafe}

.about_edit{ color:#333; line-height:24px; margin-top:11px; padding-right:0px; margin-left:10px; margin-right:10px;text-align:Justify;text-justify:inter-ideograph;}

.news_deta5{ padding-top:8px; height:auto; overflow:hidden; width:700px; margin-left:8px;}
.news_deta5 li{ width:700px; height:30px; line-height:31px;  overflow:hidden; margin-left:0px; border-bottom:1px dotted #7b7b7b;  }
.news_deta5 li a{display: block;line-height: 30px;margin-left: 3px;text-indent: 20px;height:30px; overflow:hidden; width:700px;background:url(../images/icont.jpg) left 12px no-repeat;}
.news_deta5 li time{float:right; margin-right:5px; margin-left:10px;}
.news_deta5 li a:link,.news_deta5 li a:visited{ color:#333;}
.news_deta5 li a:hover{ color:#046eca;}

.page{ width:100%;  line-height:20px;margin-top:30px;text-align:center; height:30px;}
.page a{color:#666;padding:3px 4px;}
.page span{ padding:0 10px;}
.page a:hover{color:#fff; background:#046eca;}
.page a.current{color:#fff !important; background:#046eca;}
.page  select{ margin-left:5px; color:#000;}



.main_right_con{ padding:8px 12px 12px;color:#757575; overflow:hidden;}
h1.inner_news_tit{height:30px; padding:8px 0px;text-align:center; font-size:14px;  color: #046eca; font-weight: bold; border-bottom:1px dashed #333;}
h2.inner_news_time{height:25px; line-height:25px;color:#333; padding-left:10px; margin-bottom:4px; text-align:center; border-bottom:1px dashed #333;}
h2.inner_news_time a{ color:#333;}
h2.inner_news_time a:hover{ color:#046eca; text-decoration:underline;}
h2.inner_news_time span{ float:right; text-align:right; padding-right:10px;}



.edit{overflow:hidden;text-align:Justify;text-justify:inter-ideograph;position: relative; color:#333; margin:10px 0px 0px;padding-bottom: 40px;}
.share{position: absolute;bottom: 8px;right: 5px;}

ul.inner_pages{ padding-top:8px;margin:10px auto 10px; margin-left:5px;}
ul.inner_pages li{line-height:26px;color:#333;}
ul.inner_pages a{color:#333;}
ul.inner_pages a:hover{color:#046eca}


.news_list2{ width:735px; margin-left:5px;}
.xgxw{ color:#dd1212; font-family:"微软雅黑"; font-size:14px; text-align:left;}
.news_list2 ul{ margin-top:10px;}
.news_list2 li{ width:332px ; height:30px; line-height:30px; float:left; display:inline; margin-right:15px; overflow:hidden;border-bottom:1px dotted #7b7b7b;  }
.news_list2 li a{  display: block;
    line-height: 30px;
    margin-left: 3px;
    padding-left:12px;height:30px; overflow:hidden; width:312px;    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;background:url(../images/icont.jpg) left 12px no-repeat;  }
.news_list2 li span{float:right; margin-right:15px; margin-left:10px;}
.news_list2 li a:link,.news_list2 li a:visited{ color:#333;}
.news_list2 li a:hover{ color:#046eca;}

ul.inner_pro{height:auto; overflow:hidden; padding-bottom:10px; width:780px; padding-top:15px;}
ul.inner_pro li{ float:left; margin:0px 25px 20px 28px;}
ul.inner_pro li a{ width:181px; height:auto; display:block; color:#333; overflow:hidden;text-align: center;}
ul.inner_pro li a img{width:175px; height:auto;padding:2px; border:1px solid #ccc}
ul.inner_pro li a:hover{ color:#046eca;}
ul.inner_pro li a p{width: 100%;height: 24px;overflow: hidden;text-align: center;}
ul.inner_pro .title{text-align:center; height:30px;display:block; overflow:hidden; line-height:30px;}
ul.inner_pro li a:hover img{ border:1px solid #046eca}
.main_right_con2{ padding:18px 5px 12px;color:#757575; overflow:hidden;}

.description{ height:auto; overflow:hidden;  margin:0px 10px; }
.pimgw a{overflow: hidden;}
.pimgw img{ border:1px solid #d4d4d4; max-width: 600px; padding:1px; margin-bottom:10px;  text-align: center; margin: auto; display: block;}
.show_t{ color:#046eca;padding:0px;width:255px; text-align:left; line-height:20px; float:left; display:inline; }
.descriptcot{margin:0px; padding:0px; float:left; width:60%; position:relative;}
.text_p{ color:#046eca;padding:0px;width:90%; position:absolute; top:0px; left:16px; }
.moule_edot{  color:#333;width:99%; margin-left:5px; clear:both;text-align:Justify;
text-justify:inter-ideograph;}
.pro_sroll{ width:680px; margin-left:10px; height:auto; overflow:hidden;}
.showpro2{width:680px;  height:162px; padding-left:0px; padding-right:0px; margin:0px auto;}
.showpro2 table td{ width:156px;  overflow:hidden;}
.showpro2 table td img { width:150px; height:117px; padding:0px; vertical-align:top; border:3px solid #d7dbe0; margin-bottom:0px;  }
.showpro2 table a{ width:100%; display:block;margin-left:30px; margin-top:0px; width:156px; height:153px; margin-top:0px;}
.showpro2 table a:link,.showpro2 table a:visited{ color:#333;}
.showpro2 table a:hover{ color:#046eca;}
.showpro2 h2 { width:100%;width:156px; height:30px; line-height:30px; text-align:center; }


.slideBox{ width:944px; height:206px; overflow:hidden; position:relative; }
.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }
.slideBox .hd ul li.on{ background:#f00; color:#fff; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{ width:944px; height:206px; display:block;  }
	
.picScroll-left{ width:697px; border:1px solid #b2d1cc; background:#f5fafe; height:auto; padding-left:8px; padding-right:8px; position:relative; }
.picScroll-left .bd{ padding:10px; width:663px; overflow:hidden;margin: 0 auto;}
.picScroll-left .bd ul{ overflow:hidden; zoom:1; }
.picScroll-left .bd ul li{ margin:0 4px; float:left; _display:inline; overflow:hidden; text-align:center;  }
.picScroll-left .bd ul li a{ text-align:center; display:block;width:156px; height:auto;}
.picScroll-left .bd ul li a span{ display:block; text-align:center; height:24px; line-height:24px;}
.picScroll-left .bd ul li a img{width: 150px;height: auto; padding:2px; background:#fff; border:1px solid #ccc; }
.picScroll-left .bd ul li a:hover{ color:#900;}
.text_001{ width:250px; height:20px; background#fff; border:1px solid #e2e2e2; margin-left:10px;}
.text_002{ width:300px; height:60px; background#fff; border:1px solid #e2e2e2; margin-left:10px;}
.height_01{ height:30px; margin:10x 0;}
.submit_02{ margin:10px; padding:3px 6px; color:#222; cursor:pointer;}
.tbale_001{ width:370px; height:auto; margin:0 auto;}
.tbale_001{ width:370px; height:auto; margin:0 auto;}

.pro_detail{ height:auto; overflow:hidden; width:95%; margin:10px 10px; }
.case_list{width: 100%;height: auto;overflow: hidden;position: relative;text-align: center;margin-bottom: 30px;}
h2.case_title{width: 100%;min-height: 30px;font-size: 16px;line-height: 30px;margin-bottom: 10px;color: #333;text-align: center;width: 100%;height: auto;}
.case_hd a{display: block;width: 32px;height: 32px;position: absolute;top: 55%;margin-top: -16px;}
.case_hd .prev{background: url(../images/circle_01.png);left: 100px;}
.case_hd .prev:hover{background: url(../images/circle_03.png);}
.case_hd .next{right: 100px;background: url(../images/circle_02.png);}
.case_hd .next:hover{background: url(../images/circle_04.png);}
.case_bd{margin: 0 auto;height: auto;}
.case_bd .tempWrap{ margin: 0 auto;}
.case_last{width: 100%;height: auto;height: auto;}
.case_last li{text-align: center;overflow: hidden; display: table-cell; vertical-align: middle;}
.case_list img{max-width: 426px; max-height: 564px;border:solid 5px #e6e5e5;}

/*图文列表*/
.imagetext{width: 693px;height: auto;overflow: hidden;padding: 0 10px;margin-bottom: 45px;}
.imagetext li{width: 100%;height: 122px;float: left;overflow: hidden;margin-bottom: 25px;}
.imagetext li a{display: block;width: 100%;height: 100%;overflow: hidden;}
.imagetext li a i{display: block; width: 174px;height: 122px;float: left;text-align: center;overflow: hidden;}
.imagetext li a i img{width: auto;height: 122px;max-width: 100%}
.imagetext li a .image_list{width: 515px;height: 100%;overflow: hidden;float: right;}
.image_list h4{font-size: 14px;line-height: 34px;width: 100%;height: 34px;overflow: hidden;}
.image_list p{color: #666666;line-height: 22px;width: 100%;height: 66px;overflow: hidden;}
.image_list p span{color: #046eca;}
.image_list time{color: #666666;font-size: 12px;line-height: 22px;}
.imagetext li a:hover h4{color: #046eca;}

.search{width: 100%;height: auto;overflow: hidden;}
.search p{text-align: center;font-size: 18px;line-height: 40px;color: #999999;width: 100%;height: 40px;overflow: hidden;margin-top: 20px;}
.search p mark{color: #046eca;font-weight: bold;background: none;}