<div id="header2">           
            <div class="nbanner">
	            <div id="nslideBox" class="nslideBox">
				      <div class="nbanimg">
				        <ul>
				          {foreach item=nbanner from=$global.nslidepics}
				          <li><a href="{$nbanner.link}"><img src="{$nbanner.image}"/></a></li>	
				          {/foreach}			
				        </ul>
				      </div>
				      <a class="next">&gt;</a>
                      <a class="prev">&lt;</a>
		        </div>
	       	</div>
            <p class="posnavs">{$posnavs[0].en_name}</p>
            <div class="right_top">
                   <div id="show" class="menu"></div>           
                   <div class="menu_nav">
	               	   <div id="hide" class="close"><img src="{$site_url}images/x2_03.png"></div>
	               	   <i class="ntitle"><img src="{$site_url}images/nav.png"></i>
	                   <div class="navs">
			                <ul class="menus">			                	
			                	<li><a class="{if $nav.current}current{/if}" href="{$site_url}">网站首页</a></li>
			                	{foreach item=nav from=$navs}
					            <li>
					            	<a class="{if $nav.current}current{/if}" href="{$nav.link}">{$nav.name}</a>
					            </li>
					            {if $nav@index+1 eq 7}{break}{/if}
					            {/foreach}					            					            
					        </ul>
			           </div>
		           </div>                                  
              </div>
     </div>