<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript">
    // 跳转手机页面
    {if $site_another_url}
        if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
            location.href = '{$site_another_url}';
        }
    {/if}
    </script>
 

<meta name="keywords" content="{$keywords}"/>
<meta name="description" content="{$description}"/>
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<meta http-equiv="Content-Language" content="zh-CN">
<meta http-equiv="x-ua-compatible" content="ie=Edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Type" mrc="text/html; charset=gb2312">
<script type="text/javascript" src="http://common.mn.sina.com.cn/public/resource/lib/jquery.jcarousellite.js">
</script>
<title>{$title}</title>
<link rel="stylesheet" href="{$site_url}css/style.css">
<script type="text/javascript" src="{$site_url}js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
<script type="text/javascript" src="{$site_url}js/main.js"></script>
{$headscript}
</head>
<body>
<div id="wrap">
     <div id="header">
         <div class="left">
         	  <div class="logo"><a href="{$site_url}"><img src="{$logo}"></a></div>
              <div class="banner">
	            <div id="slideBox" class="slideBox">
	            	 <div class="hd">
				        <ul>
		                 {foreach item=banner from=$index.slidepics}
		                  <li></li>
		                 {/foreach}
		                </ul>
				     </div>
				      <div class="banimg">
				        <ul>
				        	{foreach item=banner from=$index.slidepics}
			                 <li><a href="{$banner.link}"><img src="{$banner.image}"/></a></li>
			                {/foreach}				          				          
				        </ul>
				      </div>
		        </div>
	       	  </div>
	       	  <div class="news">
	       	  	  <div class="newss">
                   <div class="news_left"><img src="{$index.newimg.image}">
                        <p>{$index.news.name}</br>
                        	<span>{$index.news.en_name}</span>
                        </p>
                   </div> 
                   <div class="picScroll-left">
						<div class="hd">							
							<ul>
								{foreach item=newss from=$index.news.data}
								<li></li>
								{if $newss@index+1 eq 3}{break}{/if}
								{/foreach}
							</ul>							
						</div>
						<div class="bd">
							<ul class="picList">
								{foreach item=newss from=$index.news.data}
								<li>
									<div class="ndate">
		                               <p class="y"><span>{$newss.pubtimestamp|date_format:'%m'}</span>月</p>
		                               <p class="d"><span>{$newss.pubtimestamp|date_format:'%d'}</span>日</p>
			                        </div>
			                        <div class="newtext">
		                                 <dt class="title"><a href="{$newss.link}">{$newss.title}</a></dt>
		                                 <dd class="nnr">{$newss.description|truncate:20:"…"}</dd>
			                        </div>
								</li>
								{if $newss@index+1 eq 3}{break}{/if}
								{/foreach}								
							</ul>
						</div>
					</div> 
				  </div>                    
	       	  </div>
	       	  <div class="cont">	       	  	   
                   <div class="contact">
                   	   <div class="conbg1"></div>
                   	   <div class="conbg2"></div>
                        <ul>
                        	{foreach item=child from=$index.child.childmenu}
			                  <li>
                                <div class="icon"><a href="{$child.link}">{$child.icon}</a></div>
                                <p>{$child.name}</p>
                              </li>  
			                {if $child@index+1 eq 3}{break}{/if}
			                {/foreach}
                        </ul>                        
                   </div>
	       	  </div>
         </div>
         <div class="right">
              <div class="right_top">
              	   <div class="ab"><a href="{$index.about.link}"></a></div>
                   <div id="show" class="menu"></div> 
                   <div class="menu_nav">
	               	   <div id="hide" class="close"><img src="{$site_url}images/x2_03.png"></div>
	               	   <i class="ntitle"><img src="{$site_url}images/nav.png"></i>
	                   <div class="navs">
			                <ul class="menus">			                	
			                	<li><a class="{if $nav.current}current{/if}" href="{$site_url}">网站首页</a></li>
			                	{foreach item=nav from=$navs}
					            <li>
					            <a class="{if $nav.current}current{/if}" href="{$nav.link}">{$nav.name}</a>	
					            </li>
					            {if $nav@index+1 eq 7}{break}{/if}
					            {/foreach}					            					            
					        </ul>
			           </div>
		           </div>                                    
                   <p class="about"><span>{$index.about.en_name}</span></br>{$index.about.description}</p>
              </div>              
              <div class="right_bot"><a href="{$index.abimg.link}"><img src="{$index.abimg.image}"></a></div>
         </div>
     </div>
     {include file='./_footer.html'}
  
</div>
</body>
</html>