.index-wrap{ background: #fff; overflow:hidden;overflow-y : auto; -webkit-overflow-scrolling:touch;overflow-scrolling: touch;}
.header{ width:100%;height:3rem; text-align: center; overflow:hidden;position: relative;z-index: 10;}
.header .menuico{ display: inline-block;width: 0.875rem; height: 0.75rem; float: left; margin: 1rem 0 0 1rem;}
.inner_top1 .menuico{ display: inline-block;width: 0.875rem; height: 0.75rem; float: right;margin: 0.4rem 1rem 0 0;}
.logo{height:3rem; overflow:hidden; display:table-cell; width:12rem; vertical-align: middle; text-align: center;}
.logo img{ max-width: 100%; max-height: 100%;}
.search{ position:absolute;width: 0.875rem; height: 0.875rem; top: 1rem; right:1rem;}
.txt1{ width: 13rem;opacity: 0;  outline: none; text-indent: 0.6rem; font-size: 0.6rem; line-height: 1.35rem; height:1.35rem;  position: absolute; left:2rem; top: -0.25rem; background: #cecece; border-radius: 0.8rem; border: none;}
.search1{ display: inline-block;width: 0.875rem; height: 0.875rem;background:url(../images/search.png) no-repeat; background-size: 100% 100%; outline: none;  border: none; position: absolute;left: 0; top: 0;}
.searchb{-display: none; position: absolute; left: 0; top: 0;width: 0.875rem; height: 0.875rem; }
.searcha{ position: absolute; left: 0; top: 0;width: 0.875rem; height: 0.875rem; }
.inbg{ background: url(../images/inbg.png) repeat;}
#banner .swiper-slide img{ width: 100%;}
.menu{background:url(../images/menu.png) no-repeat; background-size: 100%; height: 4.875rem; overflow: hidden; margin: 0.8rem 1rem;}
.swiper-nav.swiper-container{ height: 100%; overflow: hidden;}
.nav .swiper-slide.swiper-slide-visible{width:4.65rem !important; }
.nav{ width: 100%; height: 100%;}
.swiper-nav .swiper-wrapper {margin:0;}
.swiper-nav a{font-size: 0.7rem; display:inline-block; margin-top: 0.7rem; width:100%; height: 100%; color: #01414e;text-align: center; cursor:pointer;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.nav .iconfont{ font-size: 1rem !important; color: #c5342d;}
.swiper-nav a em{display: block;}
.swiper-pages {height: 100%;}
.foot{position: relative; font-size: 0.55rem; padding: 0.3rem 0.5rem;  line-height: 1.6; background: #c5342d; color: #ffffff;}
.foot p a{ color: #ffffff;}
.banner_bg{ width: 100%; height: 1.45rem; background:url(../images/bannerbg.png) no-repeat; }
.bbg{ width: 100%; height: 6.425rem; -background:url(../images/nyimg.png) no-repeat; position: relative; }
.in12{ position: absolute; left: 1.8rem; top: 2.5rem;}
.in12 em{ color: #fff; font-size: 0.96rem; display: block; text-transform:uppercase;}
.in12 h3{ color: #fff; font-size: 0.75rem;}

.innerbg{ }
.inner_top{padding:0 0.5rem;height: 1.8rem;line-height:1.8rem; color: #efefef; font-size: 0.6rem; background:url(../images/hbg.png) no-repeat;}
.inner_top .back1{ display: block; padding: 0 0.65rem; background-size: 0.625rem; }
.inner_top .classfiy{float: right; margin:0.45rem 0.2rem 0 0; border-radius: 0.6rem; font-size: 0.5rem;color: #ffffff; display: inline-block; height: 0.9rem; line-height: 0.9rem; padding: 0 0.8rem 0 0.55rem; background:#474747 url(../images/classi.png) no-repeat 1.8rem center; background-size: 0.325rem 0.15rem;}
.in12{ width: 9.5rem; height: 100%; overflow: hidden;}
.inner_top h3{color: #474747; height: 100%; overflow: hidden;line-height: 1.8rem; float: left; font-size: 0.6rem; display: inline-block;}

.inner_top #font{ float: right; border-radius: 0.6rem; position: relative; margin:0.45rem 0 0 0; font-size: 0.6rem;color: #ffffff; display: inline-block; height: 0.9rem; line-height: 0.9rem; padding: 0 0.55rem; background:#474747;}
.inner_top .font1{position:absolute; width:100%;z-index: 5; left:0;top:1.1rem; display: none;}
.font1 dl{height:1.1rem; line-height:1.1rem; color:#efefef; text-align:center; padding-top: 0.3rem;}
.font1{ background:url(../images/fontbg.png) no-repeat; background-size: 100% 100%; width: 2.5rem; height: 4.525rem; }
.inner_top1{height: 1.5rem; background:#626262;}
.backhis{ display: inline-block; width: 2rem; height: 100%; line-height: 1.5rem; text-align: center; font-size: 1.2rem; color: #ffffff;}
.inner_top1 #font{ float: right; position: relative;  font-size: 0.6rem;color: #ffffff; display: inline-block; width: 2.5rem; text-align: center; border-radius: 0.6rem; margin:0.25rem 0.8rem 0 0; height: 1rem; line-height: 1rem; background: #c5342d;}
.inner_top1 .font1{position:absolute; width:100%;z-index: 5; left:0;top:1.3rem; display: none;}
.inner_top1 h3{ display: inline-block; color: #ffffff; font-size: 0.7rem; line-height: 1.5rem; width: 10rem; text-align: center; position: relative;top: -0.15rem;}
.navs{position: relative; padding: 0 0.5rem;display: none;}
ul.mtree {
  font-size:0.65rem;
  position: relative;

  width: 100%;
  margin: 0 auto 0.4rem;
}
ul.mtree ul {
  margin-left: 0px;
}
ul.mtree li {
  list-style: none;
  width: 100%;
}


.kz{ position: relative; display: block;}
.kz .jia{ position: absolute;right: 1rem; top: 0.55rem; background:url(../images/jia.png) no-repeat; background-size: 100%; display: inline-block; width: 0.35rem; height: 0.6rem;}
.kz .jian{ position: absolute;right: 1rem; top: 0.7rem; background:url(../images/jian.png) no-repeat; background-size: 100%;  display: inline-block; width: 0.6rem; height: 0.35rem;}
.firstli{ text-indent: 0.6rem; font-size: 0.65rem;color: #c5342d; display: block; line-height: 2.1rem; }
.mtree>li{ margin-top: 0.25rem; background: #f0f0f0; border-radius: 0.8rem;}
.mtree-level-1>li>a{ color: #6b6b6b; font-size: 0.6rem; text-indent: 1.3rem;}
ul.mtree a {
  -webkit-transition: all 50ms ease-out;
  -moz-transition: all 50ms ease-out;
  -ms-transition: all 50ms ease-out;
  -o-transition: all 50ms ease-out;
  transition: all 50ms ease-out;
}

ul.mtree.transit ul > li {
  font-size: 0.6rem;
  border-top: none;
  line-height: 1.15rem;
  text-indent: 0.8rem;
  margin-bottom: 0.2rem;
  line-height: 1.5rem;
}
ul.mtree.transit li li li {
  border-bottom: none;
   line-height: 1.5rem; 
   margin: 0.2rem 0;
}

.mtree-level-2{ }
ul.mtree.transit li li li > a {
  background:url(../images/lidot.png) no-repeat 0.9rem center;background-size: 0.2rem 0.2rem;
  color: #6b6b6b;
 padding-left: 1.6rem;
}
ul.mtree.transit li.mtree-node {
  position: relative;
}
ul.mtree.transit li.mtree-node > a:before {
  font-weight: normal;
  position: absolute;
  right: 10px;
}
ul.mtree.transit li.mtree-open > a:before {
  content: '';
  font-size: 20px;
  color: #333;
}
ul.mtree.transit li.mtree-closed > a:before {
  content: '';
  font-size: 20px;
  color: #333;
}
ul.mtree.transit li li.mtree-open > a:before {
  display: none;
}
ul.mtree.transit li li.mtree-closed > a:before {
  display: none;
}
ul.mtree.transit li.mtree-node > ul > li:last-child {
  border-bottom: none;
}
ul.mtree.transit li.mtree-node:last-child > ul > li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

ul.mtree.transit li > a:hover i,
ul.mtree.transit li.mtree-active > a i,
ul.mtree.transit li.mtree-open > a i {

}
ul.mtree.transit li > a:hover:before,
ul.mtree.transit li.mtree-active > a:before,
ul.mtree.transit li.mtree-open > a:before {

}
ul.mtree.transit li li > a:hover,
ul.mtree.transit li li.mtree-active > a,
ul.mtree.transit li li.mtree-open > a {
  width: 100%;
  margin: 0;
}
.mtree>li>ul>li>ul>li>a span{ background:url(../images/na.png) no-repeat 0 center; width:0.25rem; height:0.25rem; display:inline-block; position:absolute; right:0;top:0.43rem;}
.mtree>li>ul>li>ul>li>a em{ display:inline-block; width:0.1rem; height:1.1rem; background:#feb319; position:absolute; left:0; top:0;}
.mtree>li>ul>li>ul>li>a{ position:relative;}
.about_main1{ padding: 0;}
.inner_main img{ width: auto; height: auto; margin: 0 auto; display: block; }
.inner_main{margin: 0.5rem 0.5rem 0; position: relative; font-size: 0.6rem; color: #626262; overflow: hidden; min-height: 12rem; }
#inner_main1{background:url(../images/in1.png) no-repeat; width: 15rem; background-size: 100%;  position: absolute;top: 0; left: 0; height: 0.825rem; }
#inner_main2{background:url(../images/in3.png) no-repeat; width: 15rem; background-size: 100%;  position: absolute;bottom: 0; left: 0; height: 0.8rem;}
#inner_main{ background: url(../images/in2.png) repeat-y;background-size: 100%;padding: 1rem 0.5rem;   }


.proBox{ margin: 0 auto;  position: relative;width:11.25rem;  text-align: center;}
.proBox .hd{ z-index: 2; position: absolute; background: rgba(16, 51, 64, 0.39); border-radius: 0.6rem; bottom: 0.3rem; left: 44%; margin-left: -0.6rem; padding: 0 0.5rem; }
.proBox .hd ul{}
.proBox .hd ul li{background:url(../images/pro1.png) no-repeat; width: 0.225rem; height: 0.225rem; overflow: hidden; background-size: 100%; margin: 0.2rem;float: left;}
.proBox .hd ul .on{background:url(../images/pro1h.png) no-repeat; width: 0.225rem; height: 0.225rem; background-size: 100%;}
.proBox .bd{overflow: hidden;  margin: 0 auto; width:11.25rem; height: auto; position: relative;z-index: 1;}
.proBox .bd li{ position:relative; width: 100%; text-align:center; vertical-align: middle;}
.proBox .bd li img{ width: 100%;}
.proBox .bd li a{ -webkit-tap-highlight-color:rgba(0,0,0,0);  }
.proBox .slide_left,.proBox .slide_right{display: block;width: 0.925rem;height: 1.7rem;top:50%;margin-top: -0.8rem;position: absolute;z-index: 10; cursor: pointer; }
.proBox .slide_left{background: url(../images/arrow1.png) no-repeat;left:0.25rem;background-size: 100% 100%;}
.proBox .slide_right{background: url(../images/arrow2.png) no-repeat;right:0.25rem;background-size: 100% 100%;}
.inner_title{ text-align: center; font-size: 0.7rem; color: #626262;}
.prodet-tit{ color: #333333; text-align: center;}
.pro_page{ width: 120%; padding-bottom: 0.35rem;}
.pro_page li{ float: left; margin-right: 0.8rem;width: 7.1rem;}
.pro_page li .pro_img{ display:table-cell; vertical-align: middle; text-align: center; width: 7.1rem;}
.pro_page li .pro_img img{ max-width: 100%; max-height: 100%; vertical-align: middle;}
.pro_page li .protitle{ text-align: center; color: #323232; width:100%; margin: 0.25rem 0 0.5rem; font-size: 0.6rem; line-height: 1rem;background: #cacaca; overflow: hidden; text-overflow:ellipsis; white-space:nowrap;}
.news .news_main{width: 100%;position: relative;margin-top: 0.4rem;}
.news_list1{ position: relative; margin-bottom: 0.75rem; padding: 0 0.5rem;}
.news_list1 li{width: 100%; position: relative; border-bottom: 1px dotted #adadad; }
.news_list1 li a{display: block; width: 10.3rem;  background: #fff; line-height: 2rem; overflow: hidden; text-overflow:ellipsis; white-space:nowrap; color: #626262;font-size: 0.6rem;}
.news_list1 li span{ display: inline-block; color:#737373;  position: relative; line-height: 2rem;}
.newsdetail_main img{ max-width: 100%; max-height: 100%;}
.search_list li a{ width: 100%;}
.page{width: 100%; text-align: center;line-height: 1rem; margin-bottom: 1.1rem;}
.page a{ font-size: 0.6rem; padding: 0 0.33rem; height: 1rem; border-radius:0.5rem; text-align: center; color: #ffffff; background: #474747; line-height: 1rem; display: inline-block;}
.page .on{ background: #c5342d; color: #ffffff;}
.font-big{font-size: 1rem !important;}
.font-normal{font-size: 0.8rem !important;}
.font-small{font-size: 0.6rem !important;}
.news_list2 li{position: relative;overflow: hidden; margin-bottom: 0.5rem;}
.news_list2 li .img_div{ width: 3.6rem;height: 3.6rem; display: table;text-align: center;vertical-align: middle;}
.news_list2 li .img_div img{ max-width: 100%; vertical-align:middle; display: table-cell;}
.news_list2{ margin-bottom: 0.35rem;}
.newsptinfo{ width: 11rem; height: 100%; position: relative;}
.newsptinfo h2{width: 100%; font-size: 0.6rem; color: #c5342d; overflow: hidden; text-overflow:ellipsis; white-space:nowrap;}
.newsptinfo p{color: #808080; font-size: 0.55rem; max-height: 2.4rem;overflow: hidden;}
.page1{ padding-top: 0.5rem;}
.page1 p{ width: 100%; font-size: 0.6rem; color: #ffffff; height: 1.6rem; line-height: 1.6rem; background: #c5342d; border-radius: 0.6rem; margin-bottom: 0.6rem; text-indent: 0.4rem;}
.page1 p a{ color: #ffffff;}
.newsdetail .inner_title{ padding-top: 0 !important;}
.time{ text-align: center; color: #808080; font-size: 0.5rem;}
.sear{ font-size: 0.6rem; color: #c5342d; text-align: center; margin-bottom: 0.5rem; }
.inner_title1{ font-size: 0.7rem; color: #ffffff; text-align: center;}
.news_list4{ padding: 0 0.75rem; margin-bottom: 0.4rem;}
.news_list4 li{}
.news_list4 li a{ color: #ffffff; font-size: 0.6rem; line-height: 2rem; background: #dfa37f; text-indent: 1rem; border-radius: 1rem; display: block;overflow: hidden; text-overflow:ellipsis; white-space:nowrap; margin-bottom: 0.5rem; }














