/*标题样式*/
h2{ text-align:center;}
.ch{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;  font-size:20px; max-width:40%; min-width:20%; display:inline-block; background:url(../images/ch_bg.png) bottom no-repeat; line-height:50px;font-weight:bold;}
.en{overflow: hidden;text-overflow: ellipsis;white-space: nowrap; font-size:16px; max-width:40%}

@media screen and (min-width: 320px) and (max-width: 480px){

.ch{ font-size:14px;  }
.en{ font-size:14px;}

}
@media screen and (min-width: 375px) and (max-width: 677px){.h2_left{ background: url(../images/h2_bg.png) 9px 4px no-repeat #c72930; }}




#in_page{ background:url(../images/about_bg.png) center no-repeat #fff; background-size:100%; padding-top:3%; padding-bottom:1%;}
#in_page .inner{ width:96%; margin:auto}
#in_page .left{ float:left; width:52%; padding-top:3%}
#in_page .left .line{ width:10%; background:#167bc0; height:3px; float:left; margin-top:10px; margin-right:5%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;  font-size:16px; max-width:40%; }
#in_page .left .page_ch{ float:left; font-size:20px; max-width:85%; line-height:24px; color:#167bc0;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; }
#in_page .left .text{ font-size:13PX; line-height:32px; height:128px; overflow:hidden; color:#6b6b6b; margin:2% 0 2% 0}
#in_page .left .more{ width:30%; padding-left:4%; background:url(../images/more01.png) 82px 14px no-repeat #f6be0b; border-radius:5px; line-height:34px; font-size:12px; color:#fff}
#in_page .page_img{ float:left; width:46%; margin-left:2%}
#in_page .page_img img{ width:100%}
@media screen and (min-width: 320px) and (max-width: 480px){
#in_page .left{ width:49%; padding-top:0%}
#in_page .left .line{ width:6%; margin-top:10px; margin-right:2%; height:2px}
#in_page .left .page_ch{ font-size:15px; line-height:24px; color:#167bc0}
#in_page .left .text{ font-size:12px; line-height:22px; height:88px; overflow:hidden; color:#6b6b6b; margin:1% 0 2% 0}
#in_page .left .more{ width:63%; padding-left:4%; background:url(../images/more01.png) 72px 9px no-repeat #f6be0b; line-height:24px;}
#in_page .page_img{ width:50%; margin-left:1%}
}




#in_text{ background:url(../images/text_bg.jpg) center no-repeat #f3f6f4; background-size:100%; padding:2% 0 5% 0}
#in_text ul li{ float:left; width:47%; background:#fff; position:relative; margin:2% 1.5%}
#in_text .text_img{}
#in_text .text_bot{ width:89%; margin:auto; padding-top:6%;}
#in_text .title{ background:url(../images/ico_01.png) 3px 2px no-repeat; font-size:13px; color:#000; text-indent:2em; line-height:20px; height:40px; overflow:hidden; }
#in_text .text{ font-size:12px; color:#6b6b6b; line-height:17px; height:34px; overflow:hidden; margin:5% 0 6% 0}
#in_text .time{ font-size:11px; color:#5c5c5c;}
#in_text .date{ position:absolute; bottom:0px; right:0px; display:inline; width:16%}
#in_text .date img{ width:100%}
#in_text .more{ width:19%; padding-left:4%; background:url(../images/more01.png) 95px 14px no-repeat #f6be0b; border-radius:5px; line-height:34px; font-size:12px;  margin:auto; margin-top:3%}
#in_text .more a{color:#fff;}

@media screen and (min-width: 320px) and (max-width: 480px){
#in_text .more{ width:32%; padding-left:4%; background:url(../images/more01.png) 80px 11px no-repeat #f6be0b; line-height:28px;}

}




#in_image{}
#in_image .inner{ width:96%; margin:auto}
#in_image ul li{ width:44.5%; float:left; border:3px solid #efefef; position: relative; margin: 2%}
#in_image .bot{ position:absolute; bottom:0px; right:0px;background: url(../images/more.png) 139px 7px no-repeat #0669ac; width:60%;}
#in_image .text{ background:#a7a7a7; font-size:14px; width:83%; text-align:center; color:#fff; line-height:30px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#in_image .bj1{ background: url(../images/more.png) 139px 7px no-repeat #f6be0b;}
@media screen and (min-width: 320px) and (max-width: 480px){
#in_image ul li{border:1px solid #efefef;}	
#in_image .bot{ background: url(../images/more.png) 78px 4px no-repeat #0669ac; width:68%;}
#in_image .text{ font-size:12px; width:75%;line-height:24px}
#in_image .bj1{ background: url(../images/more.png) 78px 4px no-repeat #f6be0b;}
}


@media screen and (min-width: 375px) and (max-width: 667px){#in_image .bot{ background: url(../images/more.png) 91px 4px no-repeat #006fba; }
#in_image .bj1{ background: url(../images/more.png) 91px 4px no-repeat #f6be0b;}}
@media screen and (min-width: 360px) and (max-width: 640px){#in_image .bot{ background: url(../images/more.png) 86px 4px no-repeat #006fba; }
#in_image .bj1{ background: url(../images/more.png) 86px 4px no-repeat #f6be0b;}}
@media screen and (min-width: 375px) and (max-width: 667px){#in_image .bot{ background: url(../images/more.png) 91px 4px no-repeat #006fba; }
#in_image .bj1{ background: url(../images/more.png) 91px 4px no-repeat #f6be0b;}}
@media screen and (min-width: 414px) and (max-width: 736px){#in_image .bot{ background: url(../images/more.png) 102px 4px no-repeat #006fba; }
#in_image .bj1{ background: url(../images/more.png) 102px 4px no-repeat #f6be0b;}}
@media screen and (min-width: 412px) and (max-width: 732px){#in_image .bot{ background: url(../images/more.png) 103px 4px no-repeat #006fba; }
#in_image .bj1{ background: url(../images/more.png) 103px 4px no-repeat #f6be0b;}}














