<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>
    <script type="text/javascript">
        // 跳转PC页面
        {if $site_another_url}
        if (!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
            location.href = '{$site_another_url}';
        }
        {/if}
    </script>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="keywords" content="{$keywords}" />
    <meta name="description" content="{$description}" />
    <link rel="stylesheet" href="{$site_url}css/swiper-3.3.1.min.css" />
    <link rel="stylesheet" href="{$site_url}css/style.css">
    <script type="text/javascript" src="{$site_url}js/jquery.min.js"></script>
    <script type="text/javascript" src="{$site_url}js/swiper-3.3.1.jquery.min.js"></script>
    <script type="text/javascript" src="{$site_url}js/index.js"></script>
    <script type="text/javascript" src="{$site_url}js/simple-app.js"></script>

    <script type="text/javascript">
        window.addEventListener('load', function(){
            setTimeout(function(){ window.scrollTo(0, 1);}, 100);
        });//safari浏览器可以通过此代码来隐藏地址栏
    </script>
</head>
<body>
<div class="had">
    <a href="" class="lt iconFont back-prev">&#xe641;</a>
    <span>{$article.title}</span>
    <a href="" class="rt det-fonts ">字 +</a>
</div>
<div class="comm-font  det-font hide txt">
    <ul>
        <li class="big"><a href="javascript:" onclick="changeFontSize2('0.8')">大</a></li>
        <li class="middle"><a href="javascript:" onclick="changeFontSize2('0.7')">中</a></li>
        <li class="sm"><a href="javascript:" onclick="changeFontSize2('0.6')">小</a></li>
    </ul>
</div>
<div class="cont-news comment ">
    <h5>{$article.title}</h5>
    <time class="fr" >发布时间 : {$article.pubtimestamp|date_format:'%Y-%m-%d'}</time>
    <p>{$article.content}</p>
    <ul>
        <li>
            <a href="{$article.prev.link}" >上一篇</a>
            <a class="black-list" onclick="javascript:history.back(-1)">返回</a>
            <a href="{$article.next.link}" >下一篇</a>
        </li>
    </ul>
</div>

{include file="./_footer.html"}
</body>
</html>