<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>
    <script type="text/javascript">
        // 跳转PC页面
        {if $site_another_url}
        if (!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
            location.href = '{$site_another_url}';
        }
        {/if}
    </script>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="keywords" content="{$keywords}" />
    <meta name="description" content="{$description}" />
    <link rel="stylesheet" href="{$site_url}css/swiper-3.3.1.min.css" />
    <link rel="stylesheet" href="{$site_url}css/style.css">
    <script type="text/javascript" src="{$site_url}js/jquery.min.js"></script>
    <script type="text/javascript" src="{$site_url}js/swiper-3.3.1.jquery.min.js"></script>
    <script type="text/javascript" src="{$site_url}js/index.js"></script>
    <script type="text/javascript" src="{$site_url}js/simple-app.js"></script>

    <script type="text/javascript">
        window.addEventListener('load', function(){
            setTimeout(function(){ window.scrollTo(0, 1);}, 100);
        });//safari浏览器可以通过此代码来隐藏地址栏
    </script>
    {$headscript}
</head>
<body>
{include file="./_header.html"}
{include file="./_banner.html"}

<div class="index">
    <!---头部导航-->
    {foreach name=mIndexCats item=mIndexCat from=$mIndexCats}
        {if $mIndexCat.type eq 3}
            {if $mIndexCat.showtype eq 1}
                <div id="cont1">
                    <p class="cont1-title"><a href="{$mIndexCat.link}"><b class="craft-lt"></b><span>{$mIndexCat.name}</span><b class="craft-rt"></b></a></p>
                    <nav class="menulist">
                        <div class="swiper-nav swiper-nav-container ">
                            <div class="swiper-wrapper ">
                                {foreach item=nav from=$mIndexCat.data}
                                <div class="swiper-slide nav {if $nav.current}current{/if}">
                                    <a href="{$nav.link}">
                                        <i><img src="{$nav.image}" alt=""></i>
                                        <p class="rt">
                                            <b >{$nav.title}</b><span >{$nav.description}</span>
                                        </p>
                                    </a>
                                </div>
                                {/foreach}
                            </div>
                        </div>
                    </nav>
                </div>
            {elseif $mIndexCat.showtype eq 2}
                <div id="cont4">
                    <p class="cont1-title"><a href="{$mIndexCat.link}"> <b class="craft-lt"></b><span>{$mIndexCat.name}</span><b class="craft-rt"></b></a></p>
                    <div class="news">
                        {foreach item=new from=$mIndexCat.data}
                        <a href="{$new.link}">
                            <dl>
                                <dt><img src="{$new.image}" alt=""></dt>
                                <dd>
                                    <h6>{$new.title}</h6>
                                    <p>{$new.description}</p>
                                    <span datetime="{$new.pubtimestamp|date_format:'%Y-%m-%d'}">{$new.pubtimestamp|date_format:'%Y-%m-%d'}</span>
                                </dd>
                            </dl>
                        </a>
                        {if $new@index+1 == 3}{break}{/if}
                        {/foreach}
                    </div>
                </div>
         {/if}
        {elseif $mIndexCat.type eq 2}
            {if $mIndexCat.showtype eq 1}
                <div id="cont2" class="content">
                    <p class="cont1-title"><a href="{$mIndexCat.link}"> <b class="craft-lt"></b><span>{$mIndexCat.name}</span><b class="craft-rt"></b></a></p>
                    <div class="swiper-container swiper-banner swiper2" >
                      <ul class="swiper-wrapper ">
                        {foreach name=slidepics item=slide from=$mIndexCat.data}
                        <li class="swiper-slide"><a href="{$slide.link}" >
                            <img src="{$slide.image}"  >
                            <span>{$slide.title}</span>
                        </a></li>
                        {/foreach}
                      </ul>
                      <div class="cont2-hd">
                          <div class="swiper-pagination"></div>
                      </div>
                    </div>
                 </div>
            {elseif $mIndexCat.showtype eq 2}
                 <div id="cont3" >
                    <a href="{$global.banner.link}"><img src="{$global.banner.image}" alt=""></a>
                    <div class="bg">
                        <img src="{$site_url}images/img_20.png" alt="">
                    </div>
                </div>
        {/if}
        {elseif $mIndexCat.type eq 4}
             {if $mIndexCat.showtype eq 1}
                <div id="cont5" >
                    <p class="cont1-title"><a href="{$mIndexCat.link}"> <b class="craft-lt"></b><span>{$mIndexCat.name}</span><b class="craft-rt"></b></a></p>
                    <div class="about-us">
                        <p >{$mIndexCat.description}<a href="{$mIndexCat.link}">[详细]</a></p>
                    </div>
                </div>
             {/if}
        {/if}
    {/foreach}
</div>

{include file="./_footer.html"}
</body>
</html>