.swiper-container {margin:0 auto;position:relative;overflow:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;/* Fix of Webkit flickering */z-index:1;}
.swiper-wrapper {position:relative;width:100%;-webkit-transition-property:-webkit-transform,left,top;-webkit-transition-duration:0s;-webkit-transform:translate3d(0px,0,0);-webkit-transition-timing-function:ease;-moz-transition-property:-moz-transform,left,top;-moz-transition-duration:0s;-moz-transform:translate3d(0px,0,0);-moz-transition-timing-function:ease;-o-transition-property:-o-transform,left,top;-o-transition-duration:0s;-o-transform:translate3d(0px,0,0);-o-transition-timing-function:ease;-o-transform:translate(0px,0px);-ms-transition-property:-ms-transform,left,top;-ms-transition-duration:0s;-ms-transform:translate3d(0px,0,0);-ms-transition-timing-function:ease;transition-property:transform,left,top;transition-duration:0s;transform:translate3d(0px,0,0);transition-timing-function:ease;}
.swiper-free-mode > .swiper-wrapper {-webkit-transition-timing-function: ease-out;-moz-transition-timing-function: ease-out;-ms-transition-timing-function: ease-out;-o-transition-timing-function: ease-out;transition-timing-function: ease-out;margin: 0 auto;}
.swiper-slide {float: left;}
/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {ms-touch-action: pan-y;}
.swiper-wp8-vertical {-ms-touch-action: pan-x;}
.swiper-container, .swiper-wrapper, .swiper-slide {-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-o-transform-style:preserve-3d;-ms-transform-style:preserve-3d;
transform-style:preserve-3d;}





.thumbs-cotnainer {}
.thumbs-cotnainer .swiper-slide {width: 80px; text-align:center}

.menu{ position:relative; height:45px; overflow:hidden; width:100%; background:#ffda29;  line-height:45px;}
.menu .nav{ padding:0px 25px 0px 25px; height:45px overflow:hidden;}
.swiper-nav {height:45px;width: 100%; z-index:999;}
.swiper-nav .swiper-wrapper {
	margin: 0 auto;
}
.swiper-nav span {cursor: pointer;display: block;color: #fff;text-align: center; height:45px; line-height:45px; font-size:15px;}
.swiper-nav span a{ color:#282828;padding:0px 0px; display:block; -webkit-tap-highlight-color:rgba(0,0,0,0);  }
.swiper-nav span:active {background:rgba(53,105,168,0.9);}
.swiper-pages {height: 100%;}
.scroll-container {height: 100%;width: 100%;}
.arrow-left,.arrow-right{ position:absolute; top:0px; left:0px; height:100%; display: inline; color:#000000; width:25px; height:45px; text-align:center; line-height:45px; cursor:pointer; z-index:999999999;}
.arrow-right{ background:rgba(0,0,0,0.1); font-size:20px; margin-right:0px;color:#000000;}
.arrow-left{  background:rgba(0,0,0,0.2); font-size:20px; margin-left:0px; color:#000000;}
.current{ background:rgba(0,0,0,0.2); color:#000000;}
.current1{ background:rgba(0,0,0,0.1); }
.arrow-right{ left:auto; right:0px;}
.arrow-left:hover,.arrow-right:hover{ color:#000000;}
