
  <div class="class page-prev">
  <h1 class="class-top"><span class="class-close">×</span>快速搜索</h1>
  <div class="class-m">
  <div class="swiper-container scroll-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
                        	<div class="search_all">
                    	<form action="{$search_action}" method="GET">
                 	<div class="suosuo">
                       
                           <div class="ss_input"><input type="text" name="s" value=""  class="txt1" autofocus="autofocus"></div>
                             <div class="ss_btn"><input type="submit" class="btn1" value="搜索"> </div>
                          
                                                  
                    </div>  </form>                          
                            </div>
  	
    </div></div></div>
  </div>
</div>
	<header>
    	<div class="header">
        	<div class="logo"><img src="{$logo}" width="100%"></div>
           <div class="menu2" id="quickbar" ><a href="#" id="quickbar-navs-btn"><span></span></a></div>  
           <div class="search" id="daohang">
           	<a href="#"><span></span></a>
           </div>    
        </div>                   
    </header>  