<div class="header">
    <div class="logo"><a href="{$site_url}"><img src="{$logo}" alt=""></a></div>
    <div class="navBar">
        <ul class="nav">
            {$limit = 6}
            <li class="m" style="width:{100/($limit+1)}%">
                <h3><a href="{$site_url}">首页</a></h3>
            </li>
             {if $navs|count lt $limit}{$limit = $navs|count}{/if}

            {foreach name=navs item=nav from=$navs}
            <li class="{if $nav.current}on{/if} m" style="width:{100/($limit+1)}% ">
                <h3><a href="{$nav.link}">{$nav.name}</a></h3>               
                {if $nav.childmenu}
                <div class="subnav">
                    <ul class="sub">
                        {foreach key=key item=nav_list from=$nav.childmenu}
                        <li class="{if $nav.current}current{/if}"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
                        {/foreach}

                    </ul>                        
                </div>
                {/if}
            </li>
            {if $nav@index+1 gte $limit}{break}{/if}
            {/foreach}  

        </ul>
    </div>

</div>
<div class="banner">
  <div id="slideBox" class="slideBox">
    <div class="hd">
      <ul>
        {foreach item=slidepic from=$global.slidepics}
          <li></li>                    
        {/foreach} 
      </ul>
    </div>
    <div class="bd">
      <ul>
        {foreach item=slidepic from=$global.slidepics}
          <li><a href="javscript:;"><img src="{$slidepic.image}"></a></li>                    
        {/foreach} 
      </ul>
    </div>
<!--     <a class="prev" href="javascript:void(0)"></a>
    <a class="next" href="javascript:void(0)"></a> -->        
  </div>  
</div>   


















