<!DOCTYPE>
<html>
<head>

    <script type="text/javascript">
    // 跳转手机页面
    {if $site_another_url}
        if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
            location.href = '{$site_another_url}';
        }
    {/if}
    </script>
    
    <meta name="keywords" content="{$keywords}"/>
    <meta name="description" content="{$description}"/>
    <link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
    <meta http-equiv="x-ua-compatible" content="ie=8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$title}</title>
    <link rel="stylesheet" type="text/css" href="{$site_url}css/css.css"/>
    <script src="{$site_url}js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.1.js"></script>
    <script type="text/javascript" src="{$site_url}js/function.js"></script>
    {$headscript}
</head>
<body>
<div class="wrap">
    {include file='./_header.html'} 

    
    <div class="content">
        <div class="pro">
            <ul>
                <li>
                    <div class="colname">
                        <h2>{$index.pro.name}</h2>
                        <p>{$index.pro.en_name}</p>                            
                    </div>
                </li>
                {foreach item=list1 from=$index.pro.data}
                    <li><div class="pic"><a href="{$list1.link}"><img src="{$list1.image}" alt=""></a></div><p><a href="{$list1.link}">{$list1.title}</a></p></li>
                
                  {if $list1@index+1 gte 6}{break}{/if}
                {/foreach}

                <li class="last">
                    <span><a href="{$index.pro.link}">查看更多 MORE</a></span>
                </li>
            </ul>
        </div>
        <div class="news">
            <div class="tit">
                <h2>{$index.news.name}</h2>
                <p>{$index.news.en_name}</p>
            </div>
            <div class="picScroll-left">
                <div class="hd">
                    <a class="next"></a>
                    <ul></ul>
                    <a class="prev"></a>
                </div>
                <div class="bd">
                    <ul class="picList">

                        {foreach item=list1 from=$index.news.data}
                            <li>
                                <div class="pic"><a href="{$list1.link}"><img src="{$list1.image}" /></a></div>
                                <div class="title">
                                    <div class="titbox">
                                      <h2><a href="{$list1.link}">{$list1.title}</a></h2>
                                      <p>{$list1.description}</p>
                                      <a href="{$list1.link}" class="morebtn">查看更多</a>  
                                    </div>
                                </div>
                            </li>                        
                        {/foreach}
                    </ul>
                </div>
            </div>            
        </div>
        <div class="about">
            <div class="aboutbox">
                <div class="tit">
                    <h2>{$index.about_us.name}</h2>
                    <p>{$index.about_us.en_name}</p>
                </div> 
                <div class="about-nr">
                    <a href="{$index.about_us.link}">
                       {$index.about_us.description}
                    </a>
                             
                </div>
                <div class="aboutimg"><span><img src="{$index.about_us.image}" alt=""></span></div>    
                <div class="more"><a href="{$index.about_us.link}">查看更多 MORE</a></div>           
            </div>
        </div>
        <div class="case">
            <div class="tit">
                <h2>{$index.case.name}</h2>
                <p>{$index.case.en_name}</p>
                <a href="{$index.case.link}">MORE+</a>
            </div> 
            <div class="picMarquee-left">
                <div class="hd">
                    <a class="next"></a>
                    <a class="prev"></a>
                </div>
                <div class="bd">
                    <ul class="picList">

                        {foreach item=list1 from=$index.case.data}
    
                        <li>
                            <div class="pic"><a href="{$list1.link}"><img src="{$list1.image}" /></a></div>
                            <div class="title"><a href="{$list1.link}">{$list1.title}</a></div>
                        </li>

                        {/foreach}

                    </ul>
                </div>
            </div>


        </div>

    </div>
    {include file='./_footer.html'}

</div>
</body>
</html>
