  

<!--   <div class="menu">
          <ul id="nav" class="nav">
            {$limit = 7}
            <li class="nLi on" style="width:{100/($limit+1)}%">
                <h3><a href="{$site_url}" target="_self">网站首页</a></h3>
            </li>
            {foreach name=navs item=nav from=$navs}
            <li class="{if $nav.current}on{/if} nLi" style="width:{100/($limit+1)}%">
                <h3>
                    <a href="{$nav.link}" target="_self">{$nav.name}</a>
                </h3>               
                {if $nav.childmenu}
                    <ul class="sub">
                        {foreach key=key item=nav_list from=$nav.childmenu}
                        <li class="{if $nav.current}current{/if}"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
                        {/foreach}
                    </ul>
                {/if}
            </li>
            {if $nav@index+1 gte $limit}{break}{/if}
            {/foreach}
        </ul> 

  </div> -->



<div class='header public'>
      
    <div class='logo fl'><a href="{$site_url}"><img src="{$logo}" alt="" /></a></div>
    <div class='china fr'>
      <form action="{$search_action}" method="GET">

        <span class='search fr'>搜索<input type="text" class='text' name="s" value="" /><input type="submit"  class='button' /></span>

      </form>

    </div>
</div>
<div class='menu'>
      <!-- <div class='public'> -->
<!--         <ul class='nume'>
          <li class='li_bg'><a href="index.php">首页</a></li>
          <li class='li_bg'><a href="article.php?m=1">关于我们</a></li>
          <li class='li_bg'><a href="article.php?m=3"> 管道疏通</a></li>
          <li class='li_bg'><a href="article.php?m=5">服务地域</a></li>
          <li class='li_bg'><a href="article.php?m=6">管道疏通 </a></li>
          <li class='li_bg'><a href="article.php?m=8"> 公司资质 </a></li>
          <li><a href="article.php?m=10">联系我们</a></li>
        </ul> -->
          <ul id="nav" class="nav">
            {$limit = 7}
            <li class="nLi on" style="width:{100/($limit+1)}%">
                <h3><a href="{$site_url}" target="_self">网站首页</a></h3>
            </li>
            {foreach name=navs item=nav from=$navs}
            <li class="{if $nav.current}on{/if} nLi" style="width:{100/($limit+1)}%">
                <h3>
                    <a href="{$nav.link}" target="_self">{$nav.name}</a>
                </h3>               
                {if $nav.childmenu}
                    <ul class="sub">
                        {foreach key=key item=nav_list from=$nav.childmenu}
                        <li class="{if $nav.current}current{/if}"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
                        {/foreach}
                    </ul>
                {/if}
            </li>
            {if $nav@index+1 gte $limit}{break}{/if}
            {/foreach}
        </ul> 


        <!-- </div> -->
</div>
<div class='banner'>
  <div id="slideBox" class="slideBox ">
      <div class="hd">
        <ul>
            {foreach item=slidepic from=$global.slidepics}
              <li>{$slidepic@index+1}</li>                    
            {/foreach}  
        </ul>
      </div>
      
      <div class="bd">
        <ul>
            {foreach item=slidepic from=$global.slidepics}
              <li><a href="{$slidepic.link}"><img src="{$slidepic.image}"></a></li>                    
            {/foreach}  
        </ul>
      </div>

  </div>


</div>