  <header>
          <div class="logo"><img src="{$logo}" width="100%"></div>
          <div class="header_menu" id="header_menu"><a  href="#"><img src="{$site_url}images/header_menu.jpg"></a></div>
          <!--<div class="menulist">
        <div class="navlist">
         <a class="arrow-left" href="#">&lt;</a> <a class="arrow-right" href="#">&gt;</a> 
          <div class="swiper-nav swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><span><a href="index.html">本站首页</a></span></div>
              <div class="swiper-slide"><span><a href="list-page.html">关于我们</a></span></div>
              <div class="swiper-slide"><span><a href="list-text.html">新闻中心</a></span></div>
              <div class="swiper-slide"><span><a href="list-image.html">产品中心</a></span></div>
              <div class="swiper-slide"><span><a href="list-imagetext.html">案例展示</a></span></div>
              <div class="swiper-slide"><span><a href="#">合作伙伴</a></span></div>
              <div class="swiper-slide"><span><a href="#">招商加盟</a></span></div>
              <div class="swiper-slide"><span><a href="#">联系我们</a></span></div>
            </div>
          </div>
        </div>
      </div>-->
           <div class="baner" id="baner">
        <div id="slideBox" class="slideBox">
          <div class="hd">
            <ul>
            </ul>
          </div>
          <div class="bd">
            <ul>
              {foreach name=slidepics item=slidepic from=$global.slidepics}
              <li><a class="pic" href="{$slidepic.link}"><img src="{$slidepic.image}" title="640*316" /></a></li>
   {/foreach} 
            </ul>
          </div>
        </div>
      </div>
  </header>