		<div class="header c">
			<div class="search_box" id="sr_box"><i class="iconfont ftt">&#xe636;</i></div>
			<div class="logo img_c"><a href="{$site_url}"><i><img src="{$logo}"></i></a></div>
			<div class="head_menu"><i class="iconfont ftt">&#xe603;</i></div>
		</div>
		<div class="page_top">
			<div class="c page_c">
				<div class="back"><a href="javascript:history.back(-1)">返回</a></div>
				<div class="top_center"><span>{$posnavs[0].name}</span></div>
				{if $pagenavs}
				<div class="classify">分类</div>
				{else}
				<div class="classify none">分类</div>
				{/if}
			</div>
		</div>