<div class="ntop"> 
    <div class="header2">
       <div class="head2">
            <div class="logo"><a href="{$site_url}"><img src="{$logo}"></a></div>
            <div class="navs">
                  <ul class="menus">
                    {$limit=8}
                    {if $limit gt $navs|count}{$limit=$navs|count}{/if}
                    <li style="width:{(100/($limit+1))}%">
                      <a class="{if $nav.current}current{/if}" href="{$site_url}"><i class="icon">○</i>网站首页</a>
                    </li>
                    {foreach item=nav from=$navs}
                        <li style="width:{(100/($limit+1))}%">
                          <a class="{if $nav.current}current{/if}" href="{$nav.link}"><i class="icon">{$nav.icon}</i>{$nav.name}</a>
                           {if $nav.childmenu}
                               <ul class="erji none">
                                {foreach item=nav_list from=$nav.childmenu}
                                 <li>
                                    <a href="{$nav_list.link}">{$nav_list.name}</a>
                                 </li> 
                                 {/foreach}
                               </ul>
                           {/if}
                        </li>
                    {if $nav@index+1 eq $limit}{break}{/if}
                    {/foreach}
                 </ul>
            </div>
       </div>    
    </div>
    <div class="abanner">
            <div id="slideBox2" class="slideBox2">
              <div class="hd">
                <ul>
                  {foreach item=nbanner from=$global.slidepics}
                  <li></li>
                  {/foreach}
                </ul>
              </div>
              <div class="banner2">
                <ul>
                  {foreach item=nbanner from=$global.slidepics}
                  <li><a href="{$nbanner.link}"><img src="{$nbanner.image}"/></a></li>
                  {/foreach}
                </ul>
              </div>
            </div>      
    </div>
  </div>