<div id="header" class="wrapper"><a href=""><img src="{$logo}"  height="116" /></a><h3 class="tle">{$contact.telephone}</h3><span>欢迎您致电咨询我们！</span></div>

<div class="nav">
		<div class="wrapper navbar">
			<ul>
				<li class="nav_li" style="width:{100/(($navs|count)+1)}%"><a href="{$site_url}">首页</a></li>
				{foreach name=navs item=nav from=$navs}
				<li class="{if $nav.current} current{/if} nav_li" style="width:{100/(($navs|count)+1)}%">
					<a href="{$nav.link}">{$nav.name}</a>
					{if $nav.childmenu}
					<ul class="sub">
						{foreach key=key item=nav_list from=$nav.childmenu}
						<li class="{if $nav.current}current{/if}"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
						{/foreach}
					</ul>
					{/if}
				</li>
				{/foreach}
			</ul>
		</div>
	</div>


<div id="banner">
	<div class="ba">
	<ul class="pic">
	{foreach name=slidepics item=slidepic from=$global.slidepics}
		<li><a href="{$slidepic.link}"><img src="{$slidepic.image}" width="1500" height="485" /></a></li>
	{/foreach}
	</ul>
	<ul class="hd">
	{foreach name=slidepics item=slidepic from=$global.slidepics}
		<li></li>
	{/foreach}
	</ul>
	</div>
</div>