/*标题样式*/
.xx{ width:95%; margin:auto; border:1px solid #dddddd; padding-top:2%;box-shadow:0px 2px 2px #dadada}
h2{ border-bottom:1px solid #8ec31e; padding-bottom:10px; position:relative}
h2 .h2_bot{ position:absolute; bottom:-24px; left:7%}
h2 .more{ float:right; background:url(../images/more.png) 52px 3px no-repeat; margin-right:2%; padding-right:22px; font-size:12px; color:#818181;margin-bottom:10px}
.ch{overflow: hidden;text-overflow: ellipsis;white-space: nowrap; float:left;background:url(../images/ch_bg.png) 5px 3px no-repeat; padding-left:15px; margin-left:2%; font-size:16px; color:#609033; font-weight:bold; margin-bottom:10px}
.en{overflow: hidden;text-overflow: ellipsis;white-space: nowrap}

@media screen and (min-width: 320px) and (max-width: 480px){
h2{ padding-bottom:4px;}
h2 .h2_bot{ left:10%}
.ch{overflow: hidden;text-overflow: ellipsis;white-space: nowrap; float:left;background:url(../images/ch_bg.png) 5px 3px no-repeat; padding-left:15px; margin-left:2%; font-size:14px; color:#609033; font-weight:bold}
}

@media screen and (min-width: 375px) and (max-width: 677px){h2 .h2_bot{ bottom:-23px;}}
@media screen and (min-width: 414px) and (max-width: 736px){h2 .h2_bot{ bottom:-24px;}}




#in_page{}
#in_page .inner{ width:93%; margin:auto; margin-top:3%; padding-bottom:4%}
#in_page .text{ width:60%; line-height:30px; height:150px; overflow:hidden; float:left;font-size:12px; color:#333333; text-indent:2em; padding-top:2%}
#in_page .page_img{ float:right;  width:34%; }
#in_page .page_img img{ width:100%}


@media screen and (min-width: 320px) and (max-width: 480px){
#in_page .text{ width:52%; line-height:24px; height:120px; overflow:hidden;padding-top:2%}
#in_page .page_img{  width:46%; }
}




#in_text{}
#in_text .inner{ width:93%; margin:auto; padding:3% 0 2% 0}
#in_text ul li{ border:1px solid #dedbdb; padding:0 3%; line-height:26px; margin:2.5% 0;
    background: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(251,251,251,0.5), rgba(245,245,245,0.5)),#f3f3f3;
    background: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(251,251,251,0.5), rgba(245,245,245,0.5)),#f3f3f3;
    background: -o-linear-gradient(top, rgba(255,255,255,1), rgba(251,251,251,0.5), rgba(245,245,245,0.5)),#f3f3f3;}
#in_text .text{ float:left; width:80%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; font-size:12px; color:#343434; background:url(../images/li_bg.png) 0px 10px no-repeat; padding-left:15px} 
#in_text .time{ float:right; font-size:12px; color:#8c8c8c}

@media screen and (min-width: 320px) and (max-width: 480px){
#in_text .text{ width:65%;background:url(../images/li_bg.png) 0px 10px no-repeat; padding-left:11px} 
#in_text .time{ float:right; font-size:12px; color:#8c8c8c}
}



#in_image{ }
#in_image .inner{ margin:auto; width:94%; padding-top:5%; padding-bottom:5%}
#in_image ul li{ text-align:center; width:31.3%; float:left; margin:0 1%}
#in_image .pro_img{ border:1px solid #b3d08b;}
#in_image .text{ color:#585858; font-size:12px; font-weight:bold; margin-top:3%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap}


@media screen and (min-width: 320px) and (max-width: 480px){

}
@media screen and (min-width: 320px) and (max-width: 568px){

}




































