<div id="header">
      <div id="slideBox" class="slideBox">
          <div class="hd">
            <ul>
             {foreach item=banner from=$global.slidepics}
              <li></li>
             {/foreach}
            </ul>
          </div>
          <div class="banner">
            <ul>
              {foreach item=banner from=$global.slidepics}
              <li><a href="{$banner.link}"><img src="{$banner.image}" /></a></li>
              {/foreach}
            </ul>
          </div>
      </div>
      <div class="logo">
           <a href="{$site_url}"><img src="{$logo}"></a>
      </div>
      <div class="logo_bg"></div>
      <div di="navs" class="navs">
           <ul class="menu">
            <li><a class="current" href="{$site_url}">网站首页</a></li>
            {foreach item=nav from=$navs}
            <li class="{if $nav.current}current{/if}"><a href="{$nav.link}">{$nav.name}</a>
                {if $nav.childmenu}
                 <ul class="erji none">
                    {foreach item=nav_list from=$nav.childmenu}
                   <li><a href="{$nav_list.link}" >{$nav_list.name}</a></li> 
                    {/foreach}                
                 </ul>
                {/if}
            </li>
            {/foreach}           
           </ul>
      </div>
      <div id="div_area0" class="index_liu">
        <form method="post" action="">
        <h2 data-type="title" >免费获取装修报价</h2>
          <span><em>房屋面积</em><input type="text" placeholder="房屋装修面积（数字）" data-type="inset"></span>
          <span>
              <em>装修档次</em>
              <strong class="three_area1">
                <select errorid="errorArea" emp="true" name="装修档次" des="装修档次" class="form-control" data-type="inset"><option value="">请选择装修档次</option><option value="经济装修">经济装修</option><option value="中档装修">中档装修</option><option value="高档装修">高档装修</option></select>
              </strong>
          </span>
          <span><em>您的称呼</em><input type="text" placeholder="您的称呼" data-type="inset"></span>
          <span><em>您的电话</em><input type="text" placeholder="客服服务将于24小时以内给您去电" data-type="inset"></span>
          <span>
              <em>装修地区</em>
              <strong class="three_area1">
                <select errorid="errorArea" emp="true" name="装修地区" des="惠州惠城" class="form-control" data-type="inset"><option value="">请选择装修地区</option><option value="惠州惠城">惠州惠城</option><option value="惠州惠阳">惠州惠阳</option><option value="惠州大亚湾">惠州大亚湾</option><option value="惠州博罗">惠州博罗</option><option value="惠州惠东">惠州惠东</option><option value="惠州龙门">惠州龙门</option></select>
              </strong>
          </span>
          <input type="submit" class="btn" value="免费获取">
        </form>
      </div>
</div>