 <div class="header_bg">
<div id="header" class="wrapper clearfix">
<div class="logo"><a href="{$site_url}"><img src="images/logo.png" /></a></div>
<div class="header_inter">
<div class="top_tel"><b>服务热线：</b>{$contact.telephone}</div>
<div class="search"><form action="{$search_action}" method="GET">
  <input type="text" name="s" value="" class="search_area" />
  <input type="submit" class="search_btn"  value=" "/>
</form></div>

</div>
</div>
</div>
 
 
<div class="nav_bg">
<div id="nav" class="wrapper">
 <ul class="clearfix">
            {$limit = 8}
            {if $navs|count lt $limit}{$limit = $navs|count}{/if}
            {foreach name=navs item=nav from=$navs}
            <li class="fl{if $nav.current} current{/if} aa" style="width:{100/($limit)}%">
                <a href="{$nav.link}">{$nav.name}<br /><span>{$nav.en_name}</span></a>
                <ul class="sub clearfix">
                    {if $nav.childmenu} {foreach key=key item=nav_list from=$nav.childmenu}
                    <li class="{if $nav.current}current{/if} cc"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
                    {/foreach} {/if}
                </ul>
            </li>
            {if $nav@index+1 eq $limit}{break}{/if}
            {/foreach}
        </ul>
</div>
</div>


<div id="sub_banner"><div id="kinMaxShow1" style="display:none;"> {foreach name=slidepics item=slidepic from=$global.slidepics}
      <div> <a href="{$slidepic.link}" target="_blank"><img src="{$slidepic.image}" alt="{$slidepic.title}"  /></a></div>
      {/foreach} </div></div>







