<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript">
    // 跳转手机页面
    {if $site_another_url}
    if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
        location.href = '{$site_another_url}';
    } {/if}
    </script>

<meta http-equiv="x-ua-compatible" content="ie=7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />
<script src="{$site_url}js/MSClass.js" type="text/javascript"></script>
<script type="text/javascript" src="{$site_url}js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="http://common.mn.sina.com.cn/public/resource/lib/jquery.jcarousellite.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.kinMaxShow-1.0.min.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
<style>
.tx1 {
	behavior: url(pie.htc);
}
</style>
<title>{$title}</title>
{$headscript}
</head>
<body>
 <div class="header_bg">
<div id="header" class="wrapper clearfix">
<div class="logo"><a href="{$site_url}"><img src="{$logo}" alt="{$title}"></a></div>
<div class="header_inter">
<div class="top_tel"><b>服务热线：</b>{$contact.telephone}</div>
<div class="search"><form action="{$search_action}" method="GET">
  <input type="text" name="s" value="" class="search_area" />
  <input type="submit" class="search_btn"  value=" "/>
</form></div>

</div>
</div>
</div>
 
 
<div class="nav_bg">
<div id="nav" class="wrapper">
 <ul class="clearfix">
            {$limit = 8}
            {if $navs|count lt $limit}{$limit = $navs|count}{/if}
            {foreach name=navs item=nav from=$navs}
            <li class="fl{if $nav.current} current{/if} aa" style="width:{100/($limit)}%">
                <a href="{$nav.link}">{$nav.name}<br /><span>{$nav.en_name}</span></a>
                <ul class="sub clearfix">
                    {if $nav.childmenu} {foreach key=key item=nav_list from=$nav.childmenu}
                    <li class="{if $nav.current}current{/if} cc"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
                    {/foreach} {/if}
                </ul>
            </li>
            {if $nav@index+1 eq $limit}{break}{/if}
            {/foreach}
        </ul>
</div>
</div>


<div id="sub_banner"><div id="kinMaxShow" style="display:none;"> {foreach name=slidepics item=slidepic from=$index.slidepics1}
      <div> <a href="{$slidepic.link}" target="_blank"><img src="{$slidepic.image}" alt="{$slidepic.title}"  /></a></div>
      {/foreach} </div></div>




<div id="container" class="clearfix">



<div id="about" class="wrapper bg">
<div class="title"><span><a href="{$index.about.link}"><img src="{$site_url}images/MO.png" width="97" height="23" /></a></span><h2>{$index.about.name}</h2></div>
<div class="inner">
  <div class="in_aboutimg"><img src="{$index.about.image}" height="100%"/> </div><div class="in_text">{$index.about.description}</div></div>

</div>



<div class="sw_bg bg">
<div id="sw" class="wrapper">
<div class="title"><a href="{$index.pro.link}"><h2><b>{$index.pro.name}</b><br />{$index.pro.en_name}<br /></h2></a></div>
<div class="inner">

<div id="prizes">
					                <div class="photos">                        
                                         <div class="photos-content {if $index.pro.data|count>4} enable{/if}" >
                                            <ul>           
{foreach name=pro item=pro from=$index.pro.data}
<li><a href="{$pro.link}"><img src="{$pro.image}" /><p>{$pro.title}</p></a></li>
{/foreach}
                                              </ul>
                                        </div>                
                                    </div>
                                </div>


</div>
</div>
</div>


<div id="news" class="wrapper clearfix bg">
<div class="title"><a href="{$index.news.link}"><h2><b>{$index.news.name}</b><br />{$index.news.en_name}<br />{$index.news.description}</h2></a></div>
<div class="inner clearfix">
<div class=" nb"><a href="{$index.news.data[0].link}"><img src="{$index.news.data[0].image}"  /></a></div>
<div class=" nt">
<h1><a href="{$index.news.data[0].link}">{$index.news.data[0].title}</a></h1>
<div class="nt_wz">{$index.news.data[0].description}</div>
<ul>
{foreach name=news item=news from=$index.news.data}
    {if $news@index+1 gte 1 and $news@index+1 lte 6}
<li><span>{$news.pubdate}</span><a href="{$news.link}">{$news.title}</a></li>
  {/if}
{/foreach}
</ul>
</div>
</div>
</div>




</div>
 
{include file="./_footer.html"}
</body>
</html>
