<header class="header">
    <div class="head">
        <div class="head-top">
            <div class="headmain">
                <div class="logo"><a href="{$site_url}"><img src="{$logo}"></a></div>
                <div class="hotline"><span>{$global.hotline}<b>{$contact.telephone}</b></span></div>
                <form id="search" action="{$search_action}" name="search">
                    <input type="text" name="s" id="keyword" placeholder="请输入搜索内容" />
                    <button class="button"><img src="{$site_url}images/map.png"></button>
                </form>
            </div>
        </div>
        <div class="headnav">
            <ul class="nav" id="nav">
                <li><a href="{$site_url}">网站首页</a></li>
                {foreach item=nav from=$navs}
                    <li>
                        <a href="{$nav.link}">{$nav.name}</a>
                        {if $nav.childmenu}
                            <div class="subnav">
                                <ul class="nav-list">
                                    {foreach key=key item=subnav from=$nav.childmenu}
                                    <li><a href="{$subnav.link}"><span>{$subnav.name}</span><em></em></a></li>
                                    {/foreach}
                                    <em></em>
                                </ul>
                            </div>
                        {/if}
                    </li>
                {/foreach}
                <div class="trilateral"><i></i></div>
            </ul>
        </div>
    </div>
</header>