     <div class="header">
        <div class="logo fl"><a href="{$site_url}" title="返回首页"><img src="{$logo}" alt=""></a></div>
        <div class="menu fr">

            <ul id="nav" class="nav">
                {$limit = 5}
                <li class="nLi on">
                    <h3>
                        <a href="{$site_url}">
                            <span class="cname">首页</span>
                            <span class="ename">Home</span>
                        </a>
                    </h3>
                </li>
                {foreach name=navs item=nav from=$navs}
                <li class="{if $nav.current}on{/if} nLi">
                    <h3>
                        <a href="{$nav.link}">
                            <span class="cname">{$nav.name}</span>
                            <span class="ename">{$nav.en_name}</span>
                        </a>
                    </h3>               
                    {if $nav.childmenu}
                        <ul class="sub">
                            {foreach key=key item=nav_list from=$nav.childmenu}
                            <li class="{if $nav.current}current{/if}"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
                            {/foreach}
                        </ul>
                    {/if}
                </li>
                {if $nav@index+1 gte $limit}{break}{/if}
                {/foreach}
            </ul> 

         
            
        </div>
    </div>


























