<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="{$keywords}" />
    <meta name="description" content="{$description}" />
    <link rel="shortcut icon" href="" type="image/x-icon" />
    <title>{$title}</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/index.js"></script>
</head>
<body>
<div id="header">
    <div class="container">
        <div class="hadTop">
            <div class="logo">
                <a href=""><img src="" alt=""></a>
            </div>
            <div class="nav">
                <ul class="nav-one">
                    <li class="oneLi">
                        <i><img src="images/index-1_06.png" alt=""></i>
                    </li>
                    <li class="oneLi">
                        <i><a href=""><img src="images/index-1_15.png" alt=""></a></i>
                        <div class="oneA">
                            <a class="one-name" href="">
                                <b>关于我们</b>
                                <span>About US</span>
                            </a>
                            <ul class="child">
                                <li class="childLi"><a href="">二级分类</a></li>
                                <li class="childLi"><a href="">二级分类</a></li>
                                <li class="childLi"><a href="">二级分类</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="oneLi">
                        <i><img src="images/index-1_21.png" alt=""></i>
                    </li>
                    <li class="oneLi">
                        <i><img src="images/index-1_27.png" alt=""></i>
                    </li>
                    <li class="oneLi">
                        <i><img src="images/index_02_34.png" alt=""></i>
                    </li>
                </ul>
            </div>
            
        </div>
        <div class="pageName">
            <h5>About Us</h5>
            <h3>关于我们</h3>
        </div>
    </div>
</div>
<div id="mainD">
    <div class="container">
        <div class="title">
            <img src="images/about_04.png" alt="">
            <p><span>About Us</span> / <span>关于我们</span> </p>
        </div>
        <div class="contD">
            <ul class="navD">
                <li class="navD-li">
                    <a href="">一级列表</a>
                    <ul class="navD-child">
                        <li class="two-li">
                            <a href="">二级列表</a><i></i>
                            <ul class="navD-three">
                                <li class="three-li"><a href="">三级列表</a></li>
                                <li class="three-li"><a href="">三级列表</a></li>
                                <li class="three-li"><a href="">三级列表</a></li>
                            </ul>
                        </li>
                        <li class="two-li"><a href="">二级列表</a><i></i></li>
                        <li class="two-li"><a href="">二级列表</a><i></i></li>
                    </ul>
                </li>
                <li class="navD-li"><a href="">一级列表</a></li>
                <li class="navD-li"><a href="">一级列表</a></li>

            </ul>
            <div class="textD">
                百度厦门营销服务中心--厦门易尔通网络科技有限公司
                2005年，易尔通被百度授权建立了厦门地区“百度厦门营销服务中心”，该服务中心为厦门地区的百度客户提供专业的服务。2007年11月，百度正式授权易尔通为福建漳州、龙岩地区核心代理。
                目前我们的客户服务中心为厦门、泉州、漳州、龙岩及周边地区的百度客户在“咨询服务”、“开户服务”、“关键字管理 ”到“效果跟踪报告”方面提供服务。让客户充分体验产品加上专业的服务才能在网络推广中获得效益。
                同时根据厦门、漳州、龙岩地区客户对服务更高质量的要求易尔通客户服务中心再推出“网站建设服务”、 “ 网站优化服务 ”、“ 关键字效果分析服务 ” 到 “ 企业网络推广综合报告服务 ”一系列专业服务 ，保证让客户能从网络上获得最佳产品、品牌推广效果，让大量客户从网络中带来了前所未有的经济效益。

            </div>
        </div>

    </div>
</div>
<div id="footer">
    <div class="container">
        <div class="link">
            <p><span>友情链接</span> <i class="iconfont"> v </i> </p>
           <ul>
               <li><a href="">易尔通</a></li>
               <li><a href="">易尔通</a></li>
               <li><a href="">易尔通</a></li>
           </ul>
        </div>
        <ul class="foot-nav">
            <li><a href=""><img src="images/index-1_06.png" alt="" width="28" height="24"></a></li>
            <li><a href=""><img src="images/index-1_15.png" alt="" width="26" height="26"></a></li>
            <li><a href=""><img src="images/index-1_21.png" alt="" width="24" height="20"></a></li>
            <li><a href=""><img src="images/index-1_27.png" alt="" width="25" height="24"></a></li>
            <li><a href=""><img src="images/index_02_34.png" alt="" width="29" height="27"></a></li>
        </ul>
        <div class="copy">
            <h2><img src="images/index_02_39.png" alt="">400-5894-695</h2>
            <p>Copyright © 厦门易尔通网络科技有限公司  </p>
            <p>All Rights Reserved 备案号：闽ICP备05008324号  </p>
            <p>技术支持：厦门易尔通网络科技有限公司    人才支持：厦门人才网 </p>
        </div>
    </div>
</div>
</body>
</html>