<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <script type="text/javascript">
        // 识别为手机客户端，自动跳转手机页面
        {if $site_another_url}
        if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
            location.href = '{$site_another_url}';
        }
        {/if}
    </script>
    <meta name="keywords" content="{$keywords}" />
    <meta name="description" content="{$description}" />
    <link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
    <title>{$title}</title>
    <link rel="stylesheet" href="{$site_url}css/style.css">
    <link rel="stylesheet" href="{$site_url}css/jquery.bxslider.css">
    <script src="{$site_url}js/jquery-1.9.1.min.js"></script>
    <script src="{$site_url}js/jquery.bxslider.js"></script>
    <script src="{$site_url}js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="{$site_url}js/index.js"></script>

</head>
<body>
<div id="header">
    {include file="./_nav.html"}
    <div class="pageName">
        <h5>{$list.name} </h5>
        <h3>{$list.en_name} </h3>
    </div>
</div>
<div id="mainD">
    <div class="container">
        {include file="./_pagenavs.html"}
        <div class="contD">
            <div class="textD">
                <div class="det-lt">
                   <div class="det-lt-b">
                       {foreach item=imgT from=$list.data}
                       <dl class="list-text imgT">
                           <dt>
                               <img src="{$imgT.image}" alt="">
                           </dt>
                           <dd>
                               <h5><span>{$imgT.title}</span><time class="rt">{$imgT.pubtimestamp|date_format:'%Y-%m-%d'}</time></h5>
                               <p>{$imgT.description}</p>
                               <a href="{$imgT.link}">查看详情</a>
                           </dd>
                       </dl>
                       {/foreach}
                   </div>
                    {include file="./_page.html"}
                </div>
                {include file="./_detList.html"}

            </div>
        </div>

    </div>
</div>
{include file="./_footer.html"}
</body>
</html>