<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="x-ua-compatible" content="ie=8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<script type="text/javascript" src="http://common.mn.sina.com.cn/public/resource/lib/jquery.jcarousellite.js"></script>

<link rel="stylesheet" rev="stylesheet" href="{$site_url}css/style_{$stylecolor}.css" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="js/dd_delatedpng.js" ></script>
<script type="text/javascript">//如果多个element使用PNG,则用','分隔
DD_belatedPNG.fix('div,ul,li,a,p,img');
</script>
<![endif]-->

<script type="text/javascript" src="{$site_url}js/jquery1.42.min.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.SuperSlide.2.1.js"></script>

<link href="{$site_url}css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$site_url}js/index.js"></script>


<script type="text/javascript">
	// 跳转手机页面
	{if $site_another_url}
		if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
			location.href = '{$site_another_url}';
		}
	{/if}
	</script>
	<title>{$title}</title>

</head>

<body>
<div class="wappers">
    {include file="./_header.html"}
        <div class="containers ">
          <div class="contant ">
            <div class="public01">
                <div class="left fl p_r">
                	{include file="./_pagenavs_sub3.html"}
                </div>        
                <div class="right h_o fr">
                    <h3 class="list_title"><i>您现在当前的位置：</i><a href="{$site_url}">首页</a> &gt; {foreach item=nav from=$posnavs}>> <a href="{$nav.link}">{$nav.name}</a>
                    {/foreach}
                    </h3>
                    <div class="article h_o">
                        <div class="dtBox " >
							<div class="bd " >
								<ul>
				                {foreach item=proshowb from=$article.images}
				                    <li><img src="{$proshowb.image}" alt="{$proshowb.title}" /></li>
				                {/foreach}       
								</ul>
							</div>      
							<!-- 下面是前/后按钮代码，如果不需要删除即可 -->
							<a class="prev" href="javascript:void(0)"></a>
							<a class="next" href="javascript:void(0)"></a>                  
            			</div>
			            <div class="moule_edot">
							{$article.content}{shareExt shareText=$article.content|strip_tags|truncate:140:"…" sharePic=$article.image}
			  			</div>
                          <ul class="inner_pages">
                          <li>上一篇：<a href="{$article.prev.link}">{$article.prev.title}</a></li>
                           <li>下一篇：<a href="{$article.next.link}">{$article.next.title}</a></li>
                          </ul>
                    </div>          
                </div>
              </div>
           </div>                      
       </div>
      {include file="./_footer.html"}
</div>   

</body>
</html>
















