<div class="aside_nav">
    <h3><a href="">{$posnavs[0].name}</a></h3>
    <ul id="asideNav">
        {foreach item=nav from=$pagenavs}
        <li>
            <a href="">{$nav.name}</a>
            {if $nav.childmenu}
            <div class="sjx"></div>
            <ul>
                {foreach key=key item=nav_list from=$nav.childmenu}
                <li>
                    <a href="{$nav_list.link}">{$nav_list.name}</a>
                    {if $nav_list.childmenu}
                    <div class="sjx1"></div>
                    <ul>
                        {foreach key=key item=nav_listsec from=$nav_list.childmenu}
                        <li><a href="{$nav_listsec.link}">{$nav_listsec.name}</a></li>
                        {/foreach}
                    </ul>
                    {/if}
                </li>
                {/foreach}
            </ul>
            {/if}
        </li>
        {/foreach}
    </ul>
</div>
<div class="aside_bread">
    <ul>
        {foreach item=nav from=$posnavs}
        <li class="fl">
            <a href="{$nav.link}">{$nav.name}</a>
        </li>
        {/foreach}
    </ul>
</div>