<footer>
    <div id="footer">
        <div class="foot">
            <div class="one">
                <span><a target="_blank" href="{$_footer.qq}"><img src="{$site_url}images/qq.png" alt=""/></a></span>
                <span class="wx">
                    <a href="javascript:;"><img src="{$site_url}images/wx.png" alt=""/></a>
                    <div class="weixin"><img src="{$_footer.wx.image}" alt=""/></div>
                </span>
                <span><a target="_blank" href="{$_footer.wb}"><img src="{$site_url}images/wb.png" alt=""/></a></span>
            </div>
            <div class="two">
                <span class="yqlj">友情链接</span><span class="shang"><i class="iconfont">&#xe617;</i></span>
                <div class="list">
                    <ul>
                        {foreach item=links from=$_footer.links}
                        <li><a href="{$links.link}">{$links.title}</a></li>
                        {/foreach}
                    </ul>
                </div>
            </div>
            <div class="three"> {$footprint}</div>
        </div>
    </div>
</footer>
{$footscript}