
/*标题样式*/
.detail{ color:rgba(255,255,255,0.3)}
.in_h2{   z-index:1000; margin-bottom:10px;  }
.in_h2 .text{margin:auto; float:right; margin:20px 20px 0 0; }
.in_h2 .more{ width:25px; height:25px; border-radius:50%; background:rgba(0,0,0,.4); position:absolute; right:0px; bottom:20px; line-height:25PX; text-align:center; color:#fff}
.in_h2 .text .in_zh{color:#333; font-size:19px;font-weight:bold; line-height:30px; margin-right:5px; height:30px; overflow:hidden; display:block  }
.in_h2 .text .in_en{ font-size:14px; color:#666; text-transform:uppercase; line-height:20px; height:20px; overflow:hidden;display:block }
/*标题样式*/

.h2_img{ position:absolute; margin-top:-700000px}
.h2_img img{ width:100%;}

.inner{}
.wrapper{ width:100%; margin:10px cauto;  }
.top{background:url(../images/in_h2.png) no-repeat; background-size:100% auto; z-index:1000; position:relative;}
.top1{background:url(../images/in_h21.png) no-repeat; background-size:100% auto; z-index:1000; position:relative;}

.in_page{width:100%;  }
.in_page .inner{width:95%; margin:auto; }
.in_page .inner .pic{  margin:10px auto }
.in_page .inner .pic img{ width:100%; display:block}
.in_page .inner p{ margin:auto; line-height:24px; height:72px; overflow:hidden; }

@media screen and (min-width: 320px) and (max-width: 480px){
.in_h2 .text{ margin:10px;}
.in_h2 .text .in_zh{font-size:15px;  }
.in_h2 .text .in_en{ font-size:12px; display:none }

}
@media screen and (min-width: 480px) {}
.in_text ul { width:98%; margin:auto}
.in_text ul li{  margin-top:4px; padding-bottom:5px; width:98%; margin:15px auto}
.in_text ul li .data{ width:15%; float:left; border:1px solid #666 }
.in_text ul li .data .nina{ font-size:16px; color:#5b5b5b;text-align:center; line-height:25px}
.in_text ul li .data .riqi{ font-size:30px; color:#6a6a6a; line-height:40px;text-align:center; border-bottom:1PX solid #b2b2b2}
.news_detail{ width:82%; float:left; margin-left:2%; }
.in_text ul li .in_title{font-size:16px;  line-height:26px; width:100%; display:block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;  height:26px; color:#6c4207;}
.in_text ul li .in_des{  line-height:20px; height:40px; overflow:hidden; color:#787777; margin-top:5px}
.in_text ul li .sub1{  color:#868686}
.in_text ul li .sub1 span{ float:right; color:#868686; margin-top:3px;}
.in_text ul li .sub1 .txt{ width:68%; float:left;background:url(../images/icon.jpg) no-repeat left; line-height:30px; height:30px; overflow:hidden; padding-left:2%;}



@media screen and (min-width: 320px) and (max-width: 480px){
.in_text ul li .data{ width:20%; }
.in_text ul li .data .nina{ font-size:12px;}
.in_text ul li .data .riqi{ font-size:20px;}
.news_detail{ width:75%}
}


/*#in_imagetext ul li{ padding-bottom:15px; margin-bottom:15px; border-bottom:dashed 1px; border-bottom-color:rgba(0,0,0,0.2);}
#in_imagetext ul li .in_imgbox{float:left; width:25%;border:solid 3px; border-color:rgba(255,255,255,0.2);background-clip: border-box;box-shadow: 2px 2px 5px #888888;}
#in_imagetext ul li .in_imgbox img{ }
#in_imagetext ul li .in_textbox{ float:right; width:70%;}
#in_imagetext ul li .in_textbox .in_title{ font-size:1.2em;  line-height:26px; margin-top:5px;width:100%; display:block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;  height:26px;}
#in_imagetext ul li .in_textbox .in_data{  font-size:12px; line-height:20px; color:#000;opacity:0.3;filter:Alpha(opacity=30);}
#in_imagetext ul li .in_textbox .in_des{ padding-top:7px; line-height:20px; height:40px; overflow:hidden;opacity:0.5;filter:Alpha(opacity=50);}
@media screen and (min-width: 320px) and (max-width: 480px){
#in_imagetext ul li .in_textbox .in_title{font-size:14px;}
#in_imagetext ul li .in_textbox .in_des{ display:none}
}
*/


.in_image ul{ margin-bottom:20px;}
.in_image ul li{ float:left; display: inline-block; text-align:center;width:47%; margin:10px 1.5%;}
.in_image ul li .in_proimg{ width:100%; overflow:hidden;  }
.in_image ul li .in_proimg img{ width:100%}
.in_image ul li .in_protitle{  height:30px; line-height:30px;text-align:center; color:#333;  }





