
<div class="header">
      <div class="logo"><a href="{$site_url}"><img src="{$logo}"></a></div>
      <div class="tell">{$contact.telephone}</div>
      <div class="home"><a href="#">设为首页</a><a href="#" class="home1">加入收藏</a></div>
    </div>
    <div class="baner">
        <div class="fullSlide">      
          <div class="bd">
            <ul>         
                {foreach name=slidepics item=slidepic from=$global.slidepics}
                   <li><a href="{$slidepic.link}"><img src="{$slidepic.image}" /></a></li>               
                {/foreach}           
            </ul>
          </div>

          <div class="hd"><ul></ul></div>
        </div>
</div>

<div class="menu">
        <ul class="nav">
        <li><a href="{$site_url}" class="cu">网站首页</a></li>
        {foreach name=navs item=nav from=$navs}
          <li class="fl{if $nav.current} current{/if}" >
            <a href="{$nav.link}">{$nav.name}</a>
            {if $nav.childmenu}
              <ul class="clearfix">
                {foreach key=key item=nav_list from=$nav.childmenu}
                <li class="{if $nav.current}current{/if}"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
                {/foreach}
              </ul>
            {/if}
          </li>
        {/foreach}

        
        </ul>
</div>