      <div class="opacity2"></div>
      <div class="PathInner" id="PathMenu">
        <div class="PathMain" onclick="PathRun();">
          <span class="pathbox2">
            <img src="icon/G.png" width="33" height="33"></span>
        </div>
        <div class="PathItem">
          <span class="item">
            <img src="icon/f_i5.png" height="20">
            <dt class="title">咨询</dt>
          </span>
        </div>
        <div class="PathItem">
          <span class="item">
            <img src="icon/f_i4.png" height="20">
            <dt class="title">短信</dt>
          </span>
        </div>
        <div class="PathItem">
          <span class="item">
            <img src="icon/f_i3.png" height="20">
            <dt class="title">电话</dt>
          </span>
        </div>
        <div class="PathItem" onclick="javascript:window.location.href='index.html'">
          <dl class="item">
            <img src="icon/f_i2.png" height="20">
            <dt class="title">首页</dt>
          </dl>
        </div>
      </div>