<div id="header">
      <div class="header_top">
          <div class="logo"><img src="{$logo}"></div>
          <div class="search">
	            <p>{$global.teltext}<span>{$contact.telephone}</span></p>
	           <form class="search_div" action="{$search_action}" method="GET">
                <input name="s" type="text" class="input" placeholder="请输入搜索关键字">
                <input name="" type="submit" class="btn" value="">
            </form>
          </div>
      </div>
     <div class="navs_bg"> 
       <div class="navs">
           <ul>
              {$limit=9}
              {if $limit gt $navs|count}{$limit=$navs|count}{/if}
              <li  style="width:{100/($limit+1)}%"><a class="current" href="{$site_url}">网站首页</a></li>
              {foreach item=nav from=$navs}
                <li style="width:{100/($limit+1)}%" class="{if $nav.current} current{/if}">
                  <a href="{$nav.link}">{$nav.name}</a>
                    {if $nav.childmenu}
                     <ul class="erji">
                         {foreach item=nav_list from=$nav.childmenu}
                            <li><a href="{$nav_list.link}">{$nav_list.name}</a></li>
                         {/foreach}   
                     </ul>
                     {/if}
                </li>
                {if $nav@index+1 eq $limit}{break}{/if}
              {/foreach}
           </ul>
      </div>
    </div>
  </div>
  