<div class="ny_left">
  {if $pagenavs}
      <div class="left_top">
           <p>{$posnavs[0].name}<span>/{$posnavs[0].en_name}</span></p>
      </div>
      <ul class="ce">
          {foreach item=lnav from=$pagenavs}
            <li class="{if $lnav.current}current{/if}">
              <a class="xz {if $lnav.current}current{/if}" href="{if $lnav.childmenu}javascript:;{else}{$lnav.link}{/if}">{$lnav.name}</a> 
               {if $lnav.childmenu}
               <ul class="er">
                  {foreach item=navlist from=$lnav.childmenu}
                  <li class="e_li {if $navlist.current}current{/if}">
                     <a href="{if $navlist.childmenu}javascript:;{else}{$navlist.link}{/if}">{$navlist.name}</a> 
                     {if $navlist.childmenu}   
                        <ul class="thr">
                            {foreach item=navlists from=$navlist.childmenu}
                             <li class="{if $navlists.current}current{/if}">
                              <a href="{$navlists.link}">{$navlists.name}</a>
                             </li>
                            {/foreach}
                        </ul>
                     {/if}
                  </li>
                  {/foreach}
               </ul>
               {/if}
           </li>
           {/foreach}
      </ul>
  {else}
      <div class="left_top">
           <p>{$global.pagenavss.name}<span>/{$global.pagenavss.en_name}</span></p>
      </div>
      <ul class="ce">
          {foreach item=lnav from=$global.pagenavss.childmenu}
           <li  class="{if $lnav.current}current{/if}">
            <a class="xz current {if $lnav.current}current{/if}"  href="{if $lnav.childmenu}javascript:;
                                 {else}{$lnav.link}{/if}">{$lnav.name}</a> 
               {if $lnav.childmenu}
               <ul class="er">
                  {foreach item=navlist from=$lnav.childmenu}
                  <li class="e_li {if $navlist.current}current{/if}">
                     <a href="{if $navlist.childmenu}javascript:;{else}{$navlist.link}{/if}">{$navlist.name}</a> 
                     {if $navlist.childmenu}   
                        <ul class="thr">
                            {foreach item=navlists from=$navlist.childmenu}
                             <li class="{if $navlists.current}current{/if}">
                              <a href="{$navlists.link}">{$navlists.name}</a>
                             </li>
                            {/foreach}
                        </ul>
                     {/if}
                  </li>
                  {/foreach}
               </ul>
               {/if}
           </li>
           {/foreach}
      </ul>
  {/if}
      <div class="contact">
           <a href="{$global.con.link}"><img src="{$site_url}images/contact.png"></a>
            <dl>
               <dd>{$global.con.name}</dd>
               <dt>{$global.con.en_name}</dt>
            </dl>
      </div>
 </div>