<!DOCTYPE html>
<html manifest="huancun.manifest">
<head>
      <script type="text/javascript">
      // 跳转PC页面
      {if $site_another_url}
          if (!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
              location.href = '{$site_another_url}';
          }
      {/if}
      </script>
      <!-- 实时预览调试代码，模板开发完成后删除 -->
      
      <meta name="x5-orientation" content="portrait">
      <meta name="keywords" content="{$keywords}" />
      <meta name="description" content="{$description}" />
      <link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />

      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="apple-mobile-web-app-status-bar-style" content="black" />
      <meta content="telephone=no, email=no" name="format-detection">
      <!-- 启用360浏览器的极速模式(webkit) -->
      <meta name="renderer" content="webkit">
      <!-- 避免IE使用兼容模式 -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
      <meta name="HandheldFriendly" content="true">
      <!-- 微软的老式浏览器 -->
      <meta name="MobileOptimized" content="320">
      <!-- uc强制竖屏 -->
      <meta name="screen-orientation" content="portrait">
      <!-- QQ强制竖屏 -->
      <meta name="x5-orientation" content="portrait">
      <title>{$title}</title>

<link rel="stylesheet" href="{$site_url}css/reset.css" /> 
<link rel="stylesheet" href="{$site_url}css/public.css" /> 
<link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />
<link href="{$site_url}css/swipe.css" rel="stylesheet" type="text/css" />
<link href="{$site_url}css/iconfont.css" rel="stylesheet" type="text/css" />
<script src="{$site_url}js/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.min.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
<script type="text/javascript" src="{$site_url}js/share.js"></script>
<script src="{$site_url}js/idangerous.swiper-2.0.min.js"></script>
<script src="{$site_url}js/idangerous.swiper.3dflow-2.0.js"></script>
<script src="{$site_url}js/simple-app.js"></script>
<script type="text/javascript">
  window.addEventListener('load', function(){
   setTimeout(function(){ window.scrollTo(0, 1); }, 100);
});//safari浏览器可以通过此代码来隐藏地址栏
</script>
</head>
<body>

<div class="index-wrap">
  <header>
       <div class="nyheader">
           <h2>{$posnavs[0].name}</h2>
           <i class="hicon2 iconfont" id="quickbar-showcats">&#xe603;</i>
           <span class="hicon1"><a href="javascript:window.history.back()"><img src="{$site_url}images/returnw.png" alt=""></a></span>
       </div>
  </header>  
    <section>
    <div class="ny-cont">

        

      <div class="news_detail">
                <h2 class="title1">{$article.title}</h2>
                <span class="art-date">{$article.description}</span>
                <div class="font1"><dl class="big">大</dl>|<dl class="normal">中</dl>|<dl class="small">小</dl></div>
<!--                 <div class="prodet">
                    <img src="images/prodet.png" alt="">
                </div> -->
                <div class="prodet">
<!--                         <div id="slideBox" class="slideBox">
                            <div class="hd">
                               <span class="slide_right"></span>
                               <ul style="display:none"></ul>
                               <span class="slide_right"></span>
                            </div>
                            <div class="bd">
                                <ul>
                                  {foreach item=proimg from=$article.images}
                                    <li><img src="{$proimg.image}" alt="" width="100%"></li>
                                  {/foreach}  
                                </ul>
                            </div>
                         
                        </div>         -->   

               <div id="slideBox" class="slideBox">
                  <a href="javascript:void(0);" class="slide_left"></a>
                  <a href="javascript:void(0);" class="slide_right"></a>
                  <div class="hd">
         
                   <ul style="display: none;"></ul>
         
                  </div>
                  <div class="bd">
                      <ul>
                          {foreach item=proimg from=$article.images}
                            <li><a class="pic" href="{$proimg.link}"><img src="{$proimg.image}"/></a></li> 
                          {/foreach}    
                      </ul>
                  </div>             
              </div>



                </div>

                <div class="edit" >{$article.content|unescape:"html"}</div>
                <!-- <div class="next1"><a href="#">上一篇</a><a href="#">下一篇</a></div> -->
                <ul class="paging">
                    <li><a href="{$article.prev.link}">{$article.prev.title}</a></li>
                    <li><a href="{$article.next.link}">{$article.next.title}</a></li>
                </ul>                                                        
                
        </div>

    
    </div>



    </section>


    {include file='./_footer.html'}   
    
    </div>

</body>
</html>
