<footer class="footer" id="footer">
	<div class="foot_top">
		<div class="ft1"></div>
		<div class="ft2"></div>
		<div class="ft3"></div>
		<div class="ft4"></div>
	</div>
	<div class="foot_nav swiper-container">
		<ul class="swiper-wrapper">
			<li class="swiper-slide"><a href="javascript:void(null)" class="menu"><i class="iconfont">&#xe603;</i><h1>导航</h1></a></li>
			{foreach item=bottomnav from=$global.bottomnavs}
				<li class="swiper-slide"><a href="{$bottomnav.link}"><i class="iconfont">{$bottomnav.icon}</i><h1>{$bottomnav.name}</h1></a></li>
			{/foreach}
		</ul>
	</div>
</footer>
{$footscript}