
<div class="warp_shade"></div>
<header id="header" class="header">
	<div class="head">
		<ul class="head_list">
			<li class="head_menu"><a href="" class="menu"><img src="{$site_url}images/menu.png"></a></li>
			<li><a href="{$site_url}"><img src="{$logo}"></a></li>
		
		</ul>
		<div class="beam">
			<div class="beam1"></div>
			<div class="beam2"></div>
			<div class="beam3"></div>
			<div class="beam4"></div>
			<ul class="light">
				<li><img src="{$site_url}images/light.png"></li>
				<li><img src="{$site_url}images/light.png"></li>
				<li><img src="{$site_url}images/light.png"></li>
				<li><img src="{$site_url}images/light.png"></li>
				<li><img src="{$site_url}images/light.png"></li>
			</ul>
			<div class="tent"><img src="{$site_url}images/tent.png"></div>
			<div class="beam5"></div>
			<div class="beam6"></div>
		</div>
	</div>
</header>