<div class="link">
  <div class="linkbox">
    <div class="link-left fl">
      <div class="QQ">
         <a target=blank href=http://wpa.qq.com/msgrd?V=3&uin={$gloabl.QQ.title}&Site=QQ客服&Menu=yes><img border="0" SRC={$global.QQ.image} alt="点击这里给我发消息"><span>{$global.QQ_txt}</span></a>
<!--             <a href="">
          <img src="images/QQ.png" alt="">
          <span>在线QQ咨询</span>              
        </a> -->
      </div>
      <p>{$global.tel_txt_bot}<span>{$global.tel_num_bot}</span></p>
    </div>
    <div class="link-center fl">
        <div class="slt" id="slt-one">
          <h3 class="set">友情链接</h3>
          <ul class="new">
            {foreach name=flink item=flink from=$global.links}
             <li><a href="{$flink.link}">{$flink.title}</a></li>
            {/foreach} 

          </ul>
        </div>            
    </div>
    <div class="link-right fr">
        {$global.left_contact}
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="footer">
    <div class="foot">
        {$footprint}
    </div>
</div>

{$footscript}