/*重置*/
@charset "utf-8";
*{ margin:0px; padding:0px;}
a{ color: #333333; text-decoration:none}
a:hover{color:#085626;cursor: pointer;}
table{border-collapse:collapse; border-spacing:0px;}
body{text-align:left;font-weight:normal;word-wrap:break-word;color: #333;line-height:24px;font-size:14px; font-family:"微软雅黑";background:#fff;}
ul,dl,li,i{list-style:none;}
h1,h2,h3,h4,h5{font-size:12px;font-weight:normal;}
i,em,b{font-style:normal;font-weight:normal;list-style:none;}
img{border: none;max-width: 100%;max-height: 100%;vertical-align: middle;}
mark{background: none;}
.fl{float: left;}.fr{float: right;}.cl{clear:both;}.tc{text-align:center;}.tr{text-align:right;}.tl{text-align:left;}.c0{color:#000;}.c3{color:#333;}.c6{color:#666;}.c9{color:#999;}.cf{color:#fff;}.vm{vertical-align:middle;}.vt{vertical-align:top;}.vb{vertical-align:bottom;}
.oh{overflow: hidden;}.pr{position: relative;}.pa{position: absolute;}.pf{position: fixed;}.toh{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.op{filter: Alpha(opacity=0);-webkit-opacity: 0;-moz-opacity: 0;-ms-opacity: 0;-o-opacity: 0;opacity: 0;}.db{display: block;}.dtc{display: table-cell;}.ma{margin: 0 auto;}

.wrapper{ width:100%;height:auto;position: relative;/*min-width:1000px;min-height: 1110px;*/overflow: hidden;}
/*头部*/
.header{width: 100%;height:120px;position: relative;background: #fff;box-shadow: 3px 3px 10px #bcbcbc;}
.header .head{width: 1200px;height: 120px;margin: 0 auto;}
.header .logo_div{top: 0px;z-index: 33;left: 0; width:175px;height: 158px;background:url(../images/logo_bg.png) center center no-repeat;}
.header .logo_div .logo{width:175px;height: 120px;}
/*导航*/
.navbox{width:1000px;height:120px;}
.navbox .tell{padding-right: 20px; height: 42px;line-height: 42px;color: #666;}
.navbox .nav{width: 900px;height: 78px;margin: 0 auto;position: relative;}
.navbox .nav .menu{width:100%;height: 100%;position: relative;z-index: 8;}
.navbox .nav .menu>li{height: 100%;float: left;position: relative;}
.navbox .nav .menu>li>a{font-size: 16px;color: #333;line-height: 74px;display: block;width: 100%;height:74px;text-align: center;overflow: hidden;}
.navbox .nav .menu>li>a.in{color: #085626;border-bottom: 4px solid #6ec28e;}
.navbox .nav .menu>li:hover>a{color: #085626;border-bottom: 4px solid #6ec28e;}
.navbox .nav .menu .nav_list{display: none; width:100%;height:auto;position: absolute;top:78px;left: 0;z-index: 3;background: #fff;box-shadow: 3px 3px 10px #bcbcbc;border-radius: 0 0 8px 8px;overflow: hidden;}
.navbox .nav .menu .nav_list>li{height:42px;position: relative;text-align: center;border-bottom: 1px solid #eaeaea;}
.navbox .nav .menu .nav_list>li>a{display: block;height: 100%;padding: 0 10px; color: #333;font-size:14px;line-height:42px;overflow: hidden;}
.navbox .nav .menu .nav_list>li:hover{background: #f3f3f3;}
/*.nav .back{width:112px;height: 4px;background: #6ec28e;position: absolute;left: 0;bottom: 0;}*/
/*大图*/
#banner{width: 100%;height: 498px;position: relative;}
#banner .picture{width: 1920px;position: relative;left: 50%;margin-left: -960px;text-align: center;}
#banner .picture img{width: 100%;height: 498px; display: block;}
#banner .dot{position: absolute;bottom:25px;left:50%; }
#banner .dot li{float: left;width: 14px;height: 14px;overflow:hidden;background: #ccc;text-indent: 30px;margin: 0 12px;border-radius: 50%;}
#banner .dot li.on{background: #6ec28e;}

.side{width:1200px;height: auto;overflow: hidden;padding:25px 0;margin: 0 auto;}
.side .side1{width:100%;height:294px;overflow: hidden;background: #f0f0f0;border-radius: 10px;}
.side .side1 .title1{overflow: hidden;width: 254px;height: 254px;background: #fff;margin: 20px 22px;border-radius: 50%;}
.side .side1 .title1 span{float: left;height: 178px;width: 42px;padding-top: 62px;font-size: 30px;color: #333;overflow: hidden;display: block;line-height: 36px;margin-left: 100px;}
.side .side1 .title1 i{overflow: hidden;display: block;width: 18px;height: 84px;text-align: center;padding-top: 92px; float: left;color: #333;line-height: 16px;}
.side .side1 .title1 .ye{width: 69px;height: 43px;bottom: 38px;right: 60px;}
.side .side1 .title1 .y1{width:38px;height: 17px;top: 98px;animation: bounceleft 10s linear infinite alternate;}
@keyframes bounceleft {
0% {transform: translatex(-40px;);}
50%{transform: translatex(125px);}
100% {transform: translatex(254px);}
}
.side .side1 .title1 .y2{width:60px;height: 17px;top:32px;animation: bouncey 10s linear infinite alternate-reverse;}
@keyframes bouncey {
0% {transform: translatex(400px;);}
50%{transform: translatex(200px);}
100% {transform: translatex(100px);}
}
.side .side1 .title1 .y3{width:60px;height: 14px;bottom:100px;animation: bouncet 12s linear infinite alternate-reverse;}
@keyframes bouncet {
0% {transform: translatex(600px;);}
50%{transform: translatex(100px);}
100% {transform: translatex(200px);}
}
.side .side1 .title1 .y4{width:60px;height: 17px;bottom:20px;animation: bounceleft 8s linear infinite alternate;}
.side .side1 .picMarquee-left{width: 882px;height: auto;overflow: hidden;padding-right: 10px;}
.side .side1 .picMarquee-left ul li{width: 200px;height: 266px;float: left; margin: 20px 10px 8px 10px;}
.side .side1 .picMarquee-left ul li a{display: block;}
.side .side1 .picMarquee-left ul li .pimg{width: 200px;height: 228px;border-radius: 10px;overflow: hidden;}
.side .side1 .picMarquee-left ul li p{width: 100%;height: 38px;line-height: 38px;}
.side .side1 .picMarquee-left ul li:hover .pimg{box-shadow: 0px 0px 10px #999;}

.side .side2{width:1200px;height: 223px;margin: 0 auto;padding-top: 25px;}
.side .side2 .mov{width: 400px;height: 223px;}
.side .side2 .about_r{width: 776px;height: 223px;}
.about_r .ab_list{width: 778px;height: 223px;}
.about_r .ab_list li{width: auto;height: 223px;float: left;margin-left: 4px;}
.about_r .ab_list li .name{display: block;padding: 20px 10px;width: 36px;height: 183px;background: #6ec28e url(../images/i1.png) center 184px no-repeat;color: #fff;font-size: 20px;}
.about_r .ab_list li .name span{display: block;width: 36px;height: 148px;overflow: hidden;}
.about_r .ab_list li .name_det{display:none;width: 538px;height: 153px;padding: 35px 30px;background: #f0f0f0;}
.about_r .ab_list li .name_det .gsimg{width: 246px;height: 153px;}
.about_r .ab_list li .name_det .gsimg .imgdiv{width: 246px;height: 153px;}
.about_r .ab_list li .name_det .pomy{width: 274px;height: 153px;}
.about_r .ab_list li .name_det .pomy .pomy_dec{overflow: hidden;width: 100%;height: 110px;margin-bottom: 6px;color: #666;line-height: 28px;}
.about_r .ab_list li .name_det .pomy a.more{width: 62px;height: 24px;display: block;border-radius: 10px;background: #e4cf3b;color: #fff;}
.about_r .ab_list li .name_det .newlist{width: 100%;height:auto;overflow: hidden;}
.about_r .ab_list li .name_det .newlist li{padding: 0 5px; height: 42px;line-height: 42px;border-bottom: 1px dashed #999;overflow: hidden;float: none;margin-left: 0;}
.about_r .ab_list li .name_det .newlist li a{display: block;}
.about_r .ab_list li .name_det .newlist li a span{float: right;font-size: 12px;}
/*页脚*/
#footer{width: 100%;height:auto;overflow: hidden;background: #f0f0f0;border-top: 2px solid #6ec28e;}
#footer .foot{width: 1200px;height: 180px;padding: 30px 0;margin: 0 auto;}
#footer .foot .link{width: 282px;height: 100%;padding-right: 42px;border-right:1px solid #ccc;}
#footer .foot .title{width: 100%;height: 24px;overflow: hidden;font-size: 16px;color: #333;margin-bottom: 22px;}
#footer .foot .title span{text-transform: uppercase;}
#footer .foot .link .linklist{width: 100%;height: auto;overflow: hidden;}
#footer .foot .link .linklist a{display: inline-block;width: 110px;height:30px;line-height: 30px;margin-right: 22px;float: left;}
#footer .foot .contact{width: 300px;padding: 0 88px 0 108px;border-right:1px solid #ccc;}
#footer .foot .contact .con{width: 100%;height: 120px;line-height: 30px;overflow: hidden;}
#footer .foot .gz{width: 272px;height: 100%;margin-left: 100px;}
#footer .foot .gz .ewm .wx{width:110px;height: 138px;float: left;line-height: 28px;}
#footer .foot .gz .ewm{width: 100%;height: auto;overflow: hidden;}
#footer .foot .gz .ewm span{display: block;width: 105px;height: 105px;padding: 5px;background: url(../images/er.png) center no-repeat; }
#footer .foot .gz .ewm span img{width: 97px;height: 97px;border: 4px solid #ddd;}
#footer .copy{padding: 20px 0;height:auto;width: 100%;background: #e0e0e0;line-height: 24px;color: #666;}
#footer .copy a{color: #666;}
#footer .copy a:hover{color: #085626;}
/*about*/
.side_ny{width:1200px;height: auto;overflow: hidden;padding: 30px 0;margin: 0 auto;}
.side_ny .side_left{width:268px;height: auto;border: 1px solid #e7e3e6;}
.side_ny .side_left .nnav{overflow: hidden;width:100%;height:66px;font-size: 24px;line-height: 66px;background: #6ec28e;color: #fff;}
.con-left-nav{width:100%;height: auto;overflow: hidden;}
.con-left-nav .ce{width: 100%;display: block;}
.con-left-nav .ce li{height:auto;width:100%;height: auto;}
.con-left-nav .ce li a{padding: 0 20px;border-top: 1px solid #e7e3e6;display: block;width:228px;height: 48px;overflow: hidden;color: #333;font-size: 16px;line-height: 48px;}
.con-left-nav .ce li a:hover,.con-left-nav .ce li a.current{color: #fff;background:#6ec28e;}
.con-left-nav .ce li a .ericon{padding-left: 10px;float:right;display:block;font-size:28px;position: relative;z-index: 3;}
.con-left-nav .ce li a .ericon .icon1{display: none;}
.con-left-nav .ce .xz .ericon .icon1,.con-left-nav .ce .sen_x .ericon .icon1{display: block;}
.con-left-nav .ce .xz .ericon .icon2,.con-left-nav .ce .sen_x .ericon .icon2{display: none;}
.clear{clear:both;}
.con-left-nav .ce li ul.er{display:none;width:100%;background: #f2efef;}
.con-left-nav .ce ul.er li{width:100%;margin: 0;}
.con-left-nav .ce ul.er li a{overflow: hidden;padding: 0 20px 0 35px;width:213px;}
.con-left-nav .ce ul.er .e_li .thr{display:none;}
.con-left-nav .ce ul.er .e_li .thr li a{padding: 0 20px 0 50px;width:198px;overflow: hidden;}
.con-left-nav .ce ul.er .e_li .thr li a:hover{color: #085626;background:none;}
.side_ny .side_right{width:895px;height: auto;overflow: hidden; }
.side_right .cur_adr{width:895px;height: 32px;margin-bottom: 14px; }
.side_right .cur_adr p{max-width: 300px;max-height: 32px;font-size: 26px;line-height:32px;float: left;color: #085626;padding-left: 58px;background: url(../images/ye2.png) left center no-repeat;overflow: hidden;}
.side_right .cur_adr .adr{max-width: 500px;max-height: 32px;font-size: 14px;line-height: 32px;color:#999;}
.side_right .cur_adr .adr a{color:#999;}
.side_right .cur_adr .adr a:hover{color:#085626;}
.side_right .dectil{padding: 34px;width: 825px;height: auto;overflow: hidden;border: 1px solid #cdcdcd;border-radius: 10px;}
/*news*/
.side_right .dectil .newlist,.side_right .dectil .newlist ul{width: 100%;height: auto;overflow: hidden;}
.side_right .dectil .newlist li{width: 100%;height: 43px;border-bottom: 1px dashed #d9d9d9;line-height: 43px;}
.side_right .dectil .newlist li a{display: block;width: 100%;height: 43px;overflow: hidden;}
.side_right .dectil .newlist li span{float: right;padding-left: 15px;}
.page{width: 100%;height: 30px;padding-top:34px;}
.page a{color: #333;margin:0 6px;font-size: 12px;padding: 3px 8px;border: 1px solid #ccc;}
.page a:hover,.page a.current{color: #fff;background: #6ec28e;border: 1px solid #6ec28e;}
/*imgtext*/
.dectil .imgtext,.dectil .imgtext ul{width: 100%;height: auto;overflow: hidden;}
.dectil .imgtext ul li{width: 100%;height: 153px;padding: 20px 0;border-bottom:1px solid #cdcdcd;}
.dectil .imgtext ul li .new_l,.dectil .imgtext ul li .new_l .nimg{width:246px;height: 153px;}
.dectil .imgtext ul li .new_r{width: 558px;height: 153px;}
.dectil .imgtext ul li .new_r dd{width: 100%;height: 34px;line-height: 34px;overflow: hidden;font-size: 16px;}
.dectil .imgtext ul li .new_r dd a{display: block;}
.dectil .imgtext ul li .new_r dt{width: 100%;height: 90px;line-height: 30px;color: #666;overflow: hidden;}
.dectil .imgtext ul li .new_r span{color: #666;}
/*news-dt*/
.side_right .dectil .art_title{width:100%;height:auto;border-bottom:1px solid #d9d9d9;padding-bottom: 20px;font-size: 20px;line-height: 30px;}
.side_right .dectil .art_title p{font-size: 14px;color: #666;}
.side_right .dectil .art_title p a{color: #206439;}
.side_right .dectil .artcle{width: 100%;height: auto;overflow: hidden;margin: 20px 0;}
.choose{width: 100%;height:56px;line-height: 28px;padding-top: 16px;border-top:1px solid #d9d9d9;}
.choose li{width: 100%;height: 28px;overflow: hidden;}
/*pro*/
.side_right .prolist{padding: 24px;width: 845px;height: auto;overflow: hidden;border: 1px solid #cdcdcd;border-radius: 10px;}
.side_right .prolist ul{width: 100%;height: auto;overflow: hidden;}
.side_right .prolist ul li{width:261px;height: 342px;float: left;margin:10px 10px 0 10px;}
.side_right .prolist ul li a{display: block;}
.side_right .prolist ul li .pimg{width: 259px;height: 296px;border: 1px solid #c8c8c8;border-radius: 10px;}
.side_right .prolist ul li p{width: 100%;height: 44px;line-height: 44px;text-align: center;overflow: hidden;}
.side_right .prolist ul li:hover .pimg{box-shadow: 0px 0px 10px #cdcdcd;}
/*pro-dt*/
.protop{width:493px; height:419px;overflow:hidden;zoom:1;margin: 10px auto}
.protop .hd{width:116px;height:419px;overflow:hidden;}
.protop .hd ul li{margin-bottom: 9px;width:114px;height: 131px;text-align:center;position: relative;border: 1px solid #cdcdcd;border-radius:6px;}
.protop .hd ul li .prodt{width:114px;height: 131px;vertical-align: middle;}
.protop .hd ul li em{width: 100%;height: 100%;position: absolute;top: 0;left: 0;
	background-color:rgba(255,255,255,.5);filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#2ffffff,endcolorstr=#2fffffff);}
.protop .hd ul li.on{border: 1px solid #085626;}
.protop .hd ul li.on em{display: none;}
.protop .hd .prev,.protop .hd .next{width: 34px;height: 21px;position: absolute;left:50%;margin-left: -22px;writing-mode: tb-rl;font-size: 20px;font-weight: bold;}
.protop .hd .prev{top: 0;}
.protop .hd .next{bottom: 0;}
.protop .bd{ width:365px;height:417px;border: 1px solid #cdcdcd;position:relative;border-radius:6px; }
.protop .bd li{width:365px;height:417px;zoom:1; vertical-align:middle;}
.protop .bd li .pics{width:365px;height:417px;vertical-align: middle;}
.protop .bd li .pics a{display: block;}
/*search*/
.dectil .result{font-size: 18px;color: #999;margin-bottom: 20px;}




