<div class="header">
  <div class="logo"><a href="{$site_url}"><img src="{$logo}" alt=""></a></div>
  <div class="tel">{$global.tel_text}<span>{$global.tel_num}</span></div>
  <div class="search">
      <form action="{$search_action}" method="GET">
          <div class="sinp"><input type="text" value="请输入搜索内容" name="s" /></div>
          <input type="text" class="sbtn" value="" />
      </form>
  </div>


</div>
<div class="menu">
  {$limit = 7}
  <ul id="nav" class="nav">
    <li class="nLi on"  style="width:{100/($limit+1)}%">
      <h3><a href="{$site_url}">首页</a></h3>
    </li>
    {foreach name=navs item=nav from=$navs}
    <li class="nLi {if $nav.current}on{/if}" style="width:{100/($limit+1)}%">
        <h3>
            <a href="{$nav.link}">{$nav.name}</a>
        </h3>               
        {if $nav.childmenu}
        <ul class="sub">
            {foreach key=key item=nav_list from=$nav.childmenu}
            <li class="{if $nav.current}current{/if}"><a href="{$nav_list.link}">{$nav_list.name}</a></li>
            {/foreach}
        </ul>                

        {/if}
    </li>
    {if $nav@index+1 gte $limit}{break}{/if}
    {/foreach}
  </ul> 
</div>  