  <div class="top">
    <div class="public">
      <div class="tel fl">{$global.number_title}<span>{$contact.telephone}</span></div>
      <div class="home fr">
        <a href="javascript:;" onclick="SetHome(this, window.location)">设为首页</a>  |    <a href="javascript:;" onclick="shoucang(document.title, window.location)">加入收藏</a> 
      </div>
    </div>
  </div>
  <div class="header">
    <div class="head">
      <div class="logo"><a href="{$site_url}"><img src="{$logo}" alt=""></a></div>
      <ul id="nav" class="nav">
          {$limit = 7}
          <li class="nLi on" style="width:{100/($limit+1)}% ">
              <h3><a href="{$site_url}">网站首页</a></h3>
          </li>
          {if $navs|count lt $limit}{$limit = $navs|count}{/if}
          {foreach name=navs item=nav from=$navs}
          <li class="{if $nav.current}on{/if} nLi" style="width:{100/($limit+1)}% ">
              <h3><a href="{$nav.link}">{$nav.name}</a></h3>               
              {if $nav.childmenu}
                  <ul class="sub">
                      {foreach key=key item=nav_list from=$nav.childmenu}
                      <li class="{if $nav.current}current{/if}"><a href="{$nav_list.link}">| {$nav_list.name} |</a></li>
                      {/foreach}
                  </ul>
              {/if}
          </li>
          {if $nav@index+1 gte $limit}{break}{/if}
          {/foreach}           
      </ul> 
     
    </div>
  </div>
  <div class="nybanner"><img src="{$global.slidepic.image}" alt=""></div>
