<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <script type="text/javascript">
        // 识别为手机客户端，自动跳转手机页面
        {if $site_another_url}
        if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
            location.href = '{$site_another_url}';
        }
        {/if}
    </script>
    <meta name="keywords" content="{$keywords}" />
    <meta name="description" content="{$description}" />
    <link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
    <title>{$title}</title>
    <link rel="stylesheet" href="{$site_url}css/jquery.bxslider.css">
    <link rel="stylesheet" href="{$site_url}css/style.css">
    <script src="{$site_url}js/jquery-1.9.1.min.js"></script>
    <script src="{$site_url}js/jquery.bxslider.js"></script>
    <script src="{$site_url}js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="{$site_url}js/index.js"></script>
    {$headscript}
</head>
<body>

<div id="body">
    {include file="./_header.html"}

<div id="main">
    {include file="./_banner.html"}
    <div class="main1">
        <div class="m-news">
            <dl>
                <dd>
                    <b></b>
                    <h3>
                        <span class="time-y">{$index.list1.data[0].pubtimestamp|date_format:'%Y'}</span>
                        <span>{$index.list1.data[0].pubtimestamp|date_format:'%m-%d'}</span>
                    </h3>
                </dd>
                <dt class="rt"><a href="{$index.list1.data[0].link}"><img src="{$index.list1.data[0].image}" alt=""></a></dt>
            </dl>
            <div class="m-news-title">
                <h4>
                    <a href="{$index.list1.data[0].link}"><span>{$index.list1.data[0].title}</span></a>
                    <b></b>
                </h4>
                <a href="{$index.list1.data[0].link}" class="rt">MORE</a>
            </div>
            <p class="m-news-txt">
                {$index.list1.data[0].description}
            </p>
        </div>
        <div class="m-about rt">
            <dl>
                <dt><a href="{$index.list2.link}"><img src="{$index.list2.image}" alt=""></a></dt>
                <dd>
                    <h4>
                        <a href="{$index.list2.link}"><span>{$index.list2.name} <i>●</i></span></a>
                        <a href="{$index.list2.link}" class="rt">MORE</a>
                    </h4>
                    <p>
                        {$index.list2.description}
                    </p>
                </dd>
            </dl>
        </div>
    </div>
    <div class="main2">
        <div class="picScroll-left">
            <div class="bd">
                <ul class="picList">
                    {foreach item=m2 from=$index.list3.data}
                    <li>
                        <div class="pic"><a href="{$m2.link}"><img src="{$m2.image}" /></a></div>
                        <div class="title"><a href="{$m2.link}">{$m2.title}</a></div>
                    </li>
                    {/foreach}
                </ul>
            </div>
            <div class="hd">
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>


    </div>

</div>

</div>

{include file="./_footer.html"}

</body>
</html>