<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>G宝盆统一平台官方网站</title>
	<link rel="stylesheet" href="css/css.css">
</head>
<body>
	<div class="top_bg wap">
		<div class="top w">
			<div class="welcome f_l">欢迎您访问G宝盆统一平台官方网站！</div>
			<form action="" method="get" class="search f_r">
				<input type="text" value="请输入搜索关键字" class="text searchkey">
				<input type="submit" value="" class="submit" >
			</form>
		</div>	
	</div>
	<div class="header_bg wap">		
		<div class="header w1">
			<a href="" title="返回首页" class="lg f_l">
				<img src="images/logo_03.png" height="84" width="279" alt="">
			</a>
			<div class="navBar">
				<ul class="nav clearfix">								
					<li class="m">
						<h3><a  href="">关于我们</a></h3>
						<ul class="sub">
							<li><a href="#">公司简介</a></li>
							<li><a href="#">企业文化</a></li>
							<li><a href="#">视频展示</a></li>
							<li><a href="#">人才招聘</a></li>
						</ul>
					</li>
					
					<li class="m "><!-- 当前频道添加on -->
						<h3><a  href="">新闻中心</a></h3>
						<ul class="sub">
							<li><a href="#">公司简介</a></li>
							<li><a href="#">企业文化</a></li>
							<li><a href="#">视频展示</a></li>
							<li><a href="#">人才招聘</a></li>
						</ul>
					</li>
					
					<li class="m">
						<h3><a  href="">产品展示</a></h3>
						<ul class="sub">
							<li><a href="#">公司简介</a></li>
							<li><a href="#">企业文化</a></li>
							<li><a href="#">视频展示</a></li>
							<li><a href="#">人才招聘</a></li>
						</ul>
					</li>
					
					<li class="m">
						<h3><a  href="">招商加盟</a></h3>
						<ul class="sub">
							<li><a href="#">公司简介</a></li>
							<li><a href="#">企业文化</a></li>
							<li><a href="#">视频展示</a></li>
							<li><a href="#">人才招聘</a></li>
						</ul>
					</li>
					
					<li class="m">
						<h3><a  href="">人才招聘</a></h3>
					</li>
					
					<li class="m">
						<h3><a  href="">联系我们</a></h3>
					</li>
				</ul>
			</div>
		</div>		
	</div>

	<div class="slider wap">		
		<div class="banner">
			<div class="bd">
				<ul>
					<li><a href=""><img src="images/banner_02.jpg" height="439" width="1680" alt=""></a></li>
					<li><a href=""><img src="images/banner_02.jpg" height="439" width="1680" alt=""></a></li>
					<li><a href=""><img src="images/banner_02.jpg" height="439" width="1680" alt=""></a></li>
				</ul>
				<a class="prev" href="javascript:void(0)"></a>
				<a class="next" href="javascript:void(0)"></a>
			</div>
			<div class="hd">
				<ul>
					<li class="on"></li><li class="on"></li><li class="on"></li>
				</ul>
			</div>
		</div>
	</div>	
	<div class="content w">
		<div class="left">
			<div class="navigation">
				<h3 class="tit">新闻中心 <span>NEWS CENTER</span></h3>
				<ul class="aboutNav">
					<li><a href="">曲奇饼干系列</a></li>
					<li><a href="">品牌文化</a></li>
					<li><a href="" class="cu">品牌影响</a>
						<dl>
	                       	<dd><a href="">曲奇饼干系列</a></dd>
	                       	<dd><a href="">品牌文化</a></dd>
	                       	<dd><a href="" class="cu1">品牌影响</a>
		                       	<!-- <dl>
		                          	<dt><a href="" class="cu2">曲奇饼干系列</a></dt>
		                          	<dt><a href="">品牌文化</a></dt>
		                          	<dt><a href="">品牌影响</a></dt>
		                        </dl> -->
	                       	</dd>
	                   </dl>
					</li>
					<li><a href="">曲奇饼干系列</a></li>
				</ul>
			</div>
			<div class="qq"><a href=""><img src="images/qq_05.png" height="91" width="268" alt=""></a></div>
		</div>
		<div class="right">
			<h3 class="local">
	    		新闻中心 / NEWS CENTER
	    		<i class="f_r">当前位置：<a href="">网站首页</a> - <a href="">新闻中心</a> - 品牌影响</i>
    		</h3>
    		<div class="infom news">
    			<ul>
    				<li>
	    				<a href=""><span>2016-01-08</span>Uber CEO：我到中国来，大家都觉得我疯了</a>
    				</li>
    				<li>
	    				<a href=""><span>2016-01-08</span>Uber CEO：我到中国来，大家都觉得我疯了</a>
    				</li>
    				<li>
	    				<a href=""><span>2016-01-08</span>VR 发展的最大隐患是什么？看看 3D 产业的前车之鉴</a>
    				</li>
    				<li>
	    				<a href=""><span>2016-01-08</span>Uber CEO：我到中国来，大家都觉得我疯了</a>
    				</li>
    				<li>
	    				<a href=""><span>2016-01-08</span>Uber CEO：我到中国来，大家都觉得我疯了</a>
    				</li>
    				<li>
	    				<a href=""><span>2016-01-08</span>VR 发展的最大隐患是什么？看看 3D 产业的前车之鉴</a>
    				</li>
    				<li>
	    				<a href=""><span>2016-01-08</span>Uber CEO：我到中国来，大家都觉得我疯了</a>
    				</li>
    				<li>
	    				<a href=""><span>2016-01-08</span>Uber CEO：我到中国来，大家都觉得我疯了</a>
    				</li>
    				<li>
	    				<a href=""><span>2016-01-08</span>VR 发展的最大隐患是什么？看看 3D 产业的前车之鉴</a>
    				</li>
    				<li>
	    				<a href=""><span>2016-01-08</span>Uber CEO：我到中国来，大家都觉得我疯了</a>
    				</li>
    				<li>
	    				<a href=""><span>2016-01-08</span>Uber CEO：我到中国来，大家都觉得我疯了</a>
    				</li>
    				<li>
	    				<a href=""><span>2016-01-08</span>VR 发展的最大隐患是什么？看看 3D 产业的前车之鉴</a>
    				</li>
    				<li>
	    				<a href=""><span>2016-01-08</span>Uber CEO：我到中国来，大家都觉得我疯了</a>
    				</li>
    				<li>
	    				<a href=""><span>2016-01-08</span>Uber CEO：我到中国来，大家都觉得我疯了</a>
    				</li>
    				<li>
	    				<a href=""><span>2016-01-08</span>VR 发展的最大隐患是什么？看看 3D 产业的前车之鉴</a>
    				</li>
    			</ul>
    			<div class="num">
					<a href="">首页</a>
					<a href="">上一页</a>
					<a href="" class="on">1</a>
					<a href="">2</a>
					<a href="">3</a>
					<a href="">…</a>
					<a href="">18</a>
					<a href="">19</a>
					<a href="">20</a>
					<a href="">下一页</a>
					<a href="">尾页</a>
				</div>
    		</div>
		</div>
	</div>
	<div class="tail wap">
		<div class="footer w2">
			<img src="images/slogo_03.png" height="102" width="157" alt="" class="f_l">
			<p class="f_l">
				Copyright © 2016 厦门易尔通网络科技有限公司 版权所有 All Rights Reserved <br>
				备案号：闽ICP备******号 电话：000-127-808 传真：0592-3503377 地址：厦门市软件园二期观日路36号201单元<br>
				技术支持：<a href="">厦门易尔通网络科技有限公司</a> 人才网支持：<a href="">厦门人才网</a>
			</p>
			<div class="link f_r"> ---友情链接 ---
				<div class="subset">
					<ul>
						<li><a href="">艺龙酒店</a></li>
						<li><a href="">途牛旅游网</a></li>
						<li><a href="">美团网</a></li>
						<li><a href="">去哪儿网</a></li>
						<li><a href="">厦门易尔通网络</a></li>
					</ul>
				</div>	
			</div>			
		</div>
	</div>

<script type="text/javascript" src="js/jquery-1.8.3.min.js" ></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.js"></script>
<script type="text/javascript" src="js/function.js" ></script>

<!--[if IE]>
<script type="text/javascript" src="js/PIE.js"></script>
<![endif]-->

</body>
</html>