@charset "utf-8";
/*author:blackgecko*/
*{ margin:0px; padding:0px;}
a{ color:#666; text-decoration:none}
a:hover{ color:#0050bf;}
a img{ border:none;}
table{border-collapse:collapse; border-spacing:0px;}
body{font-size:12px; text-align:left; font-weight:normal; color:#4a4a4a; line-height:24px; ont-family:"微软雅黑";}
ul,ol,p,dl,li,font{margin:0;pading:0; list-style:none;}
ul,ol,dl{list-style:none;}
h1,h2,h3,h4,h5{font-size:12px;margin:0;padding:0; font-weight:normal;}
input {font:12px;}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td{ margin:0px; padding:0px;}
.body{ width:100%; height:auto; overflow:hidden;background:url(../images/1471662124853.jpg) repeat-x #ffffff; }
.wappers{ width:100%; height:auto; font-family:"微软雅黑"; }
.topshow{  background:url(../images/1471662170941.jpg) no-repeat; width:1000px; height:auto; margin:0px auto;}
.header{ width:1000px; margin:0px auto; overflow:hidden; height:117px; overflow:hidden;}
.logo{ float:left; width:530px; height:117px; overflow:hidden; position: relative;}
.logo img{ max-height:117px; max-width:530px; position: absolute; top: 0; bottom: 0; margin: auto 0;}
.homes{ float:right; display:inline; margin-right:25px; height:40px; margin-top:55px; color:#361a0c; line-height:40px; color:#fff; font-size:14px;}
.homes a:link,.homes a:visited{ color:#361a0c;}
.homes a:hover{ color:#fff;}
.menu{  height:51px; width:1000px; margin:0px auto; }
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.menu{height:51px; width:1000px; margin:0px auto; }
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.nav{ width:1000px; margin:0px auto; height:51px; line-height:51px;   position:relative; z-index:1;  }
.nav a{ color:#fff;  }
.nav .nLi{ float:left;  position:relative; display:inline;  background:url(../images/linew.png) right top no-repeat; }
.nav .nLi h3{ display:block;}
.nav .nLi h3 a{ display:block;  font-size:14px; text-align:center; width:100%; height:51px; overflow:hidden;}
.nav .sub{ display:none; width:100%; left:0; top:51px;  position:absolute; filter:alpha(opacity=80); -moz-opacity:0.85;  opacity:0.8; background:#469b18; line-height:26px; }
.nav .sub li{ zoom:1; }
.nav .sub a{ display:block; padding:0 0px; text-align:center; margin:0px auto; width:100%; }
.nav .sub a:hover{ color:#3c1e0f; background:#fff; }
.nav .on h3 a{ background:#fff; color:#3d1e10;}
.nav .current h3 a{background:#fff; color:#3d1e10;}
.banners{ width:1000px; height:380px; margin:20px auto 0px; overflow:hidden; background:url(../images/bannbg.jpg) left bottom no-repeat;}
.focusBox { position: relative; width:1002px; height:380px; overflow: hidden; }
.focusBox .pic{ position:relative; z-index:0; width:920px; height:328px; margin:0px auto;}
.focusBox .pic img { width:914px; height:325px; display: block; border:3px solid #fff; border-top:none;}
.focusBox .hd { width:100%; position: absolute; top:355px; text-align: center; font-size:0; z-index:1; }
.focusBox .hd li{margin: 0 5px;  height: 10px; overflow: hidden; width: 10px; cursor: pointer; position:relative;
	display:inline-block; *display:inline; zoom:1; border-radius:10px; background:#ffffff; box-shadow:1px 1px 2px #000 inset;
}
.focusBox .hd .on{ background:#59b625;}

.focusBox .prev,
.focusBox .next { width: 60px; height: 90px; margin: -60px 0 0; display: none;  position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; filter:alpha(opacity=20);opacity:0.2;  }
.focusBox .prev { left: 0; }
.focusBox .next { background-position: 0 -90px; right: 0; }
.focusBox .prev:hover,
.focusBox .next:hover { filter:alpha(opacity=50) !important;opacity:0.5 !important;  }
.line2{ background:url(../images/lin2.jpg) no-repeat; width:1000px; height:20px; margin:0px auto; overflow:hidden;}
.containers{ width:1000px; height:auto; overflow:hidden; margin:0px auto;}
.prodbg{ padding:1px; border:1px solid #dbdbdb; background:#fff; width:996px; height:auto; overflow:hidden; margin-top:15px;}
.pro1{ width:996px; height:auto; overflow:hidden; background:#f6f6f6; height:auto; overflow:hidden;}
.pro_titles{ background:url(../images/pro_line2.jpg) no-repeat left bottom; height:35px; width:951px; padding-top:10px; color:#469b18; font-size:16px; padding-left:10px; line-height:28px; margin:0px auto; text-indent:40px;}
.pro_titles b{ font-weight:normal; font-size:14px; font-family:Arial, Helvetica, sans-serif;}
.pro_titles .moreaa{ float:right; display:inline; overflow:hidden; font-size:12px; width:70px; text-align:center; background:url(../images/more.jpg) no-repeat; line-height:19px; margin-top:5px; text-indent:0px;}
.pro_titles .moreaa a:link,.pro_titles .moreaa a:visited{ color:#fff;}
.pro_titles .moreaa a:hover{ color:#000;}
.pro_titles .le_a{ font-style:normal; width:230px; float:left; display:inline; overflow:hidden;}
.pro_titles .le_ats{ font-weight:normal; width:240px; float:left; display:inline; margin-left:15px; margin-top:3px;}
.showpro{ height:auto; width:962px; margin:0px auto; padding:15px 0px 20px; overflow:hidden;}
.showpro table td{ width:203px; height:183px;  overflow:hidden;}
.showpro table td img { width:199px; height:149px; padding:1px; vertical-align:top; border:1px solid #dbdbdb;  }
.showpro table a{ width:100%; display:block;margin-left:30px; margin-top:0px; width:203px; height:183px; margin-top:0px;}
.showpro table a:link,.showpro table a:visited{ color:#555;}
.showpro table a:hover{ color:#459b18;}
.showpro h2 { width:100%;width:203px; height:30px; line-height:30px; text-align:center; }
.gywom_ta{ width:1000px; height:auto; overflow:hidden;}
.about_ta{ width:480px; float:left; display:inline; overflow:hidden;}
.pro_titles2{ background:url(../images/pro_line3.jpg) no-repeat left bottom; height:69px; width:480px; padding-top:10px; color:#fff; font-size:14px; padding-left:10px; line-height:65px; margin:0px auto; text-indent:90px;}
.pro_titles2 b{ font-weight:normal; font-size:12px; font-family:Arial, Helvetica, sans-serif; }
.pro_titles2 span{ float:right; display:inline; font-size:12px; margin-right:30px;}
.pro_titles2 span a:link,.pro_titles2 span a:visited{ color:#fff;}
.pro_titles2 span a:hover{ color:#000;}
.border{  margin-left:0px; width:480px; height:auto; margin:0px auto 0px; }
.border img{ height:177px; float:left; margin-right: 12px; overflow:hidden; padding:3px; margin-top:0px; border:1px solid #d4d4d4;}
.anputt{text-align:Justify;text-justify:inter-ideograph; color:#333;  margin-left:0px; margin-top:0px; line-height:23px;max-height: 184px;overflow: hidden;position: relative;}
.anputt h1{ color:#333; font-weight:bold;}
.anputt span{ text-align:right; overflow:hidden}
.anputt span a:link,.anputt span a:visited{ color:#c42720;}
.anputt span a:hover{ color:#333333;}
.news_list{ width:483px; float:right; display:inline; margin-top:10px; height:auto; overflow:hidden;}

.pro_titles3{ background:url(../images/pro_titles3.jpg) no-repeat left bottom; height:37px; width:483px; padding-top:10px; color:#469b18; font-size:16px; padding-left:10px; line-height:28px; margin:0px auto; text-indent:48px;}
.pro_titles3 b{ font-weight:normal; font-size:14px; font-family:Arial, Helvetica, sans-serif;}
.pro_titles3 span{ float:right; display:inline; overflow:hidden; font-size:12px; width:70px; text-align:center; background:url(../images/more.jpg) no-repeat; line-height:19px; margin-top:5px; text-indent:0px;}
.pro_titles3 span a:link,.pro_titles3 span a:visited{ color:#fff;}
.pro_titles3 span a:hover{ color:#000;}

.border2{  width:483px; height:auto; border-top:none; padding:4px 2px 0px; }
.n_tu{ height:120px;  width:483px; overflow:hidden; padding:8px 0px 10px; padding-bottom:8px;}
.n_img{ height:110px; float:left; display:inline; overflow:hidden; border:1px solid #d4d4d4; padding:2px; margin-right: 15px;}
.n_img img{height:100%;}
.n_word{ overflow:hidden; margin-right:5px;}
.n_word3{ width:226px; float:right; display:inline; overflow:hidden;}

.n_title{ font-size:14px; font-weight:bold; color:#333; height:30px; margin-bottom:0px; font-weight:bold;overflow:hidden; line-height:30px;overflow:hidden;text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all; width:100%; }
.n_title a:link,.n_title a:visited{ color:#56b424;}
.n_title a:hover{ color:#333;}
.data{ color:#848484; height:20px; line-height:20px;}
.huiyi_edit{text-align:Justify;text-justify:inter-ideograph; max-height: 63px; margin-bottom:5px; line-height:21px; overflow:hidden; color:#333;position: relative;}
.huiyi_edit .readmore,.border .readmore,.nlist_word .readmore{
	position: absolute;
	bottom: 0;
	right: 0;
	line-height: 21px;
	height: 21px;
	background-color: #fff;
	padding-left: 6px;
	box-shadow: 0 10px 30px #fff;
}
.huiyi_edit span a:link,.huiyi_edit span a:visited{ color:#bc0006;}
.huiyi_edit span a:hover{ color:#333;}
.news_deta3{ padding-top:4px; height:auto; overflow:hidden; width:483px; margin:0px auto;}
.news_deta3 li{ width:483px; height:26px; line-height:26px;  overflow:hidden; margin-left:0px; border-bottom:1px dotted #a5a5a5; background:url(../images/icon2.jpg) left 5px no-repeat;  }
.news_deta3 li a{  display: block;
    line-height: 26px;
    margin-left:0px; 
    padding-left: 10px;height:26px; overflow:hidden; width:483px; text-indent:0px;}
.news_deta3 li span{float:right; margin-right:15px; margin-left:10px; }
.news_deta3 li a:link,.news_deta3 li a:visited{ color:#333;}
.news_deta3 li a:hover{ color:#4ca51d;}
.prodbg2{ width:1000px; height:auto; overflow:hidden; margin-top:23px;}

.pro_titles4{ background:url(../images/pro_titles4.jpg) no-repeat left bottom; height:39px; width:1000px; padding-top:10px; color:#fff; font-size:14px; padding-left:10px; line-height:39px; margin:0px auto; text-indent:40px;}
.pro_titles4 b{ font-weight:normal; font-size:12px; font-family:Arial, Helvetica, sans-serif; padding-left:5px; }
.pro_titles4 span{ float:right; display:inline; font-size:12px; margin-right:30px;}
.pro_titles4 span a:link,.pro_titles4 span a:visited{ color:#fff;}
.pro_titles4 span a:hover{ color:#000;}
.foobgt{ background:url(../images/foobgt.jpg) repeat-x #4aa21b; height:auto; padding-bottom:10px; overflow:hidden; width:100%;}
.mid_foters{ background:url(../images/mid_foters.jpg) no-repeat; width:1000px; height:auto; overflow:hidden; line-height:24px; text-align:center; padding-top:75px; margin:0px auto; color:#fff;}
.mid_foters a:link,.mid_foters a:visited{ color:#fff;}
.mid_foters a:hover{ color:#000}
.navlist{ width:140px; height:25px; line-height:25px; background:url(../images/navlist.jpg) no-repeat;position:relative; z-index:1000; text-indent:0px; }
.navlist a{ color:#fff;  }
.navlist .nLi{ float:left;  position:relative; display:inline;  }
.navlist .nLi h3{ float:left;  }
.navlist .nLi h3 a{ display:block; font-size:12px; text-indent:20px; width:140px; }
.navlist .sub{ display:none; width:140px; left:0; top:25px;  position:absolute; background:#92c41d;  line-height:28px; padding:5px 0;  }
.navlist .sub li{ zoom:1; }
.navlist .sub a{ display:block; height:27px; line-height:27px; width:140px; font-size:12px; color:#fff;text-align:center; border-bottom:1px dotted #bee16b; }
.navlist .sub a:hover{ background:#208e0b; color:#fff;  }
.navlist .on h3 a{ background:url(../images/navlist.jpg) no-repeat;color:#fff;   }
.left{ width:251px; height:auto; overflow:hidden; float:left; display:inline; margin-top:15px;}
.fenlei{ padding:1px; border:1px solid #dbdbdb; width:247px; height:auto; background:#fff; overflow:hidden;}
.list{ width:247px; height:auto; overflow:hidden; background:#f6f6f6;}
.listbg{ width:220px; height:auto; overflow:hidden; margin:0px auto; padding:8px 0px;}
.listbg { width:220px; height:auto; margin:0px auto; overflow:hidden;}
.listbg  li{height:auto; width:220px;}
.listbg  li a{ font-size:14px; height:31px; display:block;line-height:31px; border-bottom:1px dotted #8c8b8b;overflow:hidden;text-indent:20px; margin-bottom:0px;background:url(../images/dian1.jpg) no-repeat 8px;}
.listbg  li a:link,.listbg  li a:visited{ color:#333;}
.listbg  li a:hover{ color:#fff;background:url(../images/dian2.jpg) no-repeat 8px #6dae1e;}
.listbg  li a.cu{ color:#fff;background:url(../images/dian2.jpg) no-repeat 8px #6dae1e;}
.listbg  li ul{ padding-top:0px;margin:0px; margin-top:5px;}
ul.second { display:none;}
.listbg  li ul ul.third { display:none; margin:0px;}
ul.second li a{width:100%; font-size:12px;height:auto; line-height:25px; font-weight:normal; border:none;padding-left:0px;display:block; background:none; width:220px; height:25px;margin-left:3px; text-indent:17px;}
ul.second li a:link,ul.second li a:visited{ color:#333; background:none; }
ul.second li a:hover{color:#469c19;font-weight:normal; background:none;}
ul.third li a{width:100%; font-size:12px;height:24px; line-height:24px; font-weight:normal; border:none;padding-left:0px; text-indent:0px; display:block;background:none; width:175px; margin-left:25px;}
ul.third li a:link,ul.third li a:visited{ color:#666;}
ul.third li a:hover{color:#469c19;font-weight:normal; background:none;}
.listbg  li ul ul.third { display:none; margin:0px;}
.listbg  li  ul.third { display:none; margin:0px;}
.listbg  li  ul.second ul.third { display:none; margin:0px;}
.listbg  li  ul.second{ display:none;}

.listbg  li.current ul.second li.current ul.third{ display:block; margin:0px;}
.listbg  li.current ul.second { display:block;}

.listbg  li a.selected{  color:#fff;background:url(../images/dian2.jpg) no-repeat 8px #6dae1e; }
.listbg  li ul.second li a.selected {color:#469c19;font-weight:normal; background:none;}
.listbg  li ul.second li ul.third li a.selected{ color:#469c19;}
.atitle{ background:url(../images/pro_line2.jpg) no-repeat; margin-top:10px; height:35px; width:232px; overflow:hidden; line-height:35px; color:#469b18; font-size:16px; margin:10px auto; overflow:hidden; text-indent:45px;}
.lxfs{ width:251px; height:auto; margin:10px auto; overflow:hidden;}
.lxfs_title{ background:url(../images/lxfs_title.jpg) no-repeat; width:251px; height:41px; line-height:41px; text-align:center;
 font-family:"微软雅黑"; font-size:14px; text-align:center; color:#fff;}
.lxfs_title b{ font-weight:normal; padding-left:20px;}
.conbg{ background:url(../images/conbg.jpg) right bottom no-repeat; border:1px solid #dbdbdb; border-top:none; padding:10px; height:auto; width:229px; padding-bottom:50px;}

.rights{ width:723px; float:right; display:inline; overflow:hidden; height:auto;}
.detal_s{  width:723px; margin-bottom:0px;height:auto; overflow:hidden;background:url(../images/abg.jpg) no-repeat;}
.deteo{ padding:0px 0px 0px; height:auto; overflow:hidden; height:auto; width:723px; padding-bottom:15px;min-height:400px; _height:expression(this.scrollHeight < 400? "400px" : "auto") ; }
.about_edit{ color:#555; line-height:24px; margin-top:11px; padding-right:0px; margin-left:10px; margin-right:10px;text-align:Justify;text-justify:inter-ideograph;}
.atitle2{ background:url(../images/pro_line3.jpg) no-repeat left bottom; height:69px; width:723px; padding-top:10px; color:#fff; font-size:14px; padding-left:0px; line-height:65px; margin:0px auto; text-indent:98px;}
.atitle2 span{ float:right; display:inline; font-size:12px; background:url(../images/mobng2.jpg) no-repeat right top; text-indent:0px; width:450px; text-align:right; padding-right:10px; }
.atitle2 span ul li{  display:inline;}
.atitle2 span a:link,.atitle2 span a:visited{ color:#fff;}
.atitle2 span a:hover{ color:#000;}
.atitle2 span ul{ text-align:right;}

.news_deta5{ padding-top:10px; height:auto; overflow:hidden; width:703px; margin-left:20px;}
.news_deta5 li{ width:703px; height:29px; line-height:29px;  overflow:hidden; margin-left:0px;  border-bottom:1px dotted #565656;  }
.news_deta5 li a{  display: block;
    line-height: 29px;
    padding-left: 0px;height:29px; overflow:hidden; width:703px;background:url(../images/icon2.jpg) no-repeat left 12px;text-indent:12px;}
.news_deta5 li span{float:right; margin-right:5px; margin-left:10px;}
.news_deta5 li a:link,.news_deta5 li a:visited{ color:#000;}
.news_deta5 li a:hover{ color:#fff; background:#469c18}

.module_page{ width:100%;  line-height:20px;margin-top:30px;text-align:center; height:30px;}
.module_page a{ text-decoration:none; color:#333333; /*color:#0c2d63;*/color:#333333; background:#eeeeee; padding:3px 4px;}
.module_page span{ padding-left:20px; padding-right:20px;}
.module_page a:hover{ text-decoration:none; color:#fff; background:#469c18}
.module_page  select{ margin-left:5px; color:#000;}
.module_page a.current{text-decoration:none; color:#fff; background:#469c18}
.main_right_con{ padding:8px 0px 12px; margin-left:15px;color:#333; overflow:hidden;}
h1.inner_news_tit{height:30px; padding:8px 0px;text-align:center; font-size:14px;  color: #469c18; font-weight: bold; }
h2.inner_news_time{height:25px; line-height:25px;color:#333; padding-left:10px; margin-bottom:4px; text-align:center; border-bottom:1px dotted #ccc;}
h2.inner_news_time a{ color:#333;}
h2.inner_news_time a:hover{ color:#469c18; text-decoration:underline;}
h2.inner_news_time span{ float:right; text-align:right; padding-right:10px;}
.edit{overflow:hidden;text-align:Justify;text-justify:inter-ideograph; color:#333; margin:10px 0px 0px;}
ul.inner_pages{ padding-top:8px;margin:10px auto 10px; margin-left:0px; border-top:1px dotted #ccc;}
ul.inner_pages li{line-height:26px;color:#333;}
ul.inner_pages a{color:#333;}
ul.inner_pages a:hover{color:#469c18}

ul.inner_pro{height:auto; overflow:hidden; padding-bottom:10px; width:750px; padding-top:15px; margin-left:0px;font-size: 0;}
ul.inner_pro li{ margin:0px 22px 5px 15px; display: inline-block; }
ul.inner_pro li img{width:199px;  padding:1px; vertical-align:top; border:1px solid #dbdbdb; }
ul.inner_pro li a{ width:203px; display:block; color:#333; overflow:hidden;}
ul.inner_pro li a:hover{ color:#469c18;}
p.photo_title{text-align:center; height:30px; line-height:30px;overflow:hidden;text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all; width:100%;font-size: 12px;}
ul.inner_pro li a:hover img{ border:1px solid #469c18;}



.photos {
	position: relative;
	width: 100%;
	margin: 5px auto;
}
	.photos .photos-button {
		position: absolute;
		top: 40px;
		width: 57px;
		height: 102px;
		z-index: 10;
	}
	.photos .photos-prev {
		left: -5px;
		background: url(images/photos-prev.png) no-repeat;
	}
	.photos .photos-next {
		right: -18px;
		background: url(images/photos-next.png) no-repeat;
	}
 
	.photos .photos-content {
		margin: 17px auto;
	}
	.photos .photos-content li {
		margin: 0 7px; float:left; display:inline; overflow:hidden; width:179px; 
	}
	.photos .photos-content li img {
width:175px;  padding:1px; vertical-align:top; border:1px solid #dbdbdb;  
	}
	.photos .photos-content li a:hover h2{
		color: #ff001b; height:30px; line-height:30px;
	}
	.photos .photos-content li h2 { width:100%; height:30px; line-height:30px; text-align:center;overflow:hidden;text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all; width:100%; }
	

.descripimg{ background:none; width:100%; height:auto; overflow:hidden;margin-bottom:15px;}
.descriptcot{margin:0px; padding:0px; text-align:center; margin:0px auto;width:300px; position:relative;}
.text_p{ color:#2eb866;padding:0px; }
.moule_edot{  color:#333;width:99%; margin-left:5px; clear:both;text-align:Justify;
text-justify:inter-ideograph;}

		  .news_lista{ padding:5px; overflow:hidden; height:auto;}
		  .news_lista li{ background:url(../images/icon2.jpg) no-repeat left; line-height:30px; border-bottom:1px dotted #adadad;}
		   .news_lista li a{ display:block; color:#575757; padding-left:10px; line-height:30px;}
		   .news_lista li a:hover{ color:#339400;}
		  .news_lista li span{ float:right; display:inline; overflow:hidden;}		   
		   
		.slideBoxb{ width:100%; overflow:hidden; position:relative;}
		.slideBoxb .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; display:none; }
		.slideBoxb .hd ul{ overflow:hidden; zoom:1; float:left; display:none;  }
		.slideBoxb .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; display:none; cursor:pointer; }
		.slideBoxb .hd ul li.on{ background:#f00; color:#fff; }
		.slideBoxb .bd{ position:relative; height:100%; z-index:0; width:554px; margin:0px auto; text-align:center;   }
		.slideBoxb .bd li{ zoom:1; vertical-align:middle; }
		.slideBoxb .bd img{ width:550px; display:block;  border:1px solid #ddd; padding:1px; margin:0px auto; text-align:center; }

		/* 下面是前/后按钮代码，如果不需要删除即可 */
		.slideBoxb .prev,
		.slideBoxb .next{ position:absolute; left:3%; top:50%; margin-top:-25px; display:block; width:32px; height:40px; background:url(../images/prev.png) left no-repeat;}
		.slideBoxb .next{ left:auto; right:3%; background:url(../images/next.png) right no-repeat; }
		.slideBoxb .prevStop{ display:none;  }
		.slideBoxb .nextStop{ display:none;  }		   
		
.news_deta4{ width:100%; height:auto; overflow:hidden;}
.news_deta4 ul li{ margin-top:17px; padding-bottom:17px; background:url(../images/nline.jpg) repeat-x left bottom; height:auto; overflow:hidden;}
.right_news{}
.nlist_a{ height:32px; line-height:32px; font-weight:bold; font-size:14px; border-bottom:1px dotted #98826d; margin-bottom:10px;overflow:hidden;text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;}
.nlist_a b{ font-weight:normal;}
.nlist_a b{ font-weight:normal; font-size:12px; float:right; display:inline;}
.nlist_a a{ color:#4e3012;}
.nlist_a a:hover{ color:#bb3239;}
.nlist_word{ max-height:72px; line-height:24px;text-align:Justify;text-justify:inter-ideograph; color:#4e3012; font-size:12px; overflow:hidden; position: relative;}
.nlist_word a{ color:#bb3239;}
.nlist_word a:hover{ color:#4e3012;}
.nimgb{ height:109px; float:left;box-shadow: 3px 3px 3px #b1a9a3; padding:1px; margin-right:15px; position: relative;}
.nimgb img{height:100%;}
.right_newsb{ width:100%; height:auto; overflow:hidden;}
.right_newsb .nlist_a{ background:url(../images/niewimc.jpg) left  bottom no-repeat; padding-left:20px;  border-bottom:none; line-height:39px; height:39px; }
