<!DOCTYPE html>
<html manifest="huancun.manifest">
<head>
<!-- 实时预览调试代码，模板开发完成后删除 -->
<!-- 		
 -->		<!-- 调试代码 End -->
		<script type="text/javascript">
		// 跳转PC页面
		{if $site_another_url}
			if (!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
				location.href = '{$site_another_url}';
			}
		{/if}
		</script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta content="telephone=no, email=no" name="format-detection">
<!-- 启用360浏览器的极速模式(webkit) -->
<meta name="renderer" content="webkit">
<!-- 避免IE使用兼容模式 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
<meta name="HandheldFriendly" content="true">
<!-- 微软的老式浏览器 -->
<meta name="MobileOptimized" content="320">
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="portrait">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="portrait">
<title>{$title}</title>
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<link rel="stylesheet" href="{$site_url}css/reset.css" /> 
<link rel="stylesheet" href="{$site_url}css/public.css" /> 
<link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />
<link href="{$site_url}css/swipe.css" rel="stylesheet" type="text/css" />
<script src="{$site_url}js/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.min.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
<script src="{$site_url}js/idangerous.swiper-2.0.min.js"></script>
<script src="{$site_url}js/simple-app.js"></script>
<script type="text/javascript">
	window.addEventListener('load', function(){
   setTimeout(function(){ window.scrollTo(0, 1); }, 100);
});//safari浏览器可以通过此代码来隐藏地址栏
</script>
{$headscript}
</head>
<body>
    <div class="index-wrap">
      {include file="./_header.html"}
      <section> 
        {foreach name=mIndexCats item=mIndexCat from=$mIndexCats}
      {if $mIndexCat.type eq 4}
         <div id="in_page" class="wrapper">
 <h2 class="in_h2"><a href="{$mIndexCat.link}"><div class="in_zh">{$mIndexCat.name}</div></a></h2>
        <div class="inner clearfix">
        <div class="pic"><img src="{$mIndexCat.image}"></div>
           <p>{$mIndexCat.description}</p>
       </div>
        </div>
        
         {elseif $mIndexCat.type eq 1} 
          
             <div id="in_imagetext" class="wrapper">
 <h2 class="in_h2"><a href="{$mIndexCat.link}"><div class="in_zh">{$mIndexCat.name}</div></a></h2>
           <div class="inner  insub_imagetext">
            <ul class="newslist">
              {foreach item=article from=$mIndexCat.data}
              <li><A href="{$article.link}">
                <div class="date public-color1">
                	<dd class="day">{$article.pubtimestamp|date_format:"%d "}</dd>
                    <dd class="year">{$article.pubtimestamp|date_format:"%m "}/{$article.pubtimestamp|date_format:"%y "}
                 </dd>
                </div>
                <div class="list">
                	<dt>{$article.title}</dt>
                    <dd>{$article.description}</dd>
                </div>
               </A>
             </li>          
              
            {if $article@index+1 == 3}{break}{/if} {/foreach}
            </ul>
        </div>
        </div> 
     
         {elseif $mIndexCat.type eq 2} 
       
      <div id="in_image" class="wrapper">
          <h2 class="in_h2"><a href="{$mIndexCat.link}"><div class="in_zh">{$mIndexCat.name}</div></a></h2>
         <div class="inner yc insub_image">
            <ul class="clearfix">
            {foreach item=article from=$mIndexCat.data}
              <li><a href="{$article.link}">
              <div class="bg">
             <div class="in_proimg"><img src="{$article.image}" width="100%" title="160*150"><div class="in_protitle">
              <p>{$article.title}</p></div></div></div>
                  <div class="probg"><img src="{$site_url}images/pro_bg.png"></div></a>
              </li>
                  {if $article@index+1 == 6}{break}{/if} {/foreach}
            </ul>
        </div>
        </div>
      
        {/if} 
     {/foreach}
      </section>
      
      
    <footer class="foot" ><a class="back-top">∧</a>{$footprint}</footer></div>
    </div>

  {$footscript}

</body>
</html>
