全局变量start*/
@charset "utf-8";
*{ margin:0px; padding:0px;}
a,a:link,a:visited,a:hover{text-decoration:none; }
a{ color:#333}
a:hover{ color:#ff8400}
a img{ border:none;}
img{ vertical-align:top;}
#clear{ clear:both;}
table{ font-size:12px;border-collapse:collapse; border-spacing:0px;}
body{font-size:12px; text-align:left;font-weight:normal; line-height:24px; font-family: Arial, Helvetica, sans-serif,"宋体";  color:#333; background:#fff;}
a{blr:expression(this.onFocus=this.blur())} /*a{ -webkit-tap-highlight-color:rgba(0,0,0,0);  }  去掉链接触摸高亮 */
a{outline:none;} /*for Firefox*/
h1,h2,h3,h4,h5,input{font-size:12px; font-weight:normal;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td,i{ margin:0px; padding:0px;}
ol,p,dl,li{list-style:none;}


.wrap{ width:100%; height: auto;overflow:hidden;  position: relative; min-width:1000px;font-family: Microsoft YaHei;}
.public{ width:1200px; height:auto; overflow:hidden; margin:0px auto; position:relative;}/*公用标签*/
.fl{ float:left; display:inline;}/*左浮动标签*/
.fr{ float:right; display:inline;}/*右浮动标签*/
.boxmain{ width:100%; height:auto; overflow:hidden;}/*模块公用*/
/*全局变量end*/


/*首页start*/


/*大图标签*/
.top{height: 578px;position: relative;margin-bottom: 30px;}
.header{width: 100%;height: 172px;position: absolute;bottom: 0;background: url(../images/logobg.png) center bottom no-repeat;z-index: 10;text-align: center;}
.logo{width: 500px;margin:  0 auto;height: 100px;margin-top: 62px;}
.logo a{display: table-cell;width:500px;height:100px;vertical-align: middle;text-align: center;}
.logo a img{max-height: 100%;max-width: 100%;vertical-align: middle;}
.banner{width:100%;height: 650px;}
.banner .slideBox{ width:1920px;height: 578px;position:relative;left: 50%;margin-left: -960px;text-align: center;}
.slideBox .hd{width:1000px;height:578px; overflow:hidden; position:absolute;left: 50%;margin-left: -500px;top: 230px;text-align: center;}
.slideBox .hd ul{ overflow:hidden; zoom:1;width: 12px;position: absolute;right: 0;z-index: 100; }
.slideBox .hd ul li{cursor:pointer;margin: 6px 0;height:12px; overflow: hidden; width: 12px; cursor: pointer;zoom:1;background: #457704;border-radius: 50%;}
.slideBox .hd ul li,.pro .more{behavior:url(pie.htc);position: relative;}
.slideBox .hd ul li.on{background:#c22a29;}
.banner .slideBox .bd{ position:relative; height:100%; z-index:5;}
.banner .slideBox .bd li{ zoom:1; vertical-align:middle;}
.banner .slideBox .bd img{height: 578px;}
/*.banner .slideBox .prev,
.banner .slideBox .next{ position:absolute; left:18%; bottom:-50px; display:block; width:52px; height:52px; background:url(../images/slidearrow.png) 0 0 no-repeat;z-index: 20}
.banner .slideBox .next{ left:auto; right:18%; background-position:-156px 0; }*/
/*.slideBox .prev:hover{background-position: -104px 0;}
.slideBox .next:hover{background-position: -52px 0;}*/
/*.banner .slideBox .prevStop{ display:none;  }
.banner .slideBox .nextStop{ display:none;  }*/

/*主菜单标签*/
.menu{width: 1000px;margin: 0 auto 40px;height: 90px;position: relative;z-index: 10;}
.menu>ul{height: 90px;}
.menu>ul>li{float: left;width:16.6%;height: 90px;text-align: center;}
.menu>ul>li>h3{display: block;border-right: 1px solid #deeccc;height: 75px;padding:15px 10px 0;}
/*457704*/
.menu>ul>li:first-child>h3{border-left: 1px solid #deeccc;}
.menu>ul>li>h3 a i{display: block;font-size: 35px;line-height: 35px;color: #457704}
.menu>ul>li>h3 a span{display: block;font-size: 16px;color: #333;margin-top: 8px;}
.menu>ul>li>h3 a:hover i,.menu>ul>li>h3 a:hover span{color: #ff8400;}
.sub{position: absolute;line-height: 32px;width: 100%;display: none;padding-top: 5px;}
.sub li a{display: block;background: #245ab4;color: #fff;text-align: center;}
.sub a:hover{color: #48b250;}

/*内容区域标签*/
.content{width: 100%;background: url(../images/bg1.png) center 124px no-repeat;overflow: hidden;position: relative;padding-top: 22px;margin-bottom: 35px;}
.content:before{content: "";width: 100%;height: 124px;background: #457704;position: absolute;top: 0;}
.inner{width: 1000px;margin: 0 auto;}
.inner .contact{position: relative;overflow: hidden;margin-bottom: 94px;}
.inner .contact .conbox{width: 50%;line-height: 24px;}
.inner .contact .conbox h2{font-size: 16px;color: #fff;line-height: 28px;margin-bottom: 8px;}
.inner .contact .conbox p{height: 72px;overflow: hidden;color: #fff;}
.inner .contact .tel{display: inline-block;background: url(../images/tel.png) left center no-repeat;padding-left: 35px;overflow: hidden;padding-top: 15px;}
.inner .contact .tel span{font-size: 12px;color: #fff;display: inline-block;line-height: 20px;}
.inner .contact .tel p{color: #fff;font-size: 28px;}
.row{width: 1000px;margin: 0 auto 25px;overflow: hidden;}
.about{width: 558px;}
.tit{height: 37px;border-bottom: 5px solid #457704;position: relative;margin-bottom: 17px;}
.tit h2{width: 256px;padding:0 12px 0 34px;background:#d1e17d url(../images/titbg.png) 12px center no-repeat;height: 41px;line-height: 41px;overflow: hidden; }
.tit h2 span{width: 60%;float: left;font-size: 16px;color: #457704;display: inline-block;}
.tit h2 a{float: right;color: #457704;}
.tit h2 a:hover{color: #be2825;}
.aboutbox{height: 201px;overflow: hidden;}
.about-nr{line-height: 26px;color: #666;height: 208px;overflow: hidden;width: 300px;}
.aimg{width: 227px;height: 195px;border: 1px solid #457704;padding: 2px;display: table-cell;text-align: center;vertical-align: middle;}
.aimg img{max-height: 100%;max-width: 100%;vertical-align: middle;}
.news{width: 406px;}
.newslist{height: 201px;overflow: hidden;}
.newslist li{height: 40px;overflow: hidden;margin-bottom: 15px;}
.newimg{width: 32px;height: 32px;padding: 4px 0;float: left;margin-right: 8px;display:table-cell; text-align: center;vertical-align: middle;}
.newimg img{max-height: 100%;max-width: 100%;vertical-align: middle;}
.newnr{height: 40px;line-height: 20px;}
.newnr h2{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.newnr h2 a{color: #333;}
.newnr span{color: #999;}
.newnr h2 a:hover{color: #be2825;}

.pro{width: 100%;}

.pro .tit{margin-bottom: 30px;height: 41px;background: #d1e17d;border-bottom: 1px solid #457704;line-height: 41px;text-align: center;font-size: 16px;color: #457704;margin-bottom: 18px;}
.picMarquee-left{ width:100%;  overflow:hidden; position:relative;margin-bottom: 16px;}
.picMarquee-left .hd{ overflow:hidden;width: 100%;height:30px;position: absolute;top: 50%;margin-top: -15px;}
.picMarquee-left .hd .prev,.picMarquee-left .hd .next{display:block;  width:29px; height:29px;overflow:hidden;cursor:pointer; background:url(../images/arrow.png) no-repeat;position: absolute;}
.picMarquee-left .hd .prev{left: 0;}
.picMarquee-left .hd .next{right: 0; background-position:-29px 0;}
.picMarquee-left .hd .prev:hover{background-position:-58px 0; }
.picMarquee-left .hd .next:hover{background-position:-87px 0;}


/*.picMarquee-left .hd .prevStop{ background-position:-58px 0; }
.picMarquee-left .hd .nextStop{ background-position:-87px 0; }*/
.picMarquee-left .bd{width: 900px;margin: 0 auto;height: 206px;overflow: hidden;position: relative;z-index: 100;}
.picMarquee-left .bd ul{ overflow:hidden; zoom:1; }
.picMarquee-left .bd ul li{ margin:0 9px; float:left;overflow:hidden; text-align:center;width: 207px;height:200px;padding: 2px; border:1px solid #457704;position: relative; }
.picMarquee-left .bd ul li .pic{width: 207px;height: 200px;text-align: center;}
.picMarquee-left .bd ul li .pic a{ display: table-cell;width: 207px;height: 200px;text-align: center;vertical-align: middle;}
.picMarquee-left .bd ul li .pic a img{max-width: 100%;max-height: 100%;vertical-align: middle;}

.picMarquee-left .bd ul li .title{width:207px;height: 0;line-height: 40px;text-align: center;position: absolute;left: 3px;bottom:3px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.picMarquee-left .bd ul li .title a{color: #fff;display: block;background: rgba(69,119,4,.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f457704,endColorstr=#7f457704);}
.pro .more{display:block;width: 42px;height: 42px;margin: 0 auto;background: #457704 url(../images/morearw.png) center 28px no-repeat;text-align: center;color: #fff;line-height: 30px;border-radius: 50%;}

/*底部标签*/
.foot{width: 100%;padding:15px 0;background: #457704;}
.footer{width: 1000px;margin:0 auto;color: #1a2f14;overflow: hidden;}
.fleft{width: 895px;float: left;line-height: 28px;color: #9cb27f;padding-top: 8px;}
.fleft a{color: #9cb27f;}
.footer a:hover{color: #fff;text-decoration: underline;}
.link a{padding: 0 2px; }

.fwx{width: 105px;text-align: right;position: relative;}
.fwx:before{content: "";width: 1px;height: 56px;background: #5f921c;position: absolute;left: 0;top:50%;margin-top: -28px;}


/*index end*/

/*about*/
.nytop{height: 165px;position: relative;margin-bottom: 35px;padding-bottom: 7px;}
.nytop .banner{height: 165px;}
.main{width: 1000px;margin: 218px auto 0;overflow: hidden;/*min-height: 870px;*/}
.side-left{width:246px;}
.side-left-tit{height: 38px;line-height:45px;border-bottom: 6px solid #457704;padding: 0 25px;}
.side-left-tit h2{font-size: 16px;color: #457704;}
.side-left-tit h2 span{padding-right: 2px;text-transform:capitalize}
.sidebar{padding: 16px 25px 0;}
.first>li{line-height: 28px;margin-bottom: 10px;}
.first>li>a{display: block;border-bottom: 1px dashed #d0d0d0;/*padding: 0 15px;*/}
.first li a{font-size: 14px;color: #666;}
.first>li>a span{padding-right: 8px;text-transform:capitalize}
.second{padding-top:10px;display: none;}
.second li{line-height: 28px;}
.second li a{padding: 0 20px;}
.second>li>a:before{content: "•";padding-right: 5px;}
.third{padding-top: 5px;display: none;}
.third li a{display: block;padding-left: 46px;}
.third li a:hover{border-bottom: 1px solid #457704;}
.first a:hover{color: #457704;}

.side-right{width: 726px;}
.side-right-tit{height: 38px;line-height:45px;border-bottom: 6px solid #457704;padding: 0 25px;overflow: hidden;margin-bottom: 16px;}
.side-right-tit h2{font-size: 16px;color: #457704;display: inline-block;}
.side-right-tit h2:before{content: "• ";font-size: 14px;color: #666;}
.location{text-align: right;font-size: 12px;color: #666;float: right;}
.location a{color: #666;}
.location a:hover{color: #457704;}
.edit{line-height: 26px;color: #333;min-height: 300px;padding: 0 25px;}
/*pro*/
.prolist{padding-top: 5px;overflow: hidden;}
.prolist li{float: left;width: 213px;margin: 0 18px 10px 0;text-align: center;}
.prolist li a{display: block;position: relative;overflow: hidden;}
.prolist li .pro-img{width: 207px;height: 200px;border: 1px solid #2e6600;padding: 2px;display: table-cell;text-align: center;vertical-align: middle;}
.prolist li img{max-height: 100%;max-width: 100%;vertical-align: middle;}
.prolist li h2{font-size: 12px;color: #333;line-height: 22px;margin-top: 5px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.prolist li a:hover h2{color: #457704;}
.paging{text-align: center;font-size: 12px;overflow: hidden;padding-top: 10px;}
.paging a{color: #333;display: inline-block;height: 20px;line-height: 20px;font-family: Microsoft YaHei;margin: 0 6px;padding: 0 6px;}

.paging a:hover{background: #457704;color: #fff;}
.pon{background: #457704!important;color: #fff!important;}
/*news*/
.newlist{overflow: hidden;padding-bottom: 10px;}
.newlist li,.search ul li{overflow: hidden;font-size: 14px;border-bottom: 1px dotted #dbdbdb;line-height: 35px;}
.newlist li h2{width: 80%;float: left;font-size: 14px;color: #333;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.newlist li h2:before{content: "○";padding-right: 4px;}
.newlist li span{float: right;color: #666;}
.newlist li a:hover h2,.newlist li a:hover span{color: #457704;}

/*list-imagetext*/
.new-list{}
.new-list li{overflow: hidden;margin-bottom: 15px;border-bottom: 1px dotted #d5d5d5;padding-bottom: 15px;}
.new-list li .new-pic{width: 150px;height: 109px;border: 1px solid #cacaca;padding: 2px;float: right;}
.new-list li .new-pic a{display: table-cell;width: 150px;height: 109px;text-align: center;vertical-align: middle;}
.new-list li .new-pic img{max-width: 100%;max-height: 100%;vertical-align: middle;}
.new-list li .new-nr{width: 504px;float: left;height: 115px;position: relative;line-height: 22px;}
.new-list li .new-nr h2{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;line-height: 20px;margin-bottom: 2px;}
.new-list li .new-nr h2 a{font-size: 14px;color: #333;}
.new-list li .new-nr h2:before{content: "○ "}
.new-list li .new-nr h2 a:hover{text-decoration: underline;}
.new-list li .new-nr p{font-size: 12px;color: #999;height: 44px;overflow: hidden;margin-left: 14px;}
.new-list li .new-nr span{color: #999;display: block;margin-left: 14px;}
.new-list li a.more{display: block;width: 75px;height: 21px;line-height: 21px;text-align: center;color: #fff;position: absolute;bottom: 0;background: #c4c4c4;}
.new-list li a.more:hover{background:#457704; }

/*news-det*/
.artit{text-align: center;margin: 10px 0;line-height: 24px;}
.artit h2{color: #333;font-size: 16px;}
.artit span{color: #999;font-size: 14px;}
.artit .backhis{color: #eb0000;margin-left: 5px;}
.artit .backhis:hover{text-decoration: underline;}
.article{padding-bottom: 25px;color: #333;border-bottom: 1px solid #e0e0e0;position: relative;}
.share{position: absolute;right: 0;bottom: 0;}
.artpaging{overflow: hidden;padding: 10px 0;}
.artpaging span{display: block;color: #999;}
.artpaging a{color: #999;font-size: 12px;}
.artpaging a:hover{color: #1887d8;}


/*pro-det*/
/*.artit h2 a{margin-left: 10px;font-size: 14px;color: #62665b;}
.artit h2 a:hover{text-decoration: underline;}*/

.artit .slideBox{width: 449px;height: 434px;margin: 0 auto;border: 1px solid #2e6600;padding: 2px;margin-bottom: 10px;position: relative;}
.artit .slideBox .hd{display: none;}
.artit .slideBox .bd{position:relative;/* height:100%;*/ z-index:0;   }
.artit .slideBox .bd li{width: 449px;height: 434px;}
.artit .slideBox .bd li .proimg{display: table-cell;width:449px; height:434px; vertical-align:middle;}
.artit .slideBox .bd img{ max-width:100%; max-height:100%; vertical-align:middle;  }

/* 下面是前/后按钮代码，如果不需要删除即可 */
.artit .slideBox .prev,
.artit .slideBox .next{ position:absolute; top:50%; margin-top:-19px; display:block; width:21px; height:33px; background:url(../images/prodetarw.png) 0 0 no-repeat; /*filter:alpha(opacity=50);opacity:0.5; */  }
.artit .slideBox .prev{ left:3%; }
.artit .slideBox .next{right:3%; background-position:-21px 0; }
.artit .slideBox .prev:hover{background-position:-42px 0;}
.artit .slideBox .next:hover{background-position:-63px 0;}

/**/

/*search*/
.search{padding:30px;background: url(../images/nybg.png) repeat;}
.search-txt{font-size: 18px;color: #457704;margin-bottom: 10px;text-align: center;}
.search ul{margin-bottom: 10px;}
.search ul li a{font-size: 14px;color: #333;}
.search li a:before{content: "○";padding-right: 4px;}
.search li a:hover{color: #457704;}





/*@-webkit-keyframes floating-arrow {
  from {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  65% {
    -webkit-transform: translate(-50%, 15px);
            transform: translate(-50%, 15px); }
  to {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } }

@keyframes floating-arrow {
  from {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  65% {
    -webkit-transform: translate(-50%, 15px);
            transform: translate(-50%, 15px); }
  to {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } }