	<div class="foot fl">
		<div class="copyRight fl">
			{$footprint}
		</div>
		<div class="linker fr">
			<div class="selecter fr">
				<ul>
					<li>
						友情链接
						<ul class="options">
							{foreach item=option from=$global.options}
							<li><a href="{$option.link}">{$option.title}</a></li>
							{/foreach}
						</ul>
					</li>
				</ul>
				<img class="up fr" src="{$site_url}images/up.png" height="6" width="12">
			</div>
			<div class="qq fr">
				<a target=blank href=tencent://message/?uin={$global.qqtext}&Site=工具啦&Menu=yes><img class="a" border="0" SRC={$site_url}images/qq.png alt="点击这里给我发消息"><img class="ah" src="{$site_url}images/qq_h.png"></a>

			</div>
			<div class="wx fr"><a href="#"><img class="a" src="{$site_url}images/wx.png" height="24" width="26"><img class="ah" src="{$site_url}images/wx_h.png"><img class="erweima" src="{$global.erweima.image}"></a></div>
			<br />
			<div class="link fr">
			    <ul>
				{foreach item=nav from=$navs}
				<li><a href="{$nav.link}">{$nav.name}</a></li>
				{/foreach}
			    </ul>
			</div>
		</div>
	</div>
	{$footscript}