	<div>
		<span class="white"><img src="{$site_url}images/header.png" height="123" width="1360"></span>
		<span class="green"><img src="{$site_url}images/header_h.png" height="34" width="1200"></span>
		<div class="head">
			<div class="logo"><a href="{$site_url}"><img src="{$logo}"></a></div>
			<div class="left_top">
				<div class="search fr">
					<form id="search" action="{$search_action}" name="search">
						<input class="search_box fl" type="text" name="s" id="keyword" placeholder="请输入要搜索的内容" />
						<button><img src="{$site_url}images/search.png"></button>
					</form>
				</div>
				<div class="tel fr">
					<img class="fl" src="{$site_url}images/tel.png" height="28" width="28">
					<span class="fl">{$contact.telephone}</span>
				</div>
				<div class="nav" id="nav">
					<ul class="one">
						<li style="width:{100/($navs|count+1)}%"><a href="{$site_url}">网站首页</a></li>
						{foreach item=nav from=$navs}
						<li class="{if $nav.current}cu{/if}" style="width:{100/($navs|count+1)}%">
							<a href="{$nav.link}">{$nav.name}</a>
							{if $nav.childmenu}
							<ul class="erji none">
								{foreach item=subnav from=$nav.childmenu}
								<li><a href="{$subnav.link}">{$subnav.name}</a></li>
								{/foreach}
							</ul>
							{/if}
						</li>
						{/foreach}
					</ul>
				</div>
			</div>
		</div>
	</div>