<!DOCTYPE html>
<html>
<head>
<!-- 实时预览调试代码，模板开发完成后删除 -->

<!-- 调试代码 End -->
<script type="text/javascript">
		// 跳转PC页面
		{if $site_another_url}
			if (!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
				location.href = '{$site_another_url}';
			}
		{/if}
		</script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta content="telephone=no, email=no" name="format-detection">
<!-- 启用360浏览器的极速模式(webkit) -->
<meta name="renderer" content="webkit">
<!-- 避免IE使用兼容模式 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
<meta name="HandheldFriendly" content="true">
<!-- 微软的老式浏览器 -->
<meta name="MobileOptimized" content="320">
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="portrait">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="portrait">
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />
<title>{$title}</title>
<link rel="stylesheet" href="{$site_url}css/reset.css" />
<link rel="stylesheet" href="{$site_url}css/public.css" />
<link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />
<link href="{$site_url}css/swipe.css" rel="stylesheet" type="text/css" />
<script src="{$site_url}js/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="{$site_url}js/jquery.min.js"></script>
<script type="text/javascript" src="{$site_url}js/function.js"></script>
<script type="text/javascript" src="{$site_url}js/share.js"></script>
<script src="{$site_url}js/idangerous.swiper-2.0.min.js"></script>
<script src="{$site_url}js/simple-app.js"></script>
<script type="text/javascript">
	window.addEventListener('load', function(){
   setTimeout(function(){ window.scrollTo(0, 1); }, 100);
});//safari浏览器可以通过此代码来隐藏地址栏
</script>
</head>
<body>
    <div class="index-wrap"> 
     {include file="./_header.html"} 
    
      <section>
        <div class="boxmaind">
          <div class="boxmain_d">
              <h1 class="boxmain-top">
        <span class="more3" id="first">Classify<span id="down"> ∧</span><span id="up"> ∨ </span></span>  <div class="sub_zh">{$list.name}</div><div class="sub_en">{$list.en_name}</div></h1>
       
            {include file='./_nav.html'}
            <div class="main">
              <div class="list_image yc">
                <ul class="clearfix">
                  {foreach name=article item=article from=$list.data}                    
             
                
                <li><a href="{$article.link}">
                  <img src="{$article.image}" width="100%" title="160*150" class="aa">
                  <div class="in_protitle"><span>{$article.title}</span></div>
                  
                  
                </a> </li>
                
                
                      {if $article@index+1 == 12} {break} {/if}
                    {/foreach}
                </ul>
                <div class="next1 public_color"><a href="{$page_links.first_link}" class="public_color">Home</a><a href="{$page_links.prev_link}" class="public_color">Prev</a>{$page_links.current_page}/{$page_links.page_count}　<a href="{$page_links.next_link}" class="public_color">Next</a><a href="{$page_links.last_link}" class="public_color">Last</a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="foot" ><a class="back-top">∧</a>{$footprint}</footer>
    </div>

  {$footscript}
</body>
</html>
