 <footer>
     <div class="w_p foot">
      <div class="w">
    	<div class="f_l">
    		<p><a href="">关于我们</a> | <a href="">新闻中心</a> | <a href="">车辆展示</a> | <a href="">精彩推荐</a> | <a href="">人才招聘</a> | <a href="">联系我们</a> </p>
    		<p>Copyright © 厦门易尔通网络科技有限公司 版权所有 技术支持：<a href="">G宝盆建站</a> </p>
    	</div>
    	<div class="f_r">
    			<select name="" >
		<option value="">-请选择年-</option><option value="">-请选择年-</option><option value="">-请选择年-</option>
	</select>
	
    	</div>
    	</div>
    </div>
</footer>
{$footscript}

