<div id="top">
  <div id="header" class="wrapper1">
    <div class="inner wrapper">
      <div class="logo"><a href="index.html"><img src="{$logo}" alt="{$title}" width="162" height="85" /></a></div>
      <div class="ser">
        <form action="{$search_action}" method="GET">
          <input type="text" name="s" value="" class="search_area" />
          <input type="submit" class="search_btn"  value="搜索"/>
        </form>
      </div>
      <div id="nav" class="wrapper">
        <ul class="wrapper menu1">
          {foreach item=nav from=$navs}
          <li class="{if $nav.current}current{/if} nav1"><a href="{$nav.link}">{$nav.name}</a> <span class="hoverview">
            <ul class="sub clearfix">
              {if $nav.childmenu} {foreach item=nav_list from=$nav.childmenu}
              <li class="{if $nav.current}current{/if} nav2"><a href="{$nav_list.link}"> {$nav_list.name}</a></li>
              {/foreach} {/if}
            </ul>
            </span> </li>
          {if $nav@index+1 eq 6}{break}{/if}
          {/foreach}
        </ul>
      </div>
    </div>
  </div>
  
  
  <div id="banner">
  <div class="banner_box" >
    <div id="kinMaxShow"> 
     {foreach name=slidepics item=slidepic from=$global.slidepics}
      <div> <a href="{$slidepic.link}" target="_blank"><img src="{$slidepic.image}" alt="{$slidepic.title}"  width="100%" height="450"  /></a></div>
      {/foreach} </div>
  </div>
  </div>
</div>
