<!DOCTYPE html>
<html manifest="huancun.manifest">
<head>
      <script type="text/javascript">
      // 跳转PC页面
      {if $site_another_url}
          if (!!navigator.userAgent.match(/AppleWebKit.*Mobile.*/)) {
              location.href = '{$site_another_url}';
          }
      {/if}
      </script>
      <!-- 实时预览调试代码，模板开发完成后删除 -->
      


      <meta name="x5-orientation" content="portrait">
      <meta name="keywords" content="{$keywords}" />
      <meta name="description" content="{$description}" />
      <link rel="shortcut icon" href="{$favicon}" type="image/x-icon" />

      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="apple-mobile-web-app-status-bar-style" content="black" />
      <meta content="telephone=no, email=no" name="format-detection">
      <!-- 启用360浏览器的极速模式(webkit) -->
      <meta name="renderer" content="webkit">
      <!-- 避免IE使用兼容模式 -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
      <meta name="HandheldFriendly" content="true">
      <!-- 微软的老式浏览器 -->
      <meta name="MobileOptimized" content="320">
      <!-- uc强制竖屏 -->
      <meta name="screen-orientation" content="portrait">
      <!-- QQ强制竖屏 -->
      <meta name="x5-orientation" content="portrait">
      <title>{$title}</title>
      <link rel="stylesheet" href="{$site_url}css/reset.css" /> 
      <link rel="stylesheet" href="{$site_url}css/public.css" /> 
      <link href="{$site_url}css/css.css" rel="stylesheet" type="text/css" />
      <link href="{$site_url}css/swipe.css" rel="stylesheet" type="text/css" />
      <script src="{$site_url}js/TouchSlide.1.1.js"></script>
      <script type="text/javascript" src="{$site_url}js/jquery.min.js"></script>
      <script type="text/javascript" src="{$site_url}js/function.js"></script>
      <script type="text/javascript" src="{$site_url}js/share.js"></script>
      <script src="{$site_url}js/idangerous.swiper-2.0.min.js"></script>
      <script src="{$site_url}js/idangerous.swiper.3dflow-2.0.js"></script>
      <script src="{$site_url}js/simple-app.js"></script>
      <script type="text/javascript">
        window.addEventListener('load', function(){
         setTimeout(function(){ window.scrollTo(0, 1); }, 100);
      });//safari浏览器可以通过此代码来隐藏地址栏
      </script>
   
</head>
<body>

<div class="index-wrap">
  <header>
      <div class="header">
          <div class="logo"><img src="{$logo}" width="100%"></div>
            <div class="headerhome" id="quickbar-showcats"><img src="{$site_url}images/menuicon.png" width="100%"></div>
            <div class="headersearch"><img src="{$site_url}images/search.png" width="100%"></div>
        </div>

        <form action="{$search_action}" method="GET">

          <div class="searchbox">
            <div class="searchmain">  
                <div class="searchinput"><input name="s" type="text">
                  </div>
                <input name="" type="submit" class="searchbtn" value="">
              </div>
          </div>

        </form>


    </header>
    <section>
      <div class="boxmain">
        <span class="flow1" style="left:7px"><img src="{$site_url}images/flow1.png" width="100%"></span>
        <span class="flow2"><img src="{$site_url}images/flow2.png" width="100%"></span>
        <span class="Balloon"><img src="{$site_url}images/Balloon.png" width="100%"></span>
          <h1 class="boxmain-top text"><span class="more2 fr" id="first">分类<img src="{$site_url}images/classicon.png" style="vertical-align:middle; width:12px; padding-left:3px; padding-bottom:3px;"></span>{$list.name}</h1>
          {include file='./_nav.html'}
          <div class="boxmain-m">
              <div class="newsimg"><img src="{$list.image}" width="100%"></div>
                <ul class="newslist">
                    {foreach name=article item=article from=$list.data}    
                               
                    <li onclick="javascript:window.location.href='{$article.link}'">
                        <dl class="date"><dd class="year">{$article.pubtimestamp|date_format:'%m/%d'}</dd><dd>{$article.pubtimestamp|date_format:'%Y'}</dd></dl>
                          <dl class="newsbox">
                            <dt class="title">{$article.title}</dt>
                              <dd class="nr">{$article.description|unescape:"html"}...</dd>
                          </dl>
                      </li>               
                    {/foreach}
                    <dl class="morebtn" id="newsmore">查看更多 ></dl>
                </ul>
              </div>
        </div>
    </section>    
   
    <footer class="foot">{$footprint}</footer>
    {$footscript}
</div>

</body>
</html>


        